[2014-08-01 11:47] DinisCruz opened #1 "How to tackle the dropdown for Navigate button?"
(lucy question)

[2014-08-01 11:49] DinisCruz opened #2 "Create an Azure website to host the design and setup TeamCity integration"
The idea is that every commit made to this repo should trigger a publish into azure

[2014-08-01 13:26] DinisCruz opened #3 "Research online QA services to see if they can be used on the Azure site"
The idea is to run a number of tests on the site, using multiple browsers and devices.

I'm think there are a number of very mature services out there, so what we need now is to find one that works for us (namely for the new TM 4.0 design)

[2014-08-01 13:32] DinisCruz opened #4 "Page: New user Signup"
Looking at http://tm-4-0-design.azurewebsites.net/teammentor/new-user-login.html

I have a couple questions:
-  How are we going to handle the cases where there are many more fields needed (we even have cases were specific TM client customisations have extra fields)
- Are we going to show those three actions at the same time (New user, Login and forgot password)
- the validation box at the top (as

[2014-08-02 14:40] #2 closed, assigned to nobody

[2014-08-02 14:42] DinisCruz opened #5 "Improve the design of the default.html page"
Which is currently at https://github.com/TeamMentor/TM_4_0_Design/blob/master/default.htm and looks like this in Azure:

![image](https://cloud.githubusercontent.com/assets/656739/3788127/33467180-1a53-11e4-9fa3-f8fb64990f57.png)

and we should make it like the new design

[2014-08-02 15:56] DinisCruz opened #6 "Should we use Less for CSS generation"
On the topic of custom CSS (see https://github.com/TeamMentor/WhatsCookin/issues/7) should we use something like less (http://lesscss.org/) to allow us to generate CSS based on less scripts?

This would add the need to run a preprocessor (to create the js), which will require a bit of infrastructure

[2014-08-02 15:57] DinisCruz opened #7 "What UnitTest infrastructure/should we be using for testing the 4.0 design"
We will need to tests for:
- css elements
- js scripts
- page elements (like links, buttons, etc...)

At the moment we are using in the main TM NUnit and WatiN (for browser automation) and some QUnit ([see here](https://github.com/TeamMentor/Dev/tree/master/Web%20Applications/TM_Website/Html_Pages/_UnitTest_Helpers) which were not fully maintained for 3.5)

I have used Karma in the past (specially

[2014-08-03 16:00] #4 closed, assigned to nobody

[2014-08-04 11:44] DinisCruz opened #8 "Add Landing pages to this repo"
Add the pages initially located here https://github.com/luchia/tmlandingpage

Do it first on a separate branch

[2014-08-05 00:12] romichg opened #9 "easily be able to manage issue"
As a me I want easily be able to manage issue so that I don't get a headache

Description one
.
<a href='http://www.tasktub.com'>Task Tub</a>

[2014-08-05 00:12] romichg opened #10 "Task 1 test"
This issue was created in <a href='http://www.tasktub.com'>Task Tub</a>

[2014-08-05 00:24] romichg opened #11 "NO hierachy"

[2014-08-05 01:13] #11 closed, assigned to nobody

[2014-08-05 01:13] #10 closed, assigned to nobody

[2014-08-05 01:13] #9 closed, assigned to romichg

[2014-08-05 07:08] luchia opened #12 "Landing Page SVG's incompatible with IE"
Out of perspective and unsightly.

[2014-08-05 07:35] luchia opened #13 "Links throughout application do not work"
Make links work so that the template works as a mockup would - eg. buttons that should take users to the sign up page, do etc.

[2014-08-05 07:40] luchia opened #14 "Template help/documentation pages"
Hasn't been done yet.

[2014-08-05 07:41] luchia opened #15 "Template user pages"
Basic. As discussed with Roman, only the very main pages of this will be included in this version (no Tbot etc).

[2014-08-05 15:29] luchia opened #17 "Foundation or Bootstrap?"
Foundation is doing cool things with FlexBox that'd probably work really well with TM - http://zurb.com/article/1333/foundation-a-new-grid

The current design is with Bootstrap.

[2014-08-05 15:29] #8 closed, assigned to DinisCruz

[2014-08-05 15:32] DinisCruz opened #18 "Create a PoC that uses LESS to create the CSS used in the current design"
As per the discussion at https://github.com/TeamMentor/TM_4_0_Design/issues/6 lets see if we can make it work

[2014-08-05 15:32] #6 closed, assigned to DinisCruz

[2014-08-05 15:33] luchia opened #19 "Placeholder text isn't viewable in IE"
Which is a slight problem as all our forms don't have labels and instead have placeholders to give direction.

Found this solution - http://webdev-il.blogspot.be/2013/05/how-to-make-form-placeholder-text.html

Or should I write conditional statements for everything? Eg. If !IE do pretty forms, else if IE do ugly forms.

[2014-08-05 15:38] #5 closed, assigned to DinisCruz

[2014-08-05 15:49] DinisCruz opened #20 "Find tool, service or script to detect 404 in QA/Demo site"
I.e. here: http://tm-4-0-design.azurewebsites.net/

First question is simply: How many broken links there are in that site?

[2014-08-06 17:22] #13 closed, assigned to luchia

[2014-08-07 11:46] DinisCruz opened #22 "Add logo to static pages"
As discussed at https://github.com/TeamMentor/WhatsCookin/issues/9 we need to add the new TM Logo to this design

[2014-08-07 12:07] DinisCruz opened #23 "Development environment Setup"
We need to normalise the development environment between us (Dinis, Michael, Lucy and Roman) so that we are all in sync and productive

At the moment we are all on Macx running OSx, with Dinis and Michael also running Windows in VMs.

In terms of editors here are a number of good ones (please edit or put your preferences below)
- OSX: Atom , Brackets, Sublime or WebStorm
- Windows: VisualStudio 20

[2014-08-08 09:13] luchia opened #24 "Create navigate template"

[2014-08-08 09:39] luchia opened #27 "Find new way to integrate navigate"
TM logo puts the application out of balance (design-wise), so the navigation link can no longer sit to the left.

Probably going to create a custom icon and put it on the right hand-side of the screen.

[2014-08-08 11:54] DinisCruz opened #28 "On the TM Logo (Tweaks and some questions)"
Is the TM logo final, or can it be tweaked?

For example looking at:
 ![](https://raw.githubusercontent.com/TeamMentor/TM_4_0_Design/master/teammentor/img/logo.jpg)
- the shield (left part of the log) looks a bit pixilated
- I would like to see what it would like if if the `e` of eKnowledge was aligned with the `M` of Mentor
- What does this logo looks like on a black background (or other colours)

[2014-08-08 12:12] DinisCruz opened #29 "Broken Image on default.html"
http://tm-4-0-design.azurewebsites.net/

![image](https://cloud.githubusercontent.com/assets/656739/3856339/2be641da-1ef5-11e4-81ec-4f3fa36a45ec.png)

[2014-08-08 16:15] #29 closed, assigned to luchia

[2014-08-08 16:56] michaelhidalgo opened #31 "Add font size accesibility to articles"
When it comes to accessibility, the font size it is very important. I've seen several "modern" UIs that already support it. So when the article is displayed we can add a button to increase/decrease font size.

Something similar to what Kindle cloud does or other Web sites out there

![screen shot 2014-08-08 at 10 55 02 am](https://cloud.githubusercontent.com/assets/1732035/3859802/e263661e-1f1c-11

[2014-08-08 20:03] michaelhidalgo opened #32 "A couple of HTTP 404 Resource not found in the new design."
I was testing the new design from here http://tm-4-0-design.azurewebsites.net/teammentor/main-app-view.html and realized that there are a couple of 404 (Resource Not Found) issues in there. It could be that the resource was removed but the reference to it remains, or it could be that the resource was renamed, relocated etc.

![screen shot 2014-08-08 at 2 00 03 pm](https://cloud.githubusercontent.c

[2014-08-08 20:34] michaelhidalgo opened #33 "Should the article text be justified?"
Justified text makes the paragraph easy to read, as depicted below, the text is aligned to left.

![screen shot 2014-08-08 at 2 28 29 pm](https://cloud.githubusercontent.com/assets/1732035/3862348/ac29a054-1f3a-11e4-8e97-38e7b78404b8.png)

[2014-08-12 02:38] DinisCruz opened #34 "Try applying the current design using Jade Template Engine"
After some research I think node's Jade Template Engine (see http://jade-lang.com/ ) is quite suited to the goals of creating the TM 4.0 Html version.

I'm going to try on a couple pages and see how it goes

this is related to https://github.com/TeamMentor/TM_4_0_Design/issues/23 and https://github.com/TeamMentor/TM_4_0_Design/issues/23

[2014-08-12 04:38] DinisCruz opened #35 "Add favicon.ico file that we should we using on the 4.0 design"
Note: don't worry fixing the references current in the PoC pages (see https://github.com/TeamMentor/TM_4_0_Design/search?q=favicon&ref=cmdform&type=Code) since that is better fixed in the https://github.com/TeamMentor/TM_4_0_Design/issues/34 implementation

[2014-08-15 07:39] DinisCruz opened #38 "Convert recently added pages to Jade format"
Hi Lucy, can you have a go at converting your recent change (last couple PR) into the Jade format?

Here are the pages currently converted: http://tm-4-0-design.azurewebsites.net/teammentor_jade/deploy/html/default.html

We should also continue refactoring those Jade pages into further code blocks

[2014-08-15 07:40] DinisCruz opened #39 "Create Jade version of TM 4.0 Flare"
Implement using Jade a side-by-side version of the TM 4.0 Flare

The idea is to reuse as much as possible the page, layouts and content from the TM 4.0 Html with TM 4.0 Flare

[2014-08-17 10:39] #15 closed, assigned to luchia

[2014-08-17 10:40] #22 closed, assigned to DinisCruz

[2014-08-17 13:08] #32 closed, assigned to michaelhidalgo

[2014-08-18 11:34] DinisCruz opened #44 "Improve prepros jade file generation location"
At the moment this is how it is done

![image](https://cloud.githubusercontent.com/assets/656739/3950778/80934d94-26cb-11e4-8499-a53c8bc6ffe7.png)

which doesn't work very well (namely it doesn't support nesting folders)

[2014-08-18 14:38] michaelhidalgo opened #45 "Some images/resources broken in IE 8"
As depicted below, when visiting tm-4-0-design.azurewebsites.net/teammentor in IE 8, the top right images are not displayed correctly.
This also leads to another question : How engaged are we to fully support IE 8?

I'm trying to find the root cause and then I will update this issue.

From browser stack

![screen shot 2014-08-18 at 8 34 45 am](https://cloud.githubusercontent.com/assets/1732035/395

[2014-08-18 15:01] michaelhidalgo opened #46 "Hosting JavaScript libraries to do not depend on CDNs"
When using third party JavaScript libraries, we need to host the script files to avoid any issue if the CDN (content delivery network) is not available.

In below image, jQuery is being consumed from the Internet.

![screen shot 2014-08-18 at 8 56 37 am](https://cloud.githubusercontent.com/assets/1732035/3953038/e6e031ea-26e7-11e4-96df-6c64cefa98b3.png)

[2014-08-18 19:10] DinisCruz opened #48 "Navigation bar should not 'move' when right scroll bar is introduced"
And that is what is happening at the moment

a) page that doesn't need scroll bar:

![image](https://cloud.githubusercontent.com/assets/656739/3956430/2f05d02e-270b-11e4-9d26-2eb647700005.png)

b) page that needs scroll bar

![image](https://cloud.githubusercontent.com/assets/656739/3956439/449ef5f0-270b-11e4-8097-7f347ade0c9a.png)

Note how the top icons 'moved'

[2014-08-19 13:28] #44 closed, assigned to DinisCruz

[2014-08-19 13:29] #38 closed, assigned to DinisCruz

[2014-08-19 13:30] #35 closed, assigned to luchia

[2014-08-19 14:00] #34 closed, assigned to DinisCruz

[2014-08-19 14:00] #23 closed, assigned to nobody

[2014-08-19 14:02] #18 closed, assigned to DinisCruz

[2014-08-19 14:15] romichg opened #50 "Set up customer staging, QA and Dev CI environments"
The idea is to host a downloadable VM in EC2 cloud for each.

[2014-08-19 14:26] #24 closed, assigned to luchia

[2014-08-20 03:48] #28 closed, assigned to nobody

[2014-08-20 03:49] romichg opened #51 "Should customer versions of TM should not see the landing page?"

[2014-08-20 03:50] romichg opened #52 "Should customer versions have ether login, or login and sign up page as front page?"

[2014-08-21 05:06] romichg opened #53 "Create a table of all technologies used in TM 4.0 and their respective licenses"

[2014-08-21 15:30] #27 closed, assigned to luchia

[2014-08-21 19:19] DinisCruz opened #54 "SCSS Issue with .btn-landing-page"
Following an issue that Lucy had: **_"...looks like it's adding a space instead of it being button.btn-landing-page on the generated CSS.."**_

Here is a screenshot of the problem (which I was able to reproduce locally)

![image](https://cloud.githubusercontent.com/assets/656739/4001955/0571a27e-2968-11e4-9224-7e8c551d5a0a.png)

Code is currently in this branch: https://github.com/TeamMentor/TM_4_

[2014-08-22 09:22] #54 closed, assigned to luchia

[2014-08-24 21:54] DinisCruz opened #55 "Add first version of using NodeJS with Express on TM Jade"
The idea is to use NodeJS + Express to glue the multiple Jade pages that need a little bit of Server-Side processing (like login page)

All data will be stored on Json objects which will be matched to REST calls exposed by the main TM backend (aspnet MVC/WebApi based)

This nodeJS infrastructure should also support the generation of the offline version of TM Jade

Node is being used because it has

[2014-08-25 17:16] DinisCruz opened #56 "Update build script that creates TM Jade and Flare versions"
This will be doing the actions that we originally used PrePros for

There is a build set of tests that need to be updated to the latest changes (and file structure)

[2014-09-02 15:02] DinisCruz opened #62 "Small formatting issue with top-left nav bar"
Here is the problem in the remote version (in Azure using static html files):

![image](https://cloud.githubusercontent.com/assets/656739/4120363/9b570bb0-32b1-11e4-8094-d0318910abf7.png)

here is the version in the local version (dynamic using NodeJS Jade parsing)

![image](https://cloud.githubusercontent.com/assets/656739/4120398/dc2ec3a8-32b1-11e4-936f-54f76cad8ce0.png)

The first screenshot al

[2014-09-03 03:39] romichg opened #63 "Why is TM logo smaller than on current TM sites?"
Now I know what has been bothering me :)

[2014-09-08 09:26] DinisCruz opened #65 "Find solution to not use full paths on scss imports"
https://github.com/TeamMentor/TM_4_0_Design/commit/bd9d080894a7dcccdd87b4f7e871a76393d5a20b#commitcomment-7695303

[2014-09-09 01:45] DinisCruz opened #66 "Figure out the top-banner of the help page"
Now that we have user auth implemented in TM Jade, I noticed an issue with the location of the help page (this one http://tm-node.azurewebsites.net/landing-pages/help.html), namely its top bar icons

At the moment the help page it is supposed to be shown here: http://tm-node.azurewebsites.net/user/login/returning-user-login.html (for users not logged in) and in this type of page http://tm-node.azu

[2014-09-09 10:02] #55 closed, assigned to DinisCruz

[2014-09-09 10:05] DinisCruz opened #67 "In TM Jade add a basic authentication layer"
This has been done on https://github.com/TeamMentor/TM_4_0_Design/issues/55

Here is how it is supposed to work:
1. if you go to http://tm-node.azurewebsites.net/landing-pages/index.html you can see that page and the top links
2. the 'getting started' link, takes you to the login page http://tm-node.azurewebsites.net/user/login/returning-user-login.html
3. where you can login with the username tm

[2014-09-09 10:08] DinisCruz opened #68 "In TM Jade add support for dynamic rendering of TM Content (Libraries and Articles)"
Jade already supports the passing of variables/date from the NodeJs backend into the rendering engine, so it should not be too hard

[2014-09-09 10:41] DinisCruz opened #69 "Remove styles from content html elements, to allow content to be provided via markdown"
Here are two examples of jade files that need to be converted

markdown friendly:  https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/html/articles/article-new-window-view.jade

currently non-markdown friendly: ) https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/html/learning-paths/courses.jade#L31

[2014-09-13 17:37] romichg opened #70 "Headings are not working in Help site(Jade)"
For example,minimum server requirements on the old site:
![image](https://cloud.githubusercontent.com/assets/1326120/4261371/6c6a5942-3b6c-11e4-9ad7-07d58b422504.png)

and new:
http://tm-node.azurewebsites.net/help/00000000-0000-0000-0000-000000410a3a
![image](https://cloud.githubusercontent.com/assets/1326120/4261380/9488fc3a-3b6c-11e4-8c0a-07daf871c173.png)

but if I highlight the page:
![image]

[2014-09-14 23:52] #67 closed, assigned to michaelhidalgo

[2014-09-16 14:22] #14 closed, assigned to luchia

[2014-09-18 23:25] DinisCruz opened #73 "Add coffee script support (via Grunt files)"
I was coding today in CoffeeScript and It looks from the multiple options the best and most mature at the moment (I looked at Microsoft's TypeScript but it is considerable slower than coffeescript and it is (at the moment) not as mature as CoffeeScript.

Here is a GruntFile to automatically compile the CoffeeScript files and execute a mocha test

[code]

Here is an example of a mocha test written

[2014-09-25 08:44] DinisCruz opened #76 "Add levelGraph engine as Service to Node"
Here is the first example of TM article data stored as a graph and filtered using a graph engine (i'm using [LevelGraph](https://github.com/mcollina/levelgraph) which is based on [LevelUp](https://github.com/rvagg/node-levelup) which is based on [LevelDB](https://github.com/google/leveldb))

[code]

Here is what the execution of the UnitTest shown above looks like

![image](https://cloud.githubuse

[2014-11-19 10:21] DinisCruz opened #78 ".DSStore files should not be committed"
The 4.0_Flare branch has them.

Which amongst other things creates conflicts on merges

![image](https://cloud.githubusercontent.com/assets/656739/5104028/afbc0e1e-6fd5-11e4-91a1-1a0752df8a3b.png)

Lucy, don't worry about this one, I will fix it on my merge

[2014-11-19 11:21] DinisCruz opened #79 "removing button transition (from scss)"
Hi Lucy, can you remove the button transitions from the SCSS files

Here is what it looks like when it is done on the CSS: https://github.com/TeamMentor/TM_4_0_Design/commit/fa523072b15e74600664532241909b5f29275ed3

[2014-11-19 13:57] DinisCruz opened #80 "Clean up Jade and create a release version of it"
The idea is to remove all test and PoC code from it, so that we have a 'released' version of Jade

Then we can add Flare to it

[2014-11-20 23:30] #78 closed, assigned to luchia

[2014-11-21 12:53] #76 closed, assigned to romichg

[2014-11-21 12:55] romichg opened #81 "Set up GraphTM and NodeTM on Windows."

[2014-11-30 23:46] #81 closed, assigned to romichg

[2014-11-30 23:50] #73 closed, assigned to DinisCruz

[2014-11-30 23:53] #68 closed, assigned to DinisCruz

[2014-12-01 01:13] #46 closed, assigned to DinisCruz

[2014-12-01 01:19] romichg opened #82 "Create screen shots of the Jade version in multiple browsers to make sure all looks good."

[2014-12-01 01:20] #19 closed, assigned to DinisCruz

[2014-12-01 01:20] #45 closed, assigned to luchia

[2014-12-01 01:21] #1 closed, assigned to DinisCruz

[2014-12-01 01:23] #3 closed, assigned to michaelhidalgo

[2014-12-01 01:48] #12 closed, assigned to michaelhidalgo

[2014-12-01 02:45] #17 closed, assigned to luchia

[2014-12-01 03:25] #31 closed, assigned to nobody

[2014-12-01 03:29] #20 closed, assigned to DinisCruz

[2014-12-01 03:31] #33 closed, assigned to nobody

[2014-12-01 03:32] #39 closed, assigned to DinisCruz

[2014-12-01 03:40] #50 closed, assigned to romichg

[2014-12-01 03:40] #51 closed, assigned to nobody

[2014-12-01 03:43] #52 closed, assigned to DinisCruz

[2014-12-01 03:48] #53 closed, assigned to nobody

[2014-12-01 03:57] #63 closed, assigned to nobody

[2014-12-01 04:22] #70 closed, assigned to luchia

[2014-12-01 04:28] romichg opened #83 "Help pages fonts looks way too green."
![image](https://cloud.githubusercontent.com/assets/1326120/5241345/9ef0e066-78e8-11e4-89c1-300ac658ea67.png)

[2014-12-01 23:34] romichg opened #84 "Default page should be set to the landing page"
At the moment it is
![image](https://cloud.githubusercontent.com/assets/1326120/5255296/9a8270f8-7988-11e4-9d98-30c6e0885cba.png)

[2014-12-01 23:40] romichg opened #85 "Getting started page is blank."
Clicking on "see for yourself" should bring to the returning user page, for now.

[2014-12-01 23:53] romichg opened #86 "nodeTM and TMGraphDB need detailed, verbose, logging to file."
Lets not make the same mistakes we have with TM 3.5. Can we please have detailed logging, to file, of everything that is happening in the code. The debug level should be set in a parameter. Logging should only happen if(debug<=2) or if(debug<=10) etc.

[2014-12-01 23:53] romichg opened #87 "Home page should not be accessible without a login"

[2014-12-01 23:53] romichg opened #88 "navigation page should not be accessible without a login"

[2014-12-01 23:53] roman87 opened #89 "Authentication should be implemented to the TM3.5 backend such that SSL is used and password is not stored/logged anywhere"
At the moment this happens in cleartext and password is logged onto the screen of the running nodeTM process.

[2014-12-01 23:54] roman87 opened #90 "NodeTM should connect to TM 3.5 backend over SSL and authenticate itself through ether SSO or session cookie"
At the moment no authentication is required to the TM 3.5 backend.

[2014-12-01 23:54] romichg opened #91 "If the user is already logged in, the header should be consistent between help pages and application, ."
At the moment the header for the application is:
![image](https://cloud.githubusercontent.com/assets/1326120/5255578/0fa56dca-798b-11e4-9b1f-23f463ea404c.png)

And once help pages are selected:
![image](https://cloud.githubusercontent.com/assets/1326120/5255583/1fe68214-798b-11e4-9dd1-e3288536845f.png)

[2014-12-01 23:55] #91 closed, assigned to luchia

[2014-12-02 00:06] romichg opened #92 "Fix the weird size of the number of articles"
![image](https://cloud.githubusercontent.com/assets/1326120/5255767/17ef7898-798d-11e4-9d33-6f8ae04e6d29.png)

Note that this works fine if you zoom out.

[2014-12-02 00:12] roman87 opened #93 "Make the selection of hierarchical filter look more intuitive in Jade"
Right now we show selection with Italics

![image](https://cloud.githubusercontent.com/assets/1326120/5255809/efabbcec-798d-11e4-96e7-4fe0ddd16d2d.png)

Maybe we can  do something more user friendly?

[2014-12-02 00:22] roman87 opened #94 "Left hand (hierarchical) and right hand filters should be select-able together, ANDing the result set."

[2014-12-02 00:33] roman87 opened #95 "2nd Level navigation should only reflect navigation in hierachical filters, from higher rank to lower rank, and from left to right"
Kingdom->Phylum->Class->Order->Family->Genus->Species
Index->Data Validation->Validate All Input

![image](https://cloud.githubusercontent.com/assets/1326120/5255929/b8293aae-798f-11e4-8610-effdedb74ceb.png)

[2014-12-09 12:14] DinisCruz opened #96 "Main Navigation "Login" link is not opening up the Login page"
When the user clicks on the login link it should go to the Login page, and at the moment the user gets a 'you need to login' page (see screenshots below)

Related question: what happens if the user is already logged in?
I guess the solution is to NOT show a 'Login' link for that user. Do we have other issues that track that workflow?

[2014-12-09 13:39] DinisCruz opened #97 "Each filter should display a count of articles next to it that match THAT filter."
relates to https://github.com/TeamMentor/Master/issues/899

[2014-12-09 18:41] DinisCruz opened #98 "Flicker on Jade Features page"
Is happening on Chrome OSX with the landing page currently at /landing-pages/features.html

Here is an animated gif showing the prob (created using QuickTime screen recorder and ```ffmpeg -i TM-Features-bug.mov -t 20 TM.gif```)

![tm](https://cloud.githubusercontent.com/assets/656739/5363282/a9448388-7fd2-11e4-8fd7-282a14b7b51b.gif)

[2014-12-10 03:02] DinisCruz opened #99 "Main Navigation "Sign Up" link is asking the user to login"
Test with bug:

[code]

[2014-12-10 18:52] DinisCruz opened #100 "Login page should not have hardcoded username"
**Test:**

[code]

**Screenshot:**

![image](https://cloud.githubusercontent.com/assets/656739/5381917/9b473ee4-809d-11e4-816d-932e026677ca.png)

[2014-12-11 19:09] DinisCruz opened #101 "Login pages should have the same navigation has the Landing pages"
Pages affected:

[code]

[2014-12-11 19:48] DinisCruz opened #102 "Password forgot is not sending requests to mapped TM instance"
Here is the test that replicates the issue:

[code]

Note thatuntil we add the ability for the QA scripts to login to receive email (or check for new emails), we cannot write the check that the email was sent

Screenhosts (Created by test):

**Issue - Password forgot (1).png**
![issue_-_password_forgot_ 1](https://cloud.githubusercontent.com/assets/656739/5400841/676b5246-816e-11e4-8728-0d61363aba

[2014-12-12 07:07] DinisCruz opened #103 "Add Jade Page: Sign-up Validation and Sign-up OK"
These are the pages to show when using the Sign-up form
![image](https://cloud.githubusercontent.com/assets/656739/5408208/66be4970-81cd-11e4-85cf-1a8a27db60ba.png)

[2014-12-12 07:10] DinisCruz opened #104 "Wire-up the Sign-up page with TM backend"
This is the page at /landing-pages/user-sign-up.html which should:
- create a new user account (in mapped TM server, which is currently uno.teammentor.net)
- show a default error message when the user cannot be created
- show an 'user created ok' when the new user was sucesfully logged in

[2014-12-12 08:52] DinisCruz opened #105 "New users can be created with Weak Passwords"
Related to: https://github.com/TeamMentor/Master/issues/923

As seen at https://github.com/TeamMentor/TM_4_0_Design/issues/104 at the moment it is possible to create new users with weak passwords (for example using ``jade.user_Sign_Up 'user with', 'weak password', 'good@email.com' ```)

This should be addressed when the new API method that Michael is working on is published

[2014-12-12 19:04] DinisCruz opened #106 "Create tests to check for content provided by all 'anonymous pages'"
Roman/Lucy, can you confirm that these are all the pages that can be accessed by anonymous users (i.e. non-logged users). Or did I miss a page?

[code]

Here are the tests that check the content of these pages:

[code]

Note: don't worry about the actually link's urls since I will normalise those paths on the last phase of dealing with https://github.com/TeamMentor/TM_4_0_Design/issues/80

[2014-12-12 20:11] DinisCruz opened #107 "Create tests to check for content provided by all 'logged in pages'"
Roman/Lucy, can you confirm that these are all the pages that can be accessed by logged in users. Or did I miss a page?

[code]

Here are the tests that check the content of these pages:

[code]

[2014-12-15 20:41] roman87 opened #108 "Unable to run the build script"
I am unable to run the build script as specified here in step 6
https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-build-and-run-the-QA-unit-tests

I get this:
rom@TITI08:~/Dev/TeamMentor/TM_4_0_Design/build$ npm run build

  ․ build TM_4_0_Design | Clean target folders: 70ms
  ․ build TM_4_0_Design | Compile scss files: 12ms
  ․ build TM_4_0_Design | Compile Jade files: 35ms
  ․ build TM_4_0

[2014-12-16 12:39] DinisCruz opened #110 "Create TeamCity deployment script for TM 4.0 Jade"
Michael, can you start working on a TeamCity script that will deploy the TM 4.0 Jade into a QA/Production server.

There are a couple moving parts to set-up, but the key components are in place

One question: do we want to host the TM 4.0 on Windows or Linux? And on which box?

[2014-12-16 12:43] DinisCruz opened #111 "Create a single deployment script for both Site and Graph DB"
This script needs to:

* [x]  clone both [TM_4_0_Design](https://github.com/TeamMentor/TM_4_0_Design) and [TM_4_0_GraphDB](https://github.com/TeamMentor/TM_4_0_GraphDB) repos
* [x] start both servers
* [x] trigger load of Uno data
* [ ]  confirm that site is working ok (via web automation scripts (WebDriver))

[2014-12-16 12:44] DinisCruz opened #112 "Add server ability to configure which GraphDB to use"
This will help when shifting between Dev vs QA and Local vs Hosted version of the GraphDB site

[2014-12-16 13:00] DinisCruz opened #113 "Main user page has no content on TM Jade (user/main.html)"
In the final merge to master the main user page the automatic content shown on the main user page (user/main.html ) is not being wired any more

![image](https://cloud.githubusercontent.com/assets/656739/5453908/87f40492-8522-11e4-92c6-b5bed83b37a7.png)

First step is to write a test that represents the bug (i.e confirms that the content is not there)

[2014-12-16 13:02] DinisCruz opened #114 "Remove .html from urls"
The **.html** in the url are not really needed, doesn't really match reality (since the actually files are either jade or jade_js files) and removing it will make the urls look much cleaner

First step is to write a test that confirms the use of **.html** in the urls

@michaelhidalgo  do you want to have a go at writing this one?

[2014-12-16 14:11] DinisCruz opened #115 "Merge Flare branch into master"
@luchia  can you take a look at the https://github.com/TeamMentor/TM_4_0_Design/tree/master_Flare_Merge branch?

namely:
- this commit with the scss changes: https://github.com/TeamMentor/TM_4_0_Design/commit/932bc4db4d7d3d291b637ac71c06d4abb60f45ed
- this commit with the _flare_\* files:
  https://github.com/TeamMentor/TM_4_0_Design/commit/9f17838d4fe827219622ed5fc41e71ac300c1cdc

There were a co

[2014-12-16 14:14] DinisCruz opened #116 "Change target TM server"
From uno.teammentor.net to tmdev01-uno.teammentor.net

[2014-12-16 14:54] #116 closed, assigned to romichg

[2014-12-16 15:04] romichg opened #117 "Getting Started Page is blank"
Clicking on "Start Your Free Trial Today" bring sup a blank page

![iceweasel_003](https://cloud.githubusercontent.com/assets/1326120/5455572/b8402a9e-850a-11e4-8c41-240349367b75.png)

[2014-12-16 15:08] romichg opened #118 "Clicking on TM logo while logged in should not bring back the main screen"
After login, if a user clicks on TEAM Mentor logo in the top left corner, the user is brought back to the landing page. The expected behaiviour should be the user going back to the main logged in page.

[2014-12-16 15:32] romichg opened #119 "/returning-user-login.html is Blank"
![iceweasel_005](https://cloud.githubusercontent.com/assets/1326120/5456038/a290f918-850e-11e4-9050-0fe9f5e3215a.png)

This is the page that the user would click after  successfully creatin an account.

![team mentor 4 0 html version - iceweasel_006](https://cloud.githubusercontent.com/assets/1326120/5456051/bb57ad0c-850e-11e4-9564-fc71133d5c59.png)

[2014-12-16 16:20] roman87 opened #120 "Recently Viewed Articles not working"
Recently Viewed Articles not showing any data.
![team mentor 4 0 html version - iceweasel_008](https://cloud.githubusercontent.com/assets/1326120/5456973/71a734c8-8515-11e4-84e7-7b61f79f1751.png)

[2014-12-16 16:37] DinisCruz opened #121 "Should we - Reuse the TM Login ID/GUID as the main cookie for the TM_Design"
The idea is to set the user session cookie on the TM_Design site to the same one as the one from the TM site used. That value is retrieved from the user Login sequence, and can be used to check if the user is already logged in.

This should allow for transparent auth between TM_Design and main TM

[2014-12-16 17:00] romichg opened #122 "Emails sent from the backend need to reflect TM40 URL"
Right now, when the user is created, TM 3.6 Backend send an email with the URL of the TM 3.6. Backend.

![selection_009](https://cloud.githubusercontent.com/assets/1326120/5457745/f3108168-851a-11e4-9c0a-495337a2148e.png)

The backedn needs to know that the user action originates from nodeTM 4.0 and send the appropriate URL.

[2014-12-16 17:03] #119 closed, assigned to romichg

[2014-12-16 17:28] roman87 opened #123 "Terms and Conditions Page Question"
When scrolling all the way to the bottom of the landing page there is a link to Terms and Conditions which currently points to http://localhost:1337/terms-and-conditions.html. The link at the moment is broken.

The text for the page is here:
https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/terms-and-conditions.md

1. Dinis, lets take it out for now from this version as we nev

[2014-12-16 17:31] #117 closed, assigned to romichg

[2014-12-16 17:38] romichg opened #124 "Forgot password page is blank"
clicking on forgot password page shows a blank one
![iceweasel_011](https://cloud.githubusercontent.com/assets/1326120/5458469/608720a8-8520-11e4-93ec-f07ee4c9cb64.png)

[2014-12-16 21:52] #65 closed, assigned to DinisCruz

[2014-12-16 21:56] DinisCruz opened #125 "Refactor Flare files into similar structure to Jade"
Similar to https://github.com/TeamMentor/TM_4_0_Design/issues/80 we need to normalise and clean up the Flare files (in a similar file stucture as Jade)

There were also a number of folders that were left intact (to facilitate the merge) which need refactoring

[2014-12-16 22:27] DinisCruz opened #126 "add full text search to Jade"
that simulates the current TM behaviour

[2014-12-16 22:38] #7 closed, assigned to DinisCruz

[2014-12-16 22:45] #69 closed, assigned to DinisCruz

[2014-12-16 22:45] #66 closed, assigned to DinisCruz

[2014-12-16 22:46] #62 closed, assigned to DinisCruz

[2014-12-17 07:31] DinisCruz opened #127 "Apply Jade Style changes that we not imported with Flare import"
Hi Lucy, this is what I was talking about on yesterday's call where I would like you to review the diff between the Jade changes you had in the Flare branch and what is currently on master.

I will push into a separate branch the unmerged diff (some of them in a conflict state so that you can see the difference)

[2014-12-17 08:03] DinisCruz opened #128 "Opening /Graph/{query} page with bad {query} should result in an 'no results' page/view"
for example http://localhost:1337/graph/aaaaaa returns all data:

![image](https://cloud.githubusercontent.com/assets/656739/5468171/0c33bde2-85c3-11e4-8eaa-319a7a0626a0.png)

![image](https://cloud.githubusercontent.com/assets/656739/5468176/1466e368-85c3-11e4-9968-3f856e4c0674.png)

[2014-12-17 08:25] DinisCruz opened #129 "'Need to login page' missing from current 'guest' pages"
it should be called 'login-required.jade' and be here: https://github.com/TeamMentor/TM_4_0_Design/tree/master/source/jade/guest

the content is https://github.com/TeamMentor/TM_4_0_Design/blob/master/_Old_To_Delete_Soon/__Not_Used_In_Jade/html/landing-pages/need-login.jade

[2014-12-17 08:38] DinisCruz opened #130 "Minor rename of couple jade files and URLs"
To keep the url consistency , all urls should be lower case, which means that **'/guest/login-Fail.html'** , **'/guest/sign-up-Fail.html'** and **'/guest/sign-up-OK.html'** need to be renamed

![image](https://cloud.githubusercontent.com/assets/656739/5468516/ed6eba88-85c7-11e4-87d3-eb7684422ab4.png)

 https://github.com/TeamMentor/TM_4_0_Design/blob/master/QA/API/Jade_API.coffee#L26
https://githu

[2014-12-17 08:51] DinisCruz opened #131 "QA REPL Window is not opening when test is triggered from WebStorm"
This is the prob that Michael had yesterday and required the execution of the tests from the command line (once) so that the NWR window would open (after that @michaelhidalgo could use the WebStorm UI)

I think I know where the prob is and this should be addressed on directly on the [NWR](https://github.com/o2platform/nwr) codebase

[2014-12-17 08:54] DinisCruz opened #132 "Add a couple Health-Check tests (to check the test and QA environment)"
The should:
- check that the NWR (Node-WebKit-REPL) is opening ok: https://github.com/TeamMentor/TM_4_0_Design/issues/131
- wake up the target TM server. I always have a bunch of tests fail when I run the full test suite, which are caused by timeouts on the pages that require connection with the TM backend (i.e. the delay is caused by the time that it takes TM to wake up). We need a couple test wi

[2014-12-17 21:00] #80 closed, assigned to romichg

[2014-12-17 21:35] romichg opened #134 "Graph page should not be accessible without a login"
![selection_016](https://cloud.githubusercontent.com/assets/1326120/5479385/b32b9358-860a-11e4-8a3f-bde3573c43e8.png)

[2014-12-17 22:20] DinisCruz opened #135 "Document the multiple NPM run options"
Add info to https://github.com/TeamMentor/TM_4_0_Design/wiki/Multiple-npm-run-options

[2014-12-17 23:47] #88 closed, assigned to romichg

[2014-12-17 23:47] #87 closed, assigned to romichg

[2014-12-17 23:48] #134 closed, assigned to romichg

[2014-12-18 00:06] #115 closed, assigned to romichg

[2014-12-18 01:40] luchia opened #136 "Write JS for accordions on Flare"
Tried to build with CSS but it's a muck around and we already have the structures done in Foundation - think it would be easier to include jQuery so they work as they should than to keep spending time trying to develop this in css.

[2014-12-18 01:40] luchia opened #137 "Write JS for tabs on Flare"
Tried to build with CSS but it's a muck around and we already have the structures done in Foundation - think it would be easier to include jQuery so they work as they should than to keep spending time trying to develop this in css.

[2014-12-18 01:40] luchia opened #138 "Write JS for Show Password on login wall"
Tried to build with CSS but it's a muck around and we already have the structures done in Foundation - think it would be easier to include jQuery so they work as they should than to keep spending time trying to develop this in css.

[2014-12-18 01:41] luchia opened #139 "Write JS for form prompts on loginwall"
Tried to build with CSS but it's a muck around and we already have the structures done in Foundation - think it would be easier to include jQuery so they work as they should than to keep spending time trying to develop this in css.

[2014-12-18 01:41] luchia opened #140 "Write JS for dropdown button (filters div/mobile navigation)"
Tried to build with CSS but it's a muck around and we already have the structures done in Foundation - think it would be easier to include jQuery so they work as they should than to keep spending time trying to develop this in css.

[2014-12-18 01:44] luchia opened #141 "Missing glypicons from Flare"
Guessing we've deleted a file by mistake, none of the icons are showing up now.

[2014-12-18 01:48] luchia opened #142 "Write JS to dismiss alerts"

[2014-12-18 01:49] luchia opened #143 "Write JS to move Filters div on screen"

[2014-12-18 07:21] DinisCruz opened #144 "Fix backend support for Jade and compiled Jade (including hard-coded paths)"
At the moment the jade compile/cache support is not fully working since the jade rendering is happening directly from the jade files and not from the compiled jade files (in the https://github.com/TeamMentor/TM_4_0_Design/tree/master/static/jade_js/jade folder)

There are also a couple cases of hardcoded paths (mapped to the root of the repo vs a virtual path) that need to be addressed.

The key o

[2014-12-18 07:30] DinisCruz opened #145 "Fix TM_4_0_Design Unit backend UnitTests"
These are the ones here https://github.com/TeamMentor/TM_4_0_Design/tree/master/node/tests and that are currently being auto-executed by travis: https://travis-ci.org/TeamMentor/TM_4_0_Design

[2014-12-18 07:36] DinisCruz opened #146 "Find way to run QA tests in Travis (or another CI)"
We need to have the same (run all tests in CI on every commit) set-up for the QA tests (https://github.com/TeamMentor/TM_4_0_Design/tree/master/QA) including GitHub integration

These are a bit tricker to set-up since
* they require a live TM site to hit and both Design and Graph node sites running locally
* they need a desktop to render the UI (i.e. same setup as https://travis-ci.org/o2platform/

[2014-12-18 07:39] DinisCruz opened #147 "Run node websites in SSL"
In order to prevent any possible SSL issues in the future, we should start to run all TM 4.0 sites in SSL (including the ones running from localhost)

I don't expect this to be hard, since there is good support in node/express for SSL:
- http://stackoverflow.com/questions/5998694/how-to-create-an-https-server-in-node-js
- http://nodejs.org/api/https.html#https_https_createserver_options_requestlis

[2014-12-18 07:49] DinisCruz opened #148 "NavBar checkValues() function should be using Json (vs a string)"
[this](https://github.com/TeamMentor/TM_4_0_Design/blob/master/QA/tests/jade-logged-in-users.coffee#L28-L31) assert should not be done using strings:

![image](https://cloud.githubusercontent.com/assets/656739/5484922/f8e82be8-8689-11e4-900c-98228924e62f.png)

they should be done using json objects, [like this](https://github.com/TeamMentor/TM_4_0_Design/blob/ef4816989412a002a5699fd0358000d8edc0c2

[2014-12-18 08:24] DinisCruz opened #149 "Why use of extra # link in top-left image link"
@luchia

is there a reason why there are two Anchor elements for the top nav bars?

![image](https://cloud.githubusercontent.com/assets/656739/5485150/ed35f3ca-868e-11e4-80c1-caaa08cb1250.png)

and

![image](https://cloud.githubusercontent.com/assets/656739/5485152/0f8c6a76-868f-11e4-8586-f42426405a8d.png)

which result in this html

![image](https://cloud.githubusercontent.com/assets/656739/54851

[2014-12-18 08:39] DinisCruz opened #150 "Move content/markdown content into a top level folder"
Hi @luchia I really like what you did with the markdown includes (for example https://github.com/TeamMentor/TM_4_0_Design/commit/9d26ecd56b7f879b2786ce99280e364d9f27a364#diff-fda917b1e66955b55d84e504d42391d6R26) and now I we need to put it back into the main content folder

I.e. from https://github.com/TeamMentor/TM_4_0_Design/tree/master/source/flare/__ALL/content to https://github.com/TeamMentor

[2014-12-18 08:43] DinisCruz opened #151 "Add asserts for new Login page content"
Here is where this new content was added https://github.com/TeamMentor/TM_4_0_Design/commit/9d26ecd56b7f879b2786ce99280e364d9f27a364#diff-730aa37cc685914c31bac880db3afc9aR95

![image](https://cloud.githubusercontent.com/assets/656739/5485347/da160f34-8691-11e4-8b68-4122996d945d.png)

Here is what it looks like

![image](https://cloud.githubusercontent.com/assets/656739/5485322/94a8e868-8691-11e4-8

[2014-12-18 17:07] #124 closed, assigned to romichg

[2014-12-18 18:22] romichg opened #152 "Help Pages Layout is quite ugly"
![image](https://cloud.githubusercontent.com/assets/1326120/5493435/d75da87a-86b8-11e4-84a4-1402356827cb.png)

This is true both on firefox and on chrome
1. The top header is cutoff
2. Items on the left are doublespaced.

[2014-12-18 18:26] romichg opened #153 "Oversized Icons on FF on login page and signup page"
![image](https://cloud.githubusercontent.com/assets/1326120/5493507/6dba94f4-86b9-11e4-8625-09932fd528cb.png)

![image](https://cloud.githubusercontent.com/assets/1326120/5493513/86eb7f24-86b9-11e4-90dc-5e0c0c4f4385.png)

[2014-12-18 18:35] #149 closed, assigned to DinisCruz

[2014-12-18 19:34] romichg opened #154 "Filters are doublespaced."
It seems like there is a large gap between each lefthand and righhand filter. Should look better somehow.
![image](https://cloud.githubusercontent.com/assets/1326120/5494499/fedff8d0-86c2-11e4-88e2-e90bf44128f5.png)

[2014-12-18 19:48] #96 closed, assigned to romichg

[2014-12-18 19:48] #99 closed, assigned to romichg

[2014-12-18 20:01] #100 closed, assigned to romichg

[2014-12-18 20:01] #101 closed, assigned to romichg

[2014-12-18 20:20] #102 closed, assigned to romichg

[2014-12-18 20:24] DinisCruz opened #155 "Top left logo for non-logged in users needs to go to /guest/default.html (or just /)"
And at the moment it goes to /user/main.html

![image](https://cloud.githubusercontent.com/assets/656739/5495228/bf67e1f0-86f3-11e4-85d9-c572f1095914.png)

This is caused by the mixin reuse of the top-left nav section in both Jade and Flare

[2014-12-18 20:26] romichg opened #156 "Jade user status messages should be visible better"
Right now the "Login failed" and "Signup failed" messages are really small and hard to see.

![image](https://cloud.githubusercontent.com/assets/1326120/5495345/c06a0bf6-86ca-11e4-85e2-6bfcdb76cec9.png)

![image](https://cloud.githubusercontent.com/assets/1326120/5495354/e6357ea6-86ca-11e4-86a1-963c5d6e558f.png)

[2014-12-18 20:31] #103 closed, assigned to romichg

[2014-12-18 20:40] #104 closed, assigned to romichg

[2014-12-18 20:41] #107 closed, assigned to romichg

[2014-12-18 20:46] #114 closed, assigned to romichg

[2014-12-18 20:48] #129 closed, assigned to romichg

[2014-12-18 20:49] #118 closed, assigned to romichg

[2014-12-18 21:14] #85 closed, assigned to luchia

[2014-12-18 21:15] #84 closed, assigned to DinisCruz

[2014-12-18 22:15] luchia opened #157 "Can't access queries or libraries"
I can't get access to the queries/libraries in my version. This is the error code in Terminal:

[code]

![screen shot 2014-12-19 at 8 15 28 am](https://cloud.githubusercontent.com/assets/4547737/5496853/37335d0a-8757-11e4-83fc-c44fbd867ff1.png)

[2014-12-18 22:21] #106 closed, assigned to DinisCruz

[2014-12-18 22:27] DinisCruz opened #158 "Allow TM to work without a local instance of GraphDB"
This can either be done with
* using local cached JSON files
* using a cloud version of the GraphDB

[2014-12-18 22:32] DinisCruz opened #159 "Add npm to build the SCSS files"
So that Lucy can build the SCSS into CSS locally

[2014-12-18 23:06] DinisCruz opened #160 "Create simple setup for config options and auth with TM server"
The idea is to start with a simple simple set-up/workflow:

1. when TM Design starts it is in a 'TM disconnected' mode (which should work until the point that the user tries to login')
2. TM Design should ask for an TM 3.5 admin to login
3. when TM 3.5 admin logins, TM Design will
* login the admin user (in TM 3.5)
* create an TM 3.5 user account for the TM Design server
* get an Auth token for th

[2014-12-19 07:15] #157 closed, assigned to luchia

[2014-12-19 07:29] DinisCruz opened #161 "Top nav issue when resizing into smaller screensize"
Notice the top nav-bar, from

![image](https://cloud.githubusercontent.com/assets/656739/5501307/8be76348-8750-11e4-8c3f-a9edf4ed0d28.png)

to

![image](https://cloud.githubusercontent.com/assets/656739/5501308/96af6136-8750-11e4-83c3-d12748b582f3.png)

to

![image](https://cloud.githubusercontent.com/assets/656739/5501312/9ed57f62-8750-11e4-9c43-24b050f912b8.png)

Similar formatting issue in this

[2014-12-19 07:35] DinisCruz opened #162 "Remove space from GitHub labels in this repo"
At the moment the fact that we have spaces in the labels, means that GitHub filters don't work very well

![image](https://cloud.githubusercontent.com/assets/656739/5501369/727d15b4-8751-11e4-9a0f-c6e3b2dc1cf7.png)

[2014-12-19 08:07] DinisCruz opened #163 "Use CSS Sprites to reduce the number of requests made to load a page"
At the moment we make quite a lot of requests for each page loaded. Ideally there should be one request per type of resource: HTML, CSS, JS and images.

References:
* http://css-tricks.com/css-sprites/
* http://alistapart.com/article/sprites
* http://stackoverflow.com/questions/1227412/css-sprites-and-ie6
* http://stackoverflow.com/questions/922748/css-sprites-images-rendered-with-bad-quality-in-i

[2014-12-19 09:15] DinisCruz opened #164 "Query Bug and add unit test for search results data"
Fix what happened when we were working on https://github.com/TeamMentor/TM_4_0_Design/issues/154#issuecomment-67613930 where suddenly there where no results shown on the left-hand side

![](https://cloud.githubusercontent.com/assets/656739/5502184/58685438-875e-11e4-8972-73f854998a0f.png)

In that scenario, there was also prob if the user clicked on the Authorization link

![image](https://cloud.g

[2014-12-19 18:17] romichg opened #165 "Top Nav Broken on FF"
![team mentor 4 0 html version - iceweasel_018](https://cloud.githubusercontent.com/assets/1326120/5509018/4f9ff284-8781-11e4-82dc-bfd5dd22f876.png)

[2014-12-19 18:51] #156 closed, assigned to romichg

[2014-12-19 19:46] #153 closed, assigned to romichg

[2014-12-19 19:47] #92 closed, assigned to romichg

[2014-12-20 09:14] #162 closed, assigned to DinisCruz

[2014-12-22 08:12] DinisCruz opened #166 "Expose easy way to navigate to UI pages/sections in Chrome or NWR"
Since there is already a full Jade API (and the beginning of a Flare API) find a way to expose those methods (and workflows) to the QA user.

The objective is to dramatically speed up testing and development of specific issues, namely the cases where there are a number of UI tests required before the page to test can be reached, for example:
1. open main page
2. login
3. make a search
4. do action

[2014-12-22 15:43] DinisCruz opened #167 "Improve performance of Jade Home page (size and load times)"
Here is the latest version at http://tm-4-0-design.azurewebsites.net/

500k loaded in 8s

![image](https://cloud.githubusercontent.com/assets/656739/5526907/a3565a32-89f0-11e4-892f-f7baea895eba.png)

[2014-12-22 15:44] DinisCruz opened #168 "Add backend support for 304 not modified header"
Look at how TM 3.5 backend does it, and follow the same model

This will help with https://github.com/TeamMentor/TM_4_0_Design/issues/167

[2014-12-22 16:30] #83 closed, assigned to romichg

[2014-12-22 16:59] DinisCruz opened #169 "Refactor TeamMentor 3.5 code into separate module/repo"
Consolidate both sets of node/js code that connects to TeamMentor 3.5 backend. This is the code that knows how to talk with the multiple TM 3.5 REST services, and it currently split between the TM Design and TM Graph code.

By refactoring and putting it in npm's repository we also gain a nice javascript based API to talk with TeamMentor.

90% of the code already exists, and the only new bit of cod

[2014-12-22 17:18] roman87 opened #170 "Create a full automation test of user signup/password reset/email recepit"
We need to create a full automation test on user signup, with email receipt verified, user login, user logout, bad signup, bad login, and finally password reset.
We can use this service for receipt and checking of email. There is no signup, just pick a mailbox name. All email is deleted after an hour
www.mailinator.com

[2014-12-22 17:34] #154 closed, assigned to romichg

[2014-12-22 17:36] #165 closed, assigned to romichg

[2014-12-22 18:43] roman87 opened #171 "Implement Password Reset Front end in TM 4.0"
Right now the password reset email is redirecting to TM 3.5 Backend. We need it to redirect to TM4.0 frontend, provide a pw reset dialogue box and following a successful change redirect back to the TM4.0 login page.

[2014-12-22 20:14] DinisCruz opened #172 "Add special test to 'wake-up' TeamMentor 3.5 server"
This test needs to have a long timeout, and will deal with cases like https://github.com/TeamMentor/TM_4_0_Design/issues/145#issuecomment-67862768

The core code for this should be on https://github.com/TeamMentor/TM_4_0_Design/issues/169, with a simple test on both backend and QA tests

[2014-12-22 20:15] #127 closed, assigned to DinisCruz

[2014-12-22 23:06] DinisCruz opened #173 "Add TM release version number to a specific location"
This is equivalent to

![image](https://cloud.githubusercontent.com/assets/656739/5532408/ceac6008-8a2e-11e4-8894-da6a88ee24ff.png)

maybe at the end of the **guest** pages

![image](https://cloud.githubusercontent.com/assets/656739/5532419/df2f217c-8a2e-11e4-8848-e388948c0aa7.png)

[2014-12-23 20:37] DinisCruz opened #174 "Fix articles-by-weight data feed"
At the moment it is on **tm-data** (http://localhost:1332/data/tm-data/articles-by-weight) and it needs to be on tm-uno (http://localhost:1332/data/tm-data/articles-by-weight)

Also we need to figure out what should be formula for these? For now should it be by 'number to queries that contains an article'

This is needed to address the https://github.com/TeamMentor/TM_4_0_Design/issues/113 issue

[2014-12-23 20:41] DinisCruz opened #175 "Add server side persistence of session data"
This is needed to hold (for now) the 'last articles' seen by the user (required for https://github.com/TeamMentor/TM_4_0_Design/issues/174) and will also allow the logged in user status to survive a node-server restart (which at the moment doesn't happen)

There is already an express module that does this, so this shouldn't be too difficult

[2014-12-23 20:43] DinisCruz opened #176 "Where do we get the 'New Articles' data from?"
This is needed for https://github.com/TeamMentor/TM_4_0_Design/issues/113

![image](https://cloud.githubusercontent.com/assets/656739/5542886/33b60f0c-8ae4-11e4-84e6-f34b93efc30e.png)

[2014-12-23 20:56] DinisCruz opened #177 "Improve the way the GraphDB fetches articles from TM"
Marking as P2 since it depends on a new TM API to be added to https://github.com/TeamMentor/Master/issues/937 (see that issue for more details of the prob)

[2014-12-24 16:10] DinisCruz opened #178 "Support storage of auto tokens in local config file"
This will help with https://github.com/TeamMentor/TM_4_0_Design/issues/90#issuecomment-68060626 and is related to https://github.com/TeamMentor/TM_4_0_Design/issues/160

[2014-12-25 00:31] DinisCruz opened #179 "See if malloc error in SCSS_Compiler is fixed"
See https://github.com/sass/node-sass/issues/554#issuecomment-68078899 for details of this bug

Note: I'm adding this here so that I keep to of this request and have a place to put the result. I will close this once the test is completed and that thread is updated

[2014-12-25 00:37] DinisCruz opened #180 "Store/use 'user data' as a Graph (on GraphDB)"
Which can be used amongst other things to store 'last articles' data (see https://github.com/TeamMentor/TM_4_0_Design/issues/175#issuecomment-68062543)

One interesting question is if we should store the raw data on TM GraphDB or on TM 3.5 UserData (just like the other user actions are currently stored)

I'm inclined to use the 3.5 UserData since that is already solid and it goes with the logic th

[2014-12-30 10:54] DinisCruz opened #181 "NeDB vs MongoDB vs Redis"
Since we need to have a way to persist data in TM 4.0 (for example) https://github.com/TeamMentor/TM_4_0_Design/issues/175   , I have been looking at a couple options.

I started with Redis and MondoDB, since they seem to be the most popular on NodeJS environments, but although they have good express support, it fell very overkill for TM Design, and i really don't like the fact that we are adding

[2014-12-30 20:01] #173 closed, assigned to romichg

[2014-12-30 20:03] #152 closed, assigned to romichg

[2014-12-30 21:30] #122 closed, assigned to romichg

[2014-12-30 22:27] #181 closed, assigned to romichg

[2015-01-01 16:14] DinisCruz commented on #173
15 felt about right :)

[2015-01-01 16:34] DinisCruz commented on #180
To document what we discussed on the last call, for now the move is to put this data on 3.5 since (for now) there is no 'real' data stored on the GraphDB. All data in there is a transformation from the data loaded from TM 3.5

[2015-01-01 16:40] DinisCruz opened #182 "Write test that confirms the leak of TM 3.5 from SendPasswordReminder error"
At the moment the error message shown from a error 500 response from TM 3.5 SendPasswordReminder (asmx) will leak the location of the upstream TM 3.5 server.

Not a major issue, but something with a little of security properties (info leak)

This should be added to set of Unit Tests called 'Security Issues - Accepted'

@michaelhidalgo this is a good one for you. See the latest tested added to Logi

[2015-01-02 03:36] DinisCruz commented on #151
@roman87 this is the one that Michael and Salle are using to learn the workflow. it is a nice and (easier) one.

The fact that it is a P4 (in this case) means that if it is not fixed is not critical. But the path for michael and Salle to be able to help fixing P0 issues, passes though fixing a number of simpler ones (like this)

[2015-01-02 03:40] DinisCruz commented on #178
@luchia's error is because it is not finding the module 'nedb' which is on https://github.com/TeamMentor/TM_4_0_Design/blob/master/package.json#L40

That should be fixed with an ```npm install``

[2015-01-02 05:43] luchia commented on #178
Cool, fixed for me.

[2015-01-02 06:47] luchia commented on #163
This has been completed for the landing pages in Jade, Flare still needs to be re-done with the new sprites though.

##### Index
![screen shot 2015-01-02 at 4 05 00 pm](https://cloud.githubusercontent.com/assets/4547737/5594617/ddf2d60a-929e-11e4-88d8-f429ed7f7b52.png)

##### About
![screen shot 2015-01-02 at 4 05 11 pm](https://cloud.githubusercontent.com/assets/4547737/5594618/ddf7d3d0-929e-11e4

[2015-01-02 06:48] luchia commented on #167
Addressed in #163, this needs to be checked.

[2015-01-02 15:39] roman87 commented on #182
Yea really not an issue. The upstream server is available for editing anyways.

[2015-01-02 15:40] roman87 commented on #151
Yes good one for Michael and Salle.

[2015-01-02 19:15] michaelhidalgo commented on #105
If TEAM Mentor is configured to not show detailed error messages ( a config setting from the config file), TM backend will return a customized error message in the response, which correspond to the Simple_Error_Message.

The Post_Login_Url is part of the data structure but it is not being used at the moment. I guess it needs to be a configuration settin?

[code]

[2015-01-02 23:25] luchia opened #183 "Add polish to Flare"
- [x] Transitions on links;
- [x] Transitions on buttons;
- [x] Button for Get Started in the landing page navigation

[2015-01-03 06:01] luchia commented on #163
Flare is done as well but has some extra stylesheets while we're not compiling our SCSS files. Once Dinis has built that bit, we will be down to two css files for Flare landing page -

##### Index
![index](https://cloud.githubusercontent.com/assets/4547737/5601738/71f94f2e-9361-11e4-9602-d68db711ff20.png)

##### About
![about](https://cloud.githubusercontent.com/assets/4547737/5601740/926ef34e-936

[2015-01-03 08:23] DinisCruz opened #184 "Create one image for all 'customer logos' that are currently used on the home page"
At the moment we have a number of logos that are downloaded individually, and it will be better for maintainability and updatability if there are all downloaded as one images

![image](https://cloud.githubusercontent.com/assets/656739/5601947/b5ae0308-9321-11e4-8bea-2660f070743b.png)

[2015-01-03 08:23] DinisCruz commented on #163
Very very nice @luchia

Just one small node that I added to https://github.com/TeamMentor/TM_4_0_Design/issues/184

[2015-01-03 08:26] DinisCruz opened #185 "Source of all design 'native documents'"
Lucy, where are all the base design documents that you use to create the TM images?

Namely the photoshop and illustrator files

We have to make sure that those files are all located in a GitHub or file storage location, so that if you lost your laptop tomorrow nothing would be lost

[2015-01-03 09:14] DinisCruz commented on #167
This is fixed, you can see it in action at http://tm-4-design.herokuapp.com/

![image](https://cloud.githubusercontent.com/assets/656739/5602029/6be060de-9328-11e4-847f-81b230ca9637.png)

[2015-01-03 09:30] DinisCruz opened #186 "Fix content references in unit Tests"
This content https://github.com/TeamMentor/TM_4_0_Design/blob/master/QA/tests/jade-anonymous-users.coffee#L59-L61

![image](https://cloud.githubusercontent.com/assets/656739/5602051/d4aff050-932a-11e4-8b0d-d6fe7de0d1a0.png)

should be mapped to the markdown content that is used by jade pages
https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_mixins/landing-page-mixins.jade#L17-L4

[2015-01-03 09:45] DinisCruz opened #187 "No support for case when user has images turned off"
Just to confirm (me and lucy where having a chat about this on Skype), that TM 4.0 (Jade and Flare) will NOT support the case when the user disables images on his browser

With Jade we can support the case when the user disabled Javascript, but I think supporting an text only (no images) it a bit too much :)

@luchia assigning to you so that you can comment (then move it to @roman87 )

[2015-01-03 10:55] DinisCruz opened #188 "Create unit tests that test css syles"
With the use of css selectors to apply styles (for example the background image of the '#footer #footer-img #si-logo' in the about page), we need to also test actual css that is being applied to the page

Based on a test I [wrote for NWR](https://github.com/o2platform/nwr/blob/e2c2bda557d0665bad7f4707b6891b4bf25e00a9/tests/nw-apps/REPL-GUI/test-editor.coffee#L52-L59) I was able to use [juice](http

[2015-01-03 11:13] DinisCruz opened #189 "Small nav issue on help page navigation in small screen size"
http://localhost:1337/help/index.html

![image](https://cloud.githubusercontent.com/assets/656739/5602236/6b090f2e-9339-11e4-90a4-7ecc81dce74b.png)

Is ok when in bigger window

![image](https://cloud.githubusercontent.com/assets/656739/5602237/8986ca9a-9339-11e4-9550-58e3673cdf5a.png)

[2015-01-03 12:09] DinisCruz commented on #164
I'm pretty sure that related to this (issue 164) is the fact that http://localhost:1337/graph/Data%20Validation also broke in one of the latest pushes

Here is the test that should pass and is now failing

[code]

[2015-01-03 19:09] DinisCruz opened #190 "Create page with TM Repos build status and QA repo to it"
This is now done at https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-Repos-build-status and looks like this:

----

![image](https://cloud.githubusercontent.com/assets/656739/5603297/6692300a-9376-11e4-8b04-34cbd8b09a50.png)

----

what is really cool is that the travis for the QA (https://travis-ci.org/TeamMentor/TM_4_0_QA) is set to run ALL 3 sets of tests (Design, GraphDB and QA) which means

[2015-01-05 04:48] roman87 commented on #178
this works now.

[2015-01-05 04:48] #178 closed

[2015-01-05 04:50] roman87 commented on #169
This was done.

[2015-01-05 04:50] #169 closed

[2015-01-05 06:14] roman87 commented on #185
Most of the pdf versions are here: https://github.com/TeamMentor/WhatsCookin/tree/master/UI%20Mockups

[2015-01-05 16:14] roman87 opened #191 "GraphDB randomly fails."
Graph DB fails when clicking on any link in navigate menu. This behavior is sporadic and random but consistent.

![selection_029](https://cloud.githubusercontent.com/assets/1326120/5615701/c2ec7bf2-94cb-11e4-900f-9e62d0467e65.png)

![selection_030](https://cloud.githubusercontent.com/assets/1326120/5615707/c92a95a8-94cb-11e4-8a45-612df8524ba1.png)

![selection_031](https://cloud.githubusercontent.

[2015-01-05 16:43] roman87 opened #192 "When clicking on the TEXT of any filter, the top filter is selected."
![selection_032](https://cloud.githubusercontent.com/assets/1326120/5616180/ea6d11e2-94cf-11e4-9459-8632ac3f54c2.png)

[2015-01-05 17:21] roman87 commented on #90
This does not work. When I switch not to show library structure to anonymous, which is really the only information that is being fetched. Loading of data fails.  Moreover, switching it back does not fix this.
![selection_033](https://cloud.githubusercontent.com/assets/1326120/5616720/4d95811e-94d5-11e4-9b65-73a50b067f3b.png)

[2015-01-05 17:42] roman87 commented on #90
Additional info:
When changing the auth-key to something invalid. The GraphDB still shows that the data was loaded.
However, there is no data in the UI
![selection_034](https://cloud.githubusercontent.com/assets/1326120/5616909/d5c873f6-94d6-11e4-8261-06d7ee84a123.png)
![selection_035](https://cloud.githubusercontent.com/assets/1326120/5616916/df937868-94d6-11e4-90e0-a1974c8fcf50.png)

And this se

[2015-01-05 18:03] roman87 commented on #90
I am making this a P1 to be inline with priorities we need to work on.

[2015-01-05 18:09] DinisCruz commented on #192
That is related to https://github.com/TeamMentor/TM_4_0_Design/issues/94

That right-hand side nav is not working, which is what I'm working on next

[2015-01-05 18:12] roman87 commented on #172
Not a major priority at this point. Can wait until Sprint 3.

[2015-01-05 18:13] roman87 commented on #160
This can wait until sprint 3 at this point.

[2015-01-05 18:15] roman87 commented on #79
@luchia  can you check this again?

[2015-01-05 18:16] roman87 commented on #56
Moving this to P3. Can wait till sprint 3 at this point.

[2015-01-05 18:21] roman87 commented on #166
Moving this to P3

[2015-01-05 18:23] roman87 commented on #145
Moving to P3

[2015-01-05 18:30] roman87 commented on #180
It is important we get this right. We need to make full use of the graph DB.

[2015-01-05 18:43] roman87 commented on #121
Moving to P4 as a question. Since the benefits of this are not clear.

[2015-01-05 18:49] DinisCruz commented on #175
done with https://github.com/TeamMentor/TM_4_0_Design/pull/193

[2015-01-05 19:31] DinisCruz commented on #79
yeah, latest version does have this behaviour (i.e it is fixed)

[2015-01-05 19:34] DinisCruz commented on #90
Ahh yeah, at the moment the option to consume data from a TM library that is setup with 'not to show library structure to anonymous,' is not supported (only the default TM/Uno case where the library structure is shown, but article content require login)

[2015-01-05 19:52] roman87 commented on #192
Ok then I am moving this to your queue.

[2015-01-05 21:43] roman87 opened #194 "Wire full article view page (Jade)"
This is to create a page that will open in a new tab displaying an article in full view. Page needs to show meta data and copyright. The page is already developed and needs to be wired.

[2015-01-05 22:00] luchia commented on #185
I lost the originals when my Macbook died, but the pdfs are where Roman said and my other working files are throughout all of these issues.

[2015-01-05 22:09] luchia commented on #184
When we have this as a sprite, we have an issue. Because a sprite is a background image, when the columns get smaller, the background image does not. This means the logos are getting cut off as the screen scales.

I tried a couple of different solutions, including making inline images with classes for the sprite, but I could not get this to work. If you have any different suggestions as to how to

[2015-01-05 22:58] roman87 opened #195 "Wire the step down navigation."
As we talked on the call, once the user hits navigate they should be brought into the main UI. Each time a user clicks on a level, they are brought down to that level and are shown the tree of that level. The user can go back with breadcrumbs.
Lucy can you put a couple of screen shots on how it would look like.
Thanks.

[2015-01-05 23:32] luchia commented on #189
This has been fixed -

![screen shot 2015-01-06 at 9 30 29 am](https://cloud.githubusercontent.com/assets/4547737/5621873/b96ca212-9586-11e4-89bc-f57fd0526299.png)
![screen shot 2015-01-06 at 9 30 45 am](https://cloud.githubusercontent.com/assets/4547737/5621874/b9b2bfea-9586-11e4-9794-cb7795b64d83.png)

[2015-01-05 23:49] luchia commented on #195
Hey @roman87 and @DinisCruz, take a look at these and tell me if it's possible.

* User goes to Navigate page and clicks Principles & Standards (or Guidance I think it is now)
* User clicks Cryptographic Storage
![navigatepage](https://cloud.githubusercontent.com/assets/4547737/5622078/f6961d74-9588-11e4-8f03-f8f5461066cb.jpg)

* User clicks Use a strong PRNG to open the 2nd level directory
![firs

[2015-01-05 23:54] roman87 commented on #195
Yea, except we are skipping the first step and going straight into first level directory, right?

[2015-01-05 23:56] roman87 commented on #185
closing this as there is nothing more to be done here.

[2015-01-05 23:57] #185 closed

[2015-01-06 00:03] roman87 commented on #184
I actually think it is better to keep the logos as individual images. Simple reason is that we (hopefully) will add customers and logos as a result and we want to make it as easy as possible to do so.

[2015-01-06 00:04] roman87 commented on #189
Don't forget to change the status to QA and assign to someone to test. In this case to me.

[2015-01-06 00:27] DinisCruz commented on #151
Since the change has been made I'm going to close this one

What would be nice is if the content in the test was actually the one from the MD files (as described in https://github.com/TeamMentor/TM_4_0_Design/issues/186 )

[2015-01-06 00:27] #151 closed

[2015-01-06 01:05] luchia commented on #195
That could work too. Saves us from using a page that is different to our layout as well (first screenshot).

[2015-01-06 01:06] luchia commented on #195
Assigned to Dinis, so he can give his feedback.

[2015-01-06 01:11] luchia commented on #187
It'd definitely be easier if we didn't have to support it.

[2015-01-06 08:21] #79 closed

[2015-01-06 08:21] DinisCruz commented on #184
ok

[2015-01-06 08:21] #184 closed

[2015-01-06 08:23] DinisCruz commented on #142
sure, add it to the pile of stuff to do with flare

[2015-01-06 08:28] DinisCruz commented on #151
@tekgirl77 and @michaelhidalgo for reference (and as you can see on this commit https://github.com/TeamMentor/TM_4_0_QA/commit/581556b3bf3ae77f7b87ae37c67bd31e35c17c22) the final fix for issues like this should be added to the [Issues-sprint-1.coffee](https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/issues-sprint-1.coffee) file

[2015-01-06 09:43] DinisCruz opened #196 "What should happen when an already logged in user returns to TM"
Now that we have session persistence (due to https://github.com/TeamMentor/TM_4_0_Design/issues/175) what should be the page shown to users when returning with a valid login session?

At the moment when they open the home page (http://localhost:1337/) they see the default non-logged-in page

![image](https://cloud.githubusercontent.com/assets/656739/5626810/38902ca2-9588-11e4-9841-8d585387a0e9.png

[2015-01-06 11:57] DinisCruz commented on #128
Unit Test that replicates the issue

[code]

[2015-01-06 12:09] DinisCruz commented on #128
This UnitTest (in TM_4_0_Design) replicates it from the backend

[code]

[2015-01-06 12:24] DinisCruz commented on #128
This UnitTest (in TM_4_0_GraphDB) replicates the issue on the GraphDB

[code]

[2015-01-06 13:28] DinisCruz commented on #128
Here is the bug

![image](https://cloud.githubusercontent.com/assets/656739/5629095/b0dede8c-95a7-11e4-8a9f-27f1b954e6fa.png)

Here is the fix:

from: ![image](https://cloud.githubusercontent.com/assets/656739/5629107/d057b3a6-95a7-11e4-918b-ee33d679d8bc.png)

to: ![image](https://cloud.githubusercontent.com/assets/656739/5629102/c0f21be0-95a7-11e4-8e54-84e4226ca2b8.png)

[2015-01-06 13:44] DinisCruz commented on #128
Converting  **TM_4_0_Design** test into a regression test

[code]
Converting **TM_4_0_GraphDB** test into a regression test

[code]

Converting **TM_4_0_QA** test into a regression test

[code]

[2015-01-06 13:55] DinisCruz commented on #128
Next step is to run all tests locally

**TM_4_0_GraphDB**
![image](https://cloud.githubusercontent.com/assets/656739/5629344/5f443650-95aa-11e4-92d2-1469eae0408d.png)

**TM_4_0_Design**
![image](https://cloud.githubusercontent.com/assets/656739/5629447/77a7898a-95ab-11e4-8732-42434e202762.png)

**TM_4_0_QA**
![image](https://cloud.githubusercontent.com/assets/656739/5629465/a9242766-95ab-11e4-9ffc

[2015-01-06 14:00] DinisCruz commented on #128
Next push all commits to github:

* **TM_4_0_GraphDB**: https://github.com/TeamMentor/TM_4_0_GraphDB/commit/994da66cec327cf58c2bf302bbe7a0a3afaa077d
* **TM_4_0_Design**: https://github.com/TeamMentor/TM_4_0_Design/commit/ef6e01815185cdceee3dd160a5d050bc5fa4fcf5
* **TM_4_0_QA**: https://github.com/TeamMentor/TM_4_0_QA/commit/7c75ecd9637692014e39732a98ab06f74180d59e

[2015-01-06 14:12] DinisCruz commented on #128
Final step is to check if all tests passed in travis (CI service) at the [TM Repos build status](https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-Repos-build-status) wiki page

Originally they didn't (TM_4_0_Design had a minor bug which also made TM_4_0_QA to fail)

----

![image](https://cloud.githubusercontent.com/assets/656739/5629599/4f7f57c4-95ad-11e4-83bf-589bddad8238.png)

----

But afte

[2015-01-06 14:12] DinisCruz commented on #128
Ready for QA, @roman87  over to you

I think it will take you longer to read this thread than to test it :)

[2015-01-06 16:20] DinisCruz commented on #192
Here is the test that replicates the issue:

[code]

Here is the test with a couple extra logging messages, showing the non-unique values of the input's **id** and lable's **for** values

![image](https://cloud.githubusercontent.com/assets/656739/5631622/cc211f9e-95bf-11e4-84ea-09886f551926.png)

[2015-01-06 17:05] DinisCruz commented on #192
Here is the fix

![image](https://cloud.githubusercontent.com/assets/656739/5632381/28049cfe-95c6-11e4-863d-955c14689236.png)

here is the regression test

[code]

[2015-01-06 17:07] DinisCruz commented on #192
Fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/08bbd85136870746095467f108f5cc0aa7e52886 and https://github.com/TeamMentor/TM_4_0_QA/commit/73c783456050f875d35dd43af511beca43e54aec

[2015-01-06 18:59] DinisCruz opened #197 "filter text wrapping under checkboxes (right hand-side nav)"
As with what is happening with the total's value,  the filter's text needs to not wrap under the checkbox

Here is what the prob looks like

![image](https://cloud.githubusercontent.com/assets/656739/5634185/f186bea4-95d5-11e4-9d88-cf84cce051e7.png)

[2015-01-06 19:02] DinisCruz opened #198 "Left-hand-side query selection must have a visual clue and needs to be clickable (to clear filter)"
On the left, when a query is selected (like in the case bellow), there should be a visual clue that of which one is selected and clicking on it should remove the filter

![image](https://cloud.githubusercontent.com/assets/656739/5634250/5597f6e2-95d6-11e4-9cf7-d6fadc9496ba.png)

Making this a P0 since it is related to https://github.com/TeamMentor/TM_4_0_Design/issues/164 (and needs to be fixed be

[2015-01-06 20:16] DinisCruz commented on #198
test that confirms issue

[code]

[2015-01-06 20:23] DinisCruz commented on #198
Here is what the fix looks like

![image](https://cloud.githubusercontent.com/assets/656739/5635527/c1afad10-95e1-11e4-8068-dd92813b40e4.png)

or

![image](https://cloud.githubusercontent.com/assets/656739/5635542/dc2579e0-95e1-11e4-9b64-9d0275d5a13e.png)

[2015-01-06 20:25] DinisCruz commented on #198
Test is now a regression test
[code]

[2015-01-06 20:27] DinisCruz commented on #198
Fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/b73e0304aca9aed59d799ccb618e22a10955390f
and
https://github.com/TeamMentor/TM_4_0_QA/commit/98852592e3e8e895c3d330d532ebd071f1f6e79c

[2015-01-06 20:32] DinisCruz commented on #164
The "add unit test for search results data" part of this issue is under way with the fix pushed for https://github.com/TeamMentor/TM_4_0_Design/issues/198

[2015-01-06 20:57] roman87 commented on #187
Yes we don't have to support it :)
Just as an FYI here is how current TM looks like in a text only browser. Overall - not bad.
![rom titi08 -dev-teammentor-tm_4_0_design_037](https://cloud.githubusercontent.com/assets/1326120/5636054/968a0a06-95bc-11e4-9914-a47f8b78888b.png)
![rom titi08 -dev-teammentor-tm_4_0_design_038](https://cloud.githubusercontent.com/assets/1326120/5636056/98cb5838-95bc-11e

[2015-01-06 21:03] DinisCruz commented on #164
This 'query bug' is fixed with  https://github.com/TeamMentor/TM_4_0_Design/commit/28ed0c330d2f9a4e602f9e44292ff922b0cb0917

This closes this issue, because for example the Authorization issue shown above is now fixed:

![image](https://cloud.githubusercontent.com/assets/656739/5636136/4d23333a-95e7-11e4-9c8f-1ea381deebcc.png)

Note that this not the final version of this page since we still need

[2015-01-06 21:09] michaelhidalgo commented on #82
We'll need to add more test scenarios, but you can take a look at it here :

https://www.dropbox.com/sh/ala1jqpl4ybgou7/AADQR9AgZEt-O8bT7IxVM3Dla?dl=0

[2015-01-06 21:12] michaelhidalgo commented on #187
Very interesting, I did not know that was possible :)

2015-01-06 14:57 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-01-06 21:22] DinisCruz commented on #187
that feels like the BBS world in 1995 :)

[2015-01-06 21:23] DinisCruz commented on #187
what where you using to browse? VIM?

[2015-01-06 21:41] roman87 commented on #196
Lets leave it the way it is until we have session persistence stored in the graph database, like it is supposed to :)

[2015-01-06 21:46] roman87 commented on #128
haha true :)

[2015-01-06 22:00] roman87 commented on #187
Hahaha.. yes, I still remember the phone bill I ran up for my parents :). This is lynx. Its quite old, but comes in handy sometimes.

[2015-01-06 22:43] luchia opened #199 "Breadcrumbs are broken"
![breadcrumbs](https://cloud.githubusercontent.com/assets/656739/5635527/c1afad10-95e1-11e4-8068-dd92813b40e4.png)

This is not correct, they should not have list-style-types.

[2015-01-06 22:44] DinisCruz opened #200 "breadcrumbs are now showing as a vertical list"
![image](https://cloud.githubusercontent.com/assets/656739/5637619/765c6ad8-95f5-11e4-8962-f6442e1df363.png)

[2015-01-06 22:45] DinisCruz opened #201 "Make font on filters and queries font a bit smaller"
That should make it easier to focus on the main articles content

[2015-01-06 22:46] luchia opened #202 "Table row border-bottoms are missing"
![border-bottom](https://cloud.githubusercontent.com/assets/656739/5635527/c1afad10-95e1-11e4-8068-dd92813b40e4.png)

[2015-01-06 22:47] luchia opened #203 "Swap navigate button and home button in navigation"

[2015-01-06 22:47] luchia opened #204 "Typography"
Less emphasis on left and right hand column text.

[2015-01-06 22:48] #200 closed, assigned to nobody

[2015-01-06 22:51] luchia opened #205 "Tidy SCSS files"
I've just been copying and pasting my styles from the CSS files, so there is a bit of clutter and excess code in those files.

[2015-01-06 23:59] roman87 commented on #204
Agreed with @DinisCruz  closing this as dupe of #201

[2015-01-06 23:59] #204 closed

[2015-01-07 00:45] luchia commented on #199
This is fixed -

![screen shot 2015-01-07 at 10 44 04 am](https://cloud.githubusercontent.com/assets/4547737/5638938/2958c28a-965a-11e4-89a3-f8cf3f7757a0.png)
![screen shot 2015-01-07 at 10 44 09 am](https://cloud.githubusercontent.com/assets/4547737/5638939/298cd070-965a-11e4-8685-3f91d5c8aef9.png)

[2015-01-07 00:47] luchia commented on #203
This has been fixed -

##### Original
![screen shot 2015-01-07 at 10 46 01 am](https://cloud.githubusercontent.com/assets/4547737/5638953/775b7374-965a-11e4-950e-68d63aa27666.png)

##### Fixed
![screen shot 2015-01-07 at 10 46 32 am](https://cloud.githubusercontent.com/assets/4547737/5638954/77921974-965a-11e4-9ee0-3ed126b44f80.png)

[2015-01-07 00:50] luchia commented on #137
This functionality has already been done within Foundation which I think would also suit our application (see below) -

![tabs-foundation](https://cloud.githubusercontent.com/assets/4547737/5638995/fdfde164-965a-11e4-9c88-1006605a86c6.gif)

The source code (jQuery) for it can be seen [here](https://gist.github.com/luchia/a83c1f701000b5f179d9).

[2015-01-07 00:52] luchia commented on #140
This functionality has already been done within Foundation which I think would also suit our application (see below) -

![dropdown-foundation](https://cloud.githubusercontent.com/assets/4547737/5639009/2cde43ca-965b-11e4-93a5-a3083263691a.gif)

The source code (jQuery) for this can be viewed [here](https://gist.github.com/luchia/147c0528be7cb2689a2a).

[2015-01-07 01:11] luchia commented on #202
This has been fixed -

![screen shot 2015-01-07 at 11 10 41 am](https://cloud.githubusercontent.com/assets/4547737/5639208/dbfc8b30-965d-11e4-8abe-0167eb15ad71.png)

[2015-01-07 01:19] luchia commented on #143
This has been done in Foundation already, as seen below -

![off-canvas-foundation](https://cloud.githubusercontent.com/assets/4547737/5639255/ab5deeb4-965e-11e4-94cb-95949562e71d.gif)

However, I found this other off-canvas menu that is really nice because as the user moves their cursor off the div/menu it retracts.

![off-canvas-menu](https://cloud.githubusercontent.com/assets/4547737/5639256/ab

[2015-01-07 02:44] luchia commented on #138
This is more of a bonus feature, I'm not sure if @roman87  will want to change this from P1.

You can find this feature on the Flare login tab, in the getting started directory.
![show-hide-pw](https://cloud.githubusercontent.com/assets/4547737/5639932/55d9f9b8-966a-11e4-906e-08df0a5bc4f7.gif)

[2015-01-07 02:46] luchia commented on #139
This is more of a bonus, I'm not sure if @roman87 will want to change this from P1.

![validation-one](https://cloud.githubusercontent.com/assets/4547737/5639975/efec7abc-966a-11e4-8fcf-10f27ab75d86.gif)
![validation-two](https://cloud.githubusercontent.com/assets/4547737/5639976/eff744ce-966a-11e4-8f2c-5a432f97b6ef.gif)

Two examples of dynamically generated validation on forms. I would like this

[2015-01-07 03:01] luchia commented on #201
Can you please tell me what you think of this?

![screen shot 2015-01-07 at 12 58 12 pm](https://cloud.githubusercontent.com/assets/4547737/5640117/2605e1ea-966d-11e4-9d6e-16c3b0622516.png)

[2015-01-07 03:16] luchia commented on #197
Strange, it doesn't do it on mine -

![screen shot 2015-01-07 at 12 52 33 pm](https://cloud.githubusercontent.com/assets/4547737/5640047/193c3d20-966c-11e4-9b75-c85dcfa46b29.png)

Anyway, I did some googling and found what I needed to do but for some reason, only some tables are affected by this in the #filters div. Dinis, can you have a look at this for me?

![screen shot 2015-01-07 at 1 14 43 pm

[2015-01-07 04:02] roman87 commented on #138
@luchia  Do we really need this? What was the purpose of the user being able to see the password?

[2015-01-07 04:04] roman87 commented on #139
Its actually quite important as we had these issues in the past. However, don't we already have the validation on jade?

[2015-01-07 05:44] luchia commented on #205
[Jade is finished.](https://github.com/TeamMentor/TM_4_0_Design/commit/109e0ea4927e1e5081e69f7fdd46a789a7e3b5a0)

[2015-01-07 08:09] DinisCruz commented on #199
Nice once,

@luchia small request, when documenting the fix can try to point to the commit that did this fix (it makes it easier to review and to learn)

[2015-01-07 08:10] DinisCruz commented on #203
@roman87 wasn't the idea to also renamed 'home' to 'search'

Which actually I quite like since this new TM should be 'search focused'

[2015-01-07 08:12] DinisCruz commented on #201
I like it :)

[2015-01-07 08:13] DinisCruz commented on #197
It is fixed with your latest changes

[2015-01-07 08:13] #197 closed

[2015-01-07 08:15] DinisCruz commented on #138
A number of sites have it, are these usability guidelines that recommend it?

[2015-01-07 08:35] DinisCruz opened #206 "Due to NodeJs Express static mapper, TM Design allows download of static files"
#### Description
Due to the use of express' (web server) static routes  it is possible to download any static files from the current TM_4_0_Design repo, including source code files and 3rd party dependencies

For example

* http://localhost:1337/package.json
* http://localhost:1337/node_modules/express/package.json
* http://localhost:1337/source/jade/_layouts/head.jade
* http://localhost:1337/node

[2015-01-07 08:35] DinisCruz commented on #206
Note: I created a new Label (called **Type: Security**) that we can use to track these issues

[2015-01-07 09:13] DinisCruz commented on #206
require 'fluentnode'

async     = require 'async'
supertest = require 'supertest'

TM_Design_Server = require('../../TM_4_0_Design/node/server')

describe 'security | to-review',->

  describe.only 'Due to NodeJs Express static mapper, TM Design allows download of static files', ->

    it 'using supertest', (done)->
      targets = [
                  { status: 200 ,  path: '/package.json'}

[2015-01-07 09:32] DinisCruz opened #207 "No protection for CSRF"
#### Description
The current forms have no CSRF protection

#### Risk Analysis
It is possible to trigger the following actions which have some impact to the (affected) user:
* logout out
* login user into specific account
* create accounts as the user
* use the user to brute force the upstream TM 3.5 server for:
 * accounts (username and password)
 * emails (once we provide feedback on bad users)

[2015-01-07 09:33] DinisCruz commented on #207
@michaelhidalgo do you want to have a go at writing a test that confirms this?

Basically you want a test that:
a) opens one of the affected pages (i.e. a GET or POST that affects server/user state)
b) checks if there is a csrf token on it

[2015-01-07 09:39] DinisCruz opened #208 "No security headers"
#### Description
No security-focused headers are sent to the user

#### Risk Analysis
Couple headers should be added (enforce ssl for example)
Since Jade doesn't use Html, we should use CSP to block all Javascript execution

#### References

* https://www.npmjs.com/package/helmet
* http://webapplog.com/express-js-security-tips

[2015-01-07 09:39] DinisCruz commented on #208
@tekgirl77 or @michaelhidalgo this is another nice one for you to get your head around TM 4.0 dev and UnitTest development

[2015-01-07 09:49] DinisCruz commented on #191
I believe this has some DoS capabilities

[2015-01-07 09:51] DinisCruz commented on #147
Adding Security tag

[2015-01-07 10:09] DinisCruz opened #209 "Express Session is using a weak and shared secret"
Description
In [Express-Service](https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/services/Express-Service.coffee#L24) the value used as 'secret'  is not very long and is committed to GitHub

![image](https://cloud.githubusercontent.com/assets/656739/5643804/b425a096-9654-11e4-8ccf-253f6bdc2966.png)

Risk Analysis
At the moment we have no idea what is the impact of this (good of bad),

[2015-01-07 10:09] DinisCruz commented on #209
... assigning this one to Serge :)  ...

[2015-01-07 10:18] DinisCruz commented on #206
There were [directory traversal vulnerabilities in express.static](https://github.com/strongloop/express/issues/2486) fixed in Express 4.8.8

[2015-01-07 11:43] DinisCruz opened #210 "Write XSS fuzzing tests for forms used in 4.0"
It looks like Jade will prevent it, but we should have assurance that we don't have any XSS on the forms used on 4.0 Design:
* [ ] Login form
* [ ] Password recovery
* [ ] New user sign-up

For the fuzzing list, see the ones on fuzzdb and owasp

----
[TM-4.0-Security](https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security)

[2015-01-07 11:50] DinisCruz opened #211 "Html Articles can contain XSS exploits"
#### Description
By default TM 3.5 allows the use of HTML in the articles (via the Notepad and WYSIWYG editors), which means that TM Editors can put XSS payloads in TM articles.

See TM Master issue [XSS by design on Articles](https://github.com/TeamMentor/Master/issues/111) for more details

#### Risk Analysis
At the moment it must be considered that TM Editors are as good as Admins.

This will b

[2015-01-07 12:12] DinisCruz commented on #120
Unit test that replicates the issue

[code]

[2015-01-07 13:48] DinisCruz opened #212 "Add page to render jade minixs directly"
This is a TM_4_0_Design page that will allow the direct rendering of Jade mixins

Making this a P0 since it is needed for the development of https://github.com/TeamMentor/TM_4_0_Design/issues/120, https://github.com/TeamMentor/TM_4_0_Design/issues/113 and https://github.com/TeamMentor/TM_4_0_Design/issues/93 (and a bunch of other P1 issues)

Dev actions:

* [x] with GET request, pass get parameter

[2015-01-07 14:22] tekgirl77 opened #213 "Null metadata_Queries[target] throws unhandled exception"
When loading TM uno data (http://127.0.0.1:1332/data/tm-uno), NULL metadata objects throw unhandled exception:

Server started at: http://localhost:1332

evalmachine.<anonymous>:70
        target_Global_Id = metadata_Queries[target];
                                           ^
TypeError: Cannot read property 'Category' of null
  at evalmachine.<anonymous>:70:44
  at import_Article_Metadata (evalm

[2015-01-07 15:05] #213 closed

[2015-01-07 15:15] dougwilson commented on #206
The issue was introduced here: https://github.com/TeamMentor/TM_4_0_Design/commit/80c910dd0c5c18723a1e976e3896f286841b0941 ; that line should have been only serving the directories that needed to be public, not everything in the entire project.

[2015-01-07 15:56] DinisCruz commented on #206
@dougwilson correct (and that code has since been refactored to )

The fix is to only expose these two folders:
* https://github.com/TeamMentor/TM_4_0_Design/tree/master/deploy
* https://github.com/TeamMentor/TM_4_0_Design/tree/master/static (this one still needs the build fix)

[2015-01-07 16:31] dougwilson commented on #206
Cool :)

This is what you want to do to limit to those two directories and keep the URLs the same:
[code]
Note that you should _never_ use `process.cwd()` because that is not controlled by your app unless you explicitly set it with `process.chdir()`--I always recommend to provide only absolute paths. `__dirname` contains the absolute path to the directory the script you write that line is located

[2015-01-07 16:51] DinisCruz commented on #206
Thanks @dougwilson and on the topic of security, you might find interesting the [routes.test.coffee](https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/tests/routes/routes.test.coffee) test.

That test represents the (dynamic) attack surface of this application, and creates (dynamically) the 30 mocha tests you can see execute at https://travis-ci.org/TeamMentor/TM_4_0_Design/builds/46178

[2015-01-07 16:56] dougwilson commented on #206
Cool :) I which I could read CoffeeScript, though.

[2015-01-07 17:07] DinisCruz commented on #206
@dougwilson sinceCoffee compiles to Javascript, we can use the **try coffeescript** tool at http://coffeescript.org/ to convert to/from Coffee

![image](https://cloud.githubusercontent.com/assets/656739/5649602/1f17043c-968f-11e4-8993-d1d5bedc0d38.png)

Here is what that  [routes.test.coffee](https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/tests/routes/routes.test.coffee) test file lo

[2015-01-07 17:10] DinisCruz commented on #212
Since there [doesn't seem to be a way](https://github.com/jadejs/jade/issues/1811) to render Mixins directly, here is the code that can be used to simulate it:

[code]

[2015-01-07 17:10] dougwilson commented on #206
Probably because what you pasted above _is_ less readable, since the tool spits our code suitable for machines, not humans to read (and it lost all your formatting too). I'm not sure what is really happening in the JavaScript you paste, either, lol.

[2015-01-07 17:13] dougwilson commented on #206
Though it doesn't look like that test would have helped with the `express.static` usage that this issue is about :(

[2015-01-07 17:17] DinisCruz commented on #206
yes, correct, in fact, I found the current issue when I asked my self the question 'I wonder what other paths are there in this app?'

Maybe another technique could be to add a 'global watcher' to express, and capture/log all requests served (the idea would be to build 'file structure like' tree of all pages rendered). What would be nice about that approach, is that that list/tree would represent

[2015-01-07 17:21] dougwilson commented on #206
Yea, there are probably modules out there on `npm` that will do this, or you can always make one :) The npm module `morgan` is the "official" access log-style logger for Express, though I'm not sure that meets what you're looking for.

It wouldn't be something added to the express core, through, as the express core is made to only contain the essentials (even containing `express.static` is hotly d

[2015-01-07 17:22] dougwilson commented on #206
P.S. if you ever want to talk, share your ideas, etc. I'm always open to having a Skype call or whatever :) Feel free to shoot me an email any time.

[2015-01-07 17:29] DinisCruz commented on #206
cool @dougwilson I will remember that :)

Thanks again for the help and comments

[2015-01-07 17:36] DinisCruz commented on #206
@dougwilson what is your Skype name? (mine is DinisCruz) I do have another question for you :)

[2015-01-07 17:44] dougwilson commented on #206
It's no problem :) I don't really post it out here since people will probably start adding me randomly :) You can always ask me via email, or, since you already posted yours, I'll just add you :)

[2015-01-07 20:53] DinisCruz commented on #212
done with commit https://github.com/TeamMentor/TM_4_0_Design/commit/f676f9db32b396aae8ae36a7ea543c46b565e8c9

The syntax is:  http://localhost:1337/render/mixin/**{mixin file name}}**/**{mixin name}**?**params**

Here are some examples of this new feature in action:

* http://localhost:1337/render/mixin/images/image-securityinnovation-logo
![image](https://cloud.githubusercontent.com/assets/656739

[2015-01-07 21:56] DinisCruz commented on #212
@luchia can you review this (and close it once you confirm that it is working)

I think you will find that this technique of rendering the mixins directly is VERY powerful (try with different values)

[2015-01-07 22:15] luchia opened #214 "Remove comments in all templates"
They are unnecessary and cluttering the code.

[2015-01-07 23:08] DinisCruz opened #215 "Replace Navigate page with search result page showing all data"
The items here

![image](https://cloud.githubusercontent.com/assets/656739/5655091/e7bb2aa8-96c1-11e4-90ff-6c1a5be74b2f.png)

should be shown on the left here

![image](https://cloud.githubusercontent.com/assets/656739/5655103/fdcfbfb6-96c1-11e4-805e-5fbeacbf07a9.png)

[2015-01-07 23:20] luchia commented on #199
Sure. Re-assigning to me after our meeting this morning, there is some work to do to make the navigation of these more obvious.

[2015-01-07 23:42] DinisCruz commented on #199
Yap, we're going to bake this breadcrumbs into a nice navigation

[2015-01-08 01:31] luchia commented on #199
This is what they look like at the moment -

![screen shot 2015-01-08 at 11 23 41 am](https://cloud.githubusercontent.com/assets/4547737/5656534/d11c50fc-9729-11e4-82a8-f011b038b9f8.png)

Style might change a bit (feedback, changing my mind etc) but the structure is there. @DinisCruz I have re-assigned back to you so you can do your thing with the logic on these. [I left the breadcrumbs commented

[2015-01-08 01:32] luchia opened #216 "Rename 'Home' in the navigation bar to 'Search'"
A more accurate description for the User.

[2015-01-08 01:36] luchia commented on #216
![screen shot 2015-01-08 at 11 34 53 am](https://cloud.githubusercontent.com/assets/4547737/5656560/616e6726-972a-11e4-94fb-fa9c7782cdfa.png)

[This has been done.](https://github.com/TeamMentor/TM_4_0_Design/commit/abc0cb8ca3d820153c0638a2d996b83375ccea15). Re-assigned to Dinis to update his tests.

[2015-01-08 01:38] luchia commented on #212
This is working.

[2015-01-08 01:38] #212 closed

[2015-01-08 05:26] luchia commented on #205
[Flare is finished as well.](https://github.com/TeamMentor/TM_4_0_Design/commit/72b4e480ac6e842b490ec55ffdd7cf0936b8160b)

[2015-01-08 06:16] luchia commented on #150
[This has been started.](https://github.com/TeamMentor/TM_4_0_Design/commit/a3e80ff26cea47a4d98ebb992a991e427b7dacaa) I still have a bit more to do.

[2015-01-08 11:01] DinisCruz opened #217 "Add unit test to TM_Design_QA that compiles all Jade files"
This will help to detect issues like https://github.com/TeamMentor/TM_4_0_Design/commit/2031ad93b97525562689a1ae8dcbc92f586a1c50 and https://github.com/TeamMentor/TM_4_0_Design/commit/e1978296706a26d34079284533782f39a780b16a#diff-2

[2015-01-08 11:48] DinisCruz commented on #199
Cool, I've fixed the UnitTests and will take it from here

Nice work :)

[2015-01-08 11:49] DinisCruz commented on #216
This is done

[2015-01-08 11:49] #216 closed

[2015-01-08 11:50] DinisCruz opened #218 "Small alignment issue with Search button"
![image](https://cloud.githubusercontent.com/assets/656739/5662116/7ec00d1e-972c-11e4-8c22-080b7addb107.png)

[2015-01-08 11:52] DinisCruz commented on #214
@luchia assign these kind of issues to me since I'm the one that is actually looking at the code

Btw, great work at cleaning up the _ALL folder

done, closing

[2015-01-08 11:52] #214 closed

[2015-01-08 11:53] DinisCruz commented on #203
yap, closing this one

[2015-01-08 11:53] #203 closed

[2015-01-08 11:53] DinisCruz commented on #205
yap done

[2015-01-08 11:53] #205 closed

[2015-01-08 11:54] DinisCruz commented on #201
this is done, closing it

[2015-01-08 11:54] #201 closed

[2015-01-08 14:40] DinisCruz commented on #120
Here is the test that confirms the fix

[code]

[2015-01-08 14:59] DinisCruz commented on #120
Done with https://github.com/TeamMentor/TM_4_0_Design/commit/7349cc65e15e514812b3a60ad25291860769ebd4 and tested with https://github.com/TeamMentor/TM_4_0_QA/commit/4d5e3d7d8dc5bf84731714034f7598e280a3f27a

**Design Tests:**
![image](https://cloud.githubusercontent.com/assets/656739/5664146/eacd6b8c-9745-11e4-8881-cbea9f91150e.png)

**QA Tests:**
![image](https://cloud.githubusercontent.com/assets

[2015-01-08 15:01] DinisCruz commented on #120
Here is what it looks in action:

![image](https://cloud.githubusercontent.com/assets/656739/5664284/2d28626a-9747-11e4-8ca1-1add32493196.png)

[2015-01-08 16:02] michaelhidalgo opened #219 "Error in TM_4_0_GraphDB : cannot call next() after end()"
I'm updating my local branches and when I try to run TM 4.0 and fetch some articles,

I got this error

Error: cannot call next() after end()
  at ReadStream.read [as _read] (/Users/michaelhidalgo/TM4.0/TM_4_0_GraphDB/node_modules/levelgraph/node_modules/levelup/lib/read-stream.js:49:18)
  at ReadStream.Readable.read (/Users/michaelhidalgo/TM4.0/TM_4_0_GraphDB/node_modules/levelgraph/node_modules/

[2015-01-08 16:14] DinisCruz commented on #218
I think the prob is related to **vertical-align: middle;'** style

If it is, here is a test that checks for it

[code]

[2015-01-08 16:15] michaelhidalgo commented on #219
It turns out that the  .tm-Config file was missing

https://github.com/TeamMentor/TM_4_0_Design/wiki/Troubleshooting-running-QA-scripts

[2015-01-08 17:45] roman87 commented on #219
I am having exact same issue. And I do have my .tm-Config :)

[2015-01-08 17:48] roman87 commented on #219
Mine happens pretty much every time i try to go to navigate somewhere:
Server started at: http://localhost:1332

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: cannot call next() after end()
  at ReadStream.read [as _read] (/home/rom/Dev/TeamMentor/TM_4_0_GraphDB/node_modules/levelgraph/node_modules/levelup/lib/read-stream.js:49:18)
  at ReadStream.Readable.read (

[2015-01-08 17:50] roman87 commented on #219
And when things do work, I get no results..
![selection_041](https://cloud.githubusercontent.com/assets/1326120/5667328/e0adce6e-9734-11e4-82d4-3bf5c7ee41cf.png)

[2015-01-08 17:58] DinisCruz commented on #219
try removing the GraphDB .tmCache folder and reloading the tm-uno data https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-build-and-run-the-GraphDB

[2015-01-08 17:58] DinisCruz commented on #219
also make sure that all is up-to-date by running the ```git submodule update``` and  ```npm install```

[2015-01-08 18:20] DinisCruz commented on #219
and check that the user defined in the auth token exists on the target 3.5 instance

[2015-01-08 20:38] roman87 opened #220 "When graph DB cannot authenticate to the backend, it should abort any data loading."
Currently, when GraphDB cannot authenticate to the backend, due to invalid user, worng authkey etc, it still downloads as much data as it can. This results in database being incomplete and causes graphDB to crash when query on non existent data set is performed. Which is probably related to https://github.com/TeamMentor/TM_4_0_Design/issues/191

[2015-01-08 20:44] roman87 opened #221 "GraphDB should not crash when it can't fulfil a query"
When there is not enough data in the graph database to fulfill a query, it should return an error and not crash.
Related to #220

[2015-01-08 20:46] roman87 commented on #219
So this looks like this was a result of the database not being able to authenticate to 3.5 back end, yet still trying to download the data. On the backend, Somehow, the user I was using had disappeared. The file for the user was there, yet it was 0kb in size.
I updated the wiki with instructions on how to create a new user and a new auth token.
https://github.com/TeamMentor/TM_4_0_Design/wiki/How-

[2015-01-08 20:46] #219 closed

[2015-01-08 20:57] roman87 commented on #216
Lets make sure we mark the resolution as fixed when we close and lets keep the type.

[2015-01-08 21:01] roman87 commented on #203
So now we have a question on where to keep "my saved articles" "my teams articles" etc. Which originally was supposed to be under the navigate list. i.e. under "index". I think we will need to come back to this one at some point soon.

[2015-01-08 21:02] roman87 commented on #201
and looks quite nice.

[2015-01-08 21:09] roman87 commented on #218
making this a P0 for @luchia  since its the only P0 on your plate.

[2015-01-08 21:27] roman87 commented on #120
Functionality works nicely. @DinisCruz
# [ ] Should we have last 3 articles instead of only 2? 2 look awfully lonely there.
# [ ]  Another thing, is when the user click on the article from the actual Recently Viewed list, should we move that article to the top of the list? It seems like it would make sense to do so?

# [ ] Also, @luchia do you think we can make it look nicer? right now the spacing

[2015-01-08 21:30] roman87 commented on #120
Assigning to @DinisCruz  for items 1 2 and 4 above. Then you can pass it to @luchia for item 3.

[2015-01-08 21:33] roman87 commented on #199
Yep, looks really good.

[2015-01-08 21:44] DinisCruz commented on #113
This is now fixed, and looks like this

![image](https://cloud.githubusercontent.com/assets/656739/5671400/7b486976-977f-11e4-8e9a-8c143a7d5bd3.png)

[2015-01-08 21:47] DinisCruz commented on #174
Since we are not going to get this data from the TM backend in the short-term (i.e. this week), I used a different strategy to calculate these values.

This is now done by counting all articles 'clicked' by the user (the ones shown in the 'recently viewed') and showing the top 5

[2015-01-08 21:47] DinisCruz commented on #174
like this (ignore the 'title' since that was generated by Unit Tests UI Automation)

![image](https://cloud.githubusercontent.com/assets/656739/5671450/eaaf316e-977f-11e4-805d-dd4168471ab7.png)

[2015-01-08 21:48] roman87 commented on #139
So specifically for email, here is what I get when I put in an invalid one:
![selection_044](https://cloud.githubusercontent.com/assets/1326120/5671469/2cec1530-9756-11e4-979b-b022ab2e7aa5.png)

[2015-01-08 21:51] roman87 commented on #139
And if I hit sign up I get this:
![blah](https://cloud.githubusercontent.com/assets/1326120/5671520/8a730b0a-9756-11e4-8702-b067d12541b8.png)

[2015-01-08 21:56] DinisCruz commented on #120
done on latest commit

[2015-01-08 22:45] roman87 commented on #138
Oh on the sign up form it may make sense.

[2015-01-08 22:57] roman87 commented on #215
Closing as dupe of: #195

[2015-01-08 22:57] #215 closed

[2015-01-08 23:18] roman87 commented on #206
Ideally it is a matter of comparing access log (which we don't have, but should in the TM app) and the known app surface we already have. Technically the issue only arises when the access log shows a successful request for a page that we don't have in our app surface list. That means a successful intrusion. I am not sure if it makes sense to do this in the app since this is much better handled by

[2015-01-08 23:19] roman87 commented on #210
Why do we need to write this? There are plenty of good fuzzing tools out there - including Cx and Appscan :)?

[2015-01-08 23:20] roman87 commented on #210
Assigning to @DinisCruz to provide clarification on this.

[2015-01-08 23:31] roman87 commented on #211
While this is a great point,  this issue does not meet our guidelines for github issues :):
https://tm4tm.teammentor.net/article/eda02d82-4570-4fbe-aff7-18ddff73b072

"All issues must:

    Be actionable, written as an action form and represent or strive for a goal
    Related to code, configuration, content, or functionality (current/future) of TM
    Relate to actor interacting with TM (user, ad

[2015-01-08 23:54] roman87 commented on #207
I don't see how bullet points 2, 3 and 4 are a CSRF issue. They are all valid issues, just not CSRF.
I will take this and break this up into actionable issues and arrange them into sprints accordingly.

[2015-01-09 01:05] roman87 commented on #82
So this is great stuff.  Why is there always an empty browser page after resizing from small to large?
Lets add more scenarios.  What we also need to create is screenshots of multiple pages in multiple browsers. Lets stick to Chrome, FF, IE8, IE9, IE10, IE11 and Safari for now.
Lets also test for FF on Android and Safari on iOS
We don't necessarily need to re size all the pages on all the browsers

[2015-01-09 01:06] roman87 commented on #82
But we need screenshots of pretty much all the pages.

[2015-01-09 02:55] michaelhidalgo commented on #82
Alright, sounds good.

Yeah theres is always a blank screenshot which is created by SauceLabs
recording. I was trying to avoid saving the first image but the problem is
that sometimes the first screenshot is not blank. I could check the bite
size for those empty/blank images and simple skip them.

I'll add more scenarios.

2015-01-08 19:06 GMT-06:00 RomichG <notifications@github.com>:

--
Michael

[2015-01-09 08:22] DinisCruz commented on #221
Yeah that backend code is probably the one most unstable and with the least amount of code coverage

[2015-01-09 08:22] DinisCruz commented on #216
ok

[2015-01-09 08:27] DinisCruz commented on #206
I has not been fixed, which you can confirm by the fact that this test still passes: master/tests/security/to-review.coffee#L10

The solution is https://github.com/TeamMentor/TM_4_0_Design/issues/206#issuecomment-69047991

I will also review http://expressjs.com/guide/using-middleware.html#middleware.built-in and understand better how express-static works

[2015-01-09 08:32] DinisCruz commented on #211
I agree and that is why I put it on the 'Accepted (no fix)' list

![image](https://cloud.githubusercontent.com/assets/656739/5677129/dfff2efe-97d9-11e4-8e28-6532d5c9b70d.png)

The idea is that we should have an issue for every case of 'security' that we can think of, and for the ones that we have no plans to deal in the short term, we should close it (like I'm going to do now)

[2015-01-09 08:32] #211 closed

[2015-01-09 08:37] DinisCruz commented on #207
Well they are possible because any of those forms are not protected for CSRF

A key problem is that we should have no actions (that change state) on our website that can be triggered by anybody apart from the user

[2015-01-09 08:39] DinisCruz commented on #207
yes @michaelhidalgo, and interesting way to test this would be to do the actions using pure http requests where you would prove:
a) there are no unique/secret values that are needed to be provided in order for the request to work (i.e. the CSRF token)
b) you can replay the request

[2015-01-09 10:08] DinisCruz opened #223 "Explore the idea to add known searches to the search dropdown in Jade"
We can't do this dynamically (since we have no JS in Jade) but if we can add an editable dropdown box to the search field, that would help the user to find a good search

at the moment the user will see its past searches:

![image](https://cloud.githubusercontent.com/assets/656739/5678145/2b670bc0-97e7-11e4-8296-fbb58f2833f3.png)

and it would be good to show this list

![image](https://cloud.gith

[2015-01-09 10:24] DinisCruz opened #224 "Should w - Buy TravisCI Pro Subscription"
As per the thread https://twitter.com/DinisCruz/status/553486501372522496 with a PRO account our tests, will run the tests much faster (and will add some level of security to our tests). This sounds simple but I already spend considerable amounts of time waiting/checking for a travis build to start

Here are the plans: https://travis-ci.com/plans (the **Startup** is good enough for us)

TravisCI i

[2015-01-09 12:44] DinisCruz opened #225 "Improve and fix GraphDB data retrieval API"
This is needed in order to allow https://github.com/TeamMentor/TM_4_0_Design/issues/195 and https://github.com/TeamMentor/TM_4_0_Design/issues/94

While looking at the GraphDB code also see if the root causes of https://github.com/TeamMentor/TM_4_0_Design/issues/221 and https://github.com/TeamMentor/TM_4_0_Design/issues/220 can be addressed

[2015-01-09 15:56] roman87 commented on #224
We need to discuss the pro's and cons of using Travis vs TC. As it is now, our main CI platform is TC with Travis being used for convenience. If we are to move to Travis as the main TC platform, we need to understand the full implications. In particular some question are:

1. What can we co in travis that we cannot do in TC
2. What can we do in TC that we cannot do in travis
3. What are the securi

[2015-01-09 15:58] roman87 commented on #223
Personally, I think this is too much information of the user and for the dropbox. But we can discuss.

[2015-01-09 16:03] DinisCruz commented on #224
travis is working

[2015-01-09 16:07] roman87 commented on #207
True,  but there are certain actions that change state without our ability to know context of the user :). Like creating an account or sending a password reset request.  These are not CSRF then, since at that point our site has no knowledge of who it is actually behind the keyboard on the other side (or a bot). The way to solve these is to introduce progressive timeouts and CAPTCHA,

@michaelhidal

[2015-01-09 16:08] roman87 commented on #224
I thought TC was working as well :)? Is it not working because we did not configure it correctly or is it because of TC limitation?

[2015-01-09 16:11] roman87 commented on #211
Yea I agree. What you are describing is a risk register. And this is probably not the best tool for it. But for the lack of a better one, a wiki with links to issues will do.

[2015-01-09 16:17] roman87 commented on #221
Cool, good idea to make it table.

[2015-01-09 17:01] DinisCruz commented on #207
except that we don't have Appscan and WebInspect working at the moment and it will not be an easy task to do it (achieve the type of testing that we will need)

not to say that we shouldn't use Appscan and WebInspect on TM 4.0 (the more tools to hit it the better) but so far, in any of the TM sites, we don't have any repeatable workflow using those tools (Appscan and WebInspect)

[2015-01-09 17:22] DinisCruz commented on #211
Btw, we can treat this GH Wiki as an Git Repo, see https://github.com/TeamMentor/TM_4_0_Design/wiki/Editing-this-wiki

Which actually means that (since those are md files) it would not be that hard to (eventually, not now) to consume those files from a TM repo

[2015-01-09 17:30] roman87 commented on #207
So going back to our discussion of how a good secure programing should  occur - most mature appsec programs have a repeatable process where an application gets scanned with one of these tools periodically in the life cycle.In fact this is what our MAST offering provides exactly :). I will talk with @tlaloc75  to see if we can get TM as part of that service.

[2015-01-09 17:32] roman87 commented on #211
Yea that is really cool.

[2015-01-09 17:42] michaelhidalgo commented on #105
This issue should be fixed with https://github.com/TeamMentor/TM_4_0_Design/pull/222

Note that at the moment, the password policy matches exactly what TM 3.5  is using. We will need to use a strong pattern that involves the usage of upper case letters too.

However this fix needs to be done in parallel to be consistent across platforms.

[2015-01-09 17:45] roman87 opened #226 "Main Home/Search page needs a bit of aesthetic tweaking"
Now that we have added content, the main Jade page could look a bit of a facelift.
First the spacing between the articles and the headings is evenly double, which makes it look all monolithic. The whole page also directs the user's attention away from Search, which should be the main point of the page.
Then specific issues.
1. The last item is too low and is being covered by the browser URL locati

[2015-01-09 19:11] roman87 commented on #120
This looks good.
2. was discussed on the call and we agreed not to do it. for 3. A new issue was opened: #226
Bumping it for comment on 4 so we can then close this.

[2015-01-09 19:25] roman87 commented on #113
This looks really nice. Opened related issue #226 for some visual cleanup.
As far as this goes. 2 issues.
- [ ] 1. I think that popular search terms should follow the same functionality as Top Articles. i.e. number of times the search term was used determines its rank as opposed to the latest search term.
- [ ] 2. To be consistent with the decision we made here: https://github.com/TeamMentor/TM_4_

[2015-01-09 19:35] roman87 commented on #164
Looks good. Closing

[2015-01-09 19:35] #164 closed

[2015-01-09 19:55] roman87 commented on #174
At this point this is a good solution. The best solution for this would be "Like" button on the article. Articles with most "likes" make it to the page. It can also be manually overwridden.  I opened a story for this https://github.com/TeamMentor/Master/issues/940 for sprint 4.

[2015-01-09 19:55] roman87 commented on #174
closing.

[2015-01-09 19:55] #174 closed

[2015-01-09 20:39] roman87 commented on #175
This is done

[2015-01-09 20:39] #175 closed

[2015-01-09 20:42] roman87 opened #227 "Popular Search Terms do not survive a node restart"
Relates to:
#175
#113

Before Restart:

![selection_046](https://cloud.githubusercontent.com/assets/1326120/5686997/127fb934-9816-11e4-8470-56f43aa99064.png)

After Restart:
![selection_047](https://cloud.githubusercontent.com/assets/1326120/5687006/1f2a050e-9816-11e4-8fe5-1bdef31d3c98.png)

[2015-01-09 20:57] roman87 commented on #192
I thought @luchia was going to take a look and see if it is doable to have the checkboxes and  receive the checkbox event?

[2015-01-09 21:09] roman87 commented on #198
Fixed.

[2015-01-09 21:09] #198 closed

[2015-01-10 07:38] DinisCruz commented on #120
I really think that we need to have **Search** in there as a menu item, since this version of TM is designed to be **search** focused

Here is an idea, what if we:
* renamed **Search** back to **Home**
* renamed **Navigate** to **Search**
* re added the search input field (which is now starting to work) to that **Search page** (i.e. the current **Navigate** page)

[2015-01-10 07:40] DinisCruz commented on #227
yeah, those 3 are hard-coded in there

[2015-01-10 07:41] DinisCruz commented on #192
even if we can get an event from a checkbox, we agreed that for Jade you can only have 1 selected option on the right

[2015-01-11 18:24] DinisCruz opened #228 "Angular JS vs React in Flare"
Since Flare is going to start with light JS, we should keep in mind that these days (in 2015) there might be other options when compared with AngularJS

[React](http://facebook.github.io/react/) in an interesting option

It looks like React has quite a lot of performance focus, for example this is why Atom Editor uses React:
* http://blog.atom.io/2014/07/02/moving-atom-to-react.html
* http://blog.

[2015-01-11 22:30] luchia commented on #192
So we don't actually need the checkboxes anymore right...? Because only one can ever be selected.

[2015-01-11 22:31] luchia commented on #139
Must be default browser validation caused by the form inputs being given values (email, password). I didn't realise it was doing that, that's cool.

[2015-01-11 22:33] luchia commented on #139
I thought it would be a nice touch if when the user enters an incorrect password in the sign up form, it tells them that it needs to be x/y/z. Up to you guys, maybe a later feature.

[2015-01-11 22:50] luchia commented on #218
This has been fixed but I can't push my changes until I sort out my issues with graph DB.

![screen shot 2015-01-12 at 8 49 36 am](https://cloud.githubusercontent.com/assets/4547737/5697292/00bfacda-9a38-11e4-9e4d-a11e541e4e2e.png)

[2015-01-11 22:54] luchia commented on #223
Don't we already cover known/popular searches with the things we display on the user/main page?

[2015-01-11 23:32] luchia commented on #150
This has been finished but I can't push my changes until I fix the problems I'm having with my Graph DB.

[2015-01-12 00:46] luchia commented on #226
Hey Roman, I've worked on the specific issues for this issue and would like your feedback so far. I'm struggling to build something alternate to keep the search bar prominent (like making it sticky), but will keep trying.

![screen shot 2015-01-12 at 10 35 20 am](https://cloud.githubusercontent.com/assets/4547737/5697813/66d3e05e-9a47-11e4-9939-f1f72a0987ab.png)
![screen shot 2015-01-12 at 10 36 5

[2015-01-12 02:39] luchia commented on #226
This is the solution I came up with for the search bar -

![scroll](https://cloud.githubusercontent.com/assets/4547737/5698366/f115f012-9a57-11e4-8f0e-7724aad67e83.gif)

Still needs work in mobile.

[2015-01-12 02:53] luchia commented on #226
The work in mobile -
![mobile-scroll](https://cloud.githubusercontent.com/assets/4547737/5698443/c10e117c-9a59-11e4-8d1d-488b986cd1e2.gif)

Transitioning from mobile to desktop view -
![mtod](https://cloud.githubusercontent.com/assets/4547737/5698458/ece4cd5e-9a59-11e4-9c5b-b09088a19e62.gif)

[2015-01-12 02:55] luchia commented on #226
Re-assigned back to me because I realised you can't check it until I push my code to Github.

[2015-01-12 11:15] DinisCruz commented on #150
what's the prob with your GraphDB?

Have you seen https://github.com/TeamMentor/TM_4_0_Design/wiki/Troubleshooting-running-QA-scripts

If that didn't solve your prob, open an issue with it

[2015-01-12 11:15] DinisCruz commented on #192
Yes, no need for checkboxes in Jade

[2015-01-12 16:49] roman87 commented on #120
Hmm..  Navigate has a distinct function. The point of Navigation is to brows through articles - Index of articles, Curated Content, Policy and Frameworks etc. This is where someone wants to use a taxonomy to get to content.
Search is more about finding specific content and generate the taxonomy based on the results of the content.
So I think they are really different in functionality. I like havin

[2015-01-12 16:50] roman87 commented on #228
Yep, we definitely want to be on the bleeding edge, as this is something we most likely not going to change in the next few years. At the same time not as much on the bleeding edge that we hit bugs of all sorts :)

[2015-01-12 16:51] roman87 commented on #139
Yea I agree, it should be there. We should do client side validation as well.

[2015-01-12 16:52] roman87 commented on #139
Especially since we do it today in 3.5 and I don't think it would be that difficult to add it in.

[2015-01-12 17:13] roman87 commented on #218
Whats the issue # for you GraphDB problem :)

[2015-01-12 17:16] roman87 commented on #223
That is true. I think this is a  feature we should have strictly in flare. lets not make things more complicated than they have to be.

[2015-01-12 17:17] roman87 commented on #226
Looks good on the pictures!

[2015-01-12 17:19] roman87 commented on #192
Ok cool so I am closing this one.

[2015-01-12 17:19] #192 closed

[2015-01-12 18:01] roman87 commented on #105
Couple of small things:
- [ ] 1. On the error should be "Error: and stat the error"
![selection_048](https://cloud.githubusercontent.com/assets/1326120/5707900/a335089e-9a5a-11e4-8ad2-6383127beb75.png)

- [ ] 2. For password errors, we should specify the full password specification in all error messages. i.e. we should state "Password must be 8 to 256 char long, contain a letter, number and a spec

[2015-01-12 18:02] michaelhidalgo commented on #176
I started looking at the NGit API:

We will have a single Library (Uno in our case) with all the articles in there. It's required to have the library properly configured in the TM Secret data configuration at Github.

Now by using NGit, I'm able to fetch the latest commits.  In this case below, that single commit contains several files modified, but in theory when an article is created/modified, e

[2015-01-12 18:12] roman87 opened #229 "Remove emoticons from status messages"
We should remove the emoticons from status messages.
![selection_052](https://cloud.githubusercontent.com/assets/1326120/5708148/a78d9ea4-9a5c-11e4-85ee-4a955e329417.png)

[2015-01-12 18:14] roman87 opened #230 "Change password reset message"
We should change the password reset message to what we have now in TM 3.5
"If you entered a valid address, then a password reset link has been sent to your email address."

[2015-01-12 18:19] roman87 commented on #176
Commit may contain more than one modified article.

If we pull the guids, then we can add that data to the graphDB. That way we can add the last mod time as an attribute to the article.
This seems quite complicated for this beta version. I think we should push this functionality to sprint 3. What do you guys @DinisCruz @luchia think?

[2015-01-12 18:20] michaelhidalgo commented on #105
There are few validations for the password, one of those is password length, the other one is for password complexity:

![screen shot 2015-01-12 at 12 14 21 pm](https://cloud.githubusercontent.com/assets/1732035/5708204/ab02c350-9a54-11e4-8bf7-efb5a85eb2de.png)

In TM 3.5, we do have the same validations in place.

[2015-01-12 18:54] DinisCruz commented on #176
To be honest, I think the 'New Articles' feature will only make sense when there is a constant stream of articles being added to TM, if not, that value is going to be very stale (and we might has well do it manually).

Also I just realised that a better location to get this (in the short term) is the Edit values of the User activity logs

![image](https://cloud.githubusercontent.com/assets/656739/

[2015-01-12 18:56] roman87 commented on #105
I think we should  make the change in 3.6 now then. Lets make sure we use the correct validation regex that check for both upper case and password without numbers.
But first lets fix 1 and 4 above

[2015-01-12 18:57] roman87 commented on #176
Ok then we agree that we leave it for sprint 3.

[2015-01-12 18:58] michaelhidalgo commented on #105
Ok great, doing it right now.

[2015-01-12 19:01] roman87 commented on #202
This is fixed.

[2015-01-12 19:01] #202 closed

[2015-01-12 19:04] roman87 commented on #128
This is fixed.

[2015-01-12 19:04] #128 closed

[2015-01-12 19:14] roman87 commented on #190
We should probably move this somewhere else at some point. But for now it looks good.

[2015-01-12 19:15] #190 closed

[2015-01-12 19:17] roman87 commented on #189
All fixed.

[2015-01-12 19:17] #189 closed

[2015-01-12 19:21] roman87 commented on #163
Looks good!

![selection_053](https://cloud.githubusercontent.com/assets/1326120/5709251/4c99c75c-9a66-11e4-81cf-2c6969270410.png)

[2015-01-12 19:21] #163 closed

[2015-01-12 19:23] roman87 commented on #147
Seems like this was not assigned to anybody. This is an important one. I will take it for now.

[2015-01-12 19:23] roman87 commented on #98
This one was not assigned to anyone ether. It seems that it is fixed. I don't see it anymore. @DinisCruz can you reproduce it?

[2015-01-12 19:35] DinisCruz commented on #228
so React is being made and supported by Facebook, which kinda runs a big website :)

[2015-01-12 19:38] DinisCruz commented on #98
Yeah, this is fixed on the latest version , so closing it

[2015-01-12 19:38] #98 closed

[2015-01-12 20:30] roman87 commented on #228
I am not a big fan of Facebook's usability :) maybe React is not the best idea :) Anyways is this something we have to decide now or is this something that can wait?

[2015-01-12 20:32] DinisCruz commented on #228
I don't use FB, but it is quick and fast (my wife uses it)

Yeah we can wait for this, the first implementation of Flare will be done using AngularJS

[2015-01-12 20:35] roman87 commented on #95
Related to #199
Moving to p0

[2015-01-12 20:45] DinisCruz commented on #95
Shouldn't we rename this issue to '2nd-level-Navigation' , since these are not breadcrumbs any more

[2015-01-12 21:48] roman87 commented on #228
Ok, so can we close this question for now?

[2015-01-12 21:55] DinisCruz commented on #225
Here is the main reason the GraphDB is currently quite unstable and hard-to-setup, it only has 59% code coverage (I just moved the 'db creation and parsing code' into the main GraphDB code (which is where it needs to be)):

From: https://coveralls.io/r/TeamMentor/TM_4_0_GraphDB

![image](https://cloud.githubusercontent.com/assets/656739/5711833/664ad3fa-9aa5-11e4-9aff-ba658ff15c5a.png)

Note: Igno

[2015-01-12 21:57] roman87 commented on #112
This is done already right? Can we close htis

[2015-01-12 22:04] DinisCruz commented on #228
ok

[2015-01-12 22:04] #228 closed

[2015-01-12 23:45] DinisCruz commented on #112
nope

[2015-01-12 23:58] luchia commented on #229
I have fixed the error messages that I could, but some of them come from the backend by the looks of it -

![screen shot 2015-01-13 at 9 57 17 am](https://cloud.githubusercontent.com/assets/4547737/5713693/a3c0b866-9b0a-11e4-8e07-7842a25418ff.png)

Assigning to Michael so he can either tell me how to change these or he can change them.

[2015-01-13 00:17] luchia commented on #226
[This has been pushed to the repo now.](https://github.com/TeamMentor/TM_4_0_Design/commit/f7110562c46fe8114ee48821dd3dcb181ec32087)

To see it, you will need to remove comment lines from jade/mixins/user-mixins.jade:
* [Here](https://github.com/TeamMentor/TM_4_0_Design/blob/5aa74265d391ed14eabee78413f90b31cce2b57c/source/jade/_mixins/user-mixins.jade#L140)
* [Here](https://github.com/TeamMentor/T

[2015-01-13 00:21] luchia commented on #218
Woops, forgot to create one - it was a silly thing where I couldn't create a token because I don't have a local version of tm-dev.

This has been fixed.

[2015-01-13 00:35] luchia commented on #230
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/59c2a9b8743c675693b3eab4127d57d770fb04a9).

[2015-01-13 00:41] luchia opened #231 "Create alert for user to see when their password does not meet TM requirements"
We have in-browser validation for when a user doesn't enter a correct email address but we do not have a way to tell the user what the password should contain. This is important because TM has many requirements for a password to be acceptable and it may take a couple of tries before the user could submit a new one.

Suggestions were made to have individual messages for each variance - eg. If the u

[2015-01-13 01:03] luchia commented on #231
Two options that I came up with are below.

##### Prompts on top of the input
![screen shot 2015-01-13 at 11 01 09 am](https://cloud.githubusercontent.com/assets/4547737/5714389/9f1509da-9b13-11e4-8b2f-058dd49e73bd.png)

##### Prompts underneath the input
![screen shot 2015-01-13 at 11 01 25 am](https://cloud.githubusercontent.com/assets/4547737/5714399/b9dc0462-9b13-11e4-8293-d97d6b02e846.png)

I

[2015-01-13 01:06] michaelhidalgo commented on #230
This is fixed.

[2015-01-13 01:06] michaelhidalgo commented on #230
Assigning it to me to write a test for it.

[2015-01-13 01:10] luchia commented on #229
Michael and I had a look at this today and it seems like it was only the mixin that had smiley faces, not the backend.

So this has been fixed and needs to be checked now.

[2015-01-13 01:12] michaelhidalgo commented on #229
This is how it looks like after Lucy did the fix :

@roman87 , have you seen other places where there are emoticons?

![screen shot 2015-01-12 at 7 05 00 pm](https://cloud.githubusercontent.com/assets/1732035/5714469/ecae15cc-9a8e-11e4-8bea-ff507d6d570f.png)

[2015-01-13 01:33] luchia commented on #231
Some more work with spacing on the second screenshot (prompts below inputs) -

![screen shot 2015-01-13 at 11 32 45 am](https://cloud.githubusercontent.com/assets/4547737/5714669/fd62e8fa-9b17-11e4-99f0-f787429eabc3.png)

[2015-01-13 01:36] #229 closed

[2015-01-13 01:38] michaelhidalgo commented on #229
I fixed a broken test with this Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/232

The change is fairly simple as I just changed the assertion to match the returning value (which does not have the smiley face).

[2015-01-13 01:38] michaelhidalgo commented on #229
Now it is passing in Travis https://travis-ci.org/TeamMentor/TM_4_0_Design

[2015-01-13 01:52] luchia opened #233 "Add TOC statement to Jade sign up form"
The same as Flare, we do not have a small prompt that tells the user they agree to our terms and conditions on sign up.

[2015-01-13 01:53] luchia opened #234 "Missing TOC from Jade landing page footers"
They have disappeared and we need to have the link there (per @tlaloc75 request).

[2015-01-13 02:15] luchia opened #235 "Terms and Conditions page has no navigation (Jade)"
It's a really long page with no indication of what is contained in it. I think we'd be helping our users if we gave them some sort of table of contents or sub-navigation so they can access any specific parts that interest them.

[2015-01-13 02:17] luchia commented on #233
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/843e515f15c4138539eddb3b0d7437d7fd714323) -

![screen shot 2015-01-13 at 12 15 44 pm](https://cloud.githubusercontent.com/assets/4547737/5715021/0d709fe8-9b1e-11e4-9068-b75674e7ddf8.png)

[2015-01-13 03:39] luchia commented on #234
[This is fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/23abce926d0406010b795a000c676b8ab0ee6320) and looking great -

##### Mobile
![screen shot 2015-01-13 at 1 35 01 pm](https://cloud.githubusercontent.com/assets/4547737/5715692/70e0d39e-9b29-11e4-8e3f-dd67f1bcb9dc.png)
##### Desktop
![screen shot 2015-01-13 at 1 36 31 pm](https://cloud.githubusercontent.com/assets/4547737/5715693/70e

[2015-01-13 03:40] luchia opened #236 "Update Flare footer to match Jade footer (landing pages)"
I did some work for #234 and updated the footer in the process. I think it looks really good and would like to do a similar layout for our Flare landing pages.

[2015-01-13 04:04] luchia commented on #235
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/f2c807184d7d9ca3c34d40438b6527036688b41c) -

![screen shot 2015-01-13 at 2 04 11 pm](https://cloud.githubusercontent.com/assets/4547737/5715880/17d32f64-9b2d-11e4-8ba4-906bfaa9badc.png)

[2015-01-13 04:12] roman87 opened #237 "TM_Design no longer starts under windows"
This seems like an argument parsing error, probably has something to do with not escaping some characters in the package.json file.  There is also some compilation warnings on npm update.

s\jsdom\node_modules\contextify

acorn@0.8.0 node_modules\jade\node_modules\constantinople\node_modules\acorn-glo
bals\node_modules\acorn
transformers@2.1.0 node_modules\jade\node_modules\transformers
├── promis

[2015-01-13 04:13] roman87 commented on #112
Ah right, nevermind, was reading it wrong. Ok, moving back to P3

[2015-01-13 04:15] roman87 commented on #218
I'll take the QA on that one.

[2015-01-13 04:16] roman87 commented on #229
Don't forget that there is a bunch of frown faces there as well :)

[2015-01-13 04:21] luchia commented on #150
[This is finished](https://github.com/TeamMentor/TM_4_0_Design/commit/f2c807184d7d9ca3c34d40438b6527036688b41c) (I think)

[2015-01-13 04:22] luchia commented on #236
[This has been done.](https://github.com/TeamMentor/TM_4_0_Design/commit/127c579f8c0bb719e3c4760ab7432b30d6e23ff1#diff-a8e48b3ed925827bc6dca14b7d11dc48R119)

[2015-01-13 12:11] DinisCruz commented on #237
I think it is because windows does not recognise node js files like osx/linux does

can you try this
[code]

which is basically prepending ```node``` to the commands you can see at ```npm run```

[2015-01-13 12:16] DinisCruz opened #238 "Improve design of Help page"
Since @luchia has some design cycles this week, It would be good to improve the design of the help page:

* no clear indication that we are on the HELP page (and top left area fells squished)
* conflict of styles between the title of the page and the help content:

![image](https://cloud.githubusercontent.com/assets/656739/5720559/b6b1b2c8-9b1d-11e4-9777-5f180158471d.png)

and

![image](https://cl

[2015-01-13 12:25] DinisCruz opened #239 "Express is running under debug mode"
As described in our own [Code Assisted Penetration Testing of a NodeJS App](http://blog.securityinnovation.com/blog/2014/10/code-assisted-penetration-testing-of-a-nodejs-app.html) SI blog, we need to handle the case of running Express outside Debug mode (which we shouldn't in production environments)

At the moment we are affected:

![image](https://cloud.githubusercontent.com/assets/656739/572063

[2015-01-13 13:50] DinisCruz opened #240 "Login_Controller.loginUser throws Cannot read property 'Login_Status' of undefined"
When the answer from

![image](https://cloud.githubusercontent.com/assets/656739/5721544/cbca7ac0-9b2a-11e4-8899-ebae61a7de5f.png)

is null

here is the error

![image](https://cloud.githubusercontent.com/assets/656739/5721504/6384adf0-9b2a-11e4-8535-29fcd34c69ef.png)

Worryingly this was not picked up by the TM_Design tests, but by this TM_QA test:

![image](https://cloud.githubusercontent.com/as

[2015-01-13 14:05] roman87 commented on #239
Yep good one. We also need to take a closer look at all the modules we are depending on, their security, dependencies, support and maturity. That is exactly why we should limit the modules we use and be carefull when we deside to use one.

[2015-01-13 14:09] roman87 commented on #240
A bit unrelated, it is good we are finding/fixing all these issues. However I am worried that we are finding them before we have our beta release. Process wise it would be much more efficient to fix these after the beta release. I am considering moving this to P1

[2015-01-13 14:27] michaelhidalgo commented on #240
Good catch Dinis, can you please assign it to me as I developed that feature?

[2015-01-13 15:18] DinisCruz commented on #240
I view it the other way around, it's good that we are finding these issues (instead of having the users reporting them)

Also note that this is a side effect of code recently submitted https://github.com/TeamMentor/TM_4_0_Design/pull/222

[2015-01-13 15:20] DinisCruz commented on #239
yap, and I always take that into account when adding a new dependency

Believe it or not, I'm actually quite conservative when adding new dependencies, and always try to limit them to the maximum

And when I pick an npm module to import, I tend to favour simple vs complex (i.e. a large number of dependencies is definitely not something that I reward)

[2015-01-13 15:23] michaelhidalgo commented on #240
Yeah, I agree. I can see a lack of validation on the object per se. I was
wondering if the code coverage and the cyclomatic complexity would help to
avoid this nasty scenarios.
I think it would because cyclomatic complexity metric computes the
different decisions in code. I wonder if it is possible to measure the
coverage per method with coveralls?

2015-01-13 9:18 GMT-06:00 Dinis Cruz <notificati

[2015-01-13 15:28] roman87 commented on #240
Well, that is what beta is for right :) Its good that we are finding them, My focus though is to have a functioning beta at this time and issues like this can be resolved after we have delivered on functionality. Analogy is if you are building a house -  to put the roof on a house before you fix the stuck door :).  Anyways  now that I tested this issue it seems like it breaks the login and signup

[2015-01-13 15:30] roman87 commented on #239
I am pretty sure you do. My point is that we should document these well and understand the whole dependency tree :)

[2015-01-13 15:37] roman87 commented on #237
yep that worked. Cool!

[2015-01-13 15:37] #237 closed

[2015-01-13 15:44] roman87 commented on #237
Crated a wiki page with the instructions. https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-run-GraphDB-and-NodeTM-under-Windows

[2015-01-13 16:02] roman87 commented on #234
Looks good. Just a minor thing - Email should be a mailto link.

[2015-01-13 16:03] DinisCruz commented on #240
well, what we should start doing very soon, is not to commit to master directly

We should start coding into the Dev branch and only merge into master if the https://travis-ci.org/TeamMentor/TM_4_0_QA tests (which at the moment will run all tests)

[2015-01-13 16:05] DinisCruz commented on #239
Good luck with that

I think there are a lot on Node Community that would like something like that (have you seen https://nodesecurity.io/), maybe something like https://www.owasp.org/index.php/OWASP_Dependency_Check for Node

[2015-01-13 16:06] roman87 commented on #240
Yep, exactly. In TC can't we do the commit to master automatically if the tests pass?

[2015-01-13 16:07] DinisCruz opened #241 "Make Node run scripts compatible with Windows"
As per the prob described at  https://github.com/TeamMentor/TM_4_0_Design/issues/237#issuecomment-69735645, change these https://github.com/TeamMentor/TM_4_0_Design/blob/master/package.json#L15-L23 commands to use the **node**  process

[2015-01-13 16:08] DinisCruz commented on #237
Cool, and I just added the issues https://github.com/TeamMentor/TM_4_0_Design/issues/241 so that you can use **npm start** on windows (which is the standard way to start tm)

[2015-01-13 16:19] roman87 commented on #240
All of this is actually described here:
https://tm4tm.teammentor.net/article/fc34db97-e5f0-48b7-9e53-ac7d010a1895
https://tm4tm.teammentor.net/article/fc34db97-e5f0-48b7-9e53-ac7d010a1895

[2015-01-13 16:40] roman87 commented on #234
@luchia once done can you pass on to Michael for the unit test.

[2015-01-13 16:42] roman87 commented on #236
hmm.. seems like I am getting a blank page on flare/all

![selection_054](https://cloud.githubusercontent.com/assets/1326120/5724387/309d9fca-9b19-11e4-8f39-672db6bb6ce1.png)

[2015-01-13 16:43] roman87 commented on #241
Cool

[2015-01-13 16:47] roman87 commented on #239
Well then its a security risk :). We are dependent on code that is of an unknown vendor, unknown support and we don't really know what code that code depends on :)
Sounds a bit dodgy if I put it that way no?

[2015-01-13 16:50] roman87 commented on #235
Honestly, I am not sure its a good idea @tlaloc75  what do you think?  This is a legal document that is quite generic, nobody really reads it, and making it something more than what people are used to expect from this type of link may have some negative effects.

[2015-01-13 16:53] DinisCruz commented on #240
As per
![image](https://cloud.githubusercontent.com/assets/656739/5724586/8e09d9f0-9b44-11e4-8bb0-3dc551e356c1.png)

the **?.** looks like a good fix for this (and other potential cases, like https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/controllers/Login-Controller.coffee#L50 )

[2015-01-13 16:54] roman87 commented on #233
I am not sure if this is a good idea ether. @tlaloc75 what do you suggest? Personally to me terms and conditions on a sign up page is a big turn off.

[2015-01-13 16:56] DinisCruz commented on #239
it is dodgy and it is why the whole application security world is a mess, specially since everybody is doing it:  Maven, NuGet, Node, etc..

[2015-01-13 16:56] roman87 commented on #231
I think this looks good now. Closing

[2015-01-13 16:56] #231 closed

[2015-01-13 17:01] roman87 opened #242 "Password reset no loner works"
Related to #230

Looks like password reset has stopped working.
Once I click on the get password
![selection_055](https://cloud.githubusercontent.com/assets/1326120/5724758/cca1edfc-9b1b-11e4-80b2-7b0378d61051.png)
 button here is what I get.

[2015-01-13 17:02] roman87 commented on #230
Looks like we can't test this unitll #242 is fixed. Assigning to @michaelhidalgo for unit test.

[2015-01-13 17:08] roman87 commented on #239
Not that I want to start a philosophical discussion here, but that is why Cobol is still around :)

[2015-01-13 17:11] DinisCruz commented on #240
Actually, my original analysis was wrong, although the code that is failing is from that commit, the real prob was caused by ....
![image](https://cloud.githubusercontent.com/assets/656739/5724931/e3a3e872-9b46-11e4-9a3b-fae0f54b92b0.png)

(from https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/globals.jade#L17-L20)
... which removed the **name** attribute from the input field

[2015-01-13 17:13] roman87 commented on #240
It looks like this might be then related to: #242

[2015-01-13 17:15] DinisCruz opened #243 "Move mixins from content folder into _mixins folder"
https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/globals.jade
https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/images.jade

@luchia I want to open a number of mixin related issues, are you ok if I assign them to you?

[2015-01-13 17:17] DinisCruz commented on #240
yap

[2015-01-13 17:18] DinisCruz commented on #240
will have a fix for it in about 10m to 20m

[2015-01-13 17:31] roman87 commented on #95
Yea we can rename it.

[2015-01-13 17:32] roman87 commented on #199
TeamMentor/Master#914

[2015-01-13 17:34] michaelhidalgo commented on #242
Yep, the name attribute for the email field is missing, which means it is not send as a part of the payload.

[2015-01-13 17:56] michaelhidalgo opened #244 "Password forgot HTML form Get Password button type must be 'submit' rather than 'button', the id of the button is also missing"
Password reset form won't be submitted because the button type is not 'submit', it was set to 'button'.

The id attribute is also missing, which is needed for browser automation tests.

![screen shot 2015-01-13 at 11 54 29 am](https://cloud.githubusercontent.com/assets/1732035/5725720/0f46a3a6-9b1b-11e4-8135-ad8d009180dc.png)

[2015-01-13 18:15] DinisCruz commented on #240
This has been fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/15914c6636c78db1a930edfcc43124912dd07724 but I still want to add the unit test for this edge case before we close this

@michaelhidalgo over to you :)

[2015-01-13 18:16] DinisCruz commented on #242
This has been fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/15914c6636c78db1a930edfcc43124912dd07724 and this error is the current error message for this edge case, so we can close this

[2015-01-13 18:19] DinisCruz commented on #218
still not 100%
![image](https://cloud.githubusercontent.com/assets/656739/5726117/bf9f4250-9b50-11e4-83c5-3a96d3d8bc57.png)

http://tm-dev-01.teammentor.net:1337/

[2015-01-13 18:21] DinisCruz opened #245 "Update README.md content, it's completely out of data"
(for example the latest QA version is at http://tm-dev-01.teammentor.net:1337/)

![image](https://cloud.githubusercontent.com/assets/656739/5726130/eb3c326a-9b50-11e4-9660-3e119356f56f.png)

[2015-01-13 18:26] DinisCruz commented on #239
On a parallel thread, there is a case for us (namely SI) to be involved in a 'locked-down' version of Express (i.e. a secure-by-default version of Express, or another node based web server), since we will need it

[2015-01-13 18:50] DinisCruz opened #246 "Create Live-QA tests"
These are tests that execute only on live/QA servers, for example http://tm-dev-01.teammentor.net/

The objective of these tests are to test the exact behaviour that we expect the users to do:
* [ ] Navigate anonymously
* [ ] Create user
* [ ] Login
* [ ] Search for articles
* [ ] View Article
* [ ] Navigate search results

in fact there should be a one to one mapping between the user-stories that

[2015-01-13 18:57] roman87 commented on #242
This is now fixed.

[2015-01-13 18:57] #242 closed

[2015-01-13 20:08] DinisCruz commented on #244
The root of the issue is at https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/globals.jade#L41-L42 (note that that file will change locations, once @luchia fixes: https://github.com/TeamMentor/TM_4_0_Design/issues/243)

![image](https://cloud.githubusercontent.com/assets/656739/5728117/d592fc1e-9b5f-11e4-96e1-f5862240ecd3.png)

Note: as you can see on the screenshot (and code)

[2015-01-13 21:40] michaelhidalgo opened #247 "User signup is broken"
One of the browser automation test we have validates that there is an error by checking the URL (which is good) but does not check the current error message.

I realized that the Signup is failing with an error indicating that Passwords do not match. It seems like the latest changes introduced in the UI did changed the name of the confirm password text box, which raises a validation because the lo

[2015-01-13 21:42] DinisCruz commented on #247
yap, you also need to change those names

but first add a test that represents this prob

[2015-01-13 21:43] roman87 commented on #246
moving information from #170 here
We need to create a full automation test on user signup, with email receipt verified, user login, user logout, bad signup, bad login, and finally password reset.
We can use this service for receipt and checking of email. There is no signup, just pick a mailbox name. All email is deleted after an hour
www.mailinator.com

[2015-01-13 21:44] roman87 commented on #246
This is pretty importaint thing to do. And these tests should be executed in multiple browsers with screen shots executed at strategic points for human validation.

[2015-01-13 21:45] DinisCruz commented on #199
You get the 'invented word of the day' :trophy:

![image](https://cloud.githubusercontent.com/assets/656739/5729828/52f44e1c-9b6d-11e4-8324-118ec5ab92c7.png)

[2015-01-13 21:45] roman87 commented on #170
Closing this as a dupe of #246 which has more info

[2015-01-13 21:45] #170 closed

[2015-01-13 21:46] DinisCruz commented on #246
yap, agree, these are the tests that we should be running on saucelabs

[2015-01-13 21:48] roman87 commented on #244
Do we still need unit tests for this or can we close this?

[2015-01-13 21:51] roman87 commented on #199
Hahaha.. I did invent the word :). These are bugs/tasks/feature requests that belong to a story :)

[2015-01-13 21:58] roman87 opened #248 "Check with Pete J if we need a Privacy policy as part of terms and conditions"

[2015-01-13 22:58] DinisCruz opened #250 "Create wiki page with instructions on how to set-up travis"
Use this issue since you can copy and paste images here.

I will help you as you go along :)

[2015-01-13 23:07] tekgirl77 commented on #250
![image](https://cloud.githubusercontent.com/assets/6649463/5731194/984fe9d4-9b46-11e4-9b1b-a555b92a82fb.png)

[2015-01-13 23:09] tekgirl77 commented on #250
![image](https://cloud.githubusercontent.com/assets/6649463/5731227/e9707108-9b46-11e4-91ef-dd0ce85a93d9.png)

[2015-01-13 23:10] tekgirl77 commented on #250
![image](https://cloud.githubusercontent.com/assets/6649463/5731247/1a482410-9b47-11e4-8767-ca8090db4a70.png)

[2015-01-13 23:29] luchia commented on #218
![screen shot 2015-01-14 at 9 25 13 am](https://cloud.githubusercontent.com/assets/4547737/5731461/5f9ba61c-9bcf-11e4-8954-5fc27fd5fa1a.png)

![screen shot 2015-01-14 at 9 25 20 am](https://cloud.githubusercontent.com/assets/4547737/5731462/5fa0fc02-9bcf-11e4-86c0-bfa55eddf0e2.png)

[2015-01-13 23:43] luchia commented on #218
This has been fixed on the Dev branch, @roman87.

[2015-01-13 23:44] luchia commented on #234
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/b3c82884f74e4ccf324c15568d309eb814d27ccf). You can see it live on the Dev branch.

[2015-01-13 23:54] DinisCruz opened #252 "Fix broken mixin refs in flare pages"
for example

![image](https://cloud.githubusercontent.com/assets/656739/5731747/2288b256-9b7f-11e4-874f-4d28e65fe2aa.png)

As part of this issue, write a test that will open all current flare pages directly and detect if there are any compilation errors (@DinisCruz or @michaelhidalgo will write this test, @luchia will fix the pages directly)

Making it a P1 because there are a number of Flare page

[2015-01-13 23:58] DinisCruz commented on #250
Looking good, now you need to
1) click on that Off button next to the TM_4_0_Design repo
2) click on the little tool next to it
3) push a commit
4) see the build result
5) confirm that it shows here: https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-Repos-build-status

[2015-01-14 00:02] DinisCruz opened #253 "Fix broken UI test that is hanging Travis (user sign-up with weak pwd related)"
@michaelhidalgo  just hit this prob with https://travis-ci.org/TeamMentor/TM_4_0_QA/builds/46920320

![image](https://cloud.githubusercontent.com/assets/656739/5731834/4080786a-9b80-11e4-97cf-da78ef4cf813.png)

and although on master the next build passed, this one https://travis-ci.org/TeamMentor/TM_4_0_QA/builds/46853434 had the same prob

@michaelhidalgo since this also happens on your fork, ca

[2015-01-14 00:07] luchia commented on #236
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/9a20dfc042f532a54afc465973ecfb3e84bf5843).

Dinis fixed the routing for this on the Dev branch, @roman87.

![screen shot 2015-01-14 at 9 53 36 am](https://cloud.githubusercontent.com/assets/4547737/5731910/1e34f77c-9bd5-11e4-8458-99d8b171b86b.png)
![screen shot 2015-01-14 at 9 53 46 am](https://cloud.githubusercontent.com/ass

[2015-01-14 00:25] luchia commented on #171
Where is this page going to be accessible from seeing as we don't have User pages in Jade?

[2015-01-14 01:38] luchia commented on #238
I don't mind the current design because it aligns with TM 4.0 design. I did do some tidying up and have attached screenshots.

![screen shot 2015-01-14 at 10 37 24 am](https://cloud.githubusercontent.com/assets/4547737/5732428/63822d2e-9bdd-11e4-9d67-9f777cd09918.png)
![screen shot 2015-01-14 at 10 39 01 am](https://cloud.githubusercontent.com/assets/4547737/5732429/638aacec-9bdd-11e4-91c7-5eb6c66

[2015-01-14 02:03] luchia commented on #252
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/c900ad229c65f748295a8ed05e3a33008add3f9a).

[2015-01-14 02:15] luchia opened #254 "Jade sign up forms are bland and boring"
![screen shot 2015-01-14 at 12 14 09 pm](https://cloud.githubusercontent.com/assets/4547737/5732953/e01b2d78-9be6-11e4-8881-0b8620c2ceb7.png)
![screen shot 2015-01-14 at 12 14 12 pm](https://cloud.githubusercontent.com/assets/4547737/5732954/e02946f6-9be6-11e4-94b1-20992c096b4c.png)

[2015-01-14 02:16] luchia opened #255 "Breadcrumbs style is not quite right"
They don't quite fit in with the application and the rest of the style.

![screen shot 2015-01-14 at 12 16 31 pm](https://cloud.githubusercontent.com/assets/4547737/5732976/30eba71e-9be7-11e4-862e-f3000ab3757b.png)

[2015-01-14 02:21] luchia opened #256 "No :active link styles"
We should have these to make clear where users are.

[2015-01-14 02:34] roman87 commented on #250
I am surprised travis doesn't have the same document :)

[2015-01-14 02:47] roman87 commented on #253
Since this is an intermittent problem I am not sure it warrants a P0. But yes take a quick look.

[2015-01-14 02:50] roman87 commented on #171
This page is only accessible when the user receives a password reset email and then clicks on the link in that email. All the page needs to contain is the password and confirm password fields.

[2015-01-14 02:52] roman87 commented on #238
I think we are fine with this update version for Jade. For Flare we can think of a richer prettier interface.

[2015-01-14 02:53] roman87 commented on #238
Assigning to myself for testing and closing

[2015-01-14 02:53] roman87 commented on #252
moving to P3 to align with Flare priorities.

[2015-01-14 02:54] roman87 commented on #254
But they are Jade :) they are supposed to be blend and booring. Making it a P3 for now.

[2015-01-14 02:55] roman87 commented on #255
Navigate button doesn't belong there, but I actually like the way it is, Jason also said he liked how it looks.

[2015-01-14 02:56] roman87 commented on #183
Making this a P3 to align with Flare priorities.

[2015-01-14 03:08] roman87 commented on #218
Looks good. Closing

[2015-01-14 03:08] #218 closed

[2015-01-14 03:15] roman87 commented on #235
So it seems like this actually what is liked, as this breaks up the dull pattern of usual terms and agreements.
There is an issue with the navigation. It seems like it is a bit off. When I click on "License Grants" for example, it skips the first few lines.
![selection_056](https://cloud.githubusercontent.com/assets/1326120/5733473/7d2fb622-9b71-11e4-9ace-f39a5b9f9d16.png)

![selection_057](https:

[2015-01-14 03:18] roman87 commented on #233
This agreed to and is working fine.

[2015-01-14 03:18] #233 closed

[2015-01-14 03:28] roman87 commented on #226
The scrolling looks pretty awesome!
Couple of small things.
1. Do you think we can somehow maybe make the spacing less between the header and the first line of the content. I.e. between Recently Viewed Articles and Certificate Logging for example, so they look like they are part of one whole. In other words, so we somehow differentiate the separate sections of the page?
![selection_062](https://cl

[2015-01-14 03:30] roman87 opened #257 "Top Menu Navigation Icon gets separated from the word describing it when in smaller size browser"
![selection_060](https://cloud.githubusercontent.com/assets/1326120/5733608/b002724a-9b73-11e4-8bbb-96580aacb1d6.png)

[2015-01-14 04:17] michaelhidalgo commented on #247
This has been fixed  with this Pull Request (that I merged) https://github.com/TeamMentor/TM_4_0_Design/pull/249/files

[2015-01-14 04:19] michaelhidalgo commented on #105
As per comments above, second and fourth bullet has been addressed :
https://github.com/TeamMentor/TM_4_0_Design/pull/249/files

[2015-01-14 04:51] michaelhidalgo commented on #240
Pull request https://github.com/TeamMentor/TM_4_0_Design/pull/258

[2015-01-14 05:40] luchia commented on #235
So I managed to hack together a fix. This is caused by our sticky nav covering where the actual heading is.

[2015-01-14 06:38] luchia commented on #171
[This has been completed](https://github.com/TeamMentor/TM_4_0_Design/commit/8644b61259c816daef299ca4dd6cb57c925e3473). Michael, I didn't put an action on this one because I wasn't sure where you wanted it to redirect or if you/Dinis had the routing set up already.

![screen shot 2015-01-14 at 4 38 04 pm](https://cloud.githubusercontent.com/assets/4547737/5735069/c04489b6-9c0b-11e4-863c-b8eae29879

[2015-01-14 07:58] luchia commented on #254
Not necessarily :)

![screen shot 2015-01-14 at 5 55 22 pm](https://cloud.githubusercontent.com/assets/4547737/5735745/b90f918a-9c16-11e4-83f8-285e7f7f33d0.png)
![screen shot 2015-01-14 at 5 56 05 pm](https://cloud.githubusercontent.com/assets/4547737/5735746/b91c300c-9c16-11e4-9ab2-d6fc5201a4d3.png)
![screen shot 2015-01-14 at 5 56 09 pm](https://cloud.githubusercontent.com/assets/4547737/5735747

[2015-01-14 07:58] DinisCruz commented on #240
yap nice one @michaelhidalgo

[2015-01-14 07:58] #240 closed

[2015-01-14 08:03] DinisCruz commented on #256
Yap that is very important

Btw, don't assign the Action:Dev to this kind of issue (that label is for backend code), the one you should be using is the Action:Design

[2015-01-14 08:04] DinisCruz commented on #252
Done

[2015-01-14 08:04] #252 closed

[2015-01-14 08:06] DinisCruz commented on #254
I like it :+1:

[2015-01-14 08:12] DinisCruz commented on #253
Main QA branch has not shown this issues in a couple builds (like https://travis-ci.org/TeamMentor/TM_4_0_QA/builds/46927909)

If the next couple ones from Michael's PR doesn't have this, we can close this issue

[2015-01-14 15:17] roman87 commented on #252
@DinisCruz Do we need a test for this one?

[2015-01-14 15:26] michaelhidalgo commented on #253
Yeah it seems like it is not longer happening

[2015-01-14 15:30] roman87 commented on #254
The shading is actually too light on my screen. It almost blends everything in.

[2015-01-14 17:03] roman87 commented on #254
![20150114_102057](https://cloud.githubusercontent.com/assets/1326120/5743125/357970ce-9be5-11e4-9e63-a96f557b9b81.jpg)
![20150114_102927](https://cloud.githubusercontent.com/assets/1326120/5743132/421c0bd4-9be5-11e4-9722-952969e4a1ee.jpg)

[2015-01-14 18:30] DinisCruz commented on #252
that was already being caught by a test, which now passes

[2015-01-14 18:30] DinisCruz commented on #253
ok closing it

[2015-01-14 18:30] #253 closed

[2015-01-14 20:22] michaelhidalgo commented on #230
Test case for this is already here https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/regression-sprint-1.coffee#L32

[2015-01-14 20:26] michaelhidalgo commented on #171
@roman87, it seems like we need to customize the target URL from the backend, am I wrong?

[2015-01-14 20:55] tekgirl77 commented on #208
Ran into issue during testing - the error below in screenshot persists in Chrome (Version 39.0.2171.95 (64-bit)) no matter how I update the existing helmetjs CSP code - even if I remove the code, the error persists.  Only on the /guest/about.html and /guest/features.html pages.  "Help", "Login" and "Sign Up" pages all load successfully.  In Firefox, ALL pages load successfully.

![image](https://c

[2015-01-14 21:19] roman87 commented on #171
Why is that? We can have the https://localhost:1337/passwordReset/<token> display this form.

[2015-01-14 21:19] tekgirl77 commented on #208
Solution to above issue: disable cache in developer tools in Chrome.

![screen shot 2015-01-14 at 3 19 16 pm](https://cloud.githubusercontent.com/assets/6649463/5747825/c3e82506-9c00-11e4-8f39-47007ac55b55.png)

[2015-01-14 21:20] roman87 commented on #208
Good catch with the cache!

[2015-01-14 21:31] tekgirl77 commented on #208
@luchia Hi Lucy, Dinis said I should ping you on this one - there is an option w/ the CSP (content security policy) headers to submit data on policy violations in json format - wondering if we are interested in collecting this data, having it emailed to the team / individual, etc. so that we can be alerted when someone comes across a portion of our site that is blocked to to the policy in place.

[2015-01-14 21:32] tekgirl77 commented on #208
@michaelhidalgo I was told to ping you for access to Saucelabs for multi-browser testing.

[2015-01-14 21:49] michaelhidalgo commented on #208
Sure, I'm sending you the credentials in an encrypted email

2015-01-14 15:32 GMT-06:00 tekgirl77 <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-01-14 22:04] michaelhidalgo commented on #171
I think the question is how do I fire the email with the link and that the
link points to  https://localhost:1337/passwordReset/ . Because the link is
not accessible from the UI right?

2015-01-14 15:19 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it mean

[2015-01-14 22:42] luchia commented on #255
Okay, I will close it.

[2015-01-14 22:42] #255 closed

[2015-01-15 03:59] roman87 opened #259 "Able to create a password without a numer or an upper case character"
We need to fix both the Jade frontend and the 3.5 backend to prevent users from creating passwords which do not match our policy. In this case we should prevent creation and give a proper error for passwords which do not contain an upper case letter, a number and a special character and are less then 8 characters long.
Related to https://github.com/TeamMentor/Master/issues/932

[2015-01-15 04:00] roman87 commented on #105
Created issue #259 to track bullet point 3. The rest is fixed.

[2015-01-15 04:00] #105 closed

[2015-01-15 04:02] roman87 commented on #247
Look good

[2015-01-15 04:02] #247 closed

[2015-01-15 04:04] roman87 commented on #230
Looks goodl

[2015-01-15 04:04] #230 closed

[2015-01-15 04:07] roman87 commented on #238
I don't see the underlines in the latest version.

[2015-01-15 04:10] roman87 commented on #235
When I click on "Termination" nothing happens.
I am starting to thing this is becoming more trouble than its worth :) Let me know what you think?

[2015-01-15 10:39] DinisCruz opened #260 "Add a successful sign-in test to user-account.coffee"
Here https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/user-account.coffee

[2015-01-15 12:22] michaelhidalgo commented on #259
I'm following the recommendation from TEAM Mentor article https://teammentor.net/article/60802624-5588-4c8f-aac3-baa27cd28187

In this article,  the SqlMembershipProvider is explained.

[2015-01-15 14:36] roman87 commented on #260
Lets point out the dofference between this and #246

[2015-01-15 15:16] roman87 commented on #259
The recommendation looks good, but lets write a test to validate it :)

[2015-01-15 16:11] michaelhidalgo commented on #260
For this specific issue, I added new test to validate all the error messages from the backend, for both login and sign up, but I did not add a test to verify that the signup was successful. This test case is the one missing from the sign up workflow because the other validations has been already covered.

[2015-01-15 16:20] michaelhidalgo commented on #260
Pull Request here https://github.com/TeamMentor/TM_4_0_QA/pull/5, passing on Travis.

[2015-01-15 16:59] michaelhidalgo opened #261 "Include an alert section in the Password Reset for to include validation errors"
The Password Reset form has been created as described here https://github.com/TeamMentor/TM_4_0_Design/issues/171. However, there might be a couple of validation errors :
- [x]  Password and Confirmation Password do not match.
- [x]  The token is null or expired or not valid for the current user.

We should show an alert (similar to the one we have for Signup and Login).

At the moment, the HTML l

[2015-01-15 18:16] DinisCruz commented on #260
@michaelhidalgo correct

[2015-01-15 19:08] roman87 commented on #261
Changing to P0 as it is blocking beta.

[2015-01-15 23:29] luchia commented on #261
[This has been done](https://github.com/TeamMentor/TM_4_0_Design/commit/4c083cf4d3b158cbe9819e6b09037d5acb2d9864).

Michael the pages are pwd-reset-fail.jade and login-pwd-reset.jade. Mixins are in the user-mixins.jade file.

![screen shot 2015-01-16 at 9 21 05 am](https://cloud.githubusercontent.com/assets/4547737/5769030/099049b4-9d62-11e4-940b-0f8db9c79e49.png)
![screen shot 2015-01-16 at 9 24

[2015-01-16 00:05] michaelhidalgo commented on #261
@luchia , for login-pwd-reset.jade, do you think it would be better to predefine the alert with a message like "Your password has been changed/updated" ?

[2015-01-16 00:48] luchia commented on #235
That was a broken link that I missed, I fixed the typo in [this commit](https://github.com/TeamMentor/TM_4_0_Design/commit/51b8013967a37ef2464d5f0cbd11fd11706a8977) and they all work now.

[2015-01-16 00:53] luchia commented on #261
Hey, yeah sure - I thought you said that you were going to take care of the messages, that's why I didn't add it originally. I added it in [this commit](https://github.com/TeamMentor/TM_4_0_Design/commit/7e0df1ba9fe9314d2ef16a0da3e1693819103540) but did you also want a pre-written message for the pwd-reset-fail page?

[2015-01-16 00:57] michaelhidalgo commented on #261
Ok thanks, Yeah I'll customize the error for pwd-reset-fail. In that case I will know why it failed so I will add a message for it.

[2015-01-16 01:03] luchia commented on #238
Argh, sorry I must have accidentally deleted that line in the css file. [This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/a43f054b32a1d8f712c8d8ff1b58dba019d4fca4).

![screen shot 2015-01-16 at 11 02 15 am](https://cloud.githubusercontent.com/assets/4547737/5769994/2fda687c-9d6f-11e4-8e57-2b2bc076a10a.png)

[2015-01-16 01:05] luchia commented on #226
Why do articles even have numbers @roman87 and @DinisCruz? Shouldn't it only be search terms?

[2015-01-16 01:42] luchia commented on #257
[So I ended up having to make the navigation display: block (display vertically for Mobile)](https://github.com/TeamMentor/TM_4_0_Design/commit/21b58846812241807ce7d7d44dad0315b517834f) because I just couldn't get it to fit in and font size is important on mobile, so we shouldn't go any smaller with it.

I ended up with these solutions - let me know what you think.

![screen shot 2015-01-16 at 11

[2015-01-16 01:51] luchia opened #262 "Showing articles/save button/clear button are not aligned correctly"
![screen shot 2015-01-16 at 11 49 51 am](https://cloud.githubusercontent.com/assets/4547737/5770424/e74a5520-9d75-11e4-87c3-2a3d5f67367e.png)

They are not level with each other as shown in the screenshot

[2015-01-16 01:51] luchia opened #263 "Flare buttons are being overridden by Foundation"
![screen shot 2015-01-16 at 11 50 15 am](https://cloud.githubusercontent.com/assets/4547737/5770436/051c50bc-9d76-11e4-8297-f5908b1b23f3.png)

[2015-01-16 02:40] luchia commented on #256
So we had a couple of these already but not all of them. I've now covered these in the referenced commit. Will we call these dynamically @DinisCruz?

[2015-01-16 08:32] DinisCruz commented on #256
Sorry @luchia , not following the question

What are we going to call dynamically?

[2015-01-16 14:17] roman87 commented on #226
The numbers are needed for popular search items and top articles. For popular search items they represent how popular a search item is. In our case, how many times any user had searched for this keyword.
Top article numbers represent the number of times an article had been opened. and hence, how popular it is.
We can do away with numbers, but I think it gives a nice feedback to the user. What do y

[2015-01-16 14:19] roman87 commented on #257
don't close the issue though :)

[2015-01-16 17:23] tekgirl77 commented on #208
Notes:
The helmet.csp (content security policy) module will not enforce BOTH cross-site scripting prevention in addition to enforcing https.  To enforce https, the helmet.hsts (http strict transport security) module should be used in addition to helmet.csp.

https://github.com/helmetjs/hsts

http://www.w3.org/TR/2012/CR-CSP-20121115/:

![screen shot 2015-01-16 at 10 58 40 am](https://cloud.githubu

[2015-01-16 18:14] DinisCruz commented on #208
@tekgirl77 cool stuff, can you review the current TeamMentor articles on CSP and if they need some changes please propose them (there is GitHub repo for contents changes)

[2015-01-16 18:16] DinisCruz commented on #226
on the use of numbers, have you seen how Discourse do it? Check it out for example on https://discuss.atom.io/

They provide nice feedback on what links have been clicked

[2015-01-16 20:23] tekgirl77 commented on #208
Will do!  :)

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Fri, Jan 16, 2015 at 12:14 PM, Dinis Cruz <notifications@github.com>
wrote:

[2015-01-16 21:58] michaelhidalgo commented on #208
Great analysis !

[2015-01-17 09:34] DinisCruz opened #265 "Refactor hard-coded string and path references from UnitTests"
For example look at the urls and user messages in the [https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/user-account.coffee](user-account.coffee) page

The first step is to move those refs into static strings

The idea is to remove out of the UnitTest these hard-coding of urls/texts to check

[2015-01-17 09:48] DinisCruz opened #266 "Allow consumption of 'transformed markdown' content by external tests"
At the moment our jade pages have the great pattern where the content comes from markdown pages, for example https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/landing-pages/selling-point-1.md (great work by @luchia to make this happen)

Now to make it even better, we need to expose its transformations (i.e. the html result) in a web page, so that they can be consumed by UnitTe

[2015-01-17 10:03] DinisCruz opened #267 "QA tests should use real string-values, instead of hard-coded values"
For example
https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/jade/pages-anonymous.test.coffee#L71-L88
![image](https://cloud.githubusercontent.com/assets/656739/5788434/258f02a6-9e2d-11e4-8b05-146449bed7a4.png)

... should be using the transformation of the respective markdown content , for example https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/content/landing-pages/sellin

[2015-01-17 10:54] michaelhidalgo commented on #260
This one has been fixed. We can close it now.

[2015-01-17 10:57] michaelhidalgo commented on #267
Yeah I agree, we should also come up with a name convention, for instance expectedUrl, expectedLoginPage. The test will become even easier to read.

[2015-01-17 14:21] DinisCruz commented on #267
correct,

for example we could name those variables similar to these [Jade-API](https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/API/Jade-API.coffee#L42-L63) methods

![image](https://cloud.githubusercontent.com/assets/656739/5789091/06f72a7c-9e54-11e4-966a-ae7828ce05d8.png)

[2015-01-17 14:24] DinisCruz commented on #260
Correct here it is https://travis-ci.org/TeamMentor/TM_4_0_QA#L925

[2015-01-17 14:24] #260 closed

[2015-01-18 11:26] DinisCruz opened #268 "Add badge for 'security issues in dependencies' to TM 4.0 node projects"
As seen at: https://github.com/apigee-127/swagger-tools

![image](https://cloud.githubusercontent.com/assets/656739/5792201/39f69cfe-9f04-11e4-94ee-b8499d466135.png)

which points to: https://david-dm.org/apigee-127/swagger-tools

![image](https://cloud.githubusercontent.com/assets/656739/5792209/bbccc06e-9f04-11e4-810f-96ff3ca048b2.png)

For reference this is the code that add that badge

[code]

[2015-01-18 16:02] DinisCruz opened #269 "Create a Threat Model for TM 4.0 (Jade, Flare and GraphDB)"
Maybe using a tool like Microsoft Threat Modeling tool (windows only):

* http://blogs.microsoft.com/cybertrust/2014/04/15/new-microsoft-threat-modeling-tool-2014-now-available/
* http://blogs.microsoft.com/cybertrust/2012/08/23/microsofts-free-security-tools-threat-modeling/
* http://www.microsoft.com/en-us/download/details.aspx?id=42518

Or another tool (ideally an online one, which would work o

[2015-01-18 16:05] DinisCruz opened #270 "Map out current security practices with 'Simplified Implementation of the Microsoft SDL'"
* http://www.microsoft.com/security/sdl/default.aspx
* docs can be downloaded from http://www.microsoft.com/en-us/download/details.aspx?id=12379

![image](https://cloud.githubusercontent.com/assets/656739/5792987/ef319ac2-9f29-11e4-94a0-39dae79a11cc.png)

We are already doing a lot of these, but it will be good to formalize them (for example on the one SDL steps that is missing is  [Create a Threa

[2015-01-18 19:16] roman87 commented on #268
Needs to be storied and prioritized

[2015-01-18 19:18] roman87 commented on #269
This sounds like the Seattle team can help with. Asigning to me to story and prioritize.

[2015-01-18 19:39] DinisCruz commented on #269
yeah, that would be great. In fact, I think the SI Services team has an SDL that they recommend (and help to implement) so it would be great to also map/follow that

[2015-01-18 20:19] DinisCruz opened #271 "Login 'title' is lost when resizing login page"
Here is what it looks like when the window is resized to a smaller size

![image](https://cloud.githubusercontent.com/assets/656739/5793907/327d6804-9f4f-11e4-98cc-a9c23e1055a7.png)

[2015-01-18 21:09] roman87 commented on #270
Assigning to myself to story and prioritize

[2015-01-19 01:33] michaelhidalgo opened #272 "Improve TM 4.0 Page Performance"
As I was reading High Performance Browser Networking book (http://chimera.labs.oreilly.com/books/1230000000545), I realized that the author references  this tool http://www.webpagetest.org
This is a nice graph of the performance test applied to the latest version of TM 4.0

![screen shot 2015-01-18 at 12 32 14 pm](https://cloud.githubusercontent.com/assets/1732035/5794928/9f99c042-9f48-11e4-982e-8

[2015-01-19 04:04] roman87 commented on #272
Looks like content download is the biggest one. We really need to do this test once we are running in IIS.

[2015-01-19 04:04] roman87 commented on #272
Assinging to myself for storying and prioritization.

[2015-01-19 08:48] DinisCruz commented on #206
For reference the current express implementation allows the enumeration of the server side path that is 'abstracted' by server-static

for example:
 * http://localhost:1332/docs/..%2fswagger-ui/
 * http://localhost:3000/docs/%2f..%2f..%2fmiddleware/swagger-ui/
 * http://localhost:1332/docs/..%2f..%2f..%2f..%2fTM_4_0_GraphDB%2fnode_modules%2fswagger-node-express%2fswagger-ui/

Here is the code that

[2015-01-19 14:58] dougwilson commented on #206
@DinisCruz so, what you're saying is, you have the root set to the `swagger-ui` folder, so you cannot actually access files outside of it, but you can send a path that goes down and back up, essentially allowed you to determine, from the outside, what that root path is? If so, that definitely sounds like a bug to me and I need to get it fixed.

[2015-01-19 15:10] DinisCruz commented on #206
@dougwilson yes that is exactly what is happening

You can see that in action in this url (that works)

[code]

which basically is (with the url bits decoded in bold)

http://localhost:1332/docs/**../../../../**TM_4_0_GraphDB%2fnode_modules%2fswagger-node-express%2fswagger-ui/

My view is that the real bug is that paths like **/..%2f..%2f..%2f..%2** should be resolved asap in express (ideally in a

[2015-01-19 15:22] dougwilson commented on #206
Sure, but I can use some example of what to do here. As long as the `/` is encoded as `%2f`, Express itself cannot touch it, otherwise you cannot have URLs like `/find/http:%2F%2Flocalhost%2F/stuff` (i.e. having things like URLs encoded into path parts, probably for proxying stuff).

Otherwise, if the URLs given was `http://localhost:1332/docs/../../../../TM_4_0_GraphDB%2fnode_modules%2fswagger-no

[2015-01-19 15:32] DinisCruz commented on #206
I have to say having a URL with ```/find/http:%2F%2Flocalhost%2F/stuff``` is pretty hard-core :)

And it is bound to create a number of vulnerabilities since (for example) i was under the impression that you couldn't use / in url vars (i.e. you would have to use them in url query or form params).

Do other web servers/frameworks support that kind of url parameters?

[2015-01-19 15:44] dougwilson commented on #206
I use Nancy (which is C#) and it absolutely does. I assume every framework allows you to have `%2F`, but I don't have experience using Express (JS), Nancy (C#), Catalyst (Perl), Mojolicious (Perl), Dancer (Perl) and they all have no problem with URL parameters containing forward slashes, since it's part of the URI spec.

[2015-01-19 19:40] michaelhidalgo commented on #261
This is fixed.

[2015-01-19 19:41] michaelhidalgo commented on #82
Related to this https://github.com/TeamMentor/TM_4_0_Design/issues/271

[2015-01-19 20:06] DinisCruz commented on #225
This is just about done, with the latest commits (all is synced now)

![image](https://cloud.githubusercontent.com/assets/656739/5807002/96d7659e-a016-11e4-921d-5ef828a57c99.png)

The Design_4_0 UI is using the updated REST API (Swagger based), which looks like this

![image](https://cloud.githubusercontent.com/assets/656739/5806988/65cdc0ba-a016-11e4-8cb5-4e51c9560086.png)

There are still a coup

[2015-01-19 20:17] roman87 commented on #225
Cool. Good stuff.

[2015-01-19 21:42] roman87 commented on #206
@joebasirico  maybe someone on your team is interested in joining this discussion.

[2015-01-19 22:03] michaelhidalgo commented on #259
So I came up with this RegEx which seems to work fine (((?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*\W).{8,256}))

Here are some unit test :

![screen shot 2015-01-19 at 3 40 16 pm](https://cloud.githubusercontent.com/assets/1732035/5808573/90d9d086-9ff4-11e4-808f-93fa1570ae2d.png)

[2015-01-19 22:55] DinisCruz commented on #261
@michaelhidalgo  is there a TM_4_0_QA test for this?

[2015-01-19 22:56] DinisCruz commented on #259
Do we have tests that stress test this regex?

We don't want another instance of http://blog.diniscruz.com/2013/03/the-email-regex-that-could-had-dosed.html

[2015-01-19 23:15] michaelhidalgo commented on #259
Good point. Well there is a length check in the first place ( between 8 and 256 characters). However, what fuzzing technique would you guys recommend :)?

[2015-01-20 02:06] joebasirico commented on #206
I had Dylan, our intern, take a look at this and he wrote this up just now. Hopefully it’s helpful.

Joe

Dylan Says:
So first I think it's important they change the version numbers in package.json from "latest" to the actual version number they use to when I clone the repository and install the dependencies everything doesn't break.

I'm doing this at a glance, I didn't clone the repository and r

[2015-01-20 02:08] joebasirico commented on #206
I had Dylan, our intern, take a look at this and he wrote this up just now. Hopefully it’s helpful.

Joe

**Dylan Says:**
So first I think it's important they change the version numbers in package.json from "latest" to the actual version number they use to when I clone the repository and install the dependencies everything doesn't break.

I'm doing this at a glance, I didn't clone the repository a

[2015-01-20 02:24] roman87 commented on #206
Thanks @joebasirico. Sorry, I should have been more specific. Dylan is right in his suggestion. I am actually wondering about your teams take on comments starting from  https://github.com/TeamMentor/TM_4_0_Design/issues/206#issuecomment-70461414.  Basically the enumeration of actual server root path by going down and up the directory structure through use of ..%2F

[2015-01-20 02:50] dxa4481 commented on #206
At a glance it looks like what you've said is accurate, and this is a low level vulnerability. I've pinged Douglas Wilson (the point of contact on the express team) and I'll get back to you with what he has to say.

This is not the first low level issue I've found in this space (not the first time I've emailed Douglas), I actually discovered this one over the summer while working on an engagement

[2015-01-20 02:56] roman87 opened #274 "Configure nodeTM to run as a windows service instead of console app"
Two possible options are:
node-windows
https://github.com/coreybutler/node-windows
or:
winser
https://github.com/jfromaniello/winser

[2015-01-20 02:58] dxa4481 commented on #206
Here's the reply

Hi Dylan, this is regarding https://github.com/TeamMentor/TM_4_0_Design/issues/206 right? I believe that it is definitely correct, that it looks like there is an ability to probe what the part of the restricted root directory is from the outside (information disclosure). I'm looking into this and want to have this fixed ASAP :)

I have not, yet, personally verified the disclosure

[2015-01-20 03:08] dougwilson commented on #206
@dxa4481 ;) ;) ;) I don't mind.

[2015-01-20 05:06] dougwilson commented on #206
There is currently a tentative fix for the root path information disclosure discussed in https://github.com/TeamMentor/TM_4_0_Design/issues/206#issuecomment-70461414 (installable as `npm install tj/send`). Thanks to @DinisCruz for the discovery and @dxa4481 for the assist :O!

[2015-01-20 08:28] DinisCruz commented on #259
I think the best will be to write a unit test like the one you can see on that blog post (which is now part of TM 3.5 codebase :) )

[2015-01-20 08:39] DinisCruz opened #275 "Create a visual map of all dependencies dependencies and review their security status"
In addition to [Add badge for 'security issues in dependencies' to TM 4.0 node projects](https://github.com/TeamMentor/TM_4_0_Design/issues/268) we also need to do this for the dependencies that we currently consume in TM

For example what happens if there is an dependency of an dependency that we use that has a security issue? This might not be immediately visible, which is why this visualisation

[2015-01-20 08:40] DinisCruz opened #276 "Change node dependencies from latest to specific versions"
At the moment all TM Node app use ```latest``` on the dependencies mappings in ```package.json```

This is by design since while we are doing heavy development on this app I wanted to make sure that we were using the latest versions of the apis.

But as we move from Beta into final RC, we will need to update them to specific versions

Related to: [Create a visual map of all dependencies dependenci

[2015-01-20 08:46] DinisCruz commented on #268
This issue also covers the 'devDependencies' badge

[2015-01-20 08:47] DinisCruz commented on #206
@joebasirico  @dxa4481 (Dylan right?), thanks for the comments

I just opened https://github.com/TeamMentor/TM_4_0_Design/issues/275 and https://github.com/TeamMentor/TM_4_0_Design/issues/276 to track the dependencies issue.

Btw, we're keeping track of all our current security issues (and thinking) on the https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security page, if would be great if

[2015-01-20 14:09] roman87 commented on #276
Moving the priority to P3 as it is necessary for the release.

[2015-01-20 14:36] michaelhidalgo commented on #259
Yeah I agree. that test scenario will be covered when changing the validation in the back end. In the mean time, I wrote up a quick test to fuzz it :
A few notes :

1. It was tested 10,000 times ( in a loop)
2. The size of the payload was 1012 characters randomly generated (Thanks FluentSharp)

![screen shot 2015-01-20 at 8 27 07 am](https://cloud.githubusercontent.com/assets/1732035/5818888/daa11

[2015-01-20 16:44] roman87 commented on #241
This is address with https://github.com/TeamMentor/TM_4_0_GraphDB/pull/2 in  GraphDB and
https://github.com/TeamMentor/TM_4_0_Design/pull/277 in nodeTM

[2015-01-20 16:55] roman87 commented on #274
This is addressed by using winser module  https://github.com/jfromaniello/winser
For GraphDB with - https://github.com/TeamMentor/TM_4_0_GraphDB/pull/2
For nodeTM - https://github.com/TeamMentor/TM_4_0_Design/pull/277

[2015-01-20 20:14] roman87 commented on #254
Bumping this up to P0 as it is looking pretty bad on my screen. And chances are I am not the only one :)

[2015-01-20 22:12] luchia commented on #257
Woops, sorry!

[2015-01-20 22:15] luchia commented on #256
The active links? For each page that is active, we need to define the class on the link so that it shows?

[2015-01-21 02:44] luchia commented on #254
Hey, take a look at these screenshots -

##### Sign Up
![screen shot 2015-01-21 at 12 16 09 pm](https://cloud.githubusercontent.com/assets/4547737/5830370/1fc650ea-a16b-11e4-9e7b-89da4d5201c5.png)

##### Login
![screen shot 2015-01-21 at 12 19 21 pm](https://cloud.githubusercontent.com/assets/4547737/5830369/1fc4f254-a16b-11e4-9725-a3d958511cd8.png)

##### Search Bar
![screen shot 2015-01-21 at 12

[2015-01-21 02:49] luchia commented on #271
This has been fixed in my work on #254.

![screen shot 2015-01-21 at 12 48 54 pm](https://cloud.githubusercontent.com/assets/4547737/5830427/e49beb00-a16b-11e4-9e9e-5d8c3b562413.png)
![screen shot 2015-01-21 at 12 48 56 pm](https://cloud.githubusercontent.com/assets/4547737/5830426/e4987538-a16b-11e4-91b6-e82a73e22a2a.png)

[2015-01-21 02:54] luchia commented on #226
I am having issues recreating your bug Roman.

Re the popular search items - is it really going to actually signify how many searches it's had with a badge? I think it'd be better if we did something like Reddit or the link Dinis shared has, if that's what you want to represent:

![screen shot 2015-01-21 at 12 53 31 pm](https://cloud.githubusercontent.com/assets/4547737/5830464/8d094ac6-a16c-11e4-

[2015-01-21 03:24] luchia commented on #243
Okay, I moved this into a shared-mixins directory and fixed all the routing issues with flare/jade that were caused when I moved the files.

And yes, feel free to pass on Jade related issues to me :)

[2015-01-21 03:50] luchia commented on #263
This has been fixed -

![screen shot 2015-01-21 at 1 48 07 pm](https://cloud.githubusercontent.com/assets/4547737/5830972/6927e2ae-a174-11e4-94f2-68bc0c476483.png)

[2015-01-21 03:51] luchia commented on #262
This has been fixed -

![screen shot 2015-01-21 at 1 48 07 pm](https://cloud.githubusercontent.com/assets/4547737/5830982/85c1c9f2-a174-11e4-9c72-b5a17d15cee8.png)
![screen shot 2015-01-21 at 1 51 01 pm](https://cloud.githubusercontent.com/assets/4547737/5830983/912a0020-a174-11e4-9f82-251cd6620c60.png)

[2015-01-21 07:46] DinisCruz commented on #254
merged into master

[2015-01-21 08:33] dougwilson commented on #206
For the root directory disclosure vulnerability, I have updated the entire chain with the fix.

Fixed in send 0.11.1
Fixed in serve-static 1.8.1 (because of send dependency update)
Fixed in express 4.11.1 (because of send and serve-static dependencies updates)

[2015-01-21 09:16] DinisCruz commented on #206
@dougwilson thanks, I will update our versions too

[2015-01-21 09:18] DinisCruz commented on #243
nice one, this is done

[2015-01-21 09:18] #243 closed

[2015-01-21 09:19] DinisCruz commented on #271
Yap, fixed

![image](https://cloud.githubusercontent.com/assets/656739/5833785/9a2fbb2c-a14e-11e4-84bd-1c1357cb1087.png)

[2015-01-21 09:19] #271 closed

[2015-01-21 09:20] DinisCruz commented on #256
yes you need to have a class so that we can apply it when the jade page is rendered on the server-side

[2015-01-21 09:21] DinisCruz commented on #241
done

[2015-01-21 09:21] #241 closed

[2015-01-21 15:40] tekgirl77 commented on #250
https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-sync-Travis-CI-with-your-GitHub-repository

This issue can be closed.  :)

[2015-01-21 15:55] michaelhidalgo commented on #250
Great job! It looks really nice and helpful!

[2015-01-21 15:56] tekgirl77 commented on #250
Thanks!  :)

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Wed, Jan 21, 2015 at 9:55 AM, Michael Hidalgo <notifications@github.com>
wrote:

[2015-01-21 16:22] roman87 commented on #226
Well.. badge that you suggest has a connotation that the popularity can be move up or down by using up or down arrow. I am not sure that is the experience we want the user to have. As the user should not be able to change the popularity of the search. I am actually fine with removing the numbers from popular search items altogether if it feels better.

[2015-01-21 17:01] roman87 commented on #250
Good stuff. Closing. Salle, next time assign to someone else to QA (usually me:)) and change the status of an issue to Action:QA.

[2015-01-21 17:01] #250 closed

[2015-01-21 18:02] roman87 opened #279 "Unable to pass TM_Graph tests localy even though they pass on Travis"
Related to #225

80 passing (3s)
  14 pending
  13 failing

  1) | api | Git-API.test | via web api remote:
     Uncaught AssertionError: expected string '' to contain the string/array ':'
    at String.assert_Contains (/home/rom/Dev/TeamMentor/TM_4_0_GraphDB/node_modules/fluentnode/src/assert/assert_String.litcoffee:12:7)
    at [object Object].successCallback (/home/rom/Dev/TeamMentor/TM_4_0_Gra

[2015-01-21 18:04] roman87 commented on #279
Running consecutively - only 2 test fail next time:
 98 passing (7s)
  14 pending
  2 failing

  1) | api | Git-API.test | via web api remote:
     Uncaught AssertionError: expected string '' to contain the string/array ':'
    at String.assert_Contains (/home/rom/Dev/TeamMentor/TM_4_0_GraphDB/node_modules/fluentnode/src/assert/assert_String.litcoffee:12:7)
    at [object Object].successCallback (

[2015-01-21 18:05] roman87 commented on #279
After running 4 times all pass
 100 passing (6s)
  14 pending

[2015-01-21 18:23] DinisCruz commented on #279
yeah, that is clone issue

I added a script to do the clone first. Try running (from the GraphDb folder)

[code]

[2015-01-21 18:26] DinisCruz commented on #279
here is that script https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/bin/clone-default-repo.sh

[2015-01-21 18:50] tekgirl77 commented on #250
Ok sounds good, thanks!

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Wed, Jan 21, 2015 at 11:01 AM, RomichG <notifications@github.com> wrote:

[2015-01-21 22:25] roman87 commented on #254
Still can't make the distincion on my screen.

[2015-01-21 22:46] roman87 commented on #147
@tekgirl77 can you take this one, since you've already tested it, and document here what needs to be done to enable SSL on node web server. Then we can close this issue.

[2015-01-21 22:53] roman87 opened #280 "Add ability to configure the 3.5 backend server used in tmDesign"
Right now the server is hard coded to tmdev01-uno.teammentor.net we need this option to be configurable in the .tm.config.json file found in a directory higher than the tmDesign code (i.e. in ../)

[2015-01-21 22:59] tekgirl77 commented on #147
Sure will!

[2015-01-21 23:24] luchia commented on #256
Okay, well I created those and they are ready to be put in.

[2015-01-21 23:37] luchia opened #281 "Adjust column breakpoints on Jade"
When the columns break into desktop view at the moment, columns are really still too small (because the screen is too narrow) to be functional or to look good.

[2015-01-22 00:08] luchia commented on #226
Yeah, not the arrows so much but the ranking and the amount of times searched would be useful to have. Roman, tell me what you think about this - whether it stands out enough or it needs something else:

![screen shot 2015-01-22 at 10 03 27 am](https://cloud.githubusercontent.com/assets/4547737/5847929/99357f74-a21e-11e4-862d-2ca9b54c607c.png)
![screen shot 2015-01-22 at 10 03 34 am](https://cloud

[2015-01-22 00:25] luchia commented on #254
@roman87, what do you think of the below screens? I had a go at adding darker colours but on the Mac screen it's too dark and quite ugly. Instead I added some drop shadows and am hoping I can get your opinion about whether it improves the contrast or not. Thank you.

![screen shot 2015-01-22 at 10 07 29 am](https://cloud.githubusercontent.com/assets/4547737/5848092/7badb00a-a220-11e4-85a0-395f2989

[2015-01-22 00:36] luchia commented on #281
@DinisCruz, what do you think about the break points that I've adjusted for?

![screen shot 2015-01-22 at 10 34 44 am](https://cloud.githubusercontent.com/assets/4547737/5848270/52e8b848-a222-11e4-8381-0504084412d0.png)
![screen shot 2015-01-22 at 10 34 47 am](https://cloud.githubusercontent.com/assets/4547737/5848266/52e723ac-a222-11e4-976a-87f977474c65.png)
![screen shot 2015-01-22 at 10 34 50 a

[2015-01-22 01:02] luchia opened #282 "Flare search bar has style issues"
![screen shot 2015-01-22 at 10 50 02 am](https://cloud.githubusercontent.com/assets/4547737/5848610/fe9c3b8a-a225-11e4-9787-8f15e446e26f.png)
![screen shot 2015-01-22 at 10 50 09 am](https://cloud.githubusercontent.com/assets/4547737/5848614/0ccd787c-a226-11e4-97cf-838b41f32d90.png)

The drop-shadow from Jade carries over and there is a gap between the two buttons.

[2015-01-22 01:05] luchia opened #283 "Add email links to error pages (Flare)"
Each page says to contact support staff if there are further issues but doesn't give a contact email.

![screen shot 2015-01-22 at 11 04 40 am](https://cloud.githubusercontent.com/assets/4547737/5848651/88099a5c-a226-11e4-91db-e32a5901b461.png)
![screen shot 2015-01-22 at 11 04 42 am](https://cloud.githubusercontent.com/assets/4547737/5848650/8809548e-a226-11e4-8dc1-4162810bec63.png)
![screen shot

[2015-01-22 01:06] luchia opened #284 "Jade styles are over-riding Flare forms"
![screen shot 2015-01-22 at 11 05 39 am](https://cloud.githubusercontent.com/assets/4547737/5848661/a9e47322-a226-11e4-8b59-6cc0f322cef9.png)
![screen shot 2015-01-22 at 11 05 43 am](https://cloud.githubusercontent.com/assets/4547737/5848662/aa0950ac-a226-11e4-8209-c02874939278.png)
![screen shot 2015-01-22 at 11 05 46 am](https://cloud.githubusercontent.com/assets/4547737/5848663/aa0c8448-a226-11

[2015-01-22 01:07] luchia opened #285 "Large gap between heading and list group on Flare/help/index"
![screen shot 2015-01-22 at 11 06 47 am](https://cloud.githubusercontent.com/assets/4547737/5848669/cee0577c-a226-11e4-979d-2ccdb9205b57.png)

[2015-01-22 01:08] luchia opened #286 "Flare navigation is broken"
![screen shot 2015-01-22 at 11 07 59 am](https://cloud.githubusercontent.com/assets/4547737/5848681/f6bdd8d2-a226-11e4-90ef-0a8cfca0b0b5.png)

Menu icon is pushed down on desktop and mobile.

[2015-01-22 01:25] luchia commented on #282
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/8d94a76a7fa5f466e5cb29d8868710bca0aa2c56).

![screen shot 2015-01-22 at 11 21 27 am](https://cloud.githubusercontent.com/assets/4547737/5848859/1a01089e-a229-11e4-8795-3e95c350624c.png)

[2015-01-22 02:01] luchia commented on #262
Taking this back because they are broken on Flare -
![screen shot 2015-01-22 at 12 01 40 pm](https://cloud.githubusercontent.com/assets/4547737/5849230/713a091c-a22e-11e4-846e-f60c745eef4f.png)

[2015-01-22 04:38] roman87 commented on #254
Yea I think this looks much better. You can even make shadow a bit less and it would still have contrast.

[2015-01-22 08:12] DinisCruz commented on #256
sure

[2015-01-22 08:12] #256 closed

[2015-01-22 08:27] DinisCruz commented on #281
Still feel a bit of a jump, since you go from

![image](https://cloud.githubusercontent.com/assets/656739/5852535/64d2a3dc-a210-11e4-9100-daf9e77c1114.png)

to

![image](https://cloud.githubusercontent.com/assets/656739/5852539/6ff6d882-a210-11e4-8b27-16818a838262.png)

with just a couple pixels change (in the size of the window)

[2015-01-22 08:58] DinisCruz commented on #279
@luchia, @michaelhidalgo and @tekgirl77, the graphdb is in a transition state, so if you want to run the design and see the search results, you will need to run these two commands from inside the TM_4_0_GraphDB folder

[code]

all tests should pass (see https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/47890678). If they don't after running the commands above, put it here (on this issue)

not

[2015-01-22 09:02] DinisCruz opened #287 "TM Design need to support the case when TM Graph is offline"
For example when TM graph is loading data or is not able to reply

I'm thinking that this should be a simple rendering of a page saying something like:

'TM Graph is not available at the moment, please try in a couple seconds, and if that doesn't work, please contact TM Support ({put support email here})'

@luchia, can you create this page? (with the content on markdown)

[2015-01-22 09:12] DinisCruz opened #288 "Rename TM_4_0_GraphDB to TM_Graph"
Since GraphDB is basically now an API we can call it just TM_Graph (might as well drop the 4_0 part to).

This should be easy to do, but will require changes in the submodules references (I wonder how travis will handle that)

[2015-01-22 09:13] DinisCruz opened #289 "On GraphDB add v1.0 to the REST API path"
Add versioning information to the TM_Graph url so that it is future proof

At the moment the API calls look like:
* http://localhost:1332/git/status/
* http://localhost:1332/graph-db/contents/
* http://localhost:1332/graph-db/query/Logging
* http://localhost:1332/graph-db/queries

and they should be
* http://localhost:1332/v1.0/git/status/
* http://localhost:1332/v1.0/graph-db/contents/
* http://l

[2015-01-22 09:16] DinisCruz opened #290 "Add Authentication layer to GraphDB"
At the moment TM_Graph has no authentication and should only be accessible via the localhost (i.e. not exposed to the interwebs)

----
[TM-4.0-Security](https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security)

[2015-01-22 09:18] DinisCruz opened #291 "Add Authorization layer to TM_Graph"
In addition to having no Authorization (see https://github.com/TeamMentor/TM_4_0_Design/issues/290) TM Graph at the moment also only has one level of access

That should be changed to at least:

* admin: access to admin info like server config and data reloads
* user: access to all data (as if a normal TM user)

----
[TM-4.0-Security](https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Securit

[2015-01-22 14:22] tekgirl77 commented on #208
@luchia https://github.com/tekgirl77/TM_4_0_Design/tree/Issue_208_Add_security_headers

[2015-01-22 15:19] roman87 commented on #281
I don't this this is very important for this release. I think we can live with this in Jade.

[2015-01-22 16:09] michaelhidalgo commented on #280
@DinisCruz according to this issue, I was thinking on adding a new value in here https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/misc/Config.coffee#L11

Do you agree?

[2015-01-22 16:18] roman87 commented on #287
We already have a story for this. This is not planned until next release.  Adding this as acceptance criteria for the story. Removing assignment and priority

[2015-01-22 16:20] roman87 commented on #288
Not a priority for this release. We can do it after Beta. I do agree with the idea though. Maybe we can even think of a cool name for it.

[2015-01-22 16:33] roman87 commented on #289
Personally I don't like the URL proposed. First we should indicate that this is an API we are talking to so say https://localhost:1332/a/
then version, we don't need a v and a (.) in there  https://localhost:1332/a/01/git/status
But thas my 5c. anyhow this is something that we will not be doing until sprint 3.

[2015-01-22 16:47] roman87 commented on #290
Yep definitely important.  Is now part of a story. Removing priority.

[2015-01-22 16:54] roman87 commented on #280
Yes lets add it there for now.

[2015-01-22 18:09] DinisCruz commented on #177
this is not needed anymore , since we are now consuming the TM data from local Git repositories

[2015-01-22 20:27] roman87 commented on #177
Agreed, closing.

[2015-01-22 20:27] #177 closed

[2015-01-22 20:33] tekgirl77 commented on #147
## The code in this branch as of now makes it optional to run node over either HTTP or HTTPS.  It is assumed that HTTPS will run over port 443 and therefore the conditional statement is hardcoded at this time.

https://github.com/tekgirl77/TM_4_0_Design/tree/Issue_147_Run_node_in_SSL

## It would be prudent to use a CA signed cert for the development environment so that we don't have to click past

[2015-01-22 21:27] roman87 commented on #147
Great stuff!
I think we should make all of this as part of configuration file. We already have a config file in ../.tm.config.json
We should include
EnableSSL=True/False
Cert=Dir/Filname
PrivateKey=Dir/Filename

What happens if there is an intermediary CA involved? Does it work if we include the whole chain in the Certificate file or does express need it separately?