[2015-02-13 20:11] #317 closed

[2015-02-13 20:13] roman87 commented on #418
This is done.

[2015-02-13 20:13] #418 closed

[2015-02-13 20:14] roman87 commented on #414
This is fixed.

[2015-02-13 20:14] #414 closed

[2015-02-13 20:19] roman87 commented on #392
Yep, looks good. closing.

[2015-02-13 20:19] #392 closed

[2015-02-13 20:23] michaelhidalgo commented on #425
Yes it is fixed and we have a test for that :)

[2015-02-13 20:23] #425 closed

[2015-02-14 16:03] DinisCruz commented on #325
The referenced commit (https://github.com/TeamMentor/TM_4_0_Design/commit/46e66f4a0dc7a8dc437804f8549df6b4cda4da02) is designed to test this and to make sure the data is correctly encoded before being sent to the GraphDB.

The use of ```.url_Encode()``` will prevent the injection of payloads like ```../```

The only issue is that at the moment we are still not checking the url generation process a

[2015-02-14 16:32] DinisCruz opened #430 "Preserve username on login fail"
At the moment when trying to login...
![image](https://cloud.githubusercontent.com/assets/656739/6200244/f2902880-b466-11e4-80bf-9a9d5d1dff83.png)
...and failing, the username value is lost

![image](https://cloud.githubusercontent.com/assets/656739/6200246/01a79b6e-b467-11e4-86c3-daab63d30b61.png)

The expected behaviour is that we should keep the username in there (the password should not be rep

[2015-02-14 16:34] DinisCruz opened #431 "The top line of the User login message is not visible in Jade mobile mode"
![image](https://cloud.githubusercontent.com/assets/656739/6200249/2f9c1e6e-b467-11e4-8f4d-5f615455ce8a.png)

It is ok in full width mode:

![image](https://cloud.githubusercontent.com/assets/656739/6200250/4e6d4f16-b467-11e4-8e10-edef267b8d20.png)

[2015-02-14 16:38] DinisCruz opened #432 "Top menu in Jade mobile view should be horizontal and not vertical"
At the moment the top menu switch from horizontal to vertical when in Jade's mobile mode.

![image](https://cloud.githubusercontent.com/assets/656739/6200259/88a4117e-b467-11e4-802c-83dd0dcd0b52.png)

The problem with this is that it occupies quite a lot of screen size, specially when viewed in an mobile .

This is made worse by the fact that we we lock the top navigation (btw, I like that the we

[2015-02-14 17:55] DinisCruz opened #433 "[Q] Refactor User Sign-up tests into separate file"
At the moment the test [Login-Controller.test.coffee](https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/tests/controllers/Login-Controller.test.coffee) contains both login and user signup  tests.

We should refactor these into at least two separate files (the password reset workflow is also a good refactoring candidate)

[2015-02-15 17:28] michaelhidalgo commented on #430
Yes good catch. This fix was applied to the signup form. I'm assigning it to me.

[2015-02-15 18:49] roman87 commented on #431
Nice catch. Just as a theoretical though. What if we write an automation test that takes snapshots of the images in different size browsers. We review those images manually. Then what if we run the test again, and compare the jpg files to the known set of good images. Theoretically the files should be the same?

[2015-02-15 18:50] roman87 commented on #431
Also lets not forget to set the effort :)

[2015-02-15 18:52] roman87 commented on #432
I am actually not sure if we should solve this in Jade? I see the issue, but perhaps it is best solved with JS and we don't need to spend that much time on it?

[2015-02-15 18:53] roman87 commented on #432
Making it a P1 for now and marking as question.

[2015-02-15 18:53] roman87 commented on #430
Yep. good one.

[2015-02-15 18:59] roman87 opened #434 "Get rid of numbers in the top articles"
As agreed on the last call, remove the numbers from the Top Articles.

[2015-02-15 19:01] DinisCruz opened #435 "[Q] Figure out how to run the unit tests directly on Javascript (in WebStorm)"
This has a dramatic impact on the speed that the unit tests run (since there is no need to do a lot of on-the-fly Coffee-Script compilation)

[2015-02-15 19:03] DinisCruz opened #436 "[Q] Refactor the class 'require' references to its constructor"
This also has a impact on the performance of tests, and the TM startup time

[2015-02-15 19:48] michaelhidalgo commented on #382
With Pull Request https://github.com/TeamMentor/Dev/pull/171

[2015-02-16 00:25] roman87 commented on #368
Bumping this!

[2015-02-16 01:38] roman87 opened #437 "Delay in updating "Popular Search Items" on Windows"
![bug1](https://cloud.githubusercontent.com/assets/1326120/6206177/63d87d9e-b552-11e4-8880-c63f8aeb2072.gif)

[2015-02-16 01:40] roman87 commented on #347
This is done.

[2015-02-16 01:42] roman87 commented on #332
this is fixed. will follow up with Tom

[2015-02-16 15:29] DinisCruz opened #438 "[Q] Re add 3.5 error check to QA tests"
Bellow is the test that was on TM_Design and needs to be moved to TM QA

The reason is that TM_Design should work offline and with no dependencies on 3rd party servers. The QA server is the one that expects to be online and with access to live 4.0 and 3.5 servers

[code]

[2015-02-16 16:58] tlaloc75 commented on #391
I agree that it is confusing and we need a different term. I think we need a simple term, Agnostic doesn't quite get us there as its loaded with other meanings. We could use General, but that's potentially confusing as well. How about Platform (or Technology) Independent?

[2015-02-16 17:26] DinisCruz commented on #438
same with
[code]

[2015-02-16 17:54] michaelhidalgo commented on #438
This test should cover this scenario
[code]

[2015-02-16 18:06] DinisCruz commented on #438
same with
[code]

[2015-02-16 21:41] DinisCruz commented on #426
yes it has been fixed

[2015-02-16 21:41] #426 closed

[2015-02-16 21:45] DinisCruz commented on #359
merged, ready for QA

[2015-02-16 21:47] DinisCruz commented on #364
This has been mitigated with the changes introduced at https://github.com/TeamMentor/TM_4_0_Design/issues/325#issuecomment-74380475 so I think we can move this into a P1 or P2

@roman87 what do you think?

[2015-02-16 21:48] DinisCruz commented on #316
@roman87 I think we can close this , since the full text search is already covered by https://github.com/TeamMentor/TM_4_0_Design/issues/126

[2015-02-16 21:48] DinisCruz commented on #349
This shouldn't be happening any more

[2015-02-16 21:51] DinisCruz commented on #437
I'm pretty sure that that is a client cache issue?

Can you replicate that with the 'chome cache disabled?'

Btw, nice animated gif (can you add a [wiki page](https://github.com/TeamMentor/TM_4_0_Design/wiki) with details of the technology and workflows used?)

[2015-02-16 21:54] roman87 opened #439 "Clickable area on a filter is not equal to the size of the highlighted area."
![tooltip_101](https://cloud.githubusercontent.com/assets/1326120/6219820/7b65914a-b5fc-11e4-81e4-edd4b927e108.png)

[2015-02-16 21:57] roman87 opened #440 "Popular search items have duplicates when searching for the same thing or when selecting filters on the search"
![selection_102](https://cloud.githubusercontent.com/assets/1326120/6219854/dece0b68-b5fc-11e4-8d5f-96fcf83bc010.png)

[2015-02-16 22:11] DinisCruz commented on #440
@michaelhidalgo can you write a QA for this

[2015-02-16 22:12] DinisCruz commented on #437
@michaelhidalgo can you write a QA for this

[2015-02-16 22:56] luchia commented on #434
This was done in the referenced commit.

![screen shot 2015-02-17 at 9 23 01 am](https://cloud.githubusercontent.com/assets/4547737/6220502/fe3bee36-b686-11e4-8801-d0dbaaa55f11.png)

[2015-02-16 22:58] luchia commented on #431
That isn't the most recent version. The loginwall isn't white anymore.

![screen shot 2015-02-17 at 9 27 51 am](https://cloud.githubusercontent.com/assets/4547737/6220520/42aad014-b687-11e4-90d9-232fa3dce1b9.png)

[2015-02-16 23:21] luchia commented on #428
Hey, I added a style that breaks the word within the table cell so that it sits nicer. Let me know what you think.

![screen shot 2015-02-17 at 9 48 55 am](https://cloud.githubusercontent.com/assets/4547737/6220780/6fb7580e-b68a-11e4-9cdc-969e5e40b610.png)
![screen shot 2015-02-17 at 9 49 05 am](https://cloud.githubusercontent.com/assets/4547737/6220781/6fb8e552-b68a-11e4-8223-996be186725b.png)
![

[2015-02-16 23:32] luchia commented on #394
As Dinis suggested on a morning meeting last week, I've added an article title and article content class that affects the layout. This is a short term fix relating to our article content formatting.

![screen shot 2015-02-17 at 10 01 39 am](https://cloud.githubusercontent.com/assets/4547737/6220929/14d2e866-b68c-11e4-9534-dd238ced8978.png)

[2015-02-16 23:57] luchia commented on #356
To fix this, I ended up having to amend the size of the background images. This is because we use a sprite and when I attached a background-size (cover, auto etc) it affects the positioning of the sprite on resize. Basically, we can't have responsive sprites without it being a massive pain in the neck. I am going to look at switching us over to SVGs for Flare so that we can have background images

[2015-02-17 00:08] luchia commented on #439
To fix #428, I had to add an extra table cell for the badge. As we've discussed perviously, you cannot wrap a table row in a link which means to have the link span the entire length, the contents (filter title + badge) have to be in the same table cell.

I have removed the extra table cell containing the badge and put the badge back in the same table cell with the filter title. It doesn't break as

[2015-02-17 00:16] roman87 commented on #391
@SI-Lisa @luchia @DinisCruz @michaelhidalgo
What does everyone else think of these two? Should we go with "Technology Independent"?

[2015-02-17 00:32] luchia commented on #432
Yup, all good points from both of you. My issue with making it horizontal is that the links have to be so small it's extremely difficult to click them on mobile. I did have a play with this and came up with the following solution -

![screen shot 2015-02-17 at 10 59 30 am](https://cloud.githubusercontent.com/assets/4547737/6221489/33228544-b694-11e4-8e3b-76c47d34db4a.png)
![screen shot 2015-02-17

[2015-02-17 00:35] DinisCruz commented on #401
referenced commit fixes this bug

The root cause was the fact that the graph query generated from the provided text would return:
 -  a string when there was 1 search match and
 - an array when there was more than one result

The reason why there was always 20 'empty' search results, is because the id of an article is by default made of 20 chars: article-a670c1fcd3e3 (and a string is an array of c

[2015-02-17 00:37] DinisCruz commented on #417
same issue as https://github.com/TeamMentor/TM_4_0_Design/issues/401 (which also addressed this)

Although in the latest Lib_Uno data, there are more than one result for 'cross site'

[2015-02-17 00:37] luchia commented on #390
Send a follow up email regarding this issue this morning.

[2015-02-17 00:42] luchia commented on #340
This relates to #356 and my discoveries trying to solve that issue.

[2015-02-17 04:01] roman87 commented on #439
So I am not sure what changed here? I cannot see any difference?

[2015-02-17 04:02] roman87 commented on #434
This is done.

[2015-02-17 04:02] #434 closed

[2015-02-17 04:10] roman87 opened #441 "Multiple encoding issues in http://localhost:1337/article/article-b90128ab8e3c"
![selection_106](https://cloud.githubusercontent.com/assets/1326120/6223185/f42d8536-b630-11e4-8488-8e4ca5020666.png)

https://beta35.teammentor.net/article/500ae131-3373-4246-b6f5-b90128ab8e3c
Is fine. We need to be able to display the same encoding as we do on 3.5
![selection_107](https://cloud.githubusercontent.com/assets/1326120/6223186/f81b67c6-b630-11e4-8381-72f7e9f558bf.png)

[2015-02-17 04:13] roman87 commented on #417
This looks fixed.

[2015-02-17 04:13] #417 closed

[2015-02-17 04:14] roman87 commented on #401
Nice one! Good find! This is fixed.

[2015-02-17 04:14] #401 closed

[2015-02-17 04:16] roman87 commented on #394
I don't see any change :)
![selection_108](https://cloud.githubusercontent.com/assets/1326120/6223216/c0b3f7ac-b631-11e4-8008-d905b8a56107.png)

[2015-02-17 04:17] roman87 commented on #349
Haven't been able to duplicate this anymore. Will follow up with @BendixSpring

[2015-02-17 04:21] roman87 commented on #356
Yey, finally works!
![selection_109](https://cloud.githubusercontent.com/assets/1326120/6223240/7c03055c-b632-11e4-85a1-e50460f13ccf.png)
Will follow up with Brandon.

[2015-02-17 04:30] roman87 commented on #364
Yep, agreed. Moving this to P2 / Sprint 4

[2015-02-17 08:11] luchia commented on #342
This has been completed. The styles can be found here -

![screen shot 2015-02-17 at 6 41 11 pm](https://cloud.githubusercontent.com/assets/4547737/6224998/924855a4-b6d4-11e4-9196-377d5b52330b.png)

[2015-02-17 08:12] luchia commented on #342
I will also need to create a new issue relating to converting our CSS files to SCSS but it can wait until most style changes have been completed and Dinis has built the functionality that compiles SCSS.

[2015-02-17 09:47] DinisCruz commented on #341
Latest beta http://beta.teammentor.net/ has the fixed version

[2015-02-17 09:54] DinisCruz opened #443 "Links inside articles are broken"
If an article has inner links, like this:

![image](https://cloud.githubusercontent.com/assets/656739/6226122/17a99fa0-b68a-11e4-95b8-d1616d875bab.png)

the user will get an article 404 when clicking on them

![image](https://cloud.githubusercontent.com/assets/656739/6226131/2ed367c4-b68a-11e4-9283-d707a2e0e61b.png)

The reason is because the article links are based on the article id (i.e. a Guid)

[2015-02-17 11:33] DinisCruz opened #444 "Help page content should have full width (or handle better images)"
this is what happens on small widths

![image](https://cloud.githubusercontent.com/assets/656739/6227519/bdc4f71e-b698-11e4-87d8-307880c84808.png)

and large widths

![image](https://cloud.githubusercontent.com/assets/656739/6227529/cd9bcf78-b698-11e4-84c1-40519f10af36.png)

[2015-02-17 12:06] DinisCruz opened #445 "[Q] write test to confirm the encoding of variables populated with 'js code' in jade"
for example  ```value='#{viewModel?viewModel.username:""}``` as used in

[code]
(code snippet from https://github.com/TeamMentor/TM_4_0_Design/blob/d98fffb86e47e32d8a690868195c598ef0515d97/source/shared-mixins/globals.jade#L18-L22)

[2015-02-17 12:10] DinisCruz opened #446 "[Q] Remove uses of | in Jade files"
As see here for example

[code]
(from https://github.com/TeamMentor/TM_4_0_Design/blob/d98fffb86e47e32d8a690868195c598ef0515d97/source/shared-mixins/globals.jade#L21)

This is related to https://github.com/TeamMentor/TM_4_0_Design/issues/385 since we really shouldn't be using | (pipe) in Jade files (since that means 'no encoding and raw html'

[2015-02-17 12:33] DinisCruz opened #447 "Add PoC pages with list of 'Top Articles', 'Popular Search Terms' and 'Recently Searches'"
This will help with the development and debugging of the multiple P0 that are currently opened about 'Top Articles', 'Popular Search Terms' and 'Recently Searches'

These pages should show all data currently available, including the formula used to calculate the mappings.

Interesting question about what to do with 'bad data' and 'search terms with no results'

[2015-02-17 13:24] michaelhidalgo commented on #430
Merged.

[2015-02-17 16:18] roman87 commented on #316
Ok will close this as a dupe.

[2015-02-17 16:18] #316 closed

[2015-02-17 16:42] SI-Lisa commented on #391
I think "Any" or "All" or would do the trick - I think most people get what
that means when filtering.

On Mon, Feb 16, 2015 at 7:16 PM, RomichG <notifications@github.com> wrote:

[2015-02-17 17:22] DinisCruz commented on #413
Example of article that needs this asap: http://beta.teammentor.net/article/article-e152ebaf03f0

![image](https://cloud.githubusercontent.com/assets/656739/6233241/752f0d10-b6c9-11e4-939c-3c030a56912a.png)

@luchia can you add the gray boxes on the <pre> tags in the article view? It looks better than the current white background (eventually the code will be correctly formated

[2015-02-17 17:30] DinisCruz commented on #391
I prefer 'All' to 'Technology Independent'

'Technology Independent' would also look weird when compared with the other values in the Technology filters

[2015-02-17 17:38] roman87 commented on #437
I just checked from the same browser, going to my local version running on linux, and it works fine. Then the same browser pointing to beta.teammentor.net and I am duplicating the same exact behavior. I believe this is something that is happening with the cache when express is running on windows.

[2015-02-17 17:48] roman87 commented on #431
I can duplicate this on the smallest possible browser size. Also the new buttons look out of line.
In general, we gotta stop changing the design at this point. Unless there is a bug we need to fix, or a pressing design issue we need to draw a line for Jade.

![selection_110](https://cloud.githubusercontent.com/assets/1326120/6233756/3575a4b6-b6a3-11e4-9d5c-5b086846475b.png)

[2015-02-17 17:56] roman87 commented on #432
As you can in #431 there is an issue here with the smallest possible browser size:
![selection_110](https://cloud.githubusercontent.com/assets/1326120/6233894/4e341798-b6a4-11e4-9344-73dbb52352ed.png)
Again, lets draw the line for design changes.

[2015-02-17 18:39] michaelhidalgo commented on #123
Ok here are two test that verify that the link exist and that the content exists :

[code]

[2015-02-17 18:45] michaelhidalgo commented on #123
With Pull Request

[2015-02-17 18:47] roman87 commented on #443
Yep sounds like a good plan.

[2015-02-17 18:53] roman87 commented on #444
What's the work effort? Closing in 2 days if no work effort is specified :)

[2015-02-17 18:56] roman87 commented on #447
I am not sure I understand what will the POC pages show?
As far s search terms with no result or other 'bad data' they should not make it into any of these pages.

[2015-02-17 18:57] roman87 commented on #413
Shouldn't  this be a separate issue, assigned to @luchia?

[2015-02-17 19:10] roman87 opened #448 "Add privacy policy, and link, to TM"
Privacy policy is currently being reviewed. Once it is published, we need to add it to TM 4.0 with appropriate links in sign up page and footer.

[2015-02-17 19:12] roman87 commented on #248
Done, privacy policy is currently being reviewed. EULA should be ok for now.

[2015-02-17 19:12] #248 closed

[2015-02-17 20:07] roman87 opened #449 "Update EULA"
We need to update the EULA to the latest version found here:
https://drive.google.com/open?id=0B4dAjIRTCZzqWnJOaGZWY3VNM3c&authuser=0

[2015-02-17 20:18] roman87 opened #450 "Headphones in the main picture date the picture"
Ok I am knit-picking here, but So just looking at the main TM landing page and the main picture, you see what looks like apple headphones. These headphones are no longer made by apple. Which means the picture is at least 3-4 years old. Does this somehow date our content :)?

[2015-02-17 20:39] roman87 commented on #428
So this still feels a bit weird, when the browser is of a certain size. But I guess we can live with this, if there is nothing much we can do. Don't break your head over this.
![selection_111](https://cloud.githubusercontent.com/assets/1326120/6236748/302584fa-b6bb-11e4-9c63-096c7eace02a.png)

[2015-02-17 20:41] roman87 commented on #428
This is now more of a question. If we can fix it easily, lets do it, if not lets leave stuff like this for flare.

[2015-02-17 20:46] DinisCruz commented on #450
On the topic of that picture, what is its license?
@luchia where did you get it from?

In terms of the content, it would be cool to look at other options, in fact we could even make it a bit random?

Btw, the image is still 666kb (http://beta.teammentor.net/static/assets/stock-img/bg-img.jpg) can't we reduce it? (does it need to be 2000 pixels wide?)

[2015-02-17 20:50] roman87 opened #451 "Artifact left after clicking an article to full view page and then clicking the back button."
In Navigate, click on any article.
Click on the "Back" browser button to get back to the previous page.
Notice the artifact.
![selection_112](https://cloud.githubusercontent.com/assets/1326120/6236938/b16ab8e0-b6bc-11e4-9fb1-92366f4b4fde.png)

[2015-02-17 21:19] roman87 opened #452 "Make the URL to be based on Keyword/Filter Names rather than query IDs"
As discussed on the call, whenever possible the URL should be based on keyword text rather than ID. Only when there is a duplicate in the keyword (which should not happen) the ID should be used.

[2015-02-17 22:12] DinisCruz commented on #450
This is what happens on low res

![image](https://cloud.githubusercontent.com/assets/656739/6238331/17774f6a-b6f2-11e4-8b20-54d54e539aa4.png)

[2015-02-17 22:15] DinisCruz opened #453 "Tweak the /Articles style so that the 'showing...' text is aligned to the top"
![image](https://cloud.githubusercontent.com/assets/656739/6238255/6711df0a-b6f1-11e4-8cf0-ed632491af58.png)

[2015-02-17 22:16] DinisCruz commented on #453
What I would like to have is this

![image](https://cloud.githubusercontent.com/assets/656739/6238411/ab773608-b6f2-11e4-97a0-7f6c061534e2.png)

[2015-02-17 22:17] DinisCruz commented on #453
This is is what the jade looks like

[code]

[2015-02-17 22:47] luchia commented on #428
I can't really get it to break any better tbh.

[2015-02-17 23:13] luchia commented on #444
[This has been fixed.](https://github.com/TeamMentor/TM_4_0_Design/commit/bf6446b96992f42fdb50efdbf0d89ec97a97e21b)

![Uploading Screen Shot 2015-02-18 at 9.40.08 am.png . . .]()
![Uploading Screen Shot 2015-02-18 at 9.40.12 am.png . . .]()
![screen shot 2015-02-18 at 9 40 14 am](https://cloud.githubusercontent.com/assets/4547737/6239313/87658444-b752-11e4-914a-a85967db300d.png)

[2015-02-17 23:18] luchia commented on #446
Except in some cases, where it's needed to display the icon and the text following it in line - such as on the navigation bar.

[2015-02-17 23:33] luchia commented on #432
Whats the screen size on this Roman? I've tested this in multiple browsers on desktop and on different mobile devices and can't recreate this.

![screen shot 2015-02-18 at 9 50 00 am](https://cloud.githubusercontent.com/assets/4547737/6239479/1cfb4f6a-b754-11e4-91f1-3f2f4489380c.png)
![screen shot 2015-02-18 at 9 50 07 am](https://cloud.githubusercontent.com/assets/4547737/6239478/1cfddf46-b754-11

[2015-02-17 23:39] luchia commented on #284
Finished this work yesterday.

[2015-02-17 23:49] luchia commented on #449
Don't have access to that document, can you please approve my request for access?

[2015-02-17 23:50] luchia commented on #394
Alright, I've finally been able to see what everyone else has been seeing. I wasn't getting what you can see before so I guess my library swapped over to the other one we were talking about? Anyway, no more trying to hack a fix for something I can't see.

This has been fixed in the referenced commit and can be seen below.

![screen shot 2015-02-18 at 10 16 49 am](https://cloud.githubusercontent.co

[2015-02-17 23:51] luchia commented on #439
You can't click the badge to apply the filter? I can.

[2015-02-17 23:53] luchia commented on #450
It could date our content. I'll look for something else. Dinis, this photo comes from [unsplash](unsplash.com) which is an open-source photo library.
I'll try to find something that  tiles nicely for Jade. This won't be an issue with Flare as we'll be using SVG's to look after retina display users.

[2015-02-18 00:04] luchia commented on #450
Thoughts on the following images? I liked these because they are easy enough to blend them so they repeat nicely. I would want to remove logos -

![95cdfeef](https://cloud.githubusercontent.com/assets/4547737/6239971/4b0c96a2-b759-11e4-91b3-22baea9f90f5.jpeg)
![39982a21](https://cloud.githubusercontent.com/assets/4547737/6239970/4b0c36e4-b759-11e4-8460-8caf002096ea.jpeg)
![bw-room](https://cloud.g

[2015-02-18 00:04] luchia commented on #451
Is anyone able to recreate this, @DinisCruz @michaelhidalgo @tekgirl77? I'm having no luck.

[2015-02-18 00:06] luchia commented on #453
Hey, this is because you've used the POC results div. You need to use the +results mixin instead.

[2015-02-18 00:39] luchia commented on #371
[I started work on this](https://github.com/TeamMentor/TM_4_0_Design/wiki/Flare). I will keep working on it this week.

[2015-02-18 00:47] luchia commented on #340
After doing a lot of reading for #356 and personal research, I propose that we move Flare away from CSS Sprites.

My reasons for this are:
- We are relying on images which are not scalable and are difficult to make high quality enough for all resolutions while keeping sizes down.
- CSS Sprites are notoriously difficult to make responsive (as I've discovered!!!). SVG sprites are not.
- Smaller file

[2015-02-18 00:56] DinisCruz commented on #443
Here are the 4 tests that (will) represent the 4 scenarios that we need to support:
 * graphDB id
 * article original GUID
 * article title
 * dashed article title

[code]

Note that only the first is currently working, the others are showing the 'no article found page'

[2015-02-18 01:04] DinisCruz commented on #453
Cool, that did the trick

thx

[2015-02-18 01:04] #453 closed

[2015-02-18 01:10] DinisCruz opened #454 "For logged in users, the handled error page is showing the 'non logged in' nav-bar"
This is what is currently happening

![image](https://cloud.githubusercontent.com/assets/656739/6240736/691f0b88-b70a-11e4-839d-0f7accdeeab0.png)

and it should be this

![image](https://cloud.githubusercontent.com/assets/656739/6240744/7eb82d1c-b70a-11e4-83ef-c7e32198a149.png)

The 500.jade file is already using the correct base layout (which is ```../_layouts/page```)

[code]

What is needed is

[2015-02-18 01:34] DinisCruz commented on #451
nope I can't replicate it too

[2015-02-18 01:35] DinisCruz commented on #450
what do these images look like when titled?

Re use of images from unsplash  we should put that reference/credit somewhere

[2015-02-18 01:37] DinisCruz commented on #439
I can too @roman87 latest code is on master

[2015-02-18 01:39] DinisCruz commented on #394
It's better, but the font sizes of the titles still look to big  (to me)

![image](https://cloud.githubusercontent.com/assets/656739/6241035/ed0355ea-b70e-11e4-9517-343ddf841fff.png)

[2015-02-18 01:42] DinisCruz commented on #432
the latest changes look great @luchia (I also was not able to replicate @roman87 case)

Now you just need to do the same thing for the logged in users :)

[2015-02-18 01:43] DinisCruz commented on #446
@luchia can you point me to those exact cases (I want to see if I can come up with a solution that doesn't use the |  )

[2015-02-18 01:45] DinisCruz commented on #444
yap, done

[2015-02-18 01:46] DinisCruz commented on #428
yeah, I think we can live with it (for now)

[2015-02-18 01:52] DinisCruz opened #455 "Make code samples show inside gray box (in articles)"
As per https://github.com/TeamMentor/TM_4_0_Design/issues/413#issuecomment-74709540 until syntax-highlight support is added on the server side, we can make the code samples look okish if they are shown inside a gray box

[2015-02-18 01:53] DinisCruz commented on #413
yeah, its better to split it

I just opened https://github.com/TeamMentor/TM_4_0_Design/issues/455 so that @luchia can do her part there

[2015-02-18 01:55] DinisCruz commented on #123
merged

[2015-02-18 01:59] DinisCruz commented on #431
Not that theoretical, and totally doable. In fact this is something that I want to do (eventually) as part of the the final batch of QA tests (the ones that run on the final deployable version of the code, with all data loaded)

in fact one of the 'browser automation' services already provides kinda of that workflow

The idea is to make it easy for a human (or script) to detect visual changes like

[2015-02-18 11:48] DinisCruz opened #456 "[Q] Add (removed) css-check code"
Due to the bug described at https://github.com/Automattic/juice/issues/104 the QA scripts are not currently doing checks on the rendered css

This could be addressed with an improved use of the ```juice``` api, or with another node css-inliner

[2015-02-18 12:50] DinisCruz opened #457 "[Q] Refactor GraphDB services into better folder locations"
Hi @michaelhidalgo and @tekgirl77 can you you take a look at the refactored location of the GraphDB services and let me know what you think of it?

There is quite a lot of code in those methods and I'm trying to simplify the code and make it easier to read/test

See https://github.com/TeamMentor/TM_4_0_GraphDB/commit/1945dc709dbcb1710e2a8f43f06971f3f6d0f401 commit for the code changes and the [ser

[2015-02-18 13:37] DinisCruz opened #458 "[Q] remove graphDB code that handled 'data import from local files' (including dot-files)"
This is code that was part of the first experiments of using the GraphDB and have since been made redundant with the use of local git clones and json files (for GraphDB content)

It was actually a really cool functionality since it allowed the loading/populating of GraphGB using a number of types of files (js, coffee, dot files).

But since we are not using this on the current version (and manipul

[2015-02-18 13:40] #458 closed

[2015-02-18 16:22] tekgirl77 commented on #457
Looks more intuitive and organized to me, separated by function.  2 thumbs up!

[2015-02-18 17:41] DinisCruz commented on #457
Just pushed https://github.com/TeamMentor/TM_4_0_GraphDB/commit/2681f4da6a7e7d436e74831b30333cb90ff387fb which continues the refactoring and splits the Import-Service.coffee into multiple files

Import-Service was massive and contained all sorts of functionality (as can seem bellow by the new files created from it)

![image](https://cloud.githubusercontent.com/assets/656739/6252839/fbcdb940-b794-1

[2015-02-18 17:41] DinisCruz commented on #456
see solution provided at https://github.com/Automattic/juice/issues/104#issuecomment-74871476

[2015-02-18 18:28] DinisCruz opened #459 "Searching using an article's 'title' produces no results"
Searching for example for 'All File Path and Name Input Is Canonicalized' should result in at least 3 articles (since there are 3 articles with that title)

here is what is currently happening

![image](https://cloud.githubusercontent.com/assets/656739/6253758/bbaa9d86-b79b-11e4-8e37-71dea5c3acdc.png)

this is the expected behaviour

![image](https://cloud.githubusercontent.com/assets/656739/62537

[2015-02-18 18:36] DinisCruz commented on #459
Done

Note: the root cause of the issue was the fact that there is a search for a title that matches the search query (so that the searches shown below work), and since the article also has a title (in the graphdb) the article-id was being treated as a query (which of course had no results)

![image](https://cloud.githubusercontent.com/assets/656739/6253811/20113082-b79c-11e4-8404-c1c2ed427ebf.png

[2015-02-18 18:39] michaelhidalgo commented on #457
Ok cool :)

El miércoles, 18 de febrero de 2015, Dinis Cruz <notifications@github.com>
escribió:

--
Sent from Gmail Mobile

[2015-02-18 18:42] michaelhidalgo commented on #394
Yes I agree, it also looks to big to me.

El martes, 17 de febrero de 2015, Dinis Cruz <notifications@github.com>
escribió:

--
Sent from Gmail Mobile

[2015-02-18 18:51] roman87 commented on #428
Ok lets go with the option where the link spans the entire line. Like it is now. Closing this.

[2015-02-18 18:51] #428 closed

[2015-02-18 18:56] roman87 commented on #444
Actually can we make it wider? it seems like there is lots of space missing on the help pages.

[2015-02-18 19:01] roman87 commented on #432
Its 300 x 479
running in firefox.

[2015-02-18 19:08] roman87 commented on #394
Actually it looks fine to me :). But if you make it a bit smaller it probably would not hurt. Glad you can see now what we see :).

[2015-02-18 19:11] roman87 commented on #439
The point here is not about the badge :) If you look at the screenshot above (that I posted) You'll see that as you are moving your mouse into the box (from top or bottom) that contains the filter, there is a time where the box is already highlighted but the link is not clickable yet. Only if you move your mouse a bit higher/or lower, than the link is clickable. Makes sense?

[2015-02-18 19:17] roman87 commented on #450
I like the last one, not sure why. Maybe because it lacks the apple theme. We need to cater to people running all OSes. Most enterprises tend to run windows. I agree with @DinisCruz it would be cool to have them random, but maybe next release. Regarding credit and license. We should check if we need to give credit, and not to bother if we don't. We should also check if the license allows us to mod

[2015-02-18 19:22] roman87 commented on #451
I can replicate it on FF on Windows. Can you guys give it a shot on windoze?

[2015-02-18 19:53] roman87 commented on #443
in the case where there are multiple articles with the same title, what if we show the technology agnostic article? Or a navigate page with the list of articles with the same name?

[2015-02-18 19:56] michaelhidalgo opened #460 "Hard to see Forgot password link"
I'm not sure if we had an issue for this or if we agreed on it but to me it's hard to see the forgot password link, maybe if it was a little bit darker it would be better, also the font size seems to be small compared to other elements in the screen.

![screen shot 2015-02-18 at 1 19 35 pm](https://cloud.githubusercontent.com/assets/1732035/6255413/5ffdbe26-b775-11e4-8640-c05d7dfc5eec.png)

[2015-02-18 20:10] michaelhidalgo commented on #344
This issue has been fixed. We now display a generic error message

![screen shot 2015-02-18 at 2 08 46 pm](https://cloud.githubusercontent.com/assets/1732035/6255704/d4544a22-b777-11e4-9f2a-45a065c55c25.png)

[2015-02-18 20:13] roman87 opened #461 "Clicking on Terms and Conditions inside a full article view takes to a guest menu and not a logged in menu"

[2015-02-18 20:14] #123 closed

[2015-02-18 20:20] roman87 commented on #413
As far as color goes, does it make sense to do this in Jade? Perhaps it is better to wait until flare, where we have a lot more resources on the full article view page?

[2015-02-18 20:23] roman87 commented on #340
Sounds like  a good plan.  Anyone has any objections?

[2015-02-18 21:22] luchia commented on #461
This is logic-driven, right @Dinis?

[2015-02-18 22:51] DinisCruz commented on #443
Also support the scenario http://{server}/article/{id}/{title}

http://beta.teammentor.net/article/article-e152ebaf03f0/Hash-a-Password-Using-a-Random-Salt

[2015-02-19 02:43] luchia commented on #439
Ahh okay. So this still relates to #428 in a way.
We need to have a compromise on this issue, as I said above. We can either have it break nicely (built as a table) or we can have the link fill the div (built as a list). The list solution doesn't break nicely. The table solution cannot have a link that fills the table row/table cell.

Let me know what solution you would like to use.

[2015-02-19 03:00] luchia commented on #432
Hey Roman, I checked on Firefox and it wasn't breaking for me. The changes I've added relate to the logged in navigation.

![screen shot 2015-02-19 at 1 00 50 pm](https://cloud.githubusercontent.com/assets/4547737/6261191/79231f1a-b83b-11e4-83c8-69b5297eab2b.png)
![screen shot 2015-02-19 at 1 12 33 pm](https://cloud.githubusercontent.com/assets/4547737/6261192/7925627a-b83b-11e4-8c69-c7baa5ec167b.

[2015-02-19 03:02] luchia commented on #455
This has been fixed in the referenced commit.

[2015-02-19 03:09] luchia commented on #444
This has been fixed in the referenced commit.

![screen shot 2015-02-19 at 1 33 23 pm](https://cloud.githubusercontent.com/assets/4547737/6261267/ac51f7fc-b83c-11e4-9a63-55b80e3b1e1b.png)

[2015-02-19 03:11] luchia commented on #394
@DinisCruz @michaelhidalgo - what do you think of the changes made in the referenced commit?

[2015-02-19 03:38] luchia commented on #450
This is what they look like tiled -

![test1](https://cloud.githubusercontent.com/assets/4547737/6261514/94555f96-b840-11e4-9d9a-506d2a477040.jpg)
![test2](https://cloud.githubusercontent.com/assets/4547737/6261513/9454bb68-b840-11e4-9b08-c62cb0914be3.jpg)
![test3](https://cloud.githubusercontent.com/assets/4547737/6261515/945a34b2-b840-11e4-9313-feed56b98029.jpg)

[2015-02-19 03:41] luchia commented on #460
This has been fixed in the referenced commit.

Normal state
![screen shot 2015-02-19 at 2 10 58 pm](https://cloud.githubusercontent.com/assets/4547737/6261536/31714b78-b841-11e4-9e91-113d123aa2ff.png)

Hover state
![screen shot 2015-02-19 at 2 11 02 pm](https://cloud.githubusercontent.com/assets/4547737/6261537/31740a70-b841-11e4-8b39-6a6e07834946.png)

[2015-02-19 03:43] luchia commented on #451
Is it an outline @roman87 ? Can you try recreating it now as I added an outline property to links?

[2015-02-19 08:46] DinisCruz opened #462 "GraphDB rest calls should return '503 - Service Unavailable' when not able to handle request"
This should be done by detecting that there is already an request using graphDB (in an async way) and not allowing the GraphDB use until that request is completed.

By returning this 503 message, the consumers of those rest apis can make a decision to try again after a small delay (500ms for example)

This is related to the https://github.com/TeamMentor/TM_4_0_Design/issues/443 since that was one

[2015-02-19 08:49] DinisCruz commented on #432
@michaelhidalgo can we run this page over a number of browsers at SauceLabs and get some screenshots (so we can see what it looks like?)

[2015-02-19 08:52] DinisCruz commented on #413
yeah we should do it in Jade, since it is already supported by the parsers and it reduces the client overhead.

It will also make it look nice as a stand alone article (i.e. to be saved locally)

[2015-02-19 08:56] DinisCruz opened #463 "Create PoC of including all css code Jade's Article page"
Once we add syntax colors to Jade (see https://github.com/TeamMentor/TM_4_0_Design/issues/413) we will be really close to having a '100% stand alone' article page, which will then work perfectly offline (very important when embedding it into plugins/IDES, pasting on emails, etc..)

What will be missing are the css, which should not be that hard to embed (since we already have a very clean css stru

[2015-02-19 13:52] roman87 commented on #439
Can we see the one that does not break nicely but fills the div in a POC? I assume we have the one that breaks nicely but doesn't fill the div now?

[2015-02-19 13:58] roman87 commented on #455
The boxes and the text  are really light on my screen. Can we make the code samples darker?

[2015-02-19 13:58] michaelhidalgo commented on #328
With Pull Request Fixing Issue https://github.com/TeamMentor/TM_4_0_Design/issues/328

[2015-02-19 14:16] michaelhidalgo commented on #446
I did a search in the application to identify those cases where we are using the | character :

1.https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_mixins/globals.jade
2.https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_mixins/landing-page-mixins.jade
3.https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/shared-mixins/globals.jade
4.https://github.c

[2015-02-19 15:10] michaelhidalgo commented on #454
Looking into this issue....

[2015-02-19 15:13] roman87 commented on #413
Ok, lets just make sure it doesn't take more than a day. If it does then we should drop it in favor of spending time on it in flare.

[2015-02-19 15:16] roman87 commented on #444
Cool. this is fixed now.

[2015-02-19 15:16] #444 closed

[2015-02-19 15:22] roman87 commented on #450
Ok, any other ideas :)? I am not sure I am a fan of the mirror image here :)

[2015-02-19 21:09] DinisCruz commented on #462
This is done and the build is passing https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/51430958

@michaelhidalgo do you want to have a go at writing a test for this one? You basically need to delete a cache result and open very quickly (async way) the respective rest call

[2015-02-19 21:55] michaelhidalgo commented on #462
Cool, I'm taking a look at it.

2015-02-19 15:09 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-02-19 21:59] luchia commented on #446
Thanks @michaelhidalgo :) @DinisCruz the globals mixins L5-20 are the ones I was talking about.

[2015-02-19 22:55] DinisCruz commented on #441
@michaelhidalgo can you write a test that finds the root cause of this issue

[2015-02-19 22:57] DinisCruz commented on #395
@michaelhidalgo same for this one, you need a test that finds the articles that have this issue

Use cheerio so that you work directly on html

[2015-02-19 23:00] DinisCruz opened #464 "Create test that checks that all TM links are still valid"
This will be part of our QA tests and simulates the functionality that we had with the 'links checker' tool in 3.5

[2015-02-20 00:08] DinisCruz commented on #443
done, all code is pushed (both design master and dev have this code)

[2015-02-20 00:24] michaelhidalgo commented on #454
This is the test that for this issue :

[code]

[2015-02-20 00:33] roman87 commented on #451
It wasn't an outline, but its gone now :)

[2015-02-20 00:33] #451 closed

[2015-02-20 00:38] roman87 commented on #462
So does this basically mean that GraphDB cannot process multiple requests at the same time :)? That is kinda bad no? I understand that Node is not multi-threaded, but this is mainly disk access which should be multi-threaded in Node.  Maybe a different approach is to queue the requests?

[2015-02-20 00:42] roman87 opened #465 "The top Nav Bottons are rediculously small on FF in a mobile window"
![selection_113](https://cloud.githubusercontent.com/assets/1326120/6279431/65a13470-b86f-11e4-9551-bcdbbb3c7673.png)

[2015-02-20 00:43] roman87 commented on #465
A better screenshot

![selection_114](https://cloud.githubusercontent.com/assets/1326120/6279445/891248e0-b86f-11e4-9c6c-7f8cc0fdb5c9.png)

[2015-02-20 00:45] roman87 commented on #432
This is fixed and now we have this problem https://github.com/TeamMentor/TM_4_0_Design/issues/465
I say we leave it as it was and stop screwing around with it. Lets leave the complex stuff for Flare.

[2015-02-20 01:01] roman87 commented on #449
Sent it to you in an email.

[2015-02-20 01:09] michaelhidalgo opened #466 "Typo on Error occurred page"
When something goes wrong with TM 4.0, we do displayed a surrogate page with a message, however there is a typo on that page. Notice that it says "Error occured" when it has to say "Error occurred".

I believe that there is also a typo in the file name.

![screen shot 2015-02-19 at 7 02 21 pm](https://cloud.githubusercontent.com/assets/1732035/6279698/a4ee6846-b86a-11e4-9f0d-6d92d53e53b7.png)

[2015-02-20 01:15] roman87 commented on #462
So I got this to happen, and I got "Oops the article doesn't exist" message (which I didn't save).
Anyways, not a good thing to happen :) We need a better solution.
![selection_116](https://cloud.githubusercontent.com/assets/1326120/6279708/26b338b8-b873-11e4-9d4b-71a7f7e00a3c.png)

[2015-02-20 01:17] michaelhidalgo commented on #466
This is the test

[code]

[2015-02-20 01:18] roman87 commented on #394
This looks fine to me. Closing in 2 days if nobody complains.

[2015-02-20 01:24] roman87 commented on #439
why close :)?

[2015-02-20 01:29] roman87 commented on #439
I don't see it in the POC pages..

[2015-02-20 01:37] roman87 commented on #443
Some scenarios are missing.
1. http://localhost:1337/article/0e4dcf783651/Sensitive%20Data%20Is%20Not%20Logged
2. http://localhost:1337/article/article-0e4dcf783651/Sensitive%20Data%20Is%20Not%20Logged
3. There are multiple articles titled "Centralize Logging" as we agreed, we need to show a search page for theses articles.

[2015-02-20 01:39] roman87 commented on #466
Making this a P0, its not good to have spelling mistakes :)

[2015-02-20 02:27] michaelhidalgo commented on #466
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/467

This test verifies HTTP 500 and HTTP 400 error codes

[code]

[2015-02-20 17:55] DinisCruz commented on #466
merged

[2015-02-21 09:34] DinisCruz commented on #340
nope, sounds good

[2015-02-21 09:34] DinisCruz commented on #461
yes, assigning it to me

[2015-02-21 09:38] DinisCruz commented on #450
what happens with the first image on the next tile? It looks like the user will have 3 hands :)

[2015-02-21 09:50] DinisCruz opened #468 "[Q] Delete _Old_To_Delete_Soon folder"
@luchia can we delete the https://github.com/TeamMentor/TM_4_0_Design/tree/master/_Old_To_Delete_Soon/__Not_Used_In_Jade folder?

If so, can you do it?

[2015-02-21 22:43] roman87 commented on #466
Fixed. Closing

[2015-02-21 22:43] #466 closed

[2015-02-21 22:49] roman87 commented on #459
All is fixed. Good catch.

[2015-02-21 22:49] #459 closed

[2015-02-21 23:00] roman87 commented on #430
Fixed. Closing

[2015-02-21 23:00] #430 closed

[2015-02-21 23:00] roman87 commented on #394
Nobody complained. Closing.

[2015-02-21 23:00] #394 closed

[2015-02-21 23:09] roman87 commented on #390
@SI-Lisa  could you please follow up with the marketing team on this question?

[2015-02-21 23:15] roman87 commented on #389
This is on the beta site. Following up with Gene. Closing in a week if no further feedback is received.

[2015-02-21 23:19] roman87 commented on #388
This is on the beta site. Following up with Gene. Closing in a week if no further feedback is received.

[2015-02-21 23:28] roman87 commented on #382
@MorganDavis  Thanks for your feedback. This has been fixed on the new beta (beta 2). It is now on https://beta.teammentor.net. Could you please take a look and let us know if the solution is as expected?

Note, that there is still a possibility of account enumeration through the sign up page, however the usability hit on that one is significant enough not to make changes in favor of a generic err

[2015-02-21 23:41] roman87 commented on #381
@tecknicaltom thanks again for your feedback. This has been fixed on https://beta.teammentor.net
Could you take a look and let us know if the fix is as expected.
Thanks.

[2015-02-21 23:43] roman87 commented on #380
@tecknicaltom thanks again for your feedback. Could you try to duplicate this on https://beta.teammentor.net ?
Let us know if this has been fixed as expected.

[2015-02-21 23:46] roman87 commented on #379
@tecknicaltom Tom, thanks again for this. Could you take a look at the latest beta at https://beta.teammentor.net and let me know if the fix is as expected.
Thanks.

[2015-02-21 23:48] roman87 commented on #330
@tecknicaltom Tom, thanks again for this. This has been fixed on the latest beta at https://beta.teammentor.net. Can you let me know if the fix works as expected.
Thanks.

[2015-02-21 23:59] roman87 commented on #332
@tecknicaltom thanks again for this. This has been fixed in latest beta on https://beta.teammentor.net can you let me know if it works as expected. Thanks.

[2015-02-22 00:02] roman87 commented on #341
@BendixSpring and @arvinddoraiswamy thanks again for this. This has been fixed on the latest beta at https://beta.teammentor.net could you take a look and let me know if the fix works as expected.
Thanks.

[2015-02-22 00:03] #347 closed

[2015-02-22 00:05] roman87 commented on #348
@BendixSpring this has been fixed on latest beta at https://beta.teammentor.net could you take a look and let us know if the fix is as expected. Note that currently you can only select one filter at a time.

[2015-02-22 00:26] roman87 commented on #349
@BendixSpring thanks again for your feedback. This issue had been resolved on the latest beta at https://beta.teammentor.net . Could you take a look and let me know if the fix works as expected? Thanks.

[2015-02-22 00:56] roman87 commented on #356
Following up with Brandon.

[2015-02-22 01:25] roman87 commented on #359
Looks cool. Get an error in express when sending a large string.
Error with request url: /user/login
 Error: request entity too large
  at makeError (/home/rom/Dev/TeamMentor/TM_4_0_Design/node_modules/body-parser/node_modules/raw-body/index.js:184:15)
  at module.exports (/home/rom/Dev/TeamMentor/TM_4_0_Design/node_modules/body-parser/node_modules/raw-body/index.js:40:15)
  at read (/home/rom/Dev

[2015-02-22 01:25] #359 closed

[2015-02-22 01:38] roman87 commented on #450
Hahah.. well.. it may actually serve as  advertizement - TEAM Mentor - we are your third hand in fixing bugs :)

[2015-02-22 01:42] michaelhidalgo commented on #441
The problem seems to be that the article was saved with the encoding issue (look for example https://raw.githubusercontent.com/TMContent/Lib_UNO/master/Checklist%20Item/500ae131-3373-4246-b6f5-b90128ab8e3c.xml?token=ABptw9Y8Cl3lGGWX7iKry2RS4lrN5Swhks5U8mw-wA%3D%3D).

Note that the text contains this problem:

 <Title>User&amp;#39;s Login Credentials Are Validated Before Use</Title>

A possible sol

[2015-02-22 01:56] roman87 commented on #450
How about this one :)  This is a staircase from Harry Potter (so I was told as I can't watched the movie. You'd need to edit the people out though :).

![dsc01222](https://cloud.githubusercontent.com/assets/1326120/6317017/a618f72a-ba0b-11e4-9677-1439d7b224e9.JPG)

[2015-02-22 22:24] DinisCruz opened #469 "Show search results for 'article direct view using title' that have more than 1 match"
See this thread for more details https://github.com/TeamMentor/TM_4_0_Design/issues/443#issuecomment-75175416

The idea is to show this

![image](https://cloud.githubusercontent.com/assets/656739/6320838/43513cc0-bae1-11e4-9937-775650222f47.png)

when directly opening an article using its title.

For example http://localhost:1337/article/Centralize-Logging which at the moment goes to the first art

[2015-02-22 22:28] DinisCruz commented on #443
Latest code push contains the first two scenarios and I opened https://github.com/TeamMentor/TM_4_0_Design/issues/469 to track the 3rd (which needs to be handled differently on the backend)

http://localhost:1337/article/0e4dcf783651/Sensitive%20Data%20Is%20Not%20Logged

![image](https://cloud.githubusercontent.com/assets/656739/6320856/c005729a-bae1-11e4-85f0-7bf5ded57129.png)

http://localhost:1

[2015-02-22 22:34] DinisCruz opened #470 "Default to /article/{article-id}/{dashed-article-title} syntax for search article links"
Following the feature added at https://github.com/TeamMentor/TM_4_0_Design/issues/443

Instead of using [http://localhost:1337/article/article-000000026eca](http://localhost:1337/article/article-000000026eca) for links created on the 'search' page:

![image](https://cloud.githubusercontent.com/assets/656739/6320880/68c9b6ca-bae2-11e4-9253-2e4fca932242.png)

... or search result links:

![image](ht

[2015-02-22 23:58] luchia commented on #465
This has been fixed in the referenced commit.

[2015-02-22 23:59] luchia commented on #432
So if this issue is fixed, can we close it?

[2015-02-23 00:27] BendixSpring commented on #348
When you first login, you are given essentially a blank screen.  Ok. Not blank, but pretty bare compared to the rest of the screens.  So in order to even see any filters, you have to click NAVIGATE.  This seems to be an unnecessary step.

So when I select Java, I see that Java is highlighted in the Filter By panel and is listed in the Showing xxx articles panel.  Nice!  But where is the search box

[2015-02-23 00:30] BendixSpring commented on #349
Looks like this is working.

From: RomichG [mailto:notifications@github.com]
Sent: Saturday, February 21, 2015 7:27 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] GraphDB dies / crash sporadicaly causing "Blank page came up when trying to reset the filters" or clicking on Navigate (#349)

@BendixSpring <https://github.com/BendixSpring>  thanks again for your feedback

[2015-02-23 00:40] luchia commented on #449
This has been fixed in the referenced commit.

[2015-02-23 00:47] luchia commented on #448
Was this the EULA that you sent me?

[2015-02-23 00:51] luchia commented on #431
This is ready for QA.

[2015-02-23 01:06] luchia commented on #439
I have no idea, didn't realise that I did. [This has been added in this commit.](https://github.com/TeamMentor/TM_4_0_Design/commit/ac796f3c4754a176a5c73a4ea854ba6853de6630)

[2015-02-23 01:10] luchia commented on #455
Can you have a look and tell me what you think now Roman?

[2015-02-23 01:24] luchia commented on #450
That's a lot of work to get rid of all those people... It's also not the best quality (there's motion blur in the photo) and I don't think it would fit the overall image we are going for.

This is what they look like tiled without reflection. I added the reflection because I thought the repeated image looked strange without it.

![test1](https://cloud.githubusercontent.com/assets/4547737/6321618/f

[2015-02-23 02:53] michaelhidalgo commented on #431
Assigning it to me.

[2015-02-23 03:19] roman87 commented on #469
I am going to make this a P1, since search and bug fixes are more important.

[2015-02-23 03:26] roman87 commented on #443
Ok looks good. closign

[2015-02-23 03:26] #443 closed

[2015-02-23 03:28] roman87 commented on #470
Making this a P1 as well. Search and Recent articles are more important.

[2015-02-23 03:31] roman87 commented on #465
They still look small to me. Can we  bring it back to the way it was before #432 issue was opened?
![selection_117](https://cloud.githubusercontent.com/assets/1326120/6322438/8b98f18e-bae2-11e4-9a20-a4972c3102cf.png)

[2015-02-23 03:36] roman87 commented on #432
I think we should revert to the way it was before the issue and solve this problem in flare.

[2015-02-23 05:33] arvinddoraiswamy commented on #341
Looks okay :)

[2015-02-23 07:52] luchia commented on #465
I think this looks better and is important. We don't know how wide our users browsers are going to be and if it works well in Jade in any browser size, then that's a good user experience.

I added a few media queries to adjust the font size so they get large as the screen size expands, see images below -

![screen shot 2015-02-23 at 6 17 32 pm](https://cloud.githubusercontent.com/assets/4547737/63

[2015-02-23 15:26] roman87 opened #471 "Navigate Button is not intuative"
This feedback comes from both @joebasirico and @BendixSpring .It is not clear to the user that they need to click on the navigate in order to see the whole taxonomy of articles and navigate using keywords/filters. Perhaps we rename it to Index? or Directory? Anyways this needs more thinking.

[2015-02-23 15:50] roman87 commented on #439
@DinisCruz  can you help Lucy to get this to show up in the POC pages. I still don't see it.

[2015-02-23 16:02] roman87 opened #472 "Need to have ability to select multiple filters"
This feedback comes both from @BendixSpring, @tlaloc75 and @joebasirico  and also @tecknicaltom

This is how we should POC it  in Jade
1. Once user has navigated to a place in a directory, he/she should be able to select a filter like it is today,now.
2. Once selected the filters should all still be displayed, however the article count is updated to reflect the selected filter. I.e. if Selecting J

[2015-02-23 16:15] roman87 commented on #348
@BendixSpring Thank you for this excellent feedback. I've updated your comment with specific issues where each of these is tracked. Regarding this particular issue, given your comment " So when I select Java, I see that Java is highlighted in the Filter By panel and is listed in the Showing xxx articles panel. Nice!" I assume it has been solved to your satisfaction. I am closing this issue then. L

[2015-02-23 16:15] #348 closed

[2015-02-23 16:16] roman87 commented on #349
Great, closing the issue.

[2015-02-23 16:16] #349 closed

[2015-02-23 16:25] roman87 commented on #449
- [ ] none of the menu items below and inclusive of Article V work.
- [ ] the text page is two narrow
- [ ] terms and conditions link on the sign up page does not look like a link until you hover over it.

[2015-02-23 16:27] roman87 commented on #448
no this is something that we may need to add in the future, so just think of where the link would go on the sign up page. You don't need to add anything now.

[2015-02-23 16:50] roman87 commented on #455
Nope, the text is really light, the box is gray and it all blends in.

[2015-02-23 16:52] roman87 commented on #450
I wasn't really serious with my image  :)  I just thought the idea of some wizzard library would be cool. Anyways, I like the last one and the second to last one.

[2015-02-23 16:56] DinisCruz opened #473 "[Q] Create poc page that shows all titles and titles encoding status"
@michaelhidalgo this will help with #441 and the idea is to all @SergeTruth to quickly see which articles need encoding fixes

[2015-02-23 17:06] roman87 commented on #455
![20150223_104954](https://cloud.githubusercontent.com/assets/1326120/6332552/46505e24-bb54-11e4-9177-d402ad53421f.jpg)

[2015-02-23 17:08] roman87 commented on #341
Cool. Closing this.

[2015-02-23 17:08] #341 closed

[2015-02-23 17:13] michaelhidalgo commented on #441
Ok so I was playing around with this issue. This is how this article looks in beta (https://beta.teammentor.net/article/article-b90128ab8e3c)

![screen shot 2015-02-23 at 11 08 46 am](https://cloud.githubusercontent.com/assets/1732035/6332641/67838c90-bb4c-11e4-995c-fe5d3c61be7a.png)

And after using ent (https://www.npmjs.com/package/ent#readme) to decode the content, this is how it looks like :

[2015-02-23 17:23] DinisCruz commented on #461
Here is the test that replicates the bug

[code]

[2015-02-23 17:44] DinisCruz opened #474 "[Q] Add controller to handle pages that need to be shown to anonymous and logged in users"
At the moment we have routes like ```.../guest/{jade page}``` for pages that should only be seen by anonymous users, and ```.../user/{jade page}``` for pages that should only be seen by logged in users

The question is what should we call the pages that should be seen by both?

For example the Help pages or the **Terms & conditions`** page (see https://github.com/TeamMentor/TM_4_0_Design/issues/46

[2015-02-23 17:46] DinisCruz opened #475 "[Q?] refactor Help Pages tests so that TM_Design does not depend on live server"
At the moment the tests that check if the help functionality is still working ok are placed on the wrong locations.

The TM_Design tests are currently doing an end-to-end test checks, and the QA tests are very light

While making this change, move the Help_Controller and tests into the **/misc** folder (as per https://github.com/TeamMentor/TM_4_0_Design/issues/474)

[2015-02-23 18:00] DinisCruz commented on #446
@luchia did you try using a **span** tag?

It doesn't seem to have an impact on the ui

Also why are you using the **i** on the style? Are you getting some mappings from the **italic** class?

![image](https://cloud.githubusercontent.com/assets/656739/6333533/b9aaeb42-bb85-11e4-8d33-5a31ba58fbbf.png)

[2015-02-23 18:12] DinisCruz opened #476 "[Q] Improve Jade Cache service so that it uses file hashes (vs config value) to detect jade code changes"
At the moment the state of the jade cache is determined by the value of https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/misc/Config.coffee#L10 which is not a good solution

![image](https://cloud.githubusercontent.com/assets/656739/6333668/e2ed56c4-bb86-11e4-99b8-13f1bee91e46.png)

Not only this requires a code change on deployment, when enabled, it forces the removal of all (or some)

[2015-02-23 21:01] luchia commented on #449
All fixed :)

[2015-02-23 21:02] luchia commented on #471
Didn't we already go through all of that and ended up at Navigate, last year?

[2015-02-23 21:08] michaelhidalgo commented on #473
I did a quick search , there are 16 articles with encoding issues just in the article title. Here is the list.

I will do other searches to find encoding issues in the content.

956740f5-aa8c-42db-acad-066b94727426 | Don&#39;t Use Functions with Format String Parameters
26a68d55-95e2-4007-bfa6-d1eee30740de | Deallocation Functions Don&#39;t Throw Exceptions
2e732e9d-5677-40cc-8e33-c40ceacc056b | D

[2015-02-23 21:09] michaelhidalgo commented on #441
https://github.com/TeamMentor/TM_4_0_Design/issues/473

[2015-02-23 21:09] luchia commented on #455
Is that your screen? :( The whole application looks really, really bad.

[2015-02-23 21:16] tecknicaltom commented on #332
looks fixed to me

[2015-02-23 21:17] tecknicaltom commented on #330
looks fixed to me

[2015-02-23 21:22] tecknicaltom commented on #379
I'm a little confused while trying to repro this now. All the article links seem to have removed the slug (simplified version of the title) from the url. Where before a link looked something like (from memory):
https://beta.teammentor.net/article/b3f0d1dfe15b/Passwords-Are-Not-Left-in-Memory
they now just look like:
https://beta.teammentor.net/article/article-b3f0d1dfe15b

Were the more readable U

[2015-02-23 21:27] tecknicaltom commented on #381
looks fixed, even if the browser doesn't respect the required attributes

[2015-02-23 21:38] BendixSpring commented on #471
I’m not sure what’s been done or what was decided.  But if the navigate button is still not intuitive, then maybe the discussion should be revisited.

--Danny

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, February 23, 2015 4:02 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Navigate Button is not intuative (#471)

Didn't we already go throu

[2015-02-23 23:14] DinisCruz commented on #379
@tecknicaltom they work differently now.

next beta will introduce the more readable link (also without the content injection)

[2015-02-23 23:31] DinisCruz commented on #455
yeah the text inside the ```<pre>``` is a bit grey. Here is what it looks to me:

![image](https://cloud.githubusercontent.com/assets/656739/6340096/11423e54-bbb4-11e4-8a14-a7a05536f6cc.png)

[2015-02-23 23:47] DinisCruz opened #477 "Store all searches made in an server-side simple mapping"
This is what will be shown on the poc 'Popular Search Terms'  page https://github.com/TeamMentor/TM_4_0_Design/issues/447

In addition to being used to calculate the 'Popular Search Terms' values, this will also give us feedback on what the users are searching

[2015-02-24 02:11] roman87 commented on #465
I really don't like the spacing between the words. I think its too large. It also is not the same as in the logged in page. The issue with word wrapping in the smallest possible window did not go away. Lets bring it back to the way it was, and then we can do as many experiments as we need in the POC pages as P1s or P2s.
![selection_118](https://cloud.githubusercontent.com/assets/1326120/6342039/7b

[2015-02-24 02:18] roman87 commented on #474
Why is this a Quality type? This is really a task that is needed to resolve #461 bug.

[2015-02-24 02:20] roman87 commented on #475
Seems like the title of this issue does not match the description. Can we clarify?

[2015-02-24 02:27] roman87 commented on #446
@luchia please let me know if this task (start to finish) will take 4h or less. Otherwise we need to reclasify

[2015-02-24 02:29] roman87 commented on #476
Why is this Quality type? This is a task that solves a particular deployment problem, that has real production application. Can we re-classify?

[2015-02-24 02:40] roman87 commented on #449
There are 2 links that don't work :)

[2015-02-24 02:46] roman87 commented on #473
As discussed on the call, this should not be a POC page, but there should be a script that fixes as many encoding issue as possible, throwing exceptions for manual fix when need be.
Given this, can we close this issue as dupe of #441, since we should track all related things there.

[2015-02-24 02:50] roman87 commented on #441
As discussed on the call, articles that contain ```<script>``` we should detect and throw as an exception to edit manually. Other than that I think this works pretty well. Lets see if we can decode the content and then write it back as the original XML so that we can fix it in the Lib_UNO library instead of fixing it on import.

[2015-02-24 02:52] roman87 commented on #330
Awesome! Thanks, closing this one.

[2015-02-24 02:52] #330 closed

[2015-02-24 02:55] roman87 commented on #381
Great, thank you, closing this one.

[2015-02-24 02:55] #381 closed

[2015-02-24 02:58] roman87 commented on #332
Cool.. Thank you... closing..

[2015-02-24 02:58] #332 closed

[2015-02-24 03:09] roman87 commented on #471
Agreed with @BendixSpring  we have two power users unclear on this, we need to revisit the discussion.
Also remember that we discussed last year that  navigate button was supposed to open up a menu of things, including "Index", "My Saved Articles" etc.. We did away with the menu for this release, but left the "Navigate" button.

[2015-02-24 03:15] roman87 commented on #455
@DinisCruz you need to take pictures with the a camera otherwise the screen difference does not really show. I saw TM on Micheal’s mac and it looks totally different.
I will take some photos of my screen so you can see what I see. I also asked Lauren to see if she can find a windowze laptop

[2015-02-24 03:41] roman87 commented on #455
Ok here are some pictures of my screen. They are not great, but you get to see how the app looks like.

![selection_120](https://cloud.githubusercontent.com/assets/1326120/6342798/a12cfdea-bbac-11e4-8aa4-e0b6f40391c5.png)
![selection_121](https://cloud.githubusercontent.com/assets/1326120/6342799/a12e6f9a-bbac-11e4-87a7-07d76c324e6e.png)
![selection_122](https://cloud.githubusercontent.com/assets/

[2015-02-24 05:24] luchia commented on #455
Well that sucks. I wonder if there is a way to load different stylesheets for different OS's? It really looks like too much contrast on a Mac when you do the colours for PC and the colours for Mac look too light on PC screens.

[2015-02-24 05:54] luchia commented on #449
Fixed in the referenced commit :)

[2015-02-24 06:04] luchia commented on #446
It took me about 20 minutes and has been done in the two referenced commits.

[2015-02-24 06:06] luchia commented on #446
Assigned to @michaelhidalgo for QA.

[2015-02-24 06:19] luchia commented on #465
I put it back to what it used to be Roman. Have assigned to you to check/close.

[2015-02-24 06:20] luchia commented on #432
I have reverted this back to what was original.

[2015-02-24 06:21] luchia commented on #471
Gotcha.

[2015-02-24 07:09] luchia commented on #450
I changed the image over to the one that I think works best. Let me know what you think :)

![screen shot 2015-02-24 at 5 05 48 pm](https://cloud.githubusercontent.com/assets/4547737/6344637/1f26523e-bc4b-11e4-8ffd-c1a6cef9e610.png)
![screen shot 2015-02-24 at 5 05 54 pm](https://cloud.githubusercontent.com/assets/4547737/6344638/1f26dc5e-bc4b-11e4-9c1a-e5cafc62f614.png)
![screen shot 2015-02-24 a

[2015-02-24 07:18] luchia commented on #340
I've completed the work for the background stock images. I am now waiting for a vector copy of the SI logo so I can finish that.

I am also going to have to source the vector logos for the client images but I wanted to check first about something. @roman87 (i think it was you) mentioned that you wanted these as separate files because you wanted to be able to change them? Is that still true or does

[2015-02-24 19:02] roman87 opened #478 "Filter and navigation div's should not move when scrolling the article list. Both righthand and lefthand side filters should, when opened stay put."
This is only for Flare. Seems obvious but just noting it here.

[2015-02-24 19:11] roman87 commented on #388
Gene confirmed this is fixed. Closing

[2015-02-24 19:11] #388 closed

[2015-02-24 19:12] roman87 commented on #389
Gene confirmed this to be fixed. Closing

[2015-02-24 19:12] #389 closed

[2015-02-24 19:16] roman87 commented on #387
Gene confirmed this to be fixed.

[2015-02-24 19:16] #387 closed

[2015-02-24 21:16] roman87 commented on #449
Ok cool. Closing.

[2015-02-24 21:16] #449 closed

[2015-02-24 21:27] roman87 commented on #465
- [ ]  buttons are still  small
- [ ]  we now have an issue of top banner not visible in mobile.
- [ ] the relative location of the navbar is different in the login state vs logged out state.

You gotta do some devqa before you send things over :)

[2015-02-24 21:30] roman87 commented on #432
See issue #465, it is not reverted. Can we make it look like the first screenshot here?
In the future lets make sure that changes like this are ether done on a branch, or in a POC.

[2015-02-24 21:33] roman87 commented on #455
Other web sites don't seem to be having this issue on my laptop :). I also think it is less to do with mac/pc vs mac screen.

[2015-02-24 21:35] roman87 commented on #471
Jason suggested we rename it to "Index". Any objections? if not can we make that change?

[2015-02-24 21:48] roman87 commented on #356
Brandon says it is still an issue. I just checked with the latest image and we still have the problem.
![selection_127](https://cloud.githubusercontent.com/assets/1326120/6359949/71ab3562-bc44-11e4-8a6d-a2afbdc1dfc3.png)

[2015-02-24 21:48] BendixSpring commented on #471
Index is probably better.  Let’s try and see how it works.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 4:36 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Navigate Button is not intuative (#471)

Jason suggested we rename it to "Index". Any objections? if not can we make that change?

—
Reply to this email directly or view it on

[2015-02-24 21:48] roman87 commented on #450
This can probably be considered fixed. However we still have an issue here:  https://github.com/TeamMentor/TM_4_0_Design/issues/356

[2015-02-24 21:49] roman87 commented on #450
How does everyone else like the image?

[2015-02-24 21:54] roman87 commented on #340
Well.. the question here is, how much work is it to change the SVG to add/remove images. If this is something that we can turn around very quickly - like in 48h (and I mean from request to add/remove image to deployment in production) then we can incorporate them in the svg sprite.

[2015-02-24 23:42] dineshshetty opened #479 "Terms and Conditions Page header misconfigured"
When I log in to the application, the page headers normally change from "Login" to "Logout". However, even after login, if I navigate to the Terms and Conditions page, the page header still shows "login". It should show "Logout", since I navigated to the page after logging in to the application.

Step1: Log in to the application.
![image](https://cloud.githubusercontent.com/assets/2169995/6361762/

[2015-02-24 23:58] luchia commented on #340
Yeah, it's quick as long as we have the vector file for the client logo. What I'm working on now is sourcing the current logos we have on the landing page, in the right format.

[2015-02-25 00:08] luchia commented on #471
As discussed in our meeting this morning, we have made the change from Navigate to Index. I made the change to Index -

![screen shot 2015-02-25 at 10 33 30 am](https://cloud.githubusercontent.com/assets/4547737/6362151/c88e76a6-bcd9-11e4-95f0-ae9cdad639b2.png)

However, I now think that maybe the icon that is paired with the link doesn't make sense. So I added a different one instead, which I thi

[2015-02-25 00:16] luchia commented on #465
I don't know what you mean with the last two check points. Can you please elaborate?

[2015-02-25 01:12] BendixSpring commented on #471
Looks good!

So from a usability perspective, there is a certain dissonance.  The thing that is so nice about this tool is the ability to select topics and filters.  Yet when the tool is first opened, they are not there.  What do we want  users to do first?  Search?  Click a popular topic?  What if the first thing the user wants to do is select a category and then filter?  I think you need to have

[2015-02-25 13:34] michaelhidalgo commented on #479
Thanks for your feedback @dineshshetty , this issue is related to https://github.com/TeamMentor/TM_4_0_Design/issues/454

[2015-02-25 17:02] roman87 commented on #465
The 2nd checkpoint is already fixed. The third check point:
Notice how the spacing is different between menu items when logged in and logged out in the mobile view:
![selection_128](https://cloud.githubusercontent.com/assets/1326120/6375592/080daaca-bce6-11e4-9475-b2634aeea172.png)
![selection_129](https://cloud.githubusercontent.com/assets/1326120/6375596/0adb2c1e-bce6-11e4-8d72-6b24aa839ce4.png)

[2015-02-25 17:05] roman87 commented on #465
Also notice that the logged in menu font seems to be bold. (which makes it standout more and look better)
Also notice that the logged in menu is higher (relevant to the bottom of the navbar) than the logged out menu.
Does it make sense?

[2015-02-25 17:07] roman87 commented on #471
Yep, I like it as well. will follow up and close it when next beta is out.

[2015-02-25 17:12] roman87 commented on #479
Thank you so much @dineshshetty  it is a known issue :). However I also notice that on your first screen shot you seem to be experiencing the same issue as described here: https://github.com/TeamMentor/TM_4_0_Design/issues/451
We have fixed it, but it is not in the latest beta, yet. What hardware/OS are you running on?

[2015-02-25 18:20] roman87 opened #480 "Change the "Access TEAM Mentor" button to "Login""

[2015-02-25 18:22] DinisCruz commented on #368
done with latest commit, hard-coded credentials now only exist on the TM_Design tests (not in the main code base).

The TM QA tests will need to be updated, but the core changes to TM_Design and its tests are now done

[2015-02-25 18:24] DinisCruz commented on #439
@luchia which jade page you want to be on the PoC pages?

[2015-02-25 18:43] roman87 opened #481 ""Search Here" and "Showing NN" articles could use more contrast"
This comes from @joebasirico

I think the Search Field at the top could use some more contrast, and the “Showing NN Articles” could too. Right now they are the same as the article list, so it took me a second to parse out that they had different functions. I really like the article list, by the way, that looks nice.

[2015-02-25 18:47] roman87 opened #482 "Change the name of Lib_Uno library to "Index" from "Guidance""

[2015-02-25 18:50] dineshshetty commented on #479
I came across the bug while running the latest Firefox on Windows 8.1. The
base hardware is  Lenovo W530.

-dns
On Feb 25, 2015 12:12 PM, "RomichG" <notifications@github.com> wrote:

[2015-02-25 19:03] MorganDavis commented on #382
Byte for Byte the responses are identical. =]

[2015-02-25 19:03] #382 closed

[2015-02-25 20:37] roman87 commented on #382
Awesome :)

[2015-02-25 21:42] luchia commented on #439
The sub nav and filters pages in the directory.

[2015-02-25 22:58] luchia commented on #465
Got it, there were a couple of styles that were still in there affecting the original design.

On desktop, I fixed the positioning horizontally and vertically -

![screen shot 2015-02-26 at 9 21 02 am](https://cloud.githubusercontent.com/assets/4547737/6382505/18c689aa-bd99-11e4-9df2-19683d92f012.png)
![screen shot 2015-02-26 at 9 21 03 am](https://cloud.githubusercontent.com/assets/4547737/638250

[2015-02-25 23:02] luchia commented on #480
Completed in the referenced commit.

![screen shot 2015-02-26 at 8 22 09 am](https://cloud.githubusercontent.com/assets/4547737/6382644/407994d2-bd9a-11e4-92d6-1d6508dc14a4.png)

[2015-02-25 23:03] luchia commented on #432
It should be identical to the original now. Check #465 for images and Dev branch for live version.

[2015-02-25 23:15] luchia commented on #471
@BendixSpring, I thought I would have a go at answering some of your questions.

From our (the company) perspective, the original overall goal is to make TM a search-driven application so that's what we focus on from the start. We make quick searches and results easy (popular search terms/articles, new articles etc) and we make it easy for the user to begin searching straight away.

The index is s

[2015-02-26 03:38] michaelhidalgo commented on #480
@tekgirl77  would you like to add a test scenario for this fix? You can use this test as a reference (https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/regression-sprint-1.coffee#L114)  and actually add a new assertion for the Login button.

You can take a look at this other test too https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/regression-sprint-1.coffee#L251

[2015-02-26 04:05] luchia commented on #356
As per our meeting this morning, we decided to create another media query that addresses this issue and the issue of delivering high-quality images to users on retina and high ratio pixel displays.

This solution also makes use of the media queries that Flare has which populate the divs with a specific image depending on the screen/device width. If the user is on mobile, it sends the smallest imag

[2015-02-26 04:06] luchia commented on #450
See comments on #356.

[2015-02-26 04:07] luchia commented on #450
@DinisCruz @michaelhidalgo @tekgirl77 what do you think of the new image?

[2015-02-26 04:57] luchia commented on #455
More of a hardware issue than anything else. I tried a couple of more ideas, tell me what you think -

![screen shot 2015-02-26 at 2 41 35 pm](https://cloud.githubusercontent.com/assets/4547737/6386623/c6affdd0-bdcb-11e4-99a0-c958e2156756.png)
![screen shot 2015-02-26 at 2 42 53 pm](https://cloud.githubusercontent.com/assets/4547737/6386621/c6af4278-bdcb-11e4-82be-a4fe2b87a98a.png)
![screen shot 2

[2015-02-26 20:00] roman87 commented on #471
@BendixSpring to expand a bit on @luchia comments. There are basically 3 ways that people want to access information in TM.
1. They know something about the thing they are looking for. In this case, we provide a faceted search. i.e. the user searches for some keyword they think they know and then presented with a set of filters to narrow the search down (think amazon, ebay, etc)
2. They want to br

[2015-02-26 20:04] roman87 commented on #461
Looks good. Closing

[2015-02-26 20:04] #461 closed

[2015-02-26 20:06] BendixSpring commented on #471
Roman:

You said that there are 3 basic ways people want to access TM information.  Why do you think that most people will choose “search” over one of the other methods?  In terms of user friendliness, put all 3 options up front when a user logs in.  Maybe today the user will select #1.  Maybe tomorrow they will select #3.

Why limit search options with the current implementation?

--Dannyh

From:

[2015-02-26 20:21] roman87 commented on #356
So why do we left-justify the mobile view?
Also the actual problem in this issue is not solved. Here is what happens on a hires screen at full screen:
![selection_132](https://cloud.githubusercontent.com/assets/1326120/6400954/9f4aecf6-bdca-11e4-968a-6d01d8b0c8ba.png)

[2015-02-26 20:22] roman87 commented on #455
I can't say I am loving the green background :)
What about the background from current TM? Or we can just put it in a box and change the font?

[2015-02-26 20:28] roman87 commented on #465
Looks good! Closing

[2015-02-26 20:28] #465 closed

[2015-02-26 20:30] roman87 commented on #480
Looks good. Assinging to @tekgirl77 for Unit test

[2015-02-26 20:35] roman87 commented on #432
Yep looks good. Closing

[2015-02-26 20:35] #432 closed

[2015-02-26 20:37] roman87 opened #483 "Is the logout button bold on purpose?"

[2015-02-26 20:41] roman87 commented on #471
Well, it is impossible to put all 3 on the front page :) So the two currently implemented options (search and navigation) are there on the main menu. the front page has a search bar, most popular/recent articles/searches, in the future it it may have things like - trending articles, news, my teams articles etc.

I am not sure I understand by what you mean by "Why limit search options with the curr

[2015-02-26 20:47] BendixSpring commented on #471
Maybe I just don’t understand things.

One the left side, there is some selector thing.  (Sorry, I don’t know what it’s called.)  On the right side, there is a filter.  That’s 2 navigation solutions.  Then you have the search bar.  That’s a third solution.  And then you have popular articles.  That’s a fourth solution.

Users may try the left selector thingy or the filters or the search bar or the

[2015-02-26 21:57] luchia commented on #455
I did up there ^^ but you guys said there wasn't enough contrast.

[2015-02-26 22:00] roman87 commented on #471
Yes I very much see what you are saying. The problem here is that in your example, popular articles will not fit on the screen :). In the future the curated content will not fit on the screen  etc... The idea here was to provide multiple starting points for the user to look at content, with emphasis on search.  We can't just put all the starting point on the first page all at once as it will be a

[2015-02-26 22:02] roman87 commented on #455
If you change the font and make the code exmaples darker there will be contrast :)

[2015-02-26 22:06] tekgirl77 commented on #456
Strangely enough this test @DinisCruz wrote to test this, which was throwing an error previously per his notes on Automattic/juice#104, is running successfully on my machine:

![screen shot 2015-02-26 at 3 49 34 pm](https://cloud.githubusercontent.com/assets/6649463/6402842/6ea48bd8-bdd0-11e4-98bd-e422205eb760.png)

However, when I change juiceContent to juiceResources in the original regression t

[2015-02-26 22:36] DinisCruz commented on #439
@michaelhidalgo can you have a go and see if you can create this PoC page?

[2015-02-27 00:02] DinisCruz commented on #480
@tekgirl77 see also https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/jade/pages-anonymous.test.coffee#L139-L148

[2015-02-27 04:46] luchia commented on #356
It looks odd in the screens because I'm using the Firefox Responsive Web Design Tool. I added a media query for all screens wider than 2000px and changed the width of the landing page.

![screen shot 2015-02-27 at 3 11 38 pm](https://cloud.githubusercontent.com/assets/4547737/6407596/6e0e1c5c-be93-11e4-9913-ad42c1d7742b.png)
![screen shot 2015-02-27 at 3 11 43 pm](https://cloud.githubusercontent.c

[2015-02-27 05:06] luchia commented on #483
I don't think it is, at least it doesn't look it on my screen.

![loginsignup](https://cloud.githubusercontent.com/assets/4547737/6407748/4f6248f2-be96-11e4-991b-f64e9d823916.jpg)

Can you show me what it looks like on yours?

[2015-02-27 05:07] luchia commented on #450
Resounding yes then :P

[2015-02-27 05:21] luchia commented on #455
As per our meeting this morning, I have set the background the same colour as TM's background and have added a dark border for contrast. The code samples also have 1px letter spacing so there is an obvious difference between paragraph content and code content.

![screen shot 2015-02-27 at 3 49 04 pm](https://cloud.githubusercontent.com/assets/4547737/6407833/67fccdd6-be98-11e4-8928-13ac4c9b9cd7.pn

[2015-02-28 02:08] roman87 commented on #455
Ok but can you make the font smaller and monospace?
![selection_133](https://cloud.githubusercontent.com/assets/1326120/6424305/a8e19012-bec4-11e4-87c3-d6d088d9f5e0.png)

[2015-02-28 17:00] DinisCruz opened #484 "Add Error 403 page (for unauthorised access)"
Same as the one we have for 404 and 500

I needed this one for the poc pages, since they should only be accessible by logged in users, but didn't want the redirect to the login page (in order to keep the code of the PoC-Controller small)

This page can be viewed at http://localhost:1337/guest/403.html and  looks like this

![image](https://cloud.githubusercontent.com/assets/656739/6427017/31995830

[2015-02-28 18:29] roman87 commented on #484
Did you push it?

[2015-02-28 18:43] roman87 commented on #356
Still an issue:
![selection_134](https://cloud.githubusercontent.com/assets/1326120/6427440/e6c1ccb4-bf4e-11e4-9d3e-2cd50603c723.png)

[2015-02-28 18:45] roman87 commented on #483
Hmm.. doesn't seem like its there anymore. I was talking about the Nav button logout. Weird. Will close this for now. Just keep an eye on it if it happens again.

[2015-02-28 18:45] #483 closed

[2015-02-28 18:46] roman87 commented on #450
I can hear the applause :) I guess this image is not the most amazing, but for now will do :) Closing.

[2015-02-28 18:46] #450 closed

[2015-02-28 18:59] roman87 opened #485 "Still a problem with artile titles scrolling past the search bar on mobile view"
![selection_135](https://cloud.githubusercontent.com/assets/1326120/6427496/1fe1e31a-bf51-11e4-9ac6-3362b085498d.png)

[2015-02-28 20:20] roman87 commented on #368
looks good. closing

[2015-02-28 20:20] #368 closed

[2015-03-01 18:32] DinisCruz opened #486 "[Q] Add Authorization middleware to main express routes"
I was reading over the weekend this [Node + Express book](http://www.amazon.co.uk/Web-Development-Node-Express-Leveraging/dp/1491949309) and I realized that we can improve the way we handle Authorization in TM_Design

At the moment the Authorization checks is done inside the actual controllers, and it will be much better if it is done on the [routes.coffee](https://github.com/TeamMentor/TM_4_0_Des

[2015-03-01 20:50] roman87 commented on #486
Is this really a 4h task :)?

[2015-03-02 03:00] luchia commented on #485
Not still a problem, it just would have come up again with all the recent changes we to the structure of the app. Should be fixed now.

![screen shot 2015-03-02 at 1 28 31 pm](https://cloud.githubusercontent.com/assets/4547737/6434809/391ea526-c0e0-11e4-9a70-63778c060936.png)
![screen shot 2015-03-02 at 1 29 05 pm](https://cloud.githubusercontent.com/assets/4547737/6434810/39200c7c-c0e0-11e4-8ec6-

[2015-03-02 03:05] luchia commented on #356
Can you please check again? I removed the background attachment and it's working on a screen res of 3000px on my machine now.

![screen shot 2015-03-02 at 1 34 53 pm](https://cloud.githubusercontent.com/assets/4547737/6434858/0525098a-c0e1-11e4-8f82-cbdf97c63f8f.png)
![screen shot 2015-03-02 at 1 35 00 pm](https://cloud.githubusercontent.com/assets/4547737/6434857/052382e0-c0e1-11e4-8463-d88f4a2d8

[2015-03-02 03:10] luchia commented on #455
The font is monospace, it's Lucida Console or Courier. If you don't like that one, we can look at using a different web font?

![screen shot 2015-03-02 at 1 38 20 pm](https://cloud.githubusercontent.com/assets/4547737/6434887/6c4642f0-c0e1-11e4-8e61-91727e91e8aa.png)

I made the font slightly smaller. It looks like this now -

![screen shot 2015-03-02 at 1 38 12 pm](https://cloud.githubusercontent

[2015-03-02 03:49] luchia commented on #481
Still working on the search bar mixin but this is what I have for the results div. I decided to strip it back so that it doesn't stand out as much because it is secondary information - it doesn't have a primary role in the navigation but it could be useful to know. You can still see the text and filters active clearly.

![screen shot 2015-03-02 at 2 18 58 pm](https://cloud.githubusercontent.com/as

[2015-03-02 04:01] luchia commented on #481
I've also changed the amount of effort because I am struggling to find something that works better than the existing solution.

[2015-03-02 05:52] luchia commented on #481
I've been working on this all day and I can't seem to get it right. I did some work with colours but it seems separate from the style of the application. -

![screen shot 2015-03-02 at 4 06 45 pm](https://cloud.githubusercontent.com/assets/4547737/6435874/7a86904e-c0f6-11e4-9d41-8f5e865be8ae.png)

I actually think that this should stay the same as it is. All our form inputs and labels follow this

[2015-03-02 09:26] DinisCruz commented on #486
well that is the smaller amount avaialble :)

Although in this case there could be some side effects since there are quite a number of files that will need to be changed

[2015-03-02 09:30] DinisCruz commented on #485
yap, fixed on latest commits

[2015-03-02 09:33] DinisCruz commented on #356
cool, and looks good on the current version

Btw, can we also apply the same width to the: help, signup and login pages? that way the top nav doesn't move

[2015-03-02 09:35] DinisCruz commented on #484
not yet, sorry, will do it today

[2015-03-02 09:37] DinisCruz commented on #450
I'm good with the image :)

[2015-03-02 09:38] luchia commented on #356
I didn't want it to change because the landing page is separate from the application and those pages should be consistent with the app.

[2015-03-02 10:00] DinisCruz opened #487 "[Q] Refactor node source code inside TM_Design into a src folder"
To follow conversion all non-test code should be inside an **src** folder which should be at the same level as the **tests** folder

![image](https://cloud.githubusercontent.com/assets/656739/6438608/c5bfa412-c0c2-11e4-8fb5-9ec7381b0a48.png)

Also, I think we could name that **node** folder to something that would make more sense (maybe **server** or **lib** or **code**)

[2015-03-02 11:44] DinisCruz commented on #468
Ok, I just deleted this, for reference the files can be seen (and browsed) on this commit https://github.com/TeamMentor/TM_4_0_Design/tree/edbe73213b631611b19a33558e69bb18e9846110/_Old_To_Delete_Soon/__Not_Used_In_Jade

[2015-03-02 12:12] DinisCruz commented on #400
The PoC main page (**/poc**) will now provide a link to all pages inside the **/source/jade/__poc** folder

The files shown are made of:
- recursive search for all jade files, except  files that contain the word 'mixin' in them
- extra mappings to pages that are outside the **/poc** mappings (for example the current link to **/Articles**

![image](https://cloud.githubusercontent.com/assets/656739/

[2015-03-02 15:51] tekgirl77 commented on #480
@roman87 @DinisCruz @michaelhidalgo I submitted a pull request for the login button unit tests, however the CI build failed due to other unit tests.

https://github.com/TeamMentor/TM_4_0_QA/pull/11

https://travis-ci.org/TeamMentor/TM_4_0_QA/builds/52359448

[2015-03-02 16:26] DinisCruz commented on #356
kinda, at the moment there is already a significant difference between the anonymous top nav and the logged in user top nav

[2015-03-02 16:28] DinisCruz commented on #480
@tekgirl77 code is merged, I think we can close this now

[2015-03-02 16:29] #480 closed

[2015-03-02 16:32] DinisCruz opened #488 "404 page should be shown for /guest/* pages"
At the moment if a page inside the **/guest/*** path is requested, there user will see a blank page.

For example

![image](https://cloud.githubusercontent.com/assets/656739/6445046/8c3e78a8-c0f9-11e4-9ce4-5c2407da9f18.png)

This is cause by [this route mapping](https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/routes/routes.coffee#L23-L24)

[code]
we should be using the **next** value

[2015-03-02 20:16] michaelhidalgo commented on #485
Yes it seems like it was fixed in the latest commit, this is how it looks like in iphone emulation mode

![0003screenshot](https://cloud.githubusercontent.com/assets/1732035/6449478/7e8b4460-c0e6-11e4-9164-386f092ebf82.png)

[2015-03-02 22:02] luchia commented on #356
In what respect? The only difference should be the that there is one extra list item.

[2015-03-02 22:27] roman87 commented on #481
Ok, so how do we address the issue? I am going to move it to P2 since there are more urgent issues at the moment. If we can't solve it in Jade, lets make sure we keep this in mind for Flare and solve it in Flare.

[2015-03-02 22:44] roman87 commented on #455
I think its fine for Jade, we will make it better in flare.

[2015-03-02 22:44] #455 closed

[2015-03-02 22:45] luchia commented on #481
Another way we could fix this on Jade is by having it look like an article so that the search area does stand out more -

![screen shot 2015-03-03 at 9 14 04 am](https://cloud.githubusercontent.com/assets/4547737/6452471/d0f6b532-c185-11e4-920b-2afd2a422e6e.png)

In Flare, the main-app-view section looks like this -

![screen shot 2015-03-03 at 9 15 06 am](https://cloud.githubusercontent.com/asset

[2015-03-02 22:46] roman87 commented on #486
What I am asking is if this is a Quality type issue or is it something that will take more than 4h that we should treat as a task :)?

[2015-03-02 22:49] luchia commented on #478
Both search and what?

[2015-03-02 22:52] roman87 commented on #484
So while the URLshows 403.html the body shows 404 error. I remember discussing this, and I think the agreement was that all of the error pages will result in 404. This is to make sure we have a constant, consistent error message for any bad request.  I think we should keep it that way.

[2015-03-02 23:38] DinisCruz commented on #475
This is done on the latest commits

[2015-03-02 23:38] #475 closed

[2015-03-03 00:22] luchia opened #489 "Can we change 'Help' to 'Docs'?"
Seems like it's more explanatory of what the page contains and fits in with the tone we use throughout the app/websites relating this product.

[2015-03-03 00:29] DinisCruz commented on #484
code pushed and this issue is done (now we get the default 404 page on **/poc** (when the user is not logged in))

[2015-03-03 00:46] DinisCruz commented on #486
it's a Quality issue since it doesn't really affect the current behaviour, and it shouldn't take more than 4h (specially since this is kind of change that I would first do on a branch)

[2015-03-03 04:04] michaelhidalgo opened #490 "Security Innovation Copyright footer out of date"
The copyright footer note displayed below indicates from 2007 to 2014, we should be using the current year dynamically.

![screen shot 2015-03-02 at 10 03 06 pm](https://cloud.githubusercontent.com/assets/1732035/6456384/e41b3b1e-c127-11e4-9415-cbedc86483cb.png)

[2015-03-03 05:14] luchia commented on #340
So it's not as easy as I thought to source all of the vector logos for client images. I suggest that we stay with JPG's for these particular items so that we can easily source replacements or new ones as required.

The only thing I have left to do for this issue is:
- [ ] Add media queries for large screens (wider than 2000px)
- [ ] Work out how to get logo sprites responsive

The whole responsive

[2015-03-03 05:16] luchia commented on #371
I think I have done all I can on this issue until Dinis starts working on it and we have updated storyboards and screenshots that we can put in the Wiki.

Does this need to be closed or should I keep this issue?

[2015-03-03 06:37] luchia commented on #340
Yay, worked it out. I just need to do the SI logo now.

![screen shot 2015-03-03 at 5 06 50 pm](https://cloud.githubusercontent.com/assets/4547737/6457586/c90af7b0-c1c7-11e4-94f9-c08ed7ff33b7.png)
![screen shot 2015-03-03 at 5 06 56 pm](https://cloud.githubusercontent.com/assets/4547737/6457587/c91b35c6-c1c7-11e4-8ca9-b1df0671c93c.png)
![screen shot 2015-03-03 at 5 06 58 pm](https://cloud.githubus

[2015-03-03 06:51] luchia commented on #340
SI logo is done -

![screen shot 2015-03-03 at 5 20 28 pm](https://cloud.githubusercontent.com/assets/4547737/6457722/a9b7ee70-c1c9-11e4-9ed1-0cb40dd5ff6a.png)
![screen shot 2015-03-03 at 5 20 32 pm](https://cloud.githubusercontent.com/assets/4547737/6457723/a9d91d2a-c1c9-11e4-813b-e0b1bbaf9575.png)
![screen shot 2015-03-03 at 5 20 36 pm](https://cloud.githubusercontent.com/assets/4547737/6457726/

[2015-03-03 09:53] DinisCruz commented on #447
This is done, with these pages exposed via: http://localhost:1337/poc

![image](https://cloud.githubusercontent.com/assets/656739/6459917/0df363b8-c18b-11e4-900e-a04d3cc067ab.png)

[2015-03-03 09:58] DinisCruz commented on #440
This fixed on latest release

For reference the values you see at http://localhost:1337/user/main.html

![image](https://cloud.githubusercontent.com/assets/656739/6460012/9e1a3c46-c18b-11e4-97b1-a8986f31d5ea.png)

are the top 3 from http://localhost:1337/poc/top-searches

![image](https://cloud.githubusercontent.com/assets/656739/6460029/b3fc8244-c18b-11e4-8fa7-d75192e04bdd.png)

Assigning to @rom

[2015-03-03 09:59] DinisCruz commented on #437
@roman87 can you try to replicate this with the latest version? I can't replicate it any more

[2015-03-03 11:42] DinisCruz commented on #415
This is actually a dupe of https://github.com/TeamMentor/TM_4_0_Design/issues/440

[2015-03-03 11:48] DinisCruz opened #491 "Add selected filters to the data captured on recent searches"
At the moment viewing a search result page like **http://localhost:1337/search?text=Security&filter=/query-9bba626e9e55** will result in an extra entry being added to the 'Security' keyword.

![image](https://cloud.githubusercontent.com/assets/656739/6461742/b2833dd6-c19a-11e4-8f40-5134a239590d.png)

We have two options here:
a) don't capture the 'Search' value when there is a filter
b) also captu

[2015-03-03 11:51] DinisCruz opened #492 "First click of right hand side filter doesn't work (2nd does)"
I just noticed a weird bug on the right hand side nav. Here are the steps to replicate

1) open http://localhost:1337/show/Guidance

![image](https://cloud.githubusercontent.com/assets/656739/6461779/4adc53b0-c19b-11e4-8762-f02021b11c8f.png)

2) click on a filter (for example **C++** ), which will open http://localhost:1337/show/Guidance/query-68d5b99e58ae

note that the filter didn't work and the

[2015-03-03 11:55] DinisCruz commented on #384
Also fixed with latest push

An easy way to test this is to login the site using a new session (like Chrome's incognito mode)

![image](https://cloud.githubusercontent.com/assets/656739/6461852/17b6fa8e-c19c-11e4-978a-ad0d770c48a2.png)

after opening up an article it will be shown

![image](https://cloud.githubusercontent.com/assets/656739/6461859/231c3484-c19c-11e4-93b0-4d04742acc8c.png)

[2015-03-03 12:27] DinisCruz opened #493 "Use GraphDB to capture user data (instead of user's session)"
At the moment the user data (namely searches and articles clicks) is captured at the TM_Design level (using express sessions and NeDB)

This data should be captured and managed as graph (ie in the GraphDB)

[2015-03-03 12:29] DinisCruz opened #494 "Change 'user data' calculations to use all user data (not just current session)"
at the moment the information shown in

![image](https://cloud.githubusercontent.com/assets/656739/6462006/3ebfef0e-c19d-11e4-81bd-0b1b0ef2e1f4.png)

can be seen at http://localhost:1337/poc/user-data

![image](https://cloud.githubusercontent.com/assets/656739/6462297/d95af412-c19f-11e4-939a-8b30adc47a28.png)

The problem is that this data is calculated from the current user's session data object,

[2015-03-03 12:37] michaelhidalgo opened #495 "Fix hr thematic break when displaying article's references"
As displayed in this article http://localhost:1337/article/cf9e691f-d091-4b46-8177-ce1a3bda24f8, the hr element displayed to separate the content from the reference seems to be centered in the screen. Also there is a big space between the hr element and the Adapted from Microsoft patterns & practices guidance text.

![screen shot 2015-03-03 at 6 33 57 am](https://cloud.githubusercontent.com/assets

[2015-03-03 12:38] DinisCruz commented on #415
This was another variation of the issues resolved recently ( see https://github.com/TeamMentor/TM_4_0_Design/issues/415 )

[2015-03-03 12:42] DinisCruz opened #496 "Should we show user recent searches on Search page?"
While fixing the recent 'top articles' and 'popular searches' It was easy to also capture the current user's latest searches

What do you think? This is what it would look like:

![image](https://cloud.githubusercontent.com/assets/656739/6462635/a8f0317c-c1a2-11e4-8d12-7f70387cd736.png)

[2015-03-03 12:44] michaelhidalgo opened #497 "TEAM Mentor Search box encoding Issue for + (URL Encoding)"
It seems like the Search text box is behaving a bit weird when displayed results previously selected from the  main page.

1. In this case, C++ is a search element :
![screen shot 2015-03-03 at 6 40 11 am](https://cloud.githubusercontent.com/assets/1732035/6462621/45ae1462-c170-11e4-851d-8c26d70cfdee.png)

2. This is how it looks like in the raw HTML

![screen shot 2015-03-03 at 6 40 53 am](https:

[2015-03-03 12:48] michaelhidalgo commented on #497
Note that this does not happen with the apostrophe character  :

The URL is : http://localhost:1337/search?text=Don%27t

![screen shot 2015-03-03 at 6 47 36 am](https://cloud.githubusercontent.com/assets/1732035/6462714/1b4c7f78-c171-11e4-930c-18fc56dc3eac.png)

When looking for C++, the URL is http://localhost:1337/search?text=C++

[2015-03-03 13:16] michaelhidalgo commented on #497
This is indeed a URL encoding Issue as the C++ should be URL-encoded as C%2B%2B

http://localhost:1337/search?text=C%2B%2B

![screen shot 2015-03-03 at 7 17 40 am](https://cloud.githubusercontent.com/assets/1732035/6463150/3f9b1b6a-c175-11e4-82e0-2724c28143d4.png)

[2015-03-03 13:22] michaelhidalgo commented on #497
... and it is also happening in beta https://beta.teammentor.net/user/main.html

![screen shot 2015-03-03 at 7 22 19 am](https://cloud.githubusercontent.com/assets/1732035/6463226/ed86ec90-c175-11e4-8310-1c761a7fbcce.png)

[2015-03-03 14:21] roman87 commented on #487
I like lib and server :)

[2015-03-03 14:35] roman87 commented on #468
done, closing

[2015-03-03 14:35] #468 closed

[2015-03-03 14:35] michaelhidalgo commented on #497
We might need to use the CoffeeScript URL-encode methods http://coffeedoc.info/github/dropbox/dropbox-js/ie/classes/Dropbox/Xhr.html#urlEncode-class when rendering the POPULAR SEARCH TERM from the graph.

[2015-03-03 15:02] roman87 commented on #400
Looks like the pages are working. @michaelhidalgo/@luchia can you wire up the two types of filters for navigation. as per issue: https://github.com/TeamMentor/TM_4_0_Design/issues/439

[2015-03-03 15:05] roman87 commented on #488
Good catch. Maybe @michaelhidalgo or @techgirl77 can have a go at this

[2015-03-03 15:09] roman87 commented on #485
This is fixed

[2015-03-03 15:09] #485 closed

[2015-03-03 15:28] roman87 commented on #356
This is fixed.
Here is the issue I think Dinis is talking about.
This is how the landing page looks:
![Uploading Selection_137.png . . .]()

This is how the login page looks:
![Uploading Selection_138.png . . .]()

Which creates quite a disrupting visual experience for the user.

This is how the Index page looks.
![selection_139](https://cloud.githubusercontent.com/assets/1326120/6465513/a3722326-

[2015-03-03 15:38] roman87 commented on #356
Also marking for follow up with Brandon when the next beta is out.

[2015-03-03 16:19] DinisCruz opened #498 "Add API method to delete the GraphDB data cache"
This is the folder that contains the cached version of the data API results as Json, and will look similar to this:

![image](https://cloud.githubusercontent.com/assets/656739/6466593/b3332680-c1c0-11e4-95d3-eef9d2bb6d0f.png)

This method is now available at the config section as **delete_data_cache** ( also invokable directly at http://localhost:1337/config/delete_data_cache )

![image](https://c

[2015-03-03 16:31] DinisCruz opened #499 "Add 'is' 'Library' mapping to the TM Library's root node query_Id"
Although we could find the root of the imported library by looking at 'root nodes' (ie nodes that did not had any parent queries) this was not very efficient since there were already 4 more 'root nodes' (the 4 Metadata ones) and each new search was also creating a root node.

The lack of easy way to find the 'Library root query_id'  was also what was causing the problems with not having data when

[2015-03-03 16:34] DinisCruz commented on #356
yap, I think it is ok to have a limit on the 'non logged in pages' , but after login the user should have the full width available

[2015-03-03 16:51] michaelhidalgo commented on #441
I found the source of the problem for these encoding issues. So far I think all them as been fixed, although I'm writing a test for that.

The problem happens when there are a double encoding issue in the article :
In this case, note how the  & is encoded as ```"&amp;"``` in the article's source code.

<Title>User&amp;#39;s Login Credentials Are Validated Before Use</Title>

The problem is that wh

[2015-03-03 17:06] roman87 commented on #481
I see that we have the same problem in flare. The issue here is that when I glance at the page, my first thing to notice should be the search field. What if we make the border around the search field  thicker and darker?
Also the "showing NN articles" is now too bleak. I have to know that its there to notice.
Instead of making these changes in the master branch, can we please make a branch for thi

[2015-03-03 17:07] roman87 commented on #489
Sure, lets make it so.

[2015-03-03 17:10] roman87 commented on #371
Just put some links here with all the story boards and mockups and close it.

[2015-03-03 17:15] DinisCruz commented on #492
I found the root cause of this, the problem happens when the **dataReload** method is called and the data_cache is not cleaned/removed

This can be triggered by a full run of the unit tests (without first removing the .tmCache) or via the REST API:

![image](https://cloud.githubusercontent.com/assets/656739/6467755/1ae3a352-c1c8-11e4-9900-ec218377bfcb.png)

Since we now have a method to quickly de

[2015-03-03 17:18] roman87 commented on #478
Sorry, was thinking faster than i I was typing :)

[2015-03-03 17:20] roman87 opened #500 "TM Logo is missing"
![selection_141](https://cloud.githubusercontent.com/assets/1326120/6467938/a8bef42a-c19f-11e4-941f-ce674c9aded6.png)

[2015-03-03 17:27] roman87 commented on #498
Is this pushed? I don't seem to be able to have it available.

[2015-03-03 17:30] roman87 commented on #492
Good catch. I can't replicate it though. What if we call delete data_cache as part of the reload. Seems logical?

[2015-03-03 17:35] DinisCruz commented on #492
Actually, the problem is not that easy to replicate (and there is a case when the tests will still pass when the problem exists).

In all cases it is fixed by removing the **data_cache** folder

The positive test (check when all is ok) is not affected by this, since what we should be testing is for the expected behaviour (note that this test will eventually also be executed in the set of tests tha

[2015-03-03 17:37] DinisCruz commented on #498
@roman87 it is now (for issues like this, I try to link to the commits , so that it is easier to see if the code is there or not)

[2015-03-03 17:39] roman87 commented on #441
Ok so is the solution basically to run through the decoder? What happens to doubly encoded code examples inclosed in  ```<pre>``

[2015-03-03 17:43] michaelhidalgo commented on #431
This is fixed. I tested it with Sauce Labs in Iphone and Android emulators.

platform : Linux
browserName : android
version : 5.0

![android1](https://cloud.githubusercontent.com/assets/1732035/6468330/f468cf5a-c199-11e4-98ac-fbd88abeab0d.png)

platform : Mac 10.10
screen-resolution : 1024x768
version : 8.1
![iphone1](https://cloud.githubusercontent.com/assets/1732035/6468345/13f8d19e-c19a-11e4-97

[2015-03-03 17:43] #431 closed

[2015-03-03 17:43] DinisCruz commented on #500
I've just pushed a fix for this

@michaelhidalgo or @tekgirl77  can you write a unit tests to confirm that these files are there (i.e. add to the regression tests a check for the two files referenced in the commit)

[2015-03-03 17:44] DinisCruz commented on #405
this should also be fixed now

[2015-03-03 17:51] DinisCruz opened #501 "[Q] Map the code coverage for the QA Tests"
At the moment we are not measuring the code coverage of the QA tests (from https://github.com/TeamMentor/TM_4_0_QA) which is introducing a blind spot in our QA workflow.

We need to make sure that we have a high code coverage on Web Automation tests, namely for TM_Design (for example we should be hitting 100% of the controllers code, and jade views)

[2015-03-03 17:54] roman87 commented on #499
Nice and elegant. This will also allow us to load multiple root nodes  (i.e. libraries if necessary. For example curated pages. but I don't think this was pushed yet.

[2015-03-03 17:56] michaelhidalgo commented on #441
As far as I've been able to test, those scenarios are already covered :

If you look at this article https://beta.teammentor.net/article/article-4199598f3446

![screen shot 2015-03-03 at 11 56 21 am](https://cloud.githubusercontent.com/assets/1732035/6468660/304a13c4-c19c-11e4-98c3-9f636eff6490.png)

After the fix, running it locally, it becomes

![screen shot 2015-03-03 at 11 57 17 am](https://cl

[2015-03-03 18:04] roman87 commented on #498
Was this pushed?

[2015-03-03 18:09] roman87 commented on #497
Yep, looks like a very good catch!

[2015-03-03 18:11] roman87 commented on #497
@michaelhidalgo do you want to take a stab? at fixing this? This seems like simply making sure we do urlencode before saving to popular search items.

[2015-03-03 18:12] michaelhidalgo commented on #497
Yeah, assigning it to me.

2015-03-03 12:11 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-03-03 21:15] tekgirl77 commented on #289
@DinisCruz and @roman87 I have drafted this code into the following file:

https://github.com/tekgirl77/TM_4_0_GraphDB/blob/Issue_289_Version_Graph_URLs/test/_issues/Version-Check.test.coffee

I wasn't sure where it should live permanently so for now it is in the /tests/_issues/ directory.

Do we want to add all of the target pages to this unit test that are listed in the swagger api:
http://local

[2015-03-03 21:40] roman87 opened #502 "Breakng into mobile view too early."
Seems like we are breaking into mobile view too early.
This is 800 by 697 browser
![selection_142](https://cloud.githubusercontent.com/assets/1326120/6472944/e3ac502c-c1c3-11e4-99f1-6b1da1e6a1b2.png)

[2015-03-03 21:44] roman87 commented on #500
fixed. assigning to @tekgirl77 for unit test

[2015-03-03 21:46] roman87 commented on #484
fixed closing.

[2015-03-03 21:46] #484 closed

[2015-03-03 21:55] roman87 commented on #490
Yep good one. @luchia can you work with @michaelhidalgo to get this fixed. First lets change it to 2015 as a P0 in Jade, and then lets work on doing it dynamically on the backed as a P3 in Flare.

[2015-03-03 21:59] roman87 opened #503 "No results ends up in recent searches, sporadically"
Had it happen once, cannot get it to happen again.

![selection_143](https://cloud.githubusercontent.com/assets/1326120/6473294/887e6462-c1c6-11e4-97b2-f9f1fcd1c1ae.png)

Interestingly the DB log does not show the search that made it to recent searches:
[code]

[2015-03-03 22:00] roman87 commented on #503
Making it a P0 since I think it has something to do with DB being locked.

[2015-03-03 22:15] DinisCruz commented on #503
yeah, that is a bit weird

When this happen again, can you look at http://localhost:1337/poc/top-searches

[2015-03-03 22:23] luchia commented on #400
I will, they weren't working (Dinis and I spoke about it yesterday).

[2015-03-03 22:33] michaelhidalgo opened #504 "Load test scenarios for searching article"
We need to make sure that the Graph Database is not being locked with subsequent and few request when performing search.

[2015-03-03 22:43] DinisCruz opened #505 "[Q] on GraphDB refactor couple APIs to use the pattern used in Data_API"
Here is the code form Data_API that is doing it correctly https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/src/api/Data-API.coffee#L38-L54

The APIs that need to be updated are:
* [x] Config-API.coffee (````reload``` method)
* [x] Convert-API.coffee
* [x] GraphDB-API.coffee
* [x] Search-API.coffee

[2015-03-03 22:50] DinisCruz commented on #495
In this case, I think the HR might look better if it is wider?

That way the spacing would be ok

[2015-03-03 22:53] roman87 commented on #495
@luchia  can you take a look and let us know what you think?

[2015-03-03 22:53] DinisCruz commented on #497
for reference in this case the reason the + are being converted into spaces, is because the browser converts + into spaces (when used in the url)

[2015-03-03 22:56] DinisCruz opened #506 "In an article make the title a big more different"
I think the article view would be quite improved if we made the title a bit different

![image](https://cloud.githubusercontent.com/assets/656739/6474387/2ba46a02-c1f8-11e4-8ef4-f5ed1bc88b62.png)

@luchia can you do this in the poc section? (I'll work with you to create a folder that has a article passed in as its view model)

[2015-03-03 23:04] luchia commented on #489
This can be seen on new branch 'Issue_489_Change_Link_Name'. Screens below -

![screen shot 2015-03-04 at 9 33 42 am](https://cloud.githubusercontent.com/assets/4547737/6474557/ae8987fa-c251-11e4-98da-d06c444f1ba7.png)
![screen shot 2015-03-04 at 9 33 46 am](https://cloud.githubusercontent.com/assets/4547737/6474558/aec2b6b0-c251-11e4-867b-c0a44e9df508.png)

[2015-03-03 23:05] DinisCruz commented on #289
well we need to have tests for all those methods, but we don't need to have them all in this issue

Some of those APIs can have a impact on the current test DB, which is why in some cases the test needs to create a separate test environment. for example [this test](https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/test/api/Config-API.test.coffee#L80-L92):

[code]

In terms of the issue you

[2015-03-03 23:08] luchia commented on #490
This can be seen on the Issue_490_Change_Copyright_Date branch. Screens below -

![screen shot 2015-03-04 at 9 37 25 am](https://cloud.githubusercontent.com/assets/4547737/6474617/2541d1ea-c252-11e4-9828-6d5e388bc407.png)

[2015-03-03 23:22] luchia commented on #495
I think the spacing is fine but I changed the width on the branch Issue_495_HR. Screens below -

![screen shot 2015-03-04 at 9 49 51 am](https://cloud.githubusercontent.com/assets/4547737/6474819/16ad4810-c254-11e4-95eb-ccfc356e69b0.png)

[2015-03-03 23:31] tekgirl77 commented on #289
Okay... base on your initial comment above, I was thinking you wanted the tests for #289 to validate the current links are working the way they are now - a GET call to confirm a valid response?

Are you saying to write the tests to break now, for example, to be written as:
href.assert_Is '/api/v1/git/status'
href.assert_Is_Not '/git/status'

I have to hook into the api's in order to GET the graph

[2015-03-04 03:12] luchia commented on #481
Do you like any of these? There's none that really stand out to me, but maybe I've been looking at it for too long.

![screen shot 2015-03-04 at 1 05 13 pm](https://cloud.githubusercontent.com/assets/4547737/6477490/404ed452-c274-11e4-9d9d-9e4c87aabb42.png)
![screen shot 2015-03-04 at 1 05 39 pm](https://cloud.githubusercontent.com/assets/4547737/6477491/404ee3ac-c274-11e4-96df-fdabfa8dc09a.png)
!

[2015-03-04 03:23] luchia commented on #371
Done.

[2015-03-04 03:23] #371 closed

[2015-03-04 03:35] luchia commented on #490
While I'm on this issue, do we need all of that information in the copyright?

[2015-03-04 03:36] luchia commented on #506
Thoughts on below work?

![screen shot 2015-03-04 at 1 47 33 pm](https://cloud.githubusercontent.com/assets/4547737/6477781/8cb26bd0-c277-11e4-9a35-5ca1c5ef5bdd.png)
![screen shot 2015-03-04 at 2 01 19 pm](https://cloud.githubusercontent.com/assets/4547737/6477782/8cd2a706-c277-11e4-8944-7a71c9c9bc2f.png)
![screen shot 2015-03-04 at 2 01 37 pm](https://cloud.githubusercontent.com/assets/4547737/64

[2015-03-04 03:45] luchia commented on #502
So @michaelhidalgo fixed this this morning on our meeting. I've attached his screenshot -

![screen shot 2015-03-03 at 4 19 02 pm](https://cloud.githubusercontent.com/assets/4547737/6477826/ef78b404-c277-11e4-80ce-4710efc42678.png)

And I've quickly made the change in my version on branch Issue_502 and have screens below. The screen now breaks at 660px -

![screen shot 2015-03-04 at 2 14 01 pm](ht

[2015-03-04 04:03] michaelhidalgo commented on #497
This test verifies that the popular search items contains links that are not url encoded.

[code]

[2015-03-04 07:14] DinisCruz commented on #497
@michaelhidalgo we will need to add that 'C++' (and maybe other examples) value to the searches so that it shows when running the tests from the CI server

[2015-03-04 07:16] DinisCruz commented on #506
I like the 3rd one (with the green bar)

[2015-03-04 07:18] DinisCruz commented on #289
yes and you only need a couple cases (ideally a couple that run fast with server side data processing)

yes you will need to have that initial set up (like you are doing now)

[2015-03-04 12:35] michaelhidalgo commented on #497
You are right, I'll refactor the test to search for 'C++' and other cases so those terms become part of the Popular Search Terms.

In order to populate them in that list, we need to search for it and pick up at least one article right?

[2015-03-04 12:57] DinisCruz commented on #505
This is done by the referenced commits

[2015-03-04 12:57] #505 closed

[2015-03-04 13:00] DinisCruz commented on #499
@roman87 I actually don't think we should support that scenario (multiple library root nodes). The point of having that entry is to have a 'top level' node (which in this case it is called 'Library')

From now on, if you want a separate library just load it on a separate TM instance (eventually we could add the option to TM_Design to chose which server to talk to (which would actually mean 'what l

[2015-03-04 13:45] tekgirl77 commented on #289
Got it, thanks @DinisCruz !

[2015-03-04 13:46] DinisCruz commented on #400
Ok, so now there are two special 'poc file names' which when used will be feed specific types of data

* if an jade page name contains the word **article**: an random article data will be available on render
  * this file can be placed anywhere inside the **__poc** folder
* if an jade page name contains the word **filters**: the entire 'filters' dataset will be available on render
    * this file

[2015-03-04 20:36] roman87 opened #507 "Cannot load data anymore"
Steps to reproduce.
1. git pull
2. npm update
3. rm -rf ./.tmCache
4. npm test

[2015-03-04 20:37] roman87 commented on #507
Here is my config file. Used to work before:
{
  "tm_3_5_Server": "https://tmdev01-uno.teammentor.net",
  "content_Folder": "./.tmCache/_TM_3_5_Content",
  "default_Repo": "https://github.com/TMContent/Lib_UNO.git",
  "current_Library": "Lib_UNO"
}

[2015-03-04 20:46] michaelhidalgo opened #508 "Dynamic generated links are not URL-encoded"
This issue is related to https://github.com/TeamMentor/TM_4_0_Design/issues/497 .

We need to make sure to Url-encode the href attribute (i.e the URL) when a hyperlink is generated.

![screen shot 2015-03-04 at 2 40 59 pm](https://cloud.githubusercontent.com/assets/1732035/6492997/13fb6736-c27d-11e4-8d03-ff100a3da23e.png)

If you search "&", the dynamic generated links will use the text inside the

[2015-03-04 20:48] michaelhidalgo commented on #507
did you run a npm install for the Graph Database? I think I had the same issue

[2015-03-04 21:47] michaelhidalgo commented on #497
@DinisCruz  what do you think about this

[code]

[2015-03-05 01:14] DinisCruz commented on #507
Is this still happening?

When in doubt check the current head with the travis builds (https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds)

which in this case is ok

![image](https://cloud.githubusercontent.com/assets/656739/6497237/d5a3d844-c2d4-11e4-9582-af9c92dbb638.png)

[2015-03-05 03:47] luchia commented on #400
This is on the dev branch, right? The individual pages that I made (sub-nav, filters) don't work for me still. The rest of the pages do though -

![screen shot 2015-03-05 at 1 33 11 pm](https://cloud.githubusercontent.com/assets/4547737/6498804/4166fa9a-c33c-11e4-8d85-8057f0a86e25.png)

[2015-03-05 04:37] luchia commented on #400
I haven't fixed the POC pages, but I did do some work on the formatting of the other pages. It was on branch Issue_400 but I have now merged that into Dev.

![screen shot 2015-03-05 at 2 27 21 pm](https://cloud.githubusercontent.com/assets/4547737/6499303/918a2148-c344-11e4-9bc9-72322a5b1582.png)
![Uploading Screen Shot 2015-03-05 at 2.27.23 pm.png . . .]()
![screen shot 2015-03-05 at 2 27 26 pm](

[2015-03-05 04:46] luchia commented on #506
Damn, that's the one I like the least. I was looking at the article list and I think our article titles should match that, if anything -

![screen shot 2015-03-05 at 2 44 26 pm](https://cloud.githubusercontent.com/assets/4547737/6499397/5ebc89f2-c346-11e4-91a4-ae61f188ab73.png)
![screen shot 2015-03-05 at 2 44 24 pm](https://cloud.githubusercontent.com/assets/4547737/6499401/67db282c-c346-11e4-8da

[2015-03-05 08:04] DinisCruz commented on #400
nice :) , I like those changes to the poc pages

[2015-03-05 15:02] michaelhidalgo commented on #508
This test verifies that both '&' and '+' are not URL-encoded when the filter hyperlink is dynamically generated

[code]

After the fix, this test verifies that for URL encoded is used when creating links

[code]

[2015-03-05 15:03] michaelhidalgo commented on #497
This is the test after the fix

[code]

[2015-03-05 15:16] michaelhidalgo commented on #497
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/509

[2015-03-05 15:17] michaelhidalgo commented on #508
With Pull Request

[2015-03-05 16:11] michaelhidalgo commented on #490
Yap, it was fixed in the referenced branch.
![screen shot 2015-03-05 at 10 07 35 am]
(https://cloud.githubusercontent.com/assets/1732035/6508580/57cd0e04-c31f-11e4-83b8-82db9b7ce20f.png)

[2015-03-05 16:13] michaelhidalgo commented on #495
I think it looks good. I searched this article (which has few content and the reference to Patterns & Practices) http://localhost:1337/article/article-1ae6d25f1315

![screen shot 2015-03-05 at 10 14 13 am](https://cloud.githubusercontent.com/assets/1732035/6508754/4bad8fbc-c320-11e4-81ba-1488fbfedca0.png)

[2015-03-05 16:40] michaelhidalgo commented on #460
@roman87 what do you think? I'm not sure if the reset link should be inside a frame (i.e like a button).

[2015-03-05 16:52] michaelhidalgo commented on #446
We can close this issue. I did a search for the "|" character in the .jade files and the occurrences where removed.

[2015-03-05 16:52] #446 closed

[2015-03-05 17:13] michaelhidalgo commented on #504
I found this Package named loadtest : https://www.npmjs.com/package/loadtest
It's well documented and the information displayed seems to be meaningful. I'll see which other scenarios can be generated.

![screen shot 2015-03-05 at 11 12 38 am](https://cloud.githubusercontent.com/assets/1732035/6509962/7bd86eca-c328-11e4-9ff3-5cdebba07d01.png)

[2015-03-05 22:39] DinisCruz commented on #497
merged

[2015-03-05 22:40] DinisCruz commented on #497
@michaelhidalgo can you push that unit test to https://github.com/TeamMentor/TM_4_0_QA ?

[2015-03-05 23:28] DinisCruz opened #510 "Map out the formula/script used to calculate the search results score"
The first pass of this formula script looks like this (in coffee-script):

[code]

[2015-03-06 09:50] luchia commented on #460
My reasoning for changing it to a link is because it is a secondary piece of information and isn't vital to the user to get in to the application. I also thought that it was kind of confusing because buttons should post data and it doesn't do that - it links to a new page.

As per our meeting this morning, Michael noted the colour is very green and it doesn't really tie in with the rest of the app

[2015-03-06 09:52] luchia commented on #502
I merged the branch 'Issue_502' onto Lucy, @Dinis.

[2015-03-07 00:10] roman87 opened #511 "Check on search results based on Danny's content ideas, create content issues where necessary."
When I was recently teaching, a student asked me how to do secure connection strings.  I’ve summarized the responses from the engineering team below.  Perhaps this might be useful for the TM database:

•          The general approach is to use layers  of protection to make it harder for an attacker to get all of the pieces at once

•          Database connection strings should be stored in a confi

[2015-03-07 00:11] roman87 opened #512 "First pass at updating documentation for TM 4.0"

[2015-03-07 14:23] roman87 commented on #491
I like b. However there is also an additional issue when there is multiple filters. Do we just show the filters as badges on the recent search items page then?

[2015-03-07 14:36] roman87 commented on #491
Lets make this part of flare.  This is storied here:
https://github.com/TeamMentor/Master/issues/906

However, we should not show this in the "Popular Searches" as I think this would be too much info on that screen and  would confuse the user. We should how this information only in recent searches for that specific user.

[2015-03-07 14:37] roman87 commented on #384
This is fixed

[2015-03-07 14:37] #384 closed

[2015-03-07 14:40] roman87 commented on #493
Making this part of flare/sprint 3

[2015-03-07 14:42] roman87 commented on #496
As discussed, lets hold off on this in Jade.

[2015-03-07 14:42] #496 closed

[2015-03-07 14:45] roman87 commented on #447
This is done

[2015-03-07 14:45] #447 closed

[2015-03-07 14:49] roman87 commented on #440
This is fixed. Assigning to @tekgirl77 for Unit Test

[2015-03-07 14:51] roman87 commented on #415
Closing as dupe of #440

[2015-03-07 14:51] #415 closed

[2015-03-07 15:01] roman87 commented on #494
I think we can wait on this and move the data to graph DB.

[2015-03-07 15:09] roman87 commented on #405
This is fixed.

[2015-03-07 15:09] #405 closed

[2015-03-07 15:11] roman87 commented on #501
I thought that Quality issues should not take longer than 4h. This really makes it a task and should be scheduled appropriately. I am going to put it as P3 for Sprint 3 at the moment.

[2015-03-07 15:21] roman87 commented on #503
Ok I think I've figured out how to consistently duplicate this. This only happens on the first unsuccessfull search after TM_Design startup. To replicate.
1. Stop TMDesign
2. remove .tmCache
3. Start TMDesign
4. Login
5 Search for a word that will not be found - like blah
6. Observe the top searches

Any subsequent searches for that word will increase the count, but only for that word.
![selection

[2015-03-07 15:45] roman87 commented on #356
@luchia Where is this fixed?

[2015-03-07 16:08] roman87 commented on #489
Looks good, lets merge the change.

[2015-03-07 16:26] roman87 commented on #499
@DinisCruz well that is true, however we need to be able to support multiple taxonomies. I.e. multiple keywords/queries pointing to the same article. For example, if we have OWASP top 10 taxonomy (formerly OWASP top 10 Library) we need to be able to point A1 Injection to our Injection articles.

[2015-03-07 16:29] roman87 commented on #499
And this may help us with this mapping. But I agree, we should not have more than one Library of articles.

[2015-03-07 16:29] #499 closed

[2015-03-07 16:32] roman87 commented on #506
I agree, there should be congruency between the titles. I like the last one.

[2015-03-07 16:50] roman87 commented on #506
Actually now when I look at it, the contrast between the title and the headings seems too great. The headings seem to fade.

[2015-03-07 16:55] roman87 commented on #508
This is fixed.

[2015-03-07 16:55] #508 closed

[2015-03-07 17:00] roman87 commented on #490
Looks good. Lets create a PR.

[2015-03-07 17:04] roman87 commented on #495
Looks good. Closing

[2015-03-07 17:06] roman87 commented on #495
Ooops sorry, lets create a PR for this. And assign it back to me.

[2015-03-07 17:19] roman87 commented on #504
This looks promising. Lets see how many random searches we can do (i.e. search for a random string) lets also see how simultaneous navigate requests we can do and full article view requests.
An Ideal search would be to take all the words that @DinisCruz had parsed out of the articles, take only unique words, and create parallel search requests, each with a unique word, that does exist. Lets see ho

[2015-03-07 17:59] roman87 commented on #507
So the problem happens because the tests time out on git clone (I am on a slower connection), and the next test begins to run, while DB is still locked. I think we can close this.

[2015-03-07 17:59] #507 closed

[2015-03-07 18:10] roman87 commented on #439
@luchia the option that is currently on Dev is where filters don't break nicely. Looking at it I think we should switch back to the version where the whole box was not clickable but it breaks nicely for this release. Can we do that and then close this issue and solve this in Flare
![selection_145](https://cloud.githubusercontent.com/assets/1326120/6542603/4e699ab4-c4cb-11e4-8543-8857321e8cb8.png)

[2015-03-07 18:12] roman87 opened #513 "Create a 1 min video on how to use TM 4.0"

[2015-03-07 18:13] roman87 opened #514 "Come up with list of questions for customers on customer beta"
@DinisCruz @luchia @michaelhidalgo @tekgirl77  Feel free to jump in here and suggest any questions you'd like to see customers answer when they use the beta.

[2015-03-07 18:15] roman87 commented on #497
This is fixed. @michaelhidalgo can you do the push and then close this issue

[2015-03-07 18:18] roman87 commented on #510
As discussed lets also add the Guidance type. If it is a checklist lets automatically subtract the title score. This will put the checklists at the bottom.

[2015-03-07 18:20] roman87 commented on #510
Also, we should have a POC search page that shows the score of each search result

[2015-03-07 18:23] roman87 commented on #460
This looks good, should have been on its own branch though :)
Lets merge it into Dev.

[2015-03-07 18:28] roman87 commented on #502
Looks good, Lets merge it into Dev

[2015-03-07 18:31] roman87 commented on #400
Making this a P2

[2015-03-07 18:36] roman87 commented on #454
Bumping this up as it is pretty important we fix it.

[2015-03-07 20:36] michaelhidalgo commented on #454
Yeah I will focos on this

El sábado, 7 de marzo de 2015, RomichG <notifications@github.com> escribió:

--
Sent from Gmail Mobile

[2015-03-07 22:47] michaelhidalgo commented on #497
This issue has been merged into Dev. Closing it now.

[2015-03-07 22:47] #497 closed

[2015-03-08 18:37] luchia commented on #481
I think I'm pretty close to finishing this one, I'd like some feedback now. You can view it on the branch 'Issue_481' - I didn't want to merge it without getting feedback first.

There has been a slight colour change in the background so I can get other greys that sit better on top of it. I've put the search bar with a white background to make it stand out and article results (from login and from

[2015-03-08 19:04] luchia commented on #506
I agree, I merged this into the Lucy branch if you want to have a look at it. I also added more spacing to the articles, help-docs and TM summary which I think makes it a lot easier to read.

![screen shot 2015-03-09 at 5 02 38 am](https://cloud.githubusercontent.com/assets/4547737/6547097/b28b8ce2-c619-11e4-88c4-87b5ba3fc578.png)
![screen shot 2015-03-09 at 5 02 50 am](https://cloud.githubusercon

[2015-03-08 19:17] luchia commented on #460
It was done over the weekend.

[2015-03-08 19:18] luchia commented on #490
This was already merged from my branch.

[2015-03-08 19:19] luchia commented on #495
This was also already merged.

[2015-03-08 19:20] luchia commented on #502
This has already been merged from the Lucy branch.

[2015-03-08 19:23] luchia commented on #400
I'm having this issue again -

![screen shot 2015-03-09 at 5 23 01 am](https://cloud.githubusercontent.com/assets/4547737/6547176/66ac881e-c61c-11e4-8a35-989d87918409.png)
![screen shot 2015-03-09 at 5 23 02 am](https://cloud.githubusercontent.com/assets/4547737/6547177/66b644b2-c61c-11e4-9f5e-c37fd595b504.png)

I can't remember how we fixed it last time. I updated Dev and created a new branch for

[2015-03-08 19:25] luchia commented on #356
For the screen width limitation? I thought you wanted to do it at login so I left it. Did you want me to put a limit on all non-logged in pages? What then happens with the help page, which can be viewed from a  logged-out perspective and a logged-in perspective?

[2015-03-08 19:26] luchia commented on #489
This has already been merged to Dev.

[2015-03-08 19:34] luchia commented on #439
For some reason, this was linked to a different version of the filters. I have changed it over to the one it should be. Can you please take a look, as that should be breaking correctly now? I'm not sure what happened.

![screen shot 2015-03-09 at 5 33 07 am](https://cloud.githubusercontent.com/assets/4547737/6547230/ea1ca4e4-c61d-11e4-8a19-92cf368e3a9e.png)
![screen shot 2015-03-09 at 5 33 13 am](

[2015-03-09 09:21] DinisCruz opened #515 "Making quick requests to an article that exists results in the 'Oops' message"
for example http://localhost:1337/article/article-00000015b09d

![image](https://cloud.githubusercontent.com/assets/656739/6552376/707a6b9e-c645-11e4-9217-0d5e8fe0e214.png)

which after refreshing words

![image](https://cloud.githubusercontent.com/assets/656739/6552390/7f452cf4-c645-11e4-8b52-c668487b4fc0.png)

we can see on the logs what caused this

![image](https://cloud.githubusercontent.com/

[2015-03-09 10:22] michaelhidalgo commented on #515
@DinisCruz does this happen after deleting the .tmcache folder? or when doing simultaneous request to the same article one after another.
I would like to reproduce it to write a script for the loading tests.

[2015-03-09 11:51] DinisCruz commented on #126
Multi keyword is now working (with code pushed into GraphDB master)

Here are some examples of the searches that work now:

![image](https://cloud.githubusercontent.com/assets/656739/6554273/12b518be-c65a-11e4-9be2-b3cd980dadd3.png)

![image](https://cloud.githubusercontent.com/assets/656739/6554275/1b8903e2-c65a-11e4-90e9-d41aedc10809.png)

![image](https://cloud.githubusercontent.com/assets/6567

[2015-03-09 12:02] DinisCruz commented on #515
Actually I was not able to reproduce this when the GraphDB cache is enabled (which is part of the reason that cache is there) , I'm marking this for UnitTests since I'm not sure it will happen on the live version, but it will be good to confirm it doesn't exists

@michaelhidalgo I'm assigning it to you and reducing it to P2

[2015-03-09 12:11] DinisCruz commented on #503
Found the bug and push fix

[2015-03-09 17:02] michaelhidalgo commented on #490
This is fixed.

![screen shot 2015-03-09 at 11 02 57 am](https://cloud.githubusercontent.com/assets/1732035/6559897/aa39bd98-c64b-11e4-8577-05d8f5f23ac2.png)

[2015-03-09 17:02] #490 closed

[2015-03-09 20:44] roman87 commented on #481
Personally, I don't like it :). Its too dark and the search bar blends in with its background. while the bottom part of the page stands out as it is darker. Creating quite the opposite effect of what we want to create.

[2015-03-09 23:19] roman87 commented on #460
Yep, looks good in dev

[2015-03-09 23:19] #460 closed

[2015-03-09 23:34] roman87 commented on #495
Yep closing

[2015-03-09 23:34] #495 closed

[2015-03-10 02:01] roman87 commented on #502
yep, closing

[2015-03-10 02:01] #502 closed

[2015-03-10 02:05] roman87 commented on #400
So this works for you now right? Is there anything else that needs to be done on this issue? Can we close it?

[2015-03-10 02:06] roman87 commented on #356
As discussed on the call today, lets put the limit on all logged in pages except for the doc pages.

[2015-03-10 02:06] roman87 commented on #489
Done. Closing

[2015-03-10 02:06] #489 closed

[2015-03-10 02:14] roman87 commented on #439
Done

[2015-03-10 02:14] #439 closed

[2015-03-10 02:27] roman87 commented on #515
Well, I actually think we need a more global solution for this. Which is basically option B above. Whenever graph DB is busy, we need to queue the request and service it. If it can't service it after N times, return an error.  It still is a P2 and lets move it to sprint 3. But I think ability to create a load test for this, we should do now.
The bigger  question is, why does a database, that servi

[2015-03-10 02:30] roman87 commented on #503
Fixed, closing

[2015-03-10 02:30] #503 closed

[2015-03-10 02:33] roman87 commented on #481
As discussed, we will table this for now and resume in Sprint 3 as part of flare.

[2015-03-10 05:25] luchia commented on #481
I really like the filter I put in the work I did, can we include it?

![screen shot 2015-03-09 at 4 33 31 am](https://cloud.githubusercontent.com/assets/4547737/6547009/9d59aec0-c615-11e4-9f9e-54109c0fc8c7.png)

[2015-03-10 05:54] michaelhidalgo commented on #515
This issue is related to https://github.com/TeamMentor/TM_4_0_Design/issues/462 and this https://github.com/TeamMentor/TM_4_0_Design/issues/504

[2015-03-10 05:56] michaelhidalgo commented on #464
I think that once we fix the lonely articles (articles that are not part of any view), we can run this test. At the moment when we are importing the articles to JSON, we are just considering those articles that are part of any view. It means that there might be broken links.

[2015-03-10 05:57] michaelhidalgo commented on #441
Related to https://github.com/TeamMentor/TM_4_0_Design/issues/395

[2015-03-10 06:08] luchia commented on #506
As per our meeting this morning, it was agreed that the title should be similar to the results list in the application (see below) -

![screen shot 2015-03-10 at 3 28 17 pm](https://cloud.githubusercontent.com/assets/4547737/6569652/182b526e-c73a-11e4-9d49-978e616334e0.png)

This is what I currently have -

![screen shot 2015-03-10 at 4 08 23 pm](https://cloud.githubusercontent.com/assets/4547737/

[2015-03-10 06:33] luchia commented on #400
The pages now work so I was able to finish what I needed to work on, which was making the POC pages work so you can test them.  These now work -

Filters 1 (doesn't break as nicely) -
![screen shot 2015-03-10 at 4 28 12 pm](https://cloud.githubusercontent.com/assets/4547737/6570256/1fb09a22-c743-11e4-8fce-a04cda971fc9.png)

Filters 2 (dropdown menus) -

![screen shot 2015-03-10 at 4 28 16 pm](http

[2015-03-10 06:47] luchia commented on #506
This is on the Lucy branch ready to be merged.

[2015-03-10 07:38] luchia commented on #356
Alright, these are on the Lucy branch ready to be merged to Dev.

![screen shot 2015-03-10 at 5 27 47 pm](https://cloud.githubusercontent.com/assets/4547737/6570792/23ce2698-c74c-11e4-9e82-db7785f9d521.png)
![screen shot 2015-03-10 at 5 27 51 pm](https://cloud.githubusercontent.com/assets/4547737/6570793/240239f6-c74c-11e4-9469-7e6b5521afaa.png)
![screen shot 2015-03-10 at 5 27 53 pm](https://clou

[2015-03-10 13:51] michaelhidalgo opened #516 "Error running tests in the latest version of the GraphDatabase"
I get the latest version of the GraphDatabase, I deleted the cache did a clean install and ran npm test and 7 test are failing. @DinisCruz, could it be that something is pending to push?

Those test are related to the Search-API

[code]

[2015-03-10 14:01] roman87 commented on #516
Did you run npm install?

[2015-03-10 14:08] roman87 commented on #481
It looks a bit too big, but lets create a POC page with it if you like then we can discuss.

[2015-03-10 14:10] roman87 commented on #515
Also, in an event this does happen, the application needs to display an error and not an article does not exist page.

[2015-03-10 14:27] michaelhidalgo commented on #516
Yeah, I ran the npm update and I deleted the cache, I also ensured that I was running the latest version from master.

[2015-03-10 15:13] roman87 commented on #516
Can you try a fresh, brand new clone? i.e. git clone, npm install, npm test...

[2015-03-10 15:16] roman87 commented on #400
Ok seems like it is fixed on Lucy branch.

[2015-03-10 15:16] #400 closed

[2015-03-10 15:23] michaelhidalgo commented on #516
I think it is a general issue. It also failed on Travis https://travis-ci.org/TeamMentor/TM_4_0_GraphDB

[2015-03-10 15:26] roman87 commented on #506
I like this one for now. Lets keep it for this version.

[2015-03-10 15:26] #506 closed

[2015-03-10 15:45] roman87 commented on #356
Ok now we have an issue with the logo ... :(..
![selection_146](https://cloud.githubusercontent.com/assets/1326120/6578486/c6fcbe74-c71a-11e4-9927-a912019333f0.png)

[2015-03-10 16:29] DinisCruz commented on #516
yes @michaelhidalgo is correct, it is actually to do with the order of the tests (since one of the cache needed for the failed tests is created by an later test)

I'm fixing this now

this kind of issues will be addressed for good once I add an installer to download all library files and create all artifacts

[2015-03-10 16:38] roman87 commented on #516
Can't wait :) do we have an issue on that?

[2015-03-10 16:48] roman87 commented on #126
This looks good. Lots of tweaks we need to come up with for this but, those are separate issues. Great stuff.

[2015-03-10 16:48] #126 closed

[2015-03-10 16:51] roman87 opened #517 "Create a POC page which shows the search scores along side the article"

[2015-03-10 16:52] roman87 opened #518 "Expose search formula in the config"

[2015-03-10 16:59] roman87 opened #519 "Create string search"
we should support search like  "input validation is important"

This should be fairly simple to do, what we can do after, is treat each word in the string separately to create a score.

[2015-03-10 17:02] roman87 commented on #356
@luchia lets fix it ASAP, and then @DinisCruz could you merge Lucy->Dev-> master. This would be our customer beta.

[2015-03-10 17:59] DinisCruz opened #520 "Create install script/tool for GraphDB"
This should have two modes: **install** and **update-data**

Step 0 is to do an initial clone of TM_Graph or TM_QA

**install**:
1. [ ] remove .tmCache
2. [ ] update code git repo (via git pull of target branch (in principle ```master```))
3. [ ] clone data git repo
4. [ ] **update-data** steps (described below)

**update-data**
1. [ ] update git repo (via git pull of target branch (in principle `

[2015-03-10 17:59] DinisCruz commented on #516
yes (https://github.com/TeamMentor/TM_4_0_Design/issues/520)

[2015-03-10 18:35] DinisCruz opened #521 "[Q] Re-add the GraphDB tests that could not run without the data being loaded"
(See referenced commit for the locations of the tests that had to be commented out to fix https://github.com/TeamMentor/TM_4_0_Design/issues/516)

This might be addressed by the https://github.com/TeamMentor/TM_4_0_Design/issues/520

[2015-03-10 18:37] DinisCruz commented on #516
[latest push](https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/53841545) address this (with the build now passing on Travis)

![image](https://cloud.githubusercontent.com/assets/656739/6582318/80aa6c02-c754-11e4-9a15-3394f6a499a2.png)

[2015-03-10 19:29] roman87 commented on #520
Michael, want to give it a shot in sprint 3

[2015-03-10 19:51] michaelhidalgo commented on #441
The solution to this problem consist on modifying the raw XML article and replace the double encoding for the  "& ". Therefore ```"&amp;"``` becomes ```"&"```.

However, few articles needs to keep ```"&amp;"``` to delineate how Html Encoding should be used for special characters.

This articles needs to be fixed manually and converted to Markdown.

[code]

Actually, this article in production http

[2015-03-10 20:12] luchia commented on #340
Yay, finally done -

![screen shot 2015-03-10 at 6 00 50 pm](https://cloud.githubusercontent.com/assets/4547737/6584191/48bde678-c7b5-11e4-99fa-8e58528d2522.png)
![screen shot 2015-03-10 at 6 00 59 pm](https://cloud.githubusercontent.com/assets/4547737/6584192/48eeb9f6-c7b5-11e4-8439-1c4376a044c6.png)
![screen shot 2015-03-10 at 6 01 47 pm](https://cloud.githubusercontent.com/assets/4547737/658419

[2015-03-10 20:15] luchia commented on #340
And in the application, we now have a logo that doesn't push out of it's container -

![screen shot 2015-03-11 at 6 13 17 am](https://cloud.githubusercontent.com/assets/4547737/6584307/08f00eb2-c7b6-11e4-99e9-5cce60ad024b.png)
![screen shot 2015-03-11 at 6 15 06 am](https://cloud.githubusercontent.com/assets/4547737/6584308/08ff64ca-c7b6-11e4-80fd-140be5518322.png)

[2015-03-10 20:23] michaelhidalgo commented on #520
Yes, I like the workflow for the setup.

[2015-03-10 20:48] DinisCruz commented on #516
So I just run this commands and it worked:

[code]

here are the last lines of the **npm test** command

[code]

[2015-03-10 20:51] michaelhidalgo commented on #516
Yeah, this issue is fixed.

[2015-03-10 20:51] #516 closed

[2015-03-10 21:13] luchia commented on #356
Yup, fixed. There were a couple of other minor issues I found and fixed as well. I also ran it through all the browsers I have on my machine and it's looking good.

![screen shot 2015-03-11 at 7 11 47 am](https://cloud.githubusercontent.com/assets/4547737/6585495/016fa8a2-c7be-11e4-9213-f0d8f8f6e344.png)
![screen shot 2015-03-11 at 7 11 55 am](https://cloud.githubusercontent.com/assets/4547737/658

[2015-03-10 21:22] michaelhidalgo commented on #356
@luchia, is this in your branch? I can help to test in saucelabs on different browsers/platforms.

[2015-03-10 21:39] roman87 commented on #441
So we only have 6 articles to fix manually?

[2015-03-10 21:45] michaelhidalgo commented on #441
Yes, those six articles has this pattern :

![screen shot 2015-03-10 at 3 45 36 pm](https://cloud.githubusercontent.com/assets/1732035/6586096/6b613884-c73c-11e4-82d7-c053d50fd675.png)

[2015-03-10 21:46] luchia commented on #356
Yes, it is.

[2015-03-10 21:46] luchia commented on #356
I've assigned to Dinis to merge as I don't want to make any mistakes so close to launch.

[2015-03-10 21:47] roman87 commented on #356
Yey, finally fixed. @DinisCruz can you merge Lucy's branch into Dev and into master?

[2015-03-10 22:01] luchia commented on #481
I am still having this issue with POC pages @DinisCruz -

![screen shot 2015-03-11 at 7 59 12 am](https://cloud.githubusercontent.com/assets/4547737/6586366/a2c63a58-c7c4-11e4-8932-dfa2bcd2c9a9.png)

But I replaced our existing results div to check it and this is what it will look like -

![screen shot 2015-03-11 at 7 58 26 am](https://cloud.githubusercontent.com/assets/4547737/6586374/c01b2802-c7

[2015-03-10 22:06] luchia commented on #517
I'll take this and create the template for you, @DinisCruz, so all you need to do is put the logic in.

[2015-03-10 22:29] luchia opened #522 "Bring Flare up to speed with Jade"
There have been a lot of design changes to Jade in the last couple of months that I haven't had time to migrate over to Flare as well, due to time constraints. This is going to be a large issue with a couple of weeks work in it. It needs to be done before Flare is launched.

I will keep updating this checklist as and when I find more things.

### Articles Directory
- [x] Article titles need to be

[2015-03-10 22:44] luchia commented on #517
Hey @DinisCruz, I created the template but I can't see it in the browser. I think it's something to do with the data again -

![screen shot 2015-03-11 at 8 43 16 am](https://cloud.githubusercontent.com/assets/4547737/6587017/bc27fdf0-c7ca-11e4-8271-288187710fdc.png)

This is my error log -

![screen shot 2015-03-11 at 8 43 56 am](https://cloud.githubusercontent.com/assets/4547737/6587025/c812cc12-

[2015-03-10 22:58] luchia opened #523 "Can we shorten the TM summary on the sign up/login pages?"
These pages are now out of proportion because we're not using the full-width of the screen anymore.

![screen shot 2015-03-11 at 8 45 43 am](https://cloud.githubusercontent.com/assets/4547737/6587051/0b05150c-c7cb-11e4-89eb-11763357abbf.png)
![screen shot 2015-03-11 at 8 46 13 am](https://cloud.githubusercontent.com/assets/4547737/6587057/1741dec2-c7cb-11e4-8398-404c465bf3b1.png)

I propose that w

[2015-03-10 23:00] luchia commented on #523
Or, we could even strip the list altogether (after all, it is double up content from the landing page) -

![screen shot 2015-03-11 at 9 00 04 am](https://cloud.githubusercontent.com/assets/4547737/6587206/17ed53c2-c7cd-11e4-999a-98e857b0c545.png)

[2015-03-10 23:11] luchia opened #524 "Create a narrow-width verison of the Docs page"
Just to see what it looks like.

[2015-03-11 00:55] luchia commented on #524
This can be seen on the Issue_524 branch. I think this could work quite well. @roman87 @DinisCruz @michaelhidalgo, let me know what you want to do.

![screen shot 2015-03-11 at 10 48 50 am](https://cloud.githubusercontent.com/assets/4547737/6588399/f45e21d8-c7dc-11e4-87e5-79c66623f111.png)
![screen shot 2015-03-11 at 10 48 54 am](https://cloud.githubusercontent.com/assets/4547737/6588400/f49898a4-

[2015-03-11 01:23] luchia commented on #478
Mentioned in #522

[2015-03-11 01:50] roman87 commented on #523
So first, why when we switch to HDPI mode we actually have a smaller window? Here is what I mean:
this is 1266x764
![selection_148](https://cloud.githubusercontent.com/assets/1326120/6588935/29ec62c4-c76f-11e4-8828-2e1364242fb9.png)

and this is just 20 pix more
1282x772
![selection_149](https://cloud.githubusercontent.com/assets/1326120/6588934/26565e94-c76f-11e4-8c7f-2e57c2e9c0ba.png)

Then to a

[2015-03-11 01:59] roman87 commented on #524
I think this looks fine, only @luchia you need to make sure that clicking on any of the docs items also opens up in a small window, as well as be careful about images.

[2015-03-11 03:50] roman87 opened #525 "Update "Index" link to point to /show/Index instead of /show/Guidance"
Right now clicking on Index points to /show/Guidance, which is no longer the case, since I updated library name to be Index.

This should be updated here: source/jade/_mixins/links.jade
But I think there is a number of tests that will need to be updated as well.

[2015-03-11 04:40] roman87 opened #526 "Whole bunch of tests fail on windows with new Library"
1) | api | Config-API.test | via web api convert_Xml_To_Json:
    Error: timeout of 20000ms exceeded. Ensure the done() callback is being cal
ed in this test.
   at [object Object].<anonymous> (c:\TEAM Mentor-Dev\TMDEV01-Site_beta.teammen
or.net\TM40\TM_4_0_GraphDB\node_modules\mocha\lib\runnable.js:170:19)
   at Timer.listOnTimeout [as ontimeout] (timers.js:112:15)

 2) | api | Data-API.test | vi

[2015-03-11 05:09] michaelhidalgo commented on #526
Does this library you have setup has the VERY LONELY ARTICLES View?
I think that might be the problem.

2015-03-10 22:40 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet,

[2015-03-11 07:26] luchia commented on #523
I'm not actually too sure why it does that in HDPI. I did some googling and found a fix for media queries where you target devices higher than a certain pixel width ( (-webkit-device-pixel-ratio: 1.5), can you let me know if that fixes it?

I made the changes and merged it into the Lucy branch. You can see it below or on the branch -

![screen shot 2015-03-11 at 5 25 48 pm](https://cloud.githubuse

[2015-03-11 07:31] luchia commented on #524
Images will be fine because they have a max-width of 100%, making them responsive. I added the fix for the other pages (they used a different template).

You can see it on the Lucy branch or below -

![screen shot 2015-03-11 at 5 28 41 pm](https://cloud.githubusercontent.com/assets/4547737/6592053/30554f2c-c814-11e4-893b-819c446608e1.png)
![screen shot 2015-03-11 at 5 28 46 pm](https://cloud.githu

[2015-03-11 07:52] DinisCruz commented on #526
The key is usually on the first error (in this case **1) | api | Config-API.test | via web api convert_Xml_To_Json:** )

where the json files created ok?

[2015-03-11 07:54] DinisCruz commented on #303
this is done

[2015-03-11 07:55] DinisCruz commented on #323
also done

[2015-03-11 07:56] DinisCruz commented on #525
related to https://github.com/TeamMentor/TM_4_0_Design/issues/482 and https://github.com/TeamMentor/TM_4_0_Design/issues/499

[2015-03-11 08:57] DinisCruz opened #527 "[Q] Add log/tracking for GraphDB use (vs cache hits)"
The objective is to understand (on a live system) what requests are still using the GraphDB and what requests can be consistently delivered via the cached values

[2015-03-11 09:29] DinisCruz opened #528 "[Q] Move root queries feature to a PoC page"
Also refactor the code since it is not working at the moment

![image](https://cloud.githubusercontent.com/assets/656739/6593477/048494b8-c7d1-11e4-8501-2d4cbed21ad8.png)

![image](https://cloud.githubusercontent.com/assets/656739/6593501/12da9aee-c7d1-11e4-9f39-455f1ddeca3b.png)

![image](https://cloud.githubusercontent.com/assets/656739/6593506/1aec831e-c7d1-11e4-9cb5-513e3085a292.png)

![image]

[2015-03-11 09:50] DinisCruz commented on #525
To level link now points to **/show/** which will show the root library (i.e. the Library root node). Note that this means that **/show/** doesn't show the list of root queries (which after this fix is not that useful (see https://github.com/TeamMentor/TM_4_0_Design/issues/528))

This is what it looks like now:

![image](https://cloud.githubusercontent.com/assets/656739/6593704/d9d0f548-c7d2-11e4-

[2015-03-11 11:19] DinisCruz commented on #470
This is now fixed https://travis-ci.org/TeamMentor/TM_4_0_Design/builds/53928313

now the links that you can see on http://localhost:1337/search?text=Log+Files+Are+Protected

![image](https://cloud.githubusercontent.com/assets/656739/6595204/0ae3a042-c7e0-11e4-850b-0a5350f22615.png)

go to: http://localhost:1337/article/e6ad7b8a48f0/Log-Files-Are-Protected

![image](https://cloud.githubusercontent

[2015-03-11 13:29] roman87 commented on #526
Yep, looks like they were.

[2015-03-11 17:03] DinisCruz commented on #526
do you still get the same errors if you run it again?

[2015-03-11 17:52] DinisCruz opened #529 "Support searching via URL parameter using syntax http://{site}/search/{text}"
This was easy to add so I just pushed a change that extends the search params to the url (which makes it more user-friendly to change directly)

After this change, the **http://localhost:1337/search/struts** url will give the same search results as **http://localhost:1337/search?text=struts**

Here are some screetshots of this feature in action

**http://localhost:1337/search?text=struts**

![imag

[2015-03-11 17:59] DinisCruz commented on #356
sure ...

All code from **origin/Lucy** is now merged into Dev

![image](https://cloud.githubusercontent.com/assets/656739/6603137/0c903a3a-c818-11e4-8ed5-729da7f7272b.png)

with all tests passing

![image](https://cloud.githubusercontent.com/assets/656739/6603191/5e0e1242-c818-11e4-8f42-5544b8d6abf9.png)

[2015-03-11 18:28] roman87 commented on #356
Yep Looks good on Dev, can we merge Dev to master?

[2015-03-11 18:30] roman87 commented on #527
Good idea, should be fairly easy to do

[2015-03-11 18:34] roman87 commented on #482
This is done

[2015-03-11 18:34] #482 closed

[2015-03-11 18:35] roman87 commented on #525
This is done, thank you!

[2015-03-11 18:35] #525 closed

[2015-03-11 18:44] roman87 commented on #470
Looks good!

[2015-03-11 18:44] #470 closed

[2015-03-11 19:06] roman87 commented on #524
Looks good. Closing.

[2015-03-11 19:06] #524 closed

[2015-03-11 19:07] roman87 commented on #323
Done, closing.

[2015-03-11 19:07] #323 closed

[2015-03-11 19:15] roman87 opened #530 "Narrow version on HIDPI screens switches to smaller size than just a few pixels less on a regular size browser"
![selection_150](https://cloud.githubusercontent.com/assets/1326120/6604776/43948f5c-c801-11e4-8ac1-fc0afabda666.png)

![selection_151](https://cloud.githubusercontent.com/assets/1326120/6604783/54912cd4-c801-11e4-86b0-a2f571b86167.png)

[2015-03-11 19:16] roman87 commented on #523
So we still have the issue of HIDPI screens switching to smaller version of the site but I will open a separate issue on that. . https://github.com/TeamMentor/TM_4_0_Design/issues/530
Closing this one

[2015-03-11 19:16] #523 closed

[2015-03-11 19:17] roman87 opened #531 "Landing page Image missaligned on hires screen"
![selection_152](https://cloud.githubusercontent.com/assets/1326120/6604839/c506b95c-c801-11e4-8de2-9ea4cddfcef7.png)

[2015-03-11 19:28] roman87 commented on #529
Well, xss+fix+prevent did not work, so probably not that useful, yet :)
but simple words work.

[2015-03-11 19:28] #529 closed

[2015-03-11 19:30] roman87 commented on #526
Latest code has 4 failing:

 68 passing (46s)
 1 pending
 4 failing

 1) | api | Data-API.test | via web api | library:
    Uncaught AssertionError: [assert_Not_Empty]
   at Array.assert_Size_Is_Not (c:\TEAM Mentor-Dev\TMDEV01-Site_beta.teammentor
net\TM40\TM_4_0_GraphDB\node_modules\fluentnode\src\assert\assert_Array.litcoff
e:81:14)
   at Array.assert_Not_Empty (c:\TEAM Mentor-Dev\TMDEV01-Site_b

[2015-03-11 19:54] luchia commented on #531
I did have this problem originally but I fixed it. Do you have the latest version? I can't see what you're seeing -

![screen shot 2015-03-12 at 5 50 11 am](https://cloud.githubusercontent.com/assets/4547737/6605451/d3bde0cc-c87b-11e4-97b8-445da9ebf8f6.png)
![screen shot 2015-03-12 at 5 50 21 am](https://cloud.githubusercontent.com/assets/4547737/6605452/d3cc8d20-c87b-11e4-9e6b-e484e9b7cb2b.png)

[2015-03-11 20:19] michaelhidalgo commented on #441
I've created individual issues for the articles that needs to be fixed.

https://github.com/TMContent/Lib_UNO/issues

[2015-03-11 20:37] michaelhidalgo commented on #531
This has not been merged into Dev, right? I think In Dev I can see what Roman is reporting.

[2015-03-11 20:43] luchia commented on #531
Are you on the Lucy branch? I can't see it.

[2015-03-11 20:45] michaelhidalgo commented on #531
No, I'm not :),

I got the latest version from Dev. I guess this fix it is still not there :)

2015-03-11 14:43 GMT-06:00 Luchia Bloomfield <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet,

[2015-03-11 21:28] luchia commented on #531
Okay, that makes sense. It's probably still on the Lucy branch as I kept working on other issues yesterday.

[2015-03-11 22:32] DinisCruz opened #532 "[L] Write test that caches the IIS issue with dots"
for example as seen on

this one works

http://beta.teammentor.net/article/42497425f732/If-File-Names-Must-Be-Accepted-Through-Input,-the-Names-And-Locations-Are-First-Validated.abc

this one doesn't work

http://beta.teammentor.net/article/42497425f732/If-File-Names-Must-Be-Accepted-Through-Input,-the-Names-And-Locations-Are-First-Validated.config

see http://stackoverflow.com/questions/11728846/

[2015-03-11 22:38] DinisCruz opened #533 "IIS is throwing errors when the article title matches an banned extension"
This is caused by IIS blocking particular extensions (see https://github.com/TeamMentor/TM_4_0_Design/issues/532)

![image](https://cloud.githubusercontent.com/assets/656739/6608483/41345420-c83f-11e4-87f1-6329b89ddf1c.png)

[2015-03-11 22:39] DinisCruz commented on #533
Could also be these guys

![image](https://cloud.githubusercontent.com/assets/656739/6608518/7c8380b4-c83f-11e4-8a64-b9f676c45d9d.png)

[2015-03-11 22:40] DinisCruz commented on #533
and this one

![image](https://cloud.githubusercontent.com/assets/656739/6608527/9db9c9a0-c83f-11e4-8c69-3e6de04d0b99.png)

[2015-03-11 22:53] DinisCruz opened #534 "Add support for Google Analytics using a GIF"
See https://developers.google.com/analytics/resources/articles/gaTrackingTroubleshooting?csw=1#gifParameters and http://adambuchanan.me/post/20500736298/google-analytics-without-javascript-or-cookies

This will work by dynamically creating a gif url on the server that looks something like this

[code]

[2015-03-11 23:00] DinisCruz opened #535 "PoC pages not working on Beta.teammentor.net"
This should be working

![image](https://cloud.githubusercontent.com/assets/656739/6608803/2d2d587a-c842-11e4-8a60-c121add361b4.png)

![image](https://cloud.githubusercontent.com/assets/656739/6608811/4325c04a-c842-11e4-8d9a-e780c12139d7.png)

![image](https://cloud.githubusercontent.com/assets/656739/6608822/530f2848-c842-11e4-8932-9c1c8dcd58de.png)

@roman87 can you check the command line logs?

[2015-03-11 23:12] DinisCruz opened #536 "Re-add the save console log to disk"
This is the functionality that was saving all log files into into the .log folders

We need this for both GraphDB and DesignTM.

The logs can be saved on a ../logs folder (i.e. one folder above TM_Design and TM_Graph)

This is a real prob for the version deployed in IIS since it node is running as service in there and we don't capture the console.out)

[2015-03-11 23:17] DinisCruz opened #537 "[L] Sometimes the top nav of the help page is showing the wrong menu"
I was not able to reproduce this reliably, by I had a case when this is what the non-logged in user sees this (the logged in nav bar)
![image](https://cloud.githubusercontent.com/assets/656739/6608984/2f47dc28-c844-11e4-9a39-04aa12dc0ab3.png)

See if we can reproduce this on a QA unit test

[2015-03-11 23:37] DinisCruz commented on #531
I just pushed the latest's Lucy changes into **Dev** branch

![image](https://cloud.githubusercontent.com/assets/656739/6609292/8edaa42e-c847-11e4-8611-32eacea6eb60.png)

[2015-03-12 01:45] #303 closed

[2015-03-12 01:49] roman87 opened #538 "Remove Symantec Logo from the Landing Page"
This comes from Jeff Berry via email. Apparently we can't use Symantec Logo.

[2015-03-12 01:55] roman87 opened #539 "Switch default editor for 3.6 to markdown"

[2015-03-12 02:02] roman87 opened #540 "Create a markdown conversion script, and convert 127 Java Guideline articles to markdown via the script"
- [ ] create the script
- [ ] run the script against 127 Java Guideline Articles
- [ ] Import new articles into TM 4.0
- [ ] Spot check for them looking ok.

[2015-03-12 02:47] roman87 opened #541 "TM 4.0 Content issues"
Work with Serge on:

- [x] Normalize technology filters
- [x] Bring back vulnerability/landin pages/attack articles
- [x] find out what happened to test articles.

[2015-03-12 02:58] luchia commented on #538
Who can we use instead?

[2015-03-12 03:08] luchia commented on #530
I fixed this by setting a max-width, but the only issue is that because the navigation is fixed, it will not sit correctly -
![screen shot 2015-03-12 at 1 02 08 pm](https://cloud.githubusercontent.com/assets/4547737/6611468/262dac3e-c8b8-11e4-8eaa-cc1463cbe8dd.png)

We can fix this by using CSS calc() to do the maths **but** it's not supported by legacy browsers -

![screen shot 2015-03-12 at 1 07

[2015-03-12 16:29] roman87 commented on #538
@SI-Lisa any ideas? Lucy, For now just remove it.

[2015-03-12 16:32] roman87 commented on #530
Ok in that case lets leave it as it was and move this issue to Flare. Agree?

[2015-03-12 16:51] roman87 opened #542 "Search for .NET or 3.5 is not working"
We need to br able to search for things like .NET 3.5
I think the way to fix it is to actually use a glossary of terms. If an article maches a word in the glossary, than thus word becomes part if the article word list and also this word automatically gets extra points.

[2015-03-12 18:03] michaelhidalgo opened #543 "Tabs and Spaces being used breaks Password Reset form"
At the moment, the latest version of Dev introduced this issue :

![screen shot 2015-03-12 at 12 03 09 pm](https://cloud.githubusercontent.com/assets/1732035/6624551/a27d6a12-c8af-11e4-8c5f-d6cb661b691a.png)

This is the problematic file :

![screen shot 2015-03-12 at 12 02 53 pm](https://cloud.githubusercontent.com/assets/1732035/6624562/bc7c3a9c-c8af-11e4-898b-571d1b07aeb9.png)

assigning it to

[2015-03-12 18:11] SI-Lisa commented on #538
Roman,
I will ask Maureen if she knows of any customers who we have an agreement
with to use their logo in a way such as this.

On Thu, Mar 12, 2015 at 12:29 PM, RomichG <notifications@github.com> wrote:

[2015-03-12 18:29] DinisCruz opened #545 "PoC for consuming TM 4.0 Jade from IntelliJ"
In preparation for the meeting I had earlier today with an possible TM customer, I spent a couple hours getting my head around writing plugins for IntelliJ and creating an PoC of how TM could be integrated with it.

The PoC was created using the [IntelliJ Live Plugin](https://github.com/dkandalov/live-plugin) which allowed the execution of groovy scripts on the host IntelliJ app (which is exactly

[2015-03-12 18:58] DinisCruz commented on #543
yeah @luchia every now and then pushes a jade page like that

[2015-03-12 19:02] DinisCruz commented on #543
For reference https://beta.teammentor.net/guest/pwd-forgot.html is not affected

![image](https://cloud.githubusercontent.com/assets/656739/6625815/570f7d64-c8ea-11e4-8f63-cf2e8d17a1db.png)

[2015-03-12 19:08] DinisCruz commented on #545
for reference here are the couple local hacks I did to some jade pages (in order to remove the top banner which was not showing correctly inside IntelliJ)

![image](https://cloud.githubusercontent.com/assets/656739/6625909/148ffbe8-c8eb-11e4-93e4-db65454e1cae.png)

![image](https://cloud.githubusercontent.com/assets/656739/6625921/1f8d1c1a-c8eb-11e4-85cb-96bbe5190e29.png)

[2015-03-12 19:22] DinisCruz opened #546 "Support searching for code references that exist inside scripts and for partial matches"
The original search was doing an exact search (i.e. looking for word matches) which had a negative side effect to miss partial word spellings or words that existed inside a line of code

For example a search for **storedProcedude** produced no results

![image](https://cloud.githubusercontent.com/assets/656739/6626122/7829eba4-c8ec-11e4-971d-afebb83bd4a7.png)

... but there are articles that conta

[2015-03-12 19:27] DinisCruz commented on #546
@michaelhidalgo can you write a test on QA for this

[2015-03-12 19:31] michaelhidalgo commented on #546
Sure, I did a  manual testing after updating the GraphDB and I can get results. I'll do more testing

![screen shot 2015-03-12 at 1 31 33 pm](https://cloud.githubusercontent.com/assets/1732035/6626419/130165f2-c8bc-11e4-92bf-072187ca660b.png)

[2015-03-12 19:33] michaelhidalgo commented on #543
This has been fixed. There is already a QA test that checks that behaviour (and it was key to find the problem).

[2015-03-12 19:33] #543 closed

[2015-03-12 19:36] DinisCruz opened #547 "Support the search for html tags (for example <script> or <head>)"
Our code samples will have this, and with the changes to https://github.com/TeamMentor/TM_4_0_Design/issues/546 we are almost there.

The problem is that there is actually a sanitisation happening when creating the search query (ironically for security) which removes the < and > chars

For example a search on the UI for ```<script>``` will result in the following rest calls

[code]

with the probl

[2015-03-12 19:39] DinisCruz commented on #356
yap its on master

![image](https://cloud.githubusercontent.com/assets/656739/6626559/7ff5be46-c8ef-11e4-8a0f-09412d9b96d8.png)

[2015-03-12 20:09] DinisCruz commented on #547
Here is a variation of this bug that michael hit with one of his unit tests

after searching for **/** the next searches for chars like **&** will also be added to the list of **/** searches

![image](https://cloud.githubusercontent.com/assets/656739/6627104/a932c89a-c8f3-11e4-9ce8-e5e3f4b22c9f.png)

[2015-03-12 20:18] michaelhidalgo commented on #546
This test searches for code snippets :

[code]

[2015-03-13 03:05] roman87 commented on #441
Great, thank you, good stuff on this one!

[2015-03-13 03:05] #441 closed

[2015-03-13 03:08] roman87 commented on #395
cool!

[2015-03-13 03:08] #395 closed

[2015-03-13 03:11] roman87 commented on #537
Can you outline the steps you took to make this happen?

[2015-03-13 03:38] roman87 commented on #531
yep looks like this is fixed.

[2015-03-13 03:38] #531 closed

[2015-03-13 03:44] roman87 commented on #530
As it was, I meant with the issue described here but with the fixed navigation. Basically revert the change :)

[2015-03-13 03:56] roman87 commented on #545
So this is is a pretty cool POC. The best part that it only took couple of hours to create. Other than the cool factor it shows that we can display TM content inside IntelliJ. Driving the search or direct article access.  It is all it shows though :)  As we all know, we still rely on some method of selecting the TM article. In this case it was comments inside the code.

[2015-03-13 03:56] #545 closed

[2015-03-13 04:01] roman87 commented on #356
Cool. closing.

[2015-03-13 04:02] roman87 commented on #356
Actually I need to follow up with Brandon on this.

[2015-03-13 17:37] roman87 opened #548 "Alert Messages now have green background, why?"
![selection_153](https://cloud.githubusercontent.com/assets/1326120/6643847/003544be-c986-11e4-9612-f812a9ba0975.png)

[2015-03-13 22:04] roman87 commented on #391
I changed made the latest change to "All" lets see how it looks. I think it doesn't look very well, as it assume that "All" the technology filters are in effect, when in fact it is only articles that are technology independent are shown. I guess we need a different way of saying "technology independent"?

This will be on beta on monday.

[2015-03-13 22:50] DinisCruz opened #549 "It is possible to game the popular searches via automated scripts"
On way to mitigate this would be to limit how many entries from each user are used to calculate the totals

[2015-03-14 08:29] luchia commented on #530
This has been fixed on the Lucy branch.

[2015-03-14 08:31] luchia commented on #538
This has been fixed and I've moved the client logo sprites I was talking about from Flare to Jade (this is the revision that saves us 5 extra HTTP requests).

[2015-03-14 08:49] luchia commented on #548
Not sure why this is in Jade's css, but I've fixed it on the Lucy branch.

![screen shot 2015-03-14 at 4 47 41 pm](https://cloud.githubusercontent.com/assets/4547737/6650983/e8d291de-ca69-11e4-8e3e-6398736f43ab.png)

[2015-03-14 09:51] DinisCruz opened #550 "Add (configurable) remote logging service"
While working on https://github.com/TeamMentor/TM_4_0_Design/issues/536 I looked at a couple SaaS logging services and was able to quickly create a PoC for Loggly and LogEntries

They are really powerful and configurable, and I think we will get a lot out of it

Here is LogEntries 'live tail' view of all TM_Design log messages and some custom log actions that I added

![image](https://cloud.github

[2015-03-14 09:57] DinisCruz commented on #536
This is done on the branch https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_550_Log_SaaS

@roman87 can you take a look

[2015-03-14 10:06] DinisCruz commented on #550
@roman87 and @michaelhidalgo, for you to see this in action, replace the token you will find here https://github.com/TeamMentor/TM_4_0_Design/blob/Issue_550_Log_SaaS/node/services/Logging-Service.coffee#L17 with one you create from a test account on https://logentries.com  (note: the pushed version only has wired the integration with LogEntries (i.e. Loggly is not receiving data))

This is only ca

[2015-03-14 15:34] luchia opened #551 "No internet connection resulted in 'Couldn't connect to TM 3.5 Server'"
While trying to login, this happened -

![screen shot 2015-03-14 at 12 20 54 pm](https://cloud.githubusercontent.com/assets/4547737/6652206/0f790284-ca9a-11e4-8bf8-6d0901a06edd.png)

Where does this page come from? We should probably have the 'error occurred' template instead of this.

[2015-03-14 17:01] michaelhidalgo commented on #539
Ok,just to confirm :  Markdown editor should be the default for  <b>markdown</b> and <b> html</b>, am I right?.

I did the change in the backend,so if you edit an html article like this :

![screen shot 2015-03-14 at 10 53 38 am](https://cloud.githubusercontent.com/assets/1732035/6652546/25d28ce2-ca38-11e4-9e83-3a07628841fe.png)

Should we change the editor button for HTML to say "Edit MarkDown" r

[2015-03-14 17:57] roman87 commented on #539
Perfect. Yes lets change it to say "Edit in Markdown Editor"

[2015-03-14 18:10] michaelhidalgo commented on #539
Cool, thanks :)

[2015-03-14 23:29] roman87 commented on #549
Yea, I do it all the time :) I think that the way to do this is to limit one successful search string per user per N, where N is some defined time period.

Not really something urgent now.

[2015-03-14 23:39] roman87 commented on #530
Ok looks good. I am moving this issue to Flare

[2015-03-14 23:41] roman87 commented on #538
ok this is done

[2015-03-14 23:41] #538 closed

[2015-03-14 23:42] roman87 commented on #548
ok done.

[2015-03-14 23:42] #548 closed

[2015-03-15 00:55] roman87 commented on #550
1. you are missing winston-logentries as a module in package.json
2.How do I turn this thing off?  I assume commenting out https://github.com/TeamMentor/TM_4_0_Design/blob/Issue_550_Log_SaaS/node/services/Logging-Service.coffee#L27 should do this? This not something we need to spend our time on. I am not comfortable sending our logs to 3d parties without doing proper analysis of what is sent, how

[2015-03-15 01:01] roman87 commented on #536
Yes, logging to file works great.See my comment in https://github.com/TeamMentor/TM_4_0_Design/issues/550#issuecomment-80783677
once that's done lets move it into Dev branch.

[2015-03-15 01:18] roman87 commented on #551
Hmm.. yes we should show a regular error page and log the fact that the backed server is not available.
@michaelhidalgo  can you take a shot at this?
@luchia btw, you can change the 3.5 server we are pointing to here node/misc/Config.coffee

What I do, is I run a VM with 3.5 backend and have my TM 4.0 talk to it

[2015-03-15 20:20] DinisCruz opened #552 "Should we - Map our current workflow to SCRUM"
I was reading about Scrum this weekend and I think our current dev workflow is already very Scrum-like but there are a number of areas we can improve it.

Map these areas and suggest ideas

[2015-03-15 21:21] michaelhidalgo commented on #551
Yes, It should be a easy fix:)

2015-03-14 19:19 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-03-15 21:57] DinisCruz opened #553 "Identify which types of data need to be removed from logs"
Important when handling the case where we can (optionally) use 3rd party logging services

Note that the Winston logging api has as helper method to handle such cases (for example scrubbing CC details or session information)

[2015-03-16 03:57] roman87 commented on #552
The beauty of SCRUM is that it can be modified the way it fits. And I've modified it to where I think I think our work flow works pretty well for now. and is pretty efficient. I was playing with many tools, including JIRA and ended up concluding that they add more overhead than we need at the moment. For the size of our team stories defined in TeamMentor/Master and task defined in other repos, wor

[2015-03-16 04:00] roman87 commented on #552
Also, this is not a quality issue. :)

[2015-03-16 04:09] roman87 commented on #553
Related to https://github.com/TeamMentor/TM_4_0_Design/issues/550
I am putting this for Sprint 3 Backlog for now as we have no immediate requirement for this.

[2015-03-16 04:12] roman87 opened #554 "Logos are now smaller than the text above"
![selection_158](https://cloud.githubusercontent.com/assets/1326120/6660537/36bcc19a-cb72-11e4-8de2-7eef1818e2fd.png)

This is on Lucy Branch.

[2015-03-16 04:18] roman87 commented on #533
I was thinking about this and I realized that the best way to fix this is to URL encode the article title. We cannot restrict the title of the article to contain only the allowed URL character set. Therefore we must encode them:

List of allowed URL characters
Unreserved

The alphanumerical upper and lower case character may optionally be encoded:

    A B C D E F G H I J K L M N O P Q R S T U V W

[2015-03-16 09:40] DinisCruz commented on #536
ok, just pushed to Dev the code with only the logging to the file system

[2015-03-16 09:44] DinisCruz commented on #550
1. yeah, sorry I missed that mapping in package.json
2. yes if you comment out that line that will not work. I was thinking that the place to put the 'on/off' switch would be the .tm.config.json file, (in terms of mapping what should go in there, I opened https://github.com/TeamMentor/TM_4_0_Design/issues/553 so that we can identify it)
3. no need to turn it off, at the moment this is on a branch

[2015-03-16 09:48] DinisCruz commented on #553
I actually think that we do have an immediate requirement for beta.teammentor.net

if we want to understand how TM is being used by real users, then this is the way to do it. Take a look at the LogEntries and Loggly videos (from their site). We really will be able to understand what is going on using the log data + these SaaS services.

Yes we need to think about what is being sent into these serv

[2015-03-16 10:00] DinisCruz commented on #536
I just added the same Logging-Service to GraphDB, so you should now see a .logs folder inside the TM_4_0_GraphDB folder

Note that I made the logs rotate every day (vs every hour)

[2015-03-16 10:19] DinisCruz opened #555 "[Q] Fix unit tests color mappings (on console) caused by Logging hooking of console.out"
The console.log hook introduced for https://github.com/TeamMentor/TM_4_0_Design/issues/550 has a couple minor side effects on the way the tests are displayed

![image](https://cloud.githubusercontent.com/assets/656739/6664188/a1e233b2-cbc5-11e4-85f1-43323286ec4c.png)

One way to solved this is to not use the winston console Logger and use the **@.original_Console** to log to console

[2015-03-16 10:29] DinisCruz commented on #376
I read the Scrum book http://www.amazon.co.uk/Scrum-revolutionary-approach-deadlines-productivity-ebook/dp/B00I52D6KQ/ book over the weekend and one of the things he mentions (he guy who come up with Scrum) is that task duration and effort should never be measured in actual time (since we are all really bad at it)

What we are good at is at comparing tasks, which makes the fibonacci sequence an re

[2015-03-16 10:43] DinisCruz commented on #224
Closing this since we don't need a TracisCI subscription for now (only if we have private repos)

[2015-03-16 10:43] #224 closed

[2015-03-16 10:45] DinisCruz commented on #552
yap, and as the team grows and matures (specially thinking of other SI employees that would like to contribute/help or power users from customers), it will help to document and map out (in a wiki page for example) our current Scrum practices (since we are actually doing it quite nicely :)  )

[2015-03-16 10:48] DinisCruz opened #556 "[Q] rename search mixins names to reflect the fact that they are not in PoC anymore"
![image](https://cloud.githubusercontent.com/assets/656739/6664685/d8c28d24-cbc9-11e4-9cbe-e64480dc3b81.png)

[2015-03-16 10:50] DinisCruz commented on #556
@michaelhidalgo this is a cool one to write a test for

To confirm the use/non-use of these minixs, you will need to either:
a ) trigger the compilation of the mixin, access the compiled Javascript and check the methods names
b) use Jade's apis to access the AST of this jade page, and check the mixins names

[2015-03-16 11:05] DinisCruz commented on #533
well the URL is already encoded, the problem is with the dot which by default is not encoded by any html/url encoding functions

I just added a small fix (see https://github.com/TeamMentor/TM_4_0_Design/commit/23663e1c006e567c73871d4c0bbf8bb2301fd109) which removes the dots from the search results, the recently viewed articles and top articles

![image](https://cloud.githubusercontent.com/assets/6

[2015-03-16 11:06] DinisCruz commented on #533
I think the solution above solves this issue (specially since we should try to keep IIS changes to the minimum)

[2015-03-16 11:09] DinisCruz commented on #526
is this still happening

[2015-03-16 11:11] DinisCruz commented on #469
I don't think we need this anymore, there will be very real cases of this being actually hit by an user, and the new search capabilities will deal with this

Basically we should be saying: 'dont link to urls without the guid on it' , here is a good example of how to do it : http://localhost:1337/article/c423cd29744a/Centralize-Logging

[2015-03-16 11:19] DinisCruz opened #557 "Sort queries and filters"
Also requested by @BendixSpring

I just noticed that both set of filters (left and right hand side) and not sorted

![image](https://cloud.githubusercontent.com/assets/656739/6665153/309a58fc-cbce-11e4-99ee-49f110502d4a.png)

I think it would make sense to order this alphabetically or to add the capability for that order to be 'gamed/defined'

@SergeTruth what do you think?

note: from a effort po

[2015-03-16 11:24] DinisCruz commented on #121
this is not needed any more

[2015-03-16 11:26] DinisCruz commented on #378
Don't think this is relevant anymore

[2015-03-16 11:29] DinisCruz commented on #361
The solution for https://github.com/TeamMentor/TM_4_0_Design/issues/536 added this service and it includes the capturing of a number of these actions

The data is saved to disk into the .logs folder

[2015-03-16 11:30] DinisCruz commented on #360
This is now done

We handle all errors within express and as https://github.com/TeamMentor/TM_4_0_Design/issues/536 we also store that info to disk

[2015-03-16 11:31] #473 closed

[2015-03-16 11:45] DinisCruz opened #558 "In IIS, redirect unhandled errors to TM 4.0 error page"
In this case http://beta.teammentor.net/article/4199598f3446/Output-Encoding-Using-JSF* (note the * at the end of the url)

![image](https://cloud.githubusercontent.com/assets/656739/6665475/d86f17fe-cbd1-11e4-8494-169ef8ea0ff6.png)

should go to

![image](https://cloud.githubusercontent.com/assets/656739/6665482/e3e7e660-cbd1-11e4-9c45-8178a00814c5.png)

[2015-03-16 15:35] roman87 commented on #550
1. cool
2. yea .tm.config.json should be a good place (for both TMDesign and GraphDB).
3. But we should merge the local logging into the master branch, so we have logs. That is why we need to to turn off the remote logging until we figure #553 out.

[2015-03-16 15:50] roman87 commented on #553
Understanding user behavior is a subset of centralized logging. We will address understanding of user behavior with https://github.com/TeamMentor/TM_4_0_Design/issues/534
 Centralized logging is a big beast (I've done lots of it) that we do not need to tackle right now.

From the Dev perspective, you have RDP access to the server :)

Again, I am not saying this is not important, I am saying that t

[2015-03-16 16:05] roman87 commented on #376
We discussed it before :) there are different schools and different approaches, and no one size fits all. Regardless of which one we have, we need to have a reporting mechanism which produces a burn down report.  Which basically says that historically it takes us N days to complete a Y complexity story. We don't have those tools in place :) and those tools will require a lot of overhead which we d

[2015-03-16 16:09] DinisCruz commented on #550
as you can see on https://github.com/TeamMentor/TM_4_0_Design/issues/536 the local logging is already on both master repos (dev and graphDb)

[2015-03-16 16:16] roman87 commented on #376
btw, here is how you can visualize the complexity:

Taster - http://www.google.com/imgres?imgurl=http://www.peelepaddle.com/water_4oz.jpg&imgrefurl=http://www.peelepaddle.com/BeerTastingGlasses.html&h=125&w=98&tbnid=qCFQVBh6pmpHZM:&zoom=1&docid=DZSKUu-G3Aq1SM&ei=mAAHVabJMsHbsATfnIDIBw&tbm=isch&ved=0CCkQMygNMA0

Schooner -
http://www.google.com/imgres?imgurl=http://ecx.images-amazon.com/images/I/31

[2015-03-16 16:24] roman87 opened #559 "Update documentation on current TM Dev workflow."
As mentioned in #552, include the mapping of the current dev workflow into the Scrum model (and best practices)

[2015-03-16 16:25] roman87 commented on #552
I think it is mainly all documented on tm4tm already. Probably needs a bit of a polish.  I opened a specific issue for it: https://github.com/TeamMentor/TM_4_0_Design/issues/559

[2015-03-16 16:29] roman87 commented on #557
I think it is more important to have the capability of having the order defined than simply sorting. I have an idea on how this should be done in TM 5.0 visually.  We can talk about it a bit later.

[2015-03-16 16:30] #121 closed

[2015-03-16 16:31] roman87 commented on #378
Um.. of course it is relevant. We still don't have lefthand side filters in our search result.

[2015-03-16 16:33] roman87 commented on #558
Hmm... interesting, I thought this was fixed. Will take a look.

[2015-03-16 16:34] roman87 commented on #550
What about remote logging, is it off by default :)?

[2015-03-16 16:52] roman87 commented on #536
Looks good, closing this.

[2015-03-16 16:52] #536 closed

[2015-03-16 17:03] roman87 commented on #360
Not really. I can't see from the log files that there was any error:
Design
{"url":"/blahblah","ip":"127.0.0.1","level":"info","message":"","timestamp":"2015-03-16T17:01:32.394Z"}
DB:
{"method":"GET","url":"/convert/to_ids/blahblah","level":"info","message":"","timestamp":"2015-03-16T16:58:53.638Z"}

[2015-03-16 17:04] roman87 commented on #361
yes this is done.

[2015-03-16 17:04] #361 closed

[2015-03-16 17:32] DinisCruz commented on #552
ok , I added a note to it

[2015-03-16 17:32] #552 closed

[2015-03-16 17:45] michaelhidalgo commented on #539
This has been fixed in this  PR https://github.com/TeamMentor/Dev/pull/172

[2015-03-16 18:38] DinisCruz opened #560 "The top level animation is bouncing quite slowly"
It happened on this page: http://beta.teammentor.net/flare/home/navigate

![image](https://cloud.githubusercontent.com/assets/656739/6673497/8f290c14-cc0b-11e4-84b8-26f6b2a6af1d.png)

(@luchia this is a test issue)

[2015-03-16 18:59] roman87 opened #561 "Do not inex INTERNAL links as part of the search index"
There is really no point in indexing the internal links in the article. I think its better than to have negative results for them as an article with large amounts of links could actually bring down a good article.

[2015-03-16 20:04] tecknicaltom opened #562 "email validation error unfriendly"
If you have a browser that does not validate the email address (with type="email") in the registration page, and you enter an invalid email address, the error message is:

While I love regular expressions, I may be in the minority in that regard.

[2015-03-16 20:07] tecknicaltom opened #563 "email addresses at long TLDs not supported"

[2015-03-16 20:18] Zaxim commented on #563
It also does not support unicode TLDs. E.g. admin@استفتاء.مصر
which the ascii representation is: admin@xn--ggblala6cyf.xn--wgbh1c

[2015-03-16 20:24] roman87 commented on #562
Why, everyone should love regex :). Good catch, we'll fix it.

[2015-03-16 20:27] roman87 commented on #563
Ah, those long TLDs.. ok, we'll take a look. Thanks!

[2015-03-16 20:44] BendixSpring opened #564 "Create Hyperlinks to other SI content"
For example, on the about page:  https://beta.teammentor.net/guest/about.html when discussing Team Professor, put a link to the Team Professor page.

[2015-03-16 20:56] BendixSpring opened #565 "Questions about the Index button"
Is the Index button at the top of the page supposed to be a toggle?  I can make it go away if I click search, otherwise, it remains displayed.

Index usually implies an *alphabetically sorted* list of topics.  Two recommendations:  Sort the list and make it more granular.  For example, consider adding "Secure coding".  Then a person would go to the filters and select "iOS" or "Java" for example.

[2015-03-16 21:05] BendixSpring opened #566 "Search does not support exact string searches"
This is basic functionality expected in modern searches.  This lack of functionality should be clearly documented in the online help.

Consider adding a "?" graphic next to the search box that describes the limitations of search and any other useful searching guidance to make search more useful.

[2015-03-16 21:07] BendixSpring opened #567 "Code example is blank"
On this page,some of the code examples are blank:
https://beta.teammentor.net/article/00e671ecd068/Do-Not-Cache-Sensitive-Data

![image](https://cloud.githubusercontent.com/assets/3578332/6676521/eb4e3620-cbfe-11e4-8c78-625756bdfe5a.png)

[2015-03-16 21:13] BendixSpring opened #568 "Number the list of articles in the displayed result set."
It would help users to navigate the list of articles better if each article were numbered.  For example, when I search for API, I get a list of 136 articles.  If each article were numbered sequentially, it would help me know where I left off.

[2015-03-16 21:15] BendixSpring opened #569 "Add a Glossary for unfamiliar terms"
Having a glossary of common terms could be helpful.

Another approach would be to use (like Google) the "define" operator

Example:  A user comes across an unfamiliar term, so they just search for it:
define: mutex

[2015-03-16 21:22] michaelhidalgo commented on #567
This is actually a HTML encoding issue in the article. If you look at the textbox you will notice it is being rendered.

Note that this is also happening in teammentor.net https://teammentor.net/article/f9d523ec-7328-4be5-93c6-00e671ecd068

[2015-03-16 21:22] BendixSpring opened #570 "Should we allow more than 250 articles to be displayed, page by page"
It would be nice to have an option to show a series of pages to look at the articles as google does.  This would allow the user to look at 50 (or whatever) articles at a time, and just click "next page" to look at the next batch of articles.

The maximum page size should be set by the user and default to 50 or so.

[2015-03-16 21:26] tecknicaltom opened #571 "multiple filters in index"
Is it possible to filter results by multiple filter types? For instance, articles related to C++ (Technology) during implementation (Phase). Clicking a second filter seems to remove the first

[2015-03-16 21:29] BendixSpring commented on #567
I see the same problem, but I don’t see it rendering.  Even when I view source, I don’t see any of the content.

Are you saying there is a encoding issue that needs to be fixed?

From: Michael Hidalgo [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 5:23 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Code example is blank (#567)

This is actually a HTML

[2015-03-16 21:30] michaelhidalgo commented on #567
Interesting... In Google Chrome, I can actually insert text

![screen shot 2015-03-16 at 3 31 40 pm](https://cloud.githubusercontent.com/assets/1732035/6676948/5a4c8e7c-cbf1-11e4-9a5d-7d2afe9733f4.png)

[2015-03-16 21:32] BendixSpring commented on #567
Maybe I misunderstood what is displayed.  I thought it would show code.  I didn’t think it was an interactive form.

I’m using Firefox.

From: Michael Hidalgo [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 5:31 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Code example is blank (#567)

Interesting... In Google Chrome, I can actually insert text

 <ht

[2015-03-16 21:33] michaelhidalgo commented on #567
Yeah, it should be the raw HTML of a text box with autocomplete disabled, but rather than that, the textbox is rendered.

[2015-03-16 21:34] michaelhidalgo commented on #567
This issue is being tracked here https://github.com/TMContent/Lib_UNO/issues/19

[2015-03-16 21:37] BendixSpring opened #572 "Filter by Technology is not alphabetic"
I think usability would be improved if the Technology filters were alphabetical.

I think "All" should be "All Technologies" to be less ambiguous.

.NET 3.5 has lots of articles, but no other version of .NET does.  Why is that?

[2015-03-16 21:47] michaelhidalgo commented on #567
Thanks for reporting this Issue @BendixSpring !

[2015-03-16 22:52] roman87 commented on #564
@BendixSpring does this issue pertain to the landng/about pages or to the TM content as well? If it is the latter then its a much bigger project :)

[2015-03-16 22:57] roman87 commented on #557
We have a user also suggesting to sort subjects and filters. Let make it sorted, unless @SergeTruth objects.

[2015-03-16 23:01] roman87 commented on #565
@BendixSpring  Can you clarify what you mean by "I can make it go away if I click search, otherwise, it remains displayed"  - do you have a screen shot?
 Making it alphabetical is already on the issue list. I am going to bump its priority.  https://github.com/TeamMentor/TM_4_0_Design/issues/557

Can you also elaborate what you mean by "make the list more granular"

[2015-03-16 23:06] DinisCruz commented on #557
What do you mean by 'sort by subject'?

[2015-03-16 23:08] roman87 opened #573 "Create a doc page for possible search options"
This is requested by @bendixspring here: https://github.com/TeamMentor/TM_4_0_Design/issues/566

[2015-03-16 23:10] roman87 commented on #566
We have an issue for exact search strings, and just opened an issue for the doc page.Closing this as duplicate of #573 and #519 will follow up through those specific issue.
Thanks.

[2015-03-16 23:10] #566 closed

[2015-03-16 23:13] roman87 commented on #568
Hmm interesting.. good discussion point. @tlaloc75 @DinisCruz @tekgirl77 @luchia what do you think?
@BendixSpring I changed the title to reflect better what is actually being requested.

[2015-03-16 23:32] luchia opened #574 "Icons for articles"
Create icons for articles that represent the different types of articles.

[2015-03-16 23:33] luchia commented on #560
Yup, I think we're not even going to keep this navigation (it's very Jade-like) and we're doing the navigation I proposed in What's Cookin'.

[2015-03-17 00:29] roman87 commented on #557
"sort subjects" - sort the keywords/queries. i.e. the lefthand side subjects.
Basically sort everything alphabetically :) makes sense?

[2015-03-17 00:37] roman87 commented on #572
@bendixspring
"I think usability would be improved if the Technology filters were alphabetical." - this is covered here: https://github.com/TeamMentor/TM_4_0_Design/issues/557

"I think "All" should be "All Technologies" to be less ambiguous." - Can you add your thoughts to the discussion here:  https://github.com/TeamMentor/TM_4_0_Design/issues/391
The problem with calling it "All" is it assumes

[2015-03-17 00:37] #572 closed

[2015-03-17 00:41] roman87 commented on #567
Great stuff! I am going to close it here as it is tracked in TMContent

[2015-03-17 00:41] #567 closed

[2015-03-17 00:50] roman87 commented on #571
Yea, that's is a limitation of the current version. We are working on making it work in next version.

https://github.com/TeamMentor/TM_4_0_Design/issues/472

I am going to close this as a duplicate and follow up with you when it is ready.

Thanks.

[2015-03-17 00:50] #571 closed

[2015-03-17 00:52] BendixSpring opened #575 "Put Titles on Each Page to Make Tabs Readily Distinguishable"
Since each page is titled the same, it makes it hard for a user with multiple tabs open to jump to the correct tab since they all are alike:
![image](https://cloud.githubusercontent.com/assets/3578332/6679455/42cbc51a-cc1e-11e4-9047-9fd39586fe78.png)

[2015-03-17 00:53] BendixSpring commented on #564
Just for the Landing/About pages.

From: RomichG [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 6:53 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Create Hyperlinks to other SI content (#564)

@BendixSpring <https://github.com/BendixSpring>  does this issue pertain to the landng/about pages or to the TM content as well? If it is the latter then its a

[2015-03-17 00:54] luchia commented on #554
As discussed in our meeting this morning, this was necessary after removing the Symantec logo. Originally we had 6 logos and that means two rows of three columns. Now we only have 5 and making it sit nicely in two rows wasn't easy.

This is a simple fix and quickly addresses #538 without holding up Beta launch. I want to add a 6th logo at some point again, I think it looks better.

[2015-03-17 00:58] luchia commented on #556
This has been fixed on the Lucy branch. The mixins that have POC names still are still in the poc directory.

[2015-03-17 00:59] roman87 commented on #570
We had this discussion here https://github.com/TeamMentor/TM_4_0_Design/issues/298
Basically there is no reason for the user to ever see more than 250 articles. It is really not realistic for someone to go through 250 articles, page by page. If someone has to do this, then it means our content is not well organized and needs to be divided/filtered better.
But we can re-open the discussion.
So @Din

[2015-03-17 00:59] BendixSpring commented on #565
When I click SEARCH, the index goes away:

Making the index more granular means having more “topics” to choose from.  This list is really too limited.  For example, I was expecting to see Coding Guidelines.  But really an index is a fairly comprehensive list:

Ajax

Azure

APIs

ASP .NET

Architecture

Blacklisting

Bugs

Character encoding….

From: RomichG [mailto:notifications@github.com]
Sent:

[2015-03-17 01:02] roman87 commented on #569
Can you explain a little further of what exactly do you mean? Do you mean for this to happen inside articles? What would user experience be like? What will they see?

[2015-03-17 01:02] BendixSpring commented on #557
From a usability perspective, sorting is a must.  Or at least a user-configurable option.

[2015-03-17 01:03] luchia commented on #564
Makes sense. I've done this quickly - took my less than 10 minutes. There were only two that I could see which were TEAM Professor and Checkmarx. It's on the Lucy branch.

[2015-03-17 01:03] BendixSpring commented on #391
Try All Technologies.  "All" is to vague.

[2015-03-17 01:07] BendixSpring commented on #570
We can apply the same logic to google.  No one is going through 50 million pages.  But I’ve gone and looked through hundreds of pages to find things that might be a hit.

Don’t put artificial limitations on the users.  If there are 1500 articles, then let the user page through them 50 at a time, or whatever.

From: RomichG [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 8:59 PM
To:

[2015-03-17 01:11] BendixSpring commented on #569
In the simplest form, it could be a button next to help or docs.  But it could be a static page: http://www.webappsec.org/projects/glossary/

Remember, not everyone using the tool will be security or coding or whatever type of experts.  So having a glossary to look up unfamiliar terms would be a nice feature.

Hyperlinking the terms in the articles could make things unreadable (unless you didn’t s

[2015-03-17 01:11] BendixSpring commented on #564
I’d only link to SI-branded products and services :)

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 9:04 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Create Hyperlinks to other SI content (#564)

Makes sense. I've done this quickly - took my less than 10 minutes. There were only two that I could see which were TEAM Professor