[2015-01-22 21:57] roman87 commented on #262
Can you create a separate issue for this in flare and pass this to me to test.

[2015-01-22 22:08] luchia commented on #262
Sure.

[2015-01-22 22:09] luchia opened #292 "Showing articles/save button/clear button are not aligned correctly (Flare)"
![screen shot 2015-01-22 at 12 01 40 pm](https://cloud.githubusercontent.com/assets/4547737/5849230/713a091c-a22e-11e4-846e-f60c745eef4f.png)

[2015-01-22 22:18] luchia commented on #281
Ohhh, I thought you meant that the content was too small in the columns Dinis, so I made the breakpoint larger so when they do break, there is more room for them.

You could do something like below, for example, but I don't know how I would actually do that because we can't use flex-box to order columns or divs in Jade (legacy browsers don't support it).

![untitled-1](https://cloud.githubusercont

[2015-01-22 23:22] DinisCruz commented on #281
so on the diagram above which one is which (left and right)

[2015-01-22 23:23] DinisCruz commented on #147
btw, MK as a cert for *.teammentor.net so we should be able to generate a couple QA ones

[2015-01-22 23:24] DinisCruz commented on #147
Can you make it so that we can run ssl on a higher port, I really don't want us to have to use sudo do run TM Design and Graph

[2015-01-22 23:24] DinisCruz commented on #280
yap

[2015-01-22 23:27] DinisCruz commented on #289
what about https://localhost:1332/api/v1/git/status  ?

that is similar to what GitHub does https://developer.github.com/v3/#current-version

[2015-01-22 23:31] DinisCruz opened #293 "We reached 1000 Commits"
![image](https://cloud.githubusercontent.com/assets/656739/5866955/7df4ac06-a28e-11e4-8446-bd6dfe8c7457.png)

Pretty cool milestone :)

[2015-01-22 23:38] luchia commented on #293
:)

[2015-01-22 23:44] luchia commented on #254
Like this?

![screen shot 2015-01-23 at 9 42 41 am](https://cloud.githubusercontent.com/assets/4547737/5867154/44107406-a2e4-11e4-918e-28e066a393f4.png)
![screen shot 2015-01-23 at 9 42 51 am](https://cloud.githubusercontent.com/assets/4547737/5867155/443933e6-a2e4-11e4-96af-85b5a09aa2ed.png)
![screen shot 2015-01-23 at 9 42 58 am](https://cloud.githubusercontent.com/assets/4547737/5867156/443ddba

[2015-01-23 00:07] luchia commented on #283
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/be17a7578c4ad9bd5ee92dbbbf8d9605a39f450a).

[2015-01-23 00:52] luchia commented on #292
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/ac8673cbd3b3bf672b1ede168114bdc6ec7be27b).

![screen shot 2015-01-23 at 10 45 11 am](https://cloud.githubusercontent.com/assets/4547737/5867918/e115fd62-a2ed-11e4-82d4-161b278e2d08.png)
![screen shot 2015-01-23 at 10 45 14 am](https://cloud.githubusercontent.com/assets/4547737/5867917/e1136b38-a2ed-11e4-8e4d-b381b055257e.png)

[2015-01-23 00:54] luchia opened #294 "Flare search bar is too flat"
Jade has a nice search bar -
![screen shot 2015-01-23 at 10 53 44 am](https://cloud.githubusercontent.com/assets/4547737/5867938/2f97e7c0-a2ee-11e4-9df8-2f3f26c80835.png)

See what we can do for Flares -
![screen shot 2015-01-23 at 10 53 27 am](https://cloud.githubusercontent.com/assets/4547737/5867940/3785790c-a2ee-11e4-9fcd-c382edf5606c.png)

[2015-01-23 01:32] luchia commented on #292
Further work on the links as well, I decided to change them to buttons because they will post data and it's more obvious for the user. Left is unhovered state, right is hovered state -

![screen shot 2015-01-23 at 11 27 01 am](https://cloud.githubusercontent.com/assets/4547737/5868318/552f1896-a2f3-11e4-8e63-3d7bab962000.png)

[2015-01-23 01:36] roman87 commented on #147
actually port and interface should be part of the config
DBListenPort=
DBListenIP=0.0.0.0 or 127.0.0.1 or whatever
TMListenPort=
TMListenIP=0.0.0.0 or 127.0.0.1 or whatever

 note that we need two parameters because we are sharing the config file between DB and TM

I have the wildcard cert and it is on our Dev and QA servers. But it should remain on those servers.

[2015-01-23 01:37] roman87 commented on #289
ok that works. hopefully we will not run out of single digits any time soon :)

[2015-01-23 01:59] luchia commented on #183
[Buttons have been done](https://github.com/TeamMentor/TM_4_0_Design/commit/477be852b64e6a1cfc95e236a5201192981cc950) -

![buttons](https://cloud.githubusercontent.com/assets/4547737/5868580/38df9e5a-a2f7-11e4-8574-d9f741fdd5f1.gif)
![search-bar-buttons](https://cloud.githubusercontent.com/assets/4547737/5868581/38e0f8ae-a2f7-11e4-8c07-766866ae132f.gif)

[2015-01-23 02:00] luchia commented on #284
This has been fixed by removing the Jade CSS stylesheet. However, I need to now go through and apply all the styles that we need from Jade into Flare. This has already been done in the SCSS files but they aren't compiling yet so I need to do it in the CSS.

[2015-01-23 02:56] roman87 commented on #226
Probably looks  a bit small. and kinda lonely. I actually think we need to keep the numbering style consistent between the filters and the numbers here.

[2015-01-23 03:03] luchia commented on #292
Wasn't happy with the alignment on mobile so I changed the structure over to columns and it looks a lot better. I also removed the words because no matter what way I do it, the clear button always breaks to two lines before the save one does.
My thoughts are that we will have already primed our users for what these buttons do when we release Jade as a beta for TM 4.0. By the time we roll out Flare

[2015-01-23 03:05] luchia commented on #281
Desktop view on the left, medium screen view on the right.

[2015-01-23 03:51] roman87 commented on #293
Yey!!!
![selection_064](https://cloud.githubusercontent.com/assets/1326120/5869556/1548da10-a289-11e4-910b-320ebe358630.png)

![selection_065](https://cloud.githubusercontent.com/assets/1326120/5869557/19881bfe-a289-11e4-83f3-80a84ec1708e.png)

![selection_066](https://cloud.githubusercontent.com/assets/1326120/5869559/1e3e2c9c-a289-11e4-917d-266beefbe355.png)

[2015-01-23 07:42] luchia commented on #226
Sure, that makes sense. Seeing as I can't recreate your bug, I decided to add columns to the links which you can see [here](https://github.com/TeamMentor/TM_4_0_Design/commit/29321e774998238fed52c73b3251be184652dda9). Below are some screenshots -

![screen shot 2015-01-23 at 5 39 27 pm](https://cloud.githubusercontent.com/assets/4547737/5871313/06845bfa-a327-11e4-9c53-859aea5de2a5.png)
![screen sh

[2015-01-23 07:47] luchia commented on #285
This has been fixed in the above commit.

![screen shot 2015-01-23 at 5 45 57 pm](https://cloud.githubusercontent.com/assets/4547737/5871363/c714d5b6-a327-11e4-928e-21ccb9a1536e.png)

[2015-01-23 15:35] roman87 commented on #254
Yep looks good!

[2015-01-23 15:35] #254 closed

[2015-01-23 16:05] roman87 commented on #283
These error messages are static pages. Why do we have them in Flare? Should this and the whole story covering this issue (https://github.com/TeamMentor/Master/issues/902)  be in Jade?

[2015-01-23 16:18] roman87 opened #295 "Show a friendly error message when TM3.5 backend is not available"
When the user hits login, or anything else that requires communications to 3.5 back end and for some reason it is not available show a friendly error message.
Lucy can you create a page and pass on to @michaelhidalgo  for implementation.
This is part of sprint 3 so no need to start on this now.

[2015-01-23 16:51] roman87 commented on #262
Looks good on jade. closing

[2015-01-23 16:51] #262 closed

[2015-01-23 16:53] roman87 commented on #183
Looks nice! can't wait to see it in action.

[2015-01-23 16:56] roman87 commented on #284
So one thing to remember, is that we should be re-using as much of Jade in Flare as possible. The site should be able to run with just one flare page. For example we would add the flare search page on top of jade. but everything else remains as Jade. Makes sense?

[2015-01-23 16:59] roman87 commented on #281
Again, lets not break our head over this with Jade. I suggest we close this and re-address when we are testing flare.

[2015-01-23 17:05] roman87 commented on #226
I think its fine and looks good. Closing this.

[2015-01-23 17:05] #226 closed

[2015-01-23 17:05] roman87 commented on #226
Just make sure it makes it to Dev branch :)

[2015-01-23 17:11] roman87 opened #296 "Text scrols past the search bar in mobile view"
When scrolling text goes past the search bar in mobile view
![selection_067](https://cloud.githubusercontent.com/assets/1326120/5878914/bcbb0de4-a2f8-11e4-932a-7e19c8389186.png)

Probably related to this, in mobile view the top heading is not shown, only a small part of of it.
![selection_068](https://cloud.githubusercontent.com/assets/1326120/5878928/d75f6758-a2f8-11e4-9e6f-4ed18b738a8c.png)

I w

[2015-01-23 19:05] tekgirl77 commented on #147
**Here is what I have so far...

https://github.com/tekgirl77/TM_4_0_Design/tree/Issue_147_Run_node_in_SSL

**The .tm-Config file in Dev & QA will need to be updated as follows:**

**We can also consider using this config file to indicate which environment we are running in, if desired, and associate environment specific info such as which port to run on, location of and names of cert files, etc.;

[2015-01-24 00:05] roman87 commented on #147
This looks great!
I think we should try to see if we can use a shared config file. It will get too confusing if we have two different ones. As far as environment config -  I am not sure. We usually have multiple instances running on the same box and each of them will need to be running on a different port. So I think we don't need env for now.

[2015-01-24 00:15] luchia commented on #296
This was fixed in the referenced commit. Screenshots below and live version in the Dev branch:

![screen shot 2015-01-24 at 10 09 18 am](https://cloud.githubusercontent.com/assets/4547737/5885070/ea26a9b4-a3b1-11e4-93da-79ce477af8ec.png)
![screen shot 2015-01-24 at 10 09 50 am](https://cloud.githubusercontent.com/assets/4547737/5885067/ea2487f6-a3b1-11e4-885c-95679f2296aa.png)
![screen shot 2015-0

[2015-01-24 00:18] luchia commented on #284
Good point. As we discussed in the meeting, I will be making mixins for shared styles between Jade and Flare. When the application compiles it's SCSS files, the two separate sites will pull shared styles from the one stylesheet, rather than having to import Jade's entire stylesheet and override styles with Flares stylesheets.

Roman should I create a new issue for this particular task? As this doe

[2015-01-24 02:30] luchia commented on #283
I thought I had put it in Jade already but maybe when we merged Flare and Jade, they didn't get brought over.

In any case, I've just added them to Jade. Did you want me to assign this to @DinisCruz or @michaelhidalgo to handle routing?

[2015-01-24 22:03] DinisCruz commented on #225
You can close this one, the new Swagger API is really working well and is stable

[2015-01-24 22:15] DinisCruz commented on #176
I think we should close this for now, since it will not happen anytime soon (at least until there is more editing activities and we have access to that edit data)

[2015-01-24 22:19] DinisCruz opened #298 "Search and Navigate page should only show top 'n' articles"
At the moment the search/navigate page shows all articles that exist on that query.

![image](https://cloud.githubusercontent.com/assets/656739/5889295/9c9189f2-a416-11e4-8777-f25a2b9bb663.png)

This doesn't really make sense since no user is going to flick more than (for example) 40 articles.

This also means that we send much more data to the user than we need to (for example on the page above w

[2015-01-24 22:45] DinisCruz commented on #298
Here is the test that confirms the issue

[code]

[2015-01-24 23:02] DinisCruz commented on #298
Done, now the top 20 are shown.

Test that checks it
[code]

Jade code that implements it:

[code]

Here is what this looks like now:

![image](https://cloud.githubusercontent.com/assets/656739/5889401/bc00bf82-a41c-11e4-959a-76d4acb56c01.png)

[2015-01-25 00:32] DinisCruz commented on #195
This is now working

Starting on **http://localhost:1337/graph/Guidance** which is the top level

#### Guidance:

![image](https://cloud.githubusercontent.com/assets/656739/5889618/b3bacd66-a428-11e4-81f3-ac7b8aae5f21.png)

if **Logging** is clicked, we get

#### Guidance : Logging

![image](https://cloud.githubusercontent.com/assets/656739/5889619/cda795c4-a428-11e4-9bf2-0edd1b440661.png)

if **P

[2015-01-25 00:33] DinisCruz opened #299 "Find better solution for the 'NAVIGATE' clue"
Now that we have a working navigation (as seen on https://github.com/TeamMentor/TM_4_0_Design/issues/195#issuecomment-71344680) I think we can do better than the current **NAVIGATE** text

![](https://cloud.githubusercontent.com/assets/656739/5889629/05805f08-a429-11e4-974a-84c0f68c2d85.png)

[2015-01-25 00:37] DinisCruz opened #300 "Change the users 'Navigate' link to point to the Guidance Query page"
At the moment clicking on **Navigate**
![image](https://cloud.githubusercontent.com/assets/656739/5889646/1efb3c04-a42a-11e4-93b2-4f433cd04603.png)

goes to

![image](https://cloud.githubusercontent.com/assets/656739/5889647/30fbf48e-a42a-11e4-9c36-e54028127af6.png)

and should go to: http://localhost:1337/graph/Guidance

![image](https://cloud.githubusercontent.com/assets/656739/5889651/496aa736-

[2015-01-25 00:42] roman87 commented on #176
Assigning to myself to story and close

[2015-01-25 00:44] roman87 commented on #298
Assigning to myself for QA

[2015-01-25 00:44] DinisCruz opened #301 "Bug in top-level queries total number of articles"
The top level query 'Guidance' is not showing the correct number of articles

For example on **Guidance** it is showing only 51 (and it should show at least 794)

**http://localhost:1337/graph/Guidance**

![image](https://cloud.githubusercontent.com/assets/656739/5889663/8eb384fc-a42a-11e4-98fb-bcf3e6116dc1.png)

The other top level queries are better, but still not 100% accurate

* http://localho

[2015-01-25 00:46] DinisCruz commented on #147
Cool, add that to the .tm.config.json file

[2015-01-25 00:56] DinisCruz opened #302 "Use spaces instead of Tabs for Jade pages"
Hi @luchia , I was editing a couple *.Jade pages and noticed that you used tabs (instead of spaces) for the tabbing of elements

It better to use spaces, since that is more compatible across multiple editors.

This is just an issue to raise your awareness, so please close it once you have read it.

I also created the page https://github.com/TeamMentor/TM_4_0_Design/wiki/Development-Style-Guide to

[2015-01-25 01:04] roman87 commented on #299
Yea I agree "Navigate" text seems out of place here. we need something else.

[2015-01-25 01:06] roman87 commented on #300
Yep. can we also keep the current page there, so we can access it directly through the URL. Just in case?

[2015-01-25 01:08] roman87 commented on #284
Yes absolutely, create an issue and label accordingly.

[2015-01-25 01:10] roman87 commented on #283
I think this issue can be closed then. There is already a story about error pages.

[2015-01-25 01:10] #283 closed

[2015-01-25 01:15] DinisCruz commented on #300
this is done

Jade code that controls the main navigation now looks like this:
[code]
@roman87  you mean you want to keep the **http://localhost:1337/library/Uno** link working?

That is how it is at the moment, but if that page is not going to be available to users during their normal navigation, we should move it to a **poc** or **prototype** folder

[2015-01-25 01:20] roman87 commented on #300
I think it makes sense to move it to poc. My reasoning is just in case someone wants to see the navigation happening the way it was. Not really important.

[2015-01-25 01:28] roman87 commented on #225
Sure once you merge all your latest changes to master  and I can spin it up :)

[2015-01-25 01:31] DinisCruz commented on #300
I agree (with the move to 'poc' folder) specially since we can use that to show/experiment with variations of existing pages (for example a variation on how the navigation links are shown)

[2015-01-25 01:34] DinisCruz commented on #199
https://github.com/TeamMentor/TM_4_0_Design/issues/195 addresses this issue

[2015-01-25 01:44] roman87 commented on #298
Why close :)?

[2015-01-25 03:06] DinisCruz commented on #279
This should be ok now. With the latest code pushed to all masters, the tests run ok on a clean environment (as shown by all tests passing in travis)

![image](https://cloud.githubusercontent.com/assets/656739/5890050/02e58ee2-a43f-11e4-8d01-04d15297579e.png)

[2015-01-25 03:09] DinisCruz commented on #196
Making this a P0 so that I'll fix it for the beta (fix is quite simple)

[2015-01-25 03:13] DinisCruz opened #303 "Change the top level prefix of the main navigate and search"
At the moment it is **/graph** and although that made sense in the first generation of this view, now we should come up with a better (and ideally shorter) name)

* http://localhost:1337/graph/Guidance
* http://localhost:1337/graph/Technology/
* http://localhost:1337/graph/Guidance,Logging

could maybe be

* http://localhost:1337/show/Guidance
* http://localhost:1337/show/Technology/
* http://loca

[2015-01-25 03:16] DinisCruz commented on #120
As far as I can tell, the 'Recently Viewed Article' is working

And the navigation issue is handled by https://github.com/TeamMentor/TM_4_0_Design/issues/195

So we can close this one

[2015-01-25 03:20] DinisCruz commented on #113
This issue can be closed since the main page now has content

[2015-01-25 03:21] DinisCruz commented on #95
https://github.com/TeamMentor/TM_4_0_Design/issues/199 addresses this issue

[2015-01-25 05:56] roman87 commented on #279
One test still fails locally. with the clean environment. Data loads fine so making this a P1

Here is my .tm.config.json

rom@TITI08:~/Dev/TeamMentor/TM_4_0_GraphDB$ cat ../.tm.config.json
{
  "tm_3_5_Server": "https://tmdev01-uno.teammentor.net",
  "content_Folder": "../_TM_3_5_Content",
  "default_Repo": "https://github.com/TMContent/Lib_UNO.git",
  "current_Library": "Lib_UNO"
}

 1) | service

[2015-01-25 05:58] roman87 commented on #196
this is not a priority for the beta. Filtering and data manipulation is.

[2015-01-25 05:59] roman87 commented on #303
I like show.

[2015-01-25 06:00] roman87 commented on #120
agreed closing

[2015-01-25 06:00] #120 closed

[2015-01-25 06:01] roman87 commented on #113
closing

[2015-01-25 06:01] #113 closed

[2015-01-25 06:02] roman87 commented on #195
Looks good! great stuff!!!

[2015-01-25 06:02] #195 closed

[2015-01-25 06:03] roman87 commented on #199
Yes can be closed.

[2015-01-25 06:03] #199 closed

[2015-01-25 06:03] roman87 commented on #95
All done. Great stuff!!!

[2015-01-25 06:03] #95 closed

[2015-01-25 06:05] roman87 commented on #300
This one is done.

[2015-01-25 06:05] #300 closed

[2015-01-25 06:12] roman87 commented on #298
This turns out to be quite a bad idea. I can narrow down the search to maybe 37 articles. And I can live with looking through title of 37 articles. In fact, I can live with looking through the titles of 100 articles. But as in the example below, you have just deprived me of looking through 17 articles. And I have no way of getting to them.
What we should do, is what google does, and offer pages of

[2015-01-25 11:30] #293 closed

[2015-01-25 11:48] DinisCruz commented on #279
the clue is in the error

[code]

the ```_TM_3_5_Content``` folder needs to be inside the ```.tmCache``` folder

[2015-01-25 14:42] roman87 commented on #279
Yes I  thought so too. But it seems like its only the test that is failing, as the data is loading fine?

[2015-01-25 14:43] roman87 commented on #279
Also, I think we should allow for the Library to reside elsewhere as this is the only way we will be able to make use of the same files that 3.5 backend is using.

[2015-01-25 18:31] DinisCruz commented on #279
we should (allow hosting the library elsewhere) but that should be an issue of its own.

Note that at the moment the fact that it is on .tmCache means that I can be sure to start the tests from a clean slate (which will do a clean clone)

[2015-01-25 18:37] DinisCruz commented on #196
Here is the test that represents the bug
[code]

[2015-01-25 18:52] DinisCruz commented on #196
done,

Test that confirms the fix:

[code]

[2015-01-25 21:30] DinisCruz opened #304 "Write test for 'Account expired'"
As seen on https://github.com/TeamMentor/TM_4_0_QA/commit/448ff232de1becf92622778f68866d6b607982ed#commitcomment-9433663

[2015-01-25 23:09] michaelhidalgo commented on #304
Yap, good catch, we do not have a test for this cases :)

[2015-01-26 02:54] michaelhidalgo opened #305 "Link broken after resetting password"
After resetting passwords, TM 4.0 redirects the user to a link that is actually broken. It redirects to a URL that does not exist and it is not handled properly

[2015-01-26 03:01] roman87 commented on #279
So what is the answer to my question :). Is this only the test that is failing, or is the data load failing somewhere as well?

[2015-01-26 03:03] roman87 commented on #257
Why do we keep closing this issue :)?

[2015-01-26 03:15] roman87 commented on #298
Bumping this as this is really a big issue and we need to fix it before we can show this to anyone! This is a lot more important!!!

[2015-01-26 10:25] DinisCruz opened #307 "/jade/pages-users.test on QA does not cover all user pages"
As what happens with the ```/jade/pages-anonymous.test``` we need to have tests that check the core elements of the user pages

@michaelhidalgo  or @tekgirl77 feel free to take this one

(note: ideally we should even have an extra test that checked if there was a test on ```pages-users.test``` for all user pages defined in ```Jade-API``` )

[2015-01-26 10:32] DinisCruz opened #308 "It is possible to brute force TM Usernames and Passwords"
#### Description
With the 4.0 changes to user login messages, it is now possible to brute force user's logins and password

The user logins are discovered via the login and signup error messages

The password are brute forced using the known logins

#### Risk Analysis
This change was driven by the desire to improve the user's experience (3.5 provided no messages at all and it was quite problematic

[2015-01-26 10:33] DinisCruz commented on #308
@roman87 I marked as 'By Design' since this is one of the risks that we are currently accepting as part of 4.0

[2015-01-26 10:54] DinisCruz opened #309 "Lose the title on the graph (when viewed with a small width)"
Note how the 'Java' title (top left)

![image](https://cloud.githubusercontent.com/assets/656739/5898665/8092d4d4-a549-11e4-8b4b-f950a97317ad.png)

is hidden here:

![image](https://cloud.githubusercontent.com/assets/656739/5898657/764e3e3c-a549-11e4-93db-cce508d1dbc3.png)

[2015-01-26 15:06] roman87 commented on #308
Closing as non-actionable.

[2015-01-26 15:06] #308 closed

[2015-01-26 15:59] roman87 commented on #280
Ok so it looks like the configuration is done here
[code]
And not in the .tm.config.json file correct?

[2015-01-26 16:03] michaelhidalgo commented on #280
Yes for now. I'm going to add a new issue because it needs more refactoring (i.e standardize the configuration in a new repo https://github.com/TeamMentor/node-teammentor)

[2015-01-26 16:06] DinisCruz commented on #94
Finally, here are the right-hand side scripts filters working (examples below are using the **Vulnerabilities** library)

**top level (library)**

![image](https://cloud.githubusercontent.com/assets/656739/5902757/16b5e67e-a575-11e4-8ce7-5a44c3d9e059.png)

**2nd level (folder)**

![image](https://cloud.githubusercontent.com/assets/656739/5902792/5044306c-a575-11e4-937c-48638865fedd.png)

**3rd lev

[2015-01-26 16:09] michaelhidalgo opened #310 "Password reset redirection it's confusing"
If you do not remember your password, you use the Password reset feature and you receive an email with an activation/reset link.

You can only change your password upon receiving this link with the respective valid token.
However, TEAM Mentor 4.0 redirects the user to this page :

![screen shot 2015-01-26 at 5 27 24 am](https://cloud.githubusercontent.com/assets/1732035/5902785/fa2ca786-a542-11e4-

[2015-01-26 16:56] michaelhidalgo opened #311 "Password Reset console error when redirecting after resetting password"
Had I been paying attention, I would have notice that when the redirection to /guest/login-pwd-reset.html is performed, there is a console error :  Can't set headers after they are sent

![screen shot 2015-01-26 at 5 33 30 am](https://cloud.githubusercontent.com/assets/1732035/5903860/d428ad62-a549-11e4-98e1-33ede868dc50.png)

This error is caused by the absence of a return when redirecting.

[2015-01-26 16:57] michaelhidalgo commented on #311
Fixing it with this PR https://github.com/TeamMentor/TM_4_0_Design/pull/312

[2015-01-26 17:02] roman87 commented on #280
Ok cool.

[2015-01-26 20:06] DinisCruz commented on #301
Done with latest commits

Guidance now looks like this

![image](https://cloud.githubusercontent.com/assets/656739/5907433/c5eabf54-a596-11e4-9e2c-62f28f9bc683.png)

[2015-01-26 20:17] DinisCruz commented on #94
This is now working :)

Here is the **Authorization** query

![image](https://cloud.githubusercontent.com/assets/656739/5907558/c9f65ad0-a597-11e4-8907-e6bfda170d5e.png)

and after clicking on **Java** we get this:

![image](https://cloud.githubusercontent.com/assets/656739/5907581/f5761d30-a597-11e4-9b7b-60b1a20bf902.png)

Here are the links used above
 * http://localhost:1337/graph/Guidance,quer

[2015-01-26 20:19] DinisCruz commented on #298
As discussed on skype, there is now a soft limit on 250, which is only visible is there are more than 250 articles

**Less than 250 articles** looks like this:

![image](https://cloud.githubusercontent.com/assets/656739/5907657/a33220e0-a598-11e4-846f-6e0242432719.png)

**More than 250 articles** looks like this:

![image](https://cloud.githubusercontent.com/assets/656739/5907656/99b63bc8-a598-11e

[2015-01-26 20:22] DinisCruz commented on #93
The solution for https://github.com/TeamMentor/TM_4_0_Design/issues/94 addresses this issue. And for the Jade beta there will only be one active filter on the right

[2015-01-26 21:58] roman87 commented on #280
This works great.

[2015-01-26 21:58] #280 closed

[2015-01-26 23:13] michaelhidalgo opened #313 "Password reset button split in two lines when resizing the browser"
When resizing the browser, the  Password reset button text is split in two lines. Look at the following image taken from SauceLabs.

https://assets.saucelabs.com/jobs/911f78f6d78b42ef8f47d4c053983f77/0001screenshot.png

It was tested on Windows 7, and Firefox version 35.

[2015-01-26 23:17] DinisCruz commented on #311
merge is done

[2015-01-26 23:19] DinisCruz commented on #279
it is just the test, and I don't expect to be issues (but all tests at the moment are run with the Lib on that location)

[2015-01-26 23:32] DinisCruz commented on #281
ok, I think can't live with it as it is

[2015-01-26 23:32] #281 closed

[2015-01-26 23:33] DinisCruz commented on #220
This is not relevant at more since GraphDB does not need to talk with the TM 3.5 server any more

[2015-01-26 23:34] DinisCruz commented on #194
I talking this as also meaning 'view the article content on 4.0 UI and not on 3.5 server'

[2015-01-26 23:36] DinisCruz commented on #155
This has been fixed

[2015-01-26 23:37] DinisCruz commented on #146
This part of the QA CI workflow is done (see https://travis-ci.org/TeamMentor/TM_4_0_QA) so we can close this issue

[2015-01-26 23:38] DinisCruz commented on #145
this can also be closed

[2015-01-26 23:39] DinisCruz commented on #131
this has not happen in a while (as far as I'm aware) so we can also close this one

[2015-01-26 23:39] #131 closed

[2015-01-26 23:41] DinisCruz commented on #126
The first pass of this feature is going to be simple keyword search that will find a number of articles, which will be feed to http://localhost:1332/docs/?url=http://localhost:1332/v1.0/api-docs#!/data/articles_parent_queries in order to create the mappings required to show on the current 'navigate' UI view

[2015-01-26 23:41] DinisCruz commented on #97
this is done right?

[2015-01-26 23:49] roman87 opened #314 "Remove the "Clear" Button from the Navigate page"
It is redundant to have it on the jade page. We do not allow to select multiple filters at this time so the button is confusing.

[2015-01-26 23:53] michaelhidalgo commented on #131
Yap, I've not seen it lately.

2015-01-26 17:39 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-01-27 00:45] DinisCruz opened #315 "Add GraphDB capability to perform Wikitext and Markdown transformations"
Markdown should be easy since we can use the same library used by Jade

WikiText transformation will require a little research and tests (specially to make sure it is as compatible as possible with the C#-based WikiText transformation currently happening on TM 3.5)

This is needed for https://github.com/TeamMentor/TM_4_0_Design/issues/194

[2015-01-27 00:46] DinisCruz opened #316 "Add search capabilities to the TM GraphDB API"
This is needed for https://github.com/TeamMentor/TM_4_0_Design/issues/126

[2015-01-27 00:47] luchia commented on #314
[This has been fixed -](https://github.com/TeamMentor/TM_4_0_Design/commit/e204d81bb4fa902b48f3ddd8b1a08ddc9476386b)

![screen shot 2015-01-27 at 10 44 19 am](https://cloud.githubusercontent.com/assets/4547737/5911463/809221c4-a611-11e4-8797-c1ad61c87e0a.png)

[2015-01-27 00:51] luchia commented on #309
[This has been fixed -](https://github.com/TeamMentor/TM_4_0_Design/commit/6eb7b57f506d43576fb93830aa5a8d1c05ae1c82)

![screen shot 2015-01-27 at 10 50 24 am](https://cloud.githubusercontent.com/assets/4547737/5911521/5f9825d0-a612-11e4-80e4-b39a78ee253f.png)

[2015-01-27 00:52] luchia commented on #302
Hi Dinis, thanks for pointing it out. It's a habit to do tabs just from previous programming projects but I'll keep it at the forefront of my mind when working from now on.

Thank you.

[2015-01-27 00:52] #302 closed

[2015-01-27 02:40] luchia commented on #299
I did quite a bit of work on this today and am really happy with how it looks. This is a more consistent style with 4.0 (ties in with the forms and search bar). Let me know what you think -

![screen shot 2015-01-27 at 12 28 08 pm](https://cloud.githubusercontent.com/assets/4547737/5912587/a4b4e446-a621-11e4-9132-32bbf7bd2f10.png)
![screen shot 2015-01-27 at 12 30 06 pm](https://cloud.githubuserco

[2015-01-27 03:04] roman87 commented on #299
Um.. honestly, I am really not sure why we have "Navigate" button there in the firs place. It is a bit redundant no? and takes up a bit of space.I like the color change of the active level.

[2015-01-27 07:56] DinisCruz commented on #299
I like the design element, but I agree that 'Navigate' sounds weird.

Maybe it is because 'Navigate' implies an action, where maybe 'Path' or 'Location' would make more sense?

[2015-01-27 07:58] DinisCruz commented on #302
no worries, I usually set it on the IDE so that it defaults to 'Using spaces for tabs'

[2015-01-27 08:10] luchia commented on #299
Yeah, it's meant to show the path of the user. Path is probably a better word.

![screen shot 2015-01-27 at 12 30 06 pm](https://cloud.githubusercontent.com/assets/4547737/5915303/d49d0e44-a64f-11e4-8740-5ee0d56af598.png)

[2015-01-27 08:12] luchia commented on #286
This is more of an application wide thing at the moment, so I've amended the title of this issue to reflect that -

![screen shot 2015-01-27 at 6 11 38 pm](https://cloud.githubusercontent.com/assets/4547737/5915314/fce1f248-a64f-11e4-8df9-3d11239b3b85.png)

[2015-01-27 08:15] luchia commented on #286
Today, I spent more time locking down how Flare will work. This includes fixing the navigation. I created a test environment and spent time getting everything right and using flexbox as much as possible.

We now have three layouts - one for mobile, one for tablet, one for desktop. Everything fits in together nicer and has a much smoother look. I have not transferred this structure into the Flare s

[2015-01-27 08:22] DinisCruz commented on #194
@luchia which one is the Jade page that should be used to display article content?

[2015-01-27 08:55] DinisCruz opened #317 "Cache GraphDB generated json files in order to improve view performance"
Since the 'GraphDB generated json files' do not change for existing libraries, we can cache (or pre-generate) the json files used by the UI

For example the **query_tree** objects (like http://localhost:1332/data/query_tree/query-d994753ff409) which is are a bit expensive to calculate.

The latest version contains a first mini-pass at doing some of this caching, with the query results being stored

[2015-01-27 09:01] DinisCruz commented on #303
Just implemented a fist pass of this and used '-' since that was the shortest, it actually looks quite nice:

![image](https://cloud.githubusercontent.com/assets/656739/5915901/f8578fe6-a602-11e4-917a-8d983a0a5bb7.png)

![image](https://cloud.githubusercontent.com/assets/656739/5915903/030e1702-a603-11e4-9536-7d841df7a234.png)

![image](https://cloud.githubusercontent.com/assets/656739/5915910/0f8

[2015-01-27 09:08] DinisCruz commented on #299
Yap, PATH looks much better

![image](https://cloud.githubusercontent.com/assets/656739/5915998/f1f8d9ce-a603-11e4-92e5-fb7e793bcd4b.png)

btw @luchia there a little issue with the wrapping of items:

![image](https://cloud.githubusercontent.com/assets/656739/5916018/16f40da2-a604-11e4-8814-4987a9ab4a7a.png)

[2015-01-27 10:29] DinisCruz opened #318 "Refactor GraphDB API tests to use a generic test base class"
At the moment all [Data API tests](https://github.com/TeamMentor/TM_4_0_GraphDB/tree/master/test/api) have a very similar first 50 lines (which test if that particular service is correctly configured), this can be refactored so that there is a base class that does that (with only a couple specific lines of test needed to do what is done today with 50)

Here is what it looks like at the moment

[co

[2015-01-27 10:35] DinisCruz opened #319 "Add test for GraphDB index.js page"
This one: https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/index.js

Tests should cover:
* [ ] which Swagger services have been loaded,
* [ ] Express sever was configured ok
* [ ] server started ok

While there add a helper method to load these Data Services
[code]
and move the contents into a coffee-script file

[2015-01-27 16:56] roman87 commented on #310
@michaelhidalgo  please don't forget to estimate the level of effort when opening the issue.

[2015-01-27 17:12] tekgirl77 commented on #208
Just an example of processing the CSP reports:
https://mathiasbynens.be/notes/csp-reports

[2015-01-27 17:48] roman87 commented on #259
This is fixed

[2015-01-27 17:48] #259 closed

[2015-01-27 17:53] DinisCruz commented on #316
The GraphDB API has now a new section called 'Search' and has the following methods:

![image](https://cloud.githubusercontent.com/assets/656739/5923697/5fb42a74-a64d-11e4-920a-daec0fa0902f.png)

[2015-01-27 17:58] roman87 opened #321 "Number of articles is much less than in the library"
There are 2114 article in the Guidance library. TM40 only shows 794.
![selection_072](https://cloud.githubusercontent.com/assets/1326120/5923816/4285ec9a-a624-11e4-8100-9969ca915699.png)

[2015-01-27 18:00] roman87 commented on #301
This is done. However related to https://github.com/TeamMentor/TM_4_0_Design/issues/321

[2015-01-27 18:00] #301 closed

[2015-01-27 18:03] DinisCruz commented on #321
That is because TM Graph only imports articles that are currently mapped to a view, the other articles at the moment only exist on the file system (inside the library folder)

What 3.5 does is a special hack to do a sweep after the library load, and do a diff between what is on the file system and is loaded.

So the question for 4.0, is do we still support that kind of 'unlinked' article?

[2015-01-27 18:05] DinisCruz commented on #301
the prob here was another one,

In here what was happening was that the issues where not being 'added up' (from the child-query to its parents (recursively)

[2015-01-27 18:06] roman87 commented on #321
Thats a good point. I think we still need to load them as we need to search through them? The problem is, what happens after 100 of these are found in a search and there is no way to take some out because they don't belong to any keyword on the lefthand side. I suppose they still belong to keywords on the right?

[2015-01-27 18:08] DinisCruz commented on #321
yes they would still have the keywords on the right (since that comes from the metadata)

[2015-01-27 18:23] DinisCruz commented on #126
with the latest commits there is a basic text search based on search the title and subject.

For example, searching for **XSS**:

![image](https://cloud.githubusercontent.com/assets/656739/5924107/b2c61292-a650-11e4-98ed-233a9974e94a.png)

produces

![image](https://cloud.githubusercontent.com/assets/656739/5924057/53d45b40-a650-11e4-90e7-a3464293550b.png)

search for **Access Control**

![image](

[2015-01-27 18:31] DinisCruz commented on #126
check this out, what about this for a search page:

![image](https://cloud.githubusercontent.com/assets/656739/5924321/b154683a-a652-11e4-9d2f-b73f574497c5.png)

[2015-01-27 18:34] DinisCruz commented on #321
Btw, note that it is possible to import these extra articles, specially since they will still bring it all the metadata

what will be 'broken' is the navigation view, which will not have those articles

[2015-01-27 19:26] roman87 commented on #321
Yea so we need to fix it on the content side. It doesn't make sense to display 100 articles with no way of drilling down to them. I will let Serge know.

[2015-01-27 19:30] roman87 commented on #321
Closing this issue here as it is a content issue.

[2015-01-27 19:30] #321 closed

[2015-01-27 20:07] luchia commented on #299
Woops, meant to post the Path photo. Re-assigned back to me to fix the wrapping issue.

[2015-01-27 20:27] luchia commented on #194
I added it to the User directory for you Dinis, it was in the 'soon to be deleted' directory.

[2015-01-27 20:51] luchia commented on #299
Fixed in the referenced commit and have attached a screenshot with filler text -

![screen shot 2015-01-28 at 6 48 54 am](https://cloud.githubusercontent.com/assets/4547737/5926871/13a15310-a6ba-11e4-9c6e-014531a91dfd.png)

[2015-01-28 08:29] DinisCruz opened #323 "Create /poc area that can be used to put variations of existing designs"
This should be on a separate area , ideally we the least amount of dedicated backend code (i.e. the using as much as possible the code used on the 'live' features)

Making this a P0 since I need this for https://github.com/TeamMentor/TM_4_0_Design/issues/315, https://github.com/TeamMentor/TM_4_0_Design/issues/194 and https://github.com/TeamMentor/TM_4_0_Design/issues/126

[2015-01-28 08:33] DinisCruz opened #324 "Create dedicated 'two column' search page"
Using the /PoC capability (https://github.com/TeamMentor/TM_4_0_Design/issues/323) experiment with a search page that looks something like:

![](https://cloud.githubusercontent.com/assets/656739/5924321/b154683a-a652-11e4-9d2f-b73f574497c5.png)

Making this a P0 since I need something like this to really test and QA the new search (https://github.com/TeamMentor/TM_4_0_Design/issues/126)

[2015-01-28 08:42] DinisCruz opened #325 "Review TM Design 'REST proxying' of requests to TM Graph, and check for URL Path manipulations"
At the moment TM Design is doing the typical REST proxying of requests, where it takes data from the user and uses it to create REST calls to the backend (in this case TM Graph).

This is a very dangerous proposition since payloads like **aaaa/../bbbb** or **aaaa&b=c#** would be modifying the REST call made to the backend REST service (from TM Design to TM Graph).

What is needed is a strong set o

[2015-01-28 09:25] DinisCruz commented on #324
Just pushed a first poc of this which  you can see at

http://localhost:1337/-poc-/search-two-column

![image](https://cloud.githubusercontent.com/assets/656739/5935147/879cae12-a6cf-11e4-8580-eeb295455ec2.png)

with a search looking this this:

![image](https://cloud.githubusercontent.com/assets/656739/5935140/7a2f04f0-a6cf-11e4-9114-9071c1359378.png)

[2015-01-28 17:33] tekgirl77 commented on #147
I think I found a bug w/ the fluentnode assert_Is_Number() function ... it does not fail when passing a NaN value... can someone take a look and let me know what you think?  If it is a bug, should I submit it to the github fluentnode project?

https://github.com/tekgirl77/TM_4_0_Design/blob/Issue_147_Run_node_in_SSL/node/tests/services/Express-Service.test.coffee#L10

![screen shot 2015-01-28 at 1

[2015-01-28 18:16] DinisCruz commented on #246
What is the status of this? now that we have the beta out we need to start running this against a QA server (and some tests against the live server (to make sure it is all good))

[2015-01-28 19:10] DinisCruz opened #326 "Research use of LevelGraph without levelDb and Levelup"
Just another issue on top of the many we've seen before, Salle just had this

[code]

Making it a P1 because although not critical, we should tackle this sooner rather than later

[2015-01-28 19:11] BendixSpring opened #327 "Should - Error message reveals information about account?"
![image](https://cloud.githubusercontent.com/assets/3578332/5944761/6bb9e872-a6f7-11e4-804b-f6a90d4cee8f.png)
The error message should be changed to something like:  The account or password is invalid.  Please try again and check your spelling and caps lock"

[2015-01-28 19:16] BendixSpring opened #328 "Instructions for passwords need to be made more accurate"
The current instructions are as follows:
Your password should be at least 8 characters long. It should have one uppercase and one lowercase letter, a number and a special character.

To be more precise, you can have more than one uppercase, number, special character:
Your password should be at least 8 characters long. It should have *at least one of each of the following:* uppercase and lowercase

[2015-01-28 19:21] roman87 commented on #328
@luchia  can we fix that and then pass it on to @michaelhidalgo to fix the error message when the user submits a bad password.

[2015-01-28 19:24] BendixSpring opened #329 "When Search returns no hits, user should be offered to do another search"
Perhaps adding the search box to the failed search might be useful to allow people to do another search
![image](https://cloud.githubusercontent.com/assets/3578332/5944981/4bd1b4ca-a6f9-11e4-89d9-6270abc64fc9.png)

[2015-01-28 19:24] tecknicaltom opened #330 "sign-up form clears inputs on validation error"
If you submit the sign-up form with e.g., a password that is too short, the page refreshes with an error message but all of the input fields are blank. For usability, the values entered for username and email address should persist.

[2015-01-28 19:24] roman87 commented on #327
@BendixSpring  Thank you for this. I changed it into a question since this is a never ending discussion between usability and security :). I am interested in what others think. This is really an easy change for us.

[2015-01-28 19:27] BendixSpring opened #331 "Search returns no hits for obvious terms"
I did not get any search hits with the following:
SSL
xss
cross site scripting
sqli
sql injection
input validation
crypto

Is the search engine working?

[2015-01-28 19:27] tecknicaltom opened #332 "When searching for ambiguous characthers, such as a'b"cdef, we should fail the search gracefully (WAS: Server error)"
I did a search for my normal search term:
a'b"c<marquee>def

The application redirected me to https://beta.teammentor.net/graph/a%27b%22c%3Cmarquee%3Edef and gave me a server error:
Server Error in '/' Application.
Runtime Error
Description: An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being vi

[2015-01-28 19:28] BendixSpring commented on #331
And the search terms pop up on the home page under "Popular search terms".  If there is no content, you'd better log that somewhere and consider building content.  And don't post it as a popular search term.

[2015-01-28 19:28] #331 closed

[2015-01-28 19:30] DinisCruz commented on #332
you saw the image below right?

![image](https://cloud.githubusercontent.com/assets/656739/5945114/10ecc36a-a724-11e4-9bf1-8e4012f56318.png)

which is interesting since that is running on a node back end

[2015-01-28 19:30] BendixSpring opened #333 "Server error due to javascript in search"
I did a search on <marquee> tag and got the web.config file dumped:

Server Error in '/' Application.
Runtime Error
Description: An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being viewed remotely (for security reasons). It could, however, be viewed by browsers running on the local server machin

[2015-01-28 19:31] DinisCruz commented on #332
the local error we get is

![image](https://cloud.githubusercontent.com/assets/656739/5945131/4229c6ee-a724-11e4-9b7f-4a8eca2f4ee0.png)

[2015-01-28 19:31] tecknicaltom commented on #332
yes, that's the error I saw (the white and yellow page)

[2015-01-28 19:33] DinisCruz commented on #332
cool, we'll look into it

And it is nice to see the searches your guys are trying

![image](https://cloud.githubusercontent.com/assets/656739/5945176/8b7bec28-a724-11e4-8942-bf0fc6c119e5.png)

[2015-01-28 19:34] DinisCruz commented on #333
Hi @BendixSpring , is this the error you are getting

https://github.com/TeamMentor/TM_4_0_Design/issues/332

[2015-01-28 19:35] BendixSpring commented on #333
No, Dinis.  I think the email should have a screen shot of the error message.

--Danny

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 2:34 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Server error due to javascript in search (#333)

Hi @BendixSpring <https://github.com/BendixSpring>  , is this the error you are getting

#332 <

[2015-01-28 19:35] BendixSpring opened #334 "Server error in /"
This is my search query:  I typed some really bad words here.

Server Error in '/' Application.
The resource cannot be found.
Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly.

Requested URL: /graph/I typed som

[2015-01-28 19:36] DinisCruz commented on #329
I agree, we are playing with alternatives ways to show this page, take a look at this view https://github.com/TeamMentor/TM_4_0_Design/issues/324

That will be available next week on the next beta release (or locally if you run from the latest build)

[2015-01-28 19:37] DinisCruz commented on #334
btw, can you try to put a screenshot of what it looks like to you in these issues? If you are on OSX, you can copy and paste directly into one of these issues (in GitHub)

[2015-01-28 19:40] roman87 commented on #332
@DinisCruz  We are running behind a reverse proxy :) thats why you get the IIS error. Good thing to keep in mind when we make the search work.

[2015-01-28 19:41] BendixSpring opened #335 "Vulnerable to directory traversal"
Doing a search of this:
/on the server.
Gives this error message:
 Requested URL: /graph/on the server.
Notice /graph/on the server.

Adding ../ to the front of the message (../on the server.) gives this error message
Requested URL: /on the server.
Notice that we lost /graph and have moved up a directory

----
[TM-4.0-Security](https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security)

[2015-01-28 19:45] BendixSpring opened #336 "Don't display search terms that had 0 hits under "Popular Search Terms""
![image](https://cloud.githubusercontent.com/assets/3578332/5945409/342a4f46-a6fc-11e4-834a-e39df534e8d5.png)

[2015-01-28 19:48] DinisCruz commented on #335
can you post an screenshot?

[2015-01-28 19:48] BendixSpring opened #337 "Search is not working well"
I tried a number of search terms:
xss
cross site scripting
sqli
SQL injection
access control
Access Control

and kept getting 0 hits.  Something isn't working correctly.

[2015-01-28 19:49] BendixSpring commented on #335
It should be in the message

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 2:49 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Vulnerable to directory traversal (#335)

can you post an screenshot?

—
Reply to this email directly or view it on GitHub <https://github.com/TeamMentor/TM_4_0_Design/issues/335#issuecomment-71902457> .

[2015-01-28 19:49] DinisCruz commented on #335
Also can you take a look at https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security , namely this thread https://github.com/TeamMentor/TM_4_0_Design/issues/206 (the path transversal part starts in the middle of it)

[2015-01-28 19:51] BendixSpring commented on #335
![image](https://cloud.githubusercontent.com/assets/3578332/5945519/04a86324-a6fd-11e4-934c-76060d62be13.png)

Here is with the ../
![image](https://cloud.githubusercontent.com/assets/3578332/5945535/268cc9c6-a6fd-11e4-8439-4e7c72a7dc06.png)

[2015-01-28 19:51] DinisCruz commented on #337
correct, on this version (Beta 1), the search only returns a hit that match one of the existing views or queries

on Beta 1.1 you will have a much better search: see https://github.com/TeamMentor/TM_4_0_Design/issues/126

[2015-01-28 19:55] BendixSpring commented on #336
![image](https://cloud.githubusercontent.com/assets/3578332/5945588/b52340ac-a6fd-11e4-9dff-fe2df7e62345.png)
Here's more evidence to show that you only want to allow successful searches to be displayed.

[2015-01-28 19:56] DinisCruz commented on #336
yeah, that is a good point (btw which

[2015-01-28 19:57] DinisCruz commented on #337
related to https://github.com/TeamMentor/TM_4_0_Design/issues/336

[2015-01-28 19:59] DinisCruz commented on #336
Fixing this will also deal with issues like the one on the image below (which is clearly not a valid search)

![image](https://cloud.githubusercontent.com/assets/656739/5945656/22ae51be-a728-11e4-9f30-c9075a330668.png)

[2015-01-28 20:00] BendixSpring opened #338 "Popular search terms only updated after clicking the search icon"
With AJAX and all, I was expecting the popular search terms to be dynamically updated as I am sitting on a page.  This way we get to see all kinds of fun things:
![image](https://cloud.githubusercontent.com/assets/3578332/5945694/6e1b507c-a6fe-11e4-9c2c-0518180a512c.png)

[2015-01-28 20:04] roman87 commented on #333
@BendixSpring  Can you let us know specifically what you searched for?

[2015-01-28 20:13] BendixSpring opened #339 "404 error on a very long search"
Set the search string size (client and server) to something reasonable.

I got the following error when I did the search below:
![image](https://cloud.githubusercontent.com/assets/3578332/5945966/3993da34-a700-11e4-802c-9e64cc435da5.png)

I did a search with this string:
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken
chicken

[2015-01-28 20:15] luchia commented on #286
Below are the three navbars in the referenced commit -

##### Application Nav
![screen shot 2015-01-28 at 11 55 53 am](https://cloud.githubusercontent.com/assets/4547737/5945932/c5bf9480-a77d-11e4-8c9f-1a3898ff0814.png)
![screen shot 2015-01-28 at 11 55 58 am](https://cloud.githubusercontent.com/assets/4547737/5945935/c5c28ee2-a77d-11e4-9117-61f6b41dbf8d.png)
![screen shot 2015-01-28 at 11 56 29 a

[2015-01-28 20:17] luchia opened #340 "TM Logo sprite is not responsive"
This means that it doesn't resize to fit it's container when the screens are small, causing overlap.

![screen shot 2015-01-28 at 11 57 53 am](https://cloud.githubusercontent.com/assets/4547737/5946028/57febaba-a77e-11e4-8cf0-feaa9da2bd0f.png)

[2015-01-28 20:19] luchia commented on #286
@roman87, I had to work on this first because it affects how other issues are solved - #183 and #284.

[2015-01-28 20:20] luchia commented on #284
Flare navigation has been completed in #286.

[2015-01-28 20:20] BendixSpring commented on #333
The marquee tag

Apparently I had brackets around it, and they were stripped out by git.

From: RomichG [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 3:05 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Server error due to javascript in search (#333)

@BendixSpring <https://github.com/BendixSpring>  Can you let us know specifically what you searc

[2015-01-28 20:22] luchia commented on #183
Links in the Application Navbar -

![menu](https://cloud.githubusercontent.com/assets/4547737/5946123/24d2bba4-a77f-11e4-8464-4f0437f6b9c6.gif)

[2015-01-28 20:23] BendixSpring opened #341 "Forced to reauthenticate when attempting to read a Top Article"
Step 0
Login to system

Step 1
Click on a top article:
![image](https://cloud.githubusercontent.com/assets/3578332/5946111/5e4c1ef8-a701-11e4-8ed1-3009fecd1299.png)

Step 2
Get auth dialog box
![image](https://cloud.githubusercontent.com/assets/3578332/5946132/734d8d3c-a701-11e4-85b3-3293ffdfd494.png)
Why is that happening?

Step 3
Close auth dialog box and go back and click on original top articl

[2015-01-28 20:24] luchia opened #342 "Create shared mixins (CSS) between Jade and Flare"
As per [my comment](https://github.com/TeamMentor/TM_4_0_Design/issues/284#issuecomment-71289039) on #284, we have decided to create a shared mixins SASS file that contains styles shared between the two versions of the application.

This cuts down on duplicate code and makes things easier to maintain.

[2015-01-28 20:27] BendixSpring opened #343 "Clicking on a bad search request from Recent Searches generates HTTP 400 Error"
Click a bad popular search
![image](https://cloud.githubusercontent.com/assets/3578332/5946226/1affdf1c-a702-11e4-9e2b-44ad0284bcbe.png)

Get an error message
![image](https://cloud.githubusercontent.com/assets/3578332/5946218/0e5ae02c-a702-11e4-8ac5-230ad15063f4.png)

[2015-01-28 20:29] BendixSpring opened #344 "Show user friendly error messages when Invalid or unauthorized URL is requested."
Logged in as a user

Attempt to access:  https://beta.teammentor.net/admin

Get the following error:
![image](https://cloud.githubusercontent.com/assets/3578332/5946264/65719d6a-a702-11e4-801a-78532d07d00a.png)

[2015-01-28 20:37] BendixSpring commented on #335
Here is an example of a search term I used to pull up a page from the web server
../article/view/d898d2a2-f20a-45bb-b232-6713cb618de8/All%20Output%20Data%20Is%20Encoded

It's possible that the search engine ignored stuff and just found the page, but if there really is an /article  directory one level above the /graph directory, then maybe this query did pull that page

[2015-01-28 20:38] roman87 commented on #329
Agred, rewording the issue a bit. and tracking with the basic search story.

[2015-01-28 20:38] BendixSpring opened #345 "Feature Request: Show NEW or UPDATED article filters"
It would be great to have a button that would show new or updated articles.  Maybe even allowing the user to specify how recent...

[2015-01-28 20:39] luchia commented on #183
Get Started button on the Landing Page navigation -

![lpbutton](https://cloud.githubusercontent.com/assets/4547737/5946432/66078ef4-a781-11e4-8eae-6ee8dd148f42.gif)

[2015-01-28 20:40] roman87 commented on #330
Good point. We need to see how to fix that.

[2015-01-28 20:42] BendixSpring commented on #337
I am unable to get a search that hits any terms.  If that functionality works, are the keywords highlighted in the list of returned searches?

[2015-01-28 20:45] roman87 commented on #332
rewording this a bit for more actionable fix. and adding to be tracked with the search story

[2015-01-28 20:46] pjenney58 opened #346 "Who is the user? And other observations and comments ..."
The entry screens seem very sales focused and seems to want the user to buy it.  There are all sorts of pretty benefit statements and feature descriptions, but there's no place to pay.  Instead it just asks the user to sign-up.

My understanding of TM is that it is the eGuidance component of TEAM Academy and that article content was linked into eLearning modules and that it could be used in conjun

[2015-01-28 20:48] roman87 opened #347 "Make sure the reverse proxy shows TM error pages when there is an error."
Related to https://github.com/TeamMentor/TM_4_0_Design/issues/332

[2015-01-28 20:50] BendixSpring opened #348 "Unable to see at a glance what filters I am using"
If I click on the Android filter, I get 24 articles.  The Guidance term is highlighted, but I have to scroll to the very bottom to see that the Android filter is bold.  I think you should put the active filters on the Navigate bar so folks have some context.
![image](https://cloud.githubusercontent.com/assets/3578332/5946647/62159b00-a705-11e4-8477-fcb6d2e595cb.png)

[2015-01-28 20:51] roman87 commented on #333
Ok so it is the same error message you got as in https://github.com/TeamMentor/TM_4_0_Design/issues/332#issuecomment-71899151 ?

[2015-01-28 20:51] BendixSpring commented on #345
Maybe less is more.  The current home page is pretty busy with 250 articles.

Maybe the default should be 10 new or updated articles....

[2015-01-28 20:54] roman87 commented on #334
Is the error message similar to this one https://github.com/TeamMentor/TM_4_0_Design/issues/332#issuecomment-71899151?

[2015-01-28 20:54] BendixSpring opened #349 "GraphDB dies / crash sporadicaly causing "Blank page came up when trying to reset the filters" or clicking on Navigate"
It's unclear how to remove filters and get back to the default search page.

I clicked GUIDANCE on the navigate bar, and got this blank page:
![image](https://cloud.githubusercontent.com/assets/3578332/5946709/e38ff8e2-a705-11e4-9417-931c1f6a53e4.png)

[2015-01-28 20:56] BendixSpring commented on #333
Yes, same error.  You can try a search with:  <marquee> tag

And it should spit the same message

From: RomichG [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 3:52 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Server error due to javascript in search (#333)

Ok so it is the same error message you got as in #332 (comment) <https://github.com/Team

[2015-01-28 21:00] roman87 commented on #335
I will take a look. Probably related to #332 and #347

[2015-01-28 21:01] BendixSpring opened #350 "Feature Request: Collapse filters to help people navigate them"
I think a twisty on each of the main filter headings would help.  Too much info on the screen.

Have the current filter opened, and everyone else collapsed.  Unfortunately, it appears that you can only have one filter.  Google has better search capabilities.

Collapse these:
Category
Technology
Phase
Type

I think you should break out "Language" from technology and create another filter category c

[2015-01-28 21:02] roman87 commented on #333
Ok great. I'll close this as a dupe then.

[2015-01-28 21:02] #333 closed

[2015-01-28 21:54] DinisCruz commented on #349
Can you replicate this?

[2015-01-28 22:13] DinisCruz commented on #335
@BendixSpring I'm struggling to replicate this, can you give me the exact URL?

For example this http://beta.teammentor.net/../article/view/d898d2a2-f20a-45bb-b232-6713cb618de8/All%20Output%20Data%20Is%20Encoded works ok (i.e. I can't replicate the issue)

[2015-01-28 22:17] DinisCruz commented on #348
@luchia can you take this on?

[2015-01-28 22:26] DinisCruz commented on #341
I believe you are hitting this issue https://github.com/TeamMentor/TM_4_0_Design/issues/194 which is basically caused by the fact that content is currently provided by this 3.5 version https://beta35.teammentor.net

[2015-01-28 22:31] luchia commented on #348
Yes :)

[2015-01-28 22:36] DinisCruz opened #351 "Allow support for monitoring local library content changes and reload data"
With a focus of only updating the data that changed

[2015-01-28 22:38] DinisCruz commented on #351
P3 since we can have a more manual solution in the short term

[2015-01-28 22:44] BendixSpring opened #352 "UI is too busy with text"
The UI has way too much text.  I've suggested elsewhere some ideas for cutting down on the text.
Feature Request: Collapse filters to help people navigate them [#350](https://github.com/TeamMentor/TM_4_0_Design/issues/350)
Feature Request: Show NEW or UPDATED article filters [ #345] (https://github.com/TeamMentor/TM_4_0_Design/issues/345)

[2015-01-28 22:54] BendixSpring commented on #335
Dinis:

That is the URL I used.  If the /article directory is at the same level as /graph, then this is a valid directory traversal.

Someone did a nice traversal using the logo.  Look in the logs for that example to see what they did.

--Danny

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 5:14 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [T

[2015-01-28 23:17] DinisCruz opened #353 "Move orphan articles from Lib_Uno into a separate library"
key concepts:
 - the Lib_Uno library should have the exact same number of articles that are on the beta site (794 at the moment)
 - the new library (we can call it 'Lib_Staging' will have the articles that are currently orphans in Lib_Uno (i.e. not in any folder or view)

The idea will then be that Serge and the other content editors can use this Lib_Staging to create the folder and views that wil

[2015-01-28 23:28] DinisCruz commented on #345
yeah I agree, see https://github.com/TeamMentor/TM_4_0_Design/issues/298

I think we shouldn't show more than 20 to 50 article at once

We need to find a good balance here on how much info to show

[2015-01-28 23:29] BendixSpring commented on #345
I’m thinking like 5 or 6 articles.  Less is more.

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 6:29 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Show NEW or UPDATED article filters (#345)

yeah I agree, see #298 <https://github.com/TeamMentor/TM_4_0_Design/issues/298>

I think we shouldn't show more than 20

[2015-01-28 23:33] DinisCruz commented on #352
@luchia can you share here (as screenshots) your 'clearer UI' ideas for Flare

(@BendixSpring **Flare** is our code-name for the version with Javascript, and **Jade** is our code-name for the no-Javascript version that is currently deployed)

[2015-01-28 23:37] DinisCruz commented on #335
humm, the url didn't make it into the github Issue (see https://github.com/TeamMentor/TM_4_0_Design/issues/335#issuecomment-71934300 for what it looks like)

@roman87 is this something we can get from the IIS logs?

[2015-01-28 23:44] DinisCruz commented on #337
Try

* Logging   ,  https://beta.teammentor.net/search?text=Logging
* Authorization   , https://beta.teammentor.net/search?text=Authorization

[2015-01-28 23:45] BendixSpring commented on #335
It looks like the app is filtering out the ../ so this URL does correctly display the logo when entered into the search box
https://beta.teammentor.net/graph/../static/assets/logos/logos.jpg

[2015-01-28 23:45] DinisCruz commented on #330
@michaelhidalgo the solution for this is to re-add those values to the view-model used on those pages

[2015-01-28 23:48] DinisCruz commented on #343
can you share the url that you had when you got that error 400?

Also what is that text on the search terms? :)

[2015-01-28 23:49] BendixSpring commented on #343
I have no idea what the text is, but it is a screenshot of what what displayed.  I will see if I can find the URL in my history.

[2015-01-28 23:52] DinisCruz commented on #339
Here what that search looks like

https://beta.teammentor.net/search?text=chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicken+chicke

[2015-01-28 23:53] luchia commented on #328
This has been fixed in the reference commit.

![screen shot 2015-01-29 at 9 52 42 am](https://cloud.githubusercontent.com/assets/4547737/5949729/aac1fbcc-a79c-11e4-9974-373538c87e44.png)

[2015-01-28 23:54] DinisCruz commented on #335
so on that case, that is actually a path that exists https://beta.teammentor.net/static/assets/logos/logos.jpg

[2015-01-28 23:55] luchia commented on #330
I think this needs to be done from the backend right? Assigning to Michael.

[2015-01-28 23:56] DinisCruz commented on #338
Well AJAX will be a bit harder to do on this version, since there is no Javascript in there :)

@roman87 @luchia have we captured on the Flare ideas/plans the 'dynamic updating of popular search terms'?

[2015-01-28 23:57] DinisCruz commented on #331
the search engine on this version is not working very well.

And I agree that we shouldn't show popular searches that have no results (as now tracked on https://github.com/TeamMentor/TM_4_0_Design/issues/336 )

[2015-01-28 23:59] BendixSpring commented on #343
https://beta.teammentor.net/graph/T%CC%94%CD%A5%CC%93%CD%A9%CC%BF%CC%B8%CC%B6%CD%9F%CC%A1%CC%B7%CC%B3%CD%9A%CC%9F%CD%89%CD%88%CC%99%CD%85%CC%9DE%CD%A8%CC%BD%CC%80%CD%9B%CD%A7%CC%8C%CD%84%CC%93%CC%93%CD%A7%CC%BF%CD%AD%CC%84%CC%94%CC%8F%CD%AF%CD%8B%CC%94%CC%95%CC%9B%CC%B8%CC%B7%CC%A1%CC%9F%CC%9C%CC%B2%CC%A5%CC%B9A%CC%94%CC%87%CD%84%CD%9B%CD%A8%CD%9B%CD%AA%CD%A9%CD%A5%CD%97%CC%94%CD%9B%CC%BF%CD%AD%CD

[2015-01-29 00:01] luchia commented on #299
Taking this back because of the suggestion made with #348. To be able to make them work in together will require a different solution.

[2015-01-29 00:01] DinisCruz commented on #147
Nice cartch

i think this is caused by Javascript weird type system

I just added that to the fluentnode repo so that it can be tracked in there (see ref above this comment)

[2015-01-29 00:03] BendixSpring commented on #335
Right, that path exists.  It appears that the ../ is being stripped out, and the URL works.  The interesting thing would be:  can we get a URL that points to something where we shouldn’t be able to access?

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 6:54 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Vulnerable to directory t

[2015-01-29 00:12] DinisCruz commented on #343
That is a really cool payload :)

What is that , some kind of weird Unicode conversion?

[2015-01-29 00:21] DinisCruz commented on #336
fixed with commits https://github.com/TeamMentor/TM_4_0_Design/commit/192d39f9d6b014fa2828f6ef5f14569bda95594f and https://github.com/TeamMentor/TM_4_0_GraphDB/commit/2ea1ae255bb60f1637e15fd238c69c36787eb3f7

[2015-01-29 00:24] DinisCruz opened #354 "show 'no results found' to user when there are no search results"
The fix pushed to fix issue https://github.com/TeamMentor/TM_4_0_Design/issues/336 removed the 'feature' of adding those bad searches to the list of previous search (while redirecting the user back to the search page.)

What is also needed is to tell the user that there were no results

[2015-01-29 00:27] DinisCruz commented on #343
marking this to be closed since we are tracking the 'error 400 on long searches' at https://github.com/TeamMentor/TM_4_0_Design/issues/339 , and, the fix for https://github.com/TeamMentor/TM_4_0_Design/issues/336 prevents that particular string from being see by other users

[2015-01-29 00:30] DinisCruz commented on #335
as far as I can tell, you can only get files that exist inside the current TM_4_0_Design root folder. This is  'by design' at the moment (see https://github.com/TeamMentor/TM_4_0_Design/issues/206 for more details)

I have not seen a case where you can get a file from outside that web root

[2015-01-29 00:32] michaelhidalgo commented on #339
It turns out that this might be a path limitation to 256 characters

This one breaks :

https://beta.teammentor.net/graph/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

This one does not :

h

[2015-01-29 00:55] roman87 commented on #354
@DinisCruz do you think @michaelhidalgo can have a shot at this?

[2015-01-29 01:04] roman87 commented on #343
Yea I agree this would be fixed by those issues, but we can track this one as well to make sure we include someone from fiddling with the URL.

[2015-01-29 01:08] roman87 opened #355 "Validate the search string to sanitize from potential injeciton attacks."
Given that the search string passes directly to the graphDB for query we need to be sure that we sanitize it properly to prevent potential injection attacks. An interesting case would be if someone actually wants to search for ```<script>``` tag in our content.

[2015-01-29 01:21] roman87 commented on #338
@DinisCruz yep we do. This is tracked in the story related above. Currently set for Sprint 4

[2015-01-29 01:35] roman87 opened #356 "Images are tiled on a 27" display at 2560x1440 resolution"
This is one of those amazing issues you can only get through field trials. This one comes from  Brandon Cooper.

As additional info,
"I tested it on Chrome, Safari and Firefox and they all have the same tiling behavior. I’m currently working on a MacOS 10.10 machine with a 27” 2560x1440 display, I also tested it on Ubuntu 14.04 with the same results." - Ubuntu is the VM running on Mac.

The new ve

[2015-01-29 01:36] BendixSpring commented on #343
Dunno!  I found it in the list of recent searches and clicked!

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 7:13 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Clicking on a bad search request from Recent Searches generates HTTP 400 Error (#343)

That is a really cool payload :)

What is that , some kind of weird Unicode conve

[2015-01-29 01:39] roman87 commented on #356
And this comes from my own testing. Reducing the HiDPI scaling on my 14" screen
![selection_076](https://cloud.githubusercontent.com/assets/1326120/5950875/bda9388c-a72d-11e4-8c52-7e76176303eb.png)

[2015-01-29 01:58] luchia commented on #348
@roman87 @BendixSpring @DinisCruz @michaelhidalgo @tekgirl77, tell me what you think about this:

![screen shot 2015-01-29 at 11 24 02 am](https://cloud.githubusercontent.com/assets/4547737/5951114/18297b20-a7ae-11e4-9208-977c76b490a5.png)

Related to #299.

[2015-01-29 02:00] luchia commented on #299
After some feedback, I have revised how the path appears and have come up with the following solution, which I think is a lot nicer and won't confuse the user (it looked too similar to the search bar before):

![screen shot 2015-01-29 at 11 20 00 am](https://cloud.githubusercontent.com/assets/4547737/5951127/530c348a-a7ae-11e4-9c96-c8fa075926c5.png)

[2015-01-29 02:02] luchia commented on #348
This gif also relates to this issue and a number of conversations we've had during our daily meetings about the Filters div being exessively long. I built a custom dropdown system with CSS only, let me know what you think:

![filters](https://cloud.githubusercontent.com/assets/4547737/5951148/a5b1608e-a7ae-11e4-8fa9-ff4458ed1abc.gif)

@DinisCruz - I mostly got this working except the links don't a

[2015-01-29 02:03] BendixSpring commented on #348
That seems fine.  What is the difference between a filter and the box above showing Type / Vulnerability?

How did you get Vulnerability to appear on the left under the logo?  I only was able to get Guidance displayed.

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 8:58 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Unabl

[2015-01-29 02:05] BendixSpring commented on #348
This looks good.  Can you have more than one filter selected?  If so, will you be able to see them all?

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 9:02 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Unable to see at a glance what filters I am using (#348)

This gif also relates to this issue and a number of conversati

[2015-01-29 02:21] tekgirl77 commented on #348
I think that looks great Lucy!  I like it.

On Wednesday, January 28, 2015, Luchia Bloomfield <notifications@github.com>
wrote:

--

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

[2015-01-29 02:48] luchia commented on #299
Feedback from @Roman was that the style of this may clash with a search box if they are ever on the same page, so I decided to strip back the style and have something a little more plain -

![screen shot 2015-01-29 at 12 46 59 pm](https://cloud.githubusercontent.com/assets/4547737/5951588/27c3f068-a7b5-11e4-9c60-cf7c62702b13.png)

[2015-01-29 02:53] luchia commented on #348
Further work on the style with this issue. Also @DinisCruz, I got the links to work in the dropdowns. I couldn't work out how to get the active filter into the 'Filtered by:' badge though.

![screen shot 2015-01-29 at 12 49 49 pm](https://cloud.githubusercontent.com/assets/4547737/5951613/58a2ff30-a7b5-11e4-89ef-9448b22f9682.png)
![screen shot 2015-01-29 at 12 49 51 pm](https://cloud.githubusercon

[2015-01-29 03:00] luchia commented on #356
I think I fixed this Roman (I can't recreate it on my machine) so can you please check this one for me?

[2015-01-29 08:11] DinisCruz commented on #354
sure

[2015-01-29 08:16] DinisCruz commented on #348
Interesting CSS trick, does it work on all browsers?

[2015-01-29 09:13] DinisCruz commented on #323
There is a now a /-poc- page (http://localhost:1337/-poc-/) that looks like this and will contain the links to the current wired PoC pages:

![image](https://cloud.githubusercontent.com/assets/656739/5955097/17f29ff4-a797-11e4-92f3-99a46fe3235d.png)

[2015-01-29 17:24] michaelhidalgo commented on #304
This is done https://github.com/TeamMentor/TM_4_0_QA/pull/6/files

[2015-01-29 17:39] michaelhidalgo commented on #244
Addressed with this PR https://github.com/TeamMentor/TM_4_0_QA/pull/6

[2015-01-29 17:39] michaelhidalgo commented on #244
With Pull Request

[2015-01-29 18:05] arvinddoraiswamy commented on #341
Yes happens to me too :) Doesn't happen with 'Recently viewed articles' for whatever reason.

[2015-01-29 18:13] arvinddoraiswamy commented on #350
Agreed. Too much scrolling needed to find out what I'd like to filter by. I'd like only the Top level filters to be displayed.
Category, Tech, Phase, Type

Then only when I click on Category should a new expansion happen. Preloading everything is not logical IMO. Why would a user want to know about every category right at the start?

[2015-01-29 18:15] arvinddoraiswamy opened #357 "What if - Do not show any articles when user clicks navigate untill something is sleected."
As soon as I click Navigate there are 250 out of 794 articles displayed on the front page. Why? Keep it blank. Load only the filters and show a search box. Let the user decide what they want to see :)

[2015-01-29 19:33] michaelhidalgo commented on #330
I found a way to address this issue, it will preserve all the values.

![screen shot 2015-01-29 at 1 29 50 pm](https://cloud.githubusercontent.com/assets/1732035/5964631/4872c234-a7bb-11e4-979f-467f2d1961ce.png)

[2015-01-29 19:57] DinisCruz commented on #330
@michaelhidalgo looks good

[2015-01-29 22:15] luchia commented on #330
Awesome @michaelhidalgo :)

[2015-01-29 22:17] luchia commented on #348
Should do, it only uses the :hover pseudo-element. I just checked [caniuse](http://caniuse.com/#search=%3Ahover) and it says supported by legacy browsers.

[2015-01-29 22:18] luchia commented on #350
Hey guys, I did some work on this yesterday on #348 that I think addresses this problem. Let me know what you think.

![filters](https://cloud.githubusercontent.com/assets/4547737/5951148/a5b1608e-a7ae-11e4-8fa9-ff4458ed1abc.gif)
![screen shot 2015-01-29 at 12 49 49 pm](https://cloud.githubusercontent.com/assets/4547737/5951613/58a2ff30-a7b5-11e4-89ef-9448b22f9682.png)
![screen shot 2015-01-29 at

[2015-01-29 22:20] luchia commented on #354
I'll take this and create a template for @michaelhidalgo to use.

[2015-01-29 22:34] luchia commented on #346
We don't want the user to necessarily buy, but we're definitely trying very hard to get people to sign up - which is why we don't have any payment options upfront. We want people to get a feel for it first and we also want hands-on contact with everyone that comes through the application in terms of having follow up calls/emails/contact with the user throughout their trial period.

We're working o

[2015-01-29 23:34] BendixSpring commented on #350
From what I see, this looks good.  In the JavaScript version, would we see multiple selections?

For example:

Under technology, I might select Java and PHP – would only they be listed?

Or if I selected something from Technology, Phase, and Type – would only those particular filters be listed?

If so, that would be great!

Thanks,

Danny

From: Luchia Bloomfield [mailto:notifications@github.com]

[2015-01-30 01:18] luchia commented on #354
Hey @michaelhidalgo, check out the referenced commit to see where the files are.

[2015-01-30 01:32] luchia commented on #350
Hi Danny, it's difficult to explain and the workflow isn't ready to show yet as @DinisCruz hasn't built the JS for that feature. I can tell you that it is easy to use and shows multiple filter selections which load the screen dynamically.

[2015-01-30 04:27] BendixSpring commented on #350
Great!  I’m looking forward to giving it a try!

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Thursday, January 29, 2015 8:32 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Collapse filters to help people navigate them (#350)

Hi Danny, it's difficult to explain and the workflow isn't ready to show yet as @DinisCruz <https://github

[2015-01-31 09:12] DinisCruz commented on #350
@BendixSpring the plan is to support multiple selections in Flare (the JS version of TM 4.0)

[2015-01-31 09:13] DinisCruz commented on #348
@michaelhidalgo is this something we can test on sause labs?

[2015-01-31 13:39] michaelhidalgo opened #359 "HTTP 413 Request entity too large in Login form"
If you enter a long value in the username textbox in the login form, you receive this error
Note that the stack trace also shows up directories.

![screen shot 2015-01-31 at 7 35 26 am](https://cloud.githubusercontent.com/assets/1732035/5988223/fe4347f8-a91b-11e4-872f-583411b188f1.png)

[2015-01-31 13:59] DinisCruz commented on #359
nice, it looks like the error was thrown by the body parser module

@michaelhidalgo can you write three tests to replicate this:

* one directly at the affected api (body parser is it is that one)
* one using express with supertest
* one via web automation (the previous one should go on TM_Design and this one should go on TM_QA)

[2015-01-31 14:03] DinisCruz opened #360 "On production servers, handle error messages and display default 'error' page"
For example https://github.com/TeamMentor/TM_4_0_Design/issues/359 is one of those cases where we need to handle the error internally and show the default 'error' page

Note that these errors should be logged internally, and ideally shown in real-time to TM 4.0 admin

References
* http://www.joyent.com/developers/node/design/errors
* http://stackoverflow.com/questions/7310521/node-js-best-practice

[2015-01-31 14:08] DinisCruz opened #361 "Add Logging-Service class which will be used to add and view logging messages"
This will address part of https://github.com/TeamMentor/TM_4_0_Design/issues/86

Key feature of this service is the ability to easily add 'status/action' messages to parts of the application.

For example:
 * 'user login', 'page open' ,'user created', 'article view', etc....  (which are user activities)
 * 'server started', 'data loaded', 'search graph created' (which are internal TM activities)

[2015-01-31 14:14] DinisCruz opened #362 "Clean up the /deploy and /static folders on TM_Design"
At the moment the TM_Design uses files from both https://github.com/TeamMentor/TM_4_0_Design/tree/master/deploy and https://github.com/TeamMentor/TM_4_0_Design/tree/master/static

There should only be one source of static files

Note that at the moment we are running the site from non-compiled code (i.e. direct coffee and jade). the final version of TM 4.0 will run from static-precompiled files (c

[2015-01-31 15:11] michaelhidalgo commented on #359
Yeah absolutely

[2015-02-01 00:29] BendixSpring commented on #350
Am I correct in assuming that if the system detects Java Script enabled in the browser, it will use Flare, otherwise the non-JS version?

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Saturday, January 31, 2015 4:12 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Collapse filters to help people navigate them (#350)

@BendixSpring <https://g

[2015-02-01 01:34] DinisCruz commented on #147
@tekgirl77 I just fixed this issue on fluentnode's code (see https://github.com/o2platform/fluentnode/issues/57), can you try it with the new version? (code is already on fluentnode repo, and will be on TM 4.0 very soon (TM uses the npm registry))

Btw, see https://github.com/joyent/node/issues/9127 (which is an issue opened on the main node issues list)

[2015-02-01 01:36] DinisCruz commented on #350
@BendixSpring yes that is what WILL eventually happen.

At the moment everybody sees Jade (non-JS-version) since that is the version currently in a usable state

[2015-02-01 04:14] arvinddoraiswamy commented on #350
Much much better. This makes so much more sense :)

[2015-02-01 14:26] michaelhidalgo commented on #359
Ok, I dig a little bit more on this issue : It seems like we can limit the request size https://github.com/expressjs/body-parser (look a the limit property)

.**limit - maximum request body size. (default: <100kb>)**

![book](https://cloud.githubusercontent.com/assets/1732035/5992359/ea6822c8-a9eb-11e4-8f25-85a697d370cd.jpg)

We can also add a client side validation for it.

[2015-02-01 17:31] roman87 commented on #330
@michaelhidalgo  Michael, looking at the test, you are also persisting the passwords that do not match. Correct? I think we should persist all the information other than the passwords. Since the user has to re-enter them anyways and we need to give the user a clue that they need to be re-entered.

[2015-02-01 18:14] roman87 commented on #334
I am going to close this as duplicate of #332. this issue will  also  be tracked there. https://github.com/TeamMentor/Master/issues/907

[2015-02-01 18:14] #334 closed

[2015-02-01 21:45] roman87 commented on #335
I agree with @DinisCruz this seems to be correct behaivour as by design. The server will show anything that is a valid URL. In the above example http://beta.teammentor.net/../article/view/d898d2a2-f20a-45bb-b232-6713cb618de8/All%20Output%20Data%20Is%20Encoded  is a valid URL.
@BendixSpring is there a case where there there is actual traversal to a URL that is not normally accessible?
I am marking

[2015-02-01 21:54] roman87 commented on #337
Closing this as by design. I might have omitted it but I was intending to specify that search does not work in my email.

[2015-02-01 21:54] #337 closed

[2015-02-01 21:56] roman87 commented on #340
@luchia, this is flare correct?

[2015-02-01 22:08] roman87 commented on #274
This is done.

[2015-02-01 22:08] #274 closed

[2015-02-01 23:17] roman87 opened #363 "Research ability to embed Video and PDFs into the TM 4.0 pages (JADE)"
See if we can embed video and PDF pages into the full article view page #194 and into the landing page as a tutorial (https://github.com/TeamMentor/Master/issues/909#issuecomment-66240308)

[2015-02-01 23:27] roman87 commented on #341
Yep this is by design in this version. Next Beta should have a full article view page and this should not be an issue anymore. Tracking this here: https://github.com/TeamMentor/Master/issues/946

[2015-02-02 00:10] roman87 commented on #344
Reworded this a bit. Will be done in sprint 3. Tacked here: https://github.com/TeamMentor/Master/issues/902

[2015-02-02 00:47] roman87 commented on #345
Yep, this is exactly what is planned for here: https://github.com/TeamMentor/Master/issues/945

[2015-02-02 00:56] roman87 commented on #348
Lets not mix two issues together. Remember this is still an issue on the clue to the user on what filter is selected.  @BendixSpring  on this version you will be able to select only one filter. The word "Vulnerabilities" comes from a different library that Lucy is using in QA.

[2015-02-02 01:08] BendixSpring commented on #335
It appears that you are filtering ../, so this is probably not an issue.

From: RomichG [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 4:45 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Vulnerable to directory traversal (#335)

I agree with @DinisCruz <https://github.com/DinisCruz>  this seems to be correct behaivour as by design. The server will

[2015-02-02 01:11] roman87 commented on #348
@DinisCruz can you wire up the "active filters" button? .

[2015-02-02 01:26] roman87 commented on #349
I had this happen a number of times. And other users had complained as well. It seems like graphDB dies at some point and on windows it takes a while for it to restart. We need to have logs https://github.com/TeamMentor/TM_4_0_Design/issues/86 to see what is going on.

[2015-02-02 01:27] roman87 commented on #349
Rewording to match what is actually happening.

[2015-02-02 01:33] roman87 commented on #350
@BendixSpring  In the java script version we will have the ability to select multiple filters. See the high level requirement that we are going for here https://github.com/TeamMentor/Master/issues/899
The challenge at that time will  be is to figure out what filters should be ANDed and what ORed and how to intuitively show this to the user. Also the idea is to have a lot more filters/tags for each

[2015-02-02 01:40] roman87 commented on #351
Putting this into sprint4 since it is quite complicated and we can survive without this for now.

[2015-02-02 01:43] roman87 commented on #352
@BendixSpring  I agree. The idea for the Flare UI is to have left-hand side navigation and right-hand side filters slide in and out. New and updated articles would be shown on the main search screen (inside an accordion).

[2015-02-02 01:54] michaelhidalgo commented on #330
Yeah it does make sense. I'll adjust the fix and the test scenario,

Thanks!

2015-02-01 11:31 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-02-02 02:43] roman87 commented on #357
Rewording this title a bit.

This is actually an interesting question. We never thought of it like that. @DinisCruz  this should be quite simple to do as a /poc right? @tlaloc75 and @luchia what do you think?

[2015-02-02 02:46] roman87 commented on #359
Really nice one. Though no estimate of effort. Please choose one next time :)

[2015-02-02 02:50] roman87 commented on #360
Yes, ideally they would go into a log file.

[2015-02-02 02:55] roman87 commented on #360
related to #86

[2015-02-02 03:17] BendixSpring commented on #350
This will be great!

One possible way of doing the AND/OR would be to use something like this:

Match Any term (OR)

Match All terms (AND)

From: RomichG [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 8:33 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Collapse filters to help people navigate them (#350)

@BendixSpring <https://git

[2015-02-02 03:38] roman87 commented on #279
I am going to close this. Though tests are failing on travis now.

[2015-02-02 03:38] #279 closed

[2015-02-02 03:43] roman87 commented on #299
I think this looks good. There is quite large spacing between each word and "/" I am not sure if that is necessary. It takes up too much space and confuses (at least me) visually.

[2015-02-02 03:46] roman87 commented on #299
Also it seems like the line spacing is quite large when the line wraps

![selection_077](https://cloud.githubusercontent.com/assets/1326120/5995556/2ec78f58-aa64-11e4-839e-aee89dd58d42.png)

[2015-02-02 04:04] roman87 commented on #350
Not to to get into a lengthy discussion ahead of time :), but it is what terms can be Any (OR)  and what terms can be All (AND). i.e. should we say that I should be able to pick multiple technologies, AND only one phase? (T1 U T2 U T3)   ∩ Ph1 or should we allow multiple phases to be picked? (T1 U T2 U T3) ∩ (Ph1 U Ph2) or if article matches any technology and any selected phase T1 U T2 U Ph1 U P2

[2015-02-02 04:07] roman87 commented on #335
Alright, closing as by design :)

[2015-02-02 04:07] #335 closed

[2015-02-02 04:24] roman87 commented on #346
Thank you so much @pjenney58 . Looks like you hit on a whole bunch of bugs all at once :). The corrupted screen is most likely due to some of the Seattle guys testing the non-working search function. The blank page is due to the backend bug.  The old UI is actually only there for a single function that should go away in next beta.
Now what is interesting is that when you click TM logo it should ne

[2015-02-02 04:31] roman87 commented on #244
Pull request was merged. closing this.

[2015-02-02 04:31] #244 closed

[2015-02-02 04:34] roman87 commented on #304
All merged. Closing.

[2015-02-02 04:34] #304 closed

[2015-02-02 04:35] roman87 commented on #323
Why are we having dashes '-' in the URL. It doesn't make sense :)

[2015-02-02 04:42] BendixSpring commented on #350
I’m in favor of a lengthy discussion if it will help us build a better product :)

That being said, I proposed a very simple radio button design.

However, to be truly useful to the power user, I’d like to be able to use Google-style operators to allow me to build complex queries as you described below.  (That will be especially important in the non-JS version, I think.)

So using the Google model

[2015-02-02 04:44] roman87 commented on #326
This is related to #349
Doubt you can run LevelGraph without LevelUP. I was reading somewhere that LevelGraph actually uses levelDown, which is a stripped (and probably less stable) version of LevelUp. Maybe there is a way to force LevelUP to be used instead of LevelDown?
Alternatively for this version, we may need to start two GraphDB servers and automatically switch in case one cannot be reached

[2015-02-02 04:47] roman87 commented on #350
I agree. Still the question is what filter get radio buttons and what filters get checkboxes :)
Anyways, I think we should build a couple of prototypes and see which one works best. And yes 100% onboard with the google type advanced filtering.

[2015-02-02 04:48] roman87 commented on #246
Yep, moving it up to P1 for now.

[2015-02-02 04:50] arvinddoraiswamy commented on #350
If we do the above (complex filter building) the user must be helped through the regex building, not thrown awful errors like - "There was an error in your regular expression".

You don't say? What IS a regular expression? What a terrible product!!

Slightly exaggerated but you get the point :)

I think the Amazon "Product filter" model is a good example though. Very intuitive. NO think. Click. Cl

[2015-02-02 04:54] roman87 commented on #325
This is the wrong approach! What is needed is a strong set of input validation rules that validate user input. I am surprised we take unsanitised input from the user?
From the navigation side, a URL that is not in the format we expect should be thrown out.

[2015-02-02 05:01] roman87 opened #364 "Create an input validator for TMDesign URLs"
Related to #355

Currently any URL entered for TMDesign is passed directly to GraphDB. We need to create an input validator that will validate the URL and diregard anything not in the expected format.

[2015-02-02 05:02] roman87 commented on #325
See #364 and #355

[2015-02-02 05:09] roman87 commented on #350
Well.. there are two kinds of users for the filters. Ones that would like to go for the advanced features, and the ones that are very happy with the simplified features. We can provide all the click-click options for the advanced users we want, but if we don't get the simplified features right, we have a problem. Simply because MOST users will use the simplified features.

[2015-02-02 05:12] arvinddoraiswamy commented on #350
Totally.

In which case... we should just:

- Do simple (which we have now, I assume?)
- See if it works (Can users use it without crying?)

if yes:
   look at Amazon
   s/simple/advanced click click/
   see if it works

repeat till bored :)

The end :)

On Mon, Feb 2, 2015 at 12:09 AM, RomichG <notifications@github.com> wrote:

[2015-02-02 05:16] roman87 commented on #350
The simple one is the challenge. I don't think what we have now works. I could be wrong :)

[2015-02-02 05:18] roman87 commented on #319
is this something you have to do or can Michael do this?

[2015-02-02 05:19] arvinddoraiswamy commented on #350
Right so then... THAT is what we should talk about. Maybe you're rt.. maybe
you're wrong. But we should talk about it. Using the 5 WHYs appraoch that
Tyler (my manager :)) introduced me to....

Here's number 1 - Why do you not feel that what we have now doesn't work?

On Mon, Feb 2, 2015 at 12:16 AM, RomichG <notifications@github.com> wrote:

[2015-02-02 05:23] roman87 commented on #350
Haha.. well it does not work because it allow you to select only a single filter. As a result it does not provide (IMO) robust enough filtering to isolate an article the user is looking for.

[2015-02-02 05:28] arvinddoraiswamy commented on #350
Great. Thanks for trying this appraoch out :). So then question 2 is...

Why does the UI allow the user to select only 1 filter?
    The obvious answer is... because the devs said so :)

So I'll skip to the next pertinent question...

Why did the TM team design it so the user could select only 1 filter? What
was the thought process behind it?

On Mon, Feb 2, 2015 at 12:23 AM, RomichG <notification

[2015-02-02 05:28] roman87 commented on #303
yes, it is short, but it makes no sense :). Can we do something more meaningful? like show, go, see, get, do, jump, fetch, dig, nav, follow. See what I mean? something that make sense?
Also, why did this change to a P0? This was something that we did not have to do at all now. Lets get into a discipline of working on what is agreed on to be a P0, and when done on what is agreed on to be a P1. If y

[2015-02-02 05:31] roman87 commented on #350
Haha... well your answer to the 2nd question is also the answer to the 3d. :).. no really, because this is a first beta version and this was the easiest to implement. What we need to figure out is what is it that we want to implement when we tackle a harder problem :) Which is what this thread is all about :)

[2015-02-02 05:35] roman87 commented on #317
I think that in memory caching is fine for the moment and it does not introduce any cache sync issues if data changes. Lets keep it that way it is and not put any more work on this.

[2015-02-02 05:36] roman87 commented on #317
Any work on file caching that is. If we can improve in-memory caching, we should do so.

[2015-02-02 05:36] BendixSpring commented on #350
Arvind:

I do agree that the Amazon product filter design is worth considering.  I think does “ANDing” which may not be a bad default.

But the full power of searching should still be at the search box with operators.

From: arvinddoraiswamy [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 11:51 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature

[2015-02-02 05:37] BendixSpring commented on #350
Agreed.  Broken by default, unfortunately.

From: RomichG [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 12:24 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Collapse filters to help people navigate them (#350)

Haha.. well it does not work because it allow you to select only a single filter. As a result it does not provide (IMO) r

[2015-02-02 05:37] arvinddoraiswamy commented on #350
Hehe cool. No more whys then :) .. we got an answer by the 3rd one ;)

IMO and this is purely IMO... I'd wait till you get some client feedback
before you think of solving this problem. Because right now, maybe we dont
*have* a problem at all? Maybe clients will love this?

Coz I mean... there's no right answer - maybe we need more data before we
can decide either way?

If you thought this was the

[2015-02-02 05:38] roman87 commented on #350
See, the problem?! We have two power users that have two opinions :) That is why we need to nail the simplified search, so that you will rarely have to go to the power search.

[2015-02-02 05:41] roman87 commented on #350
And yes Arvind, I definitely agree that we need field trials. But we already have one power user @BendixSpring asking if we will have multiple selections in further versions :)

[2015-02-02 05:42] roman87 commented on #350
btw @arvinddoraiswamy  I am anxious to hear what are all the 5 questions :)?

[2015-02-02 05:43] arvinddoraiswamy commented on #350
Right but then... we're back where we started :D

What IS simple?
- A user wants a article quickly.
- The user gets the article quickly.

That is simple.

If you ask me if filtering is the best *way* to do it...I'd say no. I'd
just keep a search box. Meaning the flow is:

- Log in
- Search
- Get article
- Logout

That is it. But now that's not a popular approach :). :sneaks away silently

[2015-02-02 05:56] arvinddoraiswamy commented on #350
Its addictive I tell you and a wonderful problem solving approach :)

The logic is each time you say ... something .... anything... you question
its true motive. Here's an example (highly contrived and may or may not be
real ;)):

Arvind: I don't think the filter approach works
Roman: Why?
Arvind: Its too complex.
Roman: Why is it too complex?
Arvind: I don't know which filter to choose?
Roman: Wh

[2015-02-02 06:01] roman87 commented on #350
It is the approach. However, searching is not enough. Once the user gets a hang of the taging/keyword/filtering system it is much easier to search and then narrow down the search through these keywords/filters.

[2015-02-02 06:03] roman87 commented on #97
Yep, fixed. Closing

[2015-02-02 06:03] #97 closed

[2015-02-02 06:04] roman87 commented on #145
Yep, closing

[2015-02-02 06:04] #145 closed

[2015-02-02 06:05] roman87 commented on #146
yep, done.

[2015-02-02 06:05] #146 closed

[2015-02-02 06:05] roman87 commented on #155
This is done.

[2015-02-02 06:05] #155 closed

[2015-02-02 06:07] roman87 commented on #220
Yep, obsolete

[2015-02-02 06:07] #220 closed

[2015-02-02 06:08] roman87 commented on #281
I hope you mean "you can" :)

[2015-02-02 06:11] roman87 commented on #313
Actually this is quite important one. Bumping it up to P1. Also it is part of Jade so its sprint2.

[2015-02-02 06:12] arvinddoraiswamy commented on #350
Hmm I dont know about that :)

Think of it... if you wanted to learn how to grow pumpkins in your
garden...what would you type into Google? I'd type:

*How to grow pumpkins beginner*... learn from there... and then learn the
keywords.

I wouldn't do it the other way around. For me ... that is broken. That way
works .. for experienced users... not beginners. And I feel we should
assume all users ar

[2015-02-02 06:12] roman87 commented on #225
Yep, all good and awesomely working.

[2015-02-02 06:12] #225 closed

[2015-02-02 06:13] #196 closed

[2015-02-02 06:14] #93 closed

[2015-02-02 06:15] roman87 commented on #94
Yep All done.

[2015-02-02 06:15] #94 closed

[2015-02-02 06:31] roman87 commented on #350
Definitely a fun conv :)
So I just went to google and typed "how to grow pumpkins beginner"  I got about 8 million hits. Not going past the first page there are mainly sites like "pumpkinmaster.com" informeddemocracy.com/pumpking/growing  10 steps to a giant pumpkin.  So now, since I really know nothing about punkins, I would have to go and read through at least a few of these sites, figuring out

[2015-02-02 07:58] arvinddoraiswamy commented on #350
TL;DR - I agree. Having both is cooler. I'll explain. There might be some
redesign...but I think it makes sense to *atleast *think about it. I feel
its the best way.

Nice :) :) we're getting closer.

"Of' course, I had to know that pumpkin is a vegetable, it starts with
letter P" - Correct

but knowing about gardening... maybe..maybe not. I could go to
vegetables... search for plant, grow and gar

[2015-02-02 08:20] DinisCruz commented on #350
@arvinddoraiswamy I'm completely with your that the workflow for TM should be

(and even the Log in and Logout should be made easier with things like SSO and OAuth)

My view is that TM is a 'Search Driven' solution, where most users will want to 'search their way into a solution' (or in our case, an article relevant to their question)

Not that we shouldn't have a way to navigate the data, but the

[2015-02-02 08:29] DinisCruz commented on #225
We actually need to document that, since it now our official GraphDB docs

[2015-02-02 08:34] DinisCruz opened #365 "Upgrade Swagger-js to v2.0 (from v1.2)"
At the moment are currently using the v1.2 version of swagger (for https://github.com/TeamMentor/TM_4_0_Design/issues/225) since that is the version currently supported by https://github.com/swagger-api/swagger-js

We need to keep an eye on that project and when the v2.0 is pushed (currently in development) we will need to upgrade (there are a couple breaking changes, so it will not a simple in-pl

[2015-02-02 08:35] DinisCruz commented on #281
yeah (just updated the comment)

[2015-02-02 08:47] DinisCruz commented on #319
whoever gets there first

[2015-02-02 08:59] DinisCruz commented on #364
From a security point of view, the issue is not validation, is correct URL creation.

It's like SQL Injection, the right way is to use Parameters queries, not to validation or filter the input

Part of this 'safe URL generation' could be a sanitisation process where we only allow 'safe' characters to pass though. On the other hand we could detect the existence of those chars and reject the request

[2015-02-02 09:07] DinisCruz opened #366 "Refactor the TM_Design upstream TeamMentor calls to use the shared TeamMentor-Service"
For example the Login-Controller should be using a shared TeamMentor-Service API  https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/controllers/Login-Controller.coffee

[2015-02-02 09:18] DinisCruz opened #367 "Remove dependency of upstream TeamMentor server from main 4.0 tests"
At the moment, there is a need to have a live 3.5 server for a number of TM 4.0 test to run successfully. Not only this already a bottleneck on 4.0 tests (since it is slowing them down considerably), it is adding a dependency between these separate applications.

What we need is:

1) Refactoring of all TeamMentor 3.5 code to use only one separate module (i.e. https://github.com/TeamMentor/node-tea

[2015-02-02 09:20] DinisCruz commented on #303
I did some refactoring that made this easy to implement, which is why when I did it I made it a P0

If you want I can keep it with the previous P mapping (in this case P2) and just move it to QA

In terms of only doing P0s, lets also not be to rigid here!

If something happens to be easy to do, and can be implemented quickly (in less than 10m or 30m from start to end) then we should still do it. T

[2015-02-02 09:23] DinisCruz opened #368 "Remove hard-coded account details from TM_Design"
Currently they are here https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/controllers/Login-Controller.coffee#L4-L6

Note that this will have an impact on a number of UnitTests, which currently use these accounts

This is related to https://github.com/TeamMentor/TM_4_0_Design/issues/366 and ideally should be done in conjunction with https://github.com/TeamMentor/TM_4_0_Design/issues/367

[2015-02-02 09:28] DinisCruz commented on #303
For reference, the variable that currently controls this is the ```@urlPrefix``` as seen here
https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/controllers/Search-Controller.coffee#L30

Maybe one way to make it easier to find the right value is to:
a) allow that value to be configurable via a config file (i.e. easier to change)
b) support multiple values
c) if we do b), we most likely c

[2015-02-02 09:53] DinisCruz opened #369 "Add capability to programatically extract the parms used by exposed URLs"
We need to take our current mapping of the TM Attack surface to the next level and also map the exposed/consumed parameters.

I think the only way we can do this is with static parsing of the controllers code and extract those mappings from them.

Note: this data could eventually be feed to a global filter that would white-list those inputs (which would add another layer of protection and ensure t

[2015-02-02 09:55] DinisCruz opened #370 "Add a global parameter filter to TM_Design, with a first implementation of MaxSize"
The idea is to apply a global max size to all user provided data:

* url parameters
* post post parameters
* cookies
* headers

This filter could have a number of side effects and will need to have a way to be bypassed by the code (to handle exceptions)

There are lot of synergies between this filter and https://github.com/TeamMentor/TM_4_0_Design/issues/369 (although the filter could be done firs

[2015-02-02 10:02] DinisCruz commented on #325
what do you mean? The pattern to proxy requests? The use of strong/safe URL generation APIs to generate the REST calls?

See my https://github.com/TeamMentor/TM_4_0_Design/issues/364#issuecomment-72424087 . I don't think that this is an Input Validation prob. NOT that I'm saying that we shouldn't validate and/or sanitise the input. My point is that the real solution is based on safe URL generation

[2015-02-02 11:17] DinisCruz commented on #323
I have to say that I quite like it, it makes the ulr easier to read,

Just live with it for a bit longer and see if you warm up to the idea

Although It is true that the url http://localhost:1337/-poc-/ does look at bit weird at first look

[2015-02-02 11:22] DinisCruz commented on #279
Yeah, that is a different issue (need to track the root cause since those tests are all passing locally (for both me and Michael))

[2015-02-02 11:24] DinisCruz commented on #355
Actually as mentioned already on the main issue text, this is one of those cases where we can't do anything to the search text since it might have an impact of the graphDB ability to provide a good answer.

We want users to search for XSS and SQLi injection payloads, since those search testms should take them to the relevant articles (on both exploiting and fixing those issues)

I think there is a

[2015-02-02 11:24] DinisCruz commented on #326
yeah we need to look at what can be done with level down.

In the short term I think a better solution is to improve the GraphDB cache (see https://github.com/TeamMentor/TM_4_0_Design/issues/317) since that reduces the use of the GraphDB to a minimum (and preventing this issue from hitting normal users)

[2015-02-02 11:32] DinisCruz commented on #357
This is related to the idea of 'Library/Folders/Views' landing pages (that we talked about many times before, and I'm pretty sure there are a number of issues on TM/Master about it)

Basically what can happen is that when the user hits one of these queries that has lots of results, it makes more sense to show him a 'landing page' for that result set, vs showing the whole list (as we do at the mome

[2015-02-02 11:33] DinisCruz commented on #349
This is another issue that would be addressed with https://github.com/TeamMentor/TM_4_0_Design/issues/317

[2015-02-02 11:40] DinisCruz commented on #359
@michaelhidalgo can you find a web page with that info (I can't read the text on the screenshot).

Btw, I like the book reference (can you also mention the book name, page and paragraph)

[2015-02-02 15:24] DinisCruz opened #371 "Create a good Flare Wiki page that explains to the work what Flare is"
This should be located at https://github.com/TeamMentor/TM_4_0_Design/wiki/Flare

See my original comments (included below as an image) for the reasons why I needed that page today

![image](https://cloud.githubusercontent.com/assets/656739/6002925/3c8efb40-aaef-11e4-8ae9-56cac2ccc73e.png)

@luchia can you have a go at editing that page? This is something that you have done already across multiple

[2015-02-02 15:32] DinisCruz opened #372 "Refactor TM_Design Help Controller to use local copy of content"
Once we have the articles rendered ok (see https://github.com/TeamMentor/TM_4_0_Design/issues/194) we need to move the Help content into a separate Help_Controller that uses that capability to render the content locally.

At the moment the content comes from docs.teammentor.net which is another dev/qa dependency that we need to eliminate.

Since the Docs repo is public, we can just clone it direct

[2015-02-02 15:41] BendixSpring commented on #350
I’d like to throw my two cents in:

I think the user wants the right articles at the top of the list with the least amount of effort.

From: arvinddoraiswamy [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 12:43 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Feature Request: Collapse filters to help people navigate them (#350)

Right but then... we'

[2015-02-02 15:44] BendixSpring commented on #350
I agree with Arvind.  But I do think we need to consider both a free form search (with operators) and some sort of checkbox or filter view.

Different people take different paths to get somewhere.  We should allow for that.

From: arvinddoraiswamy [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 1:12 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Fea

[2015-02-02 15:45] michaelhidalgo commented on #359
Yap.
This screenshot was taken from the book I'm currently reading **Node.js In action. It's from the chapter 7 : Connect's built-in middleware, page number  150.**

![image](https://cloud.githubusercontent.com/assets/1732035/6003218/60385620-aabf-11e4-8def-adbbd38db4fe.jpg)

Then in page number 151

![image2](https://cloud.githubusercontent.com/assets/1732035/6003296/24ce07fa-aac0-11e4-9b27-9bd11

[2015-02-02 15:49] BendixSpring commented on #350
This is probably a feature request, but if we are talking about making a better user experience, I think we need to consider functionality examples from successful sites.

For example, I’d like to have a list of my favorite searches.

Or my last N searches, so that I can go back and find what I was looking at 3 days ago.

Or here’s what other people ALSO looked at when they read article X (like Am

[2015-02-02 16:22] DinisCruz commented on #350
@BendixSpring those are all valid requests which we aim to address with this new version

@roman87 can you confirm that all the ideas mentioned above (namely https://github.com/TeamMentor/TM_4_0_Design/issues/350#issuecomment-72479672) are captured in a issue and story? thx

[2015-02-02 16:23] DinisCruz commented on #359
So this means that we should be able to implement https://github.com/TeamMentor/TM_4_0_Design/issues/370 using that setting?

[2015-02-02 16:32] michaelhidalgo commented on #359
Yes I think so. We need to define that max lenghts.
Note that Express limits the header max length to 80KB

https://github.com/joyent/node/blob/597eb6a5aebbc2afbd76d16e568a86ed28509bc7/deps/http_parser/http_parser.h#L56

[2015-02-02 16:41] arvinddoraiswamy commented on #357
Hmm..maybe I'm wrong but I was just talking about ...

Log in
See blank page   (Right now this page is filled with content. Some content
which is a result of some query)
Search/Navigate
Get content
Logout

On Mon, Feb 2, 2015 at 6:32 AM, Dinis Cruz <notifications@github.com> wrote:

[2015-02-02 17:02] arvinddoraiswamy commented on #350
@DinisCruz : Agree completely on [comment 72420478](https://github.com/TeamMentor/TM_4_0_Design/issues/350#issuecomment-72420478). That's the best way to do it and we need to keep on continuously improving the efficiency of our search. Might take years.. but its the best way.

And in the meantime simplify the navigation with less categories as in [comment 72418137](https://github.com/TeamMentor/TM

[2015-02-02 17:16] roman87 commented on #364
What this issue is about, specifically is to validate input from the user prior to creation of the URL. Making sure that any URL that is passed meets our criteria, such as it contains only query-ids and other parameters that we expect. That each parameter matches a regex that we define and that each parameter is in its relative position of the URL where needed.

[2015-02-02 17:21] roman87 commented on #367
This is nice but not very necessary at the moment. I question its usefulness. It is very easy to set up a local VM running TM3.5 to run all the tests locally. Moreover I am in favor of testing as a complete system as possible every time, since it is the integrations that usually fail. Anyways, moving this to sprint 4 for now as low priority

[2015-02-02 17:32] roman87 commented on #368
Please remove this asap. Unit tests need to crate their accounts not use hard coded ones. This goes against any best practice we preach. Note that #366 and #367 should not be a per-requisite to this issue.  There should be a simple unit test that creates an account and all other unit tests are to use that created account. I also don't understand why this needs to take 2 days?

[2015-02-02 17:46] roman87 commented on #303
With respect to P0, they indicate priority, which means that this is what our focus is. If we are working on something else then we are not working towards achieving our short main goals.

I agree that we should be flexible. If something happens to take 30m and is easy to implement and it helps us out, then certainly we can work on a P2 or even a P4. As long as it is ether a) invisible to the user

[2015-02-02 17:50] roman87 commented on #369
This is a nice idea, yet I question the necessity of this effort. There are many things on our plate. Why do we keep creating issues where we can use existing tools - like Checkmarx. I will put this on the backlog for sprint 4 for now.

[2015-02-02 17:56] DinisCruz commented on #368
so my interpretation of **Pint 2d** effort is something that needs a bit of research and thinking, but should ultimately easy to do

the **1d** stuff are things that I can fully visualise the work and can just get on with it (with the actually coding being an 10m to 1h thing)

[2015-02-02 17:58] DinisCruz commented on #367
Practically speaking the https://github.com/TeamMentor/TM_4_0_Design/issues/368#issuecomment-72499509 existed to avoid the problems that will occour if we need to hit the backend server for every auth test

So from a development note, this is quite important

[2015-02-02 18:01] DinisCruz commented on #364
I get that, but on REST-based apps like TM_Design/TM_Graph, URL creation is almost as dangerous as SQL-Injection, so it needs to be handled accordingly.

Yes we should should still sanitise or validate the data going in, but the URL generation needs to also be done safely (and at the moment they are not)

[2015-02-02 18:02] DinisCruz commented on #364
Actually we should rename the title to 'Create an safe Url generator API for TM_Design'

[2015-02-02 18:03] DinisCruz commented on #357
Well I think we can do better than a blank page :)

[2015-02-02 18:03] roman87 commented on #370
I am not sure why we are having this global maxSize. Each parameter needs to be able to validate its input not only based on size but based on what it actually expects. This includes the size. The size for a filter (keyword/query) parameter is quite different than for a URL than for a search string. So lets discuss, when the time comes. For now this is a P2 in sprint 3. (we are now in sprint 1/2)

[2015-02-02 18:05] arvinddoraiswamy commented on #357
Maybe :) but blank makes the most sense rt - coz the user hasn't or doesn't
want to do anything yet. So why show her anything? Anyway you did mention
this had been discussed before so its cool - you will figure it out :)

On Mon, Feb 2, 2015 at 1:03 PM, Dinis Cruz <notifications@github.com> wrote:

[2015-02-02 18:10] DinisCruz commented on #369
because:
 a) we need a way to get this information in order to write a tests that confirms that we have a water-tight attack-surface (i.e. provide assurance of TM security)
 b) checkmarx and the other SAST tools are not able to give us this (in the way that is consumable)
 c) we have already issues that require these mappings (for example https://github.com/TeamMentor/TM_4_0_Design/issues/370#issu

[2015-02-02 18:12] roman87 commented on #325
By wrong approach, I mean that we should not be writing a test case that proves we have an issue. We need to build safe-checks into the code, like input validation, that validate and sanitize input. We do not need to have "a strong set of unit tests that confirms that the url generation of REST calls is done securely and there is no way to inject payloads into those calls" - this is a task already

[2015-02-02 18:21] roman87 commented on #323
Ok :) well we do have a designer onboard. Why don't we follow her direction? @luchia what do you think of the above URL?

[2015-02-02 18:23] roman87 commented on #323
Actually to be fair @luchia can you briefly look over the discussion at #303 and take your pick for this version. @DinisCruz we will use that what Lucy says is the best one for this release. Then we can do all sorts of variations and voting when the time comes. Agreed?

[2015-02-02 18:24] roman87 commented on #279
Not passing for me :(

[2015-02-02 18:29] DinisCruz commented on #279
try now :)
https://travis-ci.org/TeamMentor/TM_4_0_QA/builds/49213960

I just spent the last hour figuring out the issue and at moment all tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/6006299/5628701c-ab09-11e4-910e-9fdd8fb63f24.png)

[2015-02-02 18:30] roman87 commented on #355
Well one thing we can do is to encode the user input, and make sure we have our articles encoded as well. This way if we use the same encoding the search will not be affected, but the ability to execute anything will.
Length is certainly a parameter. Though as I mentioned in the #370 I am not sure that having a global length is a way to go.

[2015-02-02 18:33] roman87 commented on #349
I don't see how #317 address the issue. Whenever there is a search, graphDB would be used. If we can't make graphDB more stable, we need to have a pool of them running. Which is a mess btw.

[2015-02-02 18:35] roman87 commented on #371
I think we should have a first version of flare before we get into this. And yes we should have the same thing for jade.

[2015-02-02 18:36] roman87 commented on #371
Closing in 2 days unless there is an effort specified @DinisCruz :)

[2015-02-02 19:05] DinisCruz commented on #348
Here is the test that confirms that the active filter shows **Filter here**
[code]

[2015-02-02 19:12] roman87 commented on #350
This is a great discussion.

@BendixSpring I think what you are suggesting regarding saving searches and articles is tracked here: https://github.com/TeamMentor/Master/issues/945
The global filter is tracked here: https://github.com/TeamMentor/Master/issues/947
Can you double check if I missed anything? Obviously this would mean that the user has to be able to delete/edit his saved searches. But t

[2015-02-02 19:16] roman87 commented on #357
@DinisCruz  I think landing pages is not something this issue is about. This issue is about not showing anything to the user except the navigation controls when the user first hits the Navigate button.

[2015-02-02 19:26] roman87 commented on #368
The effort estimate is in time units like days :). It doesn't matter from the estimate perspective if it will take you 1.5 daysto research and 4 hours to code or full 2 days to code.   1 Day stuff is anything that will take you from 10 minutes to a whole day. 2d is anything that will take you from a whole day to two whole days.
So my question is why removing this will take 2 whole days :)? Ether I

[2015-02-02 19:27] DinisCruz commented on #348
Active filter is now wired, and here is the test that checks for it:

[code]

Here is what it looks where there is no filter selected:

![image](https://cloud.githubusercontent.com/assets/656739/6007344/3849cc82-ab11-11e4-8ade-67eb03cfbec7.png)

Here it is with the active filter:

![image](https://cloud.githubusercontent.com/assets/656739/6007360/4fd270ac-ab11-11e4-8d6f-0d6eabd728dd.png)

@luchia

[2015-02-02 19:28] roman87 commented on #367
So what is so wrong with hitting the backend with every auth test?

[2015-02-02 19:36] roman87 commented on #279
7 failing

  1) | api | Config-API.test | via web api "before all" hook:
     Error: timeout of 2000ms exceeded
    at [object Object].<anonymous> (/home/rom/Dev/TeamMentor/TM_4_0_GraphDB/node_modules/mocha/lib/runnable.js:159:19)
    at Timer.listOnTimeout [as ontimeout] (timers.js:112:15)

  2) | api | Convert-API.test | via web api "before all" hook:
     Error: timeout of 2000ms exceeded
    a

[2015-02-02 19:40] DinisCruz commented on #325
the test should prove that we don't have that issue.

In practice (as many of our regression tests shows), this  starts by writing a test that proves that we do have the issue, which helps the coding of the fix. Then once the issue is correctly handled, that test becomes a regression test

sure, but those need to be verified by tests, specially to confirm that we don't re-introduce the prob in the

[2015-02-02 19:40] DinisCruz commented on #323
yap, sounds like plan

[2015-02-02 19:43] roman87 commented on #348
Which branch is it on? I don't see the changes?

[2015-02-02 19:45] DinisCruz commented on #355
we can't encode the input since that will affect the quality of the search.

For example I remember somebody complaining on 3.5 that they were not able to search for encoded strings (which is yet another type of search query we need to support, since we have articles with multiple encoding examples in them).

recaping:

* on 4.0 Design we can't touch the search string (apart form maybe max length)

[2015-02-02 19:47] roman87 opened #373 "Need a better queue when navigating filters"
Right now all the filters, their headings and the selected filter are all of the same typeface/font. Can we make a distinction between the filter heading and the selected filter?

[2015-02-02 19:48] DinisCruz commented on #370
exactly, this is not an easy problem to solve, and my view is that there are very few cases when this type of data validation/sanitisation should be a TM Design responsibility.

There is a case for max length, and that can be enforced globally

Specific encoding or validation, will need to be done by each controller (or final rest api)

[2015-02-02 19:48] roman87 opened #374 "Need a way to clear the selected filter"
right now there is no way to clear the filter selection.

[2015-02-02 19:50] roman87 opened #375 "When clicking on a space between the filter word and the number nothing happens"
![tooltip_080](https://cloud.githubusercontent.com/assets/1326120/6007780/d7e4eeba-aaea-11e4-8727-15940214870f.png)

[2015-02-02 19:51] DinisCruz commented on #349
At the moment there is a finite amount of possible graphDb searches, so if we pre-generate them (which is what #317 is all about), the actually requests hitting the GraphDB will be minimal

And even more important, even if there is a prob with the GraphDB, 99% of the users will not be affected, since they will be using the cached version

[2015-02-02 19:51] roman87 commented on #348
Related to #373 #374 #375

[2015-02-02 19:53] DinisCruz commented on #371
I think this is something that @luchia should add to her tasks.

It is actually something we should have already done.

Basically, if somebody asks 'What is Flare?' where do we send them? At the moment we don't really have a central location that represents all the great ideas we already have for flare, but have not implemented

[2015-02-02 19:59] DinisCruz commented on #367
it's slow, and the last time we did that we where DoSing the 3.5 every couple days (or hours depending on development activity)

[2015-02-02 20:03] DinisCruz commented on #368
Then we should add another category for smaller tasks.

Part of the reason why removing this is not a simple tasks is because a large number of tests rely on the fact that there is a really quick way to login, and once those hard-coded users are removed, it means that every new batch of tests will need to start with a new user being created (which could be speeded up by caching the temp user detai

[2015-02-02 20:20] tekgirl77 commented on #147
Followed these instructions to create my own root CA to sign my self-signed cert, imported my root CA into my keychain app on MacOS X and https site now appears trusted on local machine.

https://github.com/coolaj86/node-ssl-root-cas/wiki/Painless-Self-Signed-Certificates-in-node.js

[2015-02-02 20:20] roman87 commented on #325
Ok we will agree to disagree on this one :) We should not write tests to validate what should not be working is not working. We can only write tests that prove what should be working is working. Otherwise (not counting few edge cases) we are getting into a world of DAST tools and we are not in that business.

[2015-02-02 20:23] roman87 commented on #355
Ok agreed. As far as the last bullet. Are the views also made using Jade?

[2015-02-02 20:23] arvinddoraiswamy commented on #350
@roman87 Fair enough :). As long as we're thinking about how to make both search and the filters.. lean and mean... AND functional, its cool.

[2015-02-02 20:23] DinisCruz opened #376 "We should use 'Units of work' instead of 'Days' for the Effort estimate labels"
As per the thread at https://github.com/TeamMentor/TM_4_0_Design/issues/368#issuecomment-72527056 we all have quite different interpretations of timelines, so I think it is better if we start measuring the Effort of each issue into 'Units of work' , which is something that we can (over time) gain a better understanding of what they mean (i.e. after an issue is completed, we should also adjust the

[2015-02-02 20:25] roman87 commented on #349
Most amounts of users will be using the search bar :). Which is something we cannot pre-load. That is why I think #317 will not solve the issue.

[2015-02-02 20:26] roman87 commented on #371
Yes we absolutely do. These are all the stories that are in TeamMentor/master. They represent what you are talking about. Perhaps they are not in a marketing material form, but the stuff is there.

[2015-02-02 20:27] roman87 commented on #371
and as far as the work effort, I think whoever opens an issue needs to assess the effort. The person assigned may re-assess but we need an initial estimate.

[2015-02-02 20:27] DinisCruz commented on #348
Just pushed fix into Dev of (TM_Design) and master (of TM_QA)

[2015-02-02 20:29] DinisCruz commented on #355
yes ALL views are made of Jade, which is why I don't worry about @luchia creating an XSS vuln, since there are very few ways to have unescaped content (which are easy to spot, but eventually should also be covered by a test)

[2015-02-02 20:37] roman87 commented on #367
I run a VM locally and point to this VM. Its fast and works well. It allows us to test the whole integration every time we run the tests, which makes the tests more complete.

[2015-02-02 20:45] roman87 commented on #368
So what happens if the first test that runs creates a user. And then all other tests use that user? Anyways. It takes as long as it takes, I just want to make sure we do not make #366 and #367 a dependency for this.

[2015-02-02 20:49] roman87 commented on #376
There are different schools of thoughts on this and none of them are perfect. That is why I tried to use both in my labeling with my beer container analogy :) We probably should have a smaller unit of work that 1 day.

[2015-02-02 20:55] tekgirl77 commented on #147
Trying to figure out why supertest is making http calls even though the app.server object is running over https:

Server Object:

![screen shot 2015-02-02 at 2 54 30 pm](https://cloud.githubusercontent.com/assets/6649463/6008999/7cc55de8-aaeb-11e4-9a1a-f582dbcafc28.png)

URI in .get method being called:

![screen shot 2015-02-02 at 2 49 18 pm](https://cloud.githubusercontent.com/assets/6649463/600

[2015-02-02 21:02] roman87 commented on #376
Ok, just created an Effort: Taster - 4h :)
For reference:
Taster = 157 milliliters
Schooner = 285ml
Pint=473ml
Leter = 1000ml
Keg = ~55 liters
Cistern = 10,000 liters

I am open to renaming it. We can do a plain and boring Fibonacci sequence.

[2015-02-02 21:06] roman87 commented on #348
Clicking on a filter now crashes TMDesign :)

[2015-02-02 21:59] roman87 opened #377 "Remove the "Category" filter from the UI"
After some discussions with Serge we thought that to ease the confusion between the "Category" filter and the taxonomy, in the current version, it is the best and easiest approach to remove the Category filter from the UI.

[2015-02-02 22:40] roman87 opened #378 "Create full text search with the lefthand side filters"
This implements: https://github.com/TeamMentor/Master/issues/131

[2015-02-02 22:51] BendixSpring commented on #350
Dinis:

You did miss something:  Having saved searches and articles is important, but I was also asking for some sort of list of the previous N searches, regardless of what they were.  This is analogous to the browser history.  Actually saving something requires work on the user’s part – that’s equivalent to manually saving a site to favorites.  I’m asking for something that is even less effort…

[2015-02-02 22:53] BendixSpring commented on #348
This is great!  One other suggestion:  That filter box is taking up lots of room and has more text than someone might want.  Can you put some sort of toggle to make it hide/unhide?

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 2:28 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Unable to see at a glance what filters I am using (#

[2015-02-02 22:54] tecknicaltom opened #379 "Can inject content into "Recently Viewed Articles" and "Top Articles""
Changing the text after an article's guid and following the link will cause the injected text from being added to the "Recently Viewed Articles" section of the page. Doing that repeatedly will cause the injected text to be listed in "Top Articles".

Shouldn't the titles for these sections come from the articles themselves, not from the user input?

[2015-02-02 23:00] tecknicaltom opened #380 "logout appears broken"
1. Be logged in and view the TM4 page at https://beta.teammentor.net/user/main.html
2. Click the logout link on the top right
3. Notice that you are redirected to https://beta.teammentor.net/guest/default.html and the link in the top right now says "LOGIN"
4. Manually navigate to to https://beta.teammentor.net/user/main.html
5. Observe that you appear to be logged in

[2015-02-02 23:05] tekgirl77 commented on #147
Just an update... I found a work-around to the above issue (supertest not using SSL) by using the following (see below); am now getting an Uncaught Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE (indicating that I need an intermediate cert chain).  This is not using a random port; I assume there is a reason we want the npm test to run over a random port?  Will continue digging into this, just wanted to po

[2015-02-02 23:13] tecknicaltom opened #381 "submitting blank login form gives error"
Submitting the login page by clicking on the "Access Team Mentor" button with a blank form results in being redirected to https://beta.teammentor.net/user/source/jade/guest/login-Fail.jade with an error message:
Cannot GET /user/source/jade/guest/login-Fail.jade

[2015-02-02 23:17] MorganDavis opened #382 "Account enumeration in login"
The login form discloses valid usernames due to the different responses "Username does not exist" and "Wrong Password"

Please refer to TeamMentor article: "Do Not Disclose Valuable Information in Error Messages" located at

https://beta35.teammentor.net/article/a880d974-3543-4190-ae63-ea7e8ac11d0a

for Guidance on the issue.

[2015-02-02 23:58] luchia commented on #377
I actually think this is to do with @DinisCruz because it's logic-related, not front-end related. I cannot do this from the view.

[2015-02-03 00:11] roman87 commented on #350
Ah.. good point. Added that to the https://github.com/TeamMentor/Master/issues/945

[2015-02-03 00:12] roman87 commented on #348
@BendixSpring that is exactly the idea in Flare :) both the lefthand and the righhand side filters will slide in and out.

[2015-02-03 00:15] roman87 commented on #379
Good catch. Very much agree. I think this was one of those "lets hack this up now and fix later" things.
@michaelhidalgo Do you want to take a shot at fixing this?

[2015-02-03 00:21] luchia commented on #375
This has been fixed in the referenced commit.

![screen shot 2015-02-03 at 10 13 45 am](https://cloud.githubusercontent.com/assets/4547737/6012013/33424e26-ab8e-11e4-9f53-b90c5d97c9b5.png)

[2015-02-03 00:25] roman87 commented on #381
Nice one. @luchia can you fix that one? I think we lost that page somewhere.

[2015-02-03 00:37] roman87 commented on #382
This is really a dupe of #327 and  a subject we debated for sometime. The question here is usability vs security. We received a number of customer feedback on old TM stating just that they want to know if the password or username is wrong.
I think the answer is to make this configurable. @michaelhidalgo can we extend the configurable text we send in bad password and bad username error messages to

[2015-02-03 00:39] roman87 commented on #377
@DinisCruz can we do this as soon as possible. I would like to show how this looks without the category filter to a few people.

[2015-02-03 00:43] luchia commented on #373
Do you think this works better @Roman?

![screen shot 2015-02-03 at 10 40 56 am](https://cloud.githubusercontent.com/assets/4547737/6012221/45e9cf4c-ab91-11e4-84b1-c14e2e8d8765.png)
![screen shot 2015-02-03 at 10 41 00 am](https://cloud.githubusercontent.com/assets/4547737/6012222/45eb0f1a-ab91-11e4-916f-4ab1b3bbcb04.png)
![screen shot 2015-02-03 at 10 41 04 am](https://cloud.githubusercontent.com

[2015-02-03 00:52] luchia commented on #299
Fixed in the referenced commit.

![screen shot 2015-02-03 at 10 49 17 am](https://cloud.githubusercontent.com/assets/4547737/6012352/c5d4af28-ab92-11e4-9adb-5c3ce2368702.png)

[2015-02-03 01:06] BendixSpring commented on #348
Although I generally run with JavaScript turned off on most sites, I do turn it on for some trusted sites where functionality breaks.

What is the business rationale for making a JS version and non-JS version?  My guess is that most modern sites with any level of functionality require JS.

From: RomichG [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 7:13 PM
To: TeamMentor/TM_4_0

[2015-02-03 01:43] roman87 opened #383 "Should a full view article open in a new tab."
There has been a number of discussion regarding how a new article should be opened. Some people think it should open in a new tab with switching between tabs taking you back to the article. Some people think that we should keep it all in one tab with a button for "back to search results"
Perhaps we should do both? @luchia ?

[2015-02-03 01:45] roman87 commented on #383
Here is an opinion of one user:
This comes from Anna Stenwick
Once logged in, the first thing I did was click on one of the "Top Articles".  When I did this it required me to login again before being able to read it.  Once I was viewing the article, there was no way to navigate further other than by simply clicking the Back button (which brought me back to the second login screen).

After navigati

[2015-02-03 01:49] luchia commented on #374
![screen shot 2015-02-03 at 11 10 34 am](https://cloud.githubusercontent.com/assets/4547737/6013008/b086fd30-ab9a-11e4-9351-0f0b261d5f19.png)
![screen shot 2015-02-03 at 11 10 35 am](https://cloud.githubusercontent.com/assets/4547737/6013009/b0b605ee-ab9a-11e4-9a8e-4572b7975d51.png)

[2015-02-03 01:54] luchia commented on #295
This has already been done. The pages are in the user directory (error-occurred, unavailable and upgraded .jade files) @michaelhidalgo.

[2015-02-03 02:06] luchia commented on #381
Mmm, nope - it's still there. I'm not sure what's going on with this one as there are no messages in the logs. All the pages (sign-up-OK, sign-up-Fail, login-Fail) aren't working. Possibly a routing issue, @DinisCruz?

[2015-02-03 02:12] luchia commented on #383
A lot of websites do actually open in tabs, especially websites that offer a lot of content to be read. I am really indifferent about which way we go with this - people that like to browse in tabs are always going to click links with the Ctrl/Cmd button held and people that don't will use the browser as they always have. We can cater for different types of users by really only catering for one (th

[2015-02-03 02:33] luchia commented on #313
My referenced commits should have fixed this problem. I did some reading over the weekend and think taking the importance away from the button/link is acceptable because it is not a primary action for the user.

![screen shot 2015-02-03 at 12 29 48 pm](https://cloud.githubusercontent.com/assets/4547737/6013473/cd927eda-aba0-11e4-8ee3-5a4e5161eec7.png)
![screen shot 2015-02-03 at 12 29 52 pm](https

[2015-02-03 02:40] roman87 opened #384 "Recent articles are empty for new user."
We should show nothing at all in case recent articles are empty. Otherwise it looks confusing.

[2015-02-03 03:46] luchia commented on #340
Yes

[2015-02-03 09:09] DinisCruz opened #385 "Add Unit Test to confirm that there are no raw-html outputs inside all Jade Pages"
As far as I know there are two ways Jade can produced un-encoded content (i.e raw html)
* using | (as the first char)
* using ! (after an html tag)

Both should never be used, since a key feature of our use of Jade is to have a 'by default' encoding html environment.

@tekgirl77 can you have a go at this one (should be a bit easier than the SSL you are looking at)

Here are some tasks that will ne

[2015-02-03 09:39] DinisCruz opened #386 "Do a security review/test on markdown engines and pick a safe one"
Just saw this https://github.com/chjj/marked/pull/537#issuecomment-71400841 (on marked, which is what we currently use)

![image](https://cloud.githubusercontent.com/assets/656739/6017606/9cac157e-ab87-11e4-9ac1-72b15b2a0164.png)

Since one of the reasons we are moving to markdown (from html) is to prevent HTML injections (see https://github.com/TeamMentor/TM_4_0_Design/issues/211) we have to make

[2015-02-03 21:15] roman87 commented on #386
This is not only a problem with the markdown module, but an issue with using any open source module from the marketplace. Rather than spending time on pen testing each particular module, we should pick something we feel is better than others, both in security and in functionality, granted it is a bit of a swag.
Once we are done, we should engage Joe's team to do a pen test of the whole application

[2015-02-03 21:19] roman87 commented on #385
@tekgirl77 feel free to adjust the level of effort that you think it may take you.

[2015-02-03 21:26] tekgirl77 commented on #385
I will take a look!  :)

Busy day w/ support today (Colin's out sick) so I haven't had a chance to
work on TM today.

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Tue, Feb 3, 2015 at 3:19 PM, RomichG <notifications@github.com> wrote:

[2015-02-03 21:42] roman87 commented on #299
Feedback from Jason - This needs more work. The word GUIDANCE seems like it doesn't belong there. Maybe we should not show anything until the user clicks on something? Overall seems like we can do better style.

Hey, Lucy, maybe we should go back to the PARENT->CHILD->GRANDCHILD  style?

[2015-02-03 21:48] roman87 commented on #313
Looks good. Closing this one

[2015-02-03 21:48] #313 closed

[2015-02-03 21:49] roman87 commented on #381
Ok sending it @DinisCruz way.

[2015-02-03 21:51] roman87 commented on #374
Can't say I am in love with it.Seems big, is all the way to the right. Doesn't seem to have any visual relationship to the actual button which shows which filter is selected. Maybe another version :)?

[2015-02-03 21:58] roman87 commented on #350
Looks like we nailed this issue. Going to wait for the next beta to make sure everyone is happy with the solution.

[2015-02-03 21:59] roman87 commented on #349
Can we detect that GraphDB has died during a query and show a message saying "Sorry this is taking longer than usual" and keep retrying?

[2015-02-03 22:13] tekgirl77 commented on #147
@roman87

Here are the basic steps I followed (and played around with a bit) to create the root + intermediate cert.

# remove directories first if needed
rm -Rf server
rm -Rf client
rm -Rf all

# make directories to work from
mkdir -p server/ client/ all/

# Create your very own Root Certificate Authority
openssl genrsa \
  -out all/root-ca.key.pem \
  2048

# Self-sign your Root Certificate Auth

[2015-02-03 23:27] luchia commented on #299
As per our meeting this morning, we discussed removing the sub-nav from the navigate/guidance index view. @DinisCruz, is this more to do with logic than view?

[2015-02-03 23:55] luchia commented on #374
What do you think about this, @roman87?

![screen shot 2015-02-04 at 9 54 32 am](https://cloud.githubusercontent.com/assets/4547737/6032360/de2d4316-ac53-11e4-9009-ba370ea0a709.png)

[2015-02-04 08:16] DinisCruz commented on #349
yeah, we can do that

[2015-02-04 09:00] DinisCruz commented on #384
Note that on the current version (pushed to master), you don't get the recent articles at all (which is a bug and will be fixed soon (due to the use of a new Article-Controller, the data is now on a different location)

Once it is wired back, you will not see anything until you view the first article

[2015-02-04 09:02] DinisCruz commented on #381
actually @michaelhidalgo can you fix this one

It is just a simple redirect fix

![image](https://cloud.githubusercontent.com/assets/656739/6037537/84cd2e50-ac4c-11e4-8c1d-0493e8ee5d0b.png)

we also need a TM_QA test for this scenario (trying to login with no data)

[2015-02-04 09:07] DinisCruz commented on #377
done,

![image](https://cloud.githubusercontent.com/assets/656739/6037585/48491c54-ac4d-11e4-850f-ccd706dc4f95.png)

[2015-02-04 09:10] DinisCruz commented on #363
The research is done and we can do this, as long as the video and pdfs are hosted by a 3rd party

What we will support is the framing of a 3rd party service which will handle the serving of the video and pdfs

What we need now is specific use cases and actually examples

[2015-02-04 09:12] DinisCruz commented on #355
since the size will be handled by Node and so will the handling of bad urls, we should be good with this issue

[2015-02-04 09:13] DinisCruz commented on #324
this is now wired on Dev (will push to master once all QA tests are passing)

[2015-02-04 09:15] DinisCruz commented on #316
this is done, we need to improve the search capability, but those will be specific improvements

[2015-02-04 09:15] DinisCruz commented on #315
done on Dev , and can be seen in action on both the swagger APIs and on the Article pages

[2015-02-04 09:17] DinisCruz commented on #194
This is now working, and its with @luchia to improve the css

![image](https://cloud.githubusercontent.com/assets/656739/6037728/948cf2f6-ac4e-11e4-98ae-2578f8db5e70.png)

[2015-02-04 09:18] DinisCruz commented on #126
also working as good as we will get it for the Beta (specific search improvements need to be tracked separately)

[2015-02-04 09:19] DinisCruz commented on #348
this is now an @luchia issue (as far as I can see)

[2015-02-04 15:53] roman87 commented on #147
So couple of things. Your Intermediary CA cert is not valid. For some reason it looks like the CN is 127.0.1.1 and should be int-ca@example.com.  Check your openssl.conf. Make sure you have the correct constraints there for a CA.
Here is some info I was using a while ago.
http://www.mail-archive.com/openssl-users@mta.openssl.org/msg44206.html
http://gagravarr.org/writing/openssl-certs/general.shtm

[2015-02-04 15:55] roman87 commented on #147
There basically should be two separate directories for each CA. Where each CA keeps track of the Certs and CRLs. So the intermediary CA should have a different openssl.conf than the root CA. Otherwise they will stomp on each other.

[2015-02-04 16:17] tekgirl77 commented on #147
Okay, thanks!... I will take a look at the links.  The intermediary CA is
127.0.0.1 because I was playing around w/ different configurations to see
if the domain made any difference, which it didn't since it can be bogus
for the root & int-ca.

Node doesn't care whether I have the certs in the keychain or not, but I
thought it would be helpful to validate the certs and view the specific
errors in

[2015-02-04 16:50] roman87 opened #387 "On the About page the bold headline spacing between lines looks like they are only half-spaced. It looks very cramped."
This feedback comes from Gene Carter via email.
I've asked for a screenshot.

[2015-02-04 16:58] roman87 opened #388 "About page: It says “TeamMentor” in the last paragraph. Should say "TEAM Mentor""
This feedback comes from Gene Carter via email.

[2015-02-04 17:00] roman87 opened #389 "About page: Fortify should have a trademark."
This feedback comes from Gene Carter via email

[2015-02-04 17:03] roman87 opened #390 "Features page: The headline is confusing"
Comes from Gene Carter via email.

The headline says “TEAM Mentor provides intelligence to fix vulnerabilities and comply”    Comply with what?

[2015-02-04 17:27] roman87 opened #391 "Is Filter "Any" for a technology confusing?"
This feedback comes from Gene Carter via email:

"On the Filters on the Right,  the definition of “Any” in the Technology section is confusing.  I would think that Any would be for used all technologies, but only articles that say “Any” show up.  I think the proper way to handle “Any” is to include those results for each technology (i.e. include those results when iOS is selected, making it 4 arti

[2015-02-04 19:51] michaelhidalgo commented on #381
Yeah, I'm working on this one  right now!

[2015-02-04 19:57] luchia commented on #194
Taking this to finish it off.

[2015-02-04 19:59] luchia commented on #390
I will send marketing an email as they provided the content.

[2015-02-04 20:19] luchia commented on #388
Fixed in the referenced commit.

![screen shot 2015-02-05 at 6 19 20 am](https://cloud.githubusercontent.com/assets/4547737/6048826/f4e1662c-acfe-11e4-89e5-194607e851bd.png)

[2015-02-04 20:20] luchia commented on #387
Fixed in the referenced commit.

![screen shot 2015-02-05 at 6 19 20 am](https://cloud.githubusercontent.com/assets/4547737/6048845/13ed1462-acff-11e4-913a-a2ad5f26f3c3.png)

[2015-02-04 20:27] luchia commented on #389
Taking this, because it relates to me moreso than Dinis.

[2015-02-04 20:32] luchia commented on #389
This has been fixed in the second referenced commit.

![screen shot 2015-02-05 at 6 31 19 am](https://cloud.githubusercontent.com/assets/4547737/6049126/bccfb958-ad00-11e4-85cb-389551aa9b2b.png)

[2015-02-04 20:34] michaelhidalgo commented on #381
here is the test
[code]

[2015-02-04 20:47] luchia commented on #323
I agree the dashes make it easier to ready (both issues), but it's not really conventional and is just adding more characters to our URL. I like the dash for the Root, but once it moves away from the Root, I like /show/ or an action word of some variant (go, see etc).

In this case, I think /poc/ is better than /-poc-/.

![example](https://cloud.githubusercontent.com/assets/4547737/6049408/d54c565

[2015-02-04 20:49] luchia commented on #391
Don't we get an article relating to any technology without filtering? :)

[2015-02-04 20:49] luchia commented on #324
I'm taking this to work on the style.

[2015-02-04 20:53] DinisCruz commented on #323
or so we are using /poc/{page} for the poc pages and /-/{query} for the navigate pages?

[2015-02-04 20:54] DinisCruz commented on #381
Test looks great, now you need to do the fix and change the test to be a regression test

[2015-02-04 20:56] DinisCruz commented on #299
one thing here is that the only reason 'Guidance' shows there is because that is the name of the root query

[2015-02-04 21:01] DinisCruz commented on #374
nice , I like it, it should be obvious that that's where filters can be removed

[2015-02-04 21:04] DinisCruz commented on #383
I think that now that the search/navigate view opens quick quickly and that the UI doesn't move , we should open it the same tab.

That way the users that want to open in a new tab can explicitly do that

[2015-02-04 21:07] DinisCruz commented on #379
Actually , this is already being addressed with in the current beta. The title now comes from the Article Graph data (i.e. the metadata) vs the url.

[2015-02-04 21:30] DinisCruz commented on #380
Humm, I think that might be a cache issue

I can't replicate it locally, and when running with the cache disabled, I was not able to replicate it:

![image](https://cloud.githubusercontent.com/assets/656739/6049787/759026b6-acb2-11e4-97f5-3daa85fa8442.png)

[2015-02-04 21:33] DinisCruz commented on #380
@tecknicaltom  I just wrote this unit-test which replicates your steps, but I can't replicate your result:

[code]

Here is what it looks like after running the test:

![image](https://cloud.githubusercontent.com/assets/656739/6050159/5a5e8632-acb5-11e4-9418-c14e5a5d7d5d.png)

[2015-02-04 21:36] DinisCruz commented on #376
Actually a Fibonacci sequence would be quite cool, specially since it is also related to the https://en.wikipedia.org/wiki/Golden_ratio which is a nice design thing

[2015-02-04 22:16] DinisCruz commented on #349
The best way to handle this to cache the heavier results which we  will have with https://github.com/TeamMentor/TM_4_0_Design/issues/317 (just made that a P0)

I will also look at trying to detect when the GraphDb is down (or not available)

[2015-02-04 22:33] michaelhidalgo commented on #381
Probably in flare we can add client side validations to avoid submitting the form at all if required fields are empty.

![screen shot 2015-02-04 at 4 31 18 pm](https://cloud.githubusercontent.com/assets/1732035/6051183/69c0d21c-ac8b-11e4-9042-0e59253b425f.png)

[2015-02-04 22:39] michaelhidalgo commented on #381
Actually, I added the required attribute too

![screen shot 2015-02-04 at 4 38 34 pm](https://cloud.githubusercontent.com/assets/1732035/6051281/5ee92352-ac8c-11e4-8bc4-60bbe8773e78.png)

[2015-02-04 22:41] luchia commented on #323
Yes to your POC URL, but I think having an action word like show for the navigate pages is better than a hyphen.

[2015-02-04 23:38] DinisCruz commented on #385
Here is an example of why this test is so important https://github.com/TeamMentor/TM_4_0_Design/blob/Dev/source/jade/_mixins/user-mixins.jade#L64-L94

When coding in new frameworks it is so easy to create vulns like that

[2015-02-05 00:18] DinisCruz commented on #385
Here is the commit that uses Jade's auto encoding capabilities: https://github.com/TeamMentor/TM_4_0_Design/commit/cb7690f51852a9282f273ef58df0445b171e8d64#diff-0

[2015-02-05 00:56] luchia commented on #348
As per yesterdays team meeting, there will be two layouts for filters that need to be A/B tested. The first is as per this entire thread (and included below for ease of reference):

![screen shot 2015-02-05 at 9 40 01 am](https://cloud.githubusercontent.com/assets/4547737/6052141/fc2e5126-ad1a-11e4-83b4-3c979295ec90.png)
![screen shot 2015-02-05 at 9 38 48 am](https://cloud.githubusercontent.com/a

[2015-02-05 00:57] luchia commented on #324
![screen shot 2015-02-05 at 6 46 07 am](https://cloud.githubusercontent.com/assets/4547737/6053017/d12f8f5c-ad25-11e4-8d2e-e0afe0dc9951.png)

Polish finished.

[2015-02-05 01:14] luchia commented on #299
As per our meeting this morning, we are now only shown the breadcrumbs after the root URL. This removes the doubling up of headings when there is only one breadcrumb item. See below for example.

![screen shot 2015-02-05 at 11 04 34 am](https://cloud.githubusercontent.com/assets/4547737/6053178/cc49dbe4-ad27-11e4-90be-d1a6becc13f7.png)
![screen shot 2015-02-05 at 11 04 38 am](https://cloud.githubu

[2015-02-05 01:25] luchia commented on #194
As per our meeting today, we discussed the fact that articles will at some point need to be reformatted due to having to hack the CSS to make the sizing right. @roman87 said it was more of a long-term goal and task and for the time being that we should use the hack for the beta.

I spent part of my morning getting sizing right on the article content. See below and the referenced commit.

![screen

[2015-02-05 08:28] DinisCruz opened #392 "On new search page first result title is hidden by search bar"
Hi @luchia on the latest design you pushed, the search results was hiding the first title (and total number of results message)

![image](https://cloud.githubusercontent.com/assets/656739/6057003/a4783d7a-ad10-11e4-9063-0316a7f35d37.png)

I fixed it temporarily by adding a couple br to the mixi

![image](https://cloud.githubusercontent.com/assets/656739/6057008/ba99fd6e-ad10-11e4-9a37-304c911a8c23

[2015-02-05 08:46] DinisCruz commented on #323
ok, what about 'nav' since that is the Navigate page?

[2015-02-05 15:02] michaelhidalgo commented on #381
Fixed here https://github.com/TeamMentor/TM_4_0_Design/pull/393/files

[2015-02-05 15:22] michaelhidalgo commented on #382
Yes, TEAM Mentor 3.6 backend changes allows this messages to be configurable.
There will be a new configuration section (that can  be accessed from TBOT).

![screen shot 2015-02-05 at 9 16 22 am](https://cloud.githubusercontent.com/assets/1732035/6062805/27999364-ad18-11e4-8fe5-27d6e015fdc4.png)

After restarting TM, the changes should take place in the UI :

![screen shot 2015-02-05 at 9 15 57 am

[2015-02-05 16:05] michaelhidalgo commented on #353
This has been done. The new library is here https://github.com/TMContent/Lib_UNO_TMP1

[2015-02-05 18:00] michaelhidalgo commented on #359
Here is the test scenario
[code]

![screen shot 2015-02-05 at 11 59 34 am](https://cloud.githubusercontent.com/assets/1732035/6065913/805320f4-ad2e-11e4-9fec-404c1f681bd3.png)

[2015-02-05 18:00] DinisCruz commented on #353
very cool, where is the script that did it?

[2015-02-05 18:11] DinisCruz commented on #359
cool, now did you had an idea for the fix

[2015-02-05 18:25] michaelhidalgo commented on #359
Well we can limit the request max length to something smaller but the behavior would be the same, the bodyparser will realize that the request is larger than it can actually handle, so the error would be the same, the only significant difference would be that we are limiting the length to something smaller and avoid any potential DoS.

What do you think about :

1. Client-side validations constrai

[2015-02-05 21:57] DinisCruz commented on #332
Here is the test that replicates the issue of the search not handing weird char (for reference the problem was an unhandled serialisation error)

[code]

[2015-02-05 21:59] DinisCruz commented on #332
Here is the regression test that shows the search is able to handle all sorts of weird chars

[code]

[2015-02-05 22:08] roman87 opened #394 "Headings size are are too large, seems like paragraph headings are bigger than the title"
![selection_082](https://cloud.githubusercontent.com/assets/1326120/6070301/6096effe-ad59-11e4-9abc-bd52d3a8857c.png)

[2015-02-05 22:13] roman87 opened #395 "Encoding error on at least one article"
![selection_082](https://cloud.githubusercontent.com/assets/1326120/6070436/452e2984-ad5a-11e4-916d-535f16656802.png)

[2015-02-05 22:16] roman87 commented on #126
Cool. Now we need full article search.

[2015-02-05 22:23] DinisCruz commented on #359
This test confirms that node is not handling bad stuff on the url

[code]

[2015-02-05 22:40] DinisCruz commented on #359
Here is the regression test:

[code]

Now what happens is we show the 404 message (with the error for now logged into the console)

I first used the 'unavailable' page , but i think the 404 will make more sense in most cases

![image](https://cloud.githubusercontent.com/assets/656739/6070746/26d0f20a-ad87-11e4-98c8-2958095d19cb.png)

[2015-02-05 22:50] luchia opened #396 "Lauren Yanko Feedback"
##### Main Pages (before logging in)
- [x] The main green icons are nice, as I have mentioned before, but I feel that the smaller icons (on buttons as well as at the bottom of the page) are a little too small.
- [x] The biggest nitpick I have on these main pages is that the buttons are too wide. I get that you are trying to balance out the text above the buttons, but the extra space on the sides o

[2015-02-05 22:52] DinisCruz commented on #359
Here is the 404 test

[code]

[2015-02-05 23:03] luchia commented on #394
This has definitely been fixed on Dev. I'm not sure why it's not showing on your version.

![screen shot 2015-02-06 at 8 43 16 am](https://cloud.githubusercontent.com/assets/4547737/6071205/03ffe9b8-addf-11e4-8ad7-b40b45fcdc28.png)

[2015-02-05 23:20] luchia commented on #392
Hey @DinisCruz, I added the fix but I think there is something wrong with the code. The div is there but it's not populated (at least, not for me).

![screen shot 2015-02-06 at 9 19 13 am](https://cloud.githubusercontent.com/assets/4547737/6071415/55b60236-ade1-11e4-8b91-bce4b9bb1372.png)

[2015-02-05 23:23] michaelhidalgo commented on #359
This approach works, however, when there is a server error (namely HTTP 500), it is displayed as if it was a HTTP 400

![screen shot 2015-02-05 at 5 20 51 pm](https://cloud.githubusercontent.com/assets/1732035/6071452/91647730-ad5b-11e4-95be-41d4b2c1dabf.png)

[2015-02-05 23:26] DinisCruz commented on #359
yeah, that is what I was mentioning on my comment above, this is currently handing all unhanded errors

Since we know that it is an error 500 on the server side, there is probably not a lot of reasons to tell the user (or attacker) the error 500

[2015-02-05 23:28] michaelhidalgo commented on #359
It makes sense.

2015-02-05 17:26 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-02-05 23:51] DinisCruz commented on #396
really cool feedback,

[2015-02-05 23:57] DinisCruz commented on #392
humm, what does the jade look like?

[2015-02-05 23:57] luchia commented on #392
It's the same mixin that we have for the other version of search.

[2015-02-05 23:58] DinisCruz commented on #394
Here is what it looks to me

![image](https://cloud.githubusercontent.com/assets/656739/6071874/d5432348-ad92-11e4-9e78-67ada8c24a43.png)

![image](https://cloud.githubusercontent.com/assets/656739/6071880/df83a134-ad92-11e4-919a-bc39c1c73d7c.png)

[2015-02-06 00:01] DinisCruz commented on #395
It looks like this can be fixed in the content

![image](https://cloud.githubusercontent.com/assets/656739/6071920/491e8794-ad93-11e4-9df9-fcb627a85a55.png)

[2015-02-06 00:03] DinisCruz commented on #392
can you put it here?

[2015-02-06 02:07] luchia commented on #392
Sure, this is the mixin -

![screen shot 2015-02-06 at 12 07 09 pm](https://cloud.githubusercontent.com/assets/4547737/6073335/b29caf7e-adf8-11e4-960d-a8780139baba.png)

[2015-02-06 06:38] luchia commented on #394
So this is what I have at the moment after working on #396 all day. Can you please let me know if you still can't see it as I have definitely merged this work onto Dev?

![screen shot 2015-02-06 at 4 37 20 pm](https://cloud.githubusercontent.com/assets/4547737/6075453/9139654a-ae1e-11e4-9b18-a4fb12c65af3.png)
![screen shot 2015-02-06 at 4 37 22 pm](https://cloud.githubusercontent.com/assets/454773

[2015-02-07 01:14] michaelhidalgo opened #397 "Signup page text is split in two lines when resizing the browser a little bit"
I get the latest Dev version and it seems like the text is split in two lines when resizing the browser

![screen shot 2015-02-06 at 7 10 31 pm](https://cloud.githubusercontent.com/assets/1732035/6090079/2a54a022-ae34-11e4-880d-72fc8bfeb3fe.png)

and this is how it looks like when resizing it, note that the text is split in two lines :

![screen shot 2015-02-06 at 7 08 20 pm](https://cloud.githubu

[2015-02-07 14:36] DinisCruz commented on #397
You mean the text inside the top-left green text box?

If so, that kind of line break is ok, isn't it?

[2015-02-07 18:29] DinisCruz commented on #394
I think the issue might be caused because the **Lib_Vulnerabilities** library (used by default by TM_Design) might be using different style attributes as the **Lib_UNO** Library (the https://github.com/TeamMentor/TM_4_0_Design/issues/317 fix help to test this).

This also raises the question that we need to double check all articles for style consistency (for example all articles should be using a

[2015-02-07 18:31] DinisCruz opened #398 "Double check all articles for style consistency"
This should be a set of UnitTests that execute on the final QA environment (the one with the full DB)

Checks to make:

* [ ] All articles should be using a particular type of heading for the titles)
* [ ] No empty articles
* [ ] No broken links
* [ ] (... add more to this list ... )

[2015-02-07 18:40] DinisCruz opened #399 "[Q] Bring the Unit Test coverage of the projects used back to 98%"
At the moment we have TM_Design at 92% and TM_Graph at 97% which is not good enough

![image](https://cloud.githubusercontent.com/assets/656739/6093352/c05b41ba-aef8-11e4-9029-1585e4b9bd4f.png)

@roman87  This is the first of a number of issues that I will start opening which are to do with 'Code Quality' and not really specific to a particular release or task. By definition all these 'Type:Qualit

[2015-02-07 21:25] tekgirl77 commented on #385
@DinisCruz here is the preliminary code for #385; is this on the right track?
https://github.com/tekgirl77/TM_4_0_Design/tree/Issue_385_No_jade_raw_html

It finds the unescape chars in all jade files, but as of now is just printing them out to the console.

I'd like to touch base w/ you before proceeding to make sure I'm on the right track and also get some direction on writing the respective asse

[2015-02-08 14:45] DinisCruz commented on #385
Hi @tekgirl77 when asking questions like the above it helps if you:
a) link directly to the affected source code, like this:  or
2) include in the comment the affected source code, like I did below (see the source of this comment for how to include source code snippets in comments)

[code]

and

[code]

[2015-02-08 14:58] DinisCruz commented on #385
In terms of the direction of the solution, yes you are on the right track :)

And it is good that you got your head around node/js to write those helper functions, but the reason I created fluentnode was to make code that like much simpler :)

So, can you use the functions below in your code? (which will make it simpler and easier to read):

* String::files_Recursive  - see http://o2platform.com/f

[2015-02-08 15:42] tekgirl77 commented on #385
I knew there were helper functions available for the recursive walk but I
wanted to write it myself for the practice w/ coffeescript  :)

I'll take a look when I get a chance... starting my work with django and
will be splitting my time.

Thanks for the quick feedback!!  Hope you're having a great weekend!  :)

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.security

[2015-02-08 16:25] DinisCruz commented on #385
wanted to write it myself for the practice w/ coffeescript  :)

Yap that is a great way to learn :)

Btw, if you think that your implementation works better than the correspondent fluentnode metho, please make sure to submit them as a PR

I also like that you are doing your tests using Unit Tests (and there is nothing wrong with creating a couple unit tests whose only purpose is to help to underst

[2015-02-08 19:19] roman87 commented on #398
Is this something we should write a script/unit test for, or is there also manual work involved. Basically I am asking if we should request editor help with this as well?

[2015-02-08 19:59] roman87 commented on #394
They are still broken. I think @DinisCruz  is right about the different styles in each Library. See if you can use these instructions to clone the Lib_Uno library. https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-build-and-run-the-GraphDB
I just checked and you have read rights on that repo.

![selection_084](https://cloud.githubusercontent.com/assets/1326120/6098116/da573f56-afa2-11e4-9c8b

[2015-02-08 20:03] roman87 commented on #394
Otherwise catch me on skype in your morning and I will walk you through the setup.

[2015-02-08 20:05] roman87 commented on #391
Well, no we get all articles. Both technology specific and technology agnostic articles. Filter "Any" is supposed to select only  the technology agnostic articles.

[2015-02-08 20:08] roman87 commented on #389
Cool this is done.

[2015-02-08 20:11] roman87 commented on #388
Cool, fixed

[2015-02-08 20:19] roman87 commented on #381
Looks good! Changing to Action:Close to follow up with the submitter when beta2 is out.

[2015-02-08 20:22] roman87 commented on #380
I am not able to duplicate it ether.

[2015-02-08 20:25] roman87 commented on #377
This is done.

[2015-02-08 20:25] #377 closed

[2015-02-08 20:35] roman87 opened #400 "Poc pages do not work."
There should be a number of POC pages, including the filtering pull down pages that are not there.
Navigating to /-poc-

![selection_085](https://cloud.githubusercontent.com/assets/1326120/6098295/21778a1c-afa8-11e4-9d83-25231045c629.png)

[2015-02-08 20:36] roman87 commented on #375
Unable to test this untill https://github.com/TeamMentor/TM_4_0_Design/issues/400 is fixed.

[2015-02-08 20:41] roman87 commented on #374
Yep looks really really good. Simple, intuitive and easy to use.

[2015-02-08 20:41] #374 closed

[2015-02-08 20:43] roman87 commented on #373
I think this looks really good now.

[2015-02-08 20:43] #373 closed

[2015-02-08 21:03] roman87 commented on #356
They are no longer tiled, but left justified. Looks a bit weird. In firefox you ca probably try to set in about:config  layout.css.devPixelsPerPx to anything less then one (like 0.5) and you will probably be able to duplicate this.

![selection_087](https://cloud.githubusercontent.com/assets/1326120/6098422/040e4c96-afac-11e4-9ed1-ff2253e494f6.png)
![selection_086](https://cloud.githubusercontent.

[2015-02-08 21:04] roman87 commented on #171
This is done.

[2015-02-08 21:04] #171 closed

[2015-02-08 21:16] roman87 opened #401 "Weird search results when searching for "Prevent Unsigned""
![selection_088](https://cloud.githubusercontent.com/assets/1326120/6098467/b9aaa7b0-afad-11e4-9d8e-e7570e448d4a.png)

[2015-02-08 21:27] roman87 commented on #395
It seems like all of our C++ articles have + encoded as &#43.  I thin we encode this in TM 3.5 this way. We need to be able to support the same encoding in 4.0. Alternatively maybe we write a script that will run after the library is loaded to change all the encoding? Lets discuss.

[2015-02-08 21:31] roman87 opened #402 "Full article view seems to narrow."
Now that there is a border around the text, it looks quite narrow on my screen. The empty spaces on left and right really stand out.
![selection_089](https://cloud.githubusercontent.com/assets/1326120/6098540/e2d3d84e-afaf-11e4-8f54-3c846e77c152.png)

[2015-02-08 21:34] roman87 opened #403 "Copyright should not be in the footer of all pages"
Copyright only should be shown when the users scrolls all the way down on the full article view page. Otherwise it takes too much space and diverts attention. From search and navigate.

[2015-02-08 21:37] roman87 opened #404 "Do we need a "Back to Search Results/Navigate Results" button on the full article view?"
Lets discuss this. It seems like the browser "Back" button does the job fine. I propose we keep it the way it is and see what feedback we get from the beta? @DinisCruz @michaelhidalgo  @tekgirl77 What do you think?

[2015-02-08 21:38] roman87 commented on #194
This is done but there are a number of issues relating to this now:
#394
#395
#402
#403

[2015-02-08 21:38] #194 closed

[2015-02-08 22:11] DinisCruz commented on #404
I like the X

And although the back will work on some cases it will not on others (for example if you click on multiple filters, the Back will bring back the previous filter, not the 'cleared filter' view)

[2015-02-09 04:00] roman87 commented on #298
this is done.

[2015-02-09 04:00] #298 closed

[2015-02-09 04:01] roman87 commented on #299
I think this looks good. Closing

[2015-02-09 04:01] #299 closed

[2015-02-09 04:02] roman87 commented on #305
This is working now.

[2015-02-09 04:02] #305 closed

[2015-02-09 04:04] roman87 commented on #309
This is fixed.

[2015-02-09 04:04] #309 closed

[2015-02-09 04:04] roman87 commented on #314
All done.

[2015-02-09 04:04] #314 closed

[2015-02-09 04:10] roman87 commented on #315
Yep, html and wikitext look good.

[2015-02-09 04:10] #315 closed

[2015-02-09 04:18] roman87 opened #405 "After searching, when clicking on a filter, "Recent Searches" gets messed up."
Follow this steps to reproduce.
1. Search for xss
2. select any filter on the result page
3. deselect the filter on the result page
4. hit the "search" home button

Observe the result:
![selection_090](https://cloud.githubusercontent.com/assets/1326120/6100948/bbb943aa-afe8-11e4-9fd8-6e5e5370774c.png)

[2015-02-09 04:20] roman87 opened #406 "Search page seems to narrow"
On my screen the search page looks a bit to narrow, comparative to the empty space on the left and right of it.
![selection_090](https://cloud.githubusercontent.com/assets/1326120/6100955/041e007c-afe9-11e4-85a6-0f9f9014277b.png)

[2015-02-09 04:24] roman87 opened #407 "Bring back ability to click on a title to open the article"
The ability to open an article by clicking on the title is no longer there. Clicking on the plus sign is really not intuitive.
![selection_091](https://cloud.githubusercontent.com/assets/1326120/6100983/a9a1632c-afe9-11e4-94ab-6286af0e5318.png)

[2015-02-09 04:28] roman87 commented on #404
Sorry, I think I wasn't clear. I meant that when you open the full article view, if I want to get back to search results, or navigate results, should we have a "Back to Search Results" or "Back to Navigate Results" button. Or should we assume that the user will hit the browser back button to get there.
I like the X on the filter as well.

[2015-02-09 04:43] roman87 opened #408 "Space between left and right main boxes is too large on singup and login page. Resulting text too narrow"
![selection_092](https://cloud.githubusercontent.com/assets/1326120/6101107/2a8383b0-afec-11e4-8ae7-304df10febbe.png)

Honestly, I like the older signup and login page much better.
![selection_093](https://cloud.githubusercontent.com/assets/1326120/6101121/5738a71e-afec-11e4-92f6-40b4c5dad72f.png)

[2015-02-09 04:44] roman87 commented on #397
Yea I think the break in this issue is ok. We can discuss if others disagree. I think the issue in this page is https://github.com/TeamMentor/TM_4_0_Design/issues/408 and that is why it visually seems like there is a problem.

[2015-02-09 05:13] roman87 opened #409 "Input boxes and text are confusing on login/signup screens"
I think we had this issue once before. The login boxes are no longer boxes (at least on my screen) and are instead represented by a hard to see line.
Text like "USERNAME" now blends in with the helper text of "Username"  and with instruction text below it.
As I said, I, personally,  liked the previous login/signup page better.

What we need to get in the habit of, is to make these changes in the P

[2015-02-09 07:43] roman87 commented on #316
Well, we also need full article body search. I think this is part of this issue :)

[2015-02-09 10:09] michaelhidalgo commented on #397
Yes, I agree, Issue https://github.com/TeamMentor/TM_4_0_Design/issues/408 is a better to describe it.

[2015-02-09 10:21] michaelhidalgo commented on #409
I also noticed the border in the text box is missing. I gave it a test on safari and Chrome in the mac and the image looks like the images included above.

[2015-02-09 11:01] michaelhidalgo opened #410 "Show a message/page when an article is not found"
This is the workflow:
1. I click on an existing article from the Top Articles list
2. The article is displayed.
3. Change the URL to point to a non-existing article

![screen shot 2015-02-09 at 4 44 28 am](https://cloud.githubusercontent.com/assets/1732035/6105356/e61bfaa6-b01b-11e4-9ad5-eaa19f7f3963.png)

4. Go back to http://localhost:1337/user/main.html
5. Note that the Top Article list is empt

[2015-02-09 20:02] DinisCruz commented on #401
humm, i get

![image](https://cloud.githubusercontent.com/assets/656739/6114514/9673c846-b096-11e4-81f5-7418db0265a7.png)

[2015-02-09 20:36] roman87 commented on #410
Yep, very good catch!!

[2015-02-09 20:39] roman87 commented on #261
@michaelhidalgo jsut confirm there is a test for this and close if so.

[2015-02-09 20:46] roman87 commented on #323
ok I like it. @luchia ? So lets change /-poc- to /poc and /-/Guidance to /nav/Guidance
Works?

[2015-02-09 20:52] roman87 commented on #324
This is done.

[2015-02-09 20:52] #324 closed

[2015-02-09 20:58] roman87 commented on #330
Hey @michaelhidalgo I noticed we still keep the password field populated. But now that I think of it, maybe it is not such a bad idea. I will close it for now.

[2015-02-09 20:58] roman87 commented on #330
Actually, keeping open to follow up back with Tom when next beta is out. :)

[2015-02-09 21:06] roman87 opened #411 "When search returns no results. Show a sorry page"
Show a page which says - sorry we could not find any articles matching your query.
Right now we just show a blank search page.
![selection_094](https://cloud.githubusercontent.com/assets/1326120/6115694/80fe0024-b075-11e4-8bc6-1d61bb555307.png)

[2015-02-09 21:07] roman87 commented on #348
This is fixed. Will follow up with @BendixSpring when next beta is out.

[2015-02-09 21:07] luchia commented on #323
Sounds good.

[2015-02-09 21:08] roman87 commented on #353
Need to create a TM 3.5 server that consumes that library.

[2015-02-09 21:08] luchia commented on #410
I'll take it first.

[2015-02-09 21:22] luchia commented on #407
This has been fixed in the referenced commit.

![screen shot 2015-02-10 at 7 16 27 am](https://cloud.githubusercontent.com/assets/4547737/6116044/8107b454-b0f5-11e4-8046-361a92edbed5.png)

[2015-02-09 21:23] luchia commented on #404
I think the use of the back button on the browser works for the moment, why don't we wait to see if we get any feedback from anyone?

[2015-02-09 21:23] roman87 commented on #363
Yep this can be closed. @SI-Lisa  as you can see from above, we can embed videos and pdfs hosted elsewhere in our pages. Checklists are a bit more complicated since they require state to be maintained per user.

[2015-02-09 21:23] #363 closed

[2015-02-09 21:25] roman87 commented on #355
Agreed. closing

[2015-02-09 21:25] #355 closed

[2015-02-09 21:32] roman87 commented on #147
So does node actually verify the authenticity of the certificate?

[2015-02-09 21:32] luchia commented on #403
This has been fixed in the referenced commit and the div is no longer sticky.

![screen shot 2015-02-10 at 7 27 11 am](https://cloud.githubusercontent.com/assets/4547737/6116250/fed72b34-b0f6-11e4-9047-d270f26a69db.png)
![screen shot 2015-02-10 at 7 27 06 am](https://cloud.githubusercontent.com/assets/4547737/6116241/e9d6a228-b0f6-11e4-97fc-f58928732dd4.png)

[2015-02-09 21:41] roman87 commented on #387
Looks good. Tracking to follow up with Gene.

[2015-02-09 21:42] roman87 commented on #383
Ok agreed. That way we can have the user open it in different tab by right clicking.

[2015-02-09 21:42] #383 closed

[2015-02-09 21:45] luchia commented on #408
This has been fixed in the referenced commit.

![screen shot 2015-02-10 at 7 43 09 am](https://cloud.githubusercontent.com/assets/4547737/6116484/b2fd90d4-b0f8-11e4-94df-e2e9cfe3e0be.png)
![screen shot 2015-02-10 at 7 43 12 am](https://cloud.githubusercontent.com/assets/4547737/6116485/b32b4e2a-b0f8-11e4-8c97-0700a9c429a3.png)

[2015-02-09 21:47] roman87 commented on #379
Yep, looks like its fixed. will follow up with Tom when next beta is out.

[2015-02-09 21:49] roman87 commented on #376
Anyone else wants to weight in on the issue? so far we are in a disagreement if we should use Beer or Fibonacci to track work effort :)?

[2015-02-09 21:50] luchia commented on #409
Sure, I have changed it back but I did need to come up with a different variation. I did some reading last week and box-shadow css property is not visible in all browsers (IE 8 and below). That is why I need to change it.

I have fixed this in the referenced commit.

![screen shot 2015-02-10 at 7 47 59 am](https://cloud.githubusercontent.com/assets/4547737/6116561/6fc03aa0-b0f9-11e4-978f-7a0b7ec89

[2015-02-09 21:51] roman87 commented on #382
Cool, Assigning to myself and making a P0 to test and follow up with Morgan.

[2015-02-09 22:00] luchia commented on #397
Did some reading over the weekend and have come up with a solution to improve our typography in terms of responsiveness. You can see it in action in the referenced commit or attached below.

![screen shot 2015-02-10 at 7 57 35 am](https://cloud.githubusercontent.com/assets/4547737/6116728/be04970a-b0fa-11e4-96f2-2d7949a8015f.png)
![screen shot 2015-02-10 at 7 57 39 am](https://cloud.githubusercont

[2015-02-09 23:08] luchia commented on #406
This has been fixed in the referenced commit.

![screen shot 2015-02-10 at 9 07 42 am](https://cloud.githubusercontent.com/assets/4547737/6117934/4f43ff04-b104-11e4-8ede-fa246505edab.png)

[2015-02-09 23:17] luchia commented on #402
This has been fixed in the referenced commit.

![screen shot 2015-02-10 at 9 10 30 am](https://cloud.githubusercontent.com/assets/4547737/6118088/a896a308-b105-11e4-9f36-c8e8adebcef7.png)

[2015-02-09 23:20] luchia commented on #410
Now that I think about it, wouldn't it just show a 404 error?

[2015-02-09 23:25] roman87 commented on #399
Sounds good. I think [Q] is a good idea.

[2015-02-10 00:10] luchia commented on #394
So I cloned the Lib_Uno library and got it up and running fine. However, the article still appears as it should from my end, including after clearing my cache.

![screen shot 2015-02-10 at 10 02 52 am](https://cloud.githubusercontent.com/assets/4547737/6118778/02821238-b10d-11e4-92a4-4944ba24ac53.png)

[2015-02-10 00:11] roman87 commented on #410
No, I think this should be an article not found error. Because it is really different than a general 404

[2015-02-10 01:31] luchia commented on #376
It doesn't really bother me, isn't it just a general outline of how long things should take?

[2015-02-10 01:48] luchia commented on #356
This relates to the sizing of the background images and has been fixed in the referenced commit.

![screen shot 2015-02-10 at 11 39 55 am](https://cloud.githubusercontent.com/assets/4547737/6119808/a9fd5444-b119-11e4-8537-457d8298183c.png)
![screen shot 2015-02-10 at 11 39 56 am](https://cloud.githubusercontent.com/assets/4547737/6119809/aa0506ee-b119-11e4-8348-81a7f814cebb.png)
![screen shot 2015

[2015-02-10 02:07] luchia commented on #410
This has been fixed in the referenced commit.

![screen shot 2015-02-10 at 12 07 07 pm](https://cloud.githubusercontent.com/assets/4547737/6120115/5d4a0800-b11d-11e4-85df-ae8b43537536.png)

[2015-02-10 02:15] luchia commented on #396
These issues have all been addressed.

[2015-02-10 05:29] roman87 commented on #394
This seems like a very weird bug. When I go to the above URL, graphDB crashes

[2015-02-10 05:29] roman87 commented on #394
I will take this to see if I can reproduce it.

[2015-02-10 05:34] roman87 opened #412 "Validate that the same article does not exist twice in the same query"
In talking to Serge, today in 3.5 it is possible to have the same article exist in the same view. We need to make sure that this cannot happen in 4.0. Technically this should not be possible because the GUIDs will be the same and therefore even if the same article is added twice, it will not generate a duplicate entry.

[2015-02-10 12:24] DinisCruz commented on #412
I'm pretty sure this is currently not possible in the GraphDB. If you add a mapping that already exists, then nothing happens to the db (but it will be good to check with a test)

[2015-02-10 15:21] DinisCruz opened #413 "Add syntax colouring to Jade Article's rendering"
Shouldn't be very hard since the Markdown APIs we are using already support it

This is what it looks like at the moment (with no formatting)

![image](https://cloud.githubusercontent.com/assets/656739/6129698/3b408a84-b138-11e4-8689-58f80957aaf7.png)

[2015-02-10 15:48] DinisCruz commented on #410
thx @luchia

This is now wired and looks like this (running with live data)

![image](https://cloud.githubusercontent.com/assets/656739/6130285/24d49412-b13c-11e4-971c-028148ba5b90.png)

When the article exists, it looks like this:

![image](https://cloud.githubusercontent.com/assets/656739/6130308/38af022e-b13c-11e4-9709-f2ef9eba6132.png)

Here is the regression test

[code]

The GraphDB is also

[2015-02-10 16:07] DinisCruz commented on #410
For reference here is the test that checks if the article content is showing up in the correct location (note that this runs from the TM_Design tests, so the GraphDB is being mocked)

[code]

[2015-02-10 19:32] michaelhidalgo commented on #410
Yes this issue is fixed.

[2015-02-10 22:02] DinisCruz commented on #411
What about like this

![image](https://cloud.githubusercontent.com/assets/656739/6137399/6d171644-b170-11e4-8de7-fbd63c4bc415.png)

[2015-02-10 22:08] DinisCruz commented on #392
@luchia, give the latest design changes, is this how it is supposed to look like

![image](https://cloud.githubusercontent.com/assets/656739/6137495/53678a66-b171-11e4-8506-d7e6b7315c37.png)

[2015-02-10 22:57] luchia commented on #404
As per our meeting this morning, we discussed usability and possible issues with creating a separate back button from the article. Everyone agreed that using the browser back button seems to be the most logical and usable solution for allowing the user to go back to the search results.

Re-assigned to Roman for QA/Closing.

[2015-02-11 00:10] luchia commented on #392
Taking this to fix the styles.

[2015-02-11 00:22] luchia commented on #392
This has been fixed in the referenced commit.

[2015-02-11 01:05] luchia commented on #392
See here -

![screen shot 2015-02-11 at 11 04 31 am](https://cloud.githubusercontent.com/assets/4547737/6139969/ca1c7722-b1dd-11e4-8bc6-65d6ae427c9a.png)
![screen shot 2015-02-11 at 11 04 33 am](https://cloud.githubusercontent.com/assets/4547737/6139970/ca2303da-b1dd-11e4-9e09-06c1d1c11c57.png)
![screen shot 2015-02-11 at 11 04 35 am](https://cloud.githubusercontent.com/assets/4547737/6139971/ca2f

[2015-02-11 02:11] luchia commented on #356
Taking this back because now we have resizing issues for this fix -

![screen shot 2015-02-11 at 12 06 06 pm](https://cloud.githubusercontent.com/assets/4547737/6140637/70dec13e-b1e6-11e4-97b0-b43563d05dd2.png)
![screen shot 2015-02-11 at 12 06 09 pm](https://cloud.githubusercontent.com/assets/4547737/6140638/70e6593a-b1e6-11e4-80cb-23c83bcec489.png)
![screen shot 2015-02-11 at 12 06 12 pm](https:

[2015-02-11 02:12] luchia commented on #356
This has been fixed in the referenced commit.

[2015-02-11 02:17] luchia commented on #310
I've been thinking about this a bit and I can't think of a better solution. Where else could we redirect? It's not possible to redirect to the landing pages because we can't display alerts there (and I don't think we should either).  We could redirect to the sign up page but that also isn't relevant.

I still think it's best to redirect to the login page.

[2015-02-11 02:23] tekgirl77 commented on #310
Couldn't we have a post-password reset landing page that confirms they have requested a pw reset and an email has been sent to them, please check their email and once they get the new password click here to login... something to that affect?

[2015-02-11 20:28] DinisCruz commented on #323
Both of these are done on latest commits

/poc/ for poc pages
/show/{query} for query pages

[2015-02-11 21:32] roman87 commented on #376
Pretty much. This is is used more to track burn-down rate. Since we don't have statistics in github, I think it is easier to estimate work effort in days. That way we can intuitively say that we were ether correct in estimating certain effort or we were off. For example, if we say something should take 1 day and it takes us 1 week, we were wrong. Over time we will get better with estimates. With F

[2015-02-11 21:33] roman87 commented on #396
These look good. Marking them to follow up with Lauren when beta Is out. The last one was discussed on the call yesterday. The idea is to actually point the user to search and not to navigate page. Therefore we really want the user to discover it on their own if they want to. We will also explain the Navigate page in the tutorial video.

[2015-02-11 21:34] roman87 commented on #412
Cool. Changing Action to Unit Test

[2015-02-11 21:36] roman87 commented on #410
Looks good. Closing

[2015-02-11 21:36] #410 closed

[2015-02-11 21:37] roman87 commented on #411
Yep. I think it looks good. Anyone else comments?

[2015-02-11 21:38] roman87 commented on #404
All agreed. Closing.

[2015-02-11 21:38] #404 closed

[2015-02-11 21:39] roman87 commented on #356
Still the same issue:
![selection_096](https://cloud.githubusercontent.com/assets/1326120/6157045/8ac15866-b20c-11e4-8c32-8e986e38b2a5.png)

[2015-02-11 21:40] roman87 commented on #310
That is what the language on the login page says after a password reset. Lets think about it some more. Maybe there is no better solution.

[2015-02-11 21:41] roman87 opened #414 "Search Bar has no box. It all blends in on my screen."

[2015-02-11 21:42] roman87 opened #415 "Popular search items should not repeat themselves:"
![selection_097](https://cloud.githubusercontent.com/assets/1326120/6157112/fc96c908-b20c-11e4-8e0d-15bc976374ff.png)

[2015-02-11 21:44] roman87 opened #416 "Wire “Navigate” button"
Right now it points to http://localhost:1337/-/Guidance and gives  a 404 error
![selection_098](https://cloud.githubusercontent.com/assets/1326120/6157162/4199cd2a-b20d-11e4-901c-a96dbcbdfa30.png)

[2015-02-11 21:46] roman87 opened #417 "Weird result when searchign for “cross site”"
![selection_095](https://cloud.githubusercontent.com/assets/1326120/6157190/7016d224-b20d-11e4-9043-bcab54195fd0.png)

[2015-02-11 21:47] roman87 opened #418 "No need for “Get Started by Searching” on the results page"
It doesn't really make sense to have it on the results page. Also I am wondering if it makes sense at all. After the second time someone uses it, it is pretty much obvious that you search there.

[2015-02-11 21:49] michaelhidalgo opened #419 "GraphDB error: Failed to decode param when sending weird payloads when doing a search."
When searching this text:

http://localhost:1337/search?text=%00a%27b%22cdef%27a%27b%22c%3Cmarquee%3Edef!@%C2%A3$%^**()_+=-{}[]|%22:;%27?%3E%3C,./ , the application crashes.

This is the stacktrace found in GraphDb

![screen shot 2015-02-11 at 3 45 32 pm](https://cloud.githubusercontent.com/assets/1732035/6157204/212058a0-b205-11e4-9929-15be356730df.png)

[2015-02-11 21:50] DinisCruz commented on #317
Done via the referenced commit

There is a new folder called 'data_cache' inside the '.tmCache' folder which contains the saved jsons (I will show it in action in the call)

The performance increase is significant and so if the DB stability

[2015-02-11 21:51] roman87 opened #420 "2 tests fail in windows, but not in linux"
[code]

[2015-02-11 21:53] roman87 commented on #420
I know why the second one fails. Probably not the best test if we assume something to be in the config file. But the first one should not time out.

[2015-02-11 21:58] luchia commented on #310
The current solution saves our user an extra click to be redirected to the same page. I will keep thinking about it.

[2015-02-11 21:59] luchia commented on #411
Looks good.

[2015-02-11 22:18] DinisCruz commented on #416
This is fixed on latest version

[2015-02-11 22:26] DinisCruz commented on #395
Let's do this on a fork of the content which we can use to make batch changes to content and then send it as a PR to serge

[2015-02-11 22:33] DinisCruz commented on #399
This is actually done, but coveralls is currently not working today!!!!

[2015-02-11 22:35] DinisCruz commented on #399
![image](https://cloud.githubusercontent.com/assets/656739/6158024/50d6b830-b23e-11e4-9b57-674c5a8c2c7e.png)

[2015-02-12 07:16] luchia commented on #418
I decided to put the placholder words into the label, which makes more sense. This has been done in the referenced commit.

![screen shot 2015-02-12 at 5 14 36 pm](https://cloud.githubusercontent.com/assets/4547737/6163210/b916c3e4-b2da-11e4-9595-a524b7abfaf6.png)

[2015-02-12 07:19] luchia commented on #414
This has been fixed.

![screen shot 2015-02-12 at 5 17 41 pm](https://cloud.githubusercontent.com/assets/4547737/6163257/482136a0-b2db-11e4-9d6c-6d40e3a81cb1.png)
![screen shot 2015-02-12 at 5 19 13 pm](https://cloud.githubusercontent.com/assets/4547737/6163258/48217ea8-b2db-11e4-8ff8-d851807821fb.png)

[2015-02-12 07:42] luchia commented on #356
Alright, I'm pretty sure I fixed it this time -

![screen shot 2015-02-12 at 5 19 46 pm](https://cloud.githubusercontent.com/assets/4547737/6163441/497f4d0e-b2de-11e4-8456-0fb2cc7f6e84.png)
![screen shot 2015-02-12 at 5 19 50 pm](https://cloud.githubusercontent.com/assets/4547737/6163442/49a5d1b8-b2de-11e4-888c-dc6e7f079124.png)
![screen shot 2015-02-12 at 5 19 52 pm](https://cloud.githubuserconte

[2015-02-12 08:37] DinisCruz commented on #420
I just fixed the 2nd one, it's the path differences between windows and osx

I think the first one could be caused by a permission issue in windows (that test starts the server, and in windows there are issues when opening ports from userland).

[2015-02-12 08:42] DinisCruz opened #421 "Specific search causes Express error"
Searching for **sdfasdf%3Casdf98y345£$%@$£^£$%&** (as in **http://localhost:1337/search?text=sdfasdf%3Casdf98y345£$%@$£^£$%&**) will cause an

Here is the error we get

[code]

The search UI handles it ok, but we need to find the root cause of this

![image](https://cloud.githubusercontent.com/assets/656739/6164102/fcf9b37a-b292-11e4-803c-a82ac5ec9550.png)

[2015-02-12 09:00] DinisCruz commented on #421
it looks like the prob is with **$%**

For example **http://localhost:1332/search/query_from_text_search/$%** results in:

![image](https://cloud.githubusercontent.com/assets/656739/6164245/24293720-b295-11e4-9438-76c568171ba0.png)

Seems to happen everywhere:

**http://localhost:1332/data/id/%24%25** works ok (with those values encoded)

![image](https://cloud.githubusercontent.com/assets/656739/

[2015-02-12 09:41] DinisCruz commented on #421
Here is a simple test that replicates the issue
[code]

Uncommenting the ```#console.error(err.stack)``` line will show the detailed stack trace:

![image](https://cloud.githubusercontent.com/assets/656739/6164865/191f1984-b29b-11e4-9b5d-708a8a66462a.png)

Looks like the error is happening inside the **decodeURIComponent** native EcmaScript.js function:

![image](https://cloud.githubusercontent.co

[2015-02-12 17:21] roman87 opened #422 "When TMDesign cannot communicate to TM3.5 Backend, login page, after login attempt does not display an error."
To replicate:
Change the line for _3_5_server  in .tm.config.json (located one directory below TMDesign) to something invalid.
Restart TMDesign
Try to login.

[2015-02-12 17:38] roman87 opened #423 "TM Design does not take the 3.5 backend server config value from .tm.config.json"
Currently the backend server value is taken from https://github.com/TeamMentor/TM_4_0_Design/blob/master/node/misc/Config.coffee#L11
it should be taken from .tm.config.json

[2015-02-12 17:50] michaelhidalgo commented on #419
Closing this as this other issue already cover for https://github.com/TeamMentor/TM_4_0_Design/issues/421

[2015-02-12 17:50] #419 closed

[2015-02-12 20:01] roman87 opened #424 "Numbers next to filters are out of line"
Browser size: 1135x707

![capture](https://cloud.githubusercontent.com/assets/1326120/6175822/f83de542-b2c7-11e4-8a02-d499e9cbe26f.PNG)

[2015-02-12 21:05] michaelhidalgo opened #425 "TEAM Mentor version is not displayed in the About page (in the footer)"
We have a unit test that verifies that TM version is displayed in the about page at the bottom (specifically in the footer) however, it seems like it was removed.

![screen shot 2015-02-12 at 3 05 04 pm](https://cloud.githubusercontent.com/assets/1732035/6176969/8b254f8a-b2c8-11e4-9743-606972a03ba4.png)

[2015-02-12 21:51] DinisCruz opened #426 "filters (on right) cannot be locked or the user can't access lower values"
![image](https://cloud.githubusercontent.com/assets/656739/6177783/37e6edb8-b301-11e4-9bc0-d0894f1ab0ea.png)

[2015-02-12 21:55] DinisCruz opened #427 "About image is not loading"
![image](https://cloud.githubusercontent.com/assets/656739/6177868/da6286f6-b301-11e4-8dc6-c4a76f25ca4e.png)

[2015-02-12 22:14] luchia commented on #426
Cool, that was something I was playing with the two-column layout. This has been fixed.

[2015-02-12 22:19] #416 closed

[2015-02-12 22:21] luchia commented on #425
[This has been fixed](https://github.com/TeamMentor/TM_4_0_Design/commit/27474ffe8d8cb0007f508b2288612cfb0229c213).

[2015-02-12 22:57] luchia commented on #427
Should be fixed now.

[2015-02-12 23:32] luchia commented on #424
So this issue relates to my work with #342 and has been fixed in the referenced commit.

[2015-02-13 01:32] luchia commented on #284
Status update - Almost finished this issue, just have the user pages left to do.

[2015-02-13 16:27] roman87 commented on #426
Looks like it was fixed. Dinis want to close this since I am not exactly sure what you mean by your description :)

[2015-02-13 16:29] roman87 commented on #425
Looks fixed. Michael, can you make sure the unit test passes and close this?

[2015-02-13 16:30] roman87 commented on #427
This is fixed.

[2015-02-13 16:30] #427 closed

[2015-02-13 16:36] roman87 opened #428 "Filter numbers still look a bit weird on longer text"
It feels a bit weird when the number is out of line with other numbers. Give it some more thought. Perhaps wrap the text and keep the number justified? Or maybe make the table a bit wider?

![selection_100](https://cloud.githubusercontent.com/assets/1326120/6190993/1f52085a-b374-11e4-90ef-2fa27cb5e15c.png)

[2015-02-13 16:38] roman87 commented on #424
This is fixed, but still a bit of an issue #428

[2015-02-13 16:38] #424 closed

[2015-02-13 16:49] roman87 commented on #409
Yep looks much better.

[2015-02-13 16:49] #409 closed

[2015-02-13 17:03] roman87 commented on #408
Looks much better now.

[2015-02-13 17:03] #408 closed

[2015-02-13 17:04] roman87 commented on #407
this is fixed.

[2015-02-13 17:04] #407 closed

[2015-02-13 17:06] roman87 commented on #406
Looks good now

[2015-02-13 17:06] #406 closed

[2015-02-13 17:07] roman87 commented on #404
As we all agreed, we don't need a button that duplicates the browser back button functionality. We will monitor user feedback for this.

[2015-02-13 17:10] roman87 commented on #403
This is fixed.

[2015-02-13 17:10] #403 closed

[2015-02-13 17:10] roman87 commented on #402
Looks good now.

[2015-02-13 17:10] #402 closed

[2015-02-13 18:01] roman87 commented on #394
@luchia can you try to duplicate this with the latest GraphDB? Here is one of the articles that looks bad:

http://localhost:1337/article/article-b15092e871fa

![selection_104](https://cloud.githubusercontent.com/assets/1326120/6192472/63da8e3c-b380-11e4-9a16-a9edcf2fac33.png)

[2015-02-13 18:23] roman87 commented on #382
All of the error messages are editable and configurable. Lets change the default ones to:
Login_PasswordDoNotMatch": "Wrong username or bad password",
    "UserNameDoNotExistErrorMessage": "Wrong username or bad password",

[2015-02-13 18:24] michaelhidalgo commented on #359
PR https://github.com/TeamMentor/TM_4_0_Design/pull/429/files
I'll add automation test for this case.

[2015-02-13 18:30] roman87 commented on #400
Making this a p1, since it is not really stopping anything.

[2015-02-13 18:32] roman87 commented on #375
This is fixed.

[2015-02-13 18:32] #375 closed

[2015-02-13 18:35] roman87 commented on #356
Not really :) still a problem here:

![selection_105](https://cloud.githubusercontent.com/assets/1326120/6192988/32f0c3b8-b385-11e4-9173-639be45690fb.png)

[2015-02-13 18:42] roman87 commented on #353
This is done.
https://uno-tmp1.teammentor.net/teamMentor

[2015-02-13 18:42] #353 closed

[2015-02-13 19:11] roman87 commented on #411
Closing.

[2015-02-13 19:11] #411 closed

[2015-02-13 20:05] roman87 commented on #395
Yep sound like a plan.

[2015-02-13 20:11] roman87 commented on #317
So far looks good. Performance is faster and haven't been able to crash the DB yet.