[2015-03-17 01:22] roman87 commented on #533
This is fixed.

[2015-03-17 01:22] #533 closed

[2015-03-17 01:34] luchia commented on #568
We could do this. I created a new branch Issue_568 and you can see what it looks like on there. If you like it, let me know and I will put it on the Lucy branch.

![screen shot 2015-03-17 at 8 33 44 am](https://cloud.githubusercontent.com/assets/4547737/6679821/583c673a-cc80-11e4-8b8e-90d184a1bff0.png)

[2015-03-17 01:36] luchia opened #576 "Build NEW navigation for Flare"
As per [my issue in What's Cookin](https://github.com/TeamMentor/WhatsCookin), I need to build what's in those sketches.

[2015-03-17 01:53] michaelhidalgo commented on #575
Really good point. We need to differentiate each title.

[2015-03-17 01:54] michaelhidalgo commented on #575
I'm assigning it to me to make sure we add unit test for it.

[2015-03-17 03:21] BendixSpring commented on #568
From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 9:34 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Should we - Number the list of articles in the displayed result set. (#568)

We could do this. I created a new branch Issue_568 and you can see what it looks like on there. If you like it, let me know and I will put it on the Lucy

[2015-03-17 03:23] BendixSpring commented on #568
The problem with putting numbers on the right side is that it is harder to read.

Since people read left to right, putting the number first allows them to quickly scan to see where they are at.

Example:

1.       Use SSL to Protect Communications

2.       Throttle Authentication attempts

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 9:34 PM
To: TeamMento

[2015-03-17 03:31] BendixSpring opened #577 "When Displaying Search Results, Display categories to distinguish between identically named articles"
Since displayed topics have similar titles and even similar text displayed, it is difficult for a user to know which to select:
![image](https://cloud.githubusercontent.com/assets/3578332/6680902/463c2fb2-cc34-11e4-9563-0b4c1cb06631.png)

If no filters are selected (or even when they are selected), display the categories (maybe in a smaller font underneath the article title) so that users can sele

[2015-03-17 04:19] luchia commented on #574
I was thinking that we should use some colours outside of the specific TM colour scheme. I came up with three different colours that are quite bold but easily identifiable (see below) -

![colours](https://cloud.githubusercontent.com/assets/4547737/6681303/d70e1944-cc96-11e4-9c7d-359dde3d4261.jpg)

We still have the green, which I think may be an issue as our green is a pretty prominent part of th

[2015-03-17 04:19] luchia commented on #574
@roman87 @michaelhidalgo @DinisCruz @tekgirl77

[2015-03-17 04:22] luchia commented on #564
Fixed :)

[2015-03-17 09:03] DinisCruz commented on #553
yeah, but that workflow (having to RDP) is not really a good one, specially since there isn't a live console view (due to the fact that node is running as a service)

A practical example of this inefficiencies is the workflow to debug (and fix) the http://beta.teammentor.net/poc/ bug

![image](https://cloud.githubusercontent.com/assets/656739/6683961/6eb56972-cc84-11e4-958b-a4b410fc8c77.png)

[2015-03-17 09:05] DinisCruz commented on #553
you are also massive underestimating how important it will be for the dev team (and operations) to have quick feedback on what is happening on the live server

Check out the posts at https://codeascraft.com/ for good examples of it (for example https://codeascraft.com/2011/02/15/measure-anything-measure-everything/ )

[2015-03-17 09:05] DinisCruz commented on #550
The code is not there, it is only on the branch

[2015-03-17 09:11] DinisCruz opened #578 "[Q] Enable LogEntries during unit test execution"
After looking at the multiple Logging SaaS services, LogEntires seems to be the one that has a 'live tail' feature (with the ability to apply rules and filters to it) which is a key feature (in order to have quasy-real-time feedback into what is going on)

So while we decide to enable https://github.com/TeamMentor/TM_4_0_Design/issues/550 on the beta.teammentor.net site, add support for LogEntries

[2015-03-17 09:17] DinisCruz commented on #577
Yeah, I like that idea, I remember a while back we're talking about also adding mini-logos for each technology (on each article)

@luchia we can do this as a poc page (I will add the article's metadata to the object you are using on this mixin : https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_mixins/search-mixins.jade#L119-L132 )

@roman although this will look better in Flare

[2015-03-17 09:20] DinisCruz commented on #575
@michaelhidalgo the title is here https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_mixins/globals.jade#L2-L3  and https://github.com/TeamMentor/TM_4_0_Design/blob/master/source/jade/_layouts/head.jade#L28

We will need to apply the same logic as what we do for the logged-in status, although we might want to use an extra variable (so that we have a default value to fall it, when

[2015-03-17 15:01] michaelhidalgo commented on #563
@tecknicaltom  @Zaxim @DinisCruz @roman87

I was playing with this issue this morning and I came out with a test case that I would like you to review : https://gist.github.com/michaelhidalgo/f46a49e941179ec63fe4

In order to validate TLD, Microsoft recommends this long RegEx.

[code]

My principal concern is to determine if this RegEx (and the Finite Automata) could lead to DoS. So I wrote this te

[2015-03-17 15:44] pjenney58 opened #579 "Landing Page"
I still don't understand why this is here:

![screen shot 2015-03-17 at 11 38 24 am](https://cloud.githubusercontent.com/assets/2352439/6690990/25b824a6-cc9a-11e4-91e4-7f36ce065772.png)

"Start your free trial" seems to indicate an eCommerce product and unless things have changed, it is not.

Is the product going to be available for trial on the public Internet?  Free trial and all the other marke

[2015-03-17 15:51] pjenney58 opened #580 "More Marketing?"
![screen shot 2015-03-17 at 11 45 13 am](https://cloud.githubusercontent.com/assets/2352439/6691235/dbd1e5e6-cc9b-11e4-8aeb-1d9c21dddc97.png)

The user already knows what the product is and what it does by this point.  This seems redundant marketing material and might be better used to point to other products and the license agreement.  Something like:

                    If you like TeamMentor,

[2015-03-17 16:01] pjenney58 opened #581 "I'm Lost"
![screen shot 2015-03-17 at 11 51 47 am](https://cloud.githubusercontent.com/assets/2352439/6691278/0df16bbe-cc9c-11e4-95c7-8d2c2c9ecc85.png)

This is a classic "Blinking Cursor" problem.  The user is dropped into an environment with no guidance at all what to do.  There's no navigation available, no hints on what's available to search for (except for the "Popular Search Terms"), no "Bubbles" that

[2015-03-17 16:16] pjenney58 opened #582 "Suggestions for a consolidated user experience"
It seems to me that a couple of changes could allow for a single point user experience and focus the users activities while providing flexibility:

![screen shot 2015-03-17 at 11 59 15 am - phj edits](https://cloud.githubusercontent.com/assets/2352439/6691816/305f58b6-cc9f-11e4-9a27-7f2838854496.png)

[2015-03-17 16:20] pjenney58 opened #583 "Can't multi-select filters"
I can't select multiple filters for some reason.  The standard keys one would use to do this have weird side effects like opening new tabs.   Clicking on individual items just replaces the filter,

[2015-03-17 16:22] pjenney58 opened #584 "No Objective C, but there is iOS ..."
The default Apple (iOS/OSX) programming environment is Objective C but its missing from the filter list.

[2015-03-17 16:26] pjenney58 opened #585 "Disappearing Selection Boxes"
The index and filter selection boxes scroll away leaving the user with a narrow article selection box only.  The boxes should stay in place so the user can a) have a reference to what the list consists of and b) have the ability to do things like add another filter or otherwise change the selected set without having to go back to the top of the screen.

![screen shot 2015-03-17 at 12 23 14 pm](htt

[2015-03-17 16:30] pjenney58 opened #586 "What the heck is Cassini?"
There's a reference to something called Cassini in the DOCS section but the usual description of what it is and where to get it are missing.

![screen shot 2015-03-17 at 12 28 33 pm](https://cloud.githubusercontent.com/assets/2352439/6692145/4cd1de2c-cca1-11e4-884a-cd8fddd971d9.png)

[2015-03-17 17:19] pjenney58 opened #587 "Update docs, explaining that while src code is available it is not for comercial purposes."
In the following document it mentions that the user can just go to GitHub and pull the latest version of TeamMentor.  If this is available only to licensed users fine, but it should NOT be an option for people doing a "Free Trial".

If it is going Open Source, we need to talk about OSS license types and terms.

![screen shot 2015-03-17 at 12 28 33 pm](https://cloud.githubusercontent.com/assets/235

[2015-03-17 17:35] pjenney58 opened #588 "Update the suppprt page with proper procedure"
The support section says - leave a message and we'll get back to you.  This is definitely not something we want to say to Charles Schwab, AIG, Symantec or any other potential TeamMentor user. What should probably be there is our SLA (available from Colin or Sandra).

![screen shot 2015-03-17 at 1 28 36 pm](https://cloud.githubusercontent.com/assets/2352439/6693553/25fb5fc2-ccaa-11e4-8369-9b8e013e9

[2015-03-17 17:38] pjenney58 opened #589 "How does someone not logged in read this message? Missing Graphic too."
![screen shot 2015-03-17 at 1 36 10 pm](https://cloud.githubusercontent.com/assets/2352439/6693617/a42e127c-ccaa-11e4-9a4b-ce89bb9fe9cc.png)

If they're logged in they've already done everything in the document, haven't they?

Also, there's a graphic of some sort missing from the bottom of the document.

[2015-03-17 17:41] pjenney58 opened #590 "System needs to be installed in order to read installation requirements ..."
The whole Installation section doesn't make sense as the system has to be installed in order to access it.

![screen shot 2015-03-17 at 1 39 15 pm](https://cloud.githubusercontent.com/assets/2352439/6693676/1bc72f62-ccab-11e4-96cb-59ba0699322d.png)

[2015-03-17 17:44] pjenney58 opened #591 "Lots of missing graphics ..."
The system is missing a lot of graphics, the below graphic is just a representative sample.

![screen shot 2015-03-17 at 1 41 57 pm](https://cloud.githubusercontent.com/assets/2352439/6693728/73a6a03c-ccab-11e4-983e-625314f0251e.png)

[2015-03-17 17:49] pjenney58 opened #592 "Two entries for Fortify ..."
Shouldn't everything be under the Fortify Installation heading?

![screen shot 2015-03-17 at 1 47 29 pm](https://cloud.githubusercontent.com/assets/2352439/6693836/3741b8ba-ccac-11e4-95d5-3d45e1778835.png)

[2015-03-17 18:03] DinisCruz commented on #587
open source is more than just having the code available.

As things stands TM code is available but it is covered by an commercial license so it can't be used in a commercial use without a paid license

[2015-03-17 18:10] DinisCruz opened #593 "broken help images on beta.teammentor.net"
First reported on https://github.com/TeamMentor/TM_4_0_Design/issues/589 the help images are not working on the beta.teammentor.net site

![image](https://cloud.githubusercontent.com/assets/656739/6694224/a592c646-ccd0-11e4-9815-c2cafd1265b3.png)

this is a weird because they are working locally

![image](https://cloud.githubusercontent.com/assets/656739/6694235/bb4ac222-ccd0-11e4-94d0-8801b5c869a

[2015-03-17 18:15] pjenney58 commented on #587
I understand that,  You may recall that I did the whole NTRU open source initiative and wrote the commercial license for all of our software products.  My point is that from the way the text in the DOC section reads, anyone can pull the code and we have no protection, especially if it’s offered to the “Free Trial” users.

Cheers!

pete.;1

---)-------------------------------------
Security Innovat

[2015-03-17 18:17] DinisCruz commented on #593
Here is what should happen

http://localhost:1337/Image/abc redirects to https://raw.githubusercontent.com/TMContent/Lib_Docs/master/_Images/abc

![image](https://cloud.githubusercontent.com/assets/656739/6694290/42b9d66c-ccd1-11e4-80e5-1e34ce1f9f44.png)

here is what is happening on beta.teammentor.net

![image](https://cloud.githubusercontent.com/assets/656739/6694301/52638fc2-ccd1-11e4-8fbe-122

[2015-03-17 18:33] roman87 commented on #565
@BendixSpring  I am still not sure I understand. Are you suggesting that the word Index is inappropriate for our taxonomy? Perhaps we should replace it with "Directory". Basically, we have organized our articles in a hierarchy of  subject matter categories. There is definitely room for improving the categories, but I think what you are suggesting is to get rid of the hierarchy?
As far as specific

[2015-03-17 19:03] BendixSpring commented on #565
The term “index” means “an alphabetical list of names, subjects, etc., with references to the places where they occur, typically found at the end of a book”.  So if you are going to call something an index, it should be a fairly complete listing of topics/terms.

A taxonomy connotes a structured classification of things.  For example:  https://business.yahoo.com/

From my perspective, the most imp

[2015-03-17 19:51] pjenney58 opened #594 "Missing code samples/examples ..."
Wandering through the guidance collection I see a lot of documents like this:

![screen shot 2015-03-17 at 3 25 07 pm](https://cloud.githubusercontent.com/assets/2352439/6695761/0e148914-ccba-11e4-8544-9ceb7ecd6ad2.png)

To me, the article seems incomplete without at least a code snippet from a real implementation.  When looking at the additional resources links, it's pretty much the same old MSDN

[2015-03-18 01:42] luchia commented on #574
As per our meeting this morning, @roman87 's feedback was that we should have three icons that represent the types of article and the filters div would act as the legend. My only concern with this approach is that it might look odd that we only have icons for the for 3 out of however many filters. Regardless, I agree that the legend should not be in the results container anymore because we now hav

[2015-03-18 02:22] luchia commented on #568
Sure, that makes sense. See below -

![screen shot 2015-03-18 at 8 51 25 am](https://cloud.githubusercontent.com/assets/4547737/6701492/f44fe690-cd4f-11e4-863b-62dfb7b63bb4.png)

I had another issue in mind ( #574 ) that uses the right hand side of the article. After doing this though, I've updated that issue with this positioning as well. Thanks for the input, you put me onto a good path with ano

[2015-03-18 02:27] luchia commented on #574
I referenced this issue on #568 because I think we should also consider following the position of what that issue has -

![screen shot 2015-03-18 at 9 16 41 am](https://cloud.githubusercontent.com/assets/4547737/6701493/fa42c180-cd4f-11e4-89f1-d2acfa943e0e.png)

And for reference, this is what it would look like together -

![screen shot 2015-03-18 at 9 19 30 am](https://cloud.githubusercontent.co

[2015-03-18 04:27] BendixSpring commented on #568
This looks good, but make sure the numbers increment.  Everything is showing #21!

:)

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Tuesday, March 17, 2015 10:22 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Should we - Number the list of articles in the displayed result set. (#568)

Sure, that makes sense. See below -

 <https://cloud.githubuserc

[2015-03-18 07:23] luchia commented on #568
Yeah, I know - I need Dinis to help me with that. It's just a POC now :)

[2015-03-18 10:39] DinisCruz opened #595 "Bug in GraphDB Service resolve_To_Ids method"
@luchia just had this bug

[code]

The solution is to do this

![image](https://cloud.githubusercontent.com/assets/656739/6707053/0da4c8b2-cd5b-11e4-8ff0-09acecf42416.png)

I will apply this as a patch to dev

[2015-03-18 14:16] DinisCruz commented on #595
Here is the test that replicates the issue

[code]

[2015-03-18 14:31] DinisCruz commented on #595
@lucy does that address the issue?

[2015-03-18 14:33] DinisCruz commented on #595
Since all QA tests are passing
![image](https://cloud.githubusercontent.com/assets/656739/6710891/910bec92-cd7b-11e4-827b-6f7c49434630.png)

I just pushed this as a hotfix to master (fix was done on dev)

[2015-03-18 14:54] DinisCruz commented on #472
with the latest push to both design and graph, the search is working

search for XSS

![image](https://cloud.githubusercontent.com/assets/656739/6711339/41c132fc-cd7e-11e4-84bd-bc5b6e57badb.png)

. further filtered by ASP.NET 3.5

![image](https://cloud.githubusercontent.com/assets/656739/6711351/64fca616-cd7e-11e4-83ce-0c3a8fcabf24.png)

and by design

![image](https://cloud.githubusercontent.com

[2015-03-18 14:55] DinisCruz commented on #472
@roman87 can we setup a QA server with only these branches?

[2015-03-18 14:56] BendixSpring commented on #472
Yes!  This far more useful this way.

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, March 18, 2015 10:54 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Need to have ability to select multiple filters (#472)

with the latest push to both design and graph, the search is working

search for XSS

 <https://cloud.githubusercontent.com/assets/656739/6

[2015-03-18 15:10] michaelhidalgo commented on #562
This issue is related to https://github.com/TeamMentor/TM_4_0_Design/issues/563, the idea is to fix them at the same time.

[2015-03-18 17:52] michaelhidalgo commented on #454
I'm currently working on this issue, however, it seems like when there are jade extends like this one :

[code]
There is not a HTTP GET performed to retrieve the page, so the router is not picking it up.

I'm trying to come up with another solution

[2015-03-18 18:03] tekgirl77 commented on #456
Tried proposed solution and updated notes @ https://github.com/Automattic/juice/issues/104#issuecomment-83099719

[2015-03-18 19:25] afollett opened #596 "Change default page after login to Index (Jade)"
After signing up and logging in, the landing page is the search page. This makes the site look very empty. It might be better to default to the index page which shows a lot of the content.

[2015-03-18 19:31] afollett opened #597 "Sign up Email adds a period to user name"
The signup email (Welcome to Teammentor)

adds a  period to my username like:

- Use your username : afollett.

Would be good to leave the period out like:

- Use your username : afollett

![email](https://cloud.githubusercontent.com/assets/4615837/6717561/947fd58e-cd6a-11e4-8dc6-b78f88f7c599.jpg)

[2015-03-18 19:36] afollett opened #598 "Change signature on email"
The initial sign up email is signed "Sent by Teammentor". Might be better to sign it "The TeamMentor Team" or something similar.

![team](https://cloud.githubusercontent.com/assets/4615837/6717644/5267dcc2-cd6b-11e4-9e02-6d8b2e4a85ad.jpg)

[2015-03-18 21:45] tekgirl77 commented on #456
Tested with their latest juice beta build and it still seems to have issues with using the absolute path.  Notes here @ https://github.com/Automattic/juice/issues/104#issuecomment-83192701

Will see what they come back with.

[2015-03-18 22:11] michaelhidalgo opened #599 "Article's Terms and Conditions link is broken"
If you open up this article http://beta.teammentor.net/article/2e69dab56cfa/All-Untrusted-Data-in-HTML-Contexts-Is-Escaped-in-JSF and scroll down to the footer copyright, you will see that the Terms and Conditions link is broken : It points to http://beta.teammentor.net/article/misc/terms-and-conditions

![screen shot 2015-03-18 at 4 14 20 pm](https://cloud.githubusercontent.com/assets/1732035/672

[2015-03-19 00:25] wwhyte-si opened #600 "Space bar scroll hides text behind the search bar"
When I scroll down using the space bar I would like the bottom line of the previous screen to scroll up to be immediately under the search bar -- i.e. so that I can see the last line of context from my previous view, followed by the next screenful of content.

However, the bottom line scrolls up further than that, it seems like it is going to the top of the search bar. This means that the search b

[2015-03-19 00:37] DinisCruz opened #601 "Minor fix to new PoC page filters-with-empty-results.jade"
@luchia can you fix the minor css issue with the https://github.com/TeamMentor/TM_4_0_Design/blob/Issue_472_Multiple_Filters/source/jade/__poc/filters/filters-with-empty-results.jade page

You can see the page in action if you check out the **Issue_472_Multiple_Filters** branch (on both TM_Design and TM_Graph), and open this page

http://localhost:1337/poc/filters-with-empty-results/query-847ac915

[2015-03-19 00:47] DinisCruz opened #602 "Fix PoC pages that need query data"
I just fixed a number of PoC that need graph data (in the view-mode) and were not working. The code is on Dev, and opening up the PoC page should shown something like this:

![image](https://cloud.githubusercontent.com/assets/656739/6722362/7dfd1036-cdd0-11e4-89ad-b9d1a6e369e9.png)

@luchia can you take a look at these and the source code, and see if it makes sense (there is an issue that explains

[2015-03-19 00:49] DinisCruz commented on #517
fixed on latest dev (I had to move and rename the jade file, so that it is in a location where it will be 'feed' the query data)

this page is now on **http://localhost:1337/poc/filters-results** and looks like this

![](https://cloud.githubusercontent.com/assets/656739/6722431/48619d88-cdd1-11e4-8b6d-d438f30bf5bf.png)

See https://github.com/TeamMentor/TM_4_0_Design/issues/602 for more details

[2015-03-19 00:50] DinisCruz commented on #517
@luchia btw, the error you were having (img bellow) was caused by mixing tabs and spaces

https://cloud.githubusercontent.com/assets/4547737/6587025/c812cc12-c7ca-11e4-92ad-dd30d0742da7.png

[2015-03-19 00:52] DinisCruz commented on #601
This is related to https://github.com/TeamMentor/TM_4_0_Design/issues/472

[2015-03-19 14:47] roman87 commented on #554
This was done

[2015-03-19 14:47] #554 closed

[2015-03-19 14:57] roman87 commented on #557
Bumping this to a P0, should be fairly easy to do and will add usability

[2015-03-19 15:08] roman87 commented on #565
Ok so let me try to break this up into couple of things here.

1. "The term “index” means “an alphabetical list of names, subjects, etc" - Once we are done with issue https://github.com/TeamMentor/TM_4_0_Design/issues/557. Will this then look like the Index? I assume it will correct?

2. "In a nutshell, the existing taxonomy is not detailed enough" - Could you open an issue in https://github.com/T

[2015-03-19 15:18] roman87 commented on #570
1 Vote goes for pages. Anyone else?

[2015-03-19 15:21] tekgirl77 commented on #492
@DinisCruz I have no data coming up at all @ http://localhost:1337/show/Guidance - it does not show in neither the QA/GraphDB nor GraphDB for me...

![screen shot 2015-03-19 at 9 08 59 am](https://cloud.githubusercontent.com/assets/6649463/6733681/48bfa606-ce19-11e4-97bc-f306e0172b61.png)

[2015-03-19 15:22] roman87 commented on #569
Ok makes sense. @tlaloc75 @luchia @SergeTruth @DinisCruz what do you think? I know Serge has a glossary list from TP courses. A static page should be fairly easy to do.

[2015-03-19 15:32] roman87 commented on #553
We need to be able to get into the habit of diagnosing the issues post mortem based on the logs. The work flow should be.
1. Get the logs.
2. Look at the logs and understand the problem
3. Replicate the problem on the local instance.
This is the only way we will be able to solve customer issues.

Regarding RDP here is how to get a console to view the logs:
1. RDP into the box
2. Open Git Bash shel

[2015-03-19 15:36] BendixSpring commented on #569
And to make the glossary even more useful, have links embedded in the glossary back to key articles.  (It’s another project, but something to consider.)

From: RomichG [mailto:notifications@github.com]
Sent: Thursday, March 19, 2015 11:23 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Add a Glossary for unfamiliar terms (#569)

Ok makes sense. @tlaloc75 <https://gith

[2015-03-19 15:38] roman87 commented on #550
Changing the priority to be on par with related issue: #553

[2015-03-19 15:52] roman87 commented on #579
Pete, yes, the product will be (and is available today www.teammentor.net) for a 30 day free trial. Any user can sign up. We have some customers that deploy their own instance, and we have some customers that simply use www.teammentor.net. The difference between those, is that customers that choose to modify content need to have their own instance.
Hope this makes sense. Let me know if I can close

[2015-03-19 15:55] roman87 commented on #580
Point taken. @si-lisa @tlaloc75 @luchia  What do you think?

[2015-03-19 16:05] pjenney58 commented on #579
A couple of questions come to mind.

How do we get the software back or make sure it's destroyed at 30 days? Do we have any capability to connect to a remote instance and destroy it?  Is the free trial crippled in any way that would entice a user to buy a license?

[2015-03-19 16:08] roman87 commented on #581
Thanks Pete. yes we have thought of the help button and a quick tutorial. This is a future requirement and is tracked here:
https://github.com/TeamMentor/Master/issues/912

As far as the search box on the top of the screen, this is also an existing issue, tracked here: https://github.com/TeamMentor/TM_4_0_Design/issues/576

I am going to keep this issue open so that I can get back to you when the

[2015-03-19 16:12] roman87 commented on #582
Thanks, this is actually tracked here: https://github.com/TeamMentor/TM_4_0_Design/issues/576
I will keep this open so I can get back to you when this is complete.

[2015-03-19 16:13] tekgirl77 commented on #570
How are the 250 articles chosen to be displayed; is it always the first 250 articles?  So the end-user would only ever see the same 250 articles pertaining to the same search query?  As an end-user, I would like the idea of knowing how many total articles are a hit on the relevant topic queried.  If there are 301, then I'd like to see 301 search results and know that I can try to filter it even mo

[2015-03-19 16:14] BendixSpring commented on #565
I found this in wikipedia:

Subject indexing is the act of describing or  <http://en.wikipedia.org/wiki/Document_classification> classifying a  <http://en.wikipedia.org/wiki/Document> document by  <http://en.wikipedia.org/wiki/Keyword_%28search%29> index terms or other symbols in order to indicate what the document is  <http://en.wikipedia.org/wiki/Aboutness> about, to summarize its  <http://en.wi

[2015-03-19 17:23] roman87 commented on #579
Probably I didnt make myself clear. We do not provide the software for installation. We let users register on our www.teammentor.com website that we host. At the end of 30 days the account expires and the user cant login anymore.
Makes sense?

[2015-03-19 17:31] pjenney58 commented on #579
Hi Roman,

That makes more sense.  From the help system it looks like anyone can download it from GitHub and install, it and then do whatever they’d like.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman, CCO, PMO

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-19 17:34] roman87 commented on #584
The technology is in fact iOS. While it is true that objective C its more specific there articles are geared for someone developing in a mobile platform.  Which makes IOS more appripriate. Anyone else agree/disagree?

[2015-03-19 17:38] roman87 commented on #585
This is a known issue. And will be fixed in thr nect version.

[2015-03-19 17:44] roman87 commented on #586
Honestly, if the user does not know what it is then they will really have no need in following the dociment:) But it will be taken out in the new version of docs as it is no lnoger relevant.

[2015-03-19 17:53] roman87 commented on #587
There its a licence file that its pulled with the code. It is our generic license file. That should provide the protection you are referring to. Let me know if there its something we need to change. One option would be to reword the doc page to say something like - you can look and contribute to the code. Its comercial use is subject to proper licensing.

[2015-03-19 17:59] roman87 commented on #588
Yea good catch. I will follow up

[2015-03-19 18:11] roman87 commented on #589
These doc pages are available to non logged in users. Just hit Docs on the navbar.
Let me know if we can close this.

[2015-03-19 18:15] roman87 commented on #591
Yes this is a weird one. This ia the same as #593

[2015-03-19 18:18] roman87 commented on #590
That is a good point. The info will still be available on docs.teammentor.net www.teammentor.net. We can also print it as part of thr welcome package.

[2015-03-19 18:19] roman87 commented on #590
Let me know if I can close this one.

[2015-03-19 18:22] roman87 commented on #592
No since Fortify SCA and Fortify Eclipse are two different products we integrate with.

Let me know if I can close this one.

[2015-03-19 18:26] roman87 commented on #594
Yes we try to add s many code samples as possible. I will follow up to out the .NeT article code sames on the road map.

[2015-03-19 18:39] michaelhidalgo commented on #454
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/603

[2015-03-19 18:44] pjenney58 commented on #584
I guess my issue is that there are articles fro C++, Java and a host of others, but no Objective C, which is the de-facto standard for iOS development.  To that, there’s Android and its de-facto language, Java and it would make sense to have the OC in there too.  Is it just a lack of content issue?

I also noticed and meant to drop a note on it, that there doesn’t seem to be a C filter at all.  We

[2015-03-19 18:46] pjenney58 commented on #586
Thats fine.  My point wasn’t so much the value of it, but that typically when one references a third party technology that can be used, there’s a section that points to the source site where the user can go to download  and/or get additional information.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman, CCO,

[2015-03-19 18:49] pjenney58 commented on #587
That would be good language to consider.  We really need to make sure that folks know that this is a real commercial product with source code available and not something they can just download and use as they please.

To that, we could also consider a checkbox at the initial login that states that logging in accepts the license agreement , and put a link to it for them to open and read.  If they d

[2015-03-19 18:52] pjenney58 commented on #589
OK, that makes sense but I think there should be a scrubbing exercise to make certain documents unavailable to outside viewers e.g. downloading source code, and that the stuff that talks about how to install the server should be moved to a read.me or something.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

[2015-03-19 18:55] pjenney58 commented on #592
I had no idea they were different and it makes sense.  Might it make sense to roll the two different products up under a single Fortify heading to clarify the issue?

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman, CCO, PMO

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-19 18:56] pjenney58 commented on #594
Great.  I believe the more the better:-)

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman, CCO, PMO

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-19 19:01] michaelhidalgo opened #604 "Simultaneous searches leads to a database lock/in use"
If you are searching for SQL Injection, and press the search button several times (4 or 5) at the same time, you will come up with the search not being performed.

When you look at the logs, there is an entry that states that the GraphDb in in use. I also reproduce it in the beta site :

Note that the simultaneous request where performed at the same time :

![screen shot 2015-03-19 at 12 59 19 pm]

[2015-03-19 19:55] michaelhidalgo commented on #504
This is related to https://github.com/TeamMentor/TM_4_0_Design/issues/604

[2015-03-19 21:24] DinisCruz commented on #604
Yeah, It's time to sort this out.

I'm going to add a 'retry' step which will try to 'open' the db a coupe times before 'giving up'

[2015-03-19 22:16] DinisCruz commented on #472
Since this seems to be working ok, I'm moving into dev for further tests

[2015-03-19 22:44] DinisCruz commented on #456
ok cool, btw, if we can't get this to work, we could try another CSS Inline api

[2015-03-19 22:46] tekgirl77 commented on #456
I was thinking that too... we'll give them a bit to see if they come back
with a fix first, since they seem so close to having this working and have
been pretty responsive.

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Thu, Mar 19, 2015 at 4:44 PM, Dinis Cruz <notifications@github.com>
wrote:

[2015-03-19 23:21] DinisCruz commented on #472
@roman87 all green and read for last pass of QA

![image](https://cloud.githubusercontent.com/assets/656739/6743165/7874451c-ce8e-11e4-8dc7-4baaa17f3fbb.png)

[2015-03-19 23:21] DinisCruz commented on #504
@michaelhidalgo look at these json files for that full list of mappings

![image](https://cloud.githubusercontent.com/assets/656739/6743180/a748f45a-ce8e-11e4-94de-da55cfa62646.png)

[2015-03-19 23:22] DinisCruz commented on #504
also can you trigger this these tests from a mocha test? It might be better to put it on a separate batch of tests

[2015-03-19 23:41] DinisCruz commented on #584
from a graph point of view the query 'Objective C' should contain the 'iOS' query (or the other way around)

[2015-03-20 00:34] roman87 commented on #583
This is actually a known issue https://github.com/TeamMentor/TM_4_0_Design/issues/472
and should be fixed in next beta, coming out on monday.

[2015-03-20 00:38] roman87 commented on #584
I will raise the "Objective C" content to be put on the roadmap. However, I don't think we had any specific customer requests for it. Same goes for C. I think this is more a matter of demand and we just haven't seen that much demand for C. But I will put both of them on the backlog for content.

[2015-03-20 00:40] roman87 commented on #560
This will be fixed with https://github.com/TeamMentor/TM_4_0_Design/issues/576.

[2015-03-20 00:46] roman87 commented on #577
The only time the article titles are duplicated is when the technologies are different. So I think we should display a little icon for each technology next to the title. @luchia as we discussed, you came up with a bunch of technology items for article de-dupe in flare, lets see if we can reuse those.

This is related to:  https://github.com/TeamMentor/TM_4_0_Design/issues/574 and #568

[2015-03-20 00:57] roman87 commented on #568
Looks good, lets make it all work together with #577 and #574

[2015-03-20 01:05] roman87 commented on #592
That is actually a limitation on the UI of the old docs.teammentor.net. While we haven't moved it completely over to 4.0 we can't make that change, but good point I will make that change in the future.

[2015-03-20 01:10] roman87 commented on #589
Hmm.. I really am not sure if scrubbing install documentation and how do download src code will help. It is if anything  - security by obscurity :). Also, I am not sure if I mentioned, but all of our content is not available for download. Basically the only source code someone can download is the TM engine itself. Without content it is basically useless.

[2015-03-20 01:15] roman87 commented on #587
Ok I will change the language in the docs  a bit. As far as the check box, we do have a statement there

![selection_159](https://cloud.githubusercontent.com/assets/1326120/6744231/ed032ca2-ce7c-11e4-86de-acc89b59fae0.png)

Disabling the login button, I feel, will introduce too much red tape, will not really buy as anything, and will turn away potential users. We want as many people to sign up for

[2015-03-20 01:22] roman87 commented on #586
Ah ok. Makes sense. Anyways, it will be removed.

[2015-03-20 01:23] roman87 commented on #579
Yep, I will update the docs. As this is tracked elsewhere I am closing this issue.

[2015-03-20 01:23] #579 closed

[2015-03-20 01:33] pjenney58 commented on #583
Yay :-)

Seriously,  you don't need to respond to every comment Roman.  I just
operate on stream of consciousness when it comes to testing.  I put myself
into DFU and savvy developer mode at random and sometimes there's value in
my comments and sometimes not.

Its enough for me to be asked to comment and contribute.  That said I'm
happy to engage in constructive dialog.

Cheers!

pete.;1

*---)---

[2015-03-20 01:41] pjenney58 commented on #587
Hi Roman,

Potential users in our current context are really individuals in
organizations that have already bought the product for the most part.  We
license the software in bulk, not per single user.  The Trial Users we
would be servicing in this model are actually evaluators from an
organization looking at the product, and probably already in touch with our
sales folk, no?

Cheers!

pete.;1

*--

[2015-03-20 01:56] roman87 commented on #563
I've looked at the regex, and it does seem like it is pretty ugly it is just lots of conditionals make it so. So it looks ok. The other question though is why don't you follow the note in the guidance

Instead of using a regular expression to validate an email address, you can use the System.Net.Mail.MailAddress class. To determine whether an email address is valid, pass the email address to the M

[2015-03-20 02:06] roman87 opened #605 "Each selected filter should have its own badge."
right now filters are just added to the badge.

![selection_161](https://cloud.githubusercontent.com/assets/1326120/6744797/270567b0-ce84-11e4-9a51-39ac4eec5be0.png)

[2015-03-20 02:53] michaelhidalgo commented on #563
That is a really good point, System.Net.Mail.MailAddress should support
TLDs althought I'm not sure if it does support unicode TLDs, let me give it
a try.

2015-03-19 19:56 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courage

[2015-03-20 13:53] DinisCruz commented on #605
@roman87 can you take a look at the code in [Issue_605_Filters_Badges](https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_605_Filters_Badges) branch (the GraphDB should stay on master)

This is what it looks like

**On Index**

[2015-03-20 13:57] DinisCruz commented on #605
I just pushed a little fix that adds a space between badges (which looks better)

![image](https://cloud.githubusercontent.com/assets/656739/6752758/fb18ed86-cf08-11e4-8c79-650c1fee7fe1.png)

[2015-03-20 13:58] DinisCruz opened #606 "[Q] Add unit tests for Multiple Badges feature (on both design and QA)"
As seen on branch https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_605_Filters_Badges and on issue https://github.com/TeamMentor/TM_4_0_Design/issues/605

[2015-03-20 14:16] michaelhidalgo commented on #605
It looks really nice!

[2015-03-20 14:38] michaelhidalgo commented on #563
It seems like System.Net.Mail.MailAddress works quite well.

Here are few unit test I wrote to validate email address :

[code]

[2015-03-20 16:43] michaelhidalgo opened #607 "Inconsistency between backend and UI length checks for email address"
Currently the backend API validates that the email address is not longer than 50 characters, however, the UI allows to enter 256 characters in the textbox (maxlength), so there is an inconsistency.

Q1 : Should we limit the UI to allow entering 50 characters or should we allow the backend to support 256 characters?

Q2: Also for length, format and null checks for the email address, we are using th

[2015-03-20 17:10] michaelhidalgo commented on #607
@DinisCruz  what do you think :)

[2015-03-20 18:16] michaelhidalgo commented on #551
With Pull request https://github.com/TeamMentor/TM_4_0_Design/pull/608

[2015-03-20 20:07] roman87 commented on #605
Looks like I am having some issues with the filters aligning:
![selection_162](https://cloud.githubusercontent.com/assets/1326120/6760016/3a28250c-cf1b-11e4-89af-db6e21d1b5a4.png)

[2015-03-20 20:11] roman87 commented on #605
@luchia can you take a look.

[2015-03-21 11:03] DinisCruz commented on #583
@pjenney58 keep the comments coming, our logic is that either you are raising a new question/issue/idea that we need to take into account, or that you are touching something have covered before in another issue.

Either way the github issues becomes a nice way to have a constructive dialog between the multiple parties :)

[2015-03-21 11:07] DinisCruz commented on #605
@luchia the code that needs the ui fix is the one at https://github.com/TeamMentor/TM_4_0_Design/blob/Issue_472_Multiple_Filters/source/jade/_mixins/search-mixins.jade#L140-L163

[code]

[2015-03-22 11:48] luchia commented on #580
I mentioned this on an issue a few weeks ago saying something similar. I think it's a good idea but I want Marketing to look over or create the copy that will be replacing it.

[2015-03-22 13:38] luchia commented on #595
It has fixed the issue, but now I'm not able to see the contents on the page. I can't remember how we fixed this last time?

![screen shot 2015-03-22 at 9 38 02 pm](https://cloud.githubusercontent.com/assets/4547737/6769557/c43516d0-d0db-11e4-9a3e-8749d49a6c99.png)

[2015-03-22 13:47] luchia commented on #517
Hey @roman87, this is done and can be seen on the POC page (filters-result).

[2015-03-22 18:23] roman87 commented on #469
Well, an easy direct link to an article title is still something we need to support as it is a requirement for
https://github.com/TeamMentor/Master/issues/879
And specifically:
https://github.com/TeamMentor/Master/issues/375
https://github.com/TeamMentor/Master/issues/878

[2015-03-22 18:25] roman87 commented on #469
I am going to move this to Sprint 3 though as this is something we can do later.

[2015-03-22 18:29] roman87 commented on #564
Perhaps you should make it underlined, so it is clear its a link? I can't tell its a link unless I mouse over.

[2015-03-22 18:34] roman87 commented on #599
Making this a P0, since its pretty bad to have broken links.

[2015-03-22 18:36] DinisCruz commented on #607
Q1: if the idea to support 250 chars for email then the back end should do it (is 250 really a valid email size???)
Q2: yeah, if we can we should provide info about the size of the email being a prob

[2015-03-22 18:38] roman87 commented on #598
This is actually configurable in the backend. @michaelhidalgo can we change the default?

[2015-03-22 18:39] roman87 commented on #597
Good catch.   we should remove the period.

[2015-03-22 18:41] roman87 commented on #596
Thanks for this. We did discuss it at length before. The idea is to push users towards searching. Index is just there in case someone wants to look through our content.  In the future however, there will be a search bar on all the pages.
I am happy do discuss this again though.

[2015-03-22 18:46] roman87 commented on #600
Thanks. Yes very good point. This will be fixed in the Flare (JS) version. For this version this will probably need to be a known limitation, at least for the time being. I will follow up with you when it is fixed.

[2015-03-22 18:52] roman87 commented on #569
cool. Ok,  I will move it into sprint 4 for now. Unless anyone feels this needs more urgency.

[2015-03-22 18:53] wwhyte-si commented on #600
Thanks!

- sent from my phone
On Mar 22, 2015 1:46 PM, "RomichG" <notifications@github.com> wrote:

[2015-03-22 18:55] roman87 commented on #570
@tekgirl77  you actually see how many articles are there in total. It says (showing 250 out of N) articles.

Ok 2 votes for pages.

[2015-03-22 18:58] roman87 commented on #565
Ok thanks. I am closing this issue unless you feel we haven't came up with a solution in the issues linked to above.

[2015-03-22 18:58] #565 closed

[2015-03-22 19:03] roman87 commented on #454
Looks good, closing.

[2015-03-22 19:03] #454 closed

[2015-03-22 19:10] roman87 commented on #587
That is a bit the other way around. The trial users are actually users not at all in touch with our sales team. These are users that have heard of TM, were sent a link to TM, googled for TM etc, basically have somehow found out about TM and now want to see what it is. These are users that (the idea is) would fall in love with TM, and request their management to get in touch with our sales team.

M

[2015-03-22 19:16] roman87 commented on #563
Looks good.  Technically you can get a full list of TLDs here:
https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains

[2015-03-22 19:30] roman87 commented on #583
I also feel its important for me to keep the loop closed with a resolution of some sorts for every issue. Otherwise we may miss an important idea, or leave some misunderstanding on the "users'" part, that will grow into an issue later on. Besides, its just good customer service :)
Anyways keep the ideas flowing.

[2015-03-22 19:37] roman87 commented on #595
Works fine for me :) try to hit "Index" what do you see?

[2015-03-22 19:41] pjenney58 commented on #587
The fact that there's no eComerce opportunity kind of limits things in general. As mentioned before, most users are going to be those whose company has purchased Team Acadamy and have access to TeamMentor and being offered, with the hope of being internalized.  These folks would not generally be receptive to offers or other perks unless their company decreed it.

Just say'in.

[2015-03-22 19:43] roman87 commented on #517
Hmm. ok but the page does not actually show search results as this issue describes :)

[2015-03-22 19:52] roman87 commented on #607
Q1. I thought that 250 was a system wide limit we set for everything. Lets keep it simple and set that as the global limit on the server. In flare we can actually limit it to 50 chars on the UI.

Q2. If this is a global limit, then maybe a generic error - your input exceeds an allowed amount of characters would be better. If anyone puts more than 250 char email size, they don't deserve a friendly

[2015-03-22 19:56] roman87 commented on #587
The hope is to change that :) And bring new business in through the site.

[2015-03-22 22:02] DinisCruz commented on #571
This is now working on the latest dev, should be on the live beta soon

[2015-03-22 22:11] pjenney58 commented on #587
So I need to look again, apologies for being lazy, but are there purchase options presented to the "free trial user" during the evaluation? For example, is there a footer or header on each document pointing the user to a Security Innovation Sales Person who can formalize the deal?  It's as important as providing quality evaluation content to give the evaluator someone to give their money to.

p

[2015-03-22 22:12] pjenney58 commented on #587
From Jerry Maguire:  "Show me the money, {wiggle and jump}, Show me the money!" :-)

[2015-03-22 22:33] pjenney58 opened #609 "SCRUM Stages?"
I'm not a big SCRUM fan (it takes leather balls to play rugby) but I'm thinking it might make sense to include an AGILE section to the overall content.  This would pave the way to tool recommendations etc.  At least during the "Free Trial Period."

[2015-03-22 22:34] DinisCruz commented on #568
@luchia for these PoC to work dynamically you need put them in the **filters** folder and the name of the file needs to start with **filters-**:

I just made the changes, and the files for this poc need to be here:

![image](https://cloud.githubusercontent.com/assets/656739/6771782/0c1971ca-d0e2-11e4-8fe9-ebfd9897e35d.png)

See this commit I just pushed the your **Issue_568** branch: https://githu

[2015-03-22 22:58] pjenney58 opened #610 "No specific C security documentation"
I believe I've embedded this in some other report but it deserves to be brought to the top.  Some background so you don't 'bozo' me out of the gate. I'm a trained SW engineer and primarily write device drivers in C.  I wrote the first commercial SCSI CD-R burning software on the market (Dataware Technologies CD Record) and recently wrote some ultra cool whitelisting device drivers for Windows and

[2015-03-22 23:10] luchia commented on #574
I just merged this to my branch. It has it's own POC page.

I tried different positioning for the icons in the filters div and one of the ones that you suggested Roman looks like this -

![screen shot 2015-03-22 at 7 05 45 pm](https://cloud.githubusercontent.com/assets/4547737/6769208/09822e84-d0c4-11e4-92a9-ed66966e72fa.png)

Or this -

![screen shot 2015-03-22 at 7 09 57 pm](https://cloud.github

[2015-03-22 23:18] pjenney58 opened #611 "C/C++ is not exclusively Windows, hence we need more real world examples"
This is a general comment regarding our eGuidance and eLearning offerings.  We seem to be overly focused on Windows code and this represents only a portion of the real C/C+ work going on out there.  I can quote usage statistics al day long but everyone knows that Linux and other RTOS environments comprise a huge share of the "real" code space in the non-desktop world.

{Open to arguments on this,

[2015-03-22 23:25] DinisCruz commented on #609
You mean adding content about SCRUM and how security should fit within a SCRUM/AGILE development environment?

[2015-03-22 23:27] pjenney58 opened #612 "eLearning SME's and eGuidance SME's Need to Sync Up"
The title says a lot.  I've been through a good deal of the available content in both areas and have found that there's not a great deal of synchronicity.  The original TM goal was to provide guidance and on-demand training, and it would be really cool if it all lined up.

[2015-03-22 23:28] pjenney58 commented on #609
Ya sure you betcha ...  That's Minnesotan for YES :-)

[2015-03-22 23:33] pjenney58 opened #613 "Industry Specific Index Items"
The current index list just calls out security issues in general.  Ignoring compliance issues, there are specific areas in industry where problems are most prevalent.  Java issues for Finance/Banking, C/C++ issues for IoT/embedded, PHP issues for, well, other folk, .. etc.  It might make sense to separate the primary index, perhaps providing "Compliance or Implementation" views?

[2015-03-22 23:40] DinisCruz opened #614 "Current search title is not wrapping"
@luchia can you take a look at the code on your **lucy** branch (I just updated it with the latest merges)

The top-right title is not wrapping

![image](https://cloud.githubusercontent.com/assets/656739/6772116/d61aad7c-d0ec-11e4-8198-62b91c569e07.png)

[2015-03-22 23:47] DinisCruz commented on #605
@luchia can you reapply your commit (or re-apply the css changes) to the commit that is currently on your **lucy** branch?

That branch you did the changes (Issue_605_Filters_Badges) was already out of date with your latests changes, and when I merged your fix I had a conflict with previous changes you did

[2015-03-22 23:51] DinisCruz commented on #605
For reference I just tried to apply your https://github.com/TeamMentor/TM_4_0_Design/commit/5e07014a77831f5d3a57795e8ca542008a027c71 commit just as a patch (to latest **dev** / **lucy** branch) and had this conflict

![image](https://cloud.githubusercontent.com/assets/656739/6772151/46a1e582-d0ee-11e4-8c13-8ad0f120325f.png)

[2015-03-22 23:52] DinisCruz commented on #607
note that we can put a 50 char limit on the Jade too, but it will only be enforced on newer browsers

[2015-03-22 23:53] DinisCruz commented on #609
ok, then content requests/comments should go on the https://github.com/TMContent/Lib_UNO/issues repo

this one is mainly for code and design changes/issues

[2015-03-22 23:56] DinisCruz commented on #517
you mean the search scores? humm, how is this supposed to work?

Is this just for PoC or will the users see this on both index and search views?

[2015-03-23 00:43] luchia commented on #568
Yeah, I know @DinisCruz - I did this all offline yesterday and didn't get a chance to read your other issue.

I've merged into the Lucy branch and made it apart of the #574 poc page as it relates. I will finish #577 before assigning for QA, as they are all similar issues.

![screen shot 2015-03-22 at 7 23 14 pm](https://cloud.githubusercontent.com/assets/4547737/6769215/31fef75c-d0c4-11e4-9275-1e4

[2015-03-23 01:13] michaelhidalgo opened #615 "TM article redirection is not happening upon login"
If somebody shares with you a TEAM Mentor article like this http://beta.teammentor.net/article/f5a6ef898038/Prepared-Statements-Are-Used-for-Data-Access and you are not logged in ithe system, TEAM Mentor challenges you to enter the login and password which is just fine.

However upon login, you are not redirected to the article you requested in the first place. We should be able to support that re

[2015-03-23 01:21] luchia commented on #599
The way it's written in the code is correct -

![screen shot 2015-03-22 at 5 21 23 pm](https://cloud.githubusercontent.com/assets/4547737/6772647/eac2d3d4-d13d-11e4-888f-9a41078f2353.png)

Is this a routing thing @Dinis or is it something I can do?

[2015-03-23 01:23] DinisCruz opened #616 "Support 'invert mode' or 'black ui' for article reading"
Reading an article (like the one shown below) at night is quite hard since there is too much white.

It would be really good if there was a way to switch theme and have a black background (now common of Dev's IDEs)

![image](https://cloud.githubusercontent.com/assets/656739/6772649/e5bedc54-d0fa-11e4-990e-a32b8d544d4b.png)

[2015-03-23 02:22] luchia commented on #602
Yeah, that makes sense. Assigning to Michael to follow up.

[2015-03-23 02:27] luchia commented on #595
The blank screen in my last post.

[2015-03-23 02:36] michaelhidalgo commented on #607
thanks It makes sense!

[2015-03-23 02:43] luchia commented on #577
Yes, this has been done in Flare and now has been added to Jade in the icons directory of the POC page. An image has been attached below, you can change the icon by changing the class affecting it.

![screen shot 2015-03-22 at 11 15 53 pm](https://cloud.githubusercontent.com/assets/4547737/6772655/039a9f04-d13e-11e4-894f-39ec0129535d.png)
![screen shot 2015-03-22 at 11 18 50 pm](https://cloud.gith

[2015-03-23 02:55] luchia commented on #564
Sure, I applied it to all links within #landing-page which covers a number of pages -

![screen shot 2015-03-23 at 12 53 22 pm](https://cloud.githubusercontent.com/assets/4547737/6773344/c863e81e-d15b-11e4-85b1-ccdc5b30b770.png)
![screen shot 2015-03-23 at 12 53 53 pm](https://cloud.githubusercontent.com/assets/4547737/6773345/c8680304-d15b-11e4-996a-76fc033e7350.png)
![screen shot 2015-03-23 at 1

[2015-03-23 03:23] luchia commented on #615
Good pick up :)

[2015-03-23 04:07] BendixSpring commented on #577
As a courtesy to the user, can you make a popup that says what the category is when the user mouses over the icon?

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Sunday, March 22, 2015 10:43 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] When Displaying Search Results, Display categories to distinguish between identically named articles (#577)

Yes,

[2015-03-23 09:48] DinisCruz opened #617 "Split the design into it's own repo"
now that we have mature code bases on TM_Design's code and design, and we are working from branches, we need to split the code and design into its own repo  (my thinking is that we can keep the design in the current repo and I'll move the node code it a separate one)

This will help to:
-  prevent issues like this https://github.com/TeamMentor/TM_4_0_Design/commit/b35e95d733c76f177d24d9b9dbe89d6d4

[2015-03-23 11:47] pjenney58 commented on #609
Hi Dinis,

That page gives a 404.  Any other place to look?

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman, CCO, PMO

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-23 13:16] SI-Lisa commented on #580
I think adding some marketing copy here is a great idea. I will assign someone from Marketing to take a look and build upon what Pete had suggested.

[2015-03-23 13:48] DinisCruz commented on #609
That means you don't have privs to access it

I just sent you an invitation

![image](https://cloud.githubusercontent.com/assets/656739/6781148/44ec0dec-d163-11e4-93ee-7fa4ece8ab4d.png)

Hopefully that will do the trick

[2015-03-23 14:17] roman87 commented on #587
Not in this version. In the future version we will have an "alert" system that will nudge the user for things.

[2015-03-23 14:24] roman87 commented on #610
Pete, awesome! I agree. Now C is a huge language. When we put C on the road map, should we focus on anything specific? For example should we focus on  Embedded Systems, IoT systems, automotive? Once you had a chance to answer could you open a corresponding issue (One per set of guidance) here: https://github.com/TMContent/Lib_UNO/issues
This is where we manage our content related issues.

Thanks.

[2015-03-23 14:34] michaelhidalgo commented on #607
Closing it as the question was responded.

[2015-03-23 14:34] #607 closed

[2015-03-23 14:35] michaelhidalgo commented on #562
Related to https://github.com/TeamMentor/TM_4_0_Design/issues/607

[2015-03-23 14:45] roman87 commented on #574
So couple of things
1. Where is the POC page?
2. I am not sure we need Icons for "Phase". We need icons for Technologies, representing a technology and we need icons for article types. That is why I suggested putting the icons on the right of the Word and to the left of the number.  i.e. "C++" (Icon)        "number"
3. You should pull the latest Lib_Uno library, as it has less technologies.

[2015-03-23 14:48] roman87 commented on #611
No arguments on this one. Can you open issues on Specific items you would like to see more guidance on in https://github.com/TMContent/Lib_UNO/issues
:)
Thanks.

[2015-03-23 15:00] roman87 commented on #612
That is a great comment. We are working on this, and I will definitely have more conversations on this with @SandraPaivaSI and @SergeTruth

But I will close this one as it is not really actionable unit of work :)

[2015-03-23 15:00] #612 closed

[2015-03-23 15:06] roman87 commented on #613
Basically what you are saying is that it maybe a good idea to have an 'Industry" filter. i.e. someone chooses that they are in Finance and they get articles that are only related to finance. or Embeded filter and they get articles only related to "embeded"

[2015-03-23 15:09] roman87 commented on #614
Ugh, nasty. @michaelhidalgo  do you think we can have a unit test for this one?

[2015-03-23 15:12] roman87 commented on #517
Well yes, this was the point of the issue :) This is just for the POC, so we can see what the search score was for the article. We can just fit the score and the breakdown below the title. It doesn't need to be aesthetic, just functional.
Makes sense?

[2015-03-23 15:24] roman87 commented on #616
Yea this is related to https://github.com/TeamMentor/Master/issues/930. I updated the issue with this request.

[2015-03-23 15:33] roman87 commented on #564
Where is the branch for this fix?

[2015-03-23 15:39] roman87 commented on #615
Yea good one. I will keep it at P1 for Sprint 3. We should fix it first thing after the release

[2015-03-23 15:42] roman87 commented on #577
We can't have that curtesy in Jade. No JS in Jade. The icons will be displayed next to the filter.

[2015-03-23 15:44] roman87 commented on #617
Again, as we agreed, Quality type can only be used for a "Taster" issue types.  This is not a quality issue but a task, that needs to be scheduled and prioritized.

[2015-03-23 15:46] roman87 commented on #617
We should do this first thing after the release.

[2015-03-23 15:49] roman87 commented on #580
Great, thanks. Can you then update this issue. I am going to change the title to reflect exactly what need to be done and assign to you.

[2015-03-23 15:55] pjenney58 commented on #609
Got it.  I'll start using it ...

[2015-03-23 15:56] roman87 commented on #609
Also Pete, now that you are adding lots of issues, which is awesome, it would really help us greatly if you structure them according to the top paragraph here: https://github.com/TeamMentor/TM_4_0_Design/wiki/GitHub-Issues-Definitions

I know its a bit of a burden, but I think it really helps to understand exactly what needs to be done and organize them accordingly.  Don't worry about priorities e

[2015-03-23 15:56] #609 closed

[2015-03-23 15:58] roman87 commented on #607
Actually for flare, it would be cool to specifically make the limit on the UI lower than system wide limit. and if system wide limit was hit, we know that someone is not using a browser. Then we can throw an error message like - nice try, use this article on how to do input validation on both server and browser side :)

[2015-03-23 16:00] michaelhidalgo commented on #607
Yeah :) I like that approach :)

2015-03-23 9:58 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-03-23 16:04] BendixSpring commented on #577
You can't have a tooltip display what the icon means?

[2015-03-23 16:27] roman87 commented on #577
Not in this version. This version specifically has no Java script by design.

[2015-03-23 17:08] roman87 commented on #477
This is done here:
http://localhost:1337/poc/users-searches

[2015-03-23 17:08] #477 closed

[2015-03-23 17:15] roman87 commented on #399
@DinisCruz this is done right? Can we close this?

[2015-03-23 17:19] roman87 commented on #476
Not a quality. Reclassifying and re-prioritizing.

[2015-03-23 17:20] DinisCruz commented on #399
actually on, I just checked and we're back at a low 93%

![image](https://cloud.githubusercontent.com/assets/656739/6785921/c95b6290-d180-11e4-8fab-cb78016cd62a.png)

Part of the prob is the _PoC controller and a couple other recent changes

![image](https://cloud.githubusercontent.com/assets/656739/6785933/de0c83c2-d180-11e4-9b7c-800e778f3356.png)

I'l looking at it now

[2015-03-23 17:20] roman87 commented on #221
this is fixed.

[2015-03-23 17:20] #221 closed

[2015-03-23 17:22] DinisCruz commented on #577
Actually tooltips should work in jade , since they are img alt tag values, right @luchia ?

[2015-03-23 17:22] DinisCruz commented on #614
I'm actually curious to find the root cause of that one,since I'm not sure how we can test it :)

[2015-03-23 17:22] roman87 commented on #399
ok cool

[2015-03-23 17:23] DinisCruz commented on #221
Yeah, I have not seen that error for a while. @roman87 and @michaelhidalgo if you see it , please open an issue for it

[2015-03-23 17:40] DinisCruz commented on #476
I've thinking about the best way to do this, and I actually think the best solution is to achieve this via the compilation step (from Jade to js) that should happen during the site build stage

[2015-03-23 17:41] DinisCruz commented on #617
ok

[2015-03-23 17:46] DinisCruz commented on #517
The prob is that at the moment the PoC is not really 'navigatable'

I.e. when you click on a link on either left or right queries/filters you will be back to the current live UI.

So do we need this here?

I think a more interresting place to show this data would be on the search results

[2015-03-23 18:01] DinisCruz commented on #599
The solution was to use the absolute link (see https://github.com/TeamMentor/TM_4_0_Design/commit/668b60ea6e7e84e5f78421fe31e7d43982d2afbf )

[2015-03-23 18:18] DinisCruz commented on #574
@luchia push it to me (and give it a P0) when you're done with your part

[2015-03-23 18:32] roman87 opened #618 "Wire up Index and Search Flare pages."

[2015-03-23 18:34] roman87 opened #619 "Recently viewed articles should be per user not per session."
If I login from two different browsers, I should still have the same recently viewed articles.

[2015-03-23 18:44] DinisCruz commented on #610
this conversation continues at https://github.com/TMContent/Lib_UNO/issues/28

[2015-03-23 18:44] #610 closed

[2015-03-23 18:46] DinisCruz commented on #595
can you update the graphdb?

[2015-03-23 18:48] DinisCruz commented on #379
@tecknicaltom what do you think of how were doing it on the latest beta?

![image](https://cloud.githubusercontent.com/assets/656739/6787833/3cf5f664-d18d-11e4-9303-d12c940a3456.png)

this is what the link looks like  http://beta.teammentor.net/article/fc9e969d5d52/Use-Positive-Input-Validation

[2015-03-23 18:50] DinisCruz commented on #619
This is a variation of https://github.com/TeamMentor/TM_4_0_Design/issues/494

[2015-03-23 19:23] roman87 commented on #614
Well actually one thing is image hashes. @michaelhidalgo we should talk about this.

[2015-03-23 19:30] roman87 commented on #517
well yes. yes. that is what I am asking :). POC page so you do a search, and then the search results show the scores. Makes sense?

[2015-03-23 19:34] michaelhidalgo commented on #614
Yeah, I was able to reproduce it

![screen shot 2015-03-23 at 1 35 50 pm](https://cloud.githubusercontent.com/assets/1732035/6788744/4fe7d9a8-d161-11e4-8e4c-7d28c0bfa379.png)

[2015-03-23 19:39] michaelhidalgo commented on #614
I just quickly changed the style for the h3 and the text is now displayed

![screen shot 2015-03-23 at 1 39 20 pm](https://cloud.githubusercontent.com/assets/1732035/6788849/e6e360fc-d161-11e4-9452-481641a62620.png)

[2015-03-23 19:50] roman87 commented on #599
This is fixed.

[2015-03-23 19:50] #599 closed

[2015-03-23 20:38] tekgirl77 commented on #492
Submitted pull request for QA:
https://github.com/TeamMentor/TM_4_0_QA/pull/24

[code]

[2015-03-23 20:54] tekgirl77 commented on #492
Also, this passes on my local machine, but is throwing an assertion error on [Travis](https://travis-ci.org/tekgirl77/TM_4_0_QA).

[2015-03-23 21:30] roman87 opened #621 "Should we bring back the tree view on the lefthand side, instead of drill down navigation."
In a presentation with a customer, who was already exposed to TM 3.5, this was one of the questions that came up. Specifically because developers are used to navigating tree based menus in IDEs.
Let me know what everyone thinks.

[2015-03-23 22:04] michaelhidalgo commented on #616
Maybe we can make the font a bit darker?:

![screen shot 2015-03-23 at 4 00 35 pm](https://cloud.githubusercontent.com/assets/1732035/6791628/1ac1ebaa-d176-11e4-84db-517ef06aa3f2.png)

[2015-03-23 22:10] michaelhidalgo commented on #599
I will write a unit test for it.

[2015-03-23 22:22] luchia commented on #614
This has been fixed now (on the Lucy branch) -

![screen shot 2015-03-24 at 8 21 34 am](https://cloud.githubusercontent.com/assets/4547737/6791950/de8df578-d1fe-11e4-8db8-97ed12ab2d18.png)

[2015-03-23 22:28] luchia commented on #574
@roman87 -

1. POC page is filters-icons-for-articles. This contains the icons for #568, #574 and #577 because I want to show what it all looks like together.
2. I can't control which icons are attached to filters, that's why it's on all of them. I tried what you suggested but I wasn't happy with it. I still think it looks best to the left of the filter.

To the right -

![screen shot 2015-03-22 a

[2015-03-23 22:56] DinisCruz commented on #614
this is done (and on dev)

[2015-03-23 23:34] luchia commented on #605
Mobile > Desktop

![screen shot 2015-03-24 at 9 28 22 am](https://cloud.githubusercontent.com/assets/4547737/6792827/59b3c80a-d208-11e4-849b-5662af598a07.png)
![screen shot 2015-03-24 at 9 28 26 am](https://cloud.githubusercontent.com/assets/4547737/6792828/59d8e090-d208-11e4-8c78-73fcfe2556c5.png)
![screen shot 2015-03-24 at 9 28 30 am](https://cloud.githubusercontent.com/assets/4547737/6792829/5

[2015-03-23 23:51] luchia commented on #605
Also, the way to get this to work (quickly) was to double up my code. @DinisCruz if you can see anyway I can compress that, can you please point it out? I sat for half an hour trying to come up with a better solution code-wise but no luck.

[2015-03-24 01:30] luchia commented on #605
So @DinisCruz had this issue -

![screen shot 2015-03-24 at 00 07 01](https://cloud.githubusercontent.com/assets/4547737/6793828/eb2b9e18-d215-11e4-8009-282ff94487fe.png)

Which I couldn't recreate on  my machine. I added a couple of small changes that should make the filters break a little better though.

![screen shot 2015-03-24 at 11 05 01 am](https://cloud.githubusercontent.com/assets/4547737/

[2015-03-24 01:37] luchia commented on #577
My original response to this was no we can't because they are css sprites (using background images instead of image tags) but I double-checked on Stack Overflow and it turns out you can assign a title attribute to the div container.

![screen shot 2015-03-24 at 11 33 11 am](https://cloud.githubusercontent.com/assets/4547737/6794119/b91f41aa-d219-11e4-9e62-fa6401897c21.png)

So I was pretty happy w

[2015-03-24 01:41] BendixSpring commented on #577
This is great!

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, March 23, 2015 9:37 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] When Displaying Search Results, Display categories to distinguish between identically named articles (#577)

My original response to this was no we can't because they are css sprites (using background images instea

[2015-03-24 07:43] DinisCruz commented on #605
@roman87 since lucy is still going to need a bit more time to get this fully right, I think we should push the version that is currently on dev

that version is the one that you can see on the screenshots above. and although it has a couple issues, it already is much better than what is currently on beta.teammentor.net

[2015-03-24 07:48] DinisCruz commented on #621
this is something we could try on flare,  but I think the focus should be on the search workflow not on the 'navigate' workflow

[2015-03-24 08:03] luchia commented on #595
@DinisCruz and I fixed this this morning.

[2015-03-24 08:04] luchia commented on #595
Assigning to @DinisCruz to close.

[2015-03-24 08:29] luchia commented on #601
I don't understand why it's doing that on this branch but nowhere else?

[2015-03-24 08:29] luchia commented on #601
Actually, I found the cause. Was a missing indentation on the badge (it should be apart of the link for the filter). Fixed and re-assigning back to @DinisCruz for QA.

[2015-03-24 08:30] luchia commented on #577
I am going to assign this to @DinisCruz to do the logic for the filters div and the articles list. @DinisCruz, message me if you have any questions or want me to do something to help.

[2015-03-24 08:41] luchia commented on #564
On the Lucy branch.

[2015-03-24 10:13] DinisCruz commented on #605
@roman87 latest version of this fix looks good, and since all tests are passing this code is now on dev and master

![image](https://cloud.githubusercontent.com/assets/656739/6799453/e2126d50-d20d-11e4-861f-a14589c8b9e8.png)

Let me know if is good with this release and I'll tag it with CR.Beta.3 (on https://github.com/TeamMentor/TM_4_0_Design/releases)

@michaelhidalgo can you give it a test driv

[2015-03-24 11:30] luchia commented on #576
Basic structure built -

![screen shot 2015-03-24 at 9 28 33 pm](https://cloud.githubusercontent.com/assets/4547737/6800726/fe42c6be-d26c-11e4-9659-0aca2a12a896.png)
![screen shot 2015-03-24 at 9 29 33 pm](https://cloud.githubusercontent.com/assets/4547737/6800725/fe28d254-d26c-11e4-86b8-ec6bb937d916.png)

[2015-03-24 13:06] michaelhidalgo commented on #599
Unit test added https://github.com/TeamMentor/TM_4_0_QA/pull/25

[2015-03-24 15:10] tekgirl77 commented on #456
Played around with "inliner" a bit today with no luck.
https://github.com/remy/inliner

[code]

![screen shot 2015-03-24 at 9 08 55 am](https://cloud.githubusercontent.com/assets/6649463/6804829/7120d7ce-d205-11e4-84d3-42c0030f2636.png)

[2015-03-24 16:18] roman87 commented on #614
This is fixed.

[2015-03-24 16:18] #614 closed

[2015-03-24 16:22] roman87 commented on #621
Well, we have a number of people already that like to navigate. Including one of our potential clients and internal power users. We need to be flexible and support that functionality.
I am wondering how much effort is it to try on jade, @luchia ?

[2015-03-24 16:23] roman87 commented on #577
@michaelhidalgo we should give this a test on some older browsers on saucelabs

[2015-03-24 16:26] roman87 commented on #605
Yes this looks good. Closing.

Regarding pushes on Mondays. I prefer quality over quantity. If we have bugs that needs fixing, its ok if we do the push on Tuesday instead.

[2015-03-24 16:26] #605 closed

[2015-03-24 17:48] DinisCruz opened #622 "CR.Beta.4 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Release notes:**
Number of UI fixes, and GraphDB improvements

**Features/Issues:**

* [X] Mouse highlights cross-reference links : #626
* [

[2015-03-24 17:51] DinisCruz commented on #621
in Jade is not really going to work since the treeview will need JavaScript (for the open and collapse)

[2015-03-24 17:54] DinisCruz commented on #564
That code is now on master

![image](https://cloud.githubusercontent.com/assets/656739/6808918/dcefb436-d24e-11e4-8b03-9935475c7d95.png)

[2015-03-24 17:55] DinisCruz commented on #601
because this code only exists on that branch

[2015-03-24 17:59] DinisCruz commented on #472
@BendixSpring  can you the CR.Beta.3 release that has just been pushed to https://beta.teammentor.net

[2015-03-24 18:00] DinisCruz commented on #583
@pjenney58 can you try the CR.Beta.3 release just pushed to https://beta.teammentor.net (for the multiple filter selection capability)

[2015-03-24 18:06] pjenney58 commented on #583
Yup, looking now.  Its nice that the filter multi select is working.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-24 18:10] DinisCruz opened #623 "iOS query doesn't work on live beta (or it didn't)"
![image](https://cloud.githubusercontent.com/assets/656739/6809062/c2bba31c-d24f-11e4-9f74-ef4d3b2f3a92.png)

It is only happening on index

![image](https://cloud.githubusercontent.com/assets/656739/6809092/e4c13698-d24f-11e4-8e48-dde6c004cb97.png)

UPDATE: it started working and now I can't replicate the issue

![image](https://cloud.githubusercontent.com/assets/656739/6809201/ac07d8ce-d250-11e4

[2015-03-24 18:13] DinisCruz opened #624 "Add easy way for user to provide feedback to TM Dev team"
We should make it really easy (via a link or contact form) for TM beta users to provide feedback to us.

This could be link on every page to this page (https://github.com/TeamMentor/TM_4_0_Design/issues/new) or a form for the user to provided (which would trigger an email to us)

[2015-03-24 18:16] DinisCruz commented on #583
@pjenney58 since you opened the issue, the protocol is that it should be you to close it :)

So, if the filters are working as you originally intended, fell free to close it

[2015-03-24 18:16] pjenney58 opened #625 "Odd filter state ..."
When one filters down to the lowest level, it shows duplicate content. Selecting the document type reduces the set to a single item, but the fact that the duplicates appear and are obvious doesn't seem right.  I logged a similar content centric issue over in Lib_UNO.

![screen shot 2015-03-24 at 2 11 41 pm](https://cloud.githubusercontent.com/assets/2352439/6809337/06fee7b6-d230-11e4-8aed-e0faac25

[2015-03-24 18:18] DinisCruz commented on #553
I just added those instructions to https://github.com/TeamMentor/TM_4_0_Design/wiki/Debugging-issues-on-beta.teammentor.net

[2015-03-24 18:19] DinisCruz commented on #479
@dineshshetty this has been fixed on the CR.Beta.3 version we just pushed to https://beta.teammentor.net

can you take a look?

and if the issue has been addressed, please close it :)

[2015-03-24 18:20] #595 closed

[2015-03-24 18:22] BendixSpring commented on #472
Dinis:

This is a significant improvement!  Much better!

I really don’t have time to do any more testing today, but I submitted a number of requests already.

The search feature cannot handle exact strings.  This should be a P0 issue.

Thanks,

Danny

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Tuesday, March 24, 2015 2:00 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re:

[2015-03-24 18:23] DinisCruz commented on #517
yeah, that will need a more complex PoC backend that we currently have (not that hard, but not in the 'out of the box' PoC model we have now)

I've started looking at it since more and more this will be very useful

We also need to fix the PoC pages in the beta.teammentor.net

[2015-03-24 18:27] pjenney58 commented on #583
OK, will do.  Where's the close button?  It doesn't seem to be available.  Is it because the issue is assigned to Roman?

[2015-03-24 18:29] DinisCruz commented on #472
@BendixSpring can you open an issue with the 'exact strings' you tried and what should be the results you expected to see?

[2015-03-24 18:32] DinisCruz commented on #472
@tlaloc75 , @joebasirico and @tecknicaltom, since you also raised the 'Need to have ability to select multiple filters' request, can you take a look at the latest beta release at https://beta.teammentor.net?

once you have (and if it matches everybody's expectations) we can close this issue

[2015-03-24 18:34] DinisCruz commented on #570
yeah we should add pages here

and I don't think we should show more than 20 results per page

[2015-03-24 18:36] DinisCruz commented on #625
I agree, we need to find a much better way to deal with that kind articles that are very close in content (they are not the same, but just about)

[2015-03-24 18:36] DinisCruz commented on #583
ahh.... maybe you don't have privs :)

Ok for future reference, then just ask for it to be closed and one of us will do it (like me now)

[2015-03-24 18:36] #583 closed

[2015-03-24 18:39] BendixSpring commented on #570
When you allow users to interact with the system in a way THEY are comfortable with, I do hope you allow customization so that people can work with pages that gives them the most efficiency.  20 results per page is probably a good default value, but give people the flexibility to change it.  People do log in, so you can store their preferences and customizations.  It gives them a sense of control

[2015-03-24 19:19] pjenney58 opened #626 "Mouse over highlights cross-reference links but not article titles"
It feels a little inconsistent to me. I'd expect the same functionality in both cases:

Highlighted Link (Pretend the mouse is hovering ...)

![screen shot 2015-03-24 at 3 15 35 pm](https://cloud.githubusercontent.com/assets/2352439/6810690/f770344a-d238-11e4-83e7-9b84e1f04bea.png)

Title (Pretend the mouse is hovering ...)

![screen shot 2015-03-24 at 3 15 55 pm](https://cloud.githubusercontent.c

[2015-03-24 19:20] dineshshetty commented on #479
Tested this now, and looks like it has been resolved :) Thanks.

[2015-03-24 19:20] #479 closed

[2015-03-24 20:01] pjenney58 opened #627 "Changing query number in URL clears UI"
I know its a cheap shot, but making a single change in the query number in the URL results in a blank screen, thus:

![screen shot 2015-03-24 at 3 51 56 pm](https://cloud.githubusercontent.com/assets/2352439/6811418/079c7324-d23e-11e4-847f-7fdf32141567.png)

Steps to reproduce:

![screen shot 2015-03-24 at 3 55 48 pm](https://cloud.githubusercontent.com/assets/2352439/6811481/a3bb8c40-d23e-11e4-90

[2015-03-24 20:23] pjenney58 opened #628 "Is eGuidance still in play?"
In the initial plan [as I recall] eKnowledge was a combination of training and guidance.  We had coined the term eGuidance to refer to TeamMentor to differentiate it.  I just noticed that the TM Logo doesn't reflect the original concept. No biggie,  just an observation, but in the original layout the logo would say TEAM Academy eGuidance.

![screen shot 2015-03-24 at 4 22 22 pm](https://cloud.gith

[2015-03-24 20:29] pjenney58 opened #629 "Initial Index Screen Highlights Redundancies"
To me, the landing page for the INDEX feels weird, all the articles look the same and seem to refer to the same thing.

![screen shot 2015-03-24 at 4 26 18 pm](https://cloud.githubusercontent.com/assets/2352439/6812074/cd71c50a-d242-11e4-9c78-bcc1c7ca762f.png)

Is there any way we could randomize the initial list and make it appear more diverse?

[2015-03-24 20:38] pjenney58 opened #630 "I'm Clueless, how prevalent is Scala Play? I've never heard of it ... :-)"
It seems to me that there are a lot of system critical programming languages in use, but this one is not one I'm familiar with it.  Do we have market analysis' supporting it?

![screen shot 2015-03-24 at 4 34 10 pm](https://cloud.githubusercontent.com/assets/2352439/6812215/c32af03e-d243-11e4-859f-1bc8fe6c8f67.png)

[2015-03-24 20:44] tlaloc75 commented on #630
This was requested and paid for by Sony. It's unique!

Jason

On Mar 24, 2015, at 2:38 PM, Pete Jenney <notifications@github.com> wrote:

It seems to me that there are a lot of system critical programming
languages in use, but this one is not one I'm familiar with it. Do we have
market analysis' supporting it?

[image: screen shot 2015-03-24 at 4 34 10 pm]
<https://cloud.githubusercontent.com/asse

[2015-03-24 20:46] pjenney58 commented on #630
Doah!  Sony!

OK Guys,  could someone close this one?

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-03-24 23:17] luchia commented on #576
It's starting to look good now. I need to add polish and make everything sit together better but this is going to drastically improve Flare's UX -

![flare-nav](https://cloud.githubusercontent.com/assets/4547737/6814943/90d76efa-d2cf-11e4-8c72-09e15006255f.gif)

[2015-03-25 02:49] luchia commented on #626
I'll do this one.

[2015-03-25 03:24] luchia commented on #626
This has been done on the Lucy branch, ready to be merged in the next release -

![screen shot 2015-03-25 at 1 23 27 pm](https://cloud.githubusercontent.com/assets/4547737/6817837/3126b4ca-d2f2-11e4-8f9e-f67eee215f23.png)
![screen shot 2015-03-25 at 1 23 30 pm](https://cloud.githubusercontent.com/assets/4547737/6817838/312e79a8-d2f2-11e4-802d-2a1b7a121dc5.png)

[2015-03-25 09:17] DinisCruz commented on #630
It's actually quite popular. Scala is an evolutionary step for Java developers (these days if you are doing hard core Java dev, most likely you would be using scala) and Scala Play is a web framework (like Spring MVC or struts)

see more details at https://playframework.com/

[2015-03-25 09:18] #630 closed

[2015-03-25 09:20] DinisCruz commented on #627
That is a good point we should fix that, @michaelhidalgo do you want to have a go, basically we need to detect when there are no results and show a page saying 'query not found' (or something similar)

[2015-03-25 17:58] DinisCruz commented on #568
@luchia can you look at the code in the branch https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_577_Article_Numbers

it looks like this

![image](https://cloud.githubusercontent.com/assets/656739/6831475/74d9d47e-d318-11e4-8738-092bed6f755d.png)

you will see that I added a rowspan due to the fact that when adding the icons for https://github.com/TeamMentor/TM_4_0_Design/issues/577 (which is

[2015-03-25 18:17] michaelhidalgo commented on #598
The footer note can be changed in TBOT  (Secret Data configuration).
@roman87 , can you please update it here https://beta35.teammentor.net/teamMentor since I'm not an admin and I can't access Tbot.

![screen shot 2015-03-25 at 12 05 42 pm](https://cloud.githubusercontent.com/assets/1732035/6831617/12a722f6-d2e7-11e4-9665-aa4daa49a574.png)

[2015-03-25 18:28] michaelhidalgo commented on #597
With Pull Request https://github.com/TeamMentor/Dev/pull/173 (which also contains changes for the email validations).

[2015-03-25 18:29] michaelhidalgo commented on #563
With Pull Request https://github.com/TeamMentor/Dev/pull/173

[2015-03-25 18:30] michaelhidalgo commented on #562
With Pull Request https://github.com/TeamMentor/Dev/pull/173

[2015-03-25 19:02] DinisCruz opened #631 "On GraphDB add metadata mappings to articles"
Originally the GraphDB did not contain a direct mapping to the article's metadata. The metadata mappings were inside a 'Technology' query which contained (for example) an 'iOS' query which is the one that contained the articles.

This worked fine until we needed to have a full mapping of the articles 'phase', 'technology' and 'type' on the search results (for example for https://github.com/TeamMen

[2015-03-25 19:22] DinisCruz commented on #631
This is done with the mapped commit

now an article has 3 extra mappings (phase, technology and type)

![image](https://cloud.githubusercontent.com/assets/656739/6833297/e417f982-d323-11e4-93d9-5b5f937f40f7.png)

this information is also exposed to the query data (used by the ui)

![image](https://cloud.githubusercontent.com/assets/656739/6833326/09e9a2d2-d324-11e4-9d20-bb6db2814ba5.png)

![image]

[2015-03-25 19:24] DinisCruz commented on #631
Build is [failing on travis](https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/55847000) (so need some further tests, before its ready for QA)

[2015-03-25 19:42] DinisCruz commented on #577
with the version pushed to the https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_577_Article_Numbers branch the information provided by the GraphDB from https://github.com/TeamMentor/TM_4_0_Design/issues/631 is now wired (note the temporary metadata information after each article in the image below)

![image](https://cloud.githubusercontent.com/assets/656739/6833588/3ac347c6-d326-11e4-8675-25

[2015-03-25 19:46] BendixSpring commented on #577
This looks really good!

Maybe it’s just me, but  I don’t understand the code icon.  Is that a megaphone?  If so, what’s the connection to code?

From: Dinis Cruz [mailto:notifications@github.com]
Sent: Wednesday, March 25, 2015 3:42 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] When Displaying Search Results, Display categories to distinguish between identically na

[2015-03-25 19:58] michaelhidalgo commented on #577
Maybe for code examples we can use icons from http://glyphicons.com/ (which are used in Bootstrap)

Closing tag :

![screen shot 2015-03-25 at 1 59 23 pm](https://cloud.githubusercontent.com/assets/1732035/6834042/e03f1520-d2f6-11e4-96f4-3fe193c75a86.png)

or the git branch?

![screen shot 2015-03-25 at 1 59 37 pm](https://cloud.githubusercontent.com/assets/1732035/6834049/f0ed6642-d2f6-11e4-9b32-

[2015-03-25 22:36] tekgirl77 commented on #440
Just submitted [PR here](https://github.com/TeamMentor/TM_4_0_QA/pull/27) w/ unit test.  Let me know if you want me to modify it at all.

[code]

[2015-03-26 01:34] luchia commented on #626
I have created a pull request for this. @DinisCruz, it's a very minor change in the stylesheet so will be okay to merge immediately.

[2015-03-26 02:48] luchia commented on #568
I removed the rowspan, I didn't like it. I did some more work on it and this is what it will look like -

![screen shot 2015-03-26 at 11 51 53 am](https://cloud.githubusercontent.com/assets/4547737/6839044/9a3f3c68-d3ae-11e4-8bd9-07dc22065d82.png)

It also scales nicely on mobile.

[2015-03-26 02:48] luchia commented on #577
I think we should keep the icons to the one typeface set. It seems a bit odd to jump between two different styles. There is limited options in Foundation however as to what would be suitable for 'Code Sample' type.

I attached the puzzle piece to the code sample type, @DinisCruz -

![screen shot 2015-03-26 at 11 45 51 am](https://cloud.githubusercontent.com/assets/4547737/6839018/27b28da8-d3ae-11e

[2015-03-26 03:55] luchia commented on #576
Final navigation for Flare release one -

![flare-nav](https://cloud.githubusercontent.com/assets/4547737/6840182/868b1546-d3bf-11e4-9325-5df5d5213e09.gif)

You can see in the code that the User icon button still exists, but is commented out. This is because the first release of Flare won't have User pages.

![screen shot 2015-03-26 at 1 53 21 pm](https://cloud.githubusercontent.com/assets/4547737

[2015-03-26 08:52] DinisCruz opened #634 "Consolidate icons into TM typeface"
I completely agree with @luchia on her comment at https://github.com/TeamMentor/TM_4_0_Design/issues/574

This will make it easier to keep a consistent fell for all icons and reduce the amount of files/css/icons we need to load

_________

EDIT BY LUCY: Adding checklist to this so it's easy to track -

I've seperated the icons into two different types - ones that are able to be more creative and o

[2015-03-26 08:53] DinisCruz commented on #577
@BendixSpring  that was just a placeholder icon since Lucy hadn't added a 'code Example' icon :) . Well Spotted

@luchia re custom icon-set, as you can see at https://github.com/TeamMentor/TM_4_0_Design/issues/634 I completely agree :)

[2015-03-26 14:33] BendixSpring commented on #568
Looks great!

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Wednesday, March 25, 2015 10:48 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Should we - Number the list of articles in the displayed result set. (#568)

I removed the rowspan, I didn't like it. I did some more work on it and this is what it will look like -

 <https://cloud.githubusercon

[2015-03-26 16:30] roman87 commented on #622
I think its easier to have a label.

[2015-03-26 16:31] roman87 commented on #621
Yes true. Lets try it in Flare then?

[2015-03-26 16:33] roman87 commented on #622
Also this issue is hard to assign to anyone, and it would kind of pollute the label process we already have.

[2015-03-26 16:39] roman87 commented on #564
This is done

[2015-03-26 16:39] roman87 commented on #564
Re-opening to follow up with @BendixSpring  when it is on beta.

[2015-03-26 16:43] roman87 commented on #623
Did you pull the logs from the server? Can we analyze the logs from that time? This is why we need good logging. Being real-time has nothing to do with it. Since we can't replicate it now, the logs from that point in time is the only thing we got.

[2015-03-26 16:50] roman87 commented on #517
Ok cool. remember this is sprint 3, so not really a priority now.

[2015-03-26 16:53] roman87 commented on #624
I would prefer this to be simply instructions to send an email with screen shots. In a from we can't have screenshots (or it would make the simple form quite complex) and I would rather not encourage a flood of issues into github. Its a pain to keep it all sorted now as it is.

[2015-03-26 16:57] roman87 commented on #472
I already got positive feedback from @joebasirico and @tlaloc75 .

@tecknicaltom and @BendixSpring  awaiting your verdict. What do you think about the multiple filters?

Thanks.

[2015-03-26 17:00] tecknicaltom commented on #472
that works how I intuitively thought it would the first time around when filing the bug. big improvement

[2015-03-26 17:04] tecknicaltom commented on #472
though playing with it more, it still suffers the problem of TM3 that the filters don't reflect that a lot of the technologies have overlap. I can't search for XSS and get all articles that apply to the technologies "PHP" or "Web Application" (possibly an unrelated issue)

[2015-03-26 17:23] BendixSpring commented on #472
Great!  I am always for improvements :)

From: RomichG [mailto:notifications@github.com]
Sent: Thursday, March 26, 2015 12:58 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Need to have ability to select multiple filters (#472)

I already got positive feedback from @joebasirico <https://github.com/joebasirico>  and @tlaloc75 <https://github.com/tlaloc75>  .

@tecknic

[2015-03-26 17:28] roman87 commented on #625
I also agree. This issue is actually discussed here: https://github.com/TMContent/Lib_UNO/issues/21
@pjenney58 take a look at some of the proposed solutions and see what you think.
I am going to close this one as duplicate.

[2015-03-26 17:28] #625 closed

[2015-03-26 19:12] michaelhidalgo commented on #606
This test has been added here https://github.com/TeamMentor/TM_4_0_QA/pull/29

[2015-03-26 19:46] roman87 commented on #535
So after looking at this, it seems like this is a general problem on windows. Here is a log file. It seems like a path issue.

26T18:42:29.140Z"}
{"level":"info","message":"Error with request url: /poc \n Error: ENOENT, no suc
h file or directory 'c:\\TeamMentor\\TMDEVRO-Site_beta.teammentor.net\\TM40\\TM_
4_0_Design\\.tmCache\\jade_Compilation\\c:\\TeamMentor\\TMDEVRO-Site_beta_teamme
ntor_net\\T

[2015-03-26 19:47] roman87 commented on #479
Great, thanks

[2015-03-26 19:49] roman87 commented on #628
Hmm... interesting. I don't think we will change it now but doesn't hurt to ask :)
@tlaloc75 do you remember why eGudance was no longer used?

[2015-03-26 19:54] luchia commented on #560
See #576 for the fix for this issue. I think this can be closed, once #576 is QA'ed.

[2015-03-26 19:57] DinisCruz commented on #622
well the idea is that once that issue with a label is closed we add it here, that way you always have the release nodes done

[2015-03-26 20:10] tekgirl77 commented on #440
Updated branch w/ refactored code to perform search 3x in a row and validate each time:

[code]

[2015-03-26 21:36] DinisCruz commented on #577
OK, the icons are now all mapped on both the main article list and on the right hand-side

![image](https://cloud.githubusercontent.com/assets/656739/6857590/ae76ced4-d3ff-11e4-872d-6572c7da4f2a.png)

There are a couple icons missing (for some technologies and the 4 phases), with the articles mappings controlled by this mixin

[code]

There is an issue with technology mapping (when viewed inside t

[2015-03-26 21:39] DinisCruz commented on #574
as seen by comment https://github.com/TeamMentor/TM_4_0_Design/issues/577#issuecomment-86727897 this has been added to the https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_577_Article_Numbers branch and it looks quite cool:

![image](https://cloud.githubusercontent.com/assets/656739/6857654/5a0f4212-d400-11e4-94e5-5963ea36dafb.png)

Assigning to @luchia since there are a coupe css issues to

[2015-03-26 21:45] luchia commented on #624
I created a new branch called Issue_624 and there are four different pages (filters-contact-one/two/three/four).

#### Contact One
I don’t particularly like this one. It just adds an extra module to an already full application interface. The alert doesn’t particularly stand out either and to me, this solution feels cumbersome.

![screen shot 2015-03-27 at 6 06 24 am](https://cloud.githubuserconten

[2015-03-26 21:56] DinisCruz commented on #562
add my comments, almost there

[2015-03-26 21:58] DinisCruz commented on #568
@luchia there is not much more I need to do here (can consolidate the fix of this issue with https://github.com/TeamMentor/TM_4_0_Design/issues/577)

[2015-03-26 22:00] DinisCruz commented on #563
added some more comments

[2015-03-26 22:22] DinisCruz opened #635 "Apply article ordering to normal queries"
for example http://localhost:1337/show/ give a weight to the different article types

This should use the metadata added to the icons issue and the size article

[2015-03-26 22:23] DinisCruz commented on #629
The fix for https://github.com/TeamMentor/TM_4_0_Design/issues/629 will make this better

[2015-03-26 22:24] DinisCruz commented on #624
I like option four

[2015-03-26 23:34] DinisCruz commented on #504
OK, so the DB check for use is now wired and it looks good

@roman87 and @michaelhidalgo can you take it for a test drive?

It is on the https://github.com/TeamMentor/TM_4_0_GraphDB/tree/Issue_504_Load_Test_GraphDB branch (with tests passing: https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/56030859 )

In this version if you generate multiple requests you will see a number of log messages th

[2015-03-26 23:35] DinisCruz commented on #604
this is now done see https://github.com/TeamMentor/TM_4_0_Design/issues/504#issuecomment-86754100

[2015-03-26 23:36] DinisCruz commented on #515
the solution for https://github.com/TeamMentor/TM_4_0_Design/issues/504#issuecomment-86754100 should prevent this 'oops' message to be shown on quick article opening

[2015-03-26 23:40] luchia commented on #577
So I pushed my changes to the branch @DinisCruz. A couple of things that I need to tell you that might require you to change some things:

* I added the icons to the article but I keep getting the error below because of the additions. I have commented them out so you can uncomment them when you debug this error.
![screen shot 2015-03-27 at 9 22 44 am](https://cloud.githubusercontent.com/assets/454

[2015-03-26 23:40] luchia commented on #577
@roman87 Check it out.

[2015-03-27 00:38] DinisCruz commented on #631
fixed test, moving this to master https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/56038168

[2015-03-27 00:57] DinisCruz commented on #577
I've fixed the issue that lucy mentioned above, so the article will show the icons

[2015-03-27 02:10] DinisCruz commented on #626
code is merged

[2015-03-27 02:37] DinisCruz commented on #577
hey @luchia almost there

small alignment issue of icons in article list

![image](https://cloud.githubusercontent.com/assets/656739/6861195/0e7063de-d42a-11e4-9c1a-830d6f6c1f42.png)

![image](https://cloud.githubusercontent.com/assets/656739/6861197/172566d2-d42a-11e4-9e2e-60776132cb13.png)

![image](https://cloud.githubusercontent.com/assets/656739/6861202/22f12e92-d42a-11e4-8013-d254fc32bb8d.pn

[2015-03-27 02:37] DinisCruz commented on #577
and on article view

![image](https://cloud.githubusercontent.com/assets/656739/6861206/36caa1aa-d42a-11e4-9cb2-ec6b2460308e.png)

[2015-03-27 02:38] DinisCruz commented on #577
for reference this code is now on Design:Dev and GraphDB:master branches

[2015-03-27 02:44] DinisCruz commented on #472
yes @tecknicaltom is that is a limitation with the current 4.0 search (you can't do ORs on technology)

[2015-03-27 02:45] DinisCruz commented on #440
PR merged, closing issue

[2015-03-27 02:45] #440 closed

[2015-03-27 03:39] roman87 commented on #624
I personally like the last one - Contact Four. What does everyone else think. We also need a config option for it to turn it off in production.

[2015-03-27 03:43] roman87 commented on #627
Yes this is a good one. Basically it happens anytime you do something like this http://localhost:1337/show/blah

Gonna make it a P0, since  its nasty not to detect errors.

[2015-03-27 12:30] roman87 commented on #597
Bumping to P0 so @DinisCruz can see this.

[2015-03-27 12:31] roman87 commented on #629
I am also going to make this a dupe of https://github.com/TMContent/Lib_UNO/issues/21 since it is really all the same issue.

[2015-03-27 12:35] #629 closed

[2015-03-27 13:59] roman87 commented on #604
@michaelhidalgo can you give this a load and see if it is fixed?

[2015-03-27 14:00] roman87 commented on #576
![selection_163](https://cloud.githubusercontent.com/assets/1326120/6869129/036e0dcc-d468-11e4-9c04-3fdbd55f11e1.png)

Yea, so not quite :). This is FF. Here are some issues, numbered in the screenshot

1. This icon is really not intuitive. No idea what it means.
2. The logo, the search box, and these links are on 3 different lines.
3. Remind me what this Icon is for?
4. Why do I have all these sc

[2015-03-27 14:00] roman87 commented on #634
Can't have two actions :)

[2015-03-27 14:03] roman87 commented on #622
Why not just add the issue with the label it to a wiki page :)?

[2015-03-27 14:05] roman87 commented on #551
Overall looks good. Couple of things:

- [ ] For some reason it takes a very long time to get there error when the DNS resolves but the server is unavailable. (Basically there is internet connection but 3.5 is down) It gets to the point where the browser resets the connection. I think some network timeouts are wrong.

![selection_164](https://cloud.githubusercontent.com/assets/1326120/6869168/5680

[2015-03-27 14:30] roman87 commented on #504
No problem: Here you go :)
[code]

I did this with this simple script, running around 5-10 of them simultaneously.

[code]

@michaelhidalgo maybe your tool gives you better stats?

[2015-03-27 14:31] roman87 commented on #504
No problem: Here you go :)
[code]

I did this with this simple script, running around 5-10 of them simultaneously.

[code]

@michaelhidalgo maybe your tool gives you better stats?

[2015-03-27 14:54] roman87 commented on #604
As you can see from comment https://github.com/TeamMentor/TM_4_0_Design/issues/504#issuecomment-86958522 this is not fixed. @michaelhidalgo  maybe your script would pinpoint more exact number of simultaneous requests that cause the problem.

[2015-03-27 15:06] roman87 commented on #631
Lets discuss this. I am not sure this is the right aproach. We should have added an xref to the already existing query. iOS for example. So the end result should be that  article -> xref -> iOS and iOS -> xref -> article
This approach duplicates nodes.

[2015-03-27 15:13] roman87 commented on #626
This looks good on Dev. Will follow up with @pjenney58 once the code is in beta

[2015-03-27 15:45] roman87 commented on #472
@tecknicaltom this is an excellent point. And actually has more to do with the fact that we are re-using the article meta-data from TM3, rather than with OR search. In TM3, when editing, you could only select one technology that applies to the article. In TM 5.0 (The editing part of the new TM) we will add the ability to treat filters more like tags. So then when editing someone can tag an article

[2015-03-27 15:45] #472 closed

[2015-03-27 15:48] DinisCruz opened #640 "[Q] Code links are broken in TM Security wiki page"
https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security

[2015-03-27 20:11] michaelhidalgo commented on #640
Fixed.

[2015-03-28 00:23] michaelhidalgo commented on #504
Yeah interesting.
I used Apache Benchmark to generate fee request using this syntax :

 ab -n 100 -c 100 http://localhost:1332/data/id/article-0026811631be

**-n 1000: ab will send 100 request
** -c concurrent users

Here are the latest results :
![screen shot 2015-03-27 at 6 23 10 pm](https://cloud.githubusercontent.com/assets/1732035/6878981/3c0e147e-d4ae-11e4-8ae1-aa8c1c897fc7.png)

Note that a

[2015-03-28 00:30] roman87 commented on #504
I think one way is to come up with a file of random strings, put the strings together in a random pattern of words and then just feed it to the URL.

[2015-03-28 12:10] DinisCruz commented on #504
nice, it will be interesting to see what happens when the cache is enabled

[2015-03-28 12:11] DinisCruz commented on #640
cool thx

[2015-03-28 12:11] #640 closed

[2015-03-28 12:18] DinisCruz commented on #631
article -> xref -> iOS is already what was happening, but I would still need to a further query to resolve iOS to technology.

I don't think having those extra nodes in there are a problem. In fact that is part of the beauty of a GraphDB., we can add nodes/relationships based on the way the data will be consumed (or created/populated)

[2015-03-28 12:20] DinisCruz commented on #604
well the main issue is fixed, I don't think you can manually reproduce the prob (specially when the cache is enabled) , and unless somebody is DoS the TM side, we shouldn't have users hitting this scenario (that said we should add monitoring for it)

[2015-03-28 12:23] DinisCruz opened #641 "After DB lock, double check if data is available on cache"
To make the app more robust to race conditions and DoS (see https://github.com/TeamMentor/TM_4_0_Design/issues/604 ) for the cases when GraphDB cannot be opened, add a check to see if the data is available on the cache (at the moment the cache check happens before the request to open the GraphDB)

[2015-03-28 12:26] DinisCruz commented on #622
I think its working quite nice, look how some topics/items have more than one issue mapped to it.

this way if we keep updating this page as the issues are being ready, it is easy to cut the release (i.e. there is not a lot a work to do at that moment in time)

The other part of the workflow is to move the items around as they go from QA to 'ready for release'

[2015-03-28 12:29] DinisCruz opened #642 "Add Windows CI integration"
Since we host TM in windows we also need to run CI tests on windows. [Appveyor](http://www.appveyor.com/) looks like a good option

This would help to pick up issues like #535 (PoC pages not working on beta.teammentor.net)

[2015-03-28 12:30] DinisCruz commented on #621
ok, so it probably better to close this one and open a specific flare issue for adding a treeview PoC

[2015-03-28 12:38] DinisCruz commented on #642
Jobs queued, lets see what happens:
* https://ci.appveyor.com/project/DinisCruz/tm-4-0-design
* https://ci.appveyor.com/project/DinisCruz/tm-4-0-graphdb
* https://ci.appveyor.com/project/DinisCruz/tm-4-0-qa

[2015-03-28 13:57] michaelhidalgo commented on #604
I agree.
I actually generated more than 100,000.00 request with cache enabled and I
do not get the error. I'll come up with a script to request random urls
just in case

2015-03-28 6:20 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown.

[2015-03-29 00:29] roman87 opened #643 "Extract article abstracts based on the "Why" paragraph."
This is what we talked to a couple of days ago. Basically parse the HTML and extract the why section.  (note this is sprint 3)

[2015-03-29 14:35] DinisCruz commented on #642
ok, so it is not that simple to run node on appveyor (i.e. as simple as travis)

![image](https://cloud.githubusercontent.com/assets/656739/6886059/2f0f172e-d629-11e4-9dd3-2f9617517284.png)

[2015-03-29 17:09] DinisCruz commented on #642
ok, so after adding the appveyor.yml config file  (see https://github.com/TeamMentor/TM_4_0_Design/commit/63dd28c1b978c4e7216b4b82303bb3555e4ccc7e) the code compiles and tests are executed

The are 7 tests that fail and they all seem to be path related

![image](https://cloud.githubusercontent.com/assets/656739/6886695/7627cc5e-d63e-11e4-8e3b-bb87e7aa3834.png)

[2015-03-29 22:49] roman87 commented on #631
yes, you would need an extra query :) I would rather take a hit on doing an extra query (which should not be that expensive) than duplicate data. Data duplication is bad, nasty and ugly, and will come to bite us in the future when we no longer use the current import mechanism for articles, but write directly to the database. Check this out, so lets say our new editor interface writes directly to t

[2015-03-29 23:17] roman87 commented on #642
Ok, so if we use this service, how can we automatically deploy to QA servers? Automatically start saucelab tests? Automatically do a zip build?
I think this is where we need to use TeamCity or similar. Where it is not just CI test, but deployment and packaging as well.

[2015-03-30 01:10] DinisCruz commented on #642
These guys have some deploy options, but for that kind of automation I was looking over the weekend at others like: https://codeship.com,  https://ship.io, https://circleci.com/ or even https://www.atlassian.com/software/bamboo/

I don't really like TeamCity anymore and don't want to maintain it. But if you want to set it up and maintained it, fell free to do it :)

[2015-03-30 01:18] DinisCruz commented on #631
I don't think that that is such a big problem, and in fact this kind of 'evolve the graph as we go along' is part of the beauty of having a graphdb.

And it is quite expensive to do the extra query since since you need to do it for all articles on the query (at least until we add paginations for the results). In your example it wouldn't be that hard to take this extra mapping into consideration wh

[2015-03-30 02:01] roman87 commented on #631
Alright, lets talk about it tomorrow. We should start formalizing the schema a bit. Since while graphDB is organic, we dont want to duplicate data.
I do agree we need the visualizations. Though I think we can use some of the existing tools out there instead of spending time on our own. How hard would it be to dump the db into dot notation?

And yes, if we feel leveldb is not the right one we shoul

[2015-03-30 02:03] roman87 commented on #642
Well we could just write a couple of scripts for deployment. I think it is better than TC. I am not a big fan of it ether. Lets discuss this as well

[2015-03-30 02:19] DinisCruz commented on #631
My understanding is that dot notation is good to map 'A to B' relationships, but our current graph architecture is based on triplets (A to B to C')

[2015-03-30 04:29] DinisCruz commented on #641
done with code pushed to GraphDB master (with [tests passing](https://travis-ci.org/TeamMentor/TM_4_0_GraphDB/builds/56368329). This code change should have no side effects on the rest apis consumed by TM_Design

@roman87  I'm closing this since there is no easy way for you to manually test this. For reference the unit-test that tests this behaviour is at https://github.com/TeamMentor/TM_4_0_Graph

[2015-03-30 04:29] #641 closed

[2015-03-30 04:31] DinisCruz commented on #604
Now that I pushed #641 it should be even harder to get a error page when a valid page is requested (note that even if the GraphDB return a 'busy result', with the #641 fix, if the data is already cached then the cached value will be used (instead of returning an 503 error)

[2015-03-30 09:55] DinisCruz commented on #597
@michaelhidalgo you're still making some changes on this one, right?

[2015-03-30 11:43] michaelhidalgo commented on #597
Yes, here is the Pull Request
https://github.com/TeamMentor/Dev/pull/174

[2015-03-30 11:44] michaelhidalgo commented on #598
@DinisCruz  can you please review it and merge it?
https://github.com/TeamMentor/Dev/pull/174

[2015-03-30 14:31] roman87 commented on #604
It  would be nice to see the results of the test. My concern is that if we don't hit the cache, at 10 simultaneous requests we lock the db. Which basically means 10 people should be searching for something not in cache.

As far as somebody DOSing the TM, we should be resilient to that :) "unless somebody is DoSing" is such a typical dev answer :). Yes somebody will try to DoS TM.

[2015-03-30 14:35] michaelhidalgo commented on #604
:), @DinisCruz is this fix merged into Dev or is it on a separate branch? I would like to test it again. It seems like with ApacheBench (ab), there is a way to send different request from a text file. I will come up with this scenario

[2015-03-30 14:47] roman87 commented on #622
If you want to maintain this issue, certainly feel free :). I am using a kabaan board, so I need to use labels to maintain the status. As far as release notes, we don't need to have them for each Beta, we need to have them for a release. Which is something I can do by going through the closed P0 issues.

[2015-03-30 15:12] roman87 commented on #641
Cool, that should help for simultaneous searches. I still think that queuing is a better approach.

[2015-03-30 15:33] roman87 commented on #631
So wouldn't tripliets in DOT notation look like
A to B
B to C
:)?

[2015-03-30 15:44] roman87 commented on #604
So lets see if we can get the number of simultanious requests needed for DB to lock using:
One random word for each request
Two random words for each request
Five random words for each request

One random character set  between 3-7 letters (i.e. not a word)

Also when we actually hit the condition, what happens if you make a request from a web page (i.e. what is the user experience when we lock th

[2015-03-30 15:47] roman87 commented on #598
I merged it and assigned to myself to test.

[2015-03-30 17:53] DinisCruz commented on #622
cool, where is the kanban board?

[2015-03-30 17:56] DinisCruz commented on #641
what is implemented is kinda a queue, but it is one that has an expiry setting on it (i.e it will try 20 at 250ms intervals, before kicking out). I currently not keeping track of how many items are in the queue, but that wouldn't be too hard

[2015-03-30 18:04] DinisCruz commented on #631
that wouldn't work because we need to capture the relationship between A and C

For example we have

'article-000000032948' 'is' 'Article'
'article-000000032948' 'title' 'Access Control Checks Are Performed for All Filesystem Access'

which is something that can't be easily done in dot since we couldn't do

'article-000000032948' -> 'is'
'is' -> 'Article'
or
'article-000000032948' -> 'Article'

se

[2015-03-30 18:12] DinisCruz commented on #604
@michaelhidalgo code is on dev

yeah, let's find out those limits. The cache should actually mean that:
a) if the item requested is in the cache, the answer should arrive quite quickly (due to node's async model).
b) if the search needs to hit the db for mappings (which happens the first time there is a unique search), that request will be queued for execution when the db is available.
c) there ar

[2015-03-30 18:12] DinisCruz commented on #598
cool, nice changes

[2015-03-30 19:32] roman87 commented on #574
So couple of things:
- [ ] Alignment is off on full article page.
![selection_166](https://cloud.githubusercontent.com/assets/1326120/6904711/d0848130-d6f0-11e4-9ac7-628a5c32fc16.png)

- [ ] We need better icons for .NET, Scala, .NET 3.5 and for "ALL" Also note that I will change "All" to "Tech Independent". These articles is not for "All Technologies" but for all the general articles that do not

[2015-03-30 19:42] luchia commented on #568
Assigning to @roman87 for QA.

[2015-03-30 20:28] luchia commented on #574
The alignment issue has been fixed on the article -
![screen shot 2015-03-31 at 6 14 03 am](https://cloud.githubusercontent.com/assets/4547737/6905864/4f88a4d4-d76e-11e4-8aad-0f4fede1e7f4.png)

We already have good icons for ASP.NET and Scala. I'm not sure why you can't see them (maybe @DinisCruz can help with that) -
![screen shot 2015-03-31 at 6 15 45 am](https://cloud.githubusercontent.com/asse

[2015-03-30 20:29] luchia commented on #577
This has been fixed and updated on #574. Assigning this issue to @roman87 for QA as there are no more issues with this specific one (numbering the articles).

[2015-03-30 20:37] michaelhidalgo commented on #627
In this case we should display the surrogate error page right?

[2015-03-30 20:49] luchia commented on #624
Yeah, I like option four the best now as well. I have pushed the code to branch Issue_624 and this is what it looks like -

![screen shot 2015-03-31 at 6 46 51 am](https://cloud.githubusercontent.com/assets/4547737/6906399/034b50fe-d772-11e4-856a-fa895c78466c.png)
![screen shot 2015-03-31 at 6 46 54 am](https://cloud.githubusercontent.com/assets/4547737/6906401/03776c66-d772-11e4-97f5-86d6d8c32fff

[2015-03-30 21:10] roman87 commented on #622
You've see it before https://waffle.io/teammentor/master?label=Sprint2&source=TeamMentor%2FTM_4_0_Design

[2015-03-30 21:20] roman87 commented on #641
ok.. thats cool. I would be curious to see what happens when there is a request that exceeds the 5 second time out.

[2015-03-30 21:32] roman87 commented on #631
article-000000032948 -- "Access Control Checks Are Performed for All Filesystem Access"  [label="title"]
:)

[2015-03-30 21:36] roman87 commented on #574
Hmm, interesting. Have you tested with firefox?

Anything else for Tech Independent?  If not then lets go with the first choice.  And I agree we need our own typeface, but it won't happen soon enough :)

I like the guideline icon.

yes lets make them both there. This will be consistent across the app then.

[2015-03-30 21:49] luchia commented on #576
### 1. Icon is not intuitive
This was the same as our navigate icon in Jade, but we changed it (and I forgot to change Flare's). I have changed it and it looks like this now -

![screen shot 2015-03-31 at 6 54 01 am](https://cloud.githubusercontent.com/assets/4547737/6906519/ba98b12a-d772-11e4-8455-137823776377.png)

### 2. Elements on different lines
I learnt something new this morning about flex

[2015-03-30 22:30] luchia commented on #574
I did test in Firefox, so it's strange that you're having this issue -

![screen shot 2015-03-31 at 7 55 06 am](https://cloud.githubusercontent.com/assets/4547737/6907641/54716a28-d77b-11e4-91f5-e2194fb35d3e.png)

______

Not really anything else in the set that encompasses everything. I thought the asterisk was the most suitable given the limited options.

______

 I've added these as comments to

[2015-03-30 22:55] luchia commented on #574
@roman87, what do you think about these?

![screen shot 2015-03-31 at 8 51 53 am](https://cloud.githubusercontent.com/assets/4547737/6908789/6e34bc78-d783-11e4-9a17-9e53c7a0b671.png)
![screen shot 2015-03-31 at 8 52 11 am](https://cloud.githubusercontent.com/assets/4547737/6908788/6e33cf7a-d783-11e4-9ab3-18c806076de7.png)
![screen shot 2015-03-31 at 8 53 03 am](https://cloud.githubusercontent.com/

[2015-03-30 23:01] luchia commented on #574
Assigning to @roman87 to be closed.

[2015-03-30 23:03] DinisCruz commented on #624
merged an in dev

[2015-03-30 23:04] roman87 commented on #627
Yes we should display a generic error page.

[2015-03-30 23:04] luchia commented on #522
Prioritising my work and making this a P0 so I have more levels within my Sprint 3 issues.

[2015-03-30 23:20] DinisCruz commented on #622
code is on master and ready for Beta.4 release

[2015-03-30 23:26] DinisCruz commented on #622
and QA tests are passing (which include Design and GraphDB tests):

![image](https://cloud.githubusercontent.com/assets/656739/6909307/92ef0ad8-d73c-11e4-91be-91b23ca59791.png)

[2015-03-30 23:32] roman87 commented on #574
Now I have a "flag" for Scala, .NET and "All" :(
![selection_169](https://cloud.githubusercontent.com/assets/1326120/6909380/77e6cc04-d713-11e4-8021-ae32a139fd00.png)

[2015-03-30 23:37] roman87 commented on #624
So one question, how do I configure this to be removed? @DinisCruz

[2015-03-30 23:37] roman87 commented on #624
i.e. if we don't want to to show, is there an easy way to not display it?

[2015-03-30 23:39] roman87 commented on #574
And looks like icons are not being picked up on the search result and index pages :(

![selection_171](https://cloud.githubusercontent.com/assets/1326120/6909461/6bd39f4a-d714-11e4-8f38-90a42b9f4126.png)

![selection_170](https://cloud.githubusercontent.com/assets/1326120/6909464/6f934de2-d714-11e4-8c74-e655bf48c024.png)

[2015-03-30 23:45] roman87 commented on #574
And I did npm install just in case and have same results.

[2015-03-31 01:07] DinisCruz commented on #574
which server is this?

[2015-03-31 01:10] DinisCruz commented on #574
did you delete any files from .tmCache?

I think you need to at least delete the ./tmCache/data_cache folder and tm-uno (since there are new mappings)

[2015-03-31 01:19] DinisCruz opened #644 "[Q] write test that confirms and detects changes to icons used on technology and type"
The objective is to pick up issues like this https://github.com/TeamMentor/TM_4_0_Design/issues/574#issuecomment-87876223

@tekgirl77 do you want to have a go at writing this one?

[2015-03-31 01:21] DinisCruz commented on #574
I just pushed this https://github.com/TeamMentor/TM_4_0_Design/commit/55ecae3c2c10eed27bbc8e19cfc76b8aaf061b20 to fix the fact that the .NET and Scala icons were a flag (that was caused by a content change)

regarding the lack of flags in your articles, I think that is a cache issue (you don't need to re do the clone or html conversions, I think you just need to replace the search data)

[2015-03-31 01:25] DinisCruz opened #645 "Minor inconsistencies on flags icons show in articles"
Looking at the the top 3 articles from index:

![image](https://cloud.githubusercontent.com/assets/656739/6910570/d09d191e-d74c-11e4-8f4d-2c7187e8a3f0.png)

http://localhost:1337/article/1a613dd54e6a/Perform-a-Security-Design-Inspection-for-Web-Applications

![image](https://cloud.githubusercontent.com/assets/656739/6910579/ea69b83e-d74c-11e4-9531-d5af522ce934.png)

http://localhost:1337/article/2

[2015-03-31 01:27] DinisCruz opened #646 "Add config option to show/hide user feedback link"
Which was the feature added at https://github.com/TeamMentor/TM_4_0_Design/issues/624

[2015-03-31 01:27] DinisCruz commented on #624
the easy way is to change in the jade code :)

apart from that, there is no config option to control this (just added #646 to track that)

[2015-03-31 01:30] DinisCruz commented on #631
that might work.

ok open an issue if you want to get a flat file with an export of the graphDB data in the format shown above

[2015-03-31 01:40] DinisCruz commented on #535
weirdly I just tried latest Beta on windows and it worked ok

![image](https://cloud.githubusercontent.com/assets/656739/6910749/4fa1584a-d74f-11e4-880b-fd9f62e57570.png)

[2015-03-31 02:14] DinisCruz commented on #535
just pushed a number of fixes for this (making the path's locations os independent)

this code is in Dev branch

[2015-03-31 02:18] DinisCruz commented on #469
still think we should drop this specific feature

[2015-03-31 02:48] roman87 commented on #574
ok, so Icons look good now, and the flags were fixed by rebuilding the cache. Thanks @DinisCruz
But I still have alignment issues, @luchia can you take a look

![team mentor 4 0 html version - iceweasel_173](https://cloud.githubusercontent.com/assets/1326120/6911446/d6f97302-d72e-11e4-81b5-c0ebfa55257d.png)

![selection_174](https://cloud.githubusercontent.com/assets/1326120/6911447/d9d33dc4-d72e-

[2015-03-31 02:50] DinisCruz commented on #574
i can't reproduce those icons misalignment on that page. just on https://github.com/TeamMentor/TM_4_0_Design/issues/645

[2015-03-31 02:54] roman87 commented on #624
haha, ok, closing this one.

[2015-03-31 02:54] #624 closed

[2015-03-31 02:57] roman87 commented on #646
I would argue this is a bug :) Its great that it can be turned off in the code, but remember there are 10 kinds of people. The ones that understand binary, and the ones that don't :)

[2015-03-31 03:42] roman87 commented on #535
looks good.

[2015-03-31 03:42] #535 closed

[2015-03-31 03:46] roman87 commented on #574
maybe it has something to do with the browser size:
1182x780

[2015-03-31 03:48] roman87 commented on #526
Right now only one test fails:

  194 passing (2m)
  1 pending
  1 failing

  1) | test-Server | start and stop:
     Error: timeout of 2000ms exceeded. Ensure the done() callback is being call
ed in this test.
    at [object Object].<anonymous> (c:\TeamMentor\TMDEVRO-Site_beta.teammentor.n
et\TM40\TM_4_0_GraphDB\node_modules\mocha\lib\runnable.js:170:19)
    at Timer.listOnTimeout [as ontimeout]

[2015-03-31 03:49] roman87 commented on #645
Interestingly, I can't reproduce this one

[2015-03-31 03:51] roman87 commented on #469
How else are you going to use a direct link to article title?

[2015-03-31 06:51] luchia commented on #574
So I'm also having issues with my icons showing up -

![screen shot 2015-03-31 at 4 51 05 pm](https://cloud.githubusercontent.com/assets/4547737/6913669/25d043c4-d7c6-11e4-805c-b810d0fdc4d9.png)

I entered some random icons in via the browser and it seems to be working fine -

![screen shot 2015-03-31 at 4 50 43 pm](https://cloud.githubusercontent.com/assets/4547737/6913668/25ce3aa2-d7c6-11e4-8cb3

[2015-03-31 06:57] luchia commented on #645
So I was able to replicate this (in the browser, my icons aren't working) and I added a fix for it -

![screen shot 2015-03-31 at 4 55 49 pm](https://cloud.githubusercontent.com/assets/4547737/6913742/020ed72e-d7c7-11e4-852e-77223bc2abc3.png)
![screen shot 2015-03-31 at 4 56 41 pm](https://cloud.githubusercontent.com/assets/4547737/6913741/020c5080-d7c7-11e4-930c-b7a27da78111.png)

[2015-03-31 09:31] DinisCruz commented on #469
we should use the 'direct link' field that we added on 3.5 or use the current links

[2015-03-31 14:25] DinisCruz commented on #645
@luchia latest change is on master (and dev)

[2015-03-31 14:53] michaelhidalgo commented on #627
This is the test that reproduces the problem :

[code]

[2015-03-31 15:03] michaelhidalgo commented on #627
After the fix

[code]

[2015-03-31 15:12] michaelhidalgo commented on #627
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/647

[2015-03-31 16:55] DinisCruz commented on #584
content issue, marking to close

[2015-03-31 16:56] DinisCruz commented on #591
Roman, this on is on your side of the court, right?

[2015-03-31 17:00] DinisCruz opened #648 "CR.Beta.5 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Release notes:**
Couple minor UI changes and bug fixes

**Features/Issues:**
* [X] Changing query number in URL clears UI #627
* [X} Fixed c

[2015-03-31 17:03] DinisCruz commented on #622
Marked master as CR.Beta.4

![image](https://cloud.githubusercontent.com/assets/656739/6924397/2da3a1fe-d7d0-11e4-9be3-087ce945fee3.png)

[2015-03-31 17:05] DinisCruz commented on #592
This is a content issue right?

[2015-03-31 21:33] roman87 commented on #469
Yes, but what if I want the direct link to be the article title?

[2015-03-31 21:36] roman87 commented on #645
Since I couldn't replicate it, Dinis is it working for you :)?

[2015-03-31 21:52] roman87 commented on #627
this is fixed, will follow up with Pete when this is live

[2015-03-31 21:55] roman87 commented on #648
Why can't we put #627 in the CR.4?

[2015-03-31 21:56] roman87 commented on #591
Yes, this is a proxy issue.

[2015-03-31 21:57] roman87 commented on #592
Not really. This is a docs issue

[2015-03-31 22:02] michaelhidalgo commented on #504
I spend more time today with this issue and I think it works fine : Here are the steps I followed :
1. A clean instance of GraphDb and the Design.
2. Using siege, I'm emulating 300 users concurrents, during 1 minute, with 1 second of delay.
3. I generated a txt file with searches URLs, so Siege uses that file to randomly pick up urls and send the request :
4. This is the syntax : michaelhidalgo$ s

[2015-03-31 22:18] luchia opened #649 "Docs pages are not resizing properly"
![screen shot 2015-04-01 at 8 17 30 am](https://cloud.githubusercontent.com/assets/4547737/6930544/9377996e-d847-11e4-8e43-9fa7ff9573a2.png)
![screen shot 2015-04-01 at 8 17 33 am](https://cloud.githubusercontent.com/assets/4547737/6930545/93a1b8c0-d847-11e4-962f-9545448ecc53.png)

[2015-03-31 22:20] luchia commented on #649
I've just added a fix for this. I have created a PR @DinisCruz.

[2015-03-31 22:22] michaelhidalgo commented on #504
http://localhost:1332/data/id/article-0026811631be
http://localhost:1332/data/id/article-05ae12afcf47
http://localhost:1332/data/id/article-05f70d0c9820
http://localhost:1332/data/id/article-079fa6bf8320
http://localhost:1332/data/id/article-0a879cdedc40
http://localhost:1332/data/id/article-0af26a78d63d
http://localhost:1332/data/id/article-0b4a4258cb85
http://localhost:1332/data/id/article-0b856

[2015-03-31 23:22] DinisCruz commented on #649
merged into dev https://github.com/TeamMentor/TM_4_0_Design/pull/650

[2015-03-31 23:54] tekgirl77 commented on #456
Submitted [PR here](https://github.com/TeamMentor/TM_4_0_QA/pull/30) -
Replaced Juice w/ "inline-css" for TM_4_0_Design/456.
https://github.com/jonkemp/inline-css

If this looks good, this issue can be closed - let me know if you'd like any changes made.

[2015-04-01 08:15] luchia commented on #522
I'm almost finished this issue and will be able to pass it on to be closed after tomorrow.

[2015-04-01 08:16] luchia commented on #560
Assigning to @roman87 to be closed due to #576 being completed and merged onto Dev.

[2015-04-01 08:17] luchia opened #653 "Clean up POC pages"
Remove pages that have been added to beta.

[2015-04-01 09:15] DinisCruz commented on #648
sure, @michaelhidalgo  let me know when you're good with it and I'll move it to CR.4

[2015-04-01 09:16] DinisCruz commented on #653
yeah, there are a bunch of them in there that are not relevant any more

[2015-04-01 09:54] DinisCruz opened #654 "Add REST methods to provide stats about loaded data"
For example the data that can be extracted from this test https://github.com/TeamMentor/TM_4_0_GraphDB/commit/d8fe4d6d3c30e4d48c2ca19a1cbc634affeebb36 and seen here https://github.com/TMContent/Lib_UNO/issues/24#issuecomment-88262817

[2015-04-01 11:11] michaelhidalgo commented on #648
@DinisCruz ,I sent this PR (https://github.com/TeamMentor/TM_4_0_Design/pull/652/files), the main problem when the GraphDB is down/unavailable and you hit http://localhost:1337/show/ with the latest change, you get the 404 because there is not data.

It is the same behaviour (in terms of data) like if your URL was http://localhost:1337/show/query-6204f2d47eb7/query-f5ea4b22e()&%5E&%5E&577SOMETHING

[2015-04-01 17:29] michaelhidalgo commented on #563
With new Pull Request https://github.com/TeamMentor/Dev/pull/176
@DinisCruz  can you please review it?

[2015-04-01 17:29] michaelhidalgo commented on #562
With new Pull Request TeamMentor/Dev#176
@DinisCruz can you please review it?

[2015-04-01 22:05] michaelhidalgo commented on #551
@roman87 , I changed the error message. However,the UI looks a bit busy, what do you think?

@DinisCruz , in order to display the mailto link, we need to unescape the HTML in this alert (by using exclamation mark) = #message  != 'Error: ' + viewModel.errorMessage

Do you think is it a security risk?

![screen shot 2015-04-01 at 4 01 45 pm](https://cloud.githubusercontent.com/assets/1732035/6953701

[2015-04-01 22:27] roman87 commented on #551
As we discussed - changed it to "TEAM Mentor is unavailable, please contact us at"

[2015-04-02 03:43] DinisCruz commented on #551
yes that will allow html injection via the ```errorMessage```

there are ways to show those links in jade

can you post here an example of what you want it to look like, and I can show you the way to do it in Jade

[2015-04-02 03:43] DinisCruz commented on #551
btw, on this case why do we show that login page at all, wouldn't it be better to redirect to one of the error pages?

[2015-04-02 03:56] DinisCruz opened #655 "Is the TeamCity Hook for this repo still being used?"
Just found this webhook in this repo

![image](https://cloud.githubusercontent.com/assets/656739/6957539/7c2816ac-d8ca-11e4-87a1-8e247575b232.png)

I think is a legacy from past experiments with TeamCity and it doesn't seem to be working

![image](https://cloud.githubusercontent.com/assets/656739/6957545/b0128222-d8ca-11e4-9eaa-529a4f03028e.png)

@michaelhidalgo are you still using this?

[2015-04-02 04:04] luchia commented on #522
This issue is ready for QA/closing. I don't know if anyone wants to "check" this because it was more things that I knew I needed to do to make Flare look like Jade does - a lot of the details are very small and maybe not checkable. I don't know, assigning to @roman87 so he can QA and/or close.

[2015-04-02 04:21] luchia commented on #653
Prioritising my Sprint3 work.

[2015-04-02 04:32] luchia commented on #653
This has been done in the referenced commit. I created a PR for @DinisCruz to merge and am assigning to @roman87 for QA/closing.

[2015-04-02 04:40] luchia opened #658 "Lauren Yanko Feedback"
- [x] The very first photograph (with text "Instant resources that bridge the gap between developer questions and technical solutions") seems much darker than the others. That said, I actually think this darker photo allows for a better contrast with the button and white text that overlay it. Would you consider making all photos this darker grayscale?

- [x] I noticed that the columns/content on p

[2015-04-02 05:23] luchia commented on #658
I thought all these comments were valid @roman87, so I made the additions on the branch and have created a PR for @DinisCruz to merge. Assigning to @roman87 for QA.

[2015-04-02 06:38] luchia commented on #634
I've seperated the icons into two different types - ones that are able to be more creative and ones that need to be simple. The ones that are able to be more creative are on the landing page:

- [ ] Fix vulnerabilities
- [ ] Reduce vulnerabilities
- [ ] Expand knowledge
- [ ] Delivers compliance
- [ ] Integrates
- [ ] Stores and cross-references
- [ ] Provides guidance

The other icons, which are

[2015-04-02 06:40] luchia commented on #634
I started sketching out ideas for the creative icons and will begin rendering these at some point today -

![img_0080](https://cloud.githubusercontent.com/assets/4547737/6958987/c811aba0-d956-11e4-9df5-b1138f1a24c6.jpg)
![img_0081](https://cloud.githubusercontent.com/assets/4547737/6958986/c8109026-d956-11e4-83b3-639df3911238.jpg)
![img_0082](https://cloud.githubusercontent.com/assets/4547737/6958

[2015-04-02 08:13] michaelhidalgo commented on #551
That's a good point :)

@roman87  what do you think? We could add some logs entries and then redirect the user to the login page? Maybe display the HTTP 500 error page.

[2015-04-02 12:44] DinisCruz commented on #634
cool, I like this a lot :)

[2015-04-02 12:46] michaelhidalgo commented on #634
Yes I agree, it looks pretty cool.

2015-04-02 6:44 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-04-02 12:47] DinisCruz commented on #655
The waffle webhook is also not succeeding

![image](https://cloud.githubusercontent.com/assets/656739/6964190/c856bea8-d914-11e4-885e-a00e176a8d51.png)

[2015-04-02 15:01] michaelhidalgo commented on #655
Hmm, I don't think we are using it.

[2015-04-02 21:53] DinisCruz commented on #653
merged

[2015-04-02 22:03] DinisCruz commented on #658
ok, I just fixed a couple tests and merged that code into dev

[2015-04-02 22:10] DinisCruz commented on #522
merged into dev

[2015-04-02 22:11] DinisCruz commented on #576
code merged into dev

[2015-04-03 01:01] luchia commented on #634
First version of 'Fix vulnerabilities' icon -

![screen shot 2015-04-03 at 11 00 43 am](https://cloud.githubusercontent.com/assets/4547737/6976709/d22413f4-d9f0-11e4-8206-a8af3c72c0dd.png)

This is the first icon on the landing page icon that represents this text:

[2015-04-03 02:12] pjenney58 commented on #634
I like the circle …

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-03 14:03] tekgirl77 commented on #634
I like the square and the circle... I guess my preference depends on what
the other 2 icons will look like on that page.

They look very cool!

Salle Ingle
Support & Implementation Specialist, eLearning
[image: https://www.securityinnovation.com/_img/art/logo.png]

On Thu, Apr 2, 2015 at 8:13 PM, Pete Jenney <notifications@github.com>
wrote:

[2015-04-03 14:04] DinisCruz commented on #562
looks good (with one small comment)

[2015-04-03 23:26] michaelhidalgo opened #660 "Remove unwanted HTTP headers from https://beta.teammentor.net"
As depicted below, an HTTP HEAD to https://beta.teammentor.net reveals sensitive/unwated headers.

![screen shot 2015-04-03 at 5 26 00 pm](https://cloud.githubusercontent.com/assets/1732035/6990275/5af67a2a-da26-11e4-92e4-1e5600923e03.png)

[2015-04-03 23:27] michaelhidalgo opened #661 "Should we mark TM session as secure too?"
TM session is set to be ReadOnly, should we also enforce Secure so that way it will be only transmitted over a secure channel? I think we should :)

![screen shot 2015-04-03 at 5 29 23 pm](https://cloud.githubusercontent.com/assets/1732035/6990302/cbb852e2-da26-11e4-82ba-3c10c69b5bef.png)

[2015-04-04 22:54] roman87 commented on #649
looks good.

[2015-04-04 22:54] #649 closed

[2015-04-04 23:00] roman87 commented on #574
Looks very good. Nice job all!

[2015-04-04 23:00] #574 closed

[2015-04-04 23:03] roman87 commented on #577
this is done, will follow up with Danny when release is on beta.

[2015-04-04 23:10] roman87 commented on #551
Well, It is a good point, however, I think this is being consistent with our general error scheme. I think it is more comforting for the user to see a familiar page than some 500 error they have never seen. So I think lets keep it as agreed.

[2015-04-04 23:12] roman87 commented on #655
I don't think we need the waffle hook ether.

[2015-04-04 23:14] roman87 commented on #653
@luchia the filters-remove-filter-button  POC does not work. Also where is the POC page where we update the article counts to 0 instead of removing the filters?

[2015-04-04 23:16] roman87 commented on #576
Ok, but I still need it wired in order to test it :) https://github.com/TeamMentor/TM_4_0_Design/issues/618

[2015-04-04 23:23] roman87 commented on #658
I like the darker color photos.

Now for items 2 and 3, I am not sure what was done. I don't see any difference. @luchia can you point them out? Maybe my non designer eye does not pick them up :)
![selection_175](https://cloud.githubusercontent.com/assets/1326120/6995094/e80bb6da-daff-11e4-8b73-1123f7db3924.png)

[2015-04-04 23:49] roman87 commented on #634
So some of my 5c.
Expand knowledge icon associates with callosotomy :). sorry, I have vivid imagination :). but that is just me. What if you try the expanding universe, or galaxy? Somewhere we make a reference to the galaxy of knowledge. Or maybe just use less gray matter in the picture :)
Also what about something simple like IQ+?

Provides guidance associates with a homeless guy :). What about s

[2015-04-04 23:53] roman87 commented on #661
I am not sure we can do it with the reverse proxy.

[2015-04-05 00:17] michaelhidalgo commented on #661
I think is doable from Node Express perspective as described in this
article
http://scottksmith.com/blog/2014/09/04/simple-steps-to-secure-your-express-node-application/

However, setting this flag means that the cookie will only be transmitted
over a secure channel, which might not work on our local environment

2015-04-04 17:53 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
ht

[2015-04-05 00:25] roman87 commented on #584
This is tracked here: https://github.com/TMContent/Lib_UNO/issues/28
closing.

[2015-04-05 00:25] #584 closed

[2015-04-05 16:03] DinisCruz commented on #661
we should try it, I also would like to see if we can start running our own dev environments in SSL (as per the @tekgirl77 work done at https://github.com/TeamMentor/TM_4_0_Design/issues/147)

[2015-04-05 16:12] DinisCruz opened #662 "Add log entry to alert that GraphDB might be down or unavailable"
First pass is at https://github.com/TeamMentor/TM_4_0_Design/issues/627 but that is not working as expected

[2015-04-05 21:59] michaelhidalgo commented on #551
@roman87  , @DinisCruz

this is how the Login form would look like if the TM server is unavailable :

![screen shot 2015-04-05 at 3 54 59 pm](https://cloud.githubusercontent.com/assets/1732035/6998831/d59e0f50-dbab-11e4-8272-1c28a91828eb.png)

This is how the  Signup form should work :

![screen shot 2015-04-05 at 3 55 23 pm](https://cloud.githubusercontent.com/assets/1732035/6998839/048d6df6-dbac

[2015-04-05 22:20] michaelhidalgo commented on #551
With Pull Request [https://github.com/TeamMentor/TM_4_0_Design/issues/551]

[2015-04-05 23:06] roman87 commented on #661
Well, there is actually no point in doing that (at the moment) while we are behind reverse proxy. Basically this would mean that IIS needs to establish an SSL connection to express over the loopback port, which is a waste of resources.
So I would suggest we leave it until the time we move away from IIS. Objections?

[2015-04-05 23:10] roman87 commented on #551
@DinisCruz can you take a look and merge this?

[2015-04-06 00:27] roman87 commented on #591
This is fixed. @pjenney58 can you take a look and confirm?

[2015-04-06 00:28] roman87 commented on #593
This is fixed.

[2015-04-06 00:28] #593 closed

[2015-04-06 00:29] roman87 commented on #589
TTL expired. (2 weeks) closing.

[2015-04-06 00:29] #589 closed

[2015-04-06 00:48] roman87 opened #664 "Docs pages need to be installed on and served from the local cache, including images"
As described in #593 currently the Docs pages are beeing cached when they are first used from Github. However the images are not cached.
We need:
1. To download the whole docs library at install time, similar to what we do with Lib_Uno.
2 Serve all the docs content, including images from  read it from .tmCache directory in TM_Design

[2015-04-06 00:48] roman87 commented on #593
The issue was that IIS was rewriting redirects. So any link pointing to github was being re-written to point back to the beta server. This was temporarily fixed by  disabling the redirect re-write using:
 IIS -> Application Request Routing Cache -> Server Proxy Settings and unchecking  the "Reverse rewrite host in response headers" box. (found here: http://stackoverflow.com/questions/4243959/iis-r

[2015-04-06 13:20] michaelhidalgo opened #665 "Password reset confirmation page is broken"
In the latest version (Dev), the confirmation page for the password reset is broken (probably the name of the file changed).

![screen shot 2015-04-06 at 7 21 16 am](https://cloud.githubusercontent.com/assets/1732035/7004748/4a3fcd40-dc2d-11e4-8ce7-dd10b0c8db0f.png)

[2015-04-06 14:33] pjenney58 commented on #591
Everything looks to be there now, can be closed IMHO.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-06 14:40] DinisCruz commented on #551
Just commented on it, we need a better solution to provide the tm support email

[2015-04-06 14:47] DinisCruz commented on #665
Can you write a test that checks for it

[2015-04-06 14:49] DinisCruz opened #666 "Add 'offline GraphDB' check to TM Design"
Which is a much more robust way to handle the https://github.com/TeamMentor/TM_4_0_Design/pull/652 scenario (where we are just logging an error based on the side effects of TM Design not being able to connect to  GraphDB

[2015-04-06 14:51] michaelhidalgo commented on #665
Yes, actually that is quite important since I've seen this feature failing
a couple of times (due to improvements and renaming of the files) so we
need to make sure we have it covered.

2015-04-06 8:47 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it me

[2015-04-06 16:45] roman87 commented on #591
Thanks Pete. Cheers!

[2015-04-06 16:45] #591 closed

[2015-04-06 16:56] michaelhidalgo commented on #665
After reviewing, It does not seem to be an error with the latest dev code, it is a timeout in the invocation of the Web Services method that resets the password .

The email is sent but TM shows an error,

[Logging-Service] console hooked
2015-04-06T16:48:57.311Z - info: [TM-Server] Log is setup
2015-04-06T16:48:57.311Z - info: Configuring TM_Design Express server
2015-04-06T16:48:57.708Z - info:

[2015-04-06 17:07] roman87 commented on #665
Hmm. in that case I think this is functioning as expected. 1. Give a generic error to the user 2. Log the error.
There is some discussion to be had about giving the actual error to be user in this case. However I think that in a properly operating environment (especially when both 35 and 40 are running on the same box) this should not happen. So I think this error is ok.
unless there are objection

[2015-04-06 17:10] michaelhidalgo commented on #665
Roman, we are relaying on a third party to send the email right? For some
reason this process is taking longer than it should for me.

Can you try to reproduced when you are available? I will continue looking
at the root cause,.

2015-04-06 11:07 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it mean

[2015-04-06 17:19] roman87 commented on #551
@DiniCruz @michaelhidalgo why can't we just use the same solution we use for displaying the "Found an issue? Send us an email."  Are we making this more complicated than it is?

[2015-04-06 17:26] roman87 commented on #666
Yea its a good thing to have, In this case we should display a "sorry" page for anyone that hits TM.

[2015-04-06 17:28] michaelhidalgo commented on #551
I think that the main difference with this link and the one you are
referring to, is that the former is a message coming from the back end and
Jade encodes output by default, so this is how we display the backend
message :  #message = 'Error: ' + viewModel.errorMessage , but since the
errorMessage contains the link tag, it won't be rendered.

 The latter in the other hand, is a HTML link <a href.

[2015-04-06 19:42] luchia commented on #658
Did you pull from Dev? It's on there -

![screen shot 2015-04-07 at 5 40 36 am](https://cloud.githubusercontent.com/assets/4547737/7011004/e44e8136-dce8-11e4-92dd-fa9007c19ee9.png)
![screen shot 2015-04-07 at 5 40 42 am](https://cloud.githubusercontent.com/assets/4547737/7011005/e4cfe08c-dce8-11e4-9c44-4b1c0627a87e.png)

[2015-04-06 20:15] luchia commented on #653
The page for the first question was deleted because we agreed on the issue not to have it in Jade (and it's already a part of Flare). Do you remember what the page was called for the second question? I can't see it in the deleted files for the referenced commit.

[2015-04-06 20:24] DinisCruz commented on #658
Latest changes pushed by @luchia are now on master and dev

[2015-04-06 20:26] DinisCruz commented on #551
yap @michaelhidalgo is correct, its a different flow

[2015-04-06 20:31] DinisCruz commented on #665
well the email is being sent from 3.5 code base, so any error handling (for the email sending) it should happen there.

From a 4.0 point of view, what happens to the user UI when there is an error on the Web Service call?
(we should be able to simulate that on a TM Design Unit test)

[2015-04-06 20:39] DinisCruz commented on #634
on the 'icons being busy' I quite like the path @luchia is going,

In a way (from a design point of view) we’re such a plain company. Most of our icons look like we bought them off icon-finder (or are using default css icon libraries). I think these add personality to what we’re doing. It looks like we care enough to hire a designer to design an icon set (which we do)

let's give @luchia space to

[2015-04-06 21:18] DinisCruz opened #667 "Add TP glossary terms as special weights for search engine"
From spreadsheet in https://mail.google.com/mail/u/2/#inbox/14c7223e34bba8da we can use the TP (TeamProfessor) Glossary to improve the search results

Here is what it looks like (those summaries could also be really useful)

![image](https://cloud.githubusercontent.com/assets/656739/7012689/f583a372-dc80-11e4-98a1-9413873c5241.png)

Related to https://github.com/TeamMentor/TM_4_0_Design/issues/569

[2015-04-06 21:22] DinisCruz commented on #515
that is not that practical since by definition we don't get anything from the DB.

With the recent changes, unless we are under attack I don't think a user will hit this scenario

[2015-04-06 21:24] DinisCruz commented on #604
I think we should close this issue and open a new one focused on mapping the DoS limits of 4.0

[2015-04-06 21:24] DinisCruz commented on #336
This has been fixed

[2015-04-06 21:26] michaelhidalgo commented on #604
I agree. As per my tests, I have not seen the lock happening lately.

[2015-04-06 21:27] DinisCruz commented on #158
I think we can close this one now, the design tests already run without needing the GraphDB and the QA tests start both servers without tests

[2015-04-06 21:38] michaelhidalgo commented on #336
@DinisCruz, do we have a test for this? Do you want me to write it?

2015-04-06 15:24 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-04-06 22:24] DinisCruz commented on #336
Yeah write a test for it (although I think we a have a test for that on TM Design)

To make it solid can you write a QA test that uses the http://localhost:1337/poc/top-searches page to confirm it doesn't show up in there

[2015-04-06 22:47] roman87 commented on #653
Ok, but if we decided not to include it here, then lets remove it :) vs it not working :)
I am not sure what the other page was called. But basically it was supposed to be the regular Index page that updated the article counts to 0 instead of removing the filter

[2015-04-06 23:12] roman87 commented on #658
Ok so the alignment seems good. I still don't see any difference for the footer left-alignment. The version number is of however:
![selection_176](https://cloud.githubusercontent.com/assets/1326120/7014278/c68d89a6-dc90-11e4-89cb-940b85b54446.png)

[2015-04-06 23:12] luchia commented on #653
@DinisCruz - do you know which template it was? I can't see the one in [this commit](https://github.com/TeamMentor/TM_4_0_Design/commit/a8cee6c2ff9c53bf34b98754b8578bad8b2848a7) that relates to it.

[2015-04-06 23:19] luchia commented on #658
I changed the margin in the browser, do you think this looks better?

![screen shot 2015-04-07 at 9 17 22 am](https://cloud.githubusercontent.com/assets/4547737/7014336/094dd34c-dd07-11e4-9fb4-072708831256.png)

Or we could center it to the logo but I think left aligned like the rest of the text is better -

![screen shot 2015-04-07 at 9 19 04 am](https://cloud.githubusercontent.com/assets/4547737

[2015-04-06 23:20] roman87 commented on #551
Ah..got it.

[2015-04-06 23:23] roman87 commented on #658
I don't think it looks nice with bigger margins. I think if we need to have a different solution. Anyways I am going to mark this for follow up with Lauren as all the points in the issue had been addressed.
Lets open another issue for the TM Version so we can track it better.

[2015-04-06 23:25] luchia opened #668 "Work on the Jade footer"
Per #658, the alignment is slightly off on the footer.
![screen shot 2015-04-07 at 9 17 22 am](https://cloud.githubusercontent.com/assets/4547737/7014336/094dd34c-dd07-11e4-9fb4-072708831256.png)
![screen shot 2015-04-07 at 9 19 04 am](https://cloud.githubusercontent.com/assets/4547737/7014344/2a3f7fe2-dd07-11e4-95d9-acf756610d47.png)

[2015-04-06 23:27] luchia opened #669 "Create new mixin and new login and signup pages to support #551"
As per discussion on #663

[2015-04-06 23:28] luchia commented on #658
I opened an issue and have assigned to you to follow up with Lauren.

[2015-04-06 23:49] roman87 commented on #665
Ok, I just reproduced the issue. I don't think it has anything to do with the network. I am running 35 on a local VM.
2015-04-06T23:34:13.961Z - info:  url=/guest/login.html, ip=127.0.0.1, agent=undefined
2015-04-06T23:34:15.975Z - info:  url=/guest/pwd-forgot.html, ip=127.0.0.1, agent=undefined
2015-04-06T23:34:23.502Z - info:  url=/user/pwd_reset, ip=127.0.0.1, agent=undefined
2015-04-06T23:34:2

[2015-04-06 23:50] roman87 commented on #665
This is where a detailed log would really help :)

[2015-04-07 00:03] roman87 commented on #634
I am sure @luchia put the work here for comments, not as a request for space. I think constructive comments is important early in the cycle.

[2015-04-07 00:05] roman87 commented on #667
All of this should also be made into search items that we auto-fill in flare. But that is a different issue.

[2015-04-07 00:09] roman87 commented on #515
This is about reflecting the actual sate of the system correctly. Why can't we respond with a "too busy" from the graph DB if it is in use?

[2015-04-07 00:36] michaelhidalgo commented on #665
That's really weird :)

I wonder what might have changed. Indeed it has to do with the timeout, as
you can see in this code below, the timeout is set to 1500 milliseconds (a
second and a half)

https://github.com/TeamMentor/TM_4_0_Design/blob/master/src/controllers/Pwd-Reset-Controller.coffee#L19

2015-04-06 17:50 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhida

[2015-04-07 00:43] michaelhidalgo commented on #665
Ok so I commented ou the timeout here https://github.com/TeamMentor/TM_4_0_Design/blob/master/src/controllers/Pwd-Reset-Controller.coffee#L37 and I got it working

Look at the response times (against https://tmdev01-uno.teammentor.net/)

2015-04-07T00:43:03.772Z - info:  url=/guest/pwd-forgot.html, ip=127.0.0.1, agent=undefined
2015-04-07T00:43:07.606Z - info:  url=/user/pwd_reset, ip=127.0.0.1, a

[2015-04-07 01:12] luchia commented on #634
I'm definitely open to feedback. I did try to go simple like my sketches @roman87 but it wasn't really doing it for me -

![screen shot 2015-04-03 at 8 14 39 am](https://cloud.githubusercontent.com/assets/4547737/7015078/4f63819c-dd11-11e4-80f8-456a1dc02898.png)

I was then thinking about the email thread talking about the competitor analysis last week and how we could differentiate from our compe

[2015-04-07 03:15] roman87 opened #670 "Test the ability of TM 4.0 to withstand DoS attacks."
As described here:
https://github.com/TeamMentor/TM_4_0_Design/issues/604#issuecomment-87702381
and below, we need to be able to understand the ability of TM to withstand high volume access requests.

[2015-04-07 03:16] roman87 commented on #604
Ok agreed. closing

[2015-04-07 03:16] #604 closed

[2015-04-07 03:17] DinisCruz commented on #667
yes, I was thinking of that too, but we will need a mapping of these terms to either:
* existing queries
* articles (i.e. these become queries)

[2015-04-07 14:12] michaelhidalgo commented on #563
Pending Pull Request https://github.com/TeamMentor/Dev/pull/176

[2015-04-07 14:13] michaelhidalgo commented on #562
@DinisCruz can you review it again, I have fixed it based on your recommendations https://github.com/TeamMentor/Dev/pull/176

[2015-04-07 14:15] roman87 commented on #336
yep, agreed, we need more of full statefull tests now. As far as this issue goes, @BendixSpring could you confirm this is fixed to your liking on beta.teammentor.net

[2015-04-07 14:21] roman87 commented on #343
This has been fixed. @BendixSpring could you confirm it is fixed to your liking. I couldn't reproduce the problem. The URL is pretty cool though :)

[2015-04-07 14:33] roman87 commented on #669
@luchia, actually there is no need to create a new page, there is a need to create a mixin so that we can safely display an email address without un-escaping to HTML. Like the comment says here:
https://github.com/TeamMentor/TM_4_0_Design/pull/663#discussion_r27800614

Also I am bumping it up since it is pretty important and @michaelhidalgo is waiting on this for #551

[2015-04-07 14:56] roman87 commented on #634
Exactly because we have room to be creative here, we need to make sure we embed correct symbolism. Symbols are extremely important in our society and cause us to make subconscious decisions (where all decisions are made). Here is an experiment I recently read about: participants were in a room, divided 50/50.  Each person in group 1 was given $10. They had to give some of that cash to another pers

[2015-04-07 16:48] michaelhidalgo commented on #665
It seems like it is working today with the default timeout (1500 milliseconds)

@roman87 can you please also test? If it is working for you then it could be that the server was not responsive yesterday.

[2015-04-07 17:16] DinisCruz opened #671 "How does TM 4.0 do complex queries"
@maych asked this question during a TM presentation in Boston, and he as cool ideas on how it could be implemented, which he will document below :)

[2015-04-07 17:22] DinisCruz opened #672 "Add a bug to the article title"
(this is part of a demo)

[2015-04-07 18:52] michaelhidalgo commented on #669
Actually, @DinisCruz  please correct me if I'm wrong, but we will need two jade pages for the Login and the Signup since both pages will need to load the new mixin

At least that is what we have done with other cases :

![screen shot 2015-04-07 at 12 54 03 pm](https://cloud.githubusercontent.com/assets/1732035/7030863/e417e82e-dd24-11e4-85a6-3d5978629637.png)

[2015-04-07 19:00] genecarter opened #673 "Index TP Embedded Content - Show in Search Results"
As per conversation with Dinis.

Chance to quickly add embedded content into TM.

[2015-04-07 19:04] genecarter opened #674 "Stack Overflow and Stack Overflow C++ should produce results"
http://beta.teammentor.net/search?text=stack+overflow+c%2B%2B

Can you give me access to the Lib_uno library?

[2015-04-07 20:11] DinisCruz commented on #674
@roman87 can you give @genecarter access to Lib_Uno, this is an issue that should go there

[2015-04-07 20:12] DinisCruz commented on #672
closing issue since this was only here while I was doing a demo to the services team in Boston

[2015-04-07 20:12] #672 closed

[2015-04-07 20:13] DinisCruz commented on #673
The idea here is to index the content that current exists in our TP 'embedded' course, and show those results in the current 4.0 TM Search UI (which would allow us to cover a LOT more content)

[2015-04-07 20:17] DinisCruz commented on #669
well if we create a generic 'got an issue' page then we would only need one.

The question will then be on what scenarios to redirect the user to it

[2015-04-07 20:22] DinisCruz commented on #634
I quite like what @luchia is doing here, she is having a good feel for it, and I agree that they look really cool

Also let's not get to hang on the details since some of them will not be THAT visible. @luchia can you post some of icons in the size that we will be using them?

[2015-04-07 20:28] DinisCruz commented on #343
Humm I just got this on the live server

![image](https://cloud.githubusercontent.com/assets/656739/7032709/86dae8d2-dd42-11e4-8ed9-f1437862179e.png)

and this locally

![image](https://cloud.githubusercontent.com/assets/656739/7032788/1d95a4c4-dd43-11e4-8105-88782cf46bef.png)

Looks like IIS is throwing up the error

[2015-04-07 20:47] DinisCruz commented on #665
Yeah, something is not 100% right here, I just tried it on beta.teammentor.net and got

![image](https://cloud.githubusercontent.com/assets/656739/7033079/8610ee62-dd45-11e4-964a-6a1c40ca29c2.png)

but locally it works ok

![image](https://cloud.githubusercontent.com/assets/656739/7033103/b51f42d0-dd45-11e4-9742-c70fbefb4c4c.png)

[2015-04-07 20:52] DinisCruz commented on #515
actually, that might be possible, since the GraphDB returns with a 503 (see [code here](https://github.com/TeamMentor/TM_4_0_GraphDB/blob/1f06f027c23c7341cc27f6943f85283f1377c1f5/src/api/base-classes/Swagger-GraphDB.coffee#L31-L32))

[2015-04-07 20:53] DinisCruz commented on #665
for reference I received both emails (the one from beta.teammentor.net and the from from localhost:1337)

[2015-04-07 21:48] tekgirl77 commented on #500
Submitted [PR here](https://github.com/TeamMentor/TM_4_0_QA/pull/31) for unit test.

Dependent on Juice replacement [PR](https://github.com/TeamMentor/TM_4_0_QA/pull/30) for [456](https://github.com/TeamMentor/TM_4_0_Design/issues/456)

[2015-04-07 22:29] luchia commented on #669
Notes from our meeting this morning -

If the user is logging in and for whatever reason the application can't talk to the 3.5 backend, we need to display an error that says 'Sorry TM is unavailable, please contact us at email.'
It should look like an alert, not like one our existing error pages.

[2015-04-07 22:34] luchia commented on #669
So, I just created a new branch for this which I pushed. Assigning to @michaelhidalgo to be merged into his #551 branch.

[2015-04-07 22:35] luchia commented on #669
Here's the [branch](https://github.com/TeamMentor/TM_4_0_Design/tree/Issue_669) @michaelhidalgo.

[2015-04-07 22:43] roman87 commented on #665
Interestingly it was working fine for beta.teammentor.net fine yesterday.

[2015-04-07 22:44] roman87 commented on #665
As discussed on the call lets add as much logging as possible to see what is happening.

[2015-04-07 22:54] luchia commented on #600
Prioritising my Sprint 3 work.

[2015-04-07 23:43] michaelhidalgo commented on #669
Hi @luchia , I think here https://github.com/TeamMentor/TM_4_0_Design/blob/Issue_669/source/jade/_mixins/user-mixins.jade#L124 you need to append the mailto html tag so it looks like

[code]

[2015-04-07 23:44] roman87 commented on #634
Look, @luchia is a Professional Designer. With a capital D.

*B*e*i*n*g* this makes it it is extremely important to get the details, no matter how small, right. They are the difference between someone han*gi*ng on you*r* site *l*ong enough to engage your brain and actually *read* what is being offered, and maybe take it for a spin, and  moving down the list of search results.

Watch this on the po

[2015-04-08 01:27] DinisCruz commented on #634
that is why I was saying that we should go with @luchia opinion

[2015-04-08 01:36] #648 closed

[2015-04-08 01:37] DinisCruz opened #675 "CR.Beta.6 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Release notes:**
Multiple UI changes and bug fixes

**Features/Issues:**

* [X] Changing query number in URL clears UI #627
* [X] Consolidat

[2015-04-08 01:39] DinisCruz commented on #648
Marked as CR.Beta.5

![image](https://cloud.githubusercontent.com/assets/656739/7037311/97ca0a2a-dd6e-11e4-8e1a-1a01411e512a.png)

[2015-04-08 01:40] #622 closed

[2015-04-08 02:55] roman87 commented on #634
That is why she shares her work to get oppinions that matter.  It takes a TEAM to make a Mentor :)

[2015-04-08 03:20] luchia commented on #634
Some revisions after our discussion in the meeting this morning -

##### Fix vulnerabilities
I removed the cup of pencils but I like it better with it because I think it makes it seem more realistic and the asymmetry of the icon looks better than it being perfectly balanced in my opinion.

![screen shot 2015-04-08 at 12 23 32 pm](https://cloud.githubusercontent.com/assets/4547737/7037838/69f9524e-

[2015-04-08 03:23] luchia commented on #669
Just pushed it @michaelhidalgo.

[2015-04-08 03:48] luchia commented on #600
I've done some researching today and it looks like this is dependant on the users browser. It's possible that we could adapt a JS library to fix this but in Jade version of TM it's impossible to do.

[2015-04-08 03:48] luchia commented on #600
Changing back to P3.

[2015-04-08 04:29] michaelhidalgo commented on #627
This issue is partially fixed!. Note that when the HTTP 404 error is displayed, the Login and SignUp navigation links are displayed. Even when the user is already logged in.

This error is happening because when rendering the error page, we are not persisting the login status.

![screen shot 2015-04-07 at 10 28 38 pm](https://cloud.githubusercontent.com/assets/1732035/7038873/3b3796ea-dd75-11e4-91

[2015-04-08 04:54] michaelhidalgo commented on #627
This issue has been fixed here https://github.com/TeamMentor/TM_4_0_Design/pull/676

This is the unit test :

[code]
![screen shot 2015-04-07 at 10 54 45 pm](https://cloud.githubusercontent.com/assets/1732035/7039068/154a955a-dd79-11e4-919d-a72dd0ae8bc1.png)

[2015-04-08 07:37] luchia commented on #668
This is what I currently have on Flare and I think it looks really good (ignore the clients div, still working on something.) -

![screen shot 2015-04-08 at 5 36 10 pm](https://cloud.githubusercontent.com/assets/4547737/7040769/dd14f6f6-de15-11e4-863c-de07333b29b4.png)

I thought stripping back some of the information that really wasn't relevant to TM was important and the footer is now a lot clea

[2015-04-08 14:36] michaelhidalgo commented on #665
So I spend some time with it. Note that this feature (password reset) has a timeout in place for 1500 milliseconds.

So adding logging entries I know when the request starts and ends :

![screen shot 2015-04-08 at 8 30 00 am](https://cloud.githubusercontent.com/assets/1732035/7047441/c2e93a86-ddc9-11e4-9657-975064fea3a6.png)

And doing some math with the milliseconds we realize that this process i

[2015-04-08 16:26] DinisCruz opened #677 "IIS error when HTML elements are included in the address bar"
On IIS,  this request: ```http://beta.teammentor.net/show/-6234f2d47eb7,%3Ch1%3Equery%3C/h1%3E-1a265c6dffd1,query-09ffeb0d1570/''' (ie. **/show/-6234f2d47eb7,<h1>query</h1>-1a265c6dffd1,query-09ffeb0d1570/```) will throw an IIS error.

![image](https://cloud.githubusercontent.com/assets/656739/7049735/fa2333f6-dde9-11e4-9fc5-94c91437a011.png)

that doesn't work when running directly on node (at ``

[2015-04-08 16:34] DinisCruz opened #678 "Run Node sites directly on node and not via IIS"
We keep having a number of IIS issues caused by the fact that node is being proxied by IIS (latest one is https://github.com/TeamMentor/TM_4_0_Design/issues/677). I think that the time has come to actually support running node as it is supposed to be run (directly). If anything we should do the reverse, proxy the 3.5 TM on a node module, or run 3.5 on a different port

At the moment, we already ha

[2015-04-08 16:43] SI-Lisa commented on #580
Hi All,
I asked Jen to put together some marketing copy for this space. Please see here and let us know what you think. The names of each product will be linked to the web pages covering each piece of content:

TEAM Mentor is just one of our many security education offerings.

Looking for on-demand application security training? Check out:
-TEAM Professor: This training program provides security a

[2015-04-08 17:08] DinisCruz opened #679 "[Q] Write test to check login status on 404 and 500 pages"
I just changed these values to hard-coded true and false

![image](https://cloud.githubusercontent.com/assets/656739/7050569/3aa9ded8-ddf0-11e4-8a93-fbb361f3b5df.png)

and no unit tests failed (on TM Design)

There should be at least one test that checks for this

@tekgirl77 do you want to have a go at this test?

[2015-04-08 17:10] DinisCruz commented on #679
For example the Help_Controller is picking up on this change

![image](https://cloud.githubusercontent.com/assets/656739/7050621/affb67c4-ddf0-11e4-9c07-59fbcd833ed6.png)

[2015-04-08 17:27] DinisCruz commented on #665
what are the options to add the 'timeout' too? (in Express or Node)

Can we add it just to this call?

If so, I think 5000 (5 secs) would be a good value

[2015-04-08 17:27] DinisCruz commented on #627
code merged

[2015-04-08 17:40] michaelhidalgo commented on #665
@DinisCruz  this is what request.js says about timeout  :

"timeout - Integer containing the number of milliseconds to wait for a request to respond before aborting the request. Note that if the underlying TCP connection cannot be established, the OS-wide TCP connection timeout will overrule the timeout option (the default in Linux is around 20 seconds)."

We are not relying on timeouts with the o

[2015-04-08 17:42] DinisCruz opened #680 "[Q] use isnt instead on != when setting the loggedIn value"
Which follows our [Coding Standard](https://github.com/TeamMentor/TM_4_0_Design/wiki/Development-Style-Guide)

![image](https://cloud.githubusercontent.com/assets/656739/7051267/14fc975c-ddf5-11e4-97dc-2419b161e2db.png)

[2015-04-08 17:46] DinisCruz commented on #665
yeah, but we will need to make it as a global setting, right?

I guess given node's async nature that shouldn't be a major issue.

OK, can you put that on PR?

[2015-04-08 17:47] DinisCruz commented on #680
@michaelhidalgo can you take a look at this issue and the fix, and then close the issue?

[2015-04-08 17:53] DinisCruz opened #681 "[Q] add .loggedIn() function to req object"
As seen on https://github.com/TeamMentor/TM_4_0_Design/commit/5d8c9799682902cbb07af99f211a7545fcf0f0fc , we have tons of places where we use ```req.session?.username isnt undefined``` which is not really a nice and scalable solution (for example if we wanted to change how the logged-in status is calculated in the future).

I'm thinking that a much better solution will be to add a method to the **r

[2015-04-08 18:22] michaelhidalgo commented on #680
Nice, it looks more verbose. Closing it.

[2015-04-08 18:22] #680 closed

[2015-04-08 19:53] roman87 commented on #674
I moved this issue here: https://github.com/TMContent/Lib_UNO/issues/33 and @genecarter you should have received an invitation email.
Could you then go to the issue and elaborate a bit on why you feel this should produce results?

[2015-04-08 19:54] roman87 commented on #669
@michaelhidalgo Don't forget to assign this to appropriate person :)

[2015-04-08 19:55] roman87 commented on #669
Ok nevermind, somehow my page didn't update

[2015-04-08 20:14] roman87 commented on #667
So basically we can do a string search and add mapping this way. Not very accurate but I think until we have a tag system we can't really do much.

[2015-04-08 20:16] roman87 commented on #634
Yea  the straight line doesn't really work and green arrows ether.

![selection_177](https://cloud.githubusercontent.com/assets/1326120/7054417/44b01586-de0a-11e4-9efc-7870c3b5590a.png)

I don't know if it is supposed to be like this, but on my screen they are quite large:

[2015-04-08 20:28] roman87 commented on #665
What if we don't bother waiting for the response? i.e. we send the request for the reset, get an OK and let TM35 do its job in processing. There could be many factors why email sending is delayed. The server could be too busy, the server on the other side could be temporarily down etc.

[2015-04-08 21:14] roman87 commented on #673
Hmm, interesting idea. So what will we show? The actual TP slide?

[2015-04-08 21:19] michaelhidalgo commented on #669
:)

[2015-04-08 21:20] roman87 commented on #600
Still showing up as P0, moving it to P1

[2015-04-08 21:21] roman87 commented on #668
Yep, definitely. We still need the version number there somewhere.

[2015-04-08 21:23] roman87 commented on #677
Hmm... interesting. Taking a look on how to turn this off.

[2015-04-08 21:24] roman87 commented on #678
That is a good idea.  However, does node support multiple sites on the same port? Is there a reverse proxy module for node?

[2015-04-08 21:25] michaelhidalgo commented on #665
Well we are facing request timeout and several things happen during that time :)

ClientConnected:
ClientBeginRequest:
GotRequestHeaders:
ClientDoneRequest:
Determine Gateway:
DNS Lookup:
TCP/IP Connect:
HTTPS Handshake:

[2015-04-08 21:26] roman87 commented on #665
Ok, lets discuss on the call.

[2015-04-08 21:27] roman87 commented on #515
Cool, so I am moving it back to dev Should be very hard to do right?

[2015-04-08 21:27] roman87 commented on #158
cool

[2015-04-08 21:27] #158 closed

[2015-04-08 21:38] roman87 opened #682 "Extra long article link crashes the DB"
http://localhost:1337/article/blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah

will cause the crash

Here is one TM article that might help:
https://beta.teammentor.net/article/287691cd9ed3/Input-Is-

[2015-04-08 21:51] michaelhidalgo commented on #551
@DinisCruz  can you please review this https://github.com/TeamMentor/TM_4_0_Design/pull/663/files

[2015-04-08 21:53] michaelhidalgo commented on #627
Hi @roman87 , can you please give this issue a test :)

[2015-04-08 22:09] michaelhidalgo commented on #669
Hi @luchia it seems like the font size of the email is a bigger than the actual text from the alert.

Do you think we can make them same size?

![screen shot 2015-04-08 at 4 04 08 pm](https://cloud.githubusercontent.com/assets/1732035/7056495/78ffa168-de09-11e4-8108-451838772fe0.png)

[2015-04-08 23:53] tekgirl77 commented on #644
[PR submitted here](https://github.com/TeamMentor/TM_4_0_QA/pull/32)

[2015-04-08 23:58] tekgirl77 commented on #644
@DinisCruz  TravisCI is failing on this one - here is the library I am pointing at, is this correct for the QA environment also?

  "tm_3_5_Server": "https://tmdev01-uno.teammentor.net",
  "content_Folder": "./.tmCache/_TM_3_5_Content",
  "default_Repo": "git@github.com:TMContent/Lib_UNO.git",
  "current_Library": "Lib_UNO"

[2015-04-09 00:21] luchia commented on #668
Why do we need the version number? Could it be a part of our docs instead?

[2015-04-09 00:43] roman87 commented on #668
Its good to know the version number at a glance. Docs would not necessary change between versions. It is mainly for support/troubleshooting and installation purposes.

[2015-04-09 00:47] roman87 commented on #580
Other than I am afraid it might look too busy, I think it looks good. What does everyone else think. @SI-Lisa can we get the links to the actual pages to point to? Then we can do it as a POC page and see how it looks.

[2015-04-09 00:58] michaelhidalgo commented on #665
As we discussed on the call, we are going to remove the timeout value set for the password reset feature because at this time, it is the only process that uses it.

The default timeout for the request is 20 seconds. We might need to come up with a more general solution if we want to do not rely on the framework limitation.

[2015-04-09 01:05] roman87 commented on #627
Ok, now this is really fixed and ready for follow up when the next beta comes out.

[2015-04-09 01:59] DinisCruz commented on #665
merged

[2015-04-09 12:36] pjenney58 commented on #551
BTW,  Happy Birthday @michaelhidalgo <https://github.com/michaelhidalgo> !

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-09 13:23] michaelhidalgo commented on #551
Thanks Pete :)

2015-04-09 6:36 GMT-06:00 Pete Jenney <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-04-09 13:30] michaelhidalgo commented on #669
This has been done. The mixin and the page were created.

I'm going to close this issue since we are tracking it here https://github.com/TeamMentor/TM_4_0_Design/pull/663

[2015-04-09 13:30] #669 closed

[2015-04-09 13:45] michaelhidalgo commented on #295
@roman87 can we close this issue, I believe it is similar to this one https://github.com/TeamMentor/TM_4_0_Design/issues/551

[2015-04-09 14:02] tekgirl77 commented on #644
I think this can be closed, the PR was merged into Dev branch.

[2015-04-10 02:57] luchia commented on #634
So I'm really happy with the first sets but still not satisfied with the last one. I will work on it early Monday morning so we have something for release. I will need everyone to weigh on which structure you like (the list items vertical or horizontal) and which set of icons (round, rect or none).

You can find these pages in the POC directory on the branch Issue_634. Thank you.

[2015-04-10 03:02] roman87 commented on #343
So looking at this for a bit, it seems like there is nothing we can do with IIS in this case:
https://technet.microsoft.com/en-us/library/cc753103%28v=ws.10%29.aspx
[code]

Though not ideal, I think we can live with this for now.

[2015-04-10 03:03] roman87 commented on #343
@BendixSpring can you let us know if this is fixed to your satisfaction?

[2015-04-10 15:12] DinisCruz commented on #343
Did you try http://stackoverflow.com/questions/7511239/asp-net-mvc-how-to-handle-400-bad-request-error-when-url-end-with ?

I was under the impression that this could be handled with web.config options

[2015-04-10 15:13] DinisCruz commented on #634
nice, send it a PR when your happy,

It would be cool to add this to next week's beta

[2015-04-10 15:15] DinisCruz commented on #644
@tekgirl77 the travis runs on Lib_Vulnerabilities library (https://github.com/TMContent/Lib_Vulnerabilities)

[2015-04-10 15:29] tekgirl77 commented on #644
Thanks @DinisCruz

Hm, okay... I updated my library to the Lib_Vulnerabilities and the test is still passing for me locally.  The icons are all in the same place and order.  Can you help me understand what else may be causing the failure in QA env?

Based on the failure, it appears that PHP is the first technology listed in QA at the index page ('/show').

[2015-04-10 15:35] tekgirl77 commented on #644
@DinisCruz nevermind, I cleared my .tmCache and updated it; now I am seeing the change in libraries.

There is no '/show' page and no articles.

Shouldn't our QA env be pointing to the same library as production?

Let me know if there is something more you want me to do with this test, or if we need to make a change to the library QA is using, or if I am missing something else?  :)

[2015-04-10 16:12] DinisCruz commented on #644
@tekgirl77 ok, I just pushed an refactored of this test, and now looks like this:

[code]

can you study it and see what I did?

[2015-04-10 16:22] DinisCruz commented on #644
@tekgirl77 can you fix the test?

![image](https://cloud.githubusercontent.com/assets/656739/7091964/e48a5b08-df7b-11e4-8f0e-f1929e83e7cb.png)

this is caused by the fact that there are some  diff Technology mapping in the Lib_Vulnerabilities lib

the main reason was to not publish our entire lib to travis (and to deal with giving it access to our private Lib_Uno repo)

It also runs faster and it

[2015-04-10 16:29] tekgirl77 commented on #644
Oh thank you!!  I did play around with some of that, like the .each method... but wasn't sure how to tie them together ... let me take another look.

[2015-04-10 16:29] roman87 commented on #343
The link you point to to actually says that it is impossible to do that:) The guy that says that it is possible assumes that there is an existing response from an application, we don't have an existing response since the request never makes it to the reverse proxy.

MS Docs says you can't do that :). I am sure there is a hack. Some people say that if you enable detailed errors it maybe possible. B

[2015-04-10 16:30] roman87 commented on #634
1 vote for vertical
1 vote for round
:)

[2015-04-10 16:51] roman87 opened #684 "How to find framework articles (WCF, ASP.NET, Java Frameworks)"
Now that we have consolidated all the filters, it is really not easy to find specific technologies, if one is looking for them. Such as WCF,  ASP.NET etc. The proposed solution is as follows:
- [ ] 1. Identify all the articles that had a specific technology filter prior to consolidation.
- [ ] 2. Add that technology filter into the tag field of the taxonomy
- [ ] 3. Use the tag field of the taxono

[2015-04-10 16:53] roman87 opened #685 "Searching for ASP.NET produces only 3 articles in result list."

[2015-04-10 16:58] roman87 opened #686 "Search for Scala produces 99 articles, filtering for scala produces 103 articles."
We  need to fix the discrepancy. Basically search for Java/Scala or any other technology needs to be the same as selecting the filter.

[2015-04-10 17:19] roman87 opened #687 "Clicking next to the magnifying glass icon does not put cursor in the text box"
It seems like the area around the search icon is not responding to put cursor in the search field.
This comes to us from:
Description
================
Basically if you try to click next to the magnifying glass icon on the search page, the text cursor is not being put on the search field

Steps
================
1. Go to the search page http://beta.teammentor.net/user/main.html
2. click next to the

[2015-04-10 17:21] michaelhidalgo commented on #682
It seems like when someone manipulates the URL to add a quite long value, and we are saving that search as cache (writing in disk)
In order to save the cache to disk, we are using Node's async function fs.writeFileSync, which is not handling exceptions and therefore the GraphDB is crashing when the path is too large.

I opened an issue in the saveAs extension method which should take care of this

[2015-04-10 17:30] roman87 opened #688 "Request URL Too Long HTTP Error 414. The request URL is too long."
This also comes from moises.siles@gmail.com

Description
==================
Long text on the search field is causing the following error message

Request URL Too Long

HTTP Error 414. The request URL is too long.

Steps to reproduce
=================
1. Go to the search field
2. Insert a long text and press enter or click on the magnifying glass icon

Expected Results
==================
System sho

[2015-04-10 17:51] roman87 commented on #688
Per .NET documentation as outlined here:
https://github.com/TeamMentor/TM_4_0_Design/issues/343#issuecomment-91412981

Its is not possible to customize the error in IIS. Otherwise the application is behaving as expected.

[2015-04-10 17:51] #688 closed

[2015-04-10 19:03] michaelhidalgo commented on #682
We could use 255 as the max file path (this value should work for Windows, Mac, Linux)

http://unix.stackexchange.com/questions/32795/what-is-the-maximum-allowed-filename-and-folder-size-with-ecryptfs

[2015-04-10 22:35] michaelhidalgo commented on #682
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/689

[2015-04-10 23:42] tekgirl77 commented on #644
@DinisCruz the issue is a difference b/n the text in the 2nd span tag for "Any Technology" in QA ("Any") versus the local and beta environments ("All").

- Here is QA:

  ![screen shot 2015-04-10 at 4 54 53 pm](https://cloud.githubusercontent.com/assets/6649463/7098758/98195360-dfa2-11e4-9f93-df39557064d4.png)

- And here is the beta environment (same as my local):

  ![screen shot 2015-04-10 at 4

[2015-04-11 02:04] DinisCruz commented on #644
That value comes from the graph search

[2015-04-11 02:09] DinisCruz opened #690 "Add support for open search"
Which could be quite an interesting way to expose content that we make public (for example the vulns library)

See http://www.hanselman.com/blog/OnTheImportanceOfOpenSearch.aspx

[2015-04-11 16:35] tekgirl77 commented on #644
Thanks that is what I thought... so these get categorized and populated manually, correct?

![screen shot 2015-04-11 at 10 25 42 am](https://cloud.githubusercontent.com/assets/6649463/7102202/489e4c34-e036-11e4-899c-f5e0e26b2a43.png)

[2015-04-12 11:44] roman87 commented on #690
Interesting concept. Just reading this briefly, would one need to have teammentor.net as their default search engine in the browser for this to work?
Anyhow, we should explore this in its due time.

[2015-04-12 11:46] roman87 commented on #551
Bumping this up so we can merge it.

[2015-04-12 11:49] roman87 commented on #295
Yes agreed closing as dupe of #551

[2015-04-12 11:49] #295 closed

[2015-04-12 11:52] roman87 commented on #644
@tekgirl77 don't forget to assign the issue to the appropriate person, in this case its @DinisCruz

[2015-04-12 15:24] DinisCruz commented on #644
Well not really manually, the TM article editor is used to change those values

[2015-04-12 16:03] DinisCruz commented on #551
code merged

[2015-04-12 17:26] tekgirl77 commented on #644
@roman87 I don't think I have the rights to assign issues yet

[2015-04-12 21:32] DinisCruz commented on #644
ok, I just fixed the small issue that happened due to Lib_Vulnerabilities

![image](https://cloud.githubusercontent.com/assets/656739/7107657/d5014b1c-e163-11e4-84c8-4f5fa5e46168.png)

[2015-04-12 21:33] DinisCruz commented on #644
closing it

[2015-04-12 21:33] #644 closed

[2015-04-12 21:45] DinisCruz commented on #682
@michaelhidalgo this is one of those bugs that you need to start with the 3 tests that replicate it (on TM_QA, TM_Design and TM_GraphDB)

[2015-04-13 08:29] DinisCruz opened #691 "[Q] Normalize technique used for applying Filter icons"
@luchia can you standardise on one technique use to apply Filter icons? (once that is done @tekgirl77 can you update the test we created for https://github.com/TeamMentor/TM_4_0_Design/issues/644 ?)

As you can see by the test https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/regression-sprint-1.coffee#L368-L422  ...

![image](https://cloud.githubusercontent.com/assets/656739/7112131/8e5ec

[2015-04-13 16:11] roman87 commented on #665
@michaelhidalgo. This looks good. However, in case the server is unavailable, we need to show the same unavailable error and not a generic one. Similar to #551

[2015-04-13 16:26] michaelhidalgo commented on #665
So we will need a new Password Reset page that shows up the error message and appends the support email,right.

[2015-04-13 16:29] roman87 commented on #665
well, no, the same error page as we show when signup or login fails. Do you think it makes sense?

[2015-04-13 16:31] michaelhidalgo commented on #665
Yeah I think it makes sense, since he is still in the login page. Let me adjust it.

[2015-04-13 16:31] roman87 commented on #551
So this is not working exactly as expected. If the server is completely down and does not respond (i.e no response to TCP connection, then eventually the browser times out and does not display the error.
![selection_178](https://cloud.githubusercontent.com/assets/1326120/7120137/db2fea28-e1d8-11e4-9126-61216f43301d.png)

Here is the log:
2015-04-13T16:23:22.054Z - info:  url=/user/login, ip=127.0.

[2015-04-13 16:38] roman87 commented on #551
As you can see from the tcpdump above, TCP connection was never established.

Here is a scenario that works. In this case I just paused the 3.5 VM so the network traffic is local and times out on arp request:

tcpdump:
12:35:46.252374 ARP, Request who-has tmdevr01-beta35.teammentor.net tell 192.168.250.110, length 28
12:35:47.252322 ARP, Request who-has tmdevr01-beta35.teammentor.net tell 192.168.

[2015-04-13 16:43] michaelhidalgo commented on #551
hmm, can we reproduce this behavior with Chrome or other browser? I think the connection reset message is provided by the browser.

[2015-04-13 17:49] roman87 commented on #677
This was fixed with
<system.web>
    <httpRuntime requestPathInvalidCharacters="%,&amp;,:,\,?" />
</system.web>

Note, that %,&amp;,:,\,? are characters that will still produce the error.

[2015-04-13 23:15] luchia commented on #634
I had a minor mishap this morning when I realised that all my photoshop files were/are gone from my computer. Thankfully, we had production ready png's in the application and my code was on Github so I was able to retrieve PNGs for Jade at the very least. From these, I will need to remake the Photoshop files but it should simply be a matter of selecting and filling all of the shapes with colour, n

[2015-04-13 23:20] luchia commented on #634
Here's the [PR](https://github.com/TeamMentor/TM_4_0_Design/pull/693) @DinisCruz.

[2015-04-14 00:30] michaelhidalgo commented on #665
@DinisCruz can you please code-review this fix https://github.com/TeamMentor/TM_4_0_Design/pull/694/files

[2015-04-14 02:54] luchia commented on #687
This has been fixed and added to my PR for release -

![screen shot 2015-04-14 at 12 50 52 pm](https://cloud.githubusercontent.com/assets/4547737/7129550/59493316-e2a5-11e4-8eaf-a1ccf29bbebf.png)
![screen shot 2015-04-14 at 12 50 54 pm](https://cloud.githubusercontent.com/assets/4547737/7129555/616a7208-e2a5-11e4-90ae-3663c19e66e1.png)

[2015-04-14 02:54] luchia commented on #668
Sure, that makes sense. See below for what I have now. I just created a PR for @DinisCruz as well -

![screen shot 2015-04-14 at 12 44 15 pm](https://cloud.githubusercontent.com/assets/4547737/7129461/1a494918-e2a4-11e4-81bd-01eb233dfc29.png)
![screen shot 2015-04-14 at 12 44 26 pm](https://cloud.githubusercontent.com/assets/4547737/7129462/1a49cbcc-e2a4-11e4-9e0d-8525cb017ca5.png)
![screen shot 2

[2015-04-14 02:55] luchia commented on #668
This solution flows a lot better on Flare thanks to flexbox but I think this is okay for legacy browsers.

[2015-04-14 02:58] luchia commented on #691
Yup, this is essentially why we need #634. I'm working on it, hopefully I'll have something final in the next couple of weeks so we don't have the mess we have at the moment.

[2015-04-14 03:00] DinisCruz commented on #653
@luchia I think it was this one https://github.com/TeamMentor/TM_4_0_Design/commit/a8cee6c2ff9c53bf34b98754b8578bad8b2848a7#diff-ae3bc9c57ed54814941c333bad9ae435

[2015-04-14 04:01] luchia commented on #653
@roman87 Is this the one you're talking about?

![screen shot 2015-04-14 at 2 01 20 pm](https://cloud.githubusercontent.com/assets/4547737/7130179/c5a7c26c-e2ae-11e4-92f0-f38b79e6e8cc.png)

[2015-04-14 05:19] luchia commented on #634
Update re missing icons - all my ongoing work will be stored in the What's Cookin' repo (the specific directory can be found [here](https://github.com/TeamMentor/WhatsCookin/tree/master/TEAM%20Mentor%20(Lucy)/Landing%20Page%20Icons)). We're now back up to date and I'm going to start working on the Features pages icons now.

[2015-04-14 08:25] DinisCruz commented on #500
Very cool!!!!

Check this out, if I remove the css that applied the logo the test fails

![image](https://cloud.githubusercontent.com/assets/656739/7133139/1eff9802-e288-11e4-9d46-aadd267fc7df.png)

once the logo is there, the test passes

![image](https://cloud.githubusercontent.com/assets/656739/7133144/33da2300-e288-11e4-8678-40d52c5dd12d.png)

great work @tekgirl77 :)

[2015-04-14 08:26] #500 closed

[2015-04-14 08:29] DinisCruz commented on #456
yap, code is merged and all tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/7133202/afd4a1e2-e288-11e4-80db-f494aa5bc687.png)

[2015-04-14 08:29] #456 closed

[2015-04-14 08:42] DinisCruz commented on #677
yap, looks fixed

![image](https://cloud.githubusercontent.com/assets/656739/7133351/6c86d5c0-e28a-11e4-951f-d29d6e4a4bcd.png)

yeas, sending

http://beta.teammentor.net/show/-6234f2d47eb7,%3Ch1%3Equery%3C/h1%3E-1a26%5c6dffd1,query-09ffeb0d1570%,&,:,/,?

will return

![image](https://cloud.githubusercontent.com/assets/656739/7133320/122c8ade-e28a-11e4-8fb1-36d065b05f75.png)

which I think is ok

@

[2015-04-14 08:57] DinisCruz commented on #634
you really need to have an auto backup for your photoshop files

what about dropbox, that should work?

[2015-04-14 09:01] DinisCruz commented on #634
merged and added to https://github.com/TeamMentor/TM_4_0_Design/issues/675

[2015-04-14 09:01] DinisCruz commented on #627
added to https://github.com/TeamMentor/TM_4_0_Design/issues/675

[2015-04-14 09:07] DinisCruz commented on #634
and it looks like this locally

![image](https://cloud.githubusercontent.com/assets/656739/7133723/142dba2a-e28e-11e4-91ff-1abe6c863652.png)

[2015-04-14 09:15] DinisCruz commented on #653
note, on this poc we need to add the a query to the url to see the 'empty filters'

http://localhost:1337/poc/filters-with-empty-results/query-35e6c521d4c2

![image](https://cloud.githubusercontent.com/assets/656739/7133849/2c752f90-e28f-11e4-9599-b3ca7af4b29d.png)

[2015-04-14 15:51] roman87 commented on #339
@BendixSpring this should be fixed now. Can you please double check and make sure the fix is to your liking.

Thanks.

[2015-04-14 15:57] michaelhidalgo opened #697 "It is possible to create hundreds of temporary articles in the server using TM."
It seems like when we provide a non-existing article, GraphDB creates a temporary file in the /.tmCache/data_cache folder.

Someone might run a script and full the disk with files :

Here is the folder empty :

![screen shot 2015-04-14 at 9 42 14 am](https://cloud.githubusercontent.com/assets/1732035/7141056/579cfbf6-e28c-11e4-8ebf-9ea3a93e6e1c.png)

Creating a script to target TM

[code]

and thi

[2015-04-14 15:58] roman87 commented on #551
It is really simple to reproduce.
1. Change hosts file on your local box to point the DNS name of the 3.5 server to a non existent ip address. In my case here is how it looks like:
My src/misc/Config.json:
[code]

My hosts file:

[code]

Which makes all the 3.5 requests go to 192.168.250.53, which is a non-responsive IP address.

The browser provides the reset message because it doesn't receive an

[2015-04-14 16:00] michaelhidalgo commented on #697
As a reference, here are the lines where the file is saved to disk

https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/src/api/Data-API.coffee#L15
https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/src/api/base-classes/Swagger-GraphDB.coffee#L16

[2015-04-14 16:17] DinisCruz commented on #697
that is a bug, in fact that is most likely the reason for the https://github.com/TeamMentor/TM_4_0_Design/issues/682 prob

we need to fix it here https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/src/api/Data-API.coffee#L17

[2015-04-14 16:20] BendixSpring commented on #339
This is the error message when I type in an overly long query:

It’s an improvement.  Do I like it?  It’s not my ideal, but under the circumstances it works.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, April 14, 2015 11:52 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] 404 error on a very long search (#339)

@BendixSpring <https://github.com/Bendi

[2015-04-14 16:33] BendixSpring commented on #336
I was unable to verify this.  I tried submitting the same search query numerous times, and not changes happened to Popular Search Terms, so I can’t validate this.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, April 07, 2015 10:16 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Don't display search terms that had 0 hits under "Popular Search Terms" (#

[2015-04-14 16:54] tekgirl77 commented on #679
PR submitted [here](https://github.com/TeamMentor/TM_4_0_Design/pull/696)

[2015-04-14 17:47] DinisCruz commented on #557
Done, queries and filters now looks like this:

![image](https://cloud.githubusercontent.com/assets/656739/7143302/92dd42da-e2d6-11e4-90a1-a73074b62b4d.png)

![image](https://cloud.githubusercontent.com/assets/656739/7143309/9fc15c2a-e2d6-11e4-8dea-1fc1b818839b.png)

![image](https://cloud.githubusercontent.com/assets/656739/7143316/a7004104-e2d6-11e4-9820-780d18aef85a.png)

[2015-04-14 17:51] DinisCruz opened #699 "Search box too big in latest Dev (in mobile mode)"
@luchia can you take a look at the Search box on the latest dev

it looks like this

![image](https://cloud.githubusercontent.com/assets/656739/7143387/1efb7624-e2d7-11e4-8571-dc843a697d69.png)

looks ok when in full width mode:

![image](https://cloud.githubusercontent.com/assets/656739/7143405/4c4fffd2-e2d7-11e4-8b41-12b82eefec22.png)

[2015-04-14 19:45] luchia commented on #699
Got it, about to create a PR.

![screen shot 2015-04-15 at 5 43 14 am](https://cloud.githubusercontent.com/assets/4547737/7145871/92dd0aca-e332-11e4-8c75-dd91d5a7d78e.png)

[2015-04-14 20:03] luchia commented on #634
I don't want Dropbox on my machine for privacy reasons. I've set up a workflow now so this doesn't happen again.

[2015-04-14 21:58] DinisCruz commented on #665
just merged it

[2015-04-14 22:00] DinisCruz commented on #665
added to https://github.com/TeamMentor/TM_4_0_Design/issues/675

[2015-04-14 22:28] DinisCruz commented on #675
QA is passing

![image](https://cloud.githubusercontent.com/assets/656739/7148755/fa826d30-e2fd-11e4-9480-ff9ecbda1c5b.png)

[2015-04-15 15:33] DinisCruz commented on #699
this was fixed on latest commit

[2015-04-15 15:34] DinisCruz commented on #634
sure, sounds good

[2015-04-15 15:35] DinisCruz commented on #691
lovely, it will be good to normalise those mixins

[2015-04-15 15:37] DinisCruz opened #701 "[Q] find out why (and workaround) Webstorm shows an error on Regex"
Here is the code that throws the error (on WebStorm 10)

[code]

Here is what it looks like

![image](https://cloud.githubusercontent.com/assets/656739/7162597/67436f02-e38d-11e4-8bf8-4cdf1d699ca9.png)

[2015-04-15 15:42] DinisCruz commented on #701
@tekgirl77 do you want to have a go?

[2015-04-15 15:42] DinisCruz commented on #376
OK, I'm going to change the values to 1,3,8,13,21,34

One comment I got on the time was that it is 'a bit depressing' if I mark something as 4h and it takes more time for them to do it (so with 1,3,8,13,21,34 what we have is units of work (proportional to who is doing the work))

There are number of [Q] and Taster tasks which are basically small tasks which will take a couple weeks to do (from beg

[2015-04-15 15:46] DinisCruz commented on #376
ok, they look like this now

![image](https://cloud.githubusercontent.com/assets/656739/7162859/e0560a2a-e38e-11e4-9b97-8e720430c065.png)

lets see how it works in practice

[2015-04-15 15:49] DinisCruz commented on #376
Actually, what about this

![image](https://cloud.githubusercontent.com/assets/656739/7162938/47d7f2d0-e38f-11e4-9237-2507118a02a7.png)

Question: which one you prefer, first or second?

[2015-04-15 16:10] DinisCruz commented on #376
the latest version even comes our nicely sorted in the labels list :)

![image](https://cloud.githubusercontent.com/assets/656739/7163501/44da7122-e392-11e4-94c1-8f8334e3771c.png)

[2015-04-15 17:12] michaelhidalgo commented on #697
With Pull Request https://github.com/TeamMentor/TM_4_0_GraphDB/pull/3/files

[2015-04-15 17:51] DinisCruz commented on #413
For reference on the current TeamMentor.net, it looks like this

https://teammentor.net/article/65d76aae-7c7f-4914-aca0-e84684e919ee
![image](https://cloud.githubusercontent.com/assets/656739/7165436/9d0c52c2-e39f-11e4-9f46-1f7ba364d673.png)

with the styles applied like this

![image](https://cloud.githubusercontent.com/assets/656739/7165447/adddef66-e39f-11e4-8717-70cc3fa03d5a.png)

using this A