[2015-04-15 20:42] tekgirl77 commented on #701
PR submitted [here](https://github.com/TeamMentor/TM_4_0_QA/pull/33)

[2015-04-15 20:58] luchia commented on #376
I like it, @DinisCruz.

[2015-04-15 22:08] DinisCruz opened #702 "Flare UI is not working very well on latest Dev"
This is what I get

http://localhost:1337/flare/all#

![image](https://cloud.githubusercontent.com/assets/656739/7170236/2b058368-e3c4-11e4-97bc-657d808cd1bd.png)

http://localhost:1337/flare/articles/alert-article-new-window-view#

![image](https://cloud.githubusercontent.com/assets/656739/7170255/49710a0c-e3c4-11e4-9f5c-502177f3d977.png)

http://localhost:1337/flare/help/index
![image](https://c

[2015-04-15 22:17] DinisCruz commented on #674
thx, closing

[2015-04-15 22:17] #674 closed

[2015-04-15 23:36] DinisCruz opened #703 "CR.Beta.7 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Features/Issues:**
* [X] Add support for using 3.5 Article Tags in search results weights #704
* [X] Need to have an Icon for "Vulnerability

[2015-04-16 00:38] luchia commented on #702
@DinisCruz here's the production ready folder we discussed in our meeting this morning -

![screen shot 2015-04-16 at 10 36 15 am](https://cloud.githubusercontent.com/assets/4547737/7172044/7dc25fee-e424-11e4-83ed-3f77cff8c931.png)
![screen shot 2015-04-16 at 10 37 12 am](https://cloud.githubusercontent.com/assets/4547737/7172049/9a58dd0e-e424-11e4-8686-5cf0744f371b.png)
![screen shot 2015-04-16 a

[2015-04-16 00:39] luchia commented on #702
Buttons still need work.

[2015-04-16 05:34] luchia commented on #634
Here's two more. These are super rough because I've been spending a lot of time on Flare this last week. Feel free to throw in ideas for setting the scene in these icons, I honestly haven't had too much time to spend on them the past week (and it's obvious).

![delivers-compliance](https://cloud.githubusercontent.com/assets/4547737/7174591/d39fcc0c-e44d-11e4-923b-3da2acf915e6.png)

![integrates](h

[2015-04-16 23:35] DinisCruz commented on #526
This shouldn't be happening anymore (after CR.Beta.6 HotFix)

here are the tests passing on TM-Dev-01 (inside **/c/tm-beta-40/TM_4_0_GraphDB** folder)
![image](https://cloud.githubusercontent.com/assets/656739/7193517/a3ed8282-e499-11e4-9635-fef7acbaeceb.png)

[2015-04-16 23:47] DinisCruz opened #704 "Add support for using 3.5 Article Tags in search results weights"
The idea is to use the Tag values as an extra weight on the search results

This will also solve https://github.com/TeamMentor/TM_4_0_Design/issues/686 and https://github.com/TeamMentor/TM_4_0_Design/issues/685

[2015-04-16 23:49] DinisCruz commented on #685
Making P1 since this depends on #704

[2015-04-16 23:49] DinisCruz commented on #686
Making P1 since this depends on #704

[2015-04-16 23:51] DinisCruz commented on #563
merged

[2015-04-16 23:52] DinisCruz commented on #452
I'm going to make this a P1 since it is not that easy to do on Jade, and it will be much easier to do in flare

[2015-04-16 23:52] DinisCruz commented on #562
merged

[2015-04-17 15:29] roman87 opened #705 "Too many requests eventually fill up session data and cause DOS on TM_Design"
As we saw with beta.teammentor.net _session_data file eventually fills up, causing a denial of service.
We need to be able to detect large file size for both
1. session data
2. logs
and truncate or switch to a different file.

[2015-04-17 16:14] DinisCruz opened #706 "[Q] write unit tests that check each mixin used and confirm its funcionality"
Not only we need this for QA, it will also allow use to easily detect the issues we had with CR.Beta.6 that was fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/1e227d734d345302a4670b7ff637064b7d822704

[2015-04-17 16:31] DinisCruz opened #707 "Add 'anti-DoS' capability to TM Design where malicious users are blocked"
The idea is to detect 'scanning' like activities or users 'attacking TM

We already had an situation (in CR.Beta.6) where one of our session logs grew to a 3GB of size, which was caused by the need to capture all users activities (including their searches). This is a prob when an user is 'attacking' TM since we will be capturing all 'payloads'

One way to implement this is to keep an eye on user's

[2015-04-17 16:42] DinisCruz opened #708 "Create load-testing and DoS unit tests where we hit the DB really hard"
Come up with a number of tests that are designed to push the TM site and GraphDB to its limit

- [ ] 10, 50, 100, 500 concurrent users navigating the site
- [ ] 10k to 1M request to the same page
- [ ] 10k to 1M search requests
- [ ] .... add more to here....

[2015-04-17 17:03] DinisCruz commented on #180
(as discussed on slack) Making a P0 since we need this for a number of other features and we also need to have a better understanding of LevelGraph/LevelUp limitations

This will also allow us to understand if LevelGraph is a good long term solution for TM 4.0 graphing needs, and if not, we will need to find an alternative graph engine. Note: research for alternative GraphDB's is out-of-scope of t

[2015-04-17 18:13] DinisCruz commented on #705
The https://github.com/TeamMentor/TM_4_0_Design/issues/708 will allow the testing of the fix

The best way do deal with this is to use a Graph for user data storage (see https://github.com/TeamMentor/TM_4_0_Design/issues/180)

[2015-04-17 18:15] roman87 commented on #705
As discussed, we still need a limit on all data we store. Limit should be configurable. After limit is reached we start purging old stuff. That is I think the only true way we solve this problem.

[2015-04-17 18:19] roman87 opened #709 "Pre populate Recent Articles, Top Articles, and Resent searches with something meaninfull on first install"

[2015-04-20 00:40] roman87 opened #710 "Need to have an Icon for "Vulnerability" Type articles"
As can be seen in https://tmdev01-beta.teammentor.net/show/

Vulnerability type articles do not have an Icon.

[2015-04-20 04:30] roman87 commented on #707
As discussed, this is a nice thing to do, but it will not resolve a slightly more complex DoS attack. We need to be able to truncate old data once we reach a certain limit.

[2015-04-20 04:34] roman87 commented on #704
All of WCF 3.5 articles now have the tag field populated with <Tag>WCF 3.5</Tag>

[2015-04-20 04:51] roman87 commented on #558
This is now fixed.

[2015-04-20 04:51] #558 closed

[2015-04-20 04:54] roman87 opened #711 "Try a tree view as a POC in Flare"
Based on some comments as discussed here https://github.com/TeamMentor/TM_4_0_Design/issues/621 we should try a POC implementing a tree view instead of a drill down menu in Flare

[2015-04-20 04:55] roman87 commented on #621
TTL expired.  Closing this and putting on the Flare backlog

[2015-04-20 04:55] #621 closed

[2015-04-20 04:55] roman87 commented on #570
3 Votes for pages. Ok lets give it a shot.

[2015-04-20 04:59] roman87 opened #712 "Allow for paging through all content instead of limiting to 250 articles (Flare Only)"
As discussed here:https://github.com/TeamMentor/TM_4_0_Design/issues/570 we should allow the user to page through results and not limit to 250 articles.

[2015-04-20 04:59] roman87 commented on #570
This is now tracked https://github.com/TeamMentor/TM_4_0_Design/issues/712

[2015-04-20 04:59] #570 closed

[2015-04-20 05:01] roman87 commented on #568
@BendixSpring as you can see on the latest beta.teammentor.net we have implemented the feature. Could you let us know if it was implemented to your satisfaction so we can close this issue?

[2015-04-20 05:03] roman87 commented on #577
@BendixSpring  can you take a look at the latest beta and let us know if this was implemented to your satisfaction?

[2015-04-20 05:05] roman87 commented on #645
@DinisCruz can you let me know if this is fixed and can be closed?

[2015-04-20 05:12] roman87 commented on #687
Hmm. looks like there is still an issue:
This is from the latest Dev Branch:
![selection_180](https://cloud.githubusercontent.com/assets/1326120/7224019/41d10430-e6fa-11e4-85ff-6e46a3f1af3c.png)

[2015-04-20 05:15] roman87 opened #713 "Add a "Have comments on this article" Link at the bottom of the full article view footer"
In the same manner as we have "Found a bug send us an email" we should add a similar link at the bottom of the full article view. The action should be exactly the same - a mailto support

[2015-04-20 05:15] roman87 commented on #668
Looks good.

[2015-04-20 05:15] #668 closed

[2015-04-20 05:19] roman87 commented on #653
Yes this is the one. Though given that everyone likes the current way we have it, no need to spend time on this now. Pushing it back to P3

[2015-04-20 05:20] #339 closed

[2015-04-20 05:21] #336 closed

[2015-04-20 14:39] BendixSpring commented on #568
I did a search for Code:

I got one long page with 250 articles, but no option to see the other articles:

No, it’s not working like I expect it would.  Maybe I’m on the wrong site:  http://beta.teammentor.net/search?text=code

From: RomichG [mailto:notifications@github.com]
Sent: Monday, April 20, 2015 1:02 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Number the l

[2015-04-20 14:44] BendixSpring commented on #577
I searched for Crypto:

These appear identical.

From: RomichG [mailto:notifications@github.com]
Sent: Monday, April 20, 2015 1:03 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] When Displaying Search Results, Display categories to distinguish between identically named articles (#577)

@BendixSpring <https://github.com/BendixSpring>  can you take a look at the latest

[2015-04-20 21:18] DinisCruz commented on #709
ok so what should that be?

I need the ids of the articles to show and the default search queries

[2015-04-20 21:54] DinisCruz commented on #704
done on latest commit

![image](https://cloud.githubusercontent.com/assets/656739/7241340/39b49bc0-e7b0-11e4-988d-7070ef9f77e0.png)

[2015-04-20 21:55] DinisCruz commented on #704
added to https://github.com/TeamMentor/TM_4_0_Design/issues/703

[2015-04-20 22:01] tekgirl77 commented on #413
[PR submitted here](https://github.com/TeamMentor/TM_4_0_Design/pull/714)

[2015-04-20 22:52] luchia commented on #713
This seems like a double up for no reason. With this added link, we now have three links to email the same email - once in the navigation, once in the article and once in the copyright. Unless we want to remove the email from the copyright and move it to the article instead?

[2015-04-20 23:29] luchia commented on #687
Yup, my fix ends up failing because I used max-width to build the element originally. I spent time on this this morning and changed everything over to widths and it now works better and more reliably.

![screen shot 2015-04-21 at 9 25 43 am](https://cloud.githubusercontent.com/assets/4547737/7242744/b7349660-e808-11e4-8fbe-265c42ee0cc0.png)
![screen shot 2015-04-21 at 9 25 49 am](https://cloud.git

[2015-04-20 23:29] luchia commented on #710
I couldn't recreate this locally, but I added the icon anyway. Let me know if it fixes the issues -

![screen shot 2015-04-21 at 9 09 30 am](https://cloud.githubusercontent.com/assets/4547737/7242488/458c1bca-e806-11e4-8fea-69437bf4bc7a.png)
![screen shot 2015-04-21 at 9 09 51 am](https://cloud.githubusercontent.com/assets/4547737/7242489/45f260b0-e806-11e4-929c-21341382fbe4.png)

I have created a

[2015-04-21 01:21] luchia commented on #702
@DinisCruz, I've done some more work on this to tidy up the button styles. We now have a little more cohesiveness throughout the application. All my work is on the Lucy branch.

![screen shot 2015-04-21 at 11 19 41 am](https://cloud.githubusercontent.com/assets/4547737/7244001/6e078fb4-e818-11e4-8068-70f86d33e509.png)
![screen shot 2015-04-21 at 11 19 45 am](https://cloud.githubusercontent.com/ass

[2015-04-21 10:01] DinisCruz commented on #687
merged

[2015-04-21 10:27] DinisCruz commented on #710
Merged and code is there

![image](https://cloud.githubusercontent.com/assets/656739/7250338/4c97b1f0-e819-11e4-84f6-c479559e2ddf.png)

[2015-04-21 10:28] DinisCruz commented on #710
Added to Need to have an Icon for "Vulnerability" Type articles #710

[2015-04-21 10:30] DinisCruz opened #716 "Search icon is mis-aligned on search page"
See http://localhost:1337/search?text=xss
![image](https://cloud.githubusercontent.com/assets/656739/7250386/cef48074-e819-11e4-93f3-213b27a42a85.png)

I believe this was caused by https://github.com/TeamMentor/TM_4_0_Design/issues/687

[2015-04-21 10:32] DinisCruz commented on #687
added to https://github.com/TeamMentor/TM_4_0_Design/issues/687

[2015-04-21 11:36] DinisCruz commented on #413
@roman87 check this out, @tekgirl77 did a great job with this commit and I just pushed it to dev since I think it looks good enough to into CR.Beta.7

[2015-04-21 11:39] DinisCruz commented on #413
Here is what the syntax highlight looks now (which is already much better than before)

http://localhost:1337/article/55ea97e52ba5/Encode-All-Output-Data

![image](https://cloud.githubusercontent.com/assets/656739/7251410/2d238222-e823-11e4-976d-697145430f08.png)

http://localhost:1337/article/d5f54a2485e6/Protect-Credentials-Within-a-Connection-String-in-Code

![image](https://cloud.githubusercon

[2015-04-21 11:39] DinisCruz commented on #413
Added to #703

[2015-04-21 12:14] DinisCruz opened #718 "Remove Git action from GraphDB REST api"
These are the methods that it provided

![image](https://cloud.githubusercontent.com/assets/656739/7251962/0b11a0b0-e828-11e4-9261-3fad167c770e.png)

I don't think we need this anymore (this was useful in the beginning of the GraphDB implementation but, now that we have a better workflow with Travis CI, we can remove it)

There is also a weird race condition on these values, which cause the Travis

[2015-04-21 12:32] DinisCruz commented on #718
Done
![image](https://cloud.githubusercontent.com/assets/656739/7252184/8303e75c-e82a-11e4-8d99-655d62b862eb.png)

[2015-04-21 12:34] DinisCruz commented on #718
With PR https://github.com/TeamMentor/TM_4_0_GraphDB/pull/6

This cannot be merged until we have an install (or script) to install the Lib_Uno

[2015-04-21 12:37] DinisCruz commented on #697
I just merged https://github.com/TeamMentor/TM_4_0_GraphDB/pull/5

@michaelhidalgo can you run your script again and confirm that the temp files are not created

[2015-04-21 12:38] DinisCruz commented on #697
added to #703

[2015-04-21 14:14] DinisCruz commented on #716
I just pushed a small hack to make it look good

![image](https://cloud.githubusercontent.com/assets/656739/7254135/0982404a-e839-11e4-9dfc-f6debcce133c.png)

[2015-04-21 14:37] DinisCruz opened #719 "CR.Beta.8 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Features/Issues:**
* [X] Add syntax colouring to Jade Article's rendering #413
* [X] Refactor ArticleHTML and Search Artifacts creation out

[2015-04-21 14:46] DinisCruz commented on #413
back to dev since there is a small bug in it

@tekgirl77 when we were pushing into production I noticed that if the jade cache is enabled the syntax highlight will not work. Which makes it not work

[code]

The solution is to do apply the changes to the params variable before the check for jade cache

[2015-04-21 14:56] tekgirl77 commented on #413
@DinisCruz how's [this?](https://github.com/tekgirl77/TM_4_0_Design/commit/73e308786049a1f4819e97d1fdff8fff95da8bbd)

[2015-04-21 20:03] michaelhidalgo commented on #697
Thanks Dinis, sure let me give it a test.

El martes, 21 de abril de 2015, Dinis Cruz <notifications@github.com>
escribió:

--
Sent from Gmail Mobile

[2015-04-21 20:13] luchia commented on #634
Further work -

![delivers-compliance](https://cloud.githubusercontent.com/assets/4547737/7261630/a119b08c-e8b6-11e4-837a-6291695946b4.png)

![integrates](https://cloud.githubusercontent.com/assets/4547737/7261632/a11bdf74-e8b6-11e4-96f4-c21c1035c06d.png)

![stores-crossreferences](https://cloud.githubusercontent.com/assets/4547737/7261633/a11cd99c-e8b6-11e4-9ed8-31a6b0dd23ef.png)

![provides-guid

[2015-04-21 21:22] luchia opened #721 "Build Customer View (Jade)"

[2015-04-21 21:27] luchia commented on #716
I just added a fix for it that works in Chrome, Safari and Firefox. I won't create a PR as I think it can be merged with next week's release (your fix works well for the moment).

[2015-04-21 21:28] luchia commented on #716
Assigning to you for QA and closing.

[2015-04-21 21:29] luchia commented on #478
This has been fixed in my recent work on Flare which also relates to #702. I'm in the process of merging all the Flare files over to the new layout which works better in the browser. This issue has been resolved but can't really be tested/checked/proven until we have Flare wired up.

[2015-04-22 00:54] luchia commented on #721
This has been done and tested in the three main Mac browsers. @roman87 @DinisCruz, I'm not sure how you want to implement this but the feature is there for when we are ready. This is currently only on the Lucy branch -

![screen shot 2015-04-22 at 10 09 22 am](https://cloud.githubusercontent.com/assets/4547737/7265464/c8837ba4-e8dd-11e4-93f8-d82ef7ee3dab.png)
![screen shot 2015-04-22 at 10 09 25 a

[2015-04-22 00:54] luchia commented on #721
Assigning to @roman87 so I know what to do with it next.

[2015-04-22 01:01] luchia opened #722 "Add new icons to Getting Started summary element"
![screen shot 2015-04-22 at 10 56 51 am](https://cloud.githubusercontent.com/assets/4547737/7265504/54e8941c-e8de-11e4-8af2-506dea3c789a.png)

We still have the old icons in here.

[2015-04-22 01:12] luchia commented on #722
This has been fixed -

![screen shot 2015-04-22 at 11 11 02 am](https://cloud.githubusercontent.com/assets/4547737/7265640/4c59ef92-e8e0-11e4-8fc2-f44dc2c13c2c.png)
![screen shot 2015-04-22 at 11 11 06 am](https://cloud.githubusercontent.com/assets/4547737/7265641/4c5d939a-e8e0-11e4-8042-14549d3107b3.png)
![screen shot 2015-04-22 at 11 11 09 am](https://cloud.githubusercontent.com/assets/4547737/7

[2015-04-22 01:12] luchia commented on #722
I'll create a PR on my last day this week with this included.

[2015-04-22 15:54] michaelhidalgo commented on #697
This issue seems to be fixed :
I ran simultaneous request (with Fiddler by incrementing by 1 the id of the URL using the # feature).
![screen shot 2015-04-22 at 09 48 34](https://cloud.githubusercontent.com/assets/1732035/7278865/4939ab50-e8d5-11e4-8927-033ea9206827.png)

Then I checked the temp folder and no articles were created

![screen shot 2015-04-22 at 09 50 27](https://cloud.githubusercont

[2015-04-22 15:55] #697 closed

[2015-04-22 15:55] michaelhidalgo commented on #697
closing this.

[2015-04-22 15:59] DinisCruz commented on #697
nice, thanks

[2015-04-22 18:18] michaelhidalgo commented on #670
I've been thinking about this scenario, so I first did a manual test
[code]
I'm using Fiddler to automatically fetch 250 articles (by changing the URL Id). I see some DB locks :

![screen shot 2015-04-22 at 12 17 49](https://cloud.githubusercontent.com/assets/1732035/7281897/b282ad32-e8e9-11e4-8d5a-381888a57fc2.png)

[2015-04-22 19:24] michaelhidalgo commented on #682
I think this issue can be closed.

[2015-04-22 19:24] michaelhidalgo commented on #682
Assigning it to @roman87 to confirm.

[2015-04-22 20:19] luchia commented on #634
We have a completed set of landing page icons -

![completedset](https://cloud.githubusercontent.com/assets/4547737/7284412/b830fff8-e980-11e4-9d99-7d4cafc8bab7.png)

[2015-04-23 12:24] DinisCruz opened #723 "[Q] Refactor test so that I doesn't use TM Auth"
The [Issue_679_Validate authentication status on error page](https://github.com/TeamMentor/TM_4_0_Design/blob/master/test/routes/routes.test.coffee#L131-L161) needs some refactoring:

* don't use the real login service since we don't need it to confirm the auth status
* there is an hard-code user and pwd (which will be fixed by not using the real service)
* move the test to above [line 86](https:/

[2015-04-23 12:29] DinisCruz commented on #634
Looks good to me.

Once you are happy with them, can you update the https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-Custom-Icons wiki page with details about each one?

[2015-04-23 20:02] luchia commented on #634
Here's my altogether finals, I'd like to hear from @michaelhidalgo @tekgirl77 @roman87 before updating the wiki (but I will once I do).

![completedset3](https://cloud.githubusercontent.com/assets/4547737/7306274/7022137e-ea47-11e4-9f94-043b31921e90.png)

[2015-04-23 21:04] luchia commented on #634
Rough version of 9/26 application icons. I quickly made these and put them all in a document together so I can make them look as if they are a part of a set -

![set](https://cloud.githubusercontent.com/assets/4547737/7307411/0981e546-ea50-11e4-994d-6cad9aeadec4.png)

[2015-04-23 21:25] tekgirl77 commented on #634
I like them @luchia .  I think the more complex ones could look too busy or over-used.  I like the mixture of the final set.  I like the bug better on the magnifying glass in this last set also.  :)  I like the shading that was added.  I like the folder that was added to the papers icon.  I definitely like the direction you're going with them!  Again, I think I'd have to see them on some contextua

[2015-04-23 22:13] DinisCruz commented on #716
done

[2015-04-23 22:13] #716 closed

[2015-04-23 22:17] DinisCruz commented on #721
I dont get this issue, what am I looking for?

also why is there two logos on the top banner?

[2015-04-23 22:21] luchia commented on #721
Roman asked me to build a template for the client where they have their own navigation bar in Jade. The tm logo is a placeholder in place of the client logo.

[2015-04-24 12:35] DinisCruz commented on #721
ahh ok, I get it now, thx

[2015-04-25 15:13] DinisCruz opened #724 "Wire up the Flare production pages"
As seen here https://github.com/TeamMentor/TM_4_0_Design/issues/702#issuecomment-93606853

@luchia I'm opening this here since it's more focused than #702 (which I'm about to close)

[2015-04-25 15:14] DinisCruz commented on #702
closing since flare is behaving ok, and the wire of the 'production' pages is now at #724

[2015-04-25 15:14] #702 closed

[2015-04-25 15:19] DinisCruz commented on #713
I think this is REALY important, in fact I would say that more than a link we should have a FORM to send a message directly to us (why make the user have to open up the email and add the link to the current page, when we can just have a nice form for him at the bottom of the page?).

This is specially important in the current beta stage, since part of the exercise is to improve content. We need to

[2015-04-25 15:30] michaelhidalgo commented on #713
I also believe this is very important. I know it is not 100% related to
this discussion, but I believe we also need to support the fact that a
client would like to have articles for any underlaying technology.

It would be great to have a kind of feature that allows them to "Request an
article" or "Request content" and have a kind of categories.

2015-04-25 9:19 GMT-06:00 Dinis Cruz <notifications

[2015-04-25 16:22] DinisCruz opened #725 "[Q] Fine tune the tm-deploy repo so that it runs locally and on azure"
The repo [TM_4_0_Windows](https://github.com/tm-build/TM_4_0_Windows) which is created by [TM_Build](https://github.com/TeamMentor/TM_4_0_Build) at [AppVeyor](https://ci.appveyor.com/project/DinisCruz/tm-4-0-build) , and available as [downloadable zip](https://ci.appveyor.com/project/DinisCruz/tm-4-0-build/build/artifacts) , almost has the contents required to support a full deployment (from git c

[2015-04-26 10:25] DinisCruz commented on #592
ok, but should it be on this repo?

[2015-04-26 10:33] DinisCruz commented on #469
That should not be a supported action, specially since it would lead to broken links if the title it renamed

[2015-04-27 03:18] roman87 commented on #634
I think they all look great. I actually like the worm better than the bug :), but I think it doesn't matter. My only few comment  are
- I think the checkboxes should be checked. Otherwise its not really clear its a checklist
- The arrows next to the skull and shield look really bleak on my screen, so the skull actually stands out more. Maybe make the arrows darker a bit and maybe move the skull do

[2015-04-27 04:16] roman87 opened #726 "Add SSO capability to Jade and Flare"

[2015-04-27 10:45] michaelhidalgo commented on #726
It seems like Passport provides a nice middleware for NodeJS and it also provides several authentication mechanisms

http://passportjs.org/guide/other-api/

[2015-04-27 11:05] michaelhidalgo commented on #726
It seems like there is also a OAuth 2.0  toolkit for Nodejs  https://github.com/t1msh/node-oauth20-provider

[2015-04-27 12:16] DinisCruz commented on #726
Yeah, I was thinking about that too, since we are going to add SSO, we might as well do it properly and use OAuth

[2015-04-27 12:52] pjenney58 commented on #592
My feeling is that it could be beneficial to do it now

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-27 12:59] DinisCruz opened #727 "Refactor ArticleHTML and Search Artifacts creation out of the GraphDB"
This is something needs to happen since the article html and search artifacts are dependent on the Lib_UNO changes, and not on the GraphDB

This will also improve the current deployment process and help to test https://github.com/TeamMentor/TM_4_0_Design/issues/180 and https://github.com/TeamMentor/TM_4_0_Design/issues/705

[2015-04-27 12:59] DinisCruz commented on #727
Done with latest push to GraphDB

Code that does the transformation is at https://github.com/TeamMentor/TM_4_0_JSON_Data

[2015-04-27 13:15] DinisCruz commented on #705
Hey @michaelhidalgo I just added a commit that has a couple mitigations for this issue (not the real solution but should make it less exploitable), can you run a fuzzing session or/and a BlackBox scanning tool, and see how big the **TM_4_0_Design/.tmCache/_sessionData** becomes?

For ref: there is now an auto pruning of the session data (evert 30sec) and a 200 max of the amount of 'bad searches' c

[2015-04-27 13:22] DinisCruz opened #728 "[Q] Find out why Appveyor QA tests are not running"
See https://ci.appveyor.com/project/DinisCruz/tm-4-0-qa

the tests are failing at

[code]

which looks to me to be caused by a lack of Desktop support

See comment at https://github.com/o2platform/FluentSharp/pull/58 , which gave me the clue to set up

![image](https://cloud.githubusercontent.com/assets/656739/7348341/b493b8ac-ece8-11e4-80fb-72f31a33e60f.png)

@tekgirl77 can you have a got at tryi

[2015-04-27 13:33] DinisCruz commented on #728
@tekgirl77 it looks like it worked for these guys http://stackoverflow.com/questions/26586006/build-qt-project-from-appveyor

[2015-04-27 13:52] DinisCruz commented on #728
@tekgirl77 I think the prob is with the Appveyor build script. see https://ci.appveyor.com/project/DinisCruz/tm-4-0-qa/build/1.0.32 it looks like it is trying to run the QA test scripts before the TM_Design and TM_QA tests

[2015-04-27 15:59] roman87 opened #729 "Seaching for "java" (lowercase) causes a browser failure."
Searching for:
http://localhost:1337/search?text=java

Causes:

![selection_181](https://cloud.githubusercontent.com/assets/1326120/7351706/e0c298e4-ecd4-11e4-8ddb-5534c8f2dd5c.png)

[2015-04-27 16:03] roman87 commented on #557
Yep, all nicely sorted. Will follow up with  @BendixSpring once this is out in beta.

[2015-04-27 16:11] roman87 commented on #665
Nicely fixed. Closing

[2015-04-27 16:11] #665 closed

[2015-04-27 16:14] roman87 commented on #664
Bumping this as we need this for the release

[2015-04-27 16:17] roman87 opened #730 "Add GraphDB export to DOT notation"
As discussed here https://github.com/TeamMentor/TM_4_0_Design/issues/631#issuecomment-87837440, it would be nice if we could export GraphDB into DOT notation for import into various analysis tools.

[2015-04-27 16:17] roman87 commented on #631
This is done, closing.

[2015-04-27 16:17] #631 closed

[2015-04-27 16:30] roman87 commented on #597
This is fixed.

[2015-04-27 16:30] #597 closed

[2015-04-27 16:38] roman87 commented on #598
Yep, nicely fixed.

[2015-04-27 16:39] roman87 commented on #598
Will follwow up with @afollett once this is in Beta.

[2015-04-27 16:42] roman87 commented on #539
Nicely done.

[2015-04-27 16:42] #539 closed

[2015-04-27 16:44] roman87 opened #731 "Create a release version of 3.6"

[2015-04-27 16:52] roman87 commented on #547
nicely done.

[2015-04-27 16:52] #547 closed

[2015-04-27 16:55] roman87 opened #732 "Formatting issue on the search bar"
As you can see when searching on the search results page, the search bar doesn't seem to have enough room for the text.

![selection_182](https://cloud.githubusercontent.com/assets/1326120/7352793/96b6ab52-ecdc-11e4-8e1a-1192680f5271.png)

[2015-04-27 16:56] roman87 commented on #546
well done

[2015-04-27 16:56] #546 closed

[2015-04-27 17:08] roman87 commented on #699
This one was fixed, however now we have https://github.com/TeamMentor/TM_4_0_Design/issues/732

[2015-04-27 17:08] #699 closed

[2015-04-27 17:14] roman87 commented on #376
Ok if everyone likes it so be it :)

[2015-04-27 17:14] #376 closed

[2015-04-27 18:03] roman87 commented on #705
So how is pruning done? How much is removed and based on what conditions?

[2015-04-27 18:05] roman87 commented on #180
Note that I moved it to Sprint 3. As long as we get #705 fixed we should be good for this release.

[2015-04-27 21:42] michaelhidalgo commented on #731
I've generated a release version, once merged, we will need to merge it from TM 3.6_Dev into TM 3.6_Release

https://github.com/TeamMentor/Dev/pull/177

[2015-04-27 23:50] afollett opened #733 "Alerts styling makes it hard to see (getting started pages)"
I tried to log in to beta.teammentor.net a couple of times and after 2 password changes i finally noticed the error "account expired". It was in green in the upper left corner. This message should be in red so that it is obvious to the user.

![teammentor](https://cloud.githubusercontent.com/assets/4615837/7360277/8a9a6842-ecfd-11e4-8960-c8270764815f.jpg)

[2015-04-28 01:54] luchia commented on #634
I'm actually thinking the more simpler set is going to be the way to go, especially given how small the icons are on the screen. The details get missed -

![screen shot 2015-04-28 at 11 50 43 am](https://cloud.githubusercontent.com/assets/4547737/7361527/3dec4902-ed9d-11e4-9eaf-002aa8094cd3.png)
![screen shot 2015-04-28 at 11 50 46 am](https://cloud.githubusercontent.com/assets/4547737/7361528/3e5

[2015-04-28 02:09] luchia commented on #732
I think I got it (I couldn't recreate it on my machine) -

![screen shot 2015-04-28 at 12 08 48 pm](https://cloud.githubusercontent.com/assets/4547737/7361636/5bef5640-ed9f-11e4-8d34-02704a9b7218.png)

[2015-04-28 02:11] pjenney58 commented on #634
Ya know,  I’m really starting to like the way this looks …

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-28 02:11] luchia commented on #722
Created a PR. Assigning to @roman87 for QA.

[2015-04-28 13:24] DinisCruz commented on #733
I agree, I had the same issue the other day on 'failed login'

[2015-04-28 13:28] DinisCruz commented on #731
merged

[2015-04-28 13:37] DinisCruz commented on #730
Yeah, that will be good

In fact I was thinking that we should also store the original import of the GraphDB has triplets (or DOT notation) so that we can generate the mappings on https://github.com/TeamMentor/TM_4_0_JSON_Data and just do a simple import into LevelGraph (which will be faster and simplify the GraphDB setup and deployment)

[2015-04-28 13:38] DinisCruz commented on #729
Humm, I can't replicate this locally

![image](https://cloud.githubusercontent.com/assets/656739/7370745/35b46a8c-edb4-11e4-8610-62d66b970ea8.png)

Were there any errors in the logs?

@michaelhidalgo can you reproduce?

[2015-04-28 13:40] DinisCruz commented on #722
Added to https://github.com/TeamMentor/TM_4_0_Design/issues/719

[2015-04-28 13:41] DinisCruz commented on #732
Added to https://github.com/TeamMentor/TM_4_0_Design/issues/719

[2015-04-28 13:41] DinisCruz commented on #727
Added to https://github.com/TeamMentor/TM_4_0_Design/issues/719

[2015-04-28 13:49] DinisCruz commented on #634
@pjenney58 thx, the new version will be included in this [week's release](https://github.com/TeamMentor/TM_4_0_Design/issues/719) and should be live in the next couple days

[2015-04-28 14:21] roman87 commented on #413
I think we can close this right?

[2015-04-28 14:28] roman87 commented on #729
really weird, I can't reproduce it anymore. There were no errors and it was only happening on lowercase "java" not on "Java" @michaelhidalgo give it a shot, if you can't reproduce it then lets close it, but lets keep an eye on something like this.

[2015-04-28 14:38] roman87 commented on #724
This is a dupe of #618 no :)?

[2015-04-28 14:52] roman87 commented on #713
Ok, so we all agree its important, however for this release, and for simplicity, lets make this an email  link.
@luchia We should change the copyright footer to say up on the very top of the footer - "Have comments on this article, send us an email..."  then the rest of the footer should follow.

Everything else in this thread we should address as separate issues and in the next version :)

Also I

[2015-04-28 14:54] roman87 commented on #731
Great, @michaelhidalgo can you merge it into 3.6_Release and into master?

[2015-04-28 14:55] DinisCruz commented on #705
This doesn't really prune, just stops logging

[2015-04-28 14:55] DinisCruz commented on #705
sorry, the prune I mention is more of a NeDB compression thing/clean-up

[2015-04-28 15:30] michaelhidalgo commented on #731
I sent a PR to merge it into master https://github.com/TeamMentor/Dev/pull/178.

I think that 3.6_Release is quite behind the current version and there will be issues merging it.

[2015-04-28 15:46] roman87 commented on #568
@BendixSpring perhaps I am not entirely clear on the expectation. The issue is about numbering the articles in the list. When I search for "code" I get a numbered list of 250 articles. What is it that you are expecting from this issue?

[2015-04-28 15:48] roman87 commented on #577
@BendixSpring I don't think I am following here :) what appears Identical? Note that if you attach images to an email I will not see them. You need to go into github and attach images into the issue.

[2015-04-28 16:03] roman87 commented on #709
I am discussing the need for Recent articles with @tlaloc75
For the rest:

Popular search items:
prevent sql injection
xss
secure connection string

Top Articles:
article/1d72228392bf/Decrypt-a-String-via-a-Block-Cipher-Using-AES
article/22ed784143ee/Using-Parameterized-Queries-for-Secure-Database-Access
article/17f790dedf10/Constrain,-Reject,-And-Sanitize-Input

[2015-04-28 16:10] BendixSpring commented on #568
The search says:  SHOWING 250 ARTICLES (OF 1109)

What if I want to look at article 251?  I don’t see any way to look at the remaining items.  That’s what looks broken to me.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, April 28, 2015 11:46 AM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Number the list of articles in the displayed result set. (#568

[2015-04-28 16:16] BendixSpring commented on #577
Search for "code" returns:
![image](https://cloud.githubusercontent.com/assets/3578332/7374406/276ab8be-eda0-11e4-9845-226179a47327.png)

These look identical.  How is that helpful to the user?  It interferes with his ability to get to what he wants. One of them is C# while the other is .NET.  Put something in the title or an icon to differentiate between the two.

[2015-04-28 16:28] roman87 commented on #704
It looks pretty good, however  something is not right:
Searching for "scala play" (lowercase) I get 4th or so result down
[code]
 how is it possible that "scala" did not match the tag, but "play" did? Also I think that if an article matches on a tag we should not text search the same article for the same tag.

[2015-04-28 16:37] roman87 commented on #704
When I search for "Java" I get
[code]
As first article. However that article does not exist "http://localhost:1337/article/9c3c3ec448fe"
In fact, the first article I get when searching with the UI is:
http://localhost:1337/article/000000065b72/Validate-Logged-User-Data
Which has a score of 2
[code]

So the question is - huh? ?

[2015-04-28 16:48] roman87 commented on #710
Looks good closing

[2015-04-28 16:48] #710 closed

[2015-04-28 16:52] roman87 commented on #687
I think it looks good. closing.

[2015-04-28 16:52] #687 closed

[2015-04-28 16:55] roman87 commented on #732
Yep, Looks good now.
![selection_183](https://cloud.githubusercontent.com/assets/1326120/7375341/dbd4ea5e-eda5-11e4-922f-3353d16dd1ca.png)

[2015-04-28 16:55] #732 closed

[2015-04-28 17:00] roman87 commented on #568
I see your point. But this is a different issue. https://github.com/TeamMentor/TM_4_0_Design/issues/712

This issue is about numbering the articles. This is what I am asking about.

[2015-04-28 17:08] BendixSpring commented on #568
Article numbering is fine now.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, April 28, 2015 1:01 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Number the list of articles in the displayed result set. (#568)

I see your point. But this is a different issue. #712 <https://github.com/TeamMentor/TM_4_0_Design/issues/712>

This issue is about numbering

[2015-04-28 17:12] roman87 commented on #568
Ok great. Closing.

[2015-04-28 17:12] #568 closed

[2015-04-28 21:59] DinisCruz commented on #705
I just pushed a change which stores on the graphDB .tmCache the failed searches, so I think the limits are now really high and hard to generate 2G of logs from normal traffic

[2015-04-28 22:00] DinisCruz commented on #719
@roman87 I think we are ready for this one

I merged all @luchia changes and the tests are all passing locally. Travis is a bit slow at the moment, but I should be able to confirm that all is ok in a bit

And once it all passes in travis I will move the code to master

[2015-04-29 00:06] DinisCruz commented on #719
all tests passed
![image](https://cloud.githubusercontent.com/assets/656739/7382763/ce8f3bc2-ee0b-11e4-8985-4a58c7d6c7d6.png)

all master branches are now on CR.Beta.8

[2015-04-29 15:28] michaelhidalgo commented on #729
Hey, I was not able to reproduce it either. I searched for several words and I stopped and started the instances again.

I think we can close it and keep an eye on that if it happens again.

[2015-04-29 15:28] #729 closed

[2015-04-29 19:44] DinisCruz commented on #704
That is a weird result, here is what I get when searching for Java

![image](https://cloud.githubusercontent.com/assets/656739/7399779/1fbefc72-eeb0-11e4-95a3-1d693cf80bdd.png)

Which points to the article

![image](https://cloud.githubusercontent.com/assets/656739/7399841/8e66bebc-eeb0-11e4-8112-9e81d43e0db5.png)

[2015-04-29 20:14] michaelhidalgo commented on #704
in fact, the first two occurrences do not exist

{ "id": "article-9c3c3ec448fe", "score": 54, "why": { "p": 18, "ol": 11, "li":
16, "ul": 5, "em": 3, "pre": 1 } }, { "id": "article-25871e535933", "score":
43, "why": { "p": 17, "ol": 9, "li": 13, "ul": 4 } },

http://localhost:1337/article/25871e535933

http://localhost:1337/article/9c3c3ec448fe

2015-04-29 14:10 GMT-06:00 Michael Hidalgo <michaelf

[2015-04-29 20:18] michaelhidalgo commented on #704
I'm experiencing the same as Roman :

​

2015-04-29 13:44 GMT-06:00 Dinis Cruz <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-04-29 20:42] michaelhidalgo commented on #731
This is done. https://github.com/TeamMentor/Dev/pull/178

[2015-04-29 20:45] michaelhidalgo opened #736 "It's possible to add empty filters to TeamMentor."
By appending an invalid filter to the URL, the UI will display an empty filter.

![screen shot 2015-04-29 at 14 43 43](https://cloud.githubusercontent.com/assets/1732035/7401055/518a849c-ee7e-11e4-9900-8b7e20761030.png)

[2015-04-29 20:47] michaelhidalgo commented on #736
Here is another example :

![screen shot 2015-04-29 at 14 46 31](https://cloud.githubusercontent.com/assets/1732035/7401084/98c61d6c-ee7e-11e4-8ec0-e88dd216cead.png)

[2015-04-29 21:20] DinisCruz commented on #704
This is what I get when I search for 'scala play'

![image](https://cloud.githubusercontent.com/assets/656739/7401685/f3cc5ad4-eebd-11e4-87da-88fdeb8a205d.png)

[2015-04-29 21:39] DinisCruz opened #737 "Fix Flare docs navigation"
It looks like this at the moment

![image](https://cloud.githubusercontent.com/assets/656739/7402027/8cd495c8-eec0-11e4-93d0-4f0ed5571d52.png)

and it is linked from the production pages

[2015-04-29 21:44] DinisCruz opened #738 "Add support for simple /a/{ref} article navigation"
Since I've seen this done on multiple websites and it took me less than 5m to add, I just added the ability to link to article using a simple */a* prefix

* http://localhost:1337/a/1fbc926e6752
* http://localhost:1337/a/How-to-Test-for-Cross-Site-Scripting-Vulnerabilities
* http://localhost:1337/a/article-1fbc926e6752

![image](https://cloud.githubusercontent.com/assets/656739/7402106/36af06c8-eec

[2015-04-29 21:45] DinisCruz commented on #738
@tekgirl77 can you add this case to the existing **article** unit tests

[2015-04-29 21:47] michaelhidalgo commented on #738
that's a cool feature.

[2015-04-29 22:12] DinisCruz opened #739 "CR.Beta.9 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the [release notes](https://github.com/TeamMentor/TM_4_0_Design/releases) and the issue closed when the code has been pushed to beta.teammentor.net)

**Release notes:**
....

**Features/Issues:**

**In QA** (this is the first place to add the issue link)
* [ ] TM article redirection is not h

[2015-04-29 23:16] luchia commented on #634
Application icons for Jade are complete -

![set](https://cloud.githubusercontent.com/assets/4547737/7403486/84b76268-ef19-11e4-8ab0-553f124851f8.png)

I need to make this a typeface file and then insert them in place of the Foundation icons currently included. I should have this done by the end of the week, max (ready for the next release!)

[2015-04-30 08:29] luchia commented on #634
Yay, they're in the application!!!

![screen shot 2015-04-30 at 4 30 24 pm](https://cloud.githubusercontent.com/assets/4547737/7409094/da3928b4-ef66-11e4-9a04-d8bd29fd0edd.png)
![screen shot 2015-04-30 at 4 30 26 pm](https://cloud.githubusercontent.com/assets/4547737/7409093/da3900e6-ef66-11e4-8690-41d211c556b4.png)

Had to test them on another page because my build is broken at the moment. Will f

[2015-04-30 08:32] luchia commented on #691
This has been done on my most recent push on the Lucy branch -

![screen shot 2015-04-30 at 6 31 30 pm](https://cloud.githubusercontent.com/assets/4547737/7409137/3320d1ca-ef67-11e4-81fb-d7f393aeff69.png)
![screen shot 2015-04-30 at 6 31 43 pm](https://cloud.githubusercontent.com/assets/4547737/7409136/33204610-ef67-11e4-9b80-ef856132d263.png)

There are a few small things to fix still, but this i

[2015-04-30 16:44] tekgirl77 commented on #634
These look amazing Lucy!  I love them!

[2015-04-30 19:49] DinisCruz commented on #724
Yeah we can use #618

[2015-04-30 21:16] luchia commented on #634
Thank you!!!

[2015-04-30 21:26] luchia commented on #733
So I think this issue is more to do with the alerts not being obvious, thus making the user miss the message. @afollett, I have renamed the issue so that I can properly address this for all use cases.

[2015-04-30 21:37] pjenney58 commented on #634
This looks great!

I’m still confused as to why “C” isn’t represented in the list though :-)

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-30 22:32] luchia commented on #634
It is -

![screen shot 2015-05-01 at 8 32 08 am](https://cloud.githubusercontent.com/assets/4547737/7423791/950af850-efdc-11e4-86e0-c7383f5b803f.png)

Perhaps i should move the plus plus so it's more obvious the C is a C?

[2015-04-30 22:38] pjenney58 commented on #634
That’s cool but I think it needs to be C/C++ or they need to be separate.  Two completely different problem sets.

Cheers!

pete.;1

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney
VP, Strategic Initiatives
Ombudsman

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-04-30 23:41] luchia commented on #634
Oh okay, you mean why is C not in the filter list? I'm not actually sure - maybe @DinisCruz or @roman87 know why.

[2015-05-01 00:48] luchia commented on #733
So we now have two different types of alerts - OK and bad:

![screen shot 2015-05-01 at 10 39 27 am](https://cloud.githubusercontent.com/assets/4547737/7425178/871fdd1a-efef-11e4-832a-31580120a1fd.png)
![screen shot 2015-05-01 at 10 41 05 am](https://cloud.githubusercontent.com/assets/4547737/7425179/8720bbc2-efef-11e4-8e23-e8515ebe25e2.png)

I have assigned the CSS classes to the correct alerts i

[2015-05-01 00:49] luchia commented on #733
I will create a PR at the end of my week to include this in the next release. Once it has been merged, I will assign this to Roman for QA.

[2015-05-01 00:54] pjenney58 commented on #634
Yes, that's the question.  C is the worst offender in The software security 'scape and needs direct representation.  I guess my mantra would be, if I actually had one, would be "'new' is not the same as 'malloc'." Hey, maybe we could have t-shirts made?  😀

Cheers!

pete.;1

---)----------------------------
Security Innovation, Inc.
Peter H. Jenney
Vice President of Strategic Initiatives
(office)

[2015-05-01 01:38] luchia commented on #733
Couple of small changes because I think the writing was hard to read in white -

![screen shot 2015-05-01 at 11 35 09 am](https://cloud.githubusercontent.com/assets/4547737/7425575/7a8e238e-eff6-11e4-9e5a-c217334978fe.png)
![screen shot 2015-05-01 at 11 35 39 am](https://cloud.githubusercontent.com/assets/4547737/7425576/7a8e799c-eff6-11e4-8e50-dfa4f2c92854.png)

![screen shot 2015-05-01 at 11 35

[2015-05-01 01:38] luchia commented on #713
I think this looks good, what do you guys think?

![screen shot 2015-05-01 at 11 37 54 am](https://cloud.githubusercontent.com/assets/4547737/7425581/8e309b74-eff6-11e4-94df-2b320562c701.png)

[2015-05-01 01:46] luchia commented on #634
What the icons actually look like in the application -

![screen shot 2015-05-01 at 11 37 54 am](https://cloud.githubusercontent.com/assets/4547737/7425618/6a55da56-eff7-11e4-865e-868239dd08e0.png)
![screen shot 2015-05-01 at 11 43 56 am](https://cloud.githubusercontent.com/assets/4547737/7425620/6a866554-eff7-11e4-8768-7381cc5df250.png)
![screen shot 2015-05-01 at 11 44 07 am](https://cloud.githu

[2015-05-01 20:24] roman87 opened #740 "GraphDB Crashes on Windows when going through the UI"
On a brand new box, using the ZIP file compiled on tm-dev-01.
Installed node
![selection_185](https://cloud.githubusercontent.com/assets/1326120/7436710/2589d626-f01e-11e4-8326-7bf08770e639.png)

Starting both graphDb and TMDesign work fine.
![selection_186](https://cloud.githubusercontent.com/assets/1326120/7436712/31230c78-f01e-11e4-9813-402f86ceaf27.png)

However as soon as I login and hit inde

[2015-05-01 20:26] roman87 commented on #740
However, going directly through swagger and searching for XSS or doing http://localhost:1332/data/articles
works fine.

Seems like the issue is with convert/to_ids

[2015-05-01 20:49] roman87 commented on #740
The compiler box and the new box both have the same version of node. and npm.
![selection_188](https://cloud.githubusercontent.com/assets/1326120/7437064/0fa251c2-f022-11e4-8b2a-2e16286d64f2.png)

[2015-05-03 20:55] DinisCruz commented on #740
The problem is with leveldown  ```
node_modules
\levelgraph\node_modules\leveldown\node_modules\bindings\bindings.js:83```

This looks like that 32bit vs 64bit prob you were talking about with Michael on Slack

Did you guys confirm that the build server matches this server?

[2015-05-03 21:04] roman87 commented on #686
This is fixed.

[2015-05-03 21:04] #686 closed

[2015-05-03 21:06] roman87 commented on #704
We need to figure out why this is happening for me and @michaelhidalgo but not for @DinisCruz

[2015-05-03 21:06] roman87 commented on #685
This is now fixed,

[2015-05-03 21:06] roman87 commented on #684
This is now done.

[2015-05-03 21:06] #684 closed

[2015-05-03 21:08] DinisCruz opened #741 "CSS prob with List items in article view"
@luchia there is an alignment prob with the css in the articles, where the bullet list items are showing too much to the left, see for example

https://beta.teammentor.net/article/764f120e3972/Using-Stored-Procedures-for-Secure-Database-Access

![image](https://cloud.githubusercontent.com/assets/656739/7446940/d96db626-f1e0-11e4-875a-f295da970d8c.png)

https://beta.teammentor.net/article/1fbc926e6

[2015-05-03 21:09] roman87 commented on #740
Yes, this was an issue between compiling on 32 bit and running on 64. The compiler box had 2 versions of node. Old one that was 64 bit and new one that for some reason was 32. I fixed the versions, recompiled and it is running fine on the new box - tmstg02.teammentor.net. I moved beta.teammentor.net to point there.

[2015-05-03 21:09] #740 closed

[2015-05-03 21:10] roman87 commented on #740
Btw, to find which version of node you are running do:
[code]

[2015-05-03 21:12] DinisCruz opened #742 "Bug in articles search total"
Notice how the total is 113 but only 108 are shown

![image](https://cloud.githubusercontent.com/assets/656739/7446963/4a42bfae-f1e1-11e4-937f-d7c486a5174b.png)
....
![image](https://cloud.githubusercontent.com/assets/656739/7446968/5a6147f2-f1e1-11e4-97ee-32c1b60db33e.png)

This is caused by articles having the 'Scala' Tag but missing a title or description

@michaelhidalgo can you confirm this w

[2015-05-03 21:24] roman87 commented on #741
Good catch.

[2015-05-03 21:25] michaelhidalgo commented on #740
Thanks for sorting this out! It is great we found the root cause !

2015-05-03 15:10 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-05-03 21:28] roman87 commented on #526
This is fixed

[2015-05-03 21:28] #526 closed

[2015-05-03 21:28] roman87 commented on #742
Hmm.. interesting, I am not getting the same thing.

![selection_204](https://cloud.githubusercontent.com/assets/1326120/7447020/9e448dd0-f1b9-11e4-8289-cde1820ecc1d.png)

[2015-05-03 21:30] roman87 commented on #742
I think the bug is not with totaling, I think it has something to do with the issue we are discussing here:
https://github.com/TeamMentor/TM_4_0_Design/issues/704#issuecomment-97127200

[2015-05-03 21:33] roman87 commented on #682
So what is the status of this? Is this fixed?

[2015-05-03 21:37] roman87 commented on #713
I would make the text less encouraging in Jade. Simply because, as a user, when I see this, I expect to see a cool feedback form, with stars, and all that. So maybe more like "Have a comment about this article? Send our team an email"

[2015-05-03 22:19] roman87 commented on #562
@tecknicaltom This has been fixed in latest beta. Could you let us know if this is resolved to your satisfaction?

[2015-05-03 22:21] roman87 commented on #563
@tecknicaltom this has been fixed in latest beta. Could you confirm it is working the way you'd expect?

[2015-05-03 22:30] roman87 commented on #721
Ok, can we get the logos from lloyds teammentor.net mckesson.teammentor.net and sony.teammentor.net and see how they look. This also needs to be somhow configurable so we can easily change the top banner in the future.

[2015-05-03 22:34] roman87 commented on #469
Ok agreed. dropping

[2015-05-03 22:34] #469 closed

[2015-05-03 22:36] roman87 commented on #726
We still need to support the old method for TP integration. This is what this issue is about. Yes it would be nice to implement OAuth, but we should track it separately.

[2015-05-03 22:39] roman87 commented on #592
Moving it to backlog for Sprint 3.

[2015-05-03 22:49] roman87 commented on #705
I've asked the RedFort guys to run another scan. They should let us know when they do it so we can monitor.

[2015-05-03 22:49] roman87 commented on #731
Done. Closing

[2015-05-03 22:49] #731 closed

[2015-05-03 23:02] roman87 commented on #736
Good catch. I don't think its a big deal, but we should take a look.

[2015-05-03 23:03] roman87 commented on #618
closing as dupe of #724

[2015-05-03 23:04] roman87 commented on #618
Oops, closed the wrong one :)

[2015-05-03 23:04] roman87 commented on #724
Closing as dupe of #618

[2015-05-03 23:04] #724 closed

[2015-05-03 23:08] roman87 commented on #738
I thought we were not going to support the 2nd example?

[2015-05-03 23:11] roman87 commented on #634
@pjenney58  C is not in the application because our content is for C++ :) Now I do agree we need specific guidance for C, but this is not what this issue is about :)

[2015-05-03 23:11] roman87 commented on #634
@luchia Icon's look great, can't wait to see them in the app.

[2015-05-03 23:17] roman87 commented on #346
TTL Expired. Closing

[2015-05-03 23:17] #346 closed

[2015-05-03 23:17] roman87 commented on #356
No responce from Brandon. TTL expired closing.

[2015-05-03 23:17] #356 closed

[2015-05-03 23:22] roman87 commented on #379
TTL expired Closing

[2015-05-03 23:22] #379 closed

[2015-05-03 23:23] roman87 commented on #380
TTL expired. Closing

[2015-05-03 23:23] #380 closed

[2015-05-03 23:54] michaelhidalgo commented on #742
I'm able to reproduce this issue, please see below image :

![screen shot 2015-05-03 at 17 41 08](https://cloud.githubusercontent.com/assets/1732035/7447539/c0d092e2-f1bc-11e4-84a9-7d932cf059a2.png)

I ran my script and it seems like there should be 113 articles with Scala Play technology

[code]

However, If I get the articles assigned to a View, I get 108

[code]

[2015-05-04 11:42] pjenney58 opened #743 "Blinking Cursor after Initial Login - Questionable First User Experience"
After logging in the user is left with what could almost be a "Blinking Cursor" screen, meaning that its not immediately obvious what they're supposed to do:

![screen shot 2015-05-04 at 7 36 27 am](https://cloud.githubusercontent.com/assets/2352439/7452810/52c8b74c-f230-11e4-81ba-b45ec836619f.png)

After going through all the nice graphics and stuff that lead to the login, one would expect a warm

[2015-05-04 11:52] pjenney58 opened #744 "Icon Coloring - Should we make it color?"
The monochrome representations for the filter types are a little hard to make out.  Have a look at the way Dash does it:

![screen shot 2015-05-04 at 7 45 26 am](https://cloud.githubusercontent.com/assets/2352439/7452943/d6414494-f231-11e4-90e7-c961acd0316e.png)

![screen shot 2015-05-04 at 7 49 30 am](https://cloud.githubusercontent.com/assets/2352439/7452964/211662ba-f232-11e4-934f-c2ebad33a439.

[2015-05-04 11:59] pjenney58 opened #745 "Collapsable Filter Sets?"
The index screen has all of the filter items running down the right side and the user has to scroll down to see all that's available.  Would it be better to collapse them so the user could see all of the options available?

![screen shot 2015-05-04 at 7 56 16 am](https://cloud.githubusercontent.com/assets/2352439/7453065/62a065ae-f233-11e4-9a06-24da61212a85.png)

[2015-05-04 12:16] michaelhidalgo commented on #742
It seems like Java has a similar issue :  There should be 312 articles but TM just display 250.

Unlike the previous case, according to the script there are 312 Java articles associated to a view. Do we have a limit on the number of articles to show?

![screen shot 2015-05-04 at 06 09 36](https://cloud.githubusercontent.com/assets/1732035/7453251/803deb9a-f224-11e4-90f7-020cf41d8e3d.png)

![screen

[2015-05-04 15:23] tm-build commented on #725
at the moment when running this on azure, the TM_Design static files are not being correctly mapped

![image](https://cloud.githubusercontent.com/assets/12102164/7456095/d74a7cb4-f279-11e4-8443-85d247193330.png)

[2015-05-04 15:31] DinisCruz commented on #718
this is done and merged

[2015-05-04 15:31] #718 closed

[2015-05-04 16:46] roman87 commented on #743
@pjenney58  this is a duplicate of https://github.com/TeamMentor/TM_4_0_Design/issues/581 which we are going to work on this as part of Flare. Reasoning is that we cannot do this in Jade as there is no active content on the user browser. I am closing this as duplicate

[2015-05-04 16:46] #743 closed

[2015-05-04 16:47] roman87 commented on #744
@luchia do you want to take a stab at answering this?

[2015-05-04 16:52] roman87 commented on #557
@BendixSpring could you take a look at the latest beta and let us know if this particular issue had been resolved to your satisfaction and is working as expected.
Thanks.

[2015-05-04 16:54] roman87 commented on #350
As it turns out this is not going to work in Jade. This will be fixed in Flare

[2015-05-04 16:56] roman87 commented on #745
This is a known issue and will be taken care of in Flare. This cannot be done in Jade as there is no active user side code. This is actually a duplicate of https://github.com/TeamMentor/TM_4_0_Design/issues/350 Closing this as dupe.

[2015-05-04 16:56] #745 closed

[2015-05-04 17:00] roman87 commented on #742
@michaelhidalgo To answer your second question, the behavior for Java search is correct. We Do have a limit of 250 articles to be shown at one time. You have to filter further down.
To answer your first question, try the exact match of "Scala Play" and you will see that you get the exact number of articles - 108.
Btw, if you try searching for "java" lowercase, you will see 412 articles. I think th

[2015-05-04 17:40] BendixSpring commented on #557
This issue is fixed for the index, but is not fixed for the Fitlers:
![image](https://cloud.githubusercontent.com/assets/3578332/7458530/1adb4498-f263-11e4-8fb6-be4c7d48cd13.png)

The words are not sorted alphabetically in the filters pane.

[2015-05-04 17:58] michaelhidalgo commented on #742
@roman87  you are right, searching for Scala Play it gives the accurate number of 108, however, by looking for Scala, it gives 113.

I ran the script and it seems like for Scala Play there are 113 articles. If you then get the Scala Lib articles that are in a view, you just get 108 :

[code]

[2015-05-04 19:00] roman87 commented on #557
@BendixSpring I am not sure what you mean :). Looks pretty alphabetical to me..

[2015-05-04 19:01] roman87 commented on #742
So are you saying we are actually searching through articles that are not in a view?

[2015-05-04 19:12] luchia commented on #713
Sure, i just fixed this on my branch and will create a PR shortly -

![screen shot 2015-05-05 at 5 12 08 am](https://cloud.githubusercontent.com/assets/4547737/7460312/5f839d7a-f2e5-11e4-8773-e58839085a61.png)

[2015-05-04 19:13] luchia commented on #741
Yup, I already caught it on my branch -

![screen shot 2015-05-05 at 5 13 28 am](https://cloud.githubusercontent.com/assets/4547737/7460323/7cef53d6-f2e5-11e4-8e67-8087d96be1b6.png)
![screen shot 2015-05-05 at 5 13 30 am](https://cloud.githubusercontent.com/assets/4547737/7460322/7ceefeb8-f2e5-11e4-9322-5090426c2524.png)

Will create a PR shortly.

[2015-05-04 19:40] luchia commented on #744
I had a quick look this morning and added in some colours @pjenney58. I thought it would look really good but to me it makes the application look less cohesive -

![screen shot 2015-05-05 at 5 31 09 am](https://cloud.githubusercontent.com/assets/4547737/7460663/0efb3afe-f2e8-11e4-89ce-2c29c51c5574.png)

I prefer it just grey and in my opinion the colours make it more difficult to see. I had some o

[2015-05-04 19:51] pjenney58 commented on #744
I think they look fine in monochrome.  What I was originally thinking was
that some of the logos didn't match the industry logos, Microsoft
specifically.  If you pull down Dash, they've got about every one possible
in their docset repository.

On the same but different track, what if an icon was colorized for a time
when new content is added to the system? That'd  look pretty keen, the
coloring wo

[2015-05-04 20:14] luchia commented on #721
So I had that in mind when I made this because I knew we'd need to change colours etc in the customer navigation. It has it's own div (#customer-navigation) which currently has no styling so will be easy enough for customisation to be added.

![screen shot 2015-05-05 at 5 46 41 am](https://cloud.githubusercontent.com/assets/4547737/7461269/5b43dfb6-f2ec-11e4-9c2b-2d28f6537599.png)
![screen shot 20

[2015-05-04 20:16] luchia commented on #744
What is Dash? I am having some issues finding it.

[2015-05-04 20:32] pjenney58 commented on #744
It's a Mac App available in the App Store.  Here's their url otherwise:
https://kapeli.com/dash

Cheers!

pete.;1

*---)--------------------------------------Security Innovation, Inc.*
Peter H. Jenney
Vice President of Strategic Initiatives
Ombudsman, FSO, CCO  & PMO

(office)   +1.978.694.1008 x164
(mobile) +1.603.264.3961
(skype)     PeteJenney

On Mon, May 4, 2015 at 4:16 PM, Luchia Bloomfield

[2015-05-04 22:33] DinisCruz opened #746 "Add 'rebuild JSON and reload data' to GraphDB"
This is to handle the scenario when the user edits the content in 3.5 editor and wants to see the change in 4.0

[2015-05-04 22:39] DinisCruz opened #747 "Minor alignment issue on search page"
Doesn't happen on all icons. See Web App logo below:
![image](https://cloud.githubusercontent.com/assets/656739/7464020/ae409cf8-f2b6-11e4-99e4-461b8f066965.png)

[2015-05-04 23:15] luchia commented on #741
This has been fixed in my PR. Marking QA and assigning to Roman.

[2015-05-04 23:15] luchia commented on #733
This fix is in my PR referenced. I am marking this QA and assigning to Roman for QA and follow up with @afollett.

[2015-05-04 23:16] luchia commented on #713
This has been fixed in my PR and will be merged into Dev shortly. I am marking as QA and assigning to Roman.

[2015-05-04 23:24] DinisCruz commented on #723
See https://github.com/TeamMentor/TM_4_0_Design/blob/master/test/controllers/Pwd-Reset-Controller.test.coffee#L19-L28

[2015-05-04 23:42] BendixSpring commented on #557
Ha!  Indeed!  I thought NET would come after “A”.

But .NET does come before “A”.

It’s good!

From: RomichG [mailto:notifications@github.com]
Sent: Monday, May 04, 2015 3:00 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] Sort queries and filters (#557)

@BendixSpring <https://github.com/BendixSpring>  I am not sure what you mean :). Looks pretty alphabetical to me..

[2015-05-05 17:34] roman87 commented on #721
Ok awesome. So @DinisCruz now we need a way to manage these customizations similar to what we do with Site_Data. It would be good if we could leverage the same Site_Data repos. Maybe add TM40 directory there and customizations there. We should then also add a config file option in TM40 to enable/disable customization and the customization directory.

[2015-05-05 17:39] roman87 commented on #705
The test was completed and we handled it beautifully. Closing.

[2015-05-05 17:39] #705 closed

[2015-05-05 17:44] roman87 commented on #722
Icons are well received. Closing.

[2015-05-05 17:44] #722 closed

[2015-05-05 17:57] roman87 commented on #645
TTL expired. Closing

[2015-05-05 17:57] #645 closed

[2015-05-05 17:58] roman87 commented on #747
This also happens on the index page

[2015-05-05 18:01] roman87 opened #750 "Create Icons for "Phase" as well"
With latest feedback, we should create icons for "Phase" in the same way we do technology and type.
How long will this take?

[2015-05-05 18:09] roman87 opened #751 "Font size issue on the about page"
The first paragraph of the about page is in a font larger than the rest of the paragraphs.
![selection_209](https://cloud.githubusercontent.com/assets/1326120/7479538/56cdc368-f330-11e4-9d1e-32856bace842.png)

Is that on purpose?

[2015-05-05 18:12] roman87 commented on #744
@luchia Can we see a mockup with color icons on both the article list and the filter list?

[2015-05-05 18:54] luchia commented on #750
Another week I would imagine. I'll add it to #634, I still have a heap of Flare icons to do.

[2015-05-05 18:58] luchia commented on #744
I did already, the TM application icons (like the types and technology independant) were the ones that stayed grey - unless you mean you want each icon to have it's own colour. I did have them as TM green but it's really close to Android green and is kind of confusing.

I think it's too much but I will try it again.

[2015-05-05 19:13] luchia commented on #750
Are we going to add these to the articles? Because if so then I think I need to revisit where the icons are positioned.

[2015-05-05 20:48] tm-build commented on #726
ok, @michaelhidalgo can you generate a couple examples of the SSO urls that we need to support
we will basically use the same route as currently used by 3.5

[2015-05-05 20:53] michaelhidalgo commented on #615
I just made this issue a P0 so I'll attend it shortly.

[2015-05-05 21:10] luchia commented on #750
Here we are -

![screen shot 2015-05-06 at 7 09 09 am](https://cloud.githubusercontent.com/assets/4547737/7483000/d7fb3ea0-f3be-11e4-9aec-7bb15189b674.png)

@roman87, can you please let me know if you want these displayed on the article (both in the article view and the list view) because I will need to re-position the icons I think.

[2015-05-05 21:13] luchia commented on #751
Yes, one's a h5, the other a paragraph. To make the distinction clearer, I have changed the first part of the text to a h4 -

![screen shot 2015-05-06 at 7 12 39 am](https://cloud.githubusercontent.com/assets/4547737/7483075/5eeb54d6-f3bf-11e4-90f2-02db5e422856.png)
![screen shot 2015-05-06 at 7 12 41 am](https://cloud.githubusercontent.com/assets/4547737/7483076/5f19a1e2-f3bf-11e4-83bb-ac6bd59b4a

[2015-05-05 21:15] luchia commented on #634
Related to issue #750, here are the icons I made for the Phase filters -

![screen shot 2015-05-06 at 7 09 09 am](https://cloud.githubusercontent.com/assets/4547737/7483106/a723fadc-f3bf-11e4-8fa3-d9048d5c4270.png)

[2015-05-05 22:50] luchia commented on #747
This doesn't happen with the new icons -

![screen shot 2015-05-06 at 8 50 14 am](https://cloud.githubusercontent.com/assets/4547737/7484516/f44bdb10-f3cc-11e4-92dc-9bf6d1837ca9.png)

[2015-05-05 23:44] luchia commented on #634
This issue is ready to be QA'ed on both Flare and Jade. All icons are now in both versions of the application. The following icons are in Flare only -

![screen shot 2015-05-06 at 9 42 20 am](https://cloud.githubusercontent.com/assets/4547737/7485091/57fa83f8-f3d4-11e4-97ef-47ff09e5d5a8.png)
![screen shot 2015-05-06 at 9 42 43 am](https://cloud.githubusercontent.com/assets/4547737/7485093/57fbc84e

[2015-05-06 00:21] luchia commented on #750
I've added them to the list view and the article itself. I needed to update the design as the way it was looked unbalanced -
![screen shot 2015-05-06 at 9 49 29 am](https://cloud.githubusercontent.com/assets/4547737/7485452/5f905d36-f3d9-11e4-8f20-5d5ebfd7f102.png)
![screen shot 2015-05-06 at 9 49 17 am](https://cloud.githubusercontent.com/assets/4547737/7485457/6734070e-f3d9-11e4-806a-a5294e571c5

[2015-05-06 00:22] luchia commented on #750
Marking as QA and I will create a PR at the end of my week.

[2015-05-06 00:26] luchia commented on #721
Assigning to Dinis.

[2015-05-06 00:51] luchia commented on #744
In relation to the differences in icons, the ones that are different such as Java and PHP I did differently purely for scalability reasons. Java's logo has very thin lines and is hard to make small so I made a thicker coffee cup -

And PHP is the only text-based logo which is also hard to scale to small sizes, so I had a look around and found PHP logos with an elephant, which I then recreated to m

[2015-05-06 09:09] DinisCruz commented on #741
@luchia I was merging and noticed a that the **ol** (ordered list) also need fixing .See for example on http://localhost:1337/article/000000010f15/URLs-Passed-to-the-EventSource-Constructor-are-Validated

![image](https://cloud.githubusercontent.com/assets/656739/7490278/c81c6348-f3d6-11e4-9625-994fcd46ea91.png)

So I added an extra  css mapping for it

[code]

and it looks better now (can you dou

[2015-05-06 09:10] DinisCruz commented on #741
Code (and latest Lucy branch) is on dev

[2015-05-06 09:31] DinisCruz opened #753 "Seaching for HTML tags causes large number of results, it's slow and causes DoS"
I just did a search for http://localhost:1337/search?text=li and it was quite expensive to calculate

![image](https://cloud.githubusercontent.com/assets/656739/7490574/a1b666d8-f3d9-11e4-9ef2-e8eb6f05bfba.png)

and it created big (9Mb) search mappings files

![image](https://cloud.githubusercontent.com/assets/656739/7490584/b6f25a66-f3d9-11e4-88fe-5668dd444942.png)

doing it on beta.teammentor.ne

[2015-05-06 10:18] DinisCruz commented on #753
Here is the test that shows the prob. It looks that it is a case of the search engine generating too many results

[code]

[2015-05-06 10:22] DinisCruz commented on #753
For reference here is why we get results for 'p'

![image](https://cloud.githubusercontent.com/assets/656739/7491535/20f57788-f3e2-11e4-9281-cb0825ad07b4.png)

![image](https://cloud.githubusercontent.com/assets/656739/7491518/0b47136a-f3e2-11e4-8124-0ce27d118933.png)

The search is picking up the variable 'p' which is inside one of our code samples

[2015-05-06 10:33] DinisCruz commented on #753
One think that is weird is that for the **li** and **ul**, we are getting more results than the number of articles that we have in the library!!! (which means that something is going wrong with those results).

Here is how I checked for the uniqueness of the ids returned

![image](https://cloud.githubusercontent.com/assets/656739/7491618/d8347e94-f3e2-11e4-834c-176c651da21a.png)

where it was obvi

[2015-05-06 11:08] DinisCruz commented on #753
Found the root of the problem

![image](https://cloud.githubusercontent.com/assets/656739/7492106/4e9e0b54-f3e8-11e4-9140-ddb396adf71c.png)

when there was no search match to the value provided, the search engine was looking for partial matches, which meant that **ul** was found a lot

This feature was actually an legacy for the first pass of the search engine and we should remove it, since a much

[2015-05-06 11:16] DinisCruz commented on #753
The fix is to remove that 'feature' on the Graph db

Here is the regression test

[code]

[2015-05-06 11:20] DinisCruz commented on #753
Code is pushed into TM_4_0_GraphDB master, @roman87 can you update beta.teammentor.net?

[2015-05-06 11:22] DinisCruz commented on #753
(Added issue to https://github.com/TeamMentor/TM_4_0_Design/wiki/TM-4.0-Security )

[2015-05-06 18:10] michaelhidalgo commented on #753
Good catch @DinisCruz , It's great that you reproduced the issue via unit test.

[2015-05-06 20:29] roman87 commented on #750
Ok I am not getting why we added the green titles to the article list?

[2015-05-06 20:37] roman87 commented on #753
This was pushed to beta. @DinisCruz let me know if we can close this.

[2015-05-06 20:42] DinisCruz commented on #753
@roman87 looks but, the the *li* search is still on the cache, if you delete the .json file we will be good (just look for search cache files with more than 2Mb)

![image](https://cloud.githubusercontent.com/assets/656739/7503104/92d10998-f438-11e4-8a3c-9eebc5e61289.png)

[2015-05-06 20:42] roman87 commented on #615
Great, moved it into current sprint.

[2015-05-06 21:32] DinisCruz opened #755 "Refactor TM library import from TM_Graph into TM_Json_Data"
Following on the last refactoring where the Lib_UNO to Lib_Uno-json was moved into the TM_4_0_JSON_Data repo, the next step is to actually move the creation of the GraphDB triplets into that repo to.

This will have tons of good side effects, specially the fact that there will be no need to run the GraphDB unit tests to load the data (it will also allow for the much faster reload/reset of the TM_G

[2015-05-06 21:37] DinisCruz commented on #755
opps this is not fully done

(it was the commit reference to 'fix' that closed this issue)

[2015-05-06 21:55] roman87 commented on #557
Great, thanks. Closing this one.

[2015-05-06 21:55] #557 closed

[2015-05-06 21:57] roman87 commented on #747
I'll take this to QA

[2015-05-06 22:49] luchia commented on #750
Removing the styling, it was brought over from Flare -

![screen shot 2015-05-07 at 8 49 02 am](https://cloud.githubusercontent.com/assets/4547737/7505458/eef6589c-f495-11e4-859a-a6f07b37f1c7.png)
![screen shot 2015-05-07 at 8 49 06 am](https://cloud.githubusercontent.com/assets/4547737/7505459/ef02ae4e-f495-11e4-9cfc-f33980c5bcad.png)

I did still have to change the design slightly to allow for t

[2015-05-06 23:22] michaelhidalgo commented on #726
Ok so we need to support the following URLS :

1.https://teammentor.net/_Customizations/SSO.aspx?username={username}&requestToken={token} : This is the URL that Sony uses in order to authenticate with TEAM Mentor

2. We can also add a route to https://teammentor.net/Aspx_Pages//SSO.aspx?username={username}&requestToken={token}

[2015-05-07 02:50] luchia commented on #744
I just pushed this to it's own branch Issue_744. Here's a screenshot, let me know what you think -

![screen shot 2015-05-07 at 12 48 25 pm](https://cloud.githubusercontent.com/assets/4547737/7507719/8721f948-f4b7-11e4-8f37-32a7350c3531.png)

[2015-05-07 08:02] tm-build commented on #744
much better :)

[2015-05-07 14:58] roman87 commented on #744
Who the hell is @tm-build  :)?

[2015-05-07 17:05] tm-build commented on #744
tbot's brother :)

On Thu, May 7, 2015 at 3:58 PM, RomichG <notifications@github.com> wrote:

[2015-05-07 17:08] yankola commented on #658
An additional comment on the footer:
Footer should appear on all pages except for the search and index page.

[2015-05-07 17:12] roman87 commented on #658
Assigning back to @luchia

[2015-05-07 17:20] roman87 opened #758 "Font issue on the menu after logging in"
Seems like there is still a font issue with the menu in FF when user is logged in.
Here it is on beta:
![selection_217](https://cloud.githubusercontent.com/assets/1326120/7521430/cb79c112-f4bb-11e4-897d-0799aa59de4a.png)

And here it is on latest Dev:
![selection_218](https://cloud.githubusercontent.com/assets/1326120/7521436/d1c9fb04-f4bb-11e4-8e63-704ced695391.png)

[2015-05-07 17:24] roman87 opened #759 "Go throuh all TP to TM links and make sure they are not broken"
Brandon is going to provide a list of all the TP->TM links. Once that is done we need to make sure we still have all the articles on that list.

[2015-05-07 17:24] roman87 commented on #759
Related to:#726

[2015-05-07 19:34] roman87 commented on #561
I think we should bump this up. This should change for the better our sorting algorithm.

[2015-05-07 19:46] DinisCruz opened #760 "What are the best URLs and Accounts that we (SI Service) should use"
Basically where to start?

[2015-05-07 19:47] roman87 commented on #760
use https://beta.teammentor.net, sign up, and take it for a spin.

[2015-05-07 19:55] DinisCruz opened #761 "How to connect to Slack"
Step 1) go to https://securityinnovation.slack.com/

![image](https://cloud.githubusercontent.com/assets/656739/7524639/4c22b41a-f4fb-11e4-9b92-e08a3da236f1.png)

.... (can somebody paste other steps below)

[2015-05-07 21:54] tkrpata commented on #761
![image](https://cloud.githubusercontent.com/assets/1203492/7526708/ee956478-f4c8-11e4-80e1-13f85b4c9511.png)

![image](https://cloud.githubusercontent.com/assets/1203492/7526713/f90a5170-f4c8-11e4-9a60-dd6b92f28a9a.png)

[2015-05-07 21:55] michaelhidalgo commented on #615
I'm almost here. I'm finishing to validate the Url prior to redirect the user. I created an Issue here https://github.com/TMContent/Lib_UNO/issues/43 , since I'm using TM to develop TM :)

[2015-05-07 21:55] tkrpata commented on #761
![image](https://cloud.githubusercontent.com/assets/1203492/7526724/2347e5b0-f4c9-11e4-974a-939da8534ff3.png)

[2015-05-07 22:00] tkrpata commented on #761
I'm in. Very straightforward.

[2015-05-07 22:07] tkrpata opened #762 "Search result for CSRF"
Should I put this here or in TM Content? (If the latter, how to get access?)

Te first search result for search term "csrf" probably should be:
https://beta.teammentor.net/article/7b54c2df9e5a/Cross-Site-Request-Forgery
but is
https://beta.teammentor.net/article/ba3c65a62479/How-to-Test-for-Cross-Site-Request-Forgery-(CSRF)-Vulnerabilities

[2015-05-07 22:37] luchia commented on #758
This has been fixed on the Lucy branch -

![screen shot 2015-05-08 at 8 36 37 am](https://cloud.githubusercontent.com/assets/4547737/7527331/777a6826-f55d-11e4-9493-55b6eeb46a93.png)

I will create a PR at the end of my day today with all my changes.

[2015-05-07 22:53] luchia opened #763 "Set up Analytics goals"
For testing and user acquisition purposes.

[2015-05-07 22:56] luchia commented on #761
That's how easy it should be to sign up for TM.

[2015-05-07 23:54] luchia commented on #744
This is what it currently looks like -

![screen shot 2015-05-08 at 9 38 07 am](https://cloud.githubusercontent.com/assets/4547737/7528211/2694d508-f568-11e4-9dd9-bfaaef07734e.png)
![screen shot 2015-05-08 at 9 39 01 am](https://cloud.githubusercontent.com/assets/4547737/7528212/26991000-f568-11e4-9863-6665059069eb.png)

[2015-05-08 01:06] DinisCruz opened #764 "Bug in user signup message"
![image](https://cloud.githubusercontent.com/assets/656739/7528841/ab195156-f526-11e4-90a1-56cfb4f63da9.png)

@michaelhidalgo can you look at this

[2015-05-08 01:11] DinisCruz commented on #764
This has been fixed by the referenced commit

@michaelhidalgo ignore my last comment

[2015-05-08 01:39] luchia commented on #658
Okay, I think I got all of the pages that I needed to -

![screen shot 2015-05-08 at 11 22 39 am](https://cloud.githubusercontent.com/assets/4547737/7529095/9b2608ac-f576-11e4-8d95-b2e35baaccd9.png)
![screen shot 2015-05-08 at 11 35 25 am](https://cloud.githubusercontent.com/assets/4547737/7529096/9b524a70-f576-11e4-903d-dc5222d9a757.png)

![screen shot 2015-05-08 at 11 38 40 am](https://cloud.git

[2015-05-08 01:39] luchia commented on #658
PR to come at the end of my day.

[2015-05-08 02:04] michaelhidalgo commented on #764
Good catch Dinis, we have a unit test for this one, don't we?

[2015-05-08 04:03] roman87 commented on #744
I like it.

[2015-05-08 08:52] DinisCruz commented on #750
Added to https://github.com/TeamMentor/TM_4_0_Design/issues/739

[2015-05-08 08:53] DinisCruz commented on #758
added to CR9 https://github.com/TeamMentor/TM_4_0_Design/issues/739

[2015-05-08 12:16] michaelhidalgo commented on #744
I also like it :) !

2015-05-07 22:03 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-05-08 15:38] DinisCruz opened #766 "Add 3.5 'Direct Links' feature"
This is something that we had in 3.5 and will not be hard to add at all (see https://github.com/TeamMentor/Master/issues/841).

More info on this text I wrote earlier today

[code]

[2015-05-08 16:07] DinisCruz opened #767 "Bug in cross articles link"
I just spotted a blind spot that will prevent an articles' relative link from working correctly.

If you open http://localhost:1337/article/92bb23d738e5 and click on the link at the bottom, you will go into http://localhost:1337/article/1c21c884-0644-4822-868a-20bc957875f7 (which is correct)

BUT, if there is another path element in the original link, for example:

http://localhost:1337/article/92

[2015-05-08 16:10] DinisCruz opened #768 "Make /a/{article id} the default search results link format"
At the moment it is ```/article/{article-id}``` which is a bit longer and doesn't look as nicely as ```/a/{article-id}```

The sooner we make this change the better since it will limit the number of links created to ```/article/{article-id}```

[2015-05-08 22:45] roman87 commented on #763
https://support.google.com/analytics/answer/1012040?hl=en

[2015-05-08 22:46] roman87 commented on #761
Awesome! Thanks @tkrpata

[2015-05-09 00:00] roman87 commented on #761
This was made into a wiki page https://github.com/TeamMentor/TM_4_0_Design/wiki/How-to-sign-up-and-use-Slack-for-colaboration
Closing.

[2015-05-09 00:00] #761 closed

[2015-05-09 00:08] roman87 commented on #764
Looks good.  Can we make sure we have a test for this one? This is something we should easily be able to catch.

[2015-05-09 00:14] roman87 commented on #658
So on DOCS pages, if the user is logged in, the     Security Innovation 2015. All rights reserved. is not underlined.
![selection_219](https://cloud.githubusercontent.com/assets/1326120/7547603/b9c11052-f5be-11e4-976a-6927154c9e60.png)

But when the user is not logged in, It is:

![selection_220](https://cloud.githubusercontent.com/assets/1326120/7547605/c15cbaaa-f5be-11e4-9697-89ba52052dc8.png)

[2015-05-09 20:30] DinisCruz commented on #664
code merged

[2015-05-11 03:51] roman87 commented on #762
@tkrpata this should be in this repo. Its a tricky one, but this has more to do with the algorithm of the search rather than the content.
Anyways I also sent you an invite for the TMContent org which will give you access to
https://github.com/TMContent/Lib_UNO

[2015-05-11 03:53] roman87 commented on #762
The first thing to do would be to analyze the scores. Which I will do.

[2015-05-11 03:54] roman87 commented on #750
This is done.

[2015-05-11 03:54] #750 closed

[2015-05-11 04:01] roman87 commented on #744
@luchia lets merge the colors into the main branch. I think based on popular vote we are keeping the colors.

[2015-05-11 04:04] roman87 commented on #733
This looks good. I like ti.

[2015-05-11 04:04] roman87 commented on #733
Will follow up with once its in beta.

[2015-05-11 04:06] roman87 commented on #713
This is done.

[2015-05-11 04:06] #713 closed

[2015-05-11 04:11] roman87 commented on #758
Still an issue here:
This is before the login:
![selection_224](https://cloud.githubusercontent.com/assets/1326120/7558427/1bb26e3c-f772-11e4-8c6b-0ef484ec4e77.png)
And this is after:
![selection_223](https://cloud.githubusercontent.com/assets/1326120/7558436/3773fb04-f772-11e4-87e1-92ebd75698fa.png)

[2015-05-11 04:20] roman87 commented on #766
I don't think we need this at the moment. This is actually has a deeper functionality where we can save searches, save individual articles etc.
For example, I should be able to save a search as beta.teammentor.net/u/roman87/mysearch1
Or save it as a global search (if I have the rights) as beta.teammentor.net/g/mysearch1
Same idea goes for articles.

I am putting this on the backlog for now.

[2015-05-11 04:24] roman87 commented on #767
Looks nasty, though I am not sure I am following why this happens.

[2015-05-11 05:48] DinisCruz commented on #691
yap done

[2015-05-11 05:48] #691 closed

[2015-05-11 11:50] tm-build commented on #744
Yay
On 11 May 2015 5:01 am, "RomichG" <notifications@github.com> wrote:

[2015-05-11 14:16] roman87 commented on #498
This is done.

[2015-05-11 14:16] #498 closed

[2015-05-11 14:21] roman87 commented on #372
This is pretty much the same as #664

[2015-05-11 14:36] roman87 commented on #413
This is done. Closing

[2015-05-11 14:36] #413 closed

[2015-05-11 16:48] DinisCruz commented on #372
yes we can close this since the issue at hand is tracked by #664

[2015-05-11 17:30] michaelhidalgo commented on #615
With Pull Request [https://github.com/TeamMentor/TM_4_0_Design/pull/769]

@DinisCruz  can you please code review this issue, I'm adding QA (automation) test now.

[2015-05-11 17:47] DinisCruz commented on #767
done, @tekgirl77 can you write a UI test the checks for the correct fix (on the actual  UI)

[2015-05-11 18:09] DinisCruz commented on #742
here is the root cause of the bug

![image](https://cloud.githubusercontent.com/assets/656739/7571596/8b633b1e-f810-11e4-8036-4b16cbc63307.png)

[2015-05-11 18:24] DinisCruz commented on #742
Fixed (with reference commit)

The case of different findings based on the exact match with a query (or tag) is a separate issue (we need to think about that one separately)

[2015-05-11 18:25] DinisCruz commented on #704
based on the fix for #742 can you you still replicate this issue?

[2015-05-11 18:29] DinisCruz commented on #742
Note: you will need to delete this bad boy:

![image](https://cloud.githubusercontent.com/assets/656739/7572125/ec841fb4-f813-11e4-96b9-e0537ba822d8.png)

so that you don't get a cached result

![image](https://cloud.githubusercontent.com/assets/656739/7572131/f7961d30-f813-11e4-9710-cb372149ced0.png)

[2015-05-11 18:41] DinisCruz commented on #738
ok done

Removed the ability to resolve an article using its title (dashed or not)

The actual code that was doing it was:

![image](https://cloud.githubusercontent.com/assets/656739/7572318/1c621140-f815-11e4-8828-dc396c0416a0.png)

and

![image](https://cloud.githubusercontent.com/assets/656739/7572321/222a7478-f815-11e4-86ac-17d577521940.png)

[2015-05-11 18:43] DinisCruz commented on #753
@roman87 this is something that is to do with the cache and tm-uno graphdb in beta.teammentor.net

once you rebuild it, it should go away

[2015-05-11 18:45] #601 closed

[2015-05-11 18:45] #556 closed

[2015-05-11 18:57] DinisCruz commented on #726
Here is the page that shows up when the token is invalid

![image](https://cloud.githubusercontent.com/assets/656739/7572683/e6430cf6-f817-11e4-8de7-26c1f066ed92.png)

[2015-05-11 19:25] DinisCruz commented on #726
This is now implemented  (on referenced commit (which is on master of GraphDB))

@roman87 and @michaelhidalgo can you give it a test drive

See valid tokens in Slack chat

[2015-05-11 19:28] DinisCruz commented on #726
you can confirm that the SSOUser is logged in by doing a search and looking on the search log

![image](https://cloud.githubusercontent.com/assets/656739/7573211/fd0dee0c-f81b-11e4-9174-2ac25e8054f0.png)

[2015-05-11 19:29] DinisCruz commented on #726
Sorry, I made a mistake on the original version of the https://github.com/TeamMentor/TM_4_0_Design/issues/726#issuecomment-101024347 comment. , the fix is on  'DEV of TM_Design'

[2015-05-11 19:32] DinisCruz commented on #682
yes, it is fixed

[2015-05-11 19:38] michaelhidalgo commented on #682
Yes it is fixed!

El lunes, 11 de mayo de 2015, Dinis Cruz <notifications@github.com>
escribió:

--
Sent from Gmail Mobile

[2015-05-11 20:40] roman87 commented on #577
I've identified the duplicate title/technology articles. There is actually not that many of them.
To solve this issue, @luchia we need a different icon for .NET and .NET 3.5 what do you think?

[2015-05-11 21:52] luchia commented on #744
This has been merged onto the Lucy branch -

![screen shot 2015-05-12 at 7 47 59 am](https://cloud.githubusercontent.com/assets/4547737/7575844/ad0dda74-f87b-11e4-85b3-8b05cb1d6713.png)
![screen shot 2015-05-12 at 7 48 02 am](https://cloud.githubusercontent.com/assets/4547737/7575843/ad0cb298-f87b-11e4-99fe-0b1d84ade4d8.png)

[2015-05-11 22:18] luchia commented on #577
So instead of being the same colour, I have made .Net 3.5 another blue -

![screen shot 2015-05-12 at 8 17 40 am](https://cloud.githubusercontent.com/assets/4547737/7576295/6bd05b3c-f87f-11e4-8694-e29c11954567.png)

[2015-05-11 22:51] DinisCruz commented on #615
this is merged

[2015-05-11 22:54] DinisCruz opened #772 "Article box size issue on search results"
@luchia can you see what is happening with the 2nd search result

![image](https://cloud.githubusercontent.com/assets/656739/7576743/18074fe2-f839-11e4-9d14-8e27d75b5b3f.png)

[2015-05-11 22:56] DinisCruz commented on #772
It looks like it happens when the 'preview' text is small
![image](https://cloud.githubusercontent.com/assets/656739/7576766/4d226982-f839-11e4-9736-947a68bbc1b6.png)

[2015-05-11 23:12] luchia commented on #758
I think I got it this time. A weird bug between two different classes -

![screen shot 2015-05-12 at 9 10 51 am](https://cloud.githubusercontent.com/assets/4547737/7576984/d9b5088a-f886-11e4-9318-d66f6cd749b0.png)
![screen shot 2015-05-12 at 9 10 54 am](https://cloud.githubusercontent.com/assets/4547737/7576985/d9b70018-f886-11e4-8e19-77cefd157c21.png)
![screen shot 2015-05-12 at 9 11 32 am](https

[2015-05-11 23:17] luchia commented on #772
Got it, it was a small fix on the table cell -

![screen shot 2015-05-12 at 9 17 23 am](https://cloud.githubusercontent.com/assets/4547737/7577078/bb4665aa-f887-11e4-8578-8d068f5a7727.png)

[2015-05-11 23:36] DinisCruz commented on #772
ok, I just merged the code (into Dev)

[2015-05-11 23:47] DinisCruz commented on #772
yap this has been fixed (closing)

[2015-05-11 23:58] luchia commented on #658
Fixed -

![screen shot 2015-05-12 at 9 57 23 am](https://cloud.githubusercontent.com/assets/4547737/7577588/4f8f7350-f88d-11e4-8895-9668b378498d.png)

[2015-05-12 00:39] DinisCruz commented on #772
@luchia you re-introduced this on the latest commit(s)

[2015-05-12 00:39] DinisCruz commented on #726
this is now done with the url not hard-coded

[2015-05-12 00:42] DinisCruz commented on #772
sorry, my mistake, looks fixed

any way @roman @michaelhidalgo and @luchia can you double check?

[2015-05-12 00:43] roman87 opened #777 "Icon for Android is not looking good"
![selection_225](https://cloud.githubusercontent.com/assets/1326120/7578108/4ddbe8be-f81e-11e4-84ad-0509880d00db.png)

[2015-05-12 00:44] BendixSpring commented on #577
Hopefully this won’t be a problem for folks who are colorblind (seriously!)

From: Luchia Bloomfield [mailto:notifications@github.com]
Sent: Monday, May 11, 2015 6:18 PM
To: TeamMentor/TM_4_0_Design
Cc: Danny Harris
Subject: Re: [TM_4_0_Design] When Displaying Search Results, Display categories to distinguish between identically named articles (#577)

So instead of being the same colour, I have ma

[2015-05-12 00:47] roman87 opened #778 "HTML5 icon does not look right"
![selection_225](https://cloud.githubusercontent.com/assets/1326120/7578133/dbd957b4-f81e-11e4-9fc0-5016e6eeb153.png)

[2015-05-12 00:52] DinisCruz opened #779 "Library import is not handling folders inside folders"
The prob is here https://github.com/TeamMentor/TM_4_0_JSON_Data/blob/master/src/graph/TM-Guidance.coffee#L115-L117 which is not loading child folders.

This is now a prob since we have those folders-inside-folders structure in the latest version of Lib_Uno:

https://github.com/TMContent/Lib_UNO/blob/master/UNO.xml#L3048-L3050

[2015-05-12 00:56] DinisCruz commented on #778
Mine look good

![image](https://cloud.githubusercontent.com/assets/656739/7578212/09c5a58a-f84a-11e4-9818-896059dd12c8.png)

[2015-05-12 01:17] DinisCruz commented on #709
First part is done

Here are the default searches

![image](https://cloud.githubusercontent.com/assets/656739/7578442/f554a8fa-f84c-11e4-9a9e-c6c2440a2875.png)

[2015-05-12 01:54] luchia commented on #778
There was a bug but I had already pushed and fixed this with my PR. This shouldn't be an issue anymore.

[2015-05-12 01:54] luchia commented on #777
There was a bug but I had already pushed and fixed this with my PR. This shouldn't be an issue anymore.

[2015-05-12 03:10] luchia commented on #777
May need to clear your cache as I had to redo the font file when I made the icons colours.

[2015-05-12 03:11] luchia commented on #778
May need to clear your cache as I had to redo the font file when I made the icons colours.

[2015-05-12 04:16] roman87 commented on #778
Yep this one is fixed.

[2015-05-12 04:16] #778 closed

[2015-05-12 04:16] roman87 commented on #777
Fixed as well

[2015-05-12 04:16] #777 closed

[2015-05-12 04:18] roman87 opened #780 "Technology Independent and WCF icons are the same."
![selection_226](https://cloud.githubusercontent.com/assets/1326120/7580104/6acfe7d6-f83c-11e4-9720-f5e935d560b6.png)

[2015-05-12 04:24] roman87 commented on #744
This is done.

[2015-05-12 04:24] #744 closed

[2015-05-12 04:32] roman87 opened #781 "Automatically log in the user upon sign-up (Jade)"
I don't really see a reason why the user should enter his credentials again, after he/she signed up.

[2015-05-12 04:43] roman87 commented on #741
This looks good. Closing.

[2015-05-12 04:43] #741 closed

[2015-05-12 04:45] roman87 commented on #755
@DinisCruz I assume this is done now and can be closed?

[2015-05-12 04:47] roman87 commented on #746
I am going to mark this as P1 for next sprint. We really need this before we can release to power customers.

[2015-05-12 04:49] roman87 commented on #747
Fixed.

[2015-05-12 04:49] #747 closed

[2015-05-12 04:50] roman87 commented on #634
This was a great effort. Very well done. Closing!

[2015-05-12 04:50] #634 closed

[2015-05-12 04:59] roman87 commented on #391
Changed to "Technology Independent" lets see how this goes. Closing.

[2015-05-12 04:59] #391 closed

[2015-05-12 05:01] roman87 commented on #772
Still an issue:
![selection_227](https://cloud.githubusercontent.com/assets/1326120/7580388/7640d26e-f842-11e4-86a9-8ee3043aba88.png)

[2015-05-12 05:20] roman87 commented on #704
Tags don't work at all now.
![selection_228](https://cloud.githubusercontent.com/assets/1326120/7580548/1cac6cce-f845-11e4-8dc6-45ac3b4e5720.png)

[2015-05-12 05:21] roman87 commented on #704
Bumping this since we need this stuff to work for the release.

[2015-05-12 05:22] roman87 commented on #742
@DinisCruz I still don't understand what was the bug and what was fixed. It also seems like we broke something that was working. https://github.com/TeamMentor/TM_4_0_Design/issues/704

[2015-05-12 05:27] #682 closed

[2015-05-12 05:28] roman87 commented on #682
Can't duplicate this anymore. Fixed

[2015-05-12 05:29] roman87 commented on #615
This is working great! Just as expected. Good stuff!

[2015-05-12 05:29] #615 closed

[2015-05-12 05:32] roman87 commented on #753
fixed.

[2015-05-12 05:32] #753 closed

[2015-05-12 05:33] roman87 commented on #685
This is now again an issue

[2015-05-12 05:37] roman87 commented on #758
This looks good. However, if you look even at your screenshots, you see that the logged in menu is higher than non logged in. i.e. the letters are closer to the top of the browser. Is that on purpose?

[2015-05-12 07:56] DinisCruz commented on #704
Hum they are working here

![image](https://cloud.githubusercontent.com/assets/656739/7582379/d4aa785e-f884-11e4-9d76-8fd373a30e02.png)

[2015-05-12 09:42] DinisCruz commented on #685
This is content Issue

You guys removed the ASP.NET tag

https://github.com/TMContent/Lib_UNO/blame/510f66de56838aa2f354e8fbfcb73b59541eed43/Guideline/96059535-1543-458e-afb7-e40360b9dcd2.xml#L10

That is where those search results where coming from

[2015-05-12 09:44] DinisCruz commented on #685
more specifically you removed the asp.net technology which is currently used as the default value for the Tag

[2015-05-12 12:44] michaelhidalgo commented on #704
They also works for me

![screen shot 2015-05-12 at 06 43 44](https://cloud.githubusercontent.com/assets/1732035/7587276/4f1d822e-f872-11e4-8c5e-1759fe05b6ab.png)

[2015-05-12 13:48] roman87 commented on #704
Weird. Let me try to reload the lib

[2015-05-12 13:51] roman87 commented on #704
Nope, does not work. And my json does have WCF 3.5 object.
[code]

[2015-05-12 13:52] roman87 commented on #704
Precisely 78 of them. Which is the number of search hits you both got
[code]

[2015-05-12 13:55] roman87 commented on #704
Is there a timeout that is being hit?

[2015-05-12 13:56] roman87 commented on #685
Yes I know that :) but the tags don't work for me ad in #704. I am putting the tags back now into the content. But if they don't work we can't use them :)

[2015-05-12 14:02] michaelhidalgo commented on #704
Interesting, but you are right, I also got 78 results

Michael:Graph_Data Michael$  grep "WCF 3.5" lib-uno-triplets.json | wc -l

      78

Which is the value in the search.

Do you get 78 results when you go here
http://localhost:1332/search/word_score/WCF%203.5

I used this JSON parser http://jsonviewer.stack.hu/ to collapse the items.

2015-05-12 7:55 GMT-06:00 RomichG <notifications@github.com

[2015-05-12 14:36] michaelhidalgo commented on #726
It works fine, however we also need to support this other route _Customizations/SSO.aspx?username={username}&requestToken={token}

Sony will use this form https://teammentor.net/_Customizations/SSO.aspx?username={username}&requestToken={token}

[2015-05-12 15:07] roman87 commented on #704
I get [ ]  when I go to that URL :)

[2015-05-12 15:58] roman87 opened #782 "Bunch of files are missing the <Tag> metafield"
There is a bunch of files (emailed separately) that are missing the <Tag> metafield.
How hard it would be to add the metafield with the script. The field for all those files should read
```<Tag>ASP.NET,ASP.NET 4.0,ASP</Tag>```

All the are in the clone of tm-sme/Lib_Uno

[2015-05-12 16:00] roman87 opened #783 "Expose the <Tag> field in the 3.6 editor interface"
Right now it is not exposed so it is hard to tag articles.

[2015-05-12 16:04] roman87 commented on #685
I've added ASP.NET tags to most of the articles so they should work, once tagging is working again.

[2015-05-12 16:13] DinisCruz commented on #782
nice, we needed those changes

but, you actually also hit on a bug with the tags, which I'm working on the fix now

[2015-05-12 16:14] DinisCruz commented on #704
ok, found the prob, working on a fix

[2015-05-12 16:37] DinisCruz commented on #709
Here is what it looks like (on clean server load, and before any user interaction)

![image](https://cloud.githubusercontent.com/assets/656739/7592816/998f7c4e-f8cd-11e4-8965-13e93370ef09.png)

[2015-05-12 17:54] DinisCruz commented on #704
OK, can you guys try with the latest code?

Now I get these results:

**WCF 3.5**
![image](https://cloud.githubusercontent.com/assets/656739/7594390/3f14121a-f8d8-11e4-80db-9bbf326d093d.png)

**asp.net**

![image](https://cloud.githubusercontent.com/assets/656739/7594410/59b894ba-f8d8-11e4-9dc2-9811fadbcf05.png)

**Asp.NET 3.5**
![image](https://cloud.githubusercontent.com/assets/656739/7594370/10

[2015-05-12 17:55] DinisCruz commented on #685
This should be working now

![image](https://cloud.githubusercontent.com/assets/656739/7594428/73309564-f8d8-11e4-99f1-0f2ba0894142.png)

[2015-05-12 19:00] michaelhidalgo commented on #704
Yeah, it works fine, I get the same results.

[2015-05-12 20:07] DinisCruz commented on #779
I just pushed to Lib_UNO-json and update , can you take a look at it?

[2015-05-12 20:09] DinisCruz commented on #779
actually , wait a sec

[2015-05-12 20:12] DinisCruz commented on #779
ok, try now

[2015-05-12 20:12] michaelhidalgo commented on #779
Ok :)

[2015-05-12 20:13] DinisCruz commented on #779
Just merged content https://github.com/TMContent/Lib_UNO-json/pull/9

[2015-05-12 20:16] DinisCruz commented on #779
Check this out, we have Standards

![image](https://cloud.githubusercontent.com/assets/656739/7597513/f1c27e7a-f8eb-11e4-86de-a2f873b1eaf0.png)

![image](https://cloud.githubusercontent.com/assets/656739/7597519/fad1a0ea-f8eb-11e4-9f42-5e677a6bf74f.png)

![image](https://cloud.githubusercontent.com/assets/656739/7597536/133691c2-f8ec-11e4-8a66-b6fe3765bc10.png)

![image](https://cloud.githubuserco

[2015-05-12 20:30] michaelhidalgo commented on #779
It seems like there might be an issue when searching for PCI DSS lower and upper case:

![screen shot 2015-05-12 at 14 27 04](https://cloud.githubusercontent.com/assets/1732035/7597827/653c8f46-f8b3-11e4-83c4-eece2a76f884.png)

Vrs :

![screen shot 2015-05-12 at 14 26 48](https://cloud.githubusercontent.com/assets/1732035/7597828/653e36d4-f8b3-11e4-92e6-cc60dc30ab0e.png)

[2015-05-12 21:28] roman87 opened #784 "Support legacy link format in 4.0"
Turns out we do need to support the legacy format in 4.0

[code]

Since we don't really have the "view" layout anymore, we should just show the article. This is needed because we have given TP courses to customers and cannot change the links on those.

[2015-05-12 21:35] luchia commented on #772
It's fixed on Dev, I just checked -

![screen shot 2015-05-13 at 7 35 08 am](https://cloud.githubusercontent.com/assets/4547737/7599080/a1ef8a3a-f942-11e4-87d8-bbac98d48665.png)

[2015-05-12 21:36] roman87 opened #785 "Add support for "virtual articles""
This is what is called scope creep :)

Turns out there are 22 articles that are linked to from TP that had been removed because they are duplicates. This naturally breaks the TP links. So we need to map the 22 GUIDS to the GUIDS that actually exist and should reflect the content. (@struth is working on that). But we also need a way to map those GUIDS inside the app. For now a rudimentary text file

[2015-05-12 21:41] luchia commented on #780
What branch are you on? On Dev, this isn't showing? -

![screen shot 2015-05-13 at 7 36 21 am](https://cloud.githubusercontent.com/assets/4547737/7599105/ce6e2b84-f942-11e4-8db5-90b28f265adb.png)

[2015-05-12 21:42] roman87 commented on #779
Yep, that is because tagging is case sensitive. Same reason why Java and java produce different results. Should we make it case insensitive?

[2015-05-12 21:43] luchia commented on #780
And the code is correct -

![screen shot 2015-05-13 at 7 42 43 am](https://cloud.githubusercontent.com/assets/4547737/7599229/aad43960-f943-11e4-986d-281db935d291.png)

[2015-05-12 21:44] luchia commented on #758
It has to be, otherwise we can't fit in the contact message without stretching the navigation down and mucking up the margins for the rest of the application.

[2015-05-12 21:47] roman87 opened #786 "Need an icon for "Principle""
![selection_229](https://cloud.githubusercontent.com/assets/1326120/7599289/c212567c-f8ce-11e4-8b91-8c021c1ba2eb.png)

[2015-05-12 22:18] roman87 opened #787 "Standards articles are not part of the total count and principle type is not shown."

[2015-05-12 22:20] DinisCruz commented on #779
can we open a different issue for that , since that is a different problem and I need to hunt that bug separately (I also noticed that the .NET and .net also had different results)

[2015-05-12 22:20] DinisCruz commented on #779
but loading data from folders within folders is working one (to one level deep, so at the moment folders within folders within folders are not supported)

[2015-05-12 22:44] DinisCruz commented on #780
This is fixed with https://github.com/TeamMentor/TM_4_0_Design/commit/01b7a88b3456e8975f4846e53f338f0e020fc44b

![image](https://cloud.githubusercontent.com/assets/656739/7600175/cb75c320-f900-11e4-82a3-8ea722055ffd.png)

[2015-05-12 22:44] luchia commented on #780
Thank you, Dinis!

[2015-05-12 22:46] DinisCruz commented on #784
@michaelhidalgo can you do this one

[2015-05-12 22:46] luchia commented on #786
### Principle

![screen shot 2015-05-13 at 8 46 25 am](https://cloud.githubusercontent.com/assets/4547737/7600217/93aa00e0-f94c-11e4-8a53-ac5b4b0147a9.png)
![screen shot 2015-05-13 at 8 46 34 am](https://cloud.githubusercontent.com/assets/4547737/7600218/93d60370-f94c-11e4-8182-84bb029dd6fe.png)

[2015-05-12 22:48] DinisCruz commented on #784
take a look at the solution at https://github.com/TeamMentor/TM_4_0_Design/commit/01b7a88b3456e8975f4846e53f338f0e020fc44b

[2015-05-12 22:49] luchia opened #789 "Create a default icon as a fallback for new filter types"

[2015-05-12 22:57] michaelhidalgo commented on #784
@DinisCruz I think you referenced the wrong site in the previous link!

[2015-05-12 23:09] DinisCruz commented on #784
Yeah :)

[2015-05-12 23:10] DinisCruz commented on #784
this is the one https://cloud.githubusercontent.com/assets/656739/7600548/3051a180-f904-11e4-9497-8fc90ede884b.png

[2015-05-12 23:11] DinisCruz commented on #785
ok, I need that list asap

[2015-05-12 23:29] DinisCruz commented on #786
its there now

![](https://cloud.githubusercontent.com/assets/656739/7600793/ef66247c-f906-11e4-978a-6192456a2b90.png)

[2015-05-12 23:50] DinisCruz opened #790 "Search for 'SQL Injection' returns LDAP result first"
I just noticed this

![image](https://cloud.githubusercontent.com/assets/656739/7601074/e2241e6a-f909-11e4-8d1a-1f974fa457d5.png)

so I make a couple minor changes to the word scores and it is much better (I made the **title** to have **30** and the **span** to have 0)

It is not perfect, but it is much better

![image](https://cloud.githubusercontent.com/assets/656739/7601087/0c0b2552-f90a-11e4-9

[2015-05-12 23:53] DinisCruz commented on #790
For reference here is the current formula (before the tags mappings are applied)

[code]

[2015-05-13 00:14] DinisCruz commented on #762
Yeah, so part of the prob is that that article does not have CSRF on the title and there are not that many mentions of it in it

![image](https://cloud.githubusercontent.com/assets/656739/7601304/36c08d80-f90c-11e4-87a7-e95121a9069e.png)

specially when compared with

![image](https://cloud.githubusercontent.com/assets/656739/7601311/5067b240-f90c-11e4-81c2-6a074ab427e6.png)

I think an interestin

[2015-05-13 02:35] luchia commented on #737
This has been finished on the Flare branch.

#### Mobile
![screen shot 2015-05-13 at 12 16 01 pm](https://cloud.githubusercontent.com/assets/4547737/7602622/005c43a2-f96a-11e4-8bd3-62e664141841.png)
![screen shot 2015-05-13 at 12 16 04 pm](https://cloud.githubusercontent.com/assets/4547737/7602620/00599fd0-f96a-11e4-927a-0cc998c91b3b.png)
![screen shot 2015-05-13 at 12 16 07 pm](https://cloud.gith

[2015-05-13 02:42] luchia commented on #577
I designed everything with accessibility on mind so all non-text elements have titles and can be accessed by a screen reader. Hopefully that's okay, but I'm sure we'll find out if it's not.

[2015-05-13 04:51] roman87 opened #792 "When I search for exact title of the article, the article does not always come up first"
For example, searching for "structured exception handling is used" brings up the actual article 3d or so.
I think we need to multiply the the title score by some coefficient of the number of words found in the title.

[2015-05-13 05:09] roman87 opened #793 "Crashing DB when searching for "Encryption Keys are stored using protected storrage""
[code]

[2015-05-13 05:12] roman87 commented on #793
And connection gets reset when searching for "keys"

![selection_237](https://cloud.githubusercontent.com/assets/1326120/7604228/1fd8f192-f90d-11e4-8b7b-fc15fbaa6a83.png)

[2015-05-13 11:45] DinisCruz commented on #793
Good catch, just fixed it

![image](https://cloud.githubusercontent.com/assets/656739/7609714/e321baf2-f96d-11e4-825f-5c2a1172faa0.png)

@tekgirl77 can you add a unit test to regress test this (since it has been fixed)

[2015-05-13 11:49] DinisCruz opened #794 "Weird search result when 'keys' is used in a query"
note how when there is 'keys' in a query we can add invalid terms

![image](https://cloud.githubusercontent.com/assets/656739/7609758/716a63f4-f96e-11e4-9dcf-6831ccc64dfa.png)

![image](https://cloud.githubusercontent.com/assets/656739/7609762/77ba2b36-f96e-11e4-9273-1d4cefb07864.png)

![image](https://cloud.githubusercontent.com/assets/656739/7609772/827dc12c-f96e-11e4-8530-8433aae56d6f.png)

But

[2015-05-13 11:51] DinisCruz commented on #792
I think this is fixed now with the minor fix I pushed yesterday https://github.com/TeamMentor/TM_4_0_Design/issues/790

![image](https://cloud.githubusercontent.com/assets/656739/7609789/a44b32f8-f96e-11e4-9402-987b788b277b.png)

[2015-05-13 11:51] DinisCruz commented on #792
I basically increased the points given to the title

[2015-05-13 11:52] DinisCruz commented on #792
which now gives that article these scores

[code]

[2015-05-13 11:54] DinisCruz commented on #793
![image](https://cloud.githubusercontent.com/assets/656739/7609724/fe2ad59a-f96d-11e4-851b-adde0b167258.png)

[2015-05-13 14:55] DinisCruz opened #795 "[Q] Refactor QA regression test 'Issue 606 - Multiple Badges feature'"
It is far too complex and uses very fragile $ selectors

[code]

Note: we need more ids on the code to make it simpler

[2015-05-13 16:37] roman87 opened #797 "XSS, cross site scripting, cross-site scripting, cross-site - all produce different results. They shold be the same"
This is really a bigger issue on using a dictionary where search terms are equated.

[2015-05-13 18:36] DinisCruz commented on #785
OK, I think I found a really sweet solution for this (and the idea of having short links to articles)

Most of the capabilities were already in place, and I leveraged the power of having a GraphDB where all I had to do was to add an extra triplet mapping (and ensure it could be loaded and understood)

The way it works is that during graph loading phase, TM will load all files that it finds inside

[2015-05-13 20:58] DinisCruz commented on #784
done

now http://localhost:1337/teamMentor/open/c57eaf7a-f02e-4172-8221-38fb47dbf402#load:47a10a30-15ad-4cfd-bf82-00e9bb2037f6&showFilters:false&showTree:false&centerGuidanceItems:true

will redirect to

http://localhost:1337/article/c57eaf7a-f02e-4172-8221-38fb47dbf402#load:47a10a30-15ad-4cfd-bf82-00e9bb2037f6&showFilters:false&showTree:false&centerGuidanceItems:true

[2015-05-13 23:28] DinisCruz commented on #739
We're green, cutting the release

![image](https://cloud.githubusercontent.com/assets/656739/7623248/195507d4-f9d0-11e4-9636-be400098cbfd.png)

[2015-05-14 13:53] michaelhidalgo commented on #785
This is a nice solution.I tested with a couple of values that should resolve an article and the it worked just fine.

[2015-05-14 14:20] michaelhidalgo commented on #783
Fixed in referenced Pull Request
https://github.com/tm-sme/Lib_UNO/pull/7

[2015-05-14 14:20] michaelhidalgo commented on #782
Fixed in referenced commit

https://github.com/tm-sme/Lib_UNO/pull/7

[2015-05-15 13:50] DinisCruz opened #799 "[Q] The jade head_title variable is defined twice"
Here it is

![image](https://cloud.githubusercontent.com/assets/656739/7653997/b6e7ab90-fb11-11e4-845b-27dee27ae5bf.png)

[2015-05-15 14:19] DinisCruz commented on #799
Here is the first pass at writing a regression test for this issue

[code]

[2015-05-15 14:27] DinisCruz opened #800 "[Q] TM design logging tests need to check that the logging actually happened"
![image](https://cloud.githubusercontent.com/assets/656739/7654669/c9acd656-fb16-11e4-9155-6f057a54b971.png)

@tekgirl77 here is one for you

[2015-05-15 22:16] michaelhidalgo opened #801 "Add a new route to '/help/article/:guid' to access Documentation links"
We need to support the route '/help/article/:guide' to be able to serve links from the documentation library.

[2015-05-16 00:04] michaelhidalgo commented on #801
Fixed in the referenced Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/802

@DinisCruz , @roman87  can you guys please comment in this fix.

![screen shot 2015-05-15 at 17 58 22](https://cloud.githubusercontent.com/assets/1732035/7663710/da2ba41a-fb2c-11e4-84f9-733e559b3f70.png)

[2015-05-16 04:12] roman87 commented on #785
Works like a charm.
I build the new virtual-articles.json with this
[code]
Cleaned up the file a bit. Tested and its all great.

I pushed the changed virtual-articles.json to to https://github.com/TMContent/Lib_Uno-jso
Lets make sure the file stays there, is not overwritten by the new json data and that it doesn't break any process.

[2015-05-16 04:31] roman87 commented on #793
All fixed. good stuff.

[2015-05-16 04:31] #793 closed

[2015-05-16 04:36] roman87 commented on #784
Perfect. Works great.

[2015-05-16 04:36] #784 closed

[2015-05-16 04:37] roman87 commented on #758
Looks good then. Closing.

[2015-05-16 04:37] #758 closed

[2015-05-16 04:40] roman87 opened #803 "Make TAGs case insenstive"
As explained in https://github.com/TeamMentor/TM_4_0_Design/issues/779#issuecomment-101429926
Tags in searches are currently case sensitive. That is why searching for "Java" produces different results than for "java"
We should make it case insensitive.

[2015-05-16 04:50] roman87 commented on #779
Another related issue  #787
However this specific issue is fixed now.

[2015-05-16 04:50] #779 closed

[2015-05-16 04:52] roman87 commented on #787
Updating this issue as Standards articles (part of folder inside a folder) are not shown in search results.

Article exists in index.

![selection_288](https://cloud.githubusercontent.com/assets/1326120/7664773/a76f8c38-fb65-11e4-8027-c2d971c0593f.png)

Searching for partial title of the article does not produce the article on the list of search results.

![selection_289](https://cloud.githubuserc

[2015-05-16 04:56] roman87 commented on #767
Ah followed it now. yes quite a bad one, and looks fixed. Assigning to @tekgirl77  for unit test.

[2015-05-16 15:47] DinisCruz commented on #801
Fix looked great :)

merged

[2015-05-16 18:24] roman87 commented on #726
Doesn't work :(
I am getting unauthorized even though the token is correct:
I am using
```http://localhost:1337/Aspx_Pages/SSO.aspx?userName=TestSSO&requestToken=C794891856B3BFCFC2D1B6637640E444```

And get:
![selection_290](https://cloud.githubusercontent.com/assets/1326120/7667462/11b8a108-fbd7-11e4-8ba1-00f4f20ef614.png)

However when I go directly (this is on my local box) it works fine:

```h

[2015-05-16 18:37] roman87 commented on #704
Not working right.
There are 179 articles tagged as WCF 3.5, 508 as ASP.NET, 316 as ASP.NET 3.5, 208 as ASP.NET 4.0

[code]

[2015-05-16 18:51] roman87 commented on #704
I am not going to make it dependent for the release, but we need to fix it right the way after.  I think the reason we have the issue is because we are not storing the Tag as a query (keyword)

[2015-05-16 18:55] roman87 commented on #742
The rest of this is covered in #787 Closing this one.

[2015-05-16 18:55] #742 closed

[2015-05-16 18:58] roman87 commented on #685
Issue is covered in #704 closing

[2015-05-16 18:58] #685 closed

[2015-05-16 19:26] roman87 commented on #577
This should be fixed. Will follow up once it is in beta.

[2015-05-16 19:50] roman87 commented on #759
Checking with serge on one last article.

[2015-05-16 19:53] roman87 commented on #738
Works as expected.

[2015-05-16 19:53] #738 closed

[2015-05-16 22:15] DinisCruz commented on #726
Humm, this could be an dns issue, I can't connect to

https://tmdevr01-beta35.teammentor.net/Aspx_Pages/SSO.aspx?userName=TestSSO&requestToken=C794891856B3BFCFC2D1B6637640E444

![screen shot 2015-05-16 at 23 13 22](https://cloud.githubusercontent.com/assets/656739/7668160/407a5258-fc21-11e4-8d2f-0beb3566e123.png)

![image](https://cloud.githubusercontent.com/assets/656739/7668167/74cab3cc-fc21-11e

[2015-05-16 22:33] roman87 commented on #726
Its not a DNS issue :). This is my local box and I can connect to it locally. The IP is in my hosts file. It works fine for authentication etc.

[2015-05-16 23:10] roman87 commented on #727
This works quite well, even locally. closing.

[2015-05-16 23:10] #727 closed

[2015-05-16 23:17] DinisCruz commented on #726
Yeah, but then how do I replicate it? can you try with the dev server we used?

[2015-05-16 23:20] roman87 commented on #801
Doesn't seem to be working. I used the JSON conversion too to get the Docs in place. However the links are still pointing to /article/GUID

![menu_293](https://cloud.githubusercontent.com/assets/1326120/7668331/932bbd96-fc00-11e4-930f-f7f7d5a0e473.png)

[2015-05-16 23:26] roman87 commented on #782
Fixed.

[2015-05-16 23:26] #782 closed

[2015-05-16 23:27] roman87 commented on #726
Yea let me push the latest code there.

[2015-05-16 23:30] DinisCruz commented on #787
Still hunting for the source of the bug, but here is a test that contains a bad result

[code]

[2015-05-16 23:46] roman87 commented on #726
Ok so

This works:
https://tmdev01-beta35.teammentor.net/Aspx_Pages/SSO.aspx?userName=TestSSO&requestToken=602FA12BBB43FAA905159F0D4AB5CE0A

This does not work:

https://tmdev01-beta.teammentor.net/Aspx_Pages/SSO.aspx?userName=TestSSO&requestToken=602FA12BBB43FAA905159F0D4AB5CE0A

[2015-05-16 23:47] DinisCruz commented on #787
OK, I think the prob is here https://github.com/TeamMentor/TM_4_0_JSON_Data/blob/aead8d9d4fb7e6ab585ee8166035bfe6d826d034/src/graph/TM-Guidance.coffee#L90 where the 'contains-article' graph mapping is only happening to views-inside-folders (not and not to views-inside-folders-inside-folders)

I spotted this because I noticed that the **Standards** child queries (like **CWE** or **PCI-DSS**) did no

[2015-05-16 23:48] roman87 commented on #726
Config is correct
[code]

[2015-05-16 23:50] roman87 commented on #783
This is not actually the issue :). The issue to expose in the TM3.5 editor interface the Tag metadata field. And it can wait until 4.1

[2015-05-16 23:52] roman87 commented on #787
Cool, got catch.

[2015-05-17 00:12] roman87 opened #804 "Should we make URL case insensitive?"
As described https://github.com/TeamMentor/TM_4_0_Design/issues/726#issuecomment-102711425 and below, the URL, and specifically URL variables are case sensitive.  Should we make them case insensitive, so that /article and /Article and /artiCle are the same thing

[2015-05-17 00:16] DinisCruz commented on #726
The issue was an capitalisation issue which has fixed by https://github.com/TeamMentor/TM_4_0_Design/commit/55554c6aff57213f7385f58fd2727e061de69fd0

[2015-05-17 00:18] roman87 commented on #726
All fixed. Good stuff.

[2015-05-17 00:18] #726 closed

[2015-05-17 00:24] DinisCruz commented on #804
I don't think so (at least not for all params)

we might do it for specific cases, but it is good practice to keep these case-sensitive

[2015-05-17 00:26] roman87 opened #805 "Get rid of the first Docs page"
It is confusing and uneditable. Lets make the "Introduction to TM"  page the first page"

![selection_295](https://cloud.githubusercontent.com/assets/1326120/7668487/d620183c-fc09-11e4-9574-fa3be1777d8c.png)

[2015-05-17 00:29] roman87 opened #806 "Alignment issue in docs"
Seems like lists are aligned incorrectly:
![selection_296](https://cloud.githubusercontent.com/assets/1326120/7668496/26c92c42-fc0a-11e4-9272-9647ec57f785.png)

[2015-05-17 00:30] roman87 opened #807 "Links are not highlighted in Docs"
Quick Start Guide is a link.
![selection_297](https://cloud.githubusercontent.com/assets/1326120/7668502/69e64e9c-fc0a-11e4-8c90-b742b5fd1bac.png)

[2015-05-17 00:56] luchia commented on #805
I need someone to help me with the routing on this. @michaelhidalgo @DinisCruz, I have deleted the help-page and moved that pages contents into help-index. The branch I used is Issue_508.

[2015-05-17 00:59] luchia commented on #806
This has been fixed on Issue_806 branch -

![screen shot 2015-05-17 at 10 58 14 am](https://cloud.githubusercontent.com/assets/4547737/7668586/b77921c4-fc83-11e4-835c-17c2f1005acb.png)

I created a PR.

[2015-05-17 01:03] luchia commented on #807
This has been fixed on branch Issue_807 -

![screen shot 2015-05-17 at 11 02 33 am](https://cloud.githubusercontent.com/assets/4547737/7668595/3faab4fe-fc84-11e4-9d61-0ce0cc5ff5eb.png)

I have created a PR.

[2015-05-17 01:04] luchia commented on #600
This isn't possible to do without doing some weird hacks. It's browser standard, it takes you to one screen-height further down than you were before. I don't know if this is something we want to fix or not?

[2015-05-17 01:06] luchia commented on #799
I removed the duplicate file and created a PR.

[2015-05-17 01:20] wwhyte-si commented on #600
If the space bar takes you down one screen height we shouldn’t use widgets
that effectively change the definition of screen height without telling the
browser. If you’re used to using the space bar to page down, as I am, this
behavior is terribly frustrating.

Cheers,

William

*From:* Luchia Bloomfield [mailto:notifications@github.com]
*Sent:* Saturday, May 16, 2015 9:05 PM
*To:* TeamMentor/TM_4_

[2015-05-17 01:20] luchia commented on #763
So we currently have 2 goals -

![screen shot 2015-05-17 at 11 20 29 am](https://cloud.githubusercontent.com/assets/4547737/7668634/c50f3e1a-fc86-11e4-8b0d-08e4ac94746f.png)

If anyone can think of any others, please let me know.

[2015-05-17 01:24] wwhyte-si commented on #600
In other words, I would rather not have the search bar as a floating
element within the results screen, but as an element in a different screen.
Can we do that?

- sent from my phone
On May 16, 2015 9:04 PM, "Luchia Bloomfield" <notifications@github.com>
wrote:

[2015-05-17 12:46] michaelhidalgo commented on #801
Yes I can see the problem :
This article http://localhost:1337/**help/article/738f8545-5818-45fb-9494-92ea795af257** contains a link inside :

![screen shot 2015-05-17 at 06 24 43](https://cloud.githubusercontent.com/assets/1732035/7670320/86a0c424-fc5d-11e4-8ba3-aa92e97c9bea.png)

That link goes to **/article/323dae88-b74b-465c-a949-d48c33f4ac85"**

Which becomes

![screen shot 2015-05-17 at 06 3

[2015-05-17 16:11] roman87 commented on #805
I think @luchia means branch Issue_805 and not Issue_508 :)  there is no branch Issue_508 :)

[2015-05-17 16:45] roman87 commented on #806
The fix looks good. @DinisCruz it seems like its failing QA. I don't see why, can you take a look and merge?

[2015-05-17 16:50] roman87 commented on #807
Fix looks good. @DinisCruz can you take a look at why the QA is failing and merge the PR.
Thanks.

[2015-05-17 17:08] roman87 commented on #600
Yes, we should fix this issue, just not in this version :) This should be addressed in Flare, which is a jazzier version of TM.

[2015-05-17 17:14] romichg commented on #763
- [x] Time on reading an article
- [x] Time on the search results page
- [x] number of search result page hits (i.e number of searches)
- [x] search strings (if we can get them)
- [ ] function of search string + time on search result page
- [ ] function of search string + time on search page + number of open articles + time on each one :)
- [ ] number of failed login attempts (per user would be ni

[2015-05-17 17:15] roman87 commented on #799
Assigning to @DinisCruz to merge PR and QA.

[2015-05-17 17:25] michaelhidalgo commented on #805
Yeah @roman87 is correct. Should we redirect the user to What is new in this release? as a start page in the docs now that the index is not longer there?

![screen shot 2015-05-17 at 11 23 54](https://cloud.githubusercontent.com/assets/1732035/7671312/58177574-fc87-11e4-8024-e8428ede37d4.png)

[2015-05-17 17:39] roman87 commented on #805
No, lets redirect the user to "Introduction to TEAM Mentor" I think this is more valuable for someone to see the first time they click on Docs link.

[2015-05-17 17:41] roman87 commented on #762
The real problem is that we do not treat CSRF, Cross-Site Request Forgery, and Cross Site Request Forgery as the same thing. Which we should.

[2015-05-17 17:43] michaelhidalgo commented on #805
Shouldn't we then switch items in the navigation too? It is just a thought :)

![screen shot 2015-05-17 at 11 41 35](https://cloud.githubusercontent.com/assets/1732035/7671366/ea8ff500-fc89-11e4-804e-72ad29c87326.png)

[2015-05-17 17:46] roman87 commented on #786
This is done.

[2015-05-17 17:46] #786 closed

[2015-05-17 17:47] roman87 commented on #805
Yea, good idea, lets do that.

[2015-05-17 18:15] roman87 commented on #780
This is fixed.

[2015-05-17 18:15] #780 closed

[2015-05-17 20:34] roman87 commented on #772
Fixed.

[2015-05-17 20:34] #772 closed

[2015-05-17 20:55] roman87 commented on #792
This works now.

[2015-05-17 20:55] #792 closed

[2015-05-17 20:56] luchia opened #811 "Go through CSS and tidy up"
https://validator.w3.org/
http://csslint.net/
Tidy up CSS (http://24ways.org/2014/naming-things/)
[CSS](https://en.bem.info/)
http://devilo.us/

* Alignment issue on all pages with #application div caused by margin-top.

[2015-05-17 21:01] roman87 commented on #801
@michaelhidalgo as discussed on slack, lets do it the way you suggest.

[2015-05-17 21:11] michaelhidalgo commented on #801
Alright with Pull Request https://github.com/roman87/Lib_Docs/pull/3

[2015-05-17 21:14] michaelhidalgo commented on #801
I've generated a release version for the Documentation Library https://github.com/TMContent/Lib_Docs-json
You should be able to clone this remo into ./.tmCache.

Make sure you remove the folder ./.tmCache and then create it again to avoid any cache issue.

[2015-05-17 21:14] roman87 commented on #801
Ok merged. Let me try the JSON

[2015-05-17 21:53] luchia commented on #763
Some of these are more things to track rather than goals -

* Time reading an article
* Time on search results page
* Number of search result page hits
* Search strings
* Filter selections
* Time on Landing Page Index

Some of them can't be tracked by Analytics -

* Failed login attempts (needs to be tracked by us)
* The ones relating to comparing a search string to time spent on pages

What I've

[2015-05-18 08:13] DinisCruz commented on #787
OK, I think I finally found the place to fix this, can you take it for a test drive?

Once the GraphDB is updated (that is where the fix is) you don't need to rebuild the db, but you will need to delete the **data_cache** folder (since that contains the cached json for the index/queries).

[2015-05-18 14:08] roman87 opened #812 "Numbered list is still missaligned in Docs."
![selection_298](https://cloud.githubusercontent.com/assets/1326120/7682384/b9d1582a-fd45-11e4-83cb-f888258afc7b.png)

[2015-05-18 14:10] roman87 commented on #806
This is fixed in Dev. Closing.

[2015-05-18 14:10] #806 closed

[2015-05-18 14:10] roman87 commented on #807
Fixed.

[2015-05-18 14:10] #807 closed

[2015-05-18 14:16] roman87 commented on #790
This looks much better. I still think we need to revisit the formula and add coefficients to the weight. For example if only one word matches a title then its a "30" but if 2 words match a title then it should not be "60" but a bit more.

[2015-05-18 14:16] #790 closed

[2015-05-18 14:18] roman87 commented on #794
That is a cool bug :)

[2015-05-18 14:21] roman87 commented on #794
Who wants to grab this one? @tekgirl77 / @michaelhidalgo  This would be an interesting thing to figure out. (I think)

[2015-05-18 14:25] roman87 commented on #801
Ok this is working now. Good stuff.

[2015-05-18 14:25] #801 closed

[2015-05-18 14:36] wwhyte-si commented on #600
I'm fine with fixing it later :-)

On Sun, May 17, 2015 at 1:08 PM, RomichG <notifications@github.com> wrote:

[2015-05-18 15:04] roman87 commented on #787
Still not working right. They are not showing up in search. Searching for "Least Privilege" does not produce the article "Use the Principle of Least Privilege' from CWE in search results
![selection_300](https://cloud.githubusercontent.com/assets/1326120/7683518/ab0b1fda-fd4d-11e4-9b4e-86c3ae1eedcb.png)
![selection_301](https://cloud.githubusercontent.com/assets/1326120/7683520/adecb9ac-fd4d-11e4-

[2015-05-18 15:06] roman87 commented on #664
This is fixed.

[2015-05-18 15:06] #664 closed

[2015-05-18 15:08] roman87 commented on #658
Looks good, will follow up with @yankola  once in beta.

[2015-05-18 15:13] roman87 commented on #763
awesome!

[2015-05-18 15:13] roman87 commented on #811
Good idea.

[2015-05-18 15:32] DinisCruz opened #813 "Search for 'Least Privilege' does not produce the expected results"
See comment https://github.com/TeamMentor/TM_4_0_Design/issues/787#issuecomment-103088574

[2015-05-18 15:32] DinisCruz commented on #787
That is a separate prob, I've just opened https://github.com/TeamMentor/TM_4_0_Design/issues/813 to track it

[2015-05-18 15:44] roman87 commented on #787
Ok makes sense.  Then this one is fixed.

[2015-05-18 15:44] #787 closed

[2015-05-18 16:20] roman87 commented on #372
Closing this as dupe of #664

[2015-05-18 16:21] roman87 commented on #238
This is done

[2015-05-18 16:21] #238 closed

[2015-05-18 16:22] #372 closed

[2015-05-18 18:30] DinisCruz commented on #813
This was a content issue, with the lasted data from Lib_UNO-json the search results

![image](https://cloud.githubusercontent.com/assets/656739/7687311/37066fda-fd94-11e4-821a-49e05eea511f.png)

with the expected principle to be there

![image](https://cloud.githubusercontent.com/assets/656739/7687328/4b4c6314-fd94-11e4-90e7-0c1c8aaf8713.png)

[2015-05-18 21:55] luchia commented on #812
This has been fixed -

![screen shot 2015-05-19 at 7 54 56 am](https://cloud.githubusercontent.com/assets/4547737/7691246/6158ae0c-fdfc-11e4-926a-a4d2ba63f276.png)

And a PR created.

[2015-05-18 22:22] michaelhidalgo commented on #812
This is how it looks like after updating it :

![screen shot 2015-05-18 at 16 22 07](https://cloud.githubusercontent.com/assets/1732035/7691723/14c12b1e-fd7a-11e4-904f-94917fc33830.png)

[2015-05-18 23:34] DinisCruz opened #816 "[Q] Fix QA Help test 'open two pages and check that titles match'"
Which was commented after the recent refactoring of the help setup https://github.com/TeamMentor/TM_4_0_QA/blob/master/tests/misc/pages-help.coffee#L44-L54

@michaelhidalgo one for your list of Quality issues

[2015-05-19 02:01] michaelhidalgo commented on #816
Fixed here https://github.com/TeamMentor/TM_4_0_QA/pull/36
It is passing locally.

[2015-05-19 04:08] roman87 commented on #813
This is fixed.

[2015-05-19 04:08] #813 closed

[2015-05-19 04:10] roman87 commented on #785
Looks like virtual-articles.json stays fine within the repo. This works great.

[2015-05-19 04:10] #785 closed

[2015-05-19 04:15] roman87 commented on #812
Works well, great stuff!

[2015-05-19 04:15] #812 closed

[2015-05-19 04:17] roman87 commented on #805
Add done.. Great!!!

[2015-05-19 04:17] #805 closed

[2015-05-19 05:44] roman87 opened #817 "Schetch out the editor interface"
The editor interface should be easily accessible by someone with right permissions.
I should be able to
- [ ] Edit article text
- [ ] edit article metadata, including tags (queries/keywords) and their relative weight to the article, also including "quality" keyword, which represents how good the article is (the user never sees this one)
- [ ] edit keywords/tags, edit their hierarchy (current left

[2015-05-19 05:49] roman87 commented on #627
@pjenney58 just wanting to close the loop on this. Can you take a look at latest beta and let me know if has been fixed to your satisfaction?

[2015-05-19 05:50] roman87 commented on #626
@pjenney58 closing the loop on this, could you check the latest beta and let us know if this issue had been resolved to your satisfaction?

[2015-05-19 05:51] roman87 commented on #587
@pjenney58 the page that caused the original issue (way back :) ) had been removed. Could you take a look at the docs and let us know if this issue had been resolved to your satisfaction?

[2015-05-19 05:53] roman87 commented on #577
@BendixSpring this has been resolved. Could you take a look at the latest beta and let us know if this has been fixed to your satisfaction?

[2015-05-19 05:54] roman87 commented on #573
@bendixspring the documentation now explains examples (quick start guide) and general instructions (searching and filtering) on how to perform searches. Could you take a look and let us know if this works.

[2015-05-19 05:55] roman87 commented on #563
@tecknicaltom @Zaxim  could you take a look at latest beta and just confirm that his has been resolved the way you'd expect.

[2015-05-19 05:56] roman87 commented on #562
@tecknicaltom could you just confirm that this works now the way you'd expect?

[2015-05-19 05:58] roman87 commented on #733
@afollett this has been fixed. Could you take a look at latest beta and let us know if this works the way you'd expect.

[2015-05-19 05:59] roman87 commented on #658
Hey @yankola could you take a look at the latest beta and let us know if this has all been resolved to your satisfaction?

[2015-05-19 06:01] roman87 opened #818 "Add ability to run TMGraph and TMDesign on different ports (to support milti-tenancy)"

[2015-05-19 08:50] luchia commented on #478
This has been completed, still need to tidy up the smaller elements within this feature but the functionality is there -

![http://i.imgur.com/eEupdyd.gif](http://i.imgur.com/eEupdyd.gif)

[2015-05-19 14:41] BendixSpring commented on #577
It works!
![image](https://cloud.githubusercontent.com/assets/3578332/7705673/a523015c-fe13-11e4-9bf4-06717135dfb3.png)

[2015-05-19 14:49] BendixSpring commented on #573
I think this documentation is a big improvement!

I would suggest that a bit more be added to the searching page: https://beta.teammentor.net/help/00000000-0000-0000-0000-00000018204d
that describes the search in more detail, because it does **not** have the functionality people expect (i.e., google-like searching).

Can't search for exact phrases; does implicit "AND", etc.

[2015-05-19 15:28] pjenney58 commented on #627
Yup.  Looks fine.

Cheers!

Pete

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-05-19 15:29] pjenney58 commented on #626
Yup.  Looks fine.

Cheers!

Pete

---)-------------------------------------
Security Innovation, Inc.
Peter H. Jenney

o:  978.694.1008 x164
m: 603.264.3961
Skype: PeteJenney

[2015-05-19 15:38] pjenney58 commented on #587
It looks pretty good.  Needs a copy editor review though, for example:

Edit Article Metadata

Editing Article Metadata

Guidance Item article Metadata

Each article has the following meta-data:

Title: The title is the title that is displayed in the article list
Technology tag: The technology tag reflects what technology the article applies to
Phase tag: The phase tag signifies which phase of the

[2015-05-19 18:16] michaelhidalgo commented on #781
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/819

[2015-05-19 20:18] tekgirl77 commented on #723
hey @DinisCruz!  Sorry I have not had a chance to look at TM for a couple weeks now.  I'm just now digging out of my post-vacation hole and getting back to coding is like a breath of fresh air!  :)

I'm at a point where I could use your input on this issue.  I have created the mocked up server.  Since we want to keep it independent of other node modules, and therefore not hooking into any existing

[2015-05-19 21:57] roman87 opened #820 "Work with Brandon / Serge to replace 70715a36-8511-4cc5-b35f-e180a7ec2411"
Article 70715a36-8511-4cc5-b35f-e180a7ec2411 is linked from COD 213 course page 32
Since this article is obsolete and there are better articles that relate to the subject of the page, we need to replace the link in the TP course. Some candidates are

https://beta.teammentor.net/article/130b822d9611/Encrypt-Communication-Links
https://beta.teammentor.net/article/0ad910267202/Reduce-Application-Fing

[2015-05-19 21:57] roman87 commented on #759
Last article needs to be replaced with something else. That issue is tracked here:https://github.com/TeamMentor/TM_4_0_Design/issues/820
This issue is done.

[2015-05-19 21:57] #759 closed

[2015-05-19 22:35] DinisCruz commented on #799
This is done

[2015-05-19 22:35] #799 closed

[2015-05-19 22:35] #755 closed

[2015-05-19 22:49] luchia commented on #789
I also need these icons (for Flare) -

* [ ] Fallback filter icon
* [ ] Design icon
* [ ] X (Close)
* [ ] Tick

[2015-05-19 23:13] luchia commented on #817
Research -

![screen shot 2015-05-20 at 9 13 31 am](https://cloud.githubusercontent.com/assets/4547737/7715952/85054e08-fed0-11e4-8903-4e012dfb3e68.png)

[2015-05-20 13:50] michaelhidalgo commented on #783
Yeah that's true :), I confuse the issue.

[2015-05-20 19:07] roman87 commented on #577
Great! Closing!

[2015-05-20 19:07] #577 closed

[2015-05-20 19:15] roman87 commented on #627
Great, closing.

[2015-05-20 19:15] #627 closed

[2015-05-20 19:15] roman87 commented on #626
Great, closing.

[2015-05-20 19:15] #626 closed

[2015-05-20 19:22] roman87 commented on #817
probably too close. we don't want users hitting cancel by mistake. I've done it quite a number of times in the current TM :)

[2015-05-20 19:25] luchia commented on #789
Fallback filter -
![screen shot 2015-05-21 at 5 22 23 am](https://cloud.githubusercontent.com/assets/4547737/7734448/65524a1c-ff79-11e4-92bf-a1de53d98426.png)

Design -
![screen shot 2015-05-21 at 5 22 19 am](https://cloud.githubusercontent.com/assets/4547737/7734446/654f6054-ff79-11e4-8ae6-3cf1ee28ff08.png)

X (Close) -
![screen shot 2015-05-21 at 5 22 26 am](https://cloud.githubusercontent.com/a

[2015-05-20 20:15] luchia commented on #789
PR created.

[2015-05-20 20:40] luchia opened #822 "HTML Emails"
Our emails suck. Let's make them better.

http://templates.mailchimp.com/getting-started/html-email-basics/
http://www.sitepoint.com/how-to-code-html-email-newsletters/
http://24ways.org/2009/rock-solid-html-emails/
http://htmlemaildesigns.com/

[2015-05-20 21:20] luchia commented on #811
Tidy up CSS (http://24ways.org/2014/naming-things/)

[2015-05-20 21:43] michaelhidalgo opened #823 "Remove Express x-powered-by response header"
There are few approaches to disable this response header checkout http://expressjs.com/api.html

![screen shot 2015-05-20 at 15 42 52](https://cloud.githubusercontent.com/assets/1732035/7737245/e627a628-ff06-11e4-843c-92450a01ec89.png)

[2015-05-20 21:45] michaelhidalgo commented on #823
app.disable('x-powered-by');

[2015-05-20 21:56] DinisCruz opened #824 "Remove PoC pages since a couple expose user sessions"
@roman87 I just pushed https://github.com/TeamMentor/TM_4_0_Design/commit/ae36035a561dcb5a0a2cf46daec8c6f6f2727fb9 to master which removes a number of PoC pages which really should NOT be on teammentor.net

Can you double check and update the servers?

This as some minor security implications since user's sessions Ids would be exposed to logged in users

[2015-05-20 22:08] luchia commented on #817
Yeah, I'm just going to put all my research in my issues now so everyone can see how I come to my solutions. Will update as I go.

[2015-05-20 22:10] DinisCruz opened #825 "Redirect /teammentor to /"
This will make the link https://teammentor.net/teamMentor#load:ea854894-8e16-46c8-9c61-737ef46d7e82 work (which is used on TEAM Professor)

[2015-05-20 22:35] DinisCruz commented on #825
@tekgirl77 can you write a Unit Test for this one?

Use cases:

a) when not logged in:

  https://teammentor.net/teamMentor redirects to https://teammentor.net/index.html

b) when logged in:

  https://teammentor.net/teammentor redirects to  https://teammentor.net/user/main.html

[2015-05-20 22:42] DinisCruz opened #826 "Redirect /teammentor to /"
In a month from now, make it the fix added to https://github.com/TeamMentor/TM_4_0_Design/issues/825 to actually redirect to the /

This is something that should be ok in about 1 month once we don't have users with the / to /teammentor value cache

[2015-05-20 23:24] luchia commented on #789
Taking it back, I need a user icon for Flare.

[2015-05-20 23:28] DinisCruz opened #827 "Article 'Do Not Use Dangerous APIs' has no summary on search items"
See
![image](https://cloud.githubusercontent.com/assets/656739/7738772/1cd85cdc-ff50-11e4-85d2-d97bb8bb1439.png)

The article is this one
http://localhost:1337/article/133cd5912c91/Do-Not-Use-Dangerous-APIs

I was going to open this on TMContent/Lib_UNO but I think this might also be parsing issue

[2015-05-20 23:29] DinisCruz commented on #827
@roman87 can you map the priority on this one?

[2015-05-20 23:36] DinisCruz commented on #827
This is caused by the fact that the article doesn't have the content inside a paragraph

![image](https://cloud.githubusercontent.com/assets/656739/7738881/65726bf8-ff51-11e4-82a2-eae56b8c72c4.png)

[2015-05-21 00:18] luchia commented on #789
User icon -

![screen shot 2015-05-21 at 10 18 33 am](https://cloud.githubusercontent.com/assets/4547737/7739366/c590f56c-ffa2-11e4-9742-3f75cc7e676c.png)

PR created (again).

[2015-05-21 01:14] roman87 opened #829 "Feedback link to GH based on SI users logged in"
In talking to @craSH  he had a great idea to replace the "send us an email" feedback link with link to open a Github issue, iff the user is logged in with SI email address. This would work for both content and code issues.

The link could also contain a page reference or some other information that would go into the body of the issue, making it easier to write. And GH allows this by doing somethin

[2015-05-21 07:13] DinisCruz commented on #829
Humm, this means that we will need to detect if the user's email belong to @securityinnovation.com , but at the moment the TM_Graph only captures the username.

This would easily be done when we have the UserData locally (https://github.com/TeamMentor/TM_4_0_Design/issues/180) but in the short term it could be done by capturing the user's data on login (since at that moment in time we have a valid

[2015-05-21 11:56] DinisCruz commented on #818
This is kinda already possible if you set the PORT Environment variable before you launch each of the servers (but yeah we should have a global config file)

https://github.com/TeamMentor/TM_4_0_Design/blob/master/src/services/Express-Service.coffee#L26
https://github.com/TeamMentor/TM_4_0_GraphDB/blob/master/src/TM-Server.coffee#L11

[2015-05-21 14:13] roman87 commented on #827
@michaelhidalgo is looking into this. Lets see if this is only a content issue. Regardless, lets fix it ASAP.

[2015-05-21 14:15] roman87 commented on #822
Gonna move it up a bit in Sprint 4 I think its important. There are a few dependencies here on moving the functionality into Node from current .NET backend.

[2015-05-21 14:22] roman87 commented on #824
Done.

[2015-05-21 14:22] #824 closed

[2015-05-21 14:26] roman87 commented on #829
Well, we could return the email address from 3.5 on successful login.

[2015-05-21 14:32] roman87 commented on #789
I think the inktip is still a bit off.
![inktip](https://cloud.githubusercontent.com/assets/1326120/7750856/9c2044a6-ffa4-11e4-8ff8-1badf1cf3bb5.jpeg)

[2015-05-21 14:40] michaelhidalgo commented on #534
First attempt https://github.com/TeamMentor/TM_4_0_Design/pull/830/files

[2015-05-21 14:49] michaelhidalgo commented on #827
Yeah, I'm looking into this issue right now!.

2015-05-21 8:13 GMT-06:00 RomichG <notifications@github.com>:

--
Michael Hidalgo
http://michaelhidalgocr.blogspot.com

*The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer*

[2015-05-21 21:25] DinisCruz commented on #534
That first attempt is really good but it is creating one 'active user per session'

We need to map these mappings to the users, which this https://github.com/hybridgroup/gabba/issues/23#issuecomment-16968679 might be part of the solution

[2015-05-21 21:55] DinisCruz commented on #534
https://github.com/thomasbachem/php-ga/blob/3a93d0c7e8aace4a13d13d1b16bdf49d18ab3f2f/src/GoogleAnalytics/Internals/Request/Request.php#L151-L153

[2015-05-22 01:25] roman87 commented on #587
Hahaha.. didn't you hear about this great new WYSIWING editor?
This has actually been there for ages. Thanks for noticing. We'll miss your comments!

[2015-05-22 01:25] #587 closed

[2015-05-22 01:57] roman87 commented on #534
As discussed on the call, lets take a look at other analytic services. Whichever one we choose we should carefully correlate our data acquisition methods with what we are trying to collect, as described here: https://github.com/TeamMentor/TM_4_0_Design/issues/763#issuecomment-102824140

[2015-05-22 01:58] roman87 commented on #763
This is closely related to #534
Looking at the data it doesn't correlate well with what we know. For example there is no way we had over 100 new users.
As discussed in https://github.com/TeamMentor/TM_4_0_Design/issues/534#issuecomment-104474108 we should closely correlate our acquisition methods to what we want and able to collect.

[2015-05-22 02:31] roman87 commented on #704
Just checked this again and it is working correctly. The searches match the file system counts.  The check needed to make sure that the GUID is also part of the view

This is how to check for ASP.NET 4.0 for example:
[code]

[2015-05-22 02:31] #704 closed

[2015-05-22 13:56] DinisCruz commented on #818
for example if you wanted to run the TM_4_0_Graph in a different port

[code]

which should show this

[code]

with TM Design now showing at http://localhost:1336

![image](https://cloud.githubusercontent.com/assets/656739/7771906/ac071414-0092-11e5-88c1-5398dd6767a9.png)

[2015-05-22 14:09] DinisCruz commented on #825
Just saw this on michael's temp branch

![image](https://cloud.githubusercontent.com/assets/656739/7772174/748bb1be-0094-11e5-8b53-519856815c81.png)

[2015-05-22 14:11] DinisCruz opened #831 "Don't redirect to /error when the page being loaded is /error"
Just noticed this at https://github.com/TeamMentor/TM_4_0_Design/issues/825#issuecomment-104669138 which is actually a different issue

![image](https://cloud.githubusercontent.com/assets/656739/7772228/cf6f190e-0094-11e5-989a-ce9e7a6ce017.png)

[2015-05-22 14:13] DinisCruz commented on #831
In this case it was an internal error inside the app (which is not a very common case)

Note the missing 'nodealytics' dependency

![image](https://cloud.githubusercontent.com/assets/656739/7772253/00ead7ac-0095-11e5-9237-13bd60ed0e16.png)

[2015-05-22 14:14] DinisCruz commented on #831
After fixing the internal prob (in this case updating the dependency) it is working ok again

![image](https://cloud.githubusercontent.com/assets/656739/7772293/3d166c50-0095-11e5-9124-53887e90e74e.png)

[2015-05-22 16:29] roman87 commented on #820
We will use  c875eb4b-cb91-4c02-b51f-9f5b6dbd6db1  Know Your Binding Options
for the link.

[2015-05-22 22:29] roman87 commented on #803
As outlined in https://github.com/TMContent/Lib_UNO/issues/38#issuecomment-104724128
Users expect searches to be case insensitive. Lets bump this up. This should be an easy fix.

[2015-05-23 12:25] tm-build commented on #723
sorry I missed this message

the test is looking good

catch me on Slack and lets talk over it

[2015-05-25 14:01] michaelhidalgo commented on #827
With Pull Request https://github.com/TeamMentor/TM_4_0_JSON_Data/pull/1

[2015-05-25 16:41] michaelhidalgo commented on #823
With Pull Request https://github.com/TeamMentor/TM_4_0_Design/pull/832

[2015-05-25 20:40] roman87 commented on #831
I can't reproduce this. I assume this never made it to the Dev branch. But we should have a QA test for it. @tekgirl77 want to give it a shot?

[2015-05-25 22:24] DinisCruz opened #833 "Create PoC of using ElasticSearch and Kibana to visualize user actions"
After spending some time reading a couple books about ElasticSearch ([this one](http://www.amazon.com/ElasticSearch-Server-Second-Edition-Rafal/dp/1783980524) for example) I think ElasticSearch (which is an opensource project) can be a long term solution for our complex text search.

I think we should start with something simple, so I'm going to create a PoC that uses it to store and visualise the

[2015-05-25 22:28] DinisCruz commented on #823
merged

[2015-05-25 22:28] DinisCruz commented on #827
merged

[2015-05-25 23:35] DinisCruz opened #834 "Remediate performance prob caused by large amounts of empty sessions in _sessionData"
After removing _sessionData it is now stable

![image](https://cloud.githubusercontent.com/assets/656739/7803064/586c601c-033e-11e5-884d-dc526363d6f4.png)

But before it was peeking at 800 Mbs and with the _sessionData having 30Mb in size

My instinct is that this could be cause https://github.com/TeamMentor/TM_4_0_Design/blob/master/src/services/Session-Service.coffee#L30 (which could the one cau

[2015-05-25 23:38] DinisCruz opened #835 "Minor alignment issue on TnC bullet points"
![image](https://cloud.githubusercontent.com/assets/656739/7803118/6e9773e4-033f-11e5-98f9-80b9c9c48ea6.png)

[2015-05-26 02:32] roman87 commented on #833
Yea this is definitely not a P0 and not a 3x effort. :)

[2015-05-26 02:33] roman87 commented on #823
@michaelhidalgo can I take this for QA?

[2015-05-26 02:34] roman87 commented on #827
Taking for QA

[2015-05-26 03:32] michaelhidalgo commented on #823
Hi Roman, yes it is

El lunes, 25 de mayo de 2015, RomichG <notifications@github.com> escribió:

--
Sent from Gmail Mobile

[2015-05-26 03:34] roman87 commented on #834
I tried to run the offending _sessiondata file on local Windows VM (Windows 2012 64bit) and could not reproduce the problem.
I am running commit 82094c3d58374af48f1eaedd5dc1f0724eb2b362
Author: Dinis Cruz <dinis.cruz@owasp.org>
which is the latest one from master

This is what is happening from the system perspective when request occurs to localhost:1337/teammentor

https://drive.google.com/open?i

[2015-05-26 03:47] michaelhidalgo commented on #834
Did you noticed performance issues in terms of cpu and memory ?

I will update the issue with screenshots from my Windows vm

El lunes, 25 de mayo de 2015, RomichG <notifications@github.com> escribió:

--
Sent from Gmail Mobile

[2015-05-26 13:48] DinisCruz commented on #834
I'm replicating the issue (not as as but bit noticeable)

[2015-05-26 13:56] DinisCruz commented on #834
The prob was caused by the 'Amazon keep-alive' ping creation of a new session (which is stored, meaning that we had 190k session IDs)

Another reason why we need to move the session management into the GraphDB

[2015-05-26 14:11] DinisCruz commented on #834
Just pushed a fix for this, @michaelhidalgo can you also try it (it is on the **Issue_834_Clean_Sessions** branch )

[2015-05-26 15:29] roman87 commented on #834
This shows that we need to re-think and re-evaluate our theories behind what we store. For example,
- [ ] There is really no need to store the session of any non logged in user (which is what the keep-alives are)
- [ ] We also should clean up (and invalidate) the session of any logged in user after a configured amount of time
- [ ] Separate user data (i.e. articles visited, searches made etc) from

[2015-05-26 17:56] roman87 opened #836 "Invisible image SSO does not work on 4.0"
TM 3.5 has an option to have an SSO link which returns an invisible image.  The image SSO link looks like this:

https://www36.teammentor.net/Aspx_Pages/SSO.aspx?userName=SSO_User&requestToken=<TOKEN>&format=img
This is currently not working  in 4.0 and needs to be used for TP integration.

@michaelhidalgo is working on the fix. Once done, @DinisCruz we need this done as a patch to current 4.0

[2015-05-26 19:27] roman87 commented on #834
I send about 9000 requests in about 45 minutes and the _session data file did not grow. The system was performing ok during the time request were being sent. Average CPU usage was about 10-15% (2.5Ghz)

Let make this a patch to TM 4.0 and release it along with #836

[2015-05-27 03:43] michaelhidalgo commented on #836
In order to fix this issue, we need to reissue the invisible gif89a from NodeJS, the original response from the SSO is not being recognized as a valid gif89a.

I tested several ways with Buffer (converting the underlaying data to binary and to base64 enconding) but it turns out that some data is lost/damaged from the original gif.

Here is an example of how the image is interpreted by the user age

[2015-05-27 14:02] michaelhidalgo opened #839 "Add a new route to /Aspx_Pages/CxIntegrationSSO.asmx"
This fix is needed in order to do not break the Checkmarx Integration. Basically this is the service being used by CX in order to get TM content.

[2015-05-27 14:23] DinisCruz opened #840 "[Q] add unit tests for 'Fixing Issue Fixing SSO GIF89a request'"
Issue: https://github.com/TeamMentor/TM_4_0_Design/issues/836
PR: https://github.com/TeamMentor/TM_4_0_Design/pull/838

We need both TM_Design and TM_QA tests

[2015-05-27 14:24] DinisCruz commented on #836
Code merged

added #840 to track the need for Unit Test

[2015-05-27 17:08] tekgirl77 opened #841 "Ability to bookmark favorite articles"
It would be nice for users to be able to mark favorite articles or articles of interest, for future reference or to return to and read later, etc.

[2015-05-27 17:54] roman87 commented on #836
This is fixed

[2015-05-27 17:54] #836 closed

[2015-05-27 21:31] tekgirl77 commented on #831
I was able to recreate this on my Dev branch.

@DinisCruz I did update my QA modules and am having issues with the Lib_Uno not loading now, after deleting my .tmCache dir and doing an npm update and npm test.

2015-05-27T21:22:15.126Z - info: [ensure_TM_Uno_Is_Loaded] Using path_To_Lib_Uno_Json: .tmCache/Lib_UNO-json/Graph_Data
2015-05-27T21:22:15.126Z - info: [ensure_TM_Uno_Is_Loaded] ERROR: Lib_

[2015-05-27 21:54] DinisCruz commented on #834
this is now on release 4_0_1

[2015-05-27 22:21] #739 closed

[2015-05-27 22:21] #719 closed

[2015-05-27 22:23] DinisCruz opened #842 "CR.Beta.11 - Release notes"
Link from this issue the issues added which represent features worth mentioning (this info will be added to the release notes and the issue closed when the code has been pushed to beta.teammentor.net)

Release notes:
....

Features/Issues:

In QA (this is the first place to add the issue link)

* [ ] Automatically log in the user upon sign-up (Jade) #781

[2015-05-27 22:32] DinisCruz commented on #781
Added to https://github.com/TeamMentor/TM_4_0_Design/issues/842

[2015-05-27 22:47] DinisCruz opened #843 "Create first pass of the TM Editor (based on Flare)"
This is medium term effort which should leave on its separate branch (for a while)

This issue tracks the creation of this separate task and up to the point of where we can see it working (as a PoC)

[2015-05-27 22:49] DinisCruz commented on #841
@luchia we are already planning for this on Flare right?

[2015-05-27 23:59] DinisCruz opened #844 "Add piwik support for capturing TM_Design user logs"
Instead of GA (Google Analytics) use https://piwik.pro/

Start with hosted service at https://teammentor.piwik.pro

[2015-05-28 01:30] roman87 commented on #823
This is done

[2015-05-28 01:30] #823 closed

[2015-05-28 01:31] roman87 commented on #834
This is fixed in 4.0.1

[2015-05-28 01:31] #834 closed

[2015-05-28 13:55] DinisCruz opened #847 "[Q] npm license value to be a 'valid SPDX license expression'"
Just got this error when doing a clean clone of TM_4_0_Design

[code]

[2015-05-28 17:19] DinisCruz opened #848 "Find better solution to deliver favicon (no need to send all to the client)"
On this one we load the image **apple-touch-icon-114x114.png** 3 times

![image](https://cloud.githubusercontent.com/assets/656739/7866159/7551d68e-0565-11e5-97b8-07d713ce777a.png)

Here we load everything and the kitchen-sink

![image](https://cloud.githubusercontent.com/assets/656739/7866189/b4e88126-0565-11e5-91f7-03657d2e8763.png)

@luchia what do you think?

[2015-05-28 17:26] michaelhidalgo commented on #844
this is done.

[2015-06-01 18:29] luchia commented on #848
[Stack Overflow](http://stackoverflow.com/questions/23849377/html-5-favicon-support/23851464#23851464)
[Jonathon Neal](http://www.jonathantneal.com/blog/understand-the-favicon/)

[2015-06-01 18:33] luchia commented on #848
[Tool to convert many PNG's to one ICO file](http://icoconvert.com/Multi_Image_to_one_icon/)

Dayum technology.

[2015-06-01 20:12] luchia commented on #835
This has been fixed and a PR submitted -

![screen shot 2015-06-02 at 6 08 40 am](https://cloud.githubusercontent.com/assets/4547737/7922246/5632162e-08ee-11e5-9cea-96b58279a873.png)

[2015-06-01 20:14] michaelhidalgo commented on #534
This was done with Piwik API.

[2015-06-01 20:21] luchia commented on #789
Maybe the pen tip isn't working at all. Other ideas -

![image](https://cloud.githubusercontent.com/assets/4547737/7922418/7b42c64c-08ef-11e5-827e-42fd9d396b5f.png)
![image](https://cloud.githubusercontent.com/assets/4547737/7922423/83b769ea-08ef-11e5-96df-596a8895c176.png)
![image](https://cloud.githubusercontent.com/assets/4547737/7922426/89637ff0-08ef-11e5-9434-3be8caeb30e7.png)
![image](https:

[2015-06-01 20:25] luchia commented on #763
As per #534, we've decided collectively to use another service for analytics over GA. Reasons were discussed in last weeks meeting (I wasn't in attendance) but relate specifically to getting the data from client-side instances of TM. GA isn't a nice solution for collecting this data.

Close?

[2015-06-01 20:55] luchia opened #851 "Landing Page copy"
At some point we will need to revisit this again.

We're very corperate on our landing page (which is fine) but a lot of our supporting assets aren't corporate. For example, our icons on the landing page are fun and fresh, as are our filter icons. We also have the new video made by Campbell which is really, really cool but it doesn't align with the content we have right now.

Campbells video also

[2015-06-01 21:20] luchia commented on #848
This has been fixed using the above references. I have submitted a PR.

[2015-06-01 21:37] luchia commented on #448
@roman87, has this document been completed yet?

[2015-06-01 23:56] michaelhidalgo commented on #783
With Pull Request https://github.com/TeamMentor/Dev/pull/179

[2015-06-02 11:50] michaelhidalgo commented on #763
@luchia  we are using Piwik Analytics for tracking data. On top of Piwik, we can set up goals too.

Here is a video about goals http://piwik.org/docs/video-tracking-goals/

[2015-06-02 15:20] roman87 opened #855 "Reconnize keyword substings within words"
We need to be able to recognize "spring" from "springmvc" and "mvc" from "springmvc"
For this we should again use the list of keywords derived from the index, and add them as tags to the article at load time. During load time we should check for any keywords being sub strings and add them as tags.

[2015-06-02 21:38] luchia commented on #763
@michaelhidalgo How do I set up the goals? Or are we not at that stage yet?

[2015-06-03 00:33] luchia opened #856 "Flare 4.1"
We're getting Flare out as quickly as possible. Much of Flare is like the Jades design which I think needs to be revisited. I have some ideas about parts to roll out -

* [ ] Add clear all filters button
* [ ] Mobile navigation (there is a scroll currently and there shouldn't be)
* [ ] Toggle List/Grid View
* [ ] Animate SVGs
* [ ] Clever error pages
* [ ] Form loaders
* [ ] Unsubmitted form
* [ ]

[2015-06-04 03:31] luchia commented on #581
I think this is important for Jade too so I've come with a solution that will work for both.

![screen shot 2015-06-04 at 1 27 17 pm](https://cloud.githubusercontent.com/assets/4547737/7976366/71e6ec48-0abd-11e5-84b1-9b09ea37f054.png)

![screen shot 2015-06-04 at 1 27 09 pm](https://cloud.githubusercontent.com/assets/4547737/7976367/71e90bae-0abd-11e5-95f0-4c0b8a958aff.png)

I have two really stro

[2015-06-04 03:45] luchia commented on #789
@roman87, can you please let me know what you think about this one -

![screen shot 2015-06-04 at 1 44 34 pm](https://cloud.githubusercontent.com/assets/4547737/7976550/efba9212-0abf-11e5-9ac9-596939c05ff8.png)
![screen shot 2015-06-04 at 1 44 43 pm](https://cloud.githubusercontent.com/assets/4547737/7976551/efbb5896-0abf-11e5-904d-e565c2dcc480.png)

[2015-06-04 03:52] luchia commented on #600
[JS library that will handle this](https://craig.is/killing/mice).

[2015-06-04 17:12] acampofranco commented on #581
@luchia I like the first one better, for the fact that it is probably better to have all three options right up front and center.  My only hesitation/question is, people are going to want to click on one of the three, right?  What happens when you would click on Filter?  Filter is done after search, right? So it's not necessary to have that up-front, imo.  Further, I think the Index page should be

[2015-06-04 18:25] luchia commented on #581
Hey Alli, thanks for your feedback and so quickly - I know you're busy.

* I think you're right about the order of the files and I will change them now. FIlters are secondary to Search and Navigate.
* Good points about searching from Index and one the team has discussed at length. I think there was a Flare solution for this, or is going to be.
* This tutorial will only show on the first time someo

[2015-06-04 18:37] DinisCruz commented on #848
what about the older browsers?

With Jade we need to support everything and the kitchen sink

[2015-06-04 18:47] DinisCruz opened #858 "[Q] find root cause and provide fix for 'Transformers.md is deprecated' alert"
With the latest version of Jade we are now getting the error

[code]

There doesn't seem to be any issue with it (at the moment), but we need to upgrade so that we don't get caught in the future

[2015-06-04 22:43] luchia commented on #848
Legacy browsers only use favicon files. They won't touch PNGs.

[2015-06-05 15:35] DinisCruz commented on #835
Code merged

[2015-06-07 21:27] DinisCruz commented on #783
merged

[2015-06-08 12:47] DinisCruz opened #859 "Update Config files to take into account new TM_4 repo structure"
As seen at https://github.com/TMClients/SiteData_TM_4 and below:

![image](https://cloud.githubusercontent.com/assets/656739/8034951/a5537310-0de4-11e5-88a0-36b62155ffcb.png)

(note that I had two extra 'SiteData' repos on my local version)

This is needed for #818, #746, #721, #618

[2015-06-08 18:01] DinisCruz commented on #818
This is now done using the values mapped via https://github.com/TeamMentor/TM_4_0_Design/issues/859

[2015-06-08 18:45] luchia commented on #763
I've managed to get this somewhat working. Piwik is a PITA for some things. This is our custom dashboard -

![screen shot 2015-06-09 at 4 42 42 am](https://cloud.githubusercontent.com/assets/4547737/8042349/11e95314-0e62-11e5-9f43-976f3fea1d69.png)
![screen shot 2015-06-09 at 4 42 49 am](https://cloud.githubusercontent.com/assets/4547737/8042348/11e69fac-0e62-11e5-8cab-fc07ee9b95fa.png)

Email rep

[2015-06-08 19:29] roman87 commented on #859
can we move config outside of the git repo.

[2015-06-08 20:19] luchia commented on #581
I've finished building this for Jade only. I cannot finish Flare's NUO page until it's wired up and I can do the gifs for it.

![screen shot 2015-06-09 at 6 17 57 am](https://cloud.githubusercontent.com/assets/4547737/8044348/5e51ed1c-0e6f-11e5-8fec-a5bcef21c0d3.png)

@DinisCruz, I created a PR that branches off Dev with the NUO page for Jade.

[2015-06-08 22:57] DinisCruz commented on #859
they are already on separate repos

[2015-06-09 00:11] luchia commented on #653
I think this is done?

[2015-06-09 01:15] luchia commented on #811
Started doing this for Flare while I wait for everyone else to catch up. Started with ~2k lines of code and we have 1600 atm. We'll also be able to reduce bloat when we move from CSS to SCSS.

[2015-06-09 21:36] DinisCruz opened #862 "Refactor Jade, Flare and Static files"
Into these repos

* https://github.com/TeamMentor/TM_4_Jade
* https://github.com/TeamMentor/TM_4_Flare
* https://github.com/TeamMentor/TM_4_Static

@luchia as discussed on Slack please remove the files from TM_4_0_Design in the Issue_862_Design_Refactor branch

[2015-06-09 22:09] luchia opened #863 "Curated Content Interface"

[2015-06-10 16:48] michaelhidalgo commented on #858
Looking at this issue now :
I found this log entry from the documentation

Now supports jstransformers, which allows improved handling of embedded languages such as Coffee-Script, and deprecated Transformers support in filters - to be removed in 2.0.0
http://jade-lang.com/history/

[2015-06-10 20:56] luchia commented on #862
This has been completed and all repos are up to date. Assigning to @DinisCruz to finish the refactoring.

[2015-06-11 05:27] luchia commented on #789
I also needed a curated content icon for Flare, so I made this -

![screen shot 2015-06-11 at 3 25 25 pm](https://cloud.githubusercontent.com/assets/4547737/8100373/5ad3a2d0-104e-11e5-99d8-6321e4507d59.png)
![screen shot 2015-06-11 at 3 25 32 pm](https://cloud.githubusercontent.com/assets/4547737/8100372/5ad339d0-104e-11e5-9233-659d8e8dc3c1.png)

[2015-06-11 06:11] luchia commented on #863
I have a basic wireframe for this (excuse mess in top navigation bar, working on it) -

![screen shot 2015-06-11 at 4 10 27 pm](https://cloud.githubusercontent.com/assets/4547737/8100871/7ce94ee6-1054-11e5-947f-1f0980feb7d2.png)
![screen shot 2015-06-11 at 4 11 00 pm](https://cloud.githubusercontent.com/assets/4547737/8100876/7d0f55e6-1054-11e5-98c1-d927aaa5383d.png)

But now I need to work out ho

[2015-06-11 06:41] luchia commented on #789
I've just added all the files to the seperate repos as well as to the TM_4_0_Design. I had to build it on the old one because I can't see what i'm working on in the new ones. Assigning to Roman for QA.

[2015-06-11 19:47] michaelhidalgo commented on #858
Fixed.

[2015-06-11 21:15] DinisCruz commented on #858
this is done, closing

[2015-06-11 21:15] #858 closed

[2015-06-12 14:00] DinisCruz commented on #859
TM Design is now fully working , GraphDB is almost there

[2015-06-12 14:05] DinisCruz commented on #721
This is now done with a number of options to customise it.

The more advanced example can be seen at the master branch of https://github.com/TMClients/SiteData_TM

There is a simple example on the tp-example branch https://github.com/TMClients/SiteData_TM/tree/tp-example which shows how to add a logo to the top of the page.

![image](https://cloud.githubusercontent.com/assets/656739/8131718/19db83

[2015-06-12 14:06] DinisCruz commented on #721
@michaelhidalgo and @luchia can you give this a test drive

I expect a couple more jade files will need to be changed (@luchia can you look into it)

[2015-06-12 18:57] michaelhidalgo commented on #721
I've been working on the customization for Sony, we will need some design changes, but it is easy to add their content, this is the first version (POC) for the Portal

![screen shot 2015-06-12 at 12 49 08](https://cloud.githubusercontent.com/assets/1732035/8137723/6ee01916-1102-11e5-9e38-0faf69a9618e.png)

[2015-06-15 07:21] DinisCruz commented on #859
This is now done and looks like fully working

![image](https://cloud.githubusercontent.com/assets/656739/8154987/7705e4f4-1337-11e5-87de-921a7684506c.png)

[2015-06-15 07:25] DinisCruz commented on #818
this is now completed with this value configured from the SiteData values

[2015-06-15 11:44] DinisCruz commented on #859
all QA tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/8159207/4af71642-135c-11e5-9c49-ae02f0d81dad.png)

[2015-06-16 00:04] luchia commented on #721
@michaelhidalgo, I pushed to a new branch (Issue_721) with the files you requested.

You have the following files to use now -
![screen shot 2015-06-16 at 9 51 01 am](https://cloud.githubusercontent.com/assets/4547737/8173212/76da1028-140d-11e5-8fb3-fb09b461c219.png)

Where the logged out one is for the portal page and the logged in one is for the application view. I have also created a mixin file

[2015-06-16 02:31] luchia commented on #817
Started, made really good progress today. Need to stop looking at it and come back to it again, perhaps later today or tomorrow, to solidify ideas.

[2015-06-16 08:43] roman87 commented on #817
1. Not sure what you mean by the first question. Metadata is the keywords that describe the article. Some of these keywords are placed on the lefthand side, hierarchical filter, some are placed on the righhandside filter list some are simply used in search.  Both of these (lefthand and righhand) should be editable.
2. We could have multiple ratings, as long as they are not overwhelming.
3. They ar

[2015-06-16 17:43] roman87 commented on #581
I think this looks good, but it should stay in Flare for now. We have no user context (yet) in Jade so we will not know when to expose the tutorial. I also am not convinced that we should have this in Jade at all. Most users will see Flare and Jade is a fallback to an unsupported browser.

[2015-06-17 13:47] michaelhidalgo opened #864 "Populate the referrer HTTP header when tracking activities."
One of the reasons why we are not seeing the traffic from TEAM Professor (i.e users that hit TP and then went to TEAM  Mentor) is because our tracking method is not setting up the referrer HTTP header, according to the documentation :

urlref — The full HTTP Referrer URL. This value is used to determine how someone got to your website (ie, through a website, search engine or campaign). (Taken from

[2015-06-17 22:31] DinisCruz commented on #746
ready for test

[2015-06-17 22:40] DinisCruz commented on #517
I think it is better if this is done as part of the Flare implementation

[2015-06-17 22:42] roman87 commented on #517
Agreed, sound good.

[2015-06-17 22:49] roman87 commented on #517
Changed the title a bit to reflect it.

[2015-06-18 00:06] #856 closed

[2015-06-18 00:07] luchia commented on #856
Closing due to lack of relevance. These are all neat ideas but not necessarily needed.

[2015-06-18 13:52] michaelhidalgo commented on #864
With Pull request https://github.com/TeamMentor/TM_Website/pull/2

[2015-06-18 13:53] michaelhidalgo commented on #864
@DinisCruz  can you please review this small fix?

[2015-06-19 02:55] luchia commented on #817
### Hierarchical structure editing

* As an editor, your are able to add, edit, move (re-arrange) and delete directories.
* I originally thought the user should toggle the edit mode, much like TM 3.5. But after researching and spending time working on the user workflows, I thought it was actually better to make the editing functionalities available immediately. It saves our users one extra click.

[2015-06-22 08:49] DinisCruz opened #866 "Add support for TM_Website to expose graphdb calls via /api/* proxy"
This will allow Flare Ajax calls to be able to access directly the data provided by graphdb.

Security notes:
- this api should only be available to logged in users
- dont expose (allow invocation) to apis that change data (at the the /users ones)

[2015-06-22 08:50] DinisCruz opened #867 "Json formating to swagger was lost when adding default json data to api calls"
Due to the changes made to make GraphDB consumable by Flare (see #866) the Swagger REST UI will now show the json data in less user friendly way (i.e. not formated)

![image](https://cloud.githubusercontent.com/assets/656739/8278483/9aae4946-18c3-11e5-89b9-ce29d247a2d5.png)

[2015-06-22 08:53] DinisCruz opened #868 "Fix css mappings and invoke routes on Swagger UI (when consumed from TM_Website)"
With #866 it is possible to expose the swagger api to users (and ui devs) via the url /api

There are a couple css and invoke routes to fix:

![image](https://cloud.githubusercontent.com/assets/656739/8278547/4ae9774a-18c4-11e5-8a57-9d2945982b20.png)

[2015-06-22 08:54] DinisCruz commented on #864
this has been merged

@michaelhidalgo small thing, remember to cross-link the issue from the PR, so that we get a quick view of it from here:

![image](https://cloud.githubusercontent.com/assets/656739/8278586/aa32a00a-18c4-11e5-905e-98151b379dbe.png)

[2015-06-22 08:55] DinisCruz commented on #862
yap add done and working on https://github.com/TeamMentor/TM

[2015-06-22 08:55] #862 closed

[2015-06-22 09:09] DinisCruz commented on #866
This is now done and can be easily tested by calling:
- http://localhost:12345/api/graph-db/predicates (before login should show 'login required' message)
- http://localhost:12345/api/user/aaaa (should always show 'login required' message)

here is the test that confirms the security notes:

[code]

[2015-06-23 04:48] luchia opened #869 "Logged out view"
- Docs
- Terms and Conditions
- [x] Docs do not work on the logged out view.
- [x] See for yourself" and "Start your free trial today" links do not work
- [x] Links are not underlined " TEAM Professor eLearning courses, extending developers’ knowledge in combination with training."
- [x] Extra scroll bar on the right
- [x] Clicking on terms and conditions brings up Jade nav menu.
- [x] Get passwor

[2015-06-23 04:49] luchia opened #870 "Getting Started"
- In-browser validation
- Alerts for login pages

[2015-06-23 04:49] luchia opened #871 "Build"
- [x] Disable CC and User from left-hand navs
- [x] Disable hover and make side-navs clickable
- [x] Pagination
- [x] Alternate Flexbox solution (scrollbars)

Fix:
- [x] Navigate mixin

![Broken](https://slack-files.com/files-tmb/T040W512C-F06NES3FE-b20fa67ee7/pasted_image_at_2015_06_23_10_03_pm_1024.png)
- [x] Filters div
- [x] Remove filters div from Users page (layouts)

[2015-06-23 04:50] luchia opened #872 "Filters in the nav bar"

[2015-06-23 06:10] luchia commented on #869
PR submitted. Assigning to @DinisCruz to write the logic.

Dinis, the landing_page layout and the application layout are the only two layouts to be used. We need to write the same logic that Jade has, where if the user is logged in it shows one layout and if the user isn't, it shows the other. I have revised the templates so they will all work correctly.

[2015-06-23 08:20] luchia commented on #870
Completed and PR submitted. Closing myself.

[2015-06-23 08:20] #870 closed, assigned to luchia

[2015-06-23 20:50] DinisCruz opened #873 "Flare needs favicon"
A number of Flare pages are missing the default icon

http://localhost:12345/flare/features
![image](https://cloud.githubusercontent.com/assets/656739/8316530/9d287a7a-19ef-11e5-8160-348ead49e8ee.png)

http://localhost:12345/flare/navigate
![image](https://cloud.githubusercontent.com/assets/656739/8316545/b0bd3576-19ef-11e5-816f-12fee668403c.png)

Note: the TM window on the other tab is from the J

[2015-06-23 21:22] tekgirl77 commented on #208
@DinisCruz reassigning to you since you wanted to do additional testing with it once I submitted the [PR](https://github.com/TeamMentor/TM_4_0_Design/pull/860).

[2015-06-23 22:12] luchia commented on #873
It has one, but for some reason it's not showing. I'll find out why.

[2015-06-23 22:48] luchia opened #874 "Add stylus to TM"

[2015-06-24 05:13] luchia commented on #873
This has been fixed by renaming the file as well as researching on SO -

![screen shot 2015-06-24 at 3 11 32 pm](https://cloud.githubusercontent.com/assets/4547737/8323113/5ded2b14-1a83-11e5-9adb-e05f0f802eee.png)

Note that it works on the same pages in other browsers -

![screen shot 2015-06-24 at 3 12 49 pm](https://cloud.githubusercontent.com/assets/4547737/8323130/8cad042e-1a83-11e5-867b-67f6

[2015-06-24 07:07] luchia commented on #872
Made good progress on this today. May still be some bugs but a first verison is in the PR I submitted. Will spend more time on this a little alter.

[2015-06-24 18:01] DinisCruz opened #875 "Remove Flare styles applied via html element ids (vs via classes)"
Hi @luchia as mentioned on https://github.com/TeamMentor/TM_Static/commit/43745756fc01e601c14fa405644ba1aa8fe4fd4e we need to avoid applying styles using ids

We tend to add a lot of ids to make unit testing easier and it will create issues if there are a number of css mappings that are applied when a particular id is added

There seems to be a number of them still left:
![image](https://cloud.git

[2015-06-25 21:57] luchia opened #876 "Safari is a mess on Flare"
![screen shot 2015-06-26 at 7 57 18 am](https://cloud.githubusercontent.com/assets/4547737/8366530/021e77d2-1bd9-11e5-8944-9b6b5b0156dd.png)
![screen shot 2015-06-26 at 7 57 25 am](https://cloud.githubusercontent.com/assets/4547737/8366531/0247a670-1bd9-11e5-842d-a2e996f76a53.png)

[2015-06-25 22:00] luchia commented on #872
![screen shot 2015-06-26 at 7 59 29 am](https://cloud.githubusercontent.com/assets/4547737/8366581/6f88cac0-1bd9-11e5-8a28-4f674723535a.png)
![screen shot 2015-06-26 at 7 59 32 am](https://cloud.githubusercontent.com/assets/4547737/8366582/6f8cb1d0-1bd9-11e5-992c-5b0968de815e.png)

I'm submitting my PR with these changes. Assigning to @roman87 for QA and feedback.

[2015-06-26 03:27] luchia commented on #140
This isn't needed anymore. Closing.

[2015-06-26 03:27] #140 closed

[2015-06-26 03:27] luchia commented on #137
We don't need this anymore. Closing.

[2015-06-26 03:27] #137 closed

[2015-06-26 03:33] luchia commented on #872
![screen shot 2015-06-26 at 1 29 42 pm](https://cloud.githubusercontent.com/assets/4547737/8370175/7a278f10-1c07-11e5-8e07-7f2cec968486.png)
![screen shot 2015-06-26 at 1 29 45 pm](https://cloud.githubusercontent.com/assets/4547737/8370173/79ab7aec-1c07-11e5-922a-ba970103045d.png)
![screen shot 2015-06-26 at 1 29 49 pm](https://cloud.githubusercontent.com/assets/4547737/8370174/7a25d300-1c07-11e5-

[2015-06-26 04:04] luchia commented on #871
Minor issues that I was able to check over myself. Closing.

[2015-06-26 04:46] luchia commented on #875
This has been fixed as much as possible for the time being. We have 3 selectors that only relate to toggling the filters div on and off screen. My code has been submitted in my PR request.

[2015-06-26 04:49] luchia commented on #871
Re-opening to add a small mobile feature -

![screen shot 2015-06-26 at 2 48 24 pm](https://cloud.githubusercontent.com/assets/4547737/8370906/79a7beb0-1c12-11e5-9e3a-f303bcc7eb4a.png)

The navigate menu is really long on mobile. I'd like to make a solution for that to make it smaller.

[2015-06-26 21:41] michaelhidalgo opened #877 "TEAM Mentor 4.0 breaking into Mobile too early"
I did some manual testing on SauceLabs and it seems like TM is breaking into mobile view too early here is a screenshot :

![screen shot 2015-06-26 at 15 36 26](https://cloud.githubusercontent.com/assets/1732035/8387888/9dd99f4a-1c19-11e5-83d2-5c0e33083bee.png)

@luchia , please let me know if you need to access SauceLabs, I will be doing some more manual testing on this environments and try to au

[2015-06-26 21:42] romichg opened #878 "Unable to start Dev branch in Windows"
Looks like some path related issue

40/TM/code/TM_GraphDB ((c119139...))
$ npm start

c:\TeamMentor\TMDEVR01-Site_beta.teammentor.net\TM40\TM\code\TM_GraphDB\node_mod
ules.bin\nodemon:2
basedir=`dirname "$0"`
        ^
SyntaxError: Unexpected token ILLEGAL
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)

[2015-06-28 00:17] romichg opened #879 "Create scripts for windows service controls, installation and update"

[2015-06-28 04:22] romichg opened #880 "Remove Lib_UNO from submodules"

[2015-06-28 04:46] romichg commented on #878
This is fixed

[2015-06-28 04:46] #878 closed, assigned to DinisCruz

[2015-06-28 05:02] romichg opened #881 "Reload breaks on latest Lib_Uno changes"
[code]

[2015-06-28 05:04] romichg opened #882 "Lib_UNO-Json should not be a submodule and should not be a repository"
1. It breaks the flow of
   git checkout Dev
   git submodule init
   git submodule update
   Make changes and edits to Lib_UNO
   ./bin/reload-data.sh
   git submodule update
2. It is fully populated from Lib_UNO at the moment and is a transform,  therefore should not be its own repo. Should be populated from Lib_UNO at install time
3. For future, as we move towards storing things in json, we cre

[2015-06-28 05:07] romichg commented on #881
Btw, nuking the subfolders inside Lib_UNO-json and running reload works fine and reloads the whole thing

[2015-06-28 17:01] romichg opened #883 "Move Piwik and Cache configuration into SiteData config file"
Right now they are still in src/misc

[2015-06-28 17:16] romichg opened #884 "Reload shell script (bash) does not work in windows git shell"
The reason is coffee is not in global path
Fixing by adding full path to coffee module location

[2015-06-28 17:34] DinisCruz commented on #228
For reference I just had another look at ReactJS vs AngularJS and here are the reasons why I think we should keep on the current path and use Angular on TM 4.0
- Angular 1.3 is an MVC framework with really good support for: Controllers, Services and Views (React on its own admission is mainly focused on the 'View' component)
- Angular 2.0 seems to contain most of the big advantages currently mappe

[2015-06-28 17:41] DinisCruz commented on #884
yeah, @michaelhidalgo hit on that one too. I though @michaelhidalgo had added the full path to the windows bat file

[2015-06-28 17:42] DinisCruz commented on #883
This is something that @michaelhidalgo should do

[2015-06-28 17:46] romichg commented on #884
just pushed a fix. https://github.com/TeamMentor/TM/pull/6

[2015-06-28 17:48] romichg commented on #880
This actually won't work. Lib_UNO should not be part of submodules for the same reason as reason number 1 here https://github.com/TeamMentor/TM_4_0_Design/issues/882
I should be able to pull in the latest changes to all of the app without loosing my content changes

[2015-06-28 17:48] DinisCruz commented on #882
That is true, since (apart from that virtual-articles.json file) it is all a transform.

Only issue is that we need to do the full conversion the first time we do a git clone of TM, so the Lib_Uno-json acts like a cache.

Btw, note that on the steps you have above you still need to add and commit the changes to Lib_Uno, and since you are going to need to update the Lib_Uno submodule on TM, updatin

[2015-06-28 17:50] DinisCruz commented on #880
actually you will not lose any content changes, since if:
a) they are committed, you can easily go back to those commits (using git checkout)
b) they are not committed, the submodule update will not work

[2015-06-28 17:54] DinisCruz commented on #881
This bug is happening here: https://github.com/TeamMentor/TM_4_0_JSON_Data/blob/master/src/services/Content-Service.coffee#L48-L50

[code]

which should only happen if the xml_File file is empty, which thinking about it should only happen if the file has been deleted

[2015-06-28 17:57] romichg commented on #880
a) I will need to go and do a git checkout every time I do a submodule update, that is an extra step

I want to be able to track a different branch and maybe even a different remote.  (tm-sme/Dev for uno.teammentor.net  tm-sme/Beta for tmdev01 and if I am a customer, perhaps some other repo. So I have to change the remote, do a checkout every time I want to pull in latest app changes. Seems
cumber

[2015-06-28 18:02] romichg commented on #881
What happens if there are new files? There were a few files deleted though. How do we handle it so we don't crash?

[2015-06-28 18:02] romichg commented on #882
That is true, the problem occurs more when there are multiple content branches/forks like we have today.
Ok I'll make the changes but they will depend on https://github.com/TeamMentor/TM_4_0_Design/issues/880

[2015-06-28 18:05] romichg commented on #228
I think we closed that topic :). It is too late in the game now to make any changes anyways, so I am glad we are happy with the path we chose :)

[2015-06-28 18:10] DinisCruz commented on #881
New files are handled ok since the file will exist and it will be processed since the checksum will not match

I'm writing a fix for the case you hit above

[2015-06-28 18:11] DinisCruz commented on #881
Here is the test that replicates the prob

[code]

![image](https://cloud.githubusercontent.com/assets/656739/8397591/6c7bc156-1dc9-11e5-8578-f42f1b9658e8.png)

[2015-06-28 18:19] DinisCruz commented on #881
The fix is don by adding this inside the `convert_Xml_To_Json` method

[code]

Here is the regression test

[code]

[2015-06-28 18:54] DinisCruz commented on #881
@roman87 can you double check that new files are picked up without needing to delete the Mappings folder (inside Lib_UNO-json), there might be an issue with that workflow

[2015-06-28 19:10] DinisCruz opened #885 "Create PoC of Dynamic search"
Code to be added to https://github.com/TeamMentor/TM_Angular since it will keep the angular 'html only' content and its routes separate from the rest of the server-side node and jade code

This is a tracking issue so that a separate branch can be created for this new Angular Code (to be merged into Dev once it is stable)

The order of the search sources to match should be:
- query titles (include

[2015-06-28 20:02] romichg commented on #885
Ok why do we need yet another repo? This getting a bit ridiculous. We have a repo for Flare, where all of stuff like this should go. I am not stingy on repos I am stingy on complications they add as far as keeping track of all of them and time spend re-factoring and re-factoring again.

[2015-06-28 20:19] romichg commented on #872
@luchia looking at the screenshots, this is not exactly what we had in mind.
![selection_318](https://cloud.githubusercontent.com/assets/1326120/8398127/6f3e1eba-1db1-11e5-8478-11127649e37b.png)
![selection_317](https://cloud.githubusercontent.com/assets/1326120/8398128/71d90928-1db1-11e5-9af9-b38b429c6e72.png)

[2015-06-28 20:28] romichg commented on #288
This is done no?

[2015-06-28 20:31] romichg commented on #112
Now this is done.

[2015-06-28 20:31] #112 closed

[2015-06-28 20:32] romichg commented on #160
This is no longer needed.

[2015-06-28 20:32] #160 closed

[2015-06-28 20:38] romichg commented on #623
closing as this has not happened lately

[2015-06-28 20:38] #623 closed

[2015-06-28 20:41] romichg commented on #492
Can we close this?

[2015-06-28 21:45] romichg commented on #883
oops.. @michaelhidalgo do you have time to get this done in the next couple of days?

[2015-06-28 22:54] roman87 commented on #882
PR for removal here https://github.com/TeamMentor/TM/pull/9

[2015-06-28 23:46] romichg commented on #882
PR for removal https://github.com/TeamMentor/TM/pull/10

[2015-06-29 07:35] DinisCruz commented on #880
actually that extra step (to have the commit pinned) is actually very important, since it allows us to be able to load up an version of Lib_UNO that is compatible with the current code base.

If you do what you did (remove both Lib_UNO and Lib_UNO-json) then we lose that abiity

[2015-06-29 07:50] DinisCruz commented on #885
The key reason is separation of concerns, ownership and dependency management. The Flare repo only contains the view pages (ironically written in Jade just to make it less confusion) and is maintained by @luchia

This repo will contain all the AngularJS specific code which is made of the Html and JS files (static from the client point of view) , which is Javascript code very different from the Jav

[2015-06-29 07:52] DinisCruz commented on #885
and in terms of 'another repo' ironically with the current submodule model we already have, it doesn't really make a difference, since it will all be handled by the submodule updates

[2015-06-29 07:56] DinisCruz commented on #618
This is kinda done, because we have these pages wired (i.e. the content is reaching them and the changes needed are view specific)

What I'm working on now is to add the AngularJS part (as in https://github.com/TeamMentor/TM_4_0_Design/issues/885) which will introduce the Javascript components and allow the development of the other issues currently marked as P0

[2015-06-29 07:58] DinisCruz commented on #492
yes we can close it, @tekgirl77 can you submit a PR with the test (rebased) to the latest https://github.com/TeamMentor/TM_QA

Thanks

[2015-06-29 17:05] romichg commented on #885
We have one (Flare) application. It doesn't work without the Angular JS dependencies, it doesn't work without Flare view pages. There is no need to separate these then. As far as code ownership, the one who own a complete working app - You - owns all the code :). If @luchia approves an update that breaks anything it is still your responsibility to make sure the submodule index points to a commit t

[2015-06-29 17:12] romichg commented on #880
Um.. At any point in time, ever, any (current or older) version of Lib_UNO must load with TM. Sorry but the Library is not coupled with the code. This is content, content had different dynamics than the code. These can't be coupled for reasons I already outlined above.

[2015-06-29 17:25] michaelhidalgo opened #886 "TM Signup support more form fields"
TM Signup needs to support more form fields (including FirstName, LastName, Job/Title, Company, Country, State), which are the fields we were requesting in TM 3.5.

The idea is to add support for those fields, so if they are provided, then they'll send to the backend.

[2015-06-29 17:29] michaelhidalgo commented on #886
For reference, this is the Web Service Method we are using CreateUser_Response

[code]

[2015-06-29 23:27] #884 closed, assigned to romichg

[2015-06-29 23:27] #879 closed, assigned to romichg

[2015-06-29 23:56] romichg opened #887 "Move Dev to point to tm-sme/Lib-UNO/Beta and tm-sme/Lib-UNO-json/Beta"

[2015-06-29 23:57] romichg commented on #887
Related to:
https://github.com/TeamMentor/TM_4_0_Design/issues/882
https://github.com/TeamMentor/TM_4_0_Design/issues/880

[2015-06-30 04:08] luchia commented on #872
Okay, so it's more a JS dropdown component that you want.

[2015-06-30 04:54] luchia commented on #876
This has been fixed on all pages.

![screen shot 2015-06-30 at 7 49 38 am](https://cloud.githubusercontent.com/assets/4547737/8424060/a99b4276-1efc-11e5-9dc0-8047840d95e0.png)

And it's in my newest PR.

[2015-06-30 04:57] romichg opened #888 "New articles are not picked up by the reload"
When new articles are created:

[code]

They are not picked up by the reload.

[2015-06-30 04:59] romichg opened #889 "View under root of the library (view not in any folder) does not get picked up by transform to 4.0"
Current tm-sme/Lib_UNO/Beta has that issue.

[2015-06-30 05:01] romichg opened #890 "Need a new icon for "Requirement" article type"
![selection_319](https://cloud.githubusercontent.com/assets/1326120/8424140/95da3280-1ec3-11e5-9583-070a9cc02cdc.png)

[2015-06-30 05:04] romichg opened #891 "New Technology does not pick up the generic icon, but pick up tech independent icon"
![selection_320](https://cloud.githubusercontent.com/assets/1326120/8424150/e593fe32-1ec3-11e5-8d18-11c67d30db93.png)

[2015-06-30 05:12] romichg opened #892 "Technology "Independant' missspelling is still there on hover"
![desktop due_333](https://cloud.githubusercontent.com/assets/1326120/8424216/143cc434-1ec5-11e5-8224-7520df6672e6.png)
![desktop due_332](https://cloud.githubusercontent.com/assets/1326120/8424218/15ac3002-1ec5-11e5-86d7-b34a7154fb96.png)

[2015-06-30 05:29] romichg commented on #881
This is now fixed. However: https://github.com/TeamMentor/TM_4_0_Design/issues/888

[2015-06-30 05:29] #881 closed, assigned to romichg

[2015-06-30 05:33] romichg opened #893 "The reload button on TM3.6 doesn't work"
The functionality doesn't seem to work. The bat file does not run on its own (seems like issue related to #884
The paths in the bat file are also in unix format ".../../" as opposed to windows "...."

[2015-06-30 11:58] michaelhidalgo commented on #893
Hi @roman87.
There is a configuration setting in place that tells where is the bat file located. Make sure to use double backslash when setting up the config value (\) just like this one :

"TMReloadDataScriptPath": "C:\Users\Mike\Desktop\TM\bin\reload_data.bat",

![screen shot 2015-06-30 at 05 54 50](https://cloud.githubusercontent.com/assets/1732035/8430223/c48e70fe-1eec-11e5-9231-5b4068c2af2d.p

[2015-06-30 15:25] #871 closed, assigned to luchia

[2015-06-30 15:43] luchia commented on #877
I've looked into this today and found out (today) that this is because IE8 and lower does not support media queries, which makes our Jade version completely broken. This is a really big deal.  It means that we cannot have a responsive legacy browser version.

I think our best option is to have an IE8 version and an IE9 version, which then leaves Flare to cover all modern browsers.

[2015-06-30 16:39] romichg commented on #877
Not at all. Jade is supposed to work on all browsers without different version. If IE8 does not support media queries, then we can't use them. Let talk about this on the call.

[2015-06-30 16:53] luchia commented on #877
I meant just a stylesheet for IE8 only. This won't take long to fix.

[2015-06-30 17:44] luchia commented on #892
I fixed this already but I don't know where the changes went. I have just pushed a fix and submitted a [PR](https://github.com/TeamMentor/TM_Jade/pull/3).

[2015-06-30 17:44] luchia commented on #891
I fixed this already but I don't know where the changes went. I have just pushed a fix and submitted a [PR](https://github.com/TeamMentor/TM_Jade/pull/3).

[2015-06-30 21:19] DinisCruz commented on #889
This is a specific problem with the 'Gateways' view recently added

[2015-07-02 12:50] luchia commented on #890
I just submitted PR's for these on TM_Jade and TM_Static.

[2015-07-02 16:22] michaelhidalgo commented on #893
With Pull Request https://github.com/TeamMentor/TM/pull/13/files

[2015-07-02 16:22] #893 closed, assigned to DinisCruz

[2015-07-02 16:24] michaelhidalgo opened #894 "Backport Password reset ondemand"
Previous TM version allowed us to enforce password reset. By selecting on the password reset feature on TBOT, next time the user tried to login, he/she will be challenged to enter the new password.

We need to back port that feature in TM 4.

[2015-07-06 08:45] luchia commented on #872
I've just finished deving and cross-browser testing this solution. @DinisCruz said a select was a better option (over a hack button/unordered list), but the only downfall with that is that it cannot display the icons for technologies.

![screen shot 2015-07-06 at 11 36 29 am](https://cloud.githubusercontent.com/assets/4547737/8518538/bcc4ea24-23d3-11e5-83b7-f0f0102979bb.png)
![screen shot 2015-07-

[2015-07-06 08:56] luchia commented on #863
The original storyboards had the map looking like this -

![screen shot 2015-07-06 at 11 49 48 am](https://cloud.githubusercontent.com/assets/4547737/8518685/30dcd466-23d5-11e5-96a1-6793a88cc6b8.png)

Which is cool, but not necessarily useable or even possible to dev for our current deadline. This would definitely be cool to have but I think we need to stick with really simple to begin with so we

[2015-07-06 17:27] DinisCruz commented on #712
First working PoC

![image](https://cloud.githubusercontent.com/assets/656739/8528695/90caf4fc-240c-11e5-8688-d878139b6a19.png)

Since the render is quite fast I ended up doing it as a slider

[2015-07-06 23:05] SergeTruth commented on #545
I think the main value of this PoC is that it shows a way to consume content from within the IDE. I think we should look more into other options for doing so, like showing a web browser tab with TM content in it.

[2015-07-07 13:47] luchia commented on #877
@michaelhidalgo I pushed two Jade and Static a branch called Issue_877. Can you please take a look at them and test them in relation to this issue?

Thank you.

[2015-07-07 20:44] DinisCruz commented on #378
ok first proper implementation of this is now live

![image](https://cloud.githubusercontent.com/assets/656739/8556780/234fec30-24f1-11e5-9215-2e6f73e069ff.png)

![image](https://cloud.githubusercontent.com/assets/656739/8556813/5bd04d34-24f1-11e5-827f-890c9ab17771.png)

[2015-07-08 19:53] DinisCruz commented on #869
Docs are now done

![image](https://cloud.githubusercontent.com/assets/656739/8579600/762fec04-25ad-11e5-8aa6-f8c9b2a41185.png)

![image](https://cloud.githubusercontent.com/assets/656739/8579613/8431be72-25ad-11e5-9110-94a989de75bd.png)

menu depends on logged status

![image](https://cloud.githubusercontent.com/assets/656739/8580594/6035bbe4-25b3-11e5-8f97-7bf9ec9dfe9c.png)

[2015-07-08 20:10] luchia commented on #869
Taking back to make some small style changes.

[2015-07-08 20:44] luchia opened #895 "'Back to top' on long pages"
The user has to scroll to get back to the top currently. It'd make things a lot smoother if they could click a link to escort them.

[2015-07-10 07:38] luchia commented on #869
Hey @DinisCruz, I added the fixes for this.

![screen shot 2015-07-10 at 10 35 34 am](https://cloud.githubusercontent.com/assets/4547737/8614189/b96d1256-26ef-11e5-934b-ad404617651c.png)

The other thing I did was add the page.jade to the layouts directory in Flare (the same as we have in Jade). I did this because we should serve either page_logged_in or page_logged_out. Having done this though, i

[2015-07-11 09:31] luchia commented on #863
Here's a screenshot of the article view (minus the navigation due to some bugs relating to #869.) This design also ties in with what I have planned for Editor Interface, which means there won't be much to change when it's time to dev that.

The metadata for the article is to the left so the natural eye scanning flow (left-to-right) isn't disrupted by secondary information). The metadata will also

[2015-07-13 10:46] luchia commented on #863
And here's the most recent version, with the navigation fixed:

![screen shot 2015-07-13 at 1 45 24 pm](https://cloud.githubusercontent.com/assets/4547737/8647993/925e9716-2965-11e5-9e63-107fbaa69831.png)

[2015-07-14 16:31] michaelhidalgo opened #896 "Allow anonymous users to hit 5 TEAMMentor articles"
In order to reach potential TEAM Mentor users/buyers, we should allow anonymous user to access 5 articles before being challenged to create an account.

Every time an article is fetched, the number of 'free" articles should be decreased.

[2015-07-14 17:19] DinisCruz commented on #889
done

![image](https://cloud.githubusercontent.com/assets/656739/8679809/dbb4152c-2a54-11e5-8f8c-fdecd41aed2c.png)

![image](https://cloud.githubusercontent.com/assets/656739/8679803/cef8eb50-2a54-11e5-9d60-4911ea99ba6e.png)

[2015-07-14 17:40] DinisCruz commented on #882
this is done right?

[2015-07-14 20:06] luchia commented on #874
Jade is done and I'm creating a PR that includes both Jade and Flare. Flare can't be tested until I go through all the new Angular stuff and make sure it works.

[2015-07-14 20:08] luchia commented on #811
This has been done for Jade. I will complete this once I have checked Flare relating to #874.

[2015-07-15 18:26] DinisCruz commented on #803
done

[2015-07-15 18:29] DinisCruz commented on #888
As discussed on the call let's go with the option that requires a delete of the data with the virtual-articles.json added to Lib_UNO. See https://github.com/tm-sme/Lib_UNO/commit/7d00b19dc4cc327fc3822a99793137102751187e

note that the bin/reload_data.bat will need to be updated to the changes made to bin/reload_data.sh See https://github.com/TeamMentor/TM/commit/728059ff358bd50347b3f04c82c02241999