[2015-07-15 18:47] michaelhidalgo commented on #888
Cool I'm doing the same to the bin/reload_data.bat file.

2015-07-15 12:29 GMT-06:00 Dinis Cruz notifications@github.com:

##

Michael Hidalgo
http://michaelhidalgocr.blogspot.com

_The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer_

[2015-07-16 16:30] luchia commented on #874
This has been completed for both Jade and Flare. Flare isn't 100% complete for this specific issue but only because the application itself is being worked on. Closing.

[2015-07-16 16:30] #874 closed, assigned to luchia

[2015-07-17 19:47] luchia commented on #811
This has been finished for Flare.

[2015-07-17 19:47] #811 closed

[2015-07-21 04:26] romichg opened #897 "Update Dev to latest Lib_UNO Beta"

[2015-07-21 14:56] romichg commented on #897
Fixed

[2015-07-21 14:56] #897 closed, assigned to romichg

[2015-07-21 16:21] michaelhidalgo opened #898 "TM 4.0 SSO seems to be broken"
The SSO is broken due some refactoring changes in the configuration file. We need to get the server value from the new config location.

[2015-07-21 17:17] luchia commented on #869
Dinis and I have completed this with Angular and it is ready for QA.

[2015-07-23 20:47] luchia opened #899 "FF bug on Terms and Conditions page"
![screen shot 2015-07-23 at 11 44 29 pm](https://cloud.githubusercontent.com/assets/4547737/8861781/f5a8305c-3194-11e5-9d2b-b1266066e89f.png)

Really strange bug that I found in Firefox. If I use the TOC markdown file, FF doesn't want to wrap the text. But, if I convert the markdown file to HTML and insert the content into this page, it works as expected (like it does in Chrome below) -

![screen

[2015-07-24 22:31] michaelhidalgo opened #900 "Add validations for the Signup form fields"
1. State place holder must be "State" instead of "state".
2. Validations should follow the UI workflow.

[2015-07-25 00:25] romichg commented on #859
This is done.

[2015-07-25 00:25] #859 closed

[2015-07-25 00:27] romichg commented on #783
Done

[2015-07-25 00:27] #783 closed

[2015-07-25 02:26] michaelhidalgo commented on #900
With Pull Request [https://github.com/TeamMentor/TM_Website/pull/6]
With Pull Request [https://github.com/TeamMentor/TM_Jade/pulls]

[2015-07-25 07:23] romichg commented on #835
fixed

[2015-07-25 07:23] #835 closed

[2015-07-25 07:24] #848 closed

[2015-07-25 07:28] #827 closed

[2015-07-25 07:29] romichg commented on #820
We will use  c875eb4b-cb91-4c02-b51f-9f5b6dbd6db1  Know Your Binding Options
for the link.

[2015-07-25 07:29] #820 closed

[2015-07-25 07:30] #746 closed

[2015-07-25 07:31] #892 closed, assigned to romichg

[2015-07-25 07:33] #891 closed, assigned to romichg

[2015-07-25 07:33] #889 closed, assigned to romichg

[2015-07-25 07:34] #888 closed, assigned to romichg

[2015-07-25 07:35] #887 closed, assigned to romichg

[2015-07-25 07:35] #882 closed, assigned to romichg

[2015-07-25 07:36] #880 closed, assigned to DinisCruz

[2015-07-25 07:36] romichg commented on #880
Done on master

[2015-07-25 07:42] #492 closed

[2015-07-25 07:42] #288 closed

[2015-07-25 07:49] #617 closed

[2015-07-25 07:52] #227 closed

[2015-07-25 07:52] #191 closed

[2015-07-25 07:53] romichg commented on #90
no longer necessary.

[2015-07-25 07:53] #90 closed

[2015-07-25 07:56] #143 closed

[2015-07-25 07:56] #139 closed

[2015-07-25 07:57] #142 closed

[2015-07-25 07:57] #138 closed

[2015-07-25 07:57] #136 closed

[2015-07-25 08:00] #751 closed

[2015-07-25 08:03] romichg opened #901 "Top articles need to be changed"
Initial top articles should be:

article/e2f97ef0-6ced-4f3d-bdce-7a72e359eb7b Programming Best Practices
article/b9c18634-7d10-4edf-b7ef-20d72f7c1650 Platform-specific Guidance
article/e2f97ef0-6ced-4f3d-bdce-7a72e359eb7b Vulnerabilities

[2015-07-25 08:03] #709 closed

[2015-07-25 08:04] #594 closed

[2015-07-25 08:05] romichg commented on #588
fixed

[2015-07-25 08:05] #588 closed

[2015-07-25 08:07] romichg commented on #618
This is done when I can show them to users.

[2015-07-25 08:07] #789 closed

[2015-07-25 08:22] romichg opened #902 "Dev branch of tm-sme/Lib_UNO crashes GraphDB"
to duplicate:
cd data/Lib_UNO
git checkout Dev
git pull

cd ../../code/TM_GraphDB
node app.js

Hit the index

[code]

[2015-07-25 08:24] romichg opened #903 "Markdown articles do not show correctly in snippet"

[2015-07-25 08:28] romichg opened #904 "Error on the error page"
![selection_349](https://cloud.githubusercontent.com/assets/1326120/8888682/9480c1b2-3285-11e5-93d7-556144ab4161.png)

[2015-07-25 08:30] romichg commented on #781
done.

[2015-07-25 08:30] #781 closed

[2015-07-25 08:31] romichg commented on #803
fixed

[2015-07-25 08:31] #803 closed

[2015-07-25 08:31] romichg commented on #818
done

[2015-07-25 08:31] #818 closed

[2015-07-25 08:32] romichg commented on #866
done

[2015-07-25 08:32] #866 closed, assigned to romichg

[2015-07-25 12:45] DinisCruz commented on #903
where is this happening?

[2015-07-25 19:11] michaelhidalgo commented on #900
Merged.

[2015-07-26 17:58] luchia commented on #904
Fixed and submitted a PR. Edit: PR merged.

![screen shot 2015-07-26 at 8 58 24 pm](https://cloud.githubusercontent.com/assets/4547737/8895177/14b52022-33d9-11e5-8433-9e7fb4061a3f.png)

[2015-07-26 18:14] luchia opened #905 "Missing stylesheet from Jade"
I found a really strange bug on jade where the stylus generated stylesheet (jade-stylesheet.css) is no longer attached to the head in the browser. However, when checking the head.jade file in the TM_Jade repo, the correct stylesheet is present.

Stuck on this one, I need help please @DinisCruz.

[2015-07-26 18:29] luchia opened #906 "Cross browser testing (Flare)"
Needs to be completed using Saucelabs

BROKEN
- [x] Mac iPad 8.4
  ![screen shot 2015-07-26 at 9 33 58 pm](https://cloud.githubusercontent.com/assets/4547737/8895306/0c971dd2-33de-11e5-80a1-dea41fa6d7b0.png)
- [x] Win XP FF9
  ![screen shot 2015-07-26 at 9 30 49 pm](https://cloud.githubusercontent.com/assets/4547737/8895297/9ac1aa06-33dd-11e5-8fbb-212ee319b2f0.png)

GOOD
- [x] Win 8 IE11
- [x] Win

[2015-07-27 04:22] romichg commented on #903
Once you fix #902 it will become apparent :)

[2015-07-27 04:43] romichg opened #907 "Fix issues with rebuilding from the 3.5"
- rebuild.bat needs to be fixed by fixing the syntax
- add to rebuild.bat restat of the TM Services
- Add ability to set permissions for the 35 IIS AppPool user to restart TM40
- Update documentation
- Fix issue with reload_data.sh
- Update pointer to latest tm-sme/Lib_UNO and tm-sme/Lib_UNO-json

[2015-07-27 05:49] romichg commented on #903
Happens on the Dev branch of tm-sme/Lib_UNO

[2015-07-27 07:45] DinisCruz opened #908 "[Q] Refactor tests and add support use Wallaby.js"
I have started using Wallaby.js for testing and it really helps with development (just like ncrunch did for .NET)

While using it it already identified a number of issues with our test code and dependencies

[2015-07-27 08:11] DinisCruz commented on #908
This is tracked by the Issue_908_Refactor_for_wallaby branch which is used on multiple repos and is tracked by https://github.com/TeamMentor/TM/tree/Issue_908_Refactor_for_wallaby

[2015-07-27 08:12] luchia commented on #905
This seems to be working now. The only big changes I made this morning was turning Jade compilation cache off in tm.config.json. Not urgent anymore, but you might want to see if you can recreate it.

[2015-07-27 08:12] DinisCruz commented on #905
this could be caused by jade-compilation cache

[2015-07-27 08:12] luchia commented on #905
Yup, my thoughts exactly.

[2015-07-27 08:15] DinisCruz commented on #902
I can't duplicate this on the latest commits you pushed into Lib_UNO and Lib_UNO-json

The root cause of the issue is the fact that there was a query without a title

I started looking at it, and the fix needs to happen a bit upstream from the location where the code is (although I will still improve it so that if the code reaches that location it doesn't fail like it does now)

[2015-07-27 08:31] luchia commented on #600
I ended up not having to use a JS library because I spent the time planning Flare properly (no CSS hacks). Here's what it looks like when you use the space bar to move down the page -

### Article

![article](https://cloud.githubusercontent.com/assets/4547737/8901611/f6c02f9c-3452-11e5-91fc-82401ca14a80.gif)

### Main

![main](https://cloud.githubusercontent.com/assets/4547737/8901557/8e593cdc-345

[2015-07-27 09:00] DinisCruz opened #909 "Create 4.0.3 Release"
tracking issue for the 4.0.3 Release

[2015-07-27 09:03] DinisCruz commented on #909
TM Website tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/8902179/c82a2b4e-3446-11e5-8e4a-568ecf8294fc.png)

GraphDB tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/8902706/bd0b7642-344a-11e5-9a06-8323f1b37898.png)

TM_QA tests are passing

![image](https://cloud.githubusercontent.com/assets/656739/8902488/ecf4538a-3448-11e5-8c53-0b09f49

[2015-07-27 14:38] romichg commented on #908
This is a piece of work that is nether needed nor timely! I don't expect to see any cycles spent on it at the moment.

[2015-07-27 14:57] romichg commented on #904
Fixed in latest Dev

[2015-07-27 14:57] #904 closed, assigned to romichg

[2015-07-27 14:58] romichg commented on #902
This will not happen on latest Lib_UNO.  As I noted, this will happen when you checkout the Dev branch of Lib_UNO

[2015-07-27 16:00] romichg commented on #901
This is the fist article  bcbbe5c7-95c3-468d-9371-6eb42f9b93e6 Programming Best Practices
Cut and paste error in the issue

[2015-07-27 16:01] DinisCruz commented on #901
Done

Note that the id for the Programming Best Practices is 6eb42f9b93e6 (and not  7a72e359eb7b)

[2015-07-27 16:08] romichg commented on #907
Done. Closing.

[2015-07-27 16:08] #907 closed, assigned to romichg

[2015-07-27 16:09] romichg commented on #903
This also happens when you search for "Welcome To" with the 2nd article down.

[2015-07-27 16:52] romichg commented on #901
Done

[2015-07-27 16:52] #901 closed, assigned to romichg

[2015-07-27 23:45] romichg opened #910 "Weird sporadic caching issue in FF"
Start with a fresh (cache cleared) browser instance.
hit tmdev01-beta.teammentor.net
click on Docs
Click on Login, and login
Click on Docs again

As you can see, the "logged out" menu is displayed. Hitting the back button puts you back in the main page, and you are still logged in.
![selection_366](https://cloud.githubusercontent.com/assets/1326120/8920500/e58af62c-3497-11e5-9a82-8a1d6a6295e7.png)

[2015-07-28 08:40] DinisCruz commented on #908
This is actually quite needed since I was struggling to get unit tests to work on the Angular side of things and was already having a code slowdown due to it (which you can see by the lack of tests on the Angular code)

[2015-07-28 10:43] luchia commented on #910
Hmm, so the HTML templates that handle this seem to be okay and the problem isn't with what's being rendered. My guess would be that it's:
- The logic creating the functionality; or
- A caching issue.

When you refresh the docs page (the second time), you get the correct navbar. It's also not just FF that this does it in as I can get this in Chrome as well. These two factors make me think that it'

[2015-07-28 17:44] romichg commented on #910
Hmm.. for some reason the response comes back as 304 when in fact it shouldn't. When you say caching issue, which cache you are talking about?

I was able to hit the docs page a couple of times and get the wrong navbar btw. Interesting that you can get in in Chrome. It seems sporadic, which is what bothers me.

[2015-07-28 18:02] luchia commented on #910
I mean that the app caches the navbar, instead of reloading it. So the use case is:
- The app loads the docs page (when you're logged out) and it stores the navbar and page
- Then you login and load the same page again
- The app has already cached the page and reloads what it already has stored
- But, for some reason, the if/else statement that handles what a user sees when they are logged in vs l

[2015-07-28 20:15] BendixSpring opened #911 "Capture User Feedback Tied Contextually to the Topic in a neat way."
I found this cool way of capturing user feedback tied contextually to the topic:
![image](https://cloud.githubusercontent.com/assets/3578332/8942452/6d3ec9a8-3543-11e5-9ff3-56b275a189ca.png)

This has the potential to allow us to get feedback right where the user is looking at something:  maybe we need to clarify a topic or fix something that's broken.

Here's the website:  https://medium.com/abou

[2015-07-28 21:12] luchia commented on #910
Assigning to @michaelhidalgo as per our meeting tonight.

[2015-07-28 21:53] luchia opened #912 "Loading preview"
Loading preview for flare

[2015-07-29 13:03] luchia commented on #911
Medium has some cool ideas and they have a cohesive user experience. Definitely a great example to lean on when looking for where to go next with TM.

[2015-08-04 20:06] tekgirl77 commented on #896
HI @luchia we need your help!  :)
- While testing the "5 free articles" for anonymous visitors, we noticed the view rendering funny on the Android - the body was no longer flush with the navbar when the visitor is in "logged out" status.
  - <img width="953" alt="screen shot 2015-08-04 at 1 36 16 pm" src="https://cloud.githubusercontent.com/assets/6649463/9071210/5213c192-3ab1-11e5-8042-4d11ae6d9d

[2015-08-04 20:59] DinisCruz commented on #909
this is done

[2015-08-04 21:00] DinisCruz opened #913 "login form should show on the top in mobile view"
Here is the login page (http://localhost:12345/angular/user/index)

**in wide view**

![image](https://cloud.githubusercontent.com/assets/656739/9072626/2ef50c96-3af4-11e5-8442-56164d7adce2.png)

**in mobile view**

![image](https://cloud.githubusercontent.com/assets/656739/9072643/469ae848-3af4-11e5-86e3-b3e3dfac99fb.png)

I think the form in mobile should be at the top

[2015-08-05 04:29] luchia commented on #896
Hey @tekgirl77, I worked with @michaelhidalgo this morning to fix this. It should be right to go now.

[2015-08-05 04:30] luchia commented on #913
This has been fixed and submitted with my PR today.

[2015-08-05 04:30] #913 closed, assigned to luchia

[2015-08-05 14:42] romichg commented on #721
This is done.

[2015-08-05 14:42] #721 closed

[2015-08-05 14:43] romichg commented on #883
This is done.

[2015-08-05 14:43] #883 closed, assigned to michaelhidalgo

[2015-08-05 14:48] romichg commented on #520
This is already done with last rounds of scripts. I think this is as good as we are going to get while we need to support 3.5 as a backend.

[2015-08-05 14:48] #520 closed

[2015-08-05 14:50] romichg commented on #864
Once piwik box is up, lets test this and make sure all is working.

[2015-08-05 14:51] romichg commented on #829
Moving this up as this is the next importaint thing

[2015-08-05 15:16] romichg opened #914 "Tbot customer reported issue"
Merge PR https://github.com/TeamMentor/Dev/pull/183

[2015-08-05 15:39] romichg opened #915 "Usernames longer than 30 characters?"
As @tekgirl77 writes:

Using the email address as the username is our convention for other platforms & products, including TA. Some email addresses are easily over 30 characters and this limitation prevents consistently using the email address as the username.

[2015-08-05 15:40] romichg commented on #915
Hey at @tekgirl77 can you verify that we don't support more than 30 Char username in TM4.0? I think we support up to 150.

[2015-08-05 15:50] romichg commented on #909
Done.

[2015-08-05 15:50] #909 closed, assigned to romichg

[2015-08-05 15:58] romichg commented on #911
yea I really like it!  Changing the title a bit so it is actionable

[2015-08-05 17:16] romichg commented on #600
There is a small issue here. In order for me to use the space bar, I actually need to click on the page. For example, if I click on the article title, I then need to click on the page for the space bar to work.

[2015-08-05 17:31] tekgirl77 commented on #896
Thanks @luchia!

[2015-08-05 17:38] romichg opened #916 "Trem(n) de carga of Flare issues (Lucy)"
@luchia these ones are yours
- [x] Login and signup form shows the required fields as RED right the way.
  ![selection_372](https://cloud.githubusercontent.com/assets/1326120/9090920/4428ea8e-3b6b-11e5-9aea-0903885b396b.png)
- [x] I think the login and password boxes are to big
- [x] I think, get password link should be right justified. Text should be changed to "Forgot your password"
- [x] images

[2015-08-05 17:39] romichg opened #917 "Trem(n) de carga of Flare issues. (Dinis)"
@DinisCruz and these are yours.
- [x] no logged in user should be redirected to login if she is not authenticated.
- [x] not logged in user going to the login protected page, user is not redirected to the login page..
- [x] after logging in (and otherwise when clicking on home button) screen is blank
- [x] Flare articles like http://localhost:12345/article/c4914e51-2609-4edc-8133-31491f1b03c0 redi

[2015-08-05 17:41] romichg commented on #534
Done.

[2015-08-05 17:41] #534 closed

[2015-08-05 18:01] romichg commented on #653
Done.

[2015-08-05 18:01] #653 closed

[2015-08-05 18:05] romichg commented on #867
Don't really see this as an issue.

[2015-08-05 18:06] romichg commented on #868
yea thats a good idea.

[2015-08-05 23:30] luchia commented on #600
Okay, we will need to do this with JS then. I sent Dinis a message on Slack regarding this. Here's a few more options to consider:

https://github.com/bfanger/angular-keyboard
http://chieffancypants.github.io/angular-hotkeys/

[2015-08-06 00:49] romichg commented on #873
Done.

[2015-08-06 00:49] #873 closed, assigned to romichg

[2015-08-06 00:50] #875 closed, assigned to romichg

[2015-08-06 00:50] romichg commented on #886
Done.

[2015-08-06 00:50] #886 closed, assigned to michaelhidalgo

[2015-08-06 00:51] romichg commented on #876
Fixed.

[2015-08-06 00:51] #876 closed, assigned to romichg

[2015-08-06 00:58] romichg commented on #894
This is done!

[2015-08-06 00:58] #894 closed, assigned to michaelhidalgo

[2015-08-06 00:59] romichg commented on #872
This is done.

[2015-08-06 00:59] #872 closed, assigned to romichg

[2015-08-06 01:07] romichg commented on #869
moved this comment (logged out view issues) to the top, so it can easily be seen and added to..

[2015-08-06 01:08] romichg commented on #900
Done.

[2015-08-06 01:08] #900 closed, assigned to romichg

[2015-08-06 01:09] romichg commented on #898
Fixed.

[2015-08-06 01:09] #898 closed, assigned to romichg

[2015-08-06 01:09] romichg commented on #905
@luchia  Can we close this?

[2015-08-06 01:25] romichg commented on #421
@DinisCruz  this is fixed? Right?

[2015-08-06 01:31] romichg commented on #343
Closing due to TTL

[2015-08-06 01:31] #343 closed

[2015-08-06 01:32] romichg commented on #294
done

[2015-08-06 01:32] #294 closed

[2015-08-06 01:34] romichg commented on #481
done

[2015-08-06 01:34] #481 closed

[2015-08-06 01:34] romichg commented on #437
Fixed.

[2015-08-06 01:34] #437 closed

[2015-08-06 01:36] romichg commented on #282
fixed

[2015-08-06 01:36] #282 closed

[2015-08-06 01:47] romichg commented on #596
We got a lot of feeback and all of them request Index page to be the main page.

[2015-08-06 02:05] romichg commented on #329
This is fixed. @BendixSpring could you confirm?

[2015-08-06 02:17] #223 closed

[2015-08-06 02:18] romichg commented on #296
Fixed

[2015-08-06 02:18] #296 closed

[2015-08-06 02:23] romichg commented on #354
This is done.

[2015-08-06 02:23] #354 closed

[2015-08-06 02:27] romichg opened #918 "Fix Searches that provide none or non-relevant results"
Here is a list of searches that we need to make sure we provide much better results (specially when compared with Google)
- [X] ssl
- [x] headers ssl
- [x] security headers
- [x] desktop security
- [ ] SQLi (should show 'SQL Injection' results)
- [ ] 'how to fix sql injection' and just 'sql injection' (should also shown how to articles)
- [ ] CWE 327, 327, and CWE-327 should all bring up the same

[2015-08-06 02:42] romichg commented on #863
Can we add "Back"  or "UP" button for the CC interface to go back to the previous article.

This is from @SergeTruth  here https://github.com/TMContent/Lib_UNO/issues/76

[2015-08-06 04:41] luchia commented on #905
I haven't seen it again, so let's close it.

[2015-08-06 04:41] #905 closed, assigned to DinisCruz

[2015-08-06 05:21] luchia commented on #863
Added -

![screen shot 2015-08-06 at 12 19 47 pm](https://cloud.githubusercontent.com/assets/4547737/9104343/95f1fc78-3c35-11e5-9a6c-191c0dce6ea2.png)

[NOTE: we've got some editor interface stuff in there]

[2015-08-06 05:22] luchia commented on #869
@roman87, can you show me a screenshot of the extra scroll bar.

One, five and six I will need help from @DinisCruz. To discuss with him later today or on the meeting tomorrow morning.

[2015-08-06 17:24] romichg commented on #863
Good stuff!!!

[2015-08-06 18:03] michaelhidalgo commented on #829
Github url should be https://github.com/TeamMentor/TM_4_0_Design/issues, this is a configurable value so it can be changed eventually.

[2015-08-06 19:03] romichg commented on #869
Scrolbar

![selection_376](https://cloud.githubusercontent.com/assets/1326120/9120764/3d750538-3c4c-11e5-997e-1229261a46bd.png)

[2015-08-06 19:09] romichg commented on #829
One more thing, if the issue is for the article ( link at the bottom of the page in full article view) then it should go to https://github.com/TMContent/Lib_UNO/issues/<correct URL to open a new issue> (Also configurable)
The title of the issue should contain the article title. The body of the issue should contain the article guid.

[2015-08-06 22:25] luchia commented on #916
Hi @roman87, can you please take a look at Dev for me? I submitted a large PR yesterday with these fixes.

[2015-08-06 22:46] michaelhidalgo commented on #917
Ok I'm going to work on this

[2015-08-07 10:27] luchia commented on #869
Five and six are done. Still have not found a way to fix the docs and cannot see the double scroll bar.

[2015-08-07 13:25] romichg commented on #869
@luchia catch me on skype, I will show you on the join me.

[2015-08-07 16:16] michaelhidalgo commented on #596
With Pull Request https://github.com/TeamMentor/TM_Website/pull/9

[2015-08-08 20:33] romichg commented on #917
Some more:
- [x] Terms and conditions link on the signup form goes to the jade version of T&C
- [ ] Error Page is a jade page, with the jade menu. Needs to have flare menu (#995)
- [x] Going to the index page via a URL (typing https://tmdev01-beta.teammentor.net/angular/user/index in the URL window) SOMETIMES does not load the full page.
  ![selection_381](https://cloud.githubusercontent.com/asset

[2015-08-08 22:04] romichg opened #919 "XSS vulnereability in search"
It is possible to craft a search query to cause XSS.

The following search query duplicates the issues `<a href="http://xssed.org/">Click to Download your search results in PDF</a>`

Follow the link below for further information on remediation of XSS vulnerability

<img width="420" alt="xss" src="https://cloud.githubusercontent.com/assets/1326120/9152487/0b171db6-3df9-11e5-9125-97f44dec7dad.png">

[2015-08-09 01:00] romichg opened #920 "Lock Accounts After Consecutive Failed Login Attempts"
Follow guidance below to meet this requirement

https://www.teammentor.net/angular/user/article/ce47e0f86753/Lock-Accounts-After-Consecutive-Failed-Login-Attempts

<img width="420" alt="Lock Accounts After Consecutive Failed Login Attempts" src="https://cloud.githubusercontent.com/assets/1326120/9153065/8af879a0-3e10-11e5-86cf-f988f5855263.png">

[2015-08-09 01:20] #919 closed, assigned to DinisCruz

[2015-08-09 03:32] romichg opened #921 "Login/Signup text alignment."
- [ ] Signup /login page. The test on the right seems to be too far off to the right. Can we make it a bit closer to the sign-up fields?
  ![selection_380](https://cloud.githubusercontent.com/assets/1326120/9143516/02037f10-3d15-11e5-99d7-76861a750636.png)

[2015-08-09 03:35] romichg opened #922 "Wrong number of articles shown"
With current library on tmdev01-beta.teammentor.net
Select Authentication, select Guideline Filter
The count shows 17 articles. However only 10 articles are shown. Jade shows correct 17 articles.
![selection_396](https://cloud.githubusercontent.com/assets/1326120/9153466/20ea700c-3e26-11e5-803e-dba63098e283.png)

[2015-08-09 03:47] romichg opened #923 "Authentication: Mask All Password Fields"

[2015-08-09 03:47] romichg opened #924 "Authentication: Verify the Application Authenticity to the User"

[2015-08-09 03:47] romichg opened #925 "Authentication: Validate Login Information"

[2015-08-09 03:47] romichg opened #926 "Authentication: Send Password Reset Tokens over a Side Channel"

[2015-08-09 03:47] romichg opened #927 "Authentication: Lock Accounts After Consecutive Failed Login Attempts"

[2015-08-09 03:47] romichg opened #928 "Authentication: Automatically Lock Inactive User Accounts"

[2015-08-09 03:47] romichg opened #929 "Authentication: Perform Authentication on the Server"

[2015-08-09 03:47] romichg opened #930 "Authentication: Force Password Renewal"

[2015-08-09 03:47] romichg opened #931 "Authentication: Implement Authentication Controls to Fail Securely"

[2015-08-09 03:47] romichg opened #932 "Authentication: Verify User Identity when Resetting Passwords"

[2015-08-09 03:50] #923 closed, assigned to DinisCruz

[2015-08-09 03:50] #924 closed, assigned to luchia

[2015-08-09 03:50] #925 closed, assigned to romichg

[2015-08-09 03:50] #926 closed, assigned to michaelhidalgo

[2015-08-09 03:50] #927 closed, assigned to michaelhidalgo

[2015-08-09 03:50] #928 closed, assigned to luchia

[2015-08-09 03:50] #929 closed, assigned to romichg

[2015-08-09 03:50] #930 closed, assigned to DinisCruz

[2015-08-09 03:50] #931 closed, assigned to romichg

[2015-08-09 03:50] #932 closed, assigned to michaelhidalgo

[2015-08-09 03:51] #920 closed, assigned to DinisCruz

[2015-08-09 17:57] SergeTruth commented on #863
The back/up button should be present in the regular articles as well to be able to go back to the cc from the guidance.

[2015-08-09 19:58] romichg commented on #863
@SergeTruth we've been discussing this and I think it comes to personal preference. I prefer for example to use the browsers back button, and additional back button is confusing to me. This is something we can discuss later when we have a fully working site and everyone had a chance to play with it.

[2015-08-10 09:20] DinisCruz opened #933 "Add a keepalive event/loop (maybe triggered every 5 minutes)"
This will be used to:
- perform regular clean up operations ( @michaelhidalgo had a requirement for this)
- ping TM 3.5 server so that new logins don't take severals seconds
- simple checks on TM 4.0 (for example if GraphDB is still alive)

[2015-08-10 20:34] BendixSpring commented on #329
Yup!  This is working now.

[2015-08-10 21:27] michaelhidalgo commented on #903
![screen shot 2015-08-10 at 15 28 33](https://cloud.githubusercontent.com/assets/1732035/9184721/3c5334ce-3f74-11e5-9ff3-5afe746b5570.png)

[2015-08-11 20:53] DinisCruz commented on #896
this is now merged
although there is something not 100% right

Here is what It looks to me as a logged in user

![image](https://cloud.githubusercontent.com/assets/656739/9210276/39e19fdc-4073-11e5-8c34-924f526e4d3d.png)

[2015-08-12 14:00] luchia commented on #869
Need help from Dinis, Michael or Salle on to fix the docs.

[2015-08-12 14:17] #329 closed

[2015-08-12 19:14] romichg commented on #869
Images on the Docs pages (logged out view) are too large.

![selection_416](https://cloud.githubusercontent.com/assets/1326120/9234088/bccf0c5e-4104-11e5-9e69-81db63384665.png)

[2015-08-13 14:28] romichg commented on #829
This looks great on Jade. Needs to be added to Flare.

[2015-08-13 16:51] roman87 commented on #864
we actually need to make sure that we are tracking everything we need in flare.
-[ ] searches and search queries
- [ ] navigation queries and filters
- [ ] article views
- [ ] we track the username in piwik (when we have a username)
- [ ] we track the browser fingerpring/cookie we gather for the 5 free articles.
- [ ] we tie the fignerpring to the username when available

[2015-08-13 16:55] romichg opened #934 "Add piwik tracking to Flare/update Jade analytics"
we actually need to make sure that we are tracking everything we need in flare.
- [x] searches and search queries  - What are visitors searching for, searches per visitor
  - [ ] navigation queries and filters - trending navigation links, trending filters.
- [x] article views - article views per user, total article views, trending articles
- [ ] abandoned searches and navigation - searches and nav

[2015-08-13 16:57] romichg commented on #602
This is no longer needed. We don't have POCs that query data.

[2015-08-13 16:57] #602 closed

[2015-08-13 17:08] romichg commented on #161
done.

[2015-08-13 17:08] #161 closed

[2015-08-13 17:16] romichg commented on #423
This is fixed.

[2015-08-13 17:16] #423 closed

[2015-08-13 17:17] romichg commented on #366
no longer needed. The solution will be to remove the TM 3.5 dependency completely.

[2015-08-13 17:17] #366 closed

[2015-08-13 17:22] romichg commented on #110
no longer needed. We are not using TC anymore. Scripts run on their own.

[2015-08-13 17:22] #110 closed

[2015-08-13 17:26] romichg commented on #182
Not an issue. Closing.

[2015-08-13 17:26] #182 closed

[2015-08-13 17:28] romichg commented on #130
I think this has been fixed.

[2015-08-13 17:47] romichg commented on #912
What is this about?

[2015-08-13 17:54] romichg commented on #596
Done. Will be this way on next production release.

[2015-08-13 17:54] #596 closed

[2015-08-13 18:13] romichg commented on #896
@tekgirl77 this is ready for QA right?

[2015-08-13 19:14] tekgirl77 commented on #896
hey @roman87 yes, @DinisCruz merged it into Dev yesterday... unless he is still testing or making any changes, it should be ready.

[2015-08-14 17:31] michaelhidalgo opened #935 "Add unit test for Hubspot integration, top 5 articles"
Currently the hubspot integration and the top 5 articles features have low test coverage and it opens the door to break it when another change is done.

In order to prevent this, we need to add test cases.

[2015-08-14 17:38] romichg opened #936 "Populate user IP address in Hubspot integratoin"
![selection_420](https://cloud.githubusercontent.com/assets/1326120/9280055/ba063728-4289-11e5-86c1-67eb27ae485d.png)

[2015-08-14 17:51] romichg commented on #150
This is done.

[2015-08-14 17:51] #150 closed

[2015-08-14 17:52] romichg commented on #168
This is done.

[2015-08-14 17:52] #168 closed

[2015-08-14 17:53] romichg commented on #167
This is done.

[2015-08-14 17:53] #167 closed

[2015-08-14 17:55] romichg commented on #56
This is done.

[2015-08-14 17:55] #56 closed

[2015-08-14 17:58] romichg commented on #111
This is done for 4.0 version. Minus the check for site working which is still done manually, but we can live with this for now.

[2015-08-14 17:58] #111 closed

[2015-08-14 18:00] romichg commented on #707
This should also be handled on the reverse proxy side. Therefore moving to P4

[2015-08-14 18:02] romichg commented on #351
This is done with a manual solution. Any more robust solution will be based on TM Editor..

[2015-08-14 18:02] #351 closed

[2015-08-14 18:04] romichg commented on #188
I think this is mostly done?

[2015-08-14 18:11] romichg commented on #826
Month has passed.. We should be carefull with this so we don't break @michaelhidalgo customizaiton for the portal page.

[2015-08-14 18:14] romichg commented on #550
Moving to backlog since there is no requirement for this at the moment.

[2015-08-14 18:40] romichg commented on #488
Making it a P0 since it is a pretty ugly bug.

[2015-08-14 19:06] romichg commented on #108
This is fixed.

[2015-08-14 19:06] #108 closed

[2015-08-14 19:07] romichg commented on #125
Done

[2015-08-14 19:07] #125 closed

[2015-08-14 19:12] romichg commented on #144
I assume this was done?

[2015-08-14 19:15] romichg commented on #206
Closing this since this was fixed a while ago.

[2015-08-14 19:15] #206 closed

[2015-08-14 19:20] romichg commented on #172
Now part of #933

[2015-08-14 19:20] #172 closed

[2015-08-14 19:22] romichg commented on #357
Closing due to TTL, it has been decided to make the "Index" page the landing page at the moment.

[2015-08-14 19:22] #357 closed

[2015-08-14 19:23] romichg commented on #362
This was done.

[2015-08-14 19:23] #362 closed

[2015-08-14 19:24] romichg commented on #399
This is on going, and this issue is for verification.

[2015-08-14 19:27] romichg commented on #510
Formula is done. Related to: #518

[2015-08-14 19:27] #510 closed

[2015-08-14 20:36] DinisCruz commented on #144
yeah this is totally done

[2015-08-14 20:36] #144 closed

[2015-08-14 20:40] romichg commented on #642
This is done with a couple of scripts on our dev box.

[2015-08-14 20:40] #642 closed

[2015-08-14 20:43] romichg commented on #643
We don't need this anymore besides what is done already. We have a good method of extracting summaries based on first 200 characters of items in <p>. We need an EDITOR support for summaries to make them more robust at this point.
Related to #903

[2015-08-14 20:43] #643 closed

[2015-08-14 20:45] romichg commented on #646
This is no longer needed. There is no requirement to disable feedback at the moment.

[2015-08-14 20:45] #646 closed

[2015-08-14 20:50] romichg commented on #736
@michaelhidalgo see if you can get this fixed at some point. P1 for now

[2015-08-14 20:59] romichg commented on #421
This is fixed

[2015-08-14 20:59] #421 closed

[2015-08-17 00:33] luchia commented on #912
This was the feature that Dinis suggested about showing some sort of signifier that the application is loading content or working on the request made by the user. I suggested we do something similar to YouTube -

![screen shot 2015-08-17 at 9 21 34 am](https://cloud.githubusercontent.com/assets/4547737/9296246/3ec44020-44cb-11e5-87fd-c3cffb96638a.png)

You can see the red line at the top of the br

[2015-08-17 03:44] romichg commented on #912
Hah.. interestingly I never noticed that line on youtube before :)

[2015-08-18 04:51] romichg commented on #360
This is done as described in the issue.

[2015-08-18 04:51] #360 closed

[2015-08-18 04:54] romichg commented on #326
Making it a P4 since we have no issues with LevelGraph at the moment.

[2015-08-18 05:05] romichg commented on #176
Closing

[2015-08-18 05:05] #176 closed

[2015-08-18 05:06] romichg commented on #390
Closing due to TTL.

[2015-08-18 05:06] #390 closed

[2015-08-18 05:07] romichg commented on #512
Done.

[2015-08-18 05:07] #512 closed

[2015-08-18 05:07] romichg commented on #513
Done.

[2015-08-18 05:07] #513 closed

[2015-08-18 05:08] romichg commented on #514
Done.

[2015-08-18 05:08] #514 closed

[2015-08-18 05:08] romichg commented on #522
Done.

[2015-08-18 05:08] #522 closed

[2015-08-18 05:09] romichg commented on #541
Done.

[2015-08-18 05:09] #541 closed

[2015-08-18 05:33] romichg commented on #562
Closing due to TTL

[2015-08-18 05:33] #562 closed

[2015-08-18 05:36] romichg commented on #576
Done, looks good.

[2015-08-18 05:36] #576 closed

[2015-08-18 05:37] romichg commented on #658
Closing due to TTL

[2015-08-18 05:37] #658 closed

[2015-08-18 05:37] romichg commented on #844
Done.

[2015-08-18 05:37] #844 closed

[2015-08-18 05:38] romichg commented on #890
Done.

[2015-08-18 05:38] #890 closed, assigned to romichg

[2015-08-18 05:42] romichg commented on #737
Done for this issue.

[2015-08-18 05:42] #737 closed

[2015-08-18 05:44] romichg commented on #733
closing due to ttl

[2015-08-18 05:44] #733 closed

[2015-08-18 05:45] romichg commented on #660
done.

[2015-08-18 05:45] #660 closed

[2015-08-18 05:46] romichg commented on #613
Closing due to ttl

[2015-08-18 05:46] #613 closed

[2015-08-18 05:46] romichg commented on #611
closing due to ttl.

[2015-08-18 05:46] #611 closed

[2015-08-18 05:46] romichg commented on #598
This is fixed.

[2015-08-18 05:46] #598 closed

[2015-08-18 05:47] romichg commented on #590
Closing due to ttl

[2015-08-18 05:47] #590 closed

[2015-08-18 05:47] romichg commented on #586
This was done.

[2015-08-18 05:47] #586 closed

[2015-08-18 05:48] romichg commented on #585
Done in Flare.

[2015-08-18 05:48] #585 closed

[2015-08-18 05:50] romichg commented on #582
Done in flare.

[2015-08-18 05:50] #582 closed

[2015-08-18 05:52] romichg commented on #564
This is done. @BendixSpring Can you let me know if this is resolved to your satisfaction. If not I will reopen it. Otherwise closing.

[2015-08-18 05:52] #564 closed

[2015-08-18 05:53] romichg commented on #560
Done.

[2015-08-18 05:53] #560 closed

[2015-08-18 06:17] romichg commented on #559
Done brilliantly by @tekgirl77 https://github.com/TeamMentor/TM/wiki/Local-TM-Environment-Setup

[2015-08-18 06:17] #559 closed

[2015-08-18 06:18] romichg commented on #478
Moving it back to @luchia since we just talked about how exactly this should be done.

[2015-08-18 06:20] romichg commented on #471
Closing due to TTL

[2015-08-18 06:20] #471 closed

[2015-08-18 06:21] romichg commented on #422
Fixed

[2015-08-18 06:21] #422 closed

[2015-08-18 06:21] romichg commented on #420
fixed

[2015-08-18 06:21] #420 closed

[2015-08-18 06:21] romichg commented on #397
fixed

[2015-08-18 06:21] #397 closed

[2015-08-18 06:22] romichg commented on #396
All is fixed.

[2015-08-18 06:22] #396 closed

[2015-08-18 06:24] romichg commented on #292
This is no longer needed at the moment.

[2015-08-18 06:24] #292 closed

[2015-08-18 06:24] romichg commented on #311
fixed

[2015-08-18 06:24] #311 closed

[2015-08-18 06:26] romichg commented on #325
done.

[2015-08-18 06:26] #325 closed

[2015-08-18 06:29] romichg commented on #269
Services team did a security assessment of TM and found no issues. We will continue to do periodic security assessments at major milestone releases.

[2015-08-18 06:29] #269 closed

[2015-08-18 06:32] romichg commented on #270
Great idea, we will need to rely on Services team to help with this one.

[2015-08-18 06:32] #270 closed

[2015-08-18 06:32] romichg commented on #272
Done.

[2015-08-18 06:32] #272 closed

[2015-08-18 06:36] romichg commented on #89
No longer needed.

[2015-08-18 06:36] #89 closed

[2015-08-18 06:37] romichg commented on #183
Whatever happened to this thing? @luchia

[2015-08-18 06:38] romichg commented on #187
Closing..

[2015-08-18 06:38] #187 closed

[2015-08-18 06:40] romichg commented on #235
done

[2015-08-18 06:40] #235 closed

[2015-08-18 06:45] romichg commented on #245
This was done along the way by

[2015-08-18 06:45] #245 closed

[2015-08-18 12:19] luchia commented on #921
This has been fixed -

![screen shot 2015-08-18 at 10 16 58 pm](https://cloud.githubusercontent.com/assets/4547737/9329676/19f09938-45f7-11e5-9d64-82f50d895855.png)
![screen shot 2015-08-18 at 10 17 31 pm](https://cloud.githubusercontent.com/assets/4547737/9329677/1a26c738-45f7-11e5-91c1-188a3d739730.png)

[2015-08-18 16:22] romichg opened #937 "Signup page: Terms and conds link points to a Jade page"

[2015-08-18 20:15] romichg opened #938 "Some issues in 5 free articles"
- [x] Opening the same article should not decrease the free credits
- [x] "Sing Up" in the "Welcome to TEAM Mentor. You have 2 article credits remaining. Sign up to unlock the full evaluation of TEAM Mentor" should be a link to the signup page.
- [x] I think we should change the text to say "...you have N out of X free article credits remaining.."  in the above message
- [x] There should also be t

[2015-08-18 20:16] romichg commented on #938
@tekgirl77 feel free to take up any of these

[2015-08-18 20:21] romichg opened #939 "Browser fingerpring in 5 free articles is wrong"
1. IP address is used in a wrong way. When I use my phone on the same WIFI as my laptop, I get the same fingerprint. This is wrong. An organization can have thousands of users behind a single IP.
2. When I switch my phone to data, I get a different fingerprint, even though I should already have the cookie. This is wrong again. :)

[2015-08-18 20:22] romichg commented on #896
This is done, though some issues still remain:
#938 #939

[2015-08-18 20:22] #896 closed, assigned to tekgirl77

[2015-08-18 21:02] BendixSpring commented on #564
I don’t see any links on the pages originally noted.

I guess you can close this.

From: RomichG [mailto:notifications@github.com]
Sent: Tuesday, August 18, 2015 1:52 AM
To: TeamMentor/TM_4_0_Design TM_4_0_Design@noreply.github.com
Cc: Danny Harris dharris@securityinnovation.com
Subject: Re: [TM_4_0_Design] Create Hyperlinks to other SI content (#564)

This is done. @BendixSpring https://github.co

[2015-08-18 21:49] romichg commented on #564
@BendixSpring the only page that has other SI products is the about page, which has the TP link in it..Which original pages you refer to?

[2015-08-19 00:03] luchia commented on #478
This has been completed. PR submitted today.

[2015-08-19 00:03] luchia commented on #183
The application evolved. Designs were changed etc. This wouldn't really fit in anywhere now.

[2015-08-19 00:07] luchia commented on #937
This has been fixed and PR submitted today.

[2015-08-19 00:31] luchia commented on #869
This has been completed. PR submitted today.

[2015-08-19 06:58] luchia commented on #895
PR submitted for this. Screenshot -

![screen shot 2015-08-19 at 4 57 31 pm](https://cloud.githubusercontent.com/assets/4547737/9350357/72cb6690-4693-11e5-8a52-2c7ca033f880.png)

[2015-08-19 18:58] #183 closed

[2015-08-19 19:11] romichg commented on #342
Done

[2015-08-19 19:11] #342 closed

[2015-08-19 19:32] romichg commented on #345
This needs to rely on the EDITOR interface. As currently the editing of the articles is de-coupled in such a way that it is difficult to get the update time/data.

[2015-08-19 19:36] romichg commented on #350
@luchia do we still want to do this? or is our current solution addressing the problem?

[2015-08-19 19:37] romichg commented on #344
Needs to be verified in flare.

[2015-08-19 19:38] romichg commented on #236
done

[2015-08-19 19:38] #236 closed

[2015-08-19 19:41] romichg commented on #257
fixed.

[2015-08-19 19:41] #257 closed

[2015-08-19 19:41] romichg commented on #263
done

[2015-08-19 19:41] #263 closed

[2015-08-19 19:45] romichg commented on #284
fixed

[2015-08-19 19:45] #284 closed

[2015-08-19 19:46] romichg commented on #285
done

[2015-08-19 19:46] #285 closed

[2015-08-19 19:47] romichg commented on #286
fixed

[2015-08-19 19:47] #286 closed

[2015-08-19 19:47] romichg commented on #327
Closing due to TTL.

[2015-08-19 19:47] #327 closed

[2015-08-19 19:48] romichg commented on #328
This was done. @BendixSpring could you confirm this was fixed to your satisfaction?

[2015-08-19 19:49] romichg commented on #328
If not I will obviously re-open the issue.

[2015-08-19 19:49] #328 closed

[2015-08-19 20:09] romichg commented on #340
fixed

[2015-08-19 20:09] #340 closed

[2015-08-19 20:14] romichg opened #940 "Set parameters in the code to have Exress NOT run in debug mode."
Related to: #239

[2015-08-19 20:15] romichg commented on #239
Closing this discussion due to TTL.

[2015-08-19 20:15] #239 closed

[2015-08-19 20:39] BendixSpring commented on #345
I think knowing how fresh information is can be quite helpful.  Particularly for a regular user, knowing what's new or updated is very valuable.  I hope we don't lose this data point by closing this issue.

[2015-08-19 20:43] BendixSpring commented on #328
This is OK.  I think I'd make things plural + a blurb about longer passwords:

Your password should be at least 8 characters long. It should have at least one of each of the following: uppercase and lowercase letters, number**s**, and special character**s**.

A longer password is a stronger password.

[2015-08-19 20:45] BendixSpring commented on #564
The about page does has the TP link.  This is good. We are done with this.

[2015-08-19 21:45] romichg commented on #345
I absolutely agree! I didn't close this one :) I just moved it to the BACKLOG so it is better organized and can be picked up in the future sprint.

[2015-08-19 21:47] romichg commented on #328
Makes sense, however we only look for one number and once special character on the back-end, so making it plural wouldn't really reflect what we are enforcing. But yes agreed, we should look into enforcing stronger password in the future.

[2015-08-19 21:48] romichg commented on #564
Ok great! Thank you!!!

[2015-08-19 22:48] romichg commented on #723
@tekgirl77  is this one done?

[2015-08-19 22:50] romichg commented on #728
@DinisCruz @tekgirl77 is this one done?

[2015-08-19 22:51] romichg commented on #760
closing due to TTL

[2015-08-19 22:51] #760 closed

[2015-08-19 23:12] #842 closed

[2015-08-19 23:13] romichg commented on #804
closing due to TTL

[2015-08-19 23:13] #804 closed

[2015-08-19 23:14] #703 closed

[2015-08-19 23:14] romichg commented on #678
closing due to TTL

[2015-08-19 23:14] #678 closed

[2015-08-19 23:14] #675 closed

[2015-08-19 23:16] romichg commented on #671
closing due to TTL

[2015-08-19 23:16] #671 closed

[2015-08-19 23:27] romichg commented on #666
related to #662

[2015-08-19 23:29] romichg commented on #661
Closing due to TTL

[2015-08-19 23:29] #661 closed

[2015-08-19 23:29] romichg commented on #655
Closing due to TTL

[2015-08-19 23:29] #655 closed

[2015-08-19 23:30] romichg commented on #628
closing due to TTL

[2015-08-19 23:30] #628 closed

[2015-08-19 23:34] romichg commented on #537
This was fixed with #910

[2015-08-19 23:34] #537 closed

[2015-08-19 23:37] romichg commented on #474
This is done.

[2015-08-19 23:37] #474 closed

[2015-08-19 23:38] romichg commented on #457
done

[2015-08-19 23:38] #457 closed

[2015-08-19 23:39] romichg commented on #487
done

[2015-08-19 23:39] #487 closed

[2015-08-20 04:58] romichg commented on #345
Related to #338

[2015-08-20 05:08] romichg commented on #530
Done

[2015-08-20 05:08] #530 closed

[2015-08-20 05:11] #592 closed

[2015-08-20 05:13] romichg commented on #711
I think current UI works great for now.

[2015-08-20 05:13] #711 closed

[2015-08-20 05:27] romichg commented on #180
Related to #493

[2015-08-20 07:42] luchia commented on #899
I managed to fix this one while building the scrolling feature for this page -

![screen shot 2015-08-20 at 5 39 47 pm](https://cloud.githubusercontent.com/assets/4547737/9378147/8654ce3e-4762-11e5-9c37-5634c9ba6c58.png)

[2015-08-20 07:42] #899 closed, assigned to DinisCruz

[2015-08-20 07:50] luchia commented on #350
I think it's a good idea to do it.

[2015-08-20 20:38] tekgirl77 commented on #938
@luchia can you please help me with these href styles and modify them so these links are not always converted to lowercase?  See branch "Issue_939_remove_IP" (on TM, Jade, SiteData, and Website) for more detail.

[Here](https://github.com/TeamMentor/TM_Jade/blob/Issue_939_remove_IP/user/article.jade#L21-L28) are the additions to article.jade which are being converted to lower case ("Sign up" and "

[2015-08-20 20:42] romichg commented on #938
@tekgirl77 it is ok to re-phrase it so that Sign and Login don't have to be at the beginning of the sentence.  If it is easier to do that is.

[2015-08-20 20:44] tekgirl77 commented on #938
@roman87 ok no problem - @luchia let me know if this is too much trouble or will break other things, and I'll just re-word them.  :)  I like that solution.  hehe

Also, do we want the links to be white like that?  Do we want them underlined so they look like hyperlinks?  More food for thought.

[2015-08-20 20:46] romichg commented on #938
Every problem has 10 types of solutions. 0. Managerial 1. Technical :)

[2015-08-21 16:31] romichg opened #941 "Multiple UI issues in non-logged in pages (FF)"
- [x] "our clients love us" is not centered, like in Jade
  ![selection_424](https://cloud.githubusercontent.com/assets/1326120/9413367/7cfaa8de-47ff-11e5-80df-f16c7a840b26.png)
- [x] The font for the navbar is smaller than in Jade. And logo is bigger.  Probably should be consistent here.

![selection_427](https://cloud.githubusercontent.com/assets/1326120/9413399/a47bd932-47ff-11e5-9b30-1542c95ce

[2015-08-21 17:48] romichg commented on #903
Current solution looks for first 200 characters. We cannot be breaking a word in the middle. We have to look for first 200 characters +  .*\s

[2015-08-21 18:21] DinisCruz opened #942 "Consolidate the style requests in a smaller number of requests"
@luchia is it possible to reduce the number of css/style/font requests made to server

look at the requests currently made (when the angular caches are enabled)

![image](https://cloud.githubusercontent.com/assets/656739/9415750/524c2394-4839-11e5-92d6-cd12fabd8ec3.png)

Ideally we should have one requests per content type: css, font, images (or even one with both css and font data on it)

[2015-08-22 03:05] romichg opened #943 "barco de carga (cargueiro) of Flare issues (Dinis/Michael)"
- [x] back button does not work (dinis/michael)
- [x] Selecting a filter first, is a bit slow and no intuative way of showing that it is working (dinis)
- [x] showing the bottom footer with results per page and page numbers is useless on a page with 2-3 items (dinis/michael)
- [x] At what point should we clear the search box (homepage, index page) (dinis/michael)
- [x] flicker when loading index.

[2015-08-22 03:16] romichg opened #944 "dingy of Flare issues (Lucy)"
- [x] Numbers next to the filters shoudl not be extra long on 2 lines (lucy)
- [x] breadcrumbs are not well visible (Dinis/Lucy)
- [x] maybe filters are too wide? (Lucy)
- [x] badges block first title (Lucy)
- [x] copyright message is missing at the end of each article (Lucy)
- [x] Single row box is too big (Lucy)
- [x] gray column next to article box changes size with single/double column of boxe

[2015-08-22 03:20] romichg opened #945 "carreta of Flare issues"
- [x] github issue integration missing in flare (michael)
- [x] links inside each article go to the index not to the article (michael)
- [x] if the user hits a protected page (user page) directly and is not logged in, he is redirected to the login page. However the menu on the login page is the logged in user menu
  ![selection_001](https://cloud.githubusercontent.com/assets/1326120/9457595/54ecdc

[2015-08-22 03:30] luchia commented on #941
The second checkpoint hasn't been addressed in my PR, I still need to do that.

[2015-08-23 08:11] DinisCruz commented on #521
this is done

[2015-08-23 08:11] #521 closed

[2015-08-25 00:05] luchia commented on #941
Submitted in PR today. Will merge shortly.

[2015-08-25 00:19] luchia commented on #944
Here's some of my thoughts about the filters too wide checkpoint -

I think we should leave it as is because:
- It's balanced (design is symmetrical)

![screen shot 2015-08-25 at 10 17 41 am](https://cloud.githubusercontent.com/assets/4547737/9455834/a86b6876-4b12-11e5-85e6-f3dc283261bb.png)
- It's the same as Jade
- Making the column smaller means it gets really tight when the screen starts to sc

[2015-08-25 00:59] luchia commented on #912
We had a foot (Dinis used it as a placeholder) and now we have this -

![loader](https://cloud.githubusercontent.com/assets/4547737/9456246/593837e2-4b18-11e5-96b2-02c1fad1ca42.gif)

Until I have time to build the loading bar.

[2015-08-25 03:01] romichg opened #946 "Selecting multiple filters should scroll the list to the top"
To duplicate:
Select some filters
Scroll a bit through article list
Select more filters

![selection_002](https://cloud.githubusercontent.com/assets/1326120/9457699/0e2353d6-4ab4-11e5-863d-f1092164a06e.png)

[2015-08-25 16:32] DinisCruz opened #947 "Some auto complete recommendations do not produce actual search results"
- [ ] CWE
- [ ] 01 SQL Injection
- [ ] Use an Anti-XSS Library

[2015-08-25 21:30] DinisCruz opened #948 "Support search on queries (at the moment the search is done on the index)"
This would allow the user to search a query (like the Authorization) and then search inside it (at the moment the search will always be done on top of the index)

Note that the filters are already applied to the search (i.e. that bit is already working)

[2015-08-26 00:05] luchia commented on #944
Finished the share modal, here's a screenshot. It's currently commented out.

![screen shot 2015-08-26 at 10 04 48 am](https://cloud.githubusercontent.com/assets/4547737/9482687/eeb72d52-4bd9-11e5-80dd-0f28e2ec1349.png)

Will push in a bit, still doing some other stuff.

[2015-08-26 00:12] luchia commented on #942
I managed to remove one (the github syntax stylesheet) as I added it into the Flare stylus files. The others I don't think we can compress, unless we drop fonts. The page still loads really fast regardless, so I don't think it's a big issue.

[2015-08-26 00:15] luchia commented on #906
So I've done as much as I can on my machine but it's going to take forever to do SauceLabs manually. Is there a way to automate this so I can save some time? Probably not a P0 but we'll need to do this at some point.

[2015-08-26 00:16] luchia commented on #946
As this is JS causing this issue (the page doesn't reload, but makes the data change), I think we'll need a JS solution for this. Will talk about it tomorrow on the meeting.

[2015-08-26 10:17] DinisCruz opened #949 "Remove hard-coded urls to GraphDB in TM_Website"
namely to http://localhost:12346
currently used to get the auto complete data

[2015-08-26 10:21] DinisCruz opened #950 "Move recommendations logic to TM_GraphDB"
At the moment this is done on TM_Website which is not the best place to do it

One of the advantages of doing this on GraphDB is that it will be easier to see if there are results and to order the responses based on the number of results that that particular search will orginate

Related to https://github.com/TeamMentor/TM_4_0_Design/issues/949

[2015-08-26 13:33] DinisCruz commented on #949
done

[2015-08-26 15:05] romichg opened #951 "left hand side filters only show first level after search. need to show all levels just like navigation"

[2015-08-26 15:11] romichg commented on #906
Sounds good, great stuff, assigning to @michaelhidalgo as a p1. Related to #82

[2015-08-26 15:18] romichg commented on #942
Agreed. I don't think we have a performance issue on page loading.

[2015-08-26 15:18] #942 closed, assigned to romichg

[2015-08-26 15:20] romichg commented on #944
@michaelhidalgo can you wire up the share modal?

[2015-08-27 21:45] DinisCruz opened #952 "Move angular site as main site and use Jade site as the back up"
Which is swap the current behaviour

The idea is to use Flare as the main site, with auto-redirection happening for Jade

[2015-08-28 16:19] SergeTruth opened #953 "Fix Markdown Editor"
The text-editor area is all over the place. Make it smaller and stuck inside the browser window. Lay out the meta-data editing part differently.

[2015-08-28 16:22] SergeTruth commented on #953
![md_editor_00](https://cloud.githubusercontent.com/assets/656569/9551478/b617f38a-4db1-11e5-9543-3140646ad6a9.PNG)

[2015-08-28 16:23] SergeTruth commented on #953
The main editing field scrolls way offscreen. Make it wider and shorter and always in the web browser window - you shouldn't be able to scroll out of it.

[2015-08-28 16:23] SergeTruth commented on #953
The preview field should be optional. We might be better off without it entirely. Maybe make it a popup or something.

[2015-08-28 16:24] SergeTruth commented on #953
The metadata editing part wastes too much space on the right.

[2015-08-28 16:25] SergeTruth commented on #953
The "Article Editor" text is not necessary.

[2015-08-28 16:26] SergeTruth commented on #953
![md_editor_01](https://cloud.githubusercontent.com/assets/656569/9551557/3af784a8-4db2-11e5-935b-71290adee13c.PNG)

Too much scrolling.

[2015-08-31 15:31] michaelhidalgo opened #954 "Allow Scroll (or key up/down) on textbox results"
It would be good if the end user can navigate up/down (using keyboard arrows) to select items from the dropdown list

![screen shot 2015-08-31 at 09 33 18](https://cloud.githubusercontent.com/assets/1732035/9582498/f37d1c60-4fc2-11e5-8f60-0f97f8d53a34.png)

Here is an implementation using scrolls
http://plnkr.co/edit/tSe0ZKzveRoU2xXGS5V9?p=preview

[2015-09-01 17:28] romichg commented on #954
@luchia is this something you can do or do you need @DinisCruz ?

[2015-09-01 17:32] romichg opened #955 "Bring back the "UP" Arrow on the left handside filters"

[2015-09-01 18:42] romichg opened #956 "Icons are wrong on the filter badges."

[2015-09-01 19:08] romichg opened #957 "Scrolling does not go all the way down"
![selection_010](https://cloud.githubusercontent.com/assets/1326120/9613740/4d36e148-50bb-11e5-9ecd-9b51ffa4733f.png)

[2015-09-02 00:11] luchia commented on #350
I've added the icons, this will be pushed in my PR today. I need Michael or Dinis to add the functionality.

[2015-09-02 00:12] luchia commented on #954
It's going to need JS, same as the left and right arrows that Dinis programmed to change pages.

[2015-09-02 00:18] luchia commented on #863
I will push this stuff a little later today, but it is finished for now. Assigning to Dinis to finish.

[2015-09-02 00:54] luchia commented on #912
![screen shot 2015-09-02 at 10 51 38 am](https://cloud.githubusercontent.com/assets/4547737/9620687/dde612f4-5160-11e5-97ee-5e850f7194c2.png)
![screen shot 2015-09-02 at 10 51 41 am](https://cloud.githubusercontent.com/assets/4547737/9620688/ddea3f50-5160-11e5-862e-5a56d9b55719.png)

Mobile and desktop versions above. I need Dinis or Michael to write the JS that handles the width, where width = pe

[2015-09-02 00:54] luchia commented on #956
What do you mean? Can I see a screenshot or something?

[2015-09-02 00:58] luchia commented on #955
![screen shot 2015-09-02 at 10 57 49 am](https://cloud.githubusercontent.com/assets/4547737/9620722/78e8e5d8-5161-11e5-9d65-b8478232eb83.png)

Done, will push later today.

[2015-09-02 01:00] luchia commented on #957
Yup, this is an issue that has to be addressed by my comments on #943

I can't do this with CSS alone unfortunately, it has do with the page not reloading (so I can't apply a class that will change the height). We have this issue in Chrome and Safari too -

![screen shot 2015-09-02 at 11 00 44 am](https://cloud.githubusercontent.com/assets/4547737/9620746/ea2fa68c-5161-11e5-87a4-c81c474dff42.png)

[2015-09-02 21:22] michaelhidalgo commented on #863
Assigning it to Michael

[2015-09-03 16:43] michaelhidalgo commented on #956
It should be fixed here with this PR https://github.com/TeamMentor/TM/pull/30

[2015-09-03 19:35] romichg opened #958 "For some reason some accounts show as disabled, even though I can login to the backend"
![selection_011](https://cloud.githubusercontent.com/assets/1326120/9668735/52df282a-5251-11e5-9e2c-b270f27131e2.png)
![selection_012](https://cloud.githubusercontent.com/assets/1326120/9668740/5770feea-5251-11e5-8dda-b1f5d0f5978e.png)

[2015-09-03 19:37] romichg commented on #957
Assigning to @michaelhidalgo

[2015-09-03 19:39] romichg commented on #957
Also an issue with Top Articles,
![selection_013](https://cloud.githubusercontent.com/assets/1326120/9668833/d5431fd8-5251-11e5-8409-f8fc17543198.png)

[2015-09-03 19:39] romichg commented on #957
And here is another sshot
![selection_016](https://cloud.githubusercontent.com/assets/1326120/9668849/f1e2d2d2-5251-11e5-8a4e-5743607f1625.png)

[2015-09-03 19:42] romichg commented on #955
@luchia is this pushed? I don't see it.

[2015-09-03 19:48] romichg opened #959 "Back arrow from Article view leads to blank page"
![selection_017](https://cloud.githubusercontent.com/assets/1326120/9669117/3b45f336-5253-11e5-855a-62aaf2fe7833.png)

[2015-09-03 19:52] romichg opened #960 "Back button changes the URL but does not reload the page"
1. Select left filter
2. Select right filter
   Press back button 2 times

![selection_018](https://cloud.githubusercontent.com/assets/1326120/9669191/ac7148ee-5253-11e5-8779-63873497f4b0.png)

[2015-09-03 19:58] michaelhidalgo commented on #958
hmm that's weird... It is also weird that you see the green and red alerts.

Let me try to reproduce it.

[2015-09-03 19:59] romichg commented on #959
And here is a sshot with the URL line
![selection_019](https://cloud.githubusercontent.com/assets/1326120/9669378/b4e3fb60-5254-11e5-84ed-3143a1948623.png)

[2015-09-03 20:06] romichg opened #961 ""Contact support" link in Flare"
Just like we have it in jade, we need a similar thing in flare.
![selection_020](https://cloud.githubusercontent.com/assets/1326120/9669509/b6edc106-5255-11e5-8ed3-77a43cc2f46c.png)

[2015-09-03 20:08] romichg opened #962 "Jade filters look so much nicer"
I just cant help it but compare and notice how much nicer jade filters look than flare.. Can we do something about it?
![selection_021](https://cloud.githubusercontent.com/assets/1326120/9669564/0e2e55ca-5256-11e5-8da7-862b8e5d7ffe.png)
![selection_022](https://cloud.githubusercontent.com/assets/1326120/9669565/10775e12-5256-11e5-80b9-428109fe859e.png)

[2015-09-03 20:10] romichg opened #963 "Metadata text is misalligned"
![selection_015](https://cloud.githubusercontent.com/assets/1326120/9669600/432a1f52-5256-11e5-9315-0964f31aa06a.png)

[2015-09-03 20:11] romichg opened #964 "Share badge seems like its using a different font"
![selection_014](https://cloud.githubusercontent.com/assets/1326120/9669614/54f3d4bc-5256-11e5-819d-de1cd9466276.png)

[2015-09-03 20:14] romichg commented on #958
Let me know if you want to use my account.

[2015-09-03 21:34] DinisCruz commented on #885
The core of this issue is done (since it was related to the creation of the TM_Angular code). The bit about the search order is covered by the issues related to the search auto-complete and search resuts

[2015-09-03 21:34] #885 closed, assigned to DinisCruz

[2015-09-03 21:36] DinisCruz commented on #826
With the new redirection to /jade or /flare this issue is not relevant anymore since there will be no redirect to /

[2015-09-03 21:36] DinisCruz commented on #902
does this still happen?

[2015-09-03 21:38] DinisCruz commented on #378
is this issue still relevant?

[2015-09-03 22:08] luchia commented on #964
Hmmm...

[2015-09-03 22:08] luchia commented on #961
I've done this already, and given it to Michael to wire up.

[2015-09-04 00:50] luchia commented on #962
I really disagree, I think Jade looks messy. Anyway, I made the changes so it looks like Jade more -

##### What it looks like when the filters are collapsed

![screen shot 2015-09-04 at 10 45 27 am](https://cloud.githubusercontent.com/assets/4547737/9674312/abbcd5cc-52f2-11e5-8005-bb7d1037cb05.png)

##### Filters open

![screen shot 2015-09-04 at 10 45 35 am](https://cloud.githubusercontent.com/a

[2015-09-04 00:50] luchia commented on #955
Some reason it didn't merged, it's in my PR today.

[2015-09-04 01:07] luchia commented on #964
![screen shot 2015-09-04 at 11 07 33 am](https://cloud.githubusercontent.com/assets/4547737/9674507/2bfaa190-52f5-11e5-9f94-2025f5a1dbbc.png)

Fixed.

[2015-09-04 17:42] michaelhidalgo commented on #961
Hi Lucy, it seems like the class you are assigning to it is sending the component to the bottom of the page :
Note that I removed the class and I added it to the right hand side div, so it is consistent with Jade

![screen shot 2015-09-04 at 11 42 08](https://cloud.githubusercontent.com/assets/1732035/9690483/ded53c72-52f9-11e5-8e3d-a3528b321397.png)

[2015-09-04 17:44] michaelhidalgo commented on #903
This has been fixed, we need to generate the Lib_UNO-json again.

[2015-09-04 17:46] michaelhidalgo commented on #829
Currently waiting on https://github.com/TeamMentor/TM_4_0_Design/issues/961

[2015-09-06 00:28] luchia commented on #961
When we talked about this in the meeting, Roman said it didn't have to be exactly like Jade. I wanted it to be in the bottom left hand corner.

[2015-09-06 01:42] michaelhidalgo commented on #961
Ok, I also think it is not fixed at the bottom. If you move the scroll, it moves too, as a result, this button is hidden when moving the scroll.

[2015-09-07 12:28] michaelhidalgo commented on #958
Hi @roman87  can you please give it a quick test, I believe it has been fixed.

thanks.

[2015-09-07 12:48] michaelhidalgo commented on #957
Working on this.

[2015-09-07 18:53] michaelhidalgo commented on #957
Hi @luchia , I have dynamically changed the height of the .scrolling-results  :

I changed it to 70% when there are filters : This is a Firefox screenshot with more zoom

However, I think we need to add some padding bottom or something similar since I think that depending on the browser, the bottom cuts  without selecting any filter :

![screen shot 2015-09-07 at 12 55 01](https://cloud.githubuser

[2015-09-07 21:39] DinisCruz commented on #952
this is now done

[2015-09-07 21:40] luchia commented on #957
Cool, that looks good. Thanks for doing that for me Michael :) I will work on this today.

[2015-09-07 23:55] luchia commented on #961
Yeah, I think because you removed the class in your comment above ^^. I'll fix it now.

[2015-09-08 01:00] luchia commented on #964
PR submitted

[2015-09-08 01:01] luchia commented on #963
PR submitted

[2015-09-08 01:01] luchia commented on #962
PR submitted, let me know what you think.

[2015-09-08 01:01] luchia commented on #961
Fixed and PR submitted. Re-assigning to Michael.

[2015-09-08 01:02] luchia commented on #957
Padding added and PR submitted. Did you finish your stuff on this Michael?

[2015-09-08 01:02] luchia commented on #955
PR submitted. Need Dinis/Michael to rewire this because it doesn't work.

[2015-09-08 01:03] luchia commented on #581
![screen shot 2015-09-08 at 10 33 12 am](https://cloud.githubusercontent.com/assets/4547737/9724353/091fdc4e-5615-11e5-9182-0d9a07eaaae7.png)

Update.

[2015-09-08 14:48] romichg opened #965 "Starting with an emtpy .tmCache caused some data not to show"
Stopping and Starting GraphDB fixes the issue.

Remove .tmCache
start servers
hit localhost:12345
Login
Click Authentication

[code]

![selection_026](https://cloud.githubusercontent.com/assets/1326120/9737885/d16b4b38-5616-11e5-9268-304d24c39f19.png)

Stop and Start

2015-09-08T14:40:26.974Z - info: Server started at: http://localhost:12346
2015-09-08T14:40:58.792Z - info:  url=/, ip=::1, agent=u

[2015-09-08 15:01] romichg commented on #902
yes, please fix.

[code]

[2015-09-08 15:13] romichg opened #966 "Flare main page should be the landing page, not the login page"
right now if you hit tmdev01-beta.teammentor.net from chromium, the page that is shown is the login page.

[2015-09-08 15:38] romichg opened #967 "Somehow the search bar flickers for a split second when the flare login page is loaded"
It is hard to catch but its around the 3d second.

https://drive.google.com/a/securityinnovation.com/file/d/0B38ToRPzK5DsZEV1T01KbVk1bkE/view?usp=sharing

![vlcsnap-2015-09-08-11h31m33s060](https://cloud.githubusercontent.com/assets/1326120/9739517/10f3bc7a-561e-11e5-9614-981a5ec2c490.png)

[2015-09-08 15:52] romichg opened #968 "Docs do not work (for both logged in and non logged in users)"

[2015-09-08 15:57] romichg commented on #826
We still need to make sure that original issue - https://github.com/TeamMentor/TM_4_0_Design/issues/825 is addressed by our redirect jade/flare. i.e. we need to make sure that /teammentor works exactly the same as /

[2015-09-08 16:10] romichg commented on #378
This is done. The rest of this issue is covered in #951

[2015-09-08 16:10] #378 closed

[2015-09-08 17:27] michaelhidalgo commented on #968
Good catch, looking into this.

[2015-09-08 17:44] romichg commented on #961
Not sure how it is supposed to look like, but it does look quite weird where it is here, almost to the point of blocking usability.
![selection_028](https://cloud.githubusercontent.com/assets/1326120/9742670/b497885a-562f-11e5-8353-c0907b44a4bc.png)

[2015-09-08 17:55] romichg commented on #962
Couple of things.
1 [  ] - The lefthand side heading breaks when the lines wrap
2 [  ] - the "Filter By" and the lefthand side heading seem to be a bit too bold? I am ok with it as long as you don't think it throws off the rest off the app

![selection_028](https://cloud.githubusercontent.com/assets/1326120/9742915/5f4d7196-5631-11e5-8eea-ebb9baaf9090.png)

3 [  ] -  Why are the filters so much sp

[2015-09-08 18:22] romichg opened #969 "The search dropdown does not show longer words well"
_Edit 2015-11-10 take a look at https://github.com/TeamMentor/TM_4_0_Design/issues/969#issuecomment-149570583 for updated issue details_

---

![selection_028](https://cloud.githubusercontent.com/assets/1326120/9742977/cd55ef2e-5631-11e5-976f-ef21a36792a0.png)

As you can see, I am all good for "All Techno" but this doesn't really work well. I think we need to have a dynamic way of wrapping the li

[2015-09-08 18:25] romichg commented on #956
All fixed.

[2015-09-08 18:25] #956 closed, assigned to romichg

[2015-09-08 23:29] romichg opened #970 "Make sure customizations and SSO still work with flare/jade switch"

[2015-09-08 23:37] luchia commented on #962
1. Fixed
2. Changed to a paragraph, let me know what you think.
3. Readability and negative space was my main concern, given how crowded Jade is I thought it'd be nice if we gave the user more space between things. Changed it for you.
4. Yes, opened a new issue for Michael.

[2015-09-08 23:53] luchia opened #971 "Make filters act like accordions"
See issue #962 for what it should look like. When you click the down arrow on the filters, the filter group should open.

[2015-09-08 23:54] luchia commented on #961
Fixed, I need Michael to make this toggle-able when you click the ! in the navigation. It should be hidden by default. PR waiting to be merged.

![screen shot 2015-09-09 at 9 23 22 am](https://cloud.githubusercontent.com/assets/4547737/9750258/7bdbf3fc-56d4-11e5-8ae1-a3bd67bbf363.png)

[2015-09-08 23:54] luchia commented on #969
Fixed, I changed the width to auto. It doesn't scale automatically to the word size though, but it is large enough for all words now. PR waiting to be merged.

[2015-09-09 18:59] romichg commented on #903
This is still an issue. The last words are broken because we truncate at 200 characters. So the word breaks in the middle. We need to ether look for the end of the beginning of the word before we truncate.

[2015-09-09 19:35] romichg commented on #961
I can't say I am in love with the solution. I think making the user hit "!" to bring this up is not the best idea. The main nav menu is for primary functions. This is really a secondary, feedback function. I am not sure it belongs in the main nav. Also it needs an icon. "!" means nothing to me. We also lost our progress wheel as a result.  I think we need more brainpower on this one :)

[2015-09-09 19:45] romichg commented on #958
So far so good. I'll keep it open for a while longer just to make sure there is no race condition anywhere.

[2015-09-09 20:08] romichg commented on #952
This is mostly done. As part of this we need to rename /angular to /flare and also have a full list of user-agents to switch on. I am keeping in your court for now @DinisCruz

[2015-09-09 20:12] romichg commented on #964
Text is still misaligned to the symbol. This needs some more TLC.
![selection_036](https://cloud.githubusercontent.com/assets/1326120/9772990/9b5bcb10-570d-11e5-8b3a-0e379aacc64f.png)

[2015-09-09 20:15] romichg commented on #963
Needs more TLC. The top one is off by one char.  Also perhaps we should move it closer to the icons.

![selection_037](https://cloud.githubusercontent.com/assets/1326120/9773029/e5466ef6-570d-11e5-9714-b8a312c72323.png)

[2015-09-09 20:49] michaelhidalgo commented on #903
Hey, do you have an article with this behaviour? I fixed the script, so in order to correct those cases, we need to generated the Lib_UNO-json again.

I did it offline and did not found any issue (i.e they were fixed),however, I must have missed one.

[2015-09-09 20:52] romichg commented on #962
1. \- Good
2. \- Looks good
3. \- I think they are readable now. Maybe play with font a tiny bit bigger? I think in order to make it more readable we need to change the style completely, similar to what we had originally for flare.

There is an issue with wrapping text - As you can see "Independent" is way down and to the left. I think the spacing for wrapping test should be like in Jade - single

[2015-09-09 20:55] romichg opened #972 "Create new filters, based on Flare original idea"
Create them on a separate branch, so me and @michaelhidalgo  can wire them in later in the following releases.

[2015-09-09 20:56] romichg commented on #969
I don't like the way it is. The original width was perfect. I think we need to dynamically change the font size / wrap text around. See if you can give it some more TLC.
Also keep in mind that there might be a customer logo that needs to be present to the right of TM logo. in which case we don't have that real estate anymore.

[2015-09-09 20:57] romichg commented on #903
hmm... the current tmdev01-beta has new content re-generated yesterday, and all articles are still this way.

[2015-09-09 20:58] romichg commented on #903
just pick any article:
![selection_039](https://cloud.githubusercontent.com/assets/1326120/9774032/fd7bcdb2-5713-11e5-943d-9addeb51e433.png)

[2015-09-09 20:59] romichg opened #973 "TM Logo shrinks with browser size"
When you make the browser size smaller, The logo shrinks.

![selection_032](https://cloud.githubusercontent.com/assets/1326120/9774050/15070de8-5714-11e5-896c-8e455d69eddd.png)

[2015-09-09 21:01] romichg opened #974 "Provide ability to include a customer logo (customized TM) just like we did in jade"
As part of this issue we need to make sure that the UI is switched properly between Jade and Flare when the customization is present. i.e. the customized Jade version is shown when the browser requires jade and the customized Flare version is shown when browser is capable of flare.
By customized version, here, we mean just the customer logo.

[2015-09-09 21:35] DinisCruz opened #975 "Create dev-2-production script which sets specific config values"
namely the disable cache one https://github.com/TeamMentor/TM_Angular/blob/Dev/src/disable-cache.coffee#L4

[2015-09-09 21:54] romichg opened #976 "Link color stays on after clicking"
To replicate. Go to the bottom, click "next"  As you can see the "next" is still green
![selection_031](https://cloud.githubusercontent.com/assets/1326120/9775242/cb27c318-571b-11e5-953c-5120c5289899.png)

[2015-09-10 03:48] luchia commented on #969
I think it will look worse if we have fonts changing dependant on the value than if we have a set width. If you want the width to change dynamically, then we're will need Dinis/Michael to write JS to handle that because CSS doesn't have the ability to do it.

Ebay has a consistent width where Amazon has a dynamically generated width (for selects).

[2015-09-10 04:25] romichg commented on #958
I just had this happen again. This looks like some sort of race condition in the UI. It seems to happen sometimes only when I am running on battery and have really strong power savings on.

![account-disabled](https://cloud.githubusercontent.com/assets/1326120/9780121/662f395a-5752-11e5-87f8-7f79763db2fd.png)

[2015-09-10 08:40] luchia commented on #964
![screen shot 2015-09-10 at 6 10 03 pm](https://cloud.githubusercontent.com/assets/4547737/9783942/2ee09d82-57e7-11e5-9746-c51277eb6ce6.png)

I think I fixed the issue :)

[2015-09-10 08:42] luchia commented on #963
Hmm, I'm not sure why yours is out of line? Are you still seeing it with the new stuff I pushed?

![screen shot 2015-09-10 at 1 20 37 pm](https://cloud.githubusercontent.com/assets/4547737/9783972/65b3c79e-57e7-11e5-9654-fd1ac74ac313.png)

[2015-09-10 08:43] luchia commented on #958
LOL ^^

[2015-09-10 08:44] luchia commented on #973
![screen shot 2015-09-10 at 6 14 04 pm](https://cloud.githubusercontent.com/assets/4547737/9784030/be2a5078-57e7-11e5-9549-f4635e91034f.png)
![screen shot 2015-09-10 at 6 14 07 pm](https://cloud.githubusercontent.com/assets/4547737/9784032/be58a716-57e7-11e5-9f97-14eee882452f.png)

Hey, I made it a fixed width (pixels) instead. It was initially a % based width so it was responsive.

[2015-09-10 09:02] luchia commented on #962
Okay, I fixed that issue that you found :)

![screen shot 2015-09-10 at 6 14 07 pm](https://cloud.githubusercontent.com/assets/4547737/9784395/07232280-57ea-11e5-8e59-f1deb56af370.png)
![screen shot 2015-09-10 at 6 29 30 pm](https://cloud.githubusercontent.com/assets/4547737/9784396/072bcc96-57ea-11e5-9205-850b9a679d9c.png)

[2015-09-10 10:31] luchia commented on #976
This has been fixed, I'll submit a PR shortly.

[2015-09-10 10:52] luchia commented on #961
It don't think it matters that we lost the wheel because we are having a loading bar anyway. What about something more simple, that doesn't involve toggling?

![screen shot 2015-09-10 at 8 22 34 pm](https://cloud.githubusercontent.com/assets/4547737/9786510/b351863c-57f9-11e5-9fc3-0ccbab7982d9.png)

[2015-09-10 11:32] luchia commented on #974
Would you be happy if we shared the logo space with the customer?

![screen shot 2015-09-10 at 9 02 21 pm](https://cloud.githubusercontent.com/assets/4547737/9787154/4503784c-57ff-11e5-82fc-47f2dea43d39.png)

[2015-09-11 02:20] romichg commented on #969
We talked about this on the call. Lets go with dynamic width by shrinking the input box.

[2015-09-11 02:26] romichg commented on #964
I am gonna get really picky here, but now it seems like its not centered.

[2015-09-11 02:32] romichg commented on #973
Ok so this seems to now have an effect that logo is fixed up until a certain browser size and then gets bigger after about 1960 pixels of the browser. Is that on purpose? I think its fine. Why is @DinisCruz assigned for this one?

[2015-09-11 02:34] romichg commented on #962
And now we have misalignment on the main filter page :)
![selection_042](https://cloud.githubusercontent.com/assets/1326120/9805853/f566d1a0-580b-11e5-8756-971c3ea088b0.png)

[2015-09-11 02:41] romichg commented on #976
Still an issue for the "Back Top" link, and all the nav links except for the home one

![selection_044](https://cloud.githubusercontent.com/assets/1326120/9805948/ffa73c94-580c-11e5-8375-7ff8a53a1eaa.png)
![selection_043](https://cloud.githubusercontent.com/assets/1326120/9805950/019f9e06-580d-11e5-9e25-cb41fb7b22f3.png)

[2015-09-11 02:41] romichg commented on #961
Looks much better. once the double scroll is fixed should be good.

[2015-09-11 02:43] romichg commented on #963
Looks good now actually. Closing.

[2015-09-11 02:43] #963 closed, assigned to romichg

[2015-09-11 02:44] romichg commented on #974
I think its fine. As we talked on the call, as long as we squeeze things a bit so the logos are not one right next to the other.

[2015-09-11 02:49] romichg commented on #916
Fixed.

[2015-09-11 02:49] #916 closed, assigned to romichg

[2015-09-11 02:52] romichg opened #977 "Terms and conditions link does not work"
Both on the bottom footer, signup and on the article view page.

[2015-09-11 02:53] romichg commented on #869
All fixed

[2015-09-11 02:53] #869 closed, assigned to romichg

[2015-09-11 02:54] romichg commented on #921
fixed

[2015-09-11 02:54] #921 closed, assigned to romichg

[2015-09-11 02:55] romichg commented on #937
Not working yet, related to #977

[2015-09-11 08:53] luchia commented on #961
Yeah, I'm waiting for Dinis to get back to me so I can finish this.

[2015-09-11 08:53] luchia commented on #976
Ohh, I thought you only wanted it on the pagination. I like it in the navigation, it shows the user where they are in the application.

[2015-09-11 09:26] luchia commented on #937
This issue is actually fixed because it doesn't redirect to the Jade TOC page anymore.

[2015-09-11 10:13] luchia commented on #962
Got it -

![screen shot 2015-09-11 at 7 42 42 pm](https://cloud.githubusercontent.com/assets/4547737/9812562/521697bc-58bd-11e5-8adf-0b8aa22ef11e.png)

[2015-09-11 10:15] luchia commented on #973
Yes because otherwise it needs to be percentage-based and we have the problem of the original issue. Assigned Dinis by mistake.

[2015-09-11 10:19] luchia commented on #964
I hacked this to fix it. Padding is all uneven to make the button appear even -

![screen shot 2015-09-11 at 7 47 05 pm](https://cloud.githubusercontent.com/assets/4547737/9812696/2b9b388a-58be-11e5-9da7-5281af7068c9.png)

[2015-09-11 16:11] DinisCruz commented on #977
link on bottom of the articles is now fixed (In Flare)

![image](https://cloud.githubusercontent.com/assets/656739/9819631/0dea4004-58a7-11e5-933f-c1d66af8cbf2.png)

it opens

![image](https://cloud.githubusercontent.com/assets/656739/9819639/199c4b9a-58a7-11e5-88ac-855a68a9c3e0.png)

Link on non-logged in page

![image](https://cloud.githubusercontent.com/assets/656739/9819742/baa43480-58a7-11e5-

[2015-09-11 22:14] romichg commented on #961
Has this happened?

[2015-09-11 22:15] romichg commented on #976
Ok, but it needs to work consistently. At the moment it doesn't stick on the home button, but stick everywhere else. It also doesn't solve the back top button issue above

[2015-09-11 22:15] romichg commented on #937
Agreed, just keeping it open until the whole thing works.

[2015-09-11 22:17] romichg commented on #962
So I see it aligned to the bottom of the icon. Is that on purpose?

[2015-09-11 22:17] romichg commented on #973
ok cool closing

[2015-09-11 22:17] #973 closed, assigned to romichg

[2015-09-11 22:18] romichg commented on #964
Is that merged?  I don't see it?

[2015-09-12 00:46] luchia commented on #977
Thank you Dinis.

[2015-09-12 00:47] luchia commented on #961
Yup, he got back to me late last night. This is fixed.

[2015-09-12 01:00] luchia commented on #976
Yup, I caught both of those yesterday as I thought you meant just the pagination initially. It sticks to the home button on mine, do you have the latest TM_Static?

![screen shot 2015-09-12 at 10 29 24 am](https://cloud.githubusercontent.com/assets/4547737/9829178/371a9b26-5939-11e5-91e0-cf9faaa924ae.png)

[2015-09-12 01:03] luchia commented on #964
Yup -

![screen shot 2015-09-12 at 10 32 54 am](https://cloud.githubusercontent.com/assets/4547737/9829189/a7322c94-5939-11e5-83ed-71126f84614a.png)

[2015-09-12 01:04] luchia commented on #974
This has been finished. Dinis or Michael will need to detect when and if there is a customer and display the customer_search_bar.jade instead of the search_bar.jade. Not sure who you want me to assign this to.

[2015-09-12 01:08] luchia commented on #962
Hmm, I hacked a fix that should change that -

![screen shot 2015-09-12 at 10 38 19 am](https://cloud.githubusercontent.com/assets/4547737/9829212/68aa7f2a-593a-11e5-96b4-9247beafc304.png)

[2015-09-12 17:27] romichg commented on #958
Still having the issue
![selection_048](https://cloud.githubusercontent.com/assets/1326120/9832724/067665a4-5952-11e5-90ed-560a7e5cbd00.png)
Second try worked fine.

[2015-09-13 01:24] romichg opened #978 "Cross-Site Scripting not shown"
https://tmdev01-beta.teammentor.net/angular/user/index?query=search-cross-site&filters=query-5119877f960f,query-132f0cf22c47

would be expected to show cross-site scripting along with cross-site request forgery, but it is not shown.

[2015-09-13 14:15] romichg opened #979 "Icon for AWS Technology"
We need an Icon for AWS (Amazon Web Services)

[2015-09-13 14:39] romichg commented on #977
Looks good, thanks!

[2015-09-13 14:39] #977 closed, assigned to romichg

[2015-09-13 14:42] romichg commented on #976
Ok looks good. The only problem is that after initial logon the home button is not green, which is kinda inconsistent. Not a biggie.

[2015-09-13 14:44] romichg commented on #961
Ok, the only thing is that the lines are misaligned when it breaks into to lines.
![selection_050](https://cloud.githubusercontent.com/assets/1326120/9837162/68b78aba-5a04-11e5-94ef-1feb43aa58c6.png)

[2015-09-13 14:50] romichg commented on #976
Also, after clicking home, if you click anywhere on the page the color goes away. I am not sure if this is more work than it is worth to keep the colors on.

[2015-09-13 14:57] romichg commented on #964
Something still seems off.. .can you please put your 100% designer attention to it?

[2015-09-13 14:58] romichg commented on #974
@DinisCruz can you give @michaelhidalgo a hand on this one?

[2015-09-13 15:16] romichg commented on #962
Ether It is not merged or it didn't work. Here is what I see. Also we want no hacks, only permanent good solutions :)
![selection_054](https://cloud.githubusercontent.com/assets/1326120/9837238/a195b3b4-5a06-11e5-8ca0-9dcbee6a061d.png)

[2015-09-13 15:20] romichg opened #980 "Mobile seems to break on a shorter browser"
![selection_052](https://cloud.githubusercontent.com/assets/1326120/9837340/6f7c75cc-5a09-11e5-8de2-ab55b8c19598.png)

[2015-09-13 15:22] romichg opened #981 "Empty white space on the mobile browser when nothing on the lefthand side menu"
Can we collapse the white space?
![selection_051](https://cloud.githubusercontent.com/assets/1326120/9837346/9ac37f14-5a09-11e5-91b0-1b606955a14e.png)

[2015-09-13 15:55] romichg opened #982 "Guides View Issues"
- [x] Share button is different between the guides and full article view
  ![selection_057](https://cloud.githubusercontent.com/assets/1326120/9837459/81cd0b5c-5a0d-11e5-9121-d1c11aa6e5b7.png)
  ![selection_055](https://cloud.githubusercontent.com/assets/1326120/9837461/83f896c6-5a0d-11e5-99fa-66752b6dfaac.png)
- [x] Should we make the Gray line a bit narrower, both for Guides and full article vie

[2015-09-15 00:27] luchia commented on #962
Alright, I think this is fixed -

##### 100%

![screen shot 2015-09-15 at 10 26 00 am](https://cloud.githubusercontent.com/assets/4547737/9865055/45546958-5b94-11e5-8b59-e3f1455a27ee.png)

##### 110%

![screen shot 2015-09-15 at 10 26 09 am](https://cloud.githubusercontent.com/assets/4547737/9865056/4556065a-5b94-11e5-9fb0-5ce2978cc317.png)

##### 120%

![screen shot 2015-09-15 at 10 26 15 am](htt

[2015-09-15 01:46] luchia commented on #979
I think we should use the box from the AWS logo. What does everyone think?

![screen shot 2015-09-15 at 11 34 33 am](https://cloud.githubusercontent.com/assets/4547737/9865763/d3232982-5b9d-11e5-92fc-10038b9e77c9.png)

[2015-09-15 01:46] luchia commented on #982
The first one should be fixed, that was an error with the code from when Michael and I were working on CC (before I had fixed the Share button issue).

The second can be done, but I wanted to show how uneven it does make the screen -

![screen shot 2015-09-15 at 8 48 56 am](https://cloud.githubusercontent.com/assets/4547737/9863813/d623aee8-5b86-11e5-98bf-46750dadecf3.png)
![screen shot 2015-09-15

[2015-09-15 01:46] luchia commented on #981
This has been fixed -

![screen shot 2015-09-15 at 8 26 07 am](https://cloud.githubusercontent.com/assets/4547737/9863465/910278f6-5b83-11e5-88ea-e8f1954b67be.png)
![screen shot 2015-09-15 at 8 26 20 am](https://cloud.githubusercontent.com/assets/4547737/9863466/9106938c-5b83-11e5-889e-916dc696c519.png)

[2015-09-15 01:46] luchia commented on #976
Okay, I removed it :)

[2015-09-15 01:46] luchia commented on #961
I fixed this one -

![screen shot 2015-09-15 at 8 45 14 am](https://cloud.githubusercontent.com/assets/4547737/9863768/3a1f2c52-5b86-11e5-9cd0-64ab627cf405.png)

[2015-09-15 01:46] luchia commented on #964
I think I've fixed this -

![screen shot 2015-09-15 at 10 44 09 am](https://cloud.githubusercontent.com/assets/4547737/9865254/089b8a5c-5b97-11e5-8dd4-ebb040625982.png)
![screen shot 2015-09-15 at 10 44 14 am](https://cloud.githubusercontent.com/assets/4547737/9865255/089e0c32-5b97-11e5-901f-63e54c323ef3.png)

[2015-09-15 01:47] luchia commented on #980
This has been fixed -

![screen shot 2015-09-15 at 11 06 49 am](https://cloud.githubusercontent.com/assets/4547737/9865498/a18ef192-5b9a-11e5-9187-33629e87c7f5.png)

[2015-09-15 04:41] romichg opened #983 "Technology Filter badge changes position when you switch the technology in the dropdown."

[2015-09-15 05:21] romichg opened #984 "Known 4.0 Flare issues"
- [x] 1.  fix breadcrumbs on back and direct link (no breadcrumb history is currently maintained) _(mostly  done #1004 )_
- [x] 2. fix left-hand side back button (to mirror going up a breadcrumb)  (#955)
- [x] 3. add words to text prediction (currently prediction only works for keywords)
- [x] 4. fix technology dropdown (currently the size is fixed, should be dynamic like amazon) (https://github.c

[2015-09-15 05:26] romichg commented on #967
This is fixed. Good job @michaelhidalgo  thanks @DinisCruz for assist.

[2015-09-15 05:26] #967 closed, assigned to DinisCruz

[2015-09-15 05:27] romichg commented on #966
fixed by @michaelhidalgo

[2015-09-15 05:27] #966 closed, assigned to DinisCruz

[2015-09-15 05:27] romichg commented on #960
This is fixed. Great work @DinisCruz  Thanks for the hard work over the weekend.

[2015-09-15 05:29] #960 closed, assigned to DinisCruz

[2015-09-15 05:30] romichg commented on #959
Related to #960 This is fixed.Great job @DinisCruz

[2015-09-15 05:30] #959 closed, assigned to DinisCruz

[2015-09-15 05:37] romichg commented on #618
This is done.

[2015-09-15 05:37] #618 closed

[2015-09-15 05:39] romichg commented on #712
This is done.

[2015-09-15 05:39] #712 closed

[2015-09-15 05:52] romichg commented on #947
Fixed.

[2015-09-15 05:52] #947 closed, assigned to DinisCruz

[2015-09-15 05:56] romichg commented on #968
this is fixed.

[2015-09-15 05:56] #968 closed, assigned to michaelhidalgo

[2015-09-15 05:57] romichg commented on #958
This is fixed. Great work team!

[2015-09-15 05:57] #958 closed, assigned to michaelhidalgo

[2015-09-15 16:04] romichg opened #985 "Wire Share Button popup"
#

[2015-09-15 16:06] romichg opened #986 "The heart icon isn’t intuitive for the guide. Maybe an open book?"
this needs to change both on the nav and the badge on the gray line in guides.

[2015-09-15 16:11] romichg commented on #863
So based on latest comments, once the user is in Guides, they should remain in the Guide's interface, no matter what the article type is.
When the user selects a "guide" article from the search, they should also be taken to the guide interface and then stay in the guide interface.

[2015-09-15 16:16] romichg opened #987 "Change "Welcome to TEAM Academy" to "Welcome to TEAM Mentor Security Guides""

[2015-09-15 16:26] romichg opened #988 "TEAM Mentor Logo is not clickable after login"

[2015-09-15 16:27] romichg opened #989 "The profile icons isn’t intuitive"
The profile icons isn’t intuitive, since you don’t have any profile features in place yet. Probably a search icon (e.g. magnifying glass) would make more sense at the momen

[2015-09-15 16:44] romichg opened #990 "The i icon doesn’t scream help to me and since the UI is so much like the guide"
had to click both a few times to tell the difference - oh yeah that’s the docs! I think the this could be made more intuitive. Maybe a question mark?

[2015-09-15 16:46] romichg opened #991 "Change the welcome page in Docs to say - Welcome to TEAM Mentor Documentatoin"

[2015-09-15 16:51] romichg opened #992 "Can you add popups for the icons? For instance I clicked the ‘power’ icon on far right and was surprised to be logged out."

[2015-09-15 16:53] romichg opened #993 "Add confirmation page before logging out"
Like basically "You are about to logout from TM, click to continue, or go back to the index"

[2015-09-15 16:53] romichg opened #994 "Jason's comments"
- [x] 1.  Share button doesn’t do anything on click (#985)
- [x] 2.  The heart icon isn’t intuitive for the guide. Maybe an open book? (#986)
- [x] 3.  When clicking through guide articles, is it possible to keep the ToC shown? Maybe that’s what you mean by one of your bullets below? Actually it does seem to stay up sometimes but it is clunky in that it disappears and re-appears with full layout r

[2015-09-15 17:19] romichg opened #995 "Angular version of the error page"
when redirecting to the error page, jade version is automatically selected. There should be an angular version of the error page, with appropriate menu

[2015-09-15 17:24] romichg commented on #982
Yea I am not sure about the narrow line.. @michaelhidalgo what do you think? @luchia can you merge it so we can see how it looks on our browsers, with an understanding that we might want to bring it back to how it is now.

[2015-09-15 17:26] romichg opened #996 "gray column next to article box changes size with single/double column of boxes"
This has been an issue for a while...

[2015-09-15 17:28] romichg commented on #944
All done or tracked elsewhere.

[2015-09-15 17:28] #944 closed, assigned to michaelhidalgo

[2015-09-15 17:36] romichg opened #997 "When URL has a guid that doesn't exist, blank page is shown"
https://tmdev01-beta.teammentor.net/angular/user/article/c4914e51-2609-4edc-8133-31491f1b03c1

For example.

[2015-09-15 18:02] romichg commented on #917
Done/ Decided not to do, or tracked elsewhere.

[2015-09-15 18:02] #917 closed, assigned to michaelhidalgo

[2015-09-15 18:10] romichg commented on #912
Actually the loading preview does not seem to work in mobile.

[2015-09-15 18:49] romichg opened #998 ""Guide" Icon/Badge should be shown in the Guide view as well and should only be showin if the article is a "Guide""

[2015-09-15 18:51] romichg opened #999 "Animation during the selection of dropdown"
See @DinisCruz comment on slack https://securityinnovation.slack.com/archives/tmdev/p1442339213000997

[2015-09-15 18:56] romichg commented on #979
Looks good. I like it.

[2015-09-15 19:03] romichg commented on #981
Seems like its not working the way it is in sshots above.  The top is missing from the lefhandside filters.

![selection_060](https://cloud.githubusercontent.com/assets/1326120/9886868/8b76c536-5bba-11e5-83a4-ef3114c38d6b.png)

Also, is it possible, in mobile view, to move "found and issue" and breadcrumbs all the way up top, just below the search bar?

[2015-09-15 19:05] romichg commented on #976
lol you gave up easily.
This is done.

[2015-09-15 19:05] #976 closed, assigned to luchia

[2015-09-15 19:06] romichg commented on #981
Also, I think as a result of this, the full article view in mobile is messed up. So check that when you fix this.

[2015-09-15 19:07] romichg commented on #980
Related to #981 will close them together when done.

[2015-09-15 19:07] romichg commented on #961
Yep done.

[2015-09-15 19:07] #961 closed, assigned to luchia

[2015-09-15 19:08] romichg commented on #964
Alright looks good. now we just need it to do something :)

[2015-09-15 19:08] #964 closed, assigned to luchia

[2015-09-15 19:25] romichg commented on #488
Related to #997

[2015-09-15 19:26] romichg commented on #829
#961 is done, lets get this added.

[2015-09-15 19:34] romichg commented on #877
@luchia this needs to be fixed! Jade is completely messed up in IE8
![selection_001](https://cloud.githubusercontent.com/assets/1326120/9887762/4d66b148-5bbf-11e5-87b7-f5c54c2c5066.png)

[2015-09-15 19:37] romichg commented on #910
This is fixed. Great findings. Good work!

[2015-09-15 19:37] #910 closed, assigned to michaelhidalgo

[2015-09-15 19:43] romichg commented on #957
It seems like we could use some extra padding not only in FF. As you can see both the lefhand and righthand filters scroll all the way to the bottom without any indication that you've reached the end. This is chrome btw.
![selection_062](https://cloud.githubusercontent.com/assets/1326120/9887986/7c5a3848-5bc0-11e5-9ebe-ef8cb5856ee1.png)

[2015-09-15 19:52] romichg opened #1000 "Wire up the TOC in the user view."
this

![image](https://cloud.githubusercontent.com/assets/656739/9890506/338d106c-5bf8-11e5-912e-a81b02003ccf.png)

[2015-09-15 19:53] romichg commented on #937
This is fixed.

[2015-09-15 19:53] #937 closed, assigned to romichg

[2015-09-15 20:52] romichg opened #1001 "Popups(icon hints) should happen faster"
Right now it is about 1.5 seconds for a pop to occur. It should be close to 500ms.

[2015-09-15 21:04] romichg opened #1002 "Potentially replace the breadcrumb back button"
with something like this: https://d30y9cdsu7xlg0.cloudfront.net/png/46559-200.png

This actually depends on how @DinisCruz will make the breadcrumbs work (or not :) )

[2015-09-15 21:06] romichg commented on #1002
related to #955

[2015-09-15 22:33] luchia commented on #996
The width is fixed so it shouldn't be doing this anymore. Can you show me a photo? This is what the single column and grid look like for me (they're the same width) -

![screen shot 2015-09-16 at 8 30 18 am](https://cloud.githubusercontent.com/assets/4547737/9891923/64e72846-5c4d-11e5-87e2-bf816e0e54c5.png)

[2015-09-15 22:45] luchia commented on #998
Cool, can we assign this one to Dinis or Michael? I'm going to need them to wire it so that it shows only on articles in the Security Guide. I've added the icon to the article-info column.

[2015-09-15 22:48] luchia commented on #979
Cool, this is in Flare now but needs to be wired.

[2015-09-15 22:52] romichg commented on #478
This is done.

[2015-09-15 22:52] #478 closed

[2015-09-16 01:48] romichg commented on #600
@DinisCruz any ideas how we can get this done?

[2015-09-16 01:50] romichg commented on #941
All fixed!

[2015-09-16 01:50] #941 closed, assigned to romichg

[2015-09-16 07:59] luchia commented on #912
This has been fixed -

![screen shot 2015-09-16 at 8 26 23 am](https://cloud.githubusercontent.com/assets/4547737/9891870/0984f7f8-5c4d-11e5-8008-f16a826f7c43.png)
![screen shot 2015-09-16 at 8 28 26 am](https://cloud.githubusercontent.com/assets/4547737/9891871/09881c94-5c4d-11e5-9b4b-fe8d98e92211.png)

But, at the moment, it's uncommented so it doesn't muck up the design. Can be uncommented when

[2015-09-16 08:00] luchia commented on #988
This has been fixed in my PR.

[2015-09-16 08:00] luchia commented on #982
Sure, it's in my PR today.

[2015-09-16 08:00] luchia commented on #990
Changed to a question mark. In my PR today -

![screen shot 2015-09-16 at 8 58 47 am](https://cloud.githubusercontent.com/assets/4547737/9892357/64b250d6-5c51-11e5-80a4-e5c139121c53.png)

[2015-09-16 08:00] luchia commented on #989
Changed to a bookmark (there are stored/saved searches in there, so I thought it made sense). I don't think it's a good idea to have two search icons in the same place. In my PR today -

![screen shot 2015-09-16 at 8 58 47 am](https://cloud.githubusercontent.com/assets/4547737/9892354/5b10f74e-5c51-11e5-8996-b3a66cd3b59f.png)

[2015-09-16 08:00] luchia commented on #992
Yup, these are tooltips and need to be added by Dinis/Michael with JS. This is a duplicate of #1002.

[2015-09-16 08:01] luchia commented on #986
This has been changed. It's in my PR today -

![screen shot 2015-09-16 at 8 58 47 am](https://cloud.githubusercontent.com/assets/4547737/9892338/31860798-5c51-11e5-88ab-d08709c9c3af.png)
![screen shot 2015-09-16 at 8 59 11 am](https://cloud.githubusercontent.com/assets/4547737/9892340/3a553c7c-5c51-11e5-99a2-c751dba78c4c.png)

[2015-09-16 08:01] luchia commented on #993
I thought a modal worked better than a page - plus we already use a modal for Share, so I thought it would be good to be consistent. This needs to be wired.

The modal file is in components/user/ and it's called modal.jade. It needs to be wired by Dinis, the same as the share modal.

[2015-09-16 08:01] luchia commented on #1002
We have an up arrow in the application already -

![screen shot 2015-09-17 at 8 11 01 am](https://cloud.githubusercontent.com/assets/4547737/9920036/4fc818b8-5d14-11e5-87c7-d903a1c2764a.png)

But for the time being, I've removed it so you can't see it (as per yesterdays meeting) -

![screen shot 2015-09-16 at 9 13 28 am](https://cloud.githubusercontent.com/assets/4547737/9892540/35c77d1c-5c53-11e5

[2015-09-16 08:02] luchia commented on #995
Hey Michael, I added a page for you in views/user/ called error.jade. It has the alert mixins in there already. It's in my PR today.

[2015-09-16 22:01] luchia commented on #981
I don't see any issues on the article view -

![screen shot 2015-09-17 at 7 10 51 am](https://cloud.githubusercontent.com/assets/4547737/9918641/4921ff0a-5d0b-11e5-892d-ce687b2d83c4.png)
![screen shot 2015-09-17 at 7 10 54 am](https://cloud.githubusercontent.com/assets/4547737/9918642/4956d32e-5d0b-11e5-8ad9-63005ef9d825.png)

And I fixed the ordering too -

![screen shot 2015-09-17 at 8 00 58 am]

[2015-09-16 22:02] luchia commented on #980
Related issue has been fixed, assigning to you.

[2015-09-16 22:02] luchia commented on #957
This has been fixed -

![screen shot 2015-09-17 at 7 09 29 am](https://cloud.githubusercontent.com/assets/4547737/9918593/14e0c186-5d0b-11e5-8f7a-98ff2d20eb4e.png)

[2015-09-16 22:11] luchia commented on #982
Finished for the moment, as per our call this morning.

[2015-09-16 22:15] luchia commented on #998
As per our meeting this morning, I have commented out this line of writing so it doesn't affect all articles. Michael/Dinis need to wire this so it shows only on articles that are a part of the guide.

For reference, you can find this line in mixins/articles-mixins.jade. Then, you'll need look at the mixin article-metadata.

[2015-09-16 22:17] luchia commented on #1001
This is a duplicate of #992.

[2015-09-16 22:18] luchia commented on #1001
Closing this one because the popups need to be added to be made faster, not the other way around.

[2015-09-16 22:35] luchia commented on #877
This has been re-added in (it was all on branch Issue_877 but I don't think it got merged in for some reason). Can you please test it @michaelhidalgo?

[2015-09-16 23:04] luchia commented on #999
Fixed in my PR today, see beta to see it in action -

![screen shot 2015-09-17 at 9 03 53 am](https://cloud.githubusercontent.com/assets/4547737/9920858/1ebc1bdc-5d1b-11e5-8380-28ac2f40b76e.png)
![screen shot 2015-09-17 at 9 03 56 am](https://cloud.githubusercontent.com/assets/4547737/9920859/1ebf28d6-5d1b-11e5-878b-c22df49d930d.png)
![screen shot 2015-09-17 at 9 03 59 am](https://cloud.githubuser

[2015-09-16 23:05] luchia commented on #969
This has been fixed with #999 in my PR today.

[2015-09-16 23:09] luchia commented on #992
So we have title tags on the nav at the moment and most icons -

![screen shot 2015-09-17 at 9 07 21 am](https://cloud.githubusercontent.com/assets/4547737/9920909/96cf4e6e-5d1b-11e5-8b64-0f237cb7e0e7.png)
![screen shot 2015-09-17 at 9 07 24 am](https://cloud.githubusercontent.com/assets/4547737/9920910/96d61938-5d1b-11e5-880e-bd26700b29e5.png)
![screen shot 2015-09-17 at 9 07 26 am](https://cloud

[2015-09-17 04:34] romichg opened #1003 "HTML5 icon no longer shown"
![selection_062](https://cloud.githubusercontent.com/assets/1326120/9925526/9aa5f70e-5cda-11e5-841b-17e858b1635c.png)

[2015-09-17 04:43] romichg commented on #955
After discussion it was decided to not to do this. Breadcrumbs should solve the navigation need.

[2015-09-17 04:43] #955 closed, assigned to DinisCruz

[2015-09-17 05:11] romichg opened #1004 "Breadcrumbs issues"
- [ ] When navigating/searching for a while and then selecting a breadcrumb somewhere in the middle, and then clicking on the back button, some breadcrumbs are lost and are causing a user pattern interrupt that is confusing.
- [ ] On reload only the last breadcrumb is shown after index
- [ ] When navigating/searching for a bit, then pressing the back button, and then pressing the forward button, b

[2015-09-17 05:23] romichg commented on #1003
We seem to have lost it everywhere, in the filters in the gray box and in the metadata.

[2015-09-17 05:23] romichg commented on #999
Animations are fixed. Still an issue with #969

[2015-09-17 05:23] #999 closed, assigned to romichg

[2015-09-17 05:27] romichg commented on #969
@DinisCruz or @luchia  there is an issue on initial load,

![selection_064](https://cloud.githubusercontent.com/assets/1326120/9925577/10ed9dc2-5cdb-11e5-9846-bc5384663796.png)

then switching to something and switching back, makes it look fine:

![selection_065](https://cloud.githubusercontent.com/assets/1326120/9925588/2b361fec-5cdb-11e5-9a1c-ef656a1cefe1.png)

And there is an issue with small w

[2015-09-17 05:27] romichg commented on #969
@luchia assigning it to you since you'll probably see this first.

[2015-09-17 05:43] romichg commented on #922
Some more issues here:
- [ ] 1. Search for XSS, select 4 articles per page, go to the last page (20), now select "Scala Play" this is what you get:
  ![selection_070](https://cloud.githubusercontent.com/assets/1326120/9925760/2e27354a-5cdd-11e5-9cd7-5c1aa2530ed4.png)
- [ ] 2. When there is 1 article left in a series (for example 77th article out of 77) we should say - SHOWING ARTICLE 77 out of 77,

[2015-09-17 05:49] romichg opened #1005 "Metadata is not shown correctly in the GUIDES"
Looks like Icons are missing

![selection_071](https://cloud.githubusercontent.com/assets/1326120/9925847/1c6d16c0-5cde-11e5-8f40-fa3954174a7e.png)

Also, do you think it would work if we reduce the font size of "this article is part of security guides" as well as "have a comment.." perhaps it would look better on a narrower bar.

[2015-09-17 05:59] romichg commented on #979
There is no AWS content yet, but it should pick it up once there is right?

[2015-09-17 06:03] romichg commented on #981
Looks good, closing this one.

[2015-09-17 06:03] #981 closed, assigned to romichg

[2015-09-17 06:04] romichg opened #1006 "Mobile full artilce view does not wrap text"
![selection_073](https://cloud.githubusercontent.com/assets/1326120/9926096/6c912e28-5ce0-11e5-9e28-f4be96c83a8b.png)

[2015-09-17 06:05] romichg opened #1007 "Mobile drop down does not fit well"
Related to: #969

![selection_073](https://cloud.githubusercontent.com/assets/1326120/9926104/87aa4bcc-5ce0-11e5-8259-ee7170e81b00.png)

[2015-09-17 06:06] romichg commented on #980
Fixed. looks good.

[2015-09-17 06:06] #980 closed, assigned to romichg

[2015-09-17 06:07] romichg commented on #957
Looks good.

[2015-09-17 06:07] #957 closed, assigned to romichg

[2015-09-17 06:08] romichg commented on #982
Looks good. See my comments on #1005  closing this one.

[2015-09-17 06:08] #982 closed, assigned to romichg

[2015-09-17 06:08] romichg commented on #986
Looks good. I like it.

[2015-09-17 06:08] #986 closed, assigned to romichg

[2015-09-17 06:09] romichg commented on #988
Good work.

[2015-09-17 06:09] #988 closed, assigned to romichg

[2015-09-17 06:09] romichg commented on #989
Good stuff, I like this one as well.

[2015-09-17 06:09] #989 closed, assigned to romichg

[2015-09-17 06:09] romichg commented on #990
Looks good!!!

[2015-09-17 06:09] #990 closed, assigned to romichg

[2015-09-17 06:11] romichg commented on #996
This is fixed! d

[2015-09-17 06:11] #996 closed, assigned to romichg

[2015-09-17 06:12] romichg commented on #998
Still is shown on all articles...

[2015-09-17 06:13] romichg commented on #1002
This will not be done as breadcrumbs are enough for nav.

[2015-09-17 06:13] #1002 closed, assigned to romichg

[2015-09-17 06:14] romichg commented on #1001
hmm.. not really, I was talking about popups for the other icons as well...

[2015-09-17 06:14] romichg commented on #877
Can you please merge it into dev? I will give it a shot.

[2015-09-17 06:16] romichg commented on #992
I don't see tags working on nav icons though.. make sure they are there then assign to @DinisCruz along with #1001

[2015-09-17 07:41] luchia commented on #1003
Got it -

![Uploading Screen Shot 2015-09-17 at 9.07.31 am.png…]()
![screen shot 2015-09-17 at 5 38 03 pm](https://cloud.githubusercontent.com/assets/4547737/9927551/e10478be-5d62-11e5-8684-58516be03876.png)

[2015-09-17 07:46] luchia commented on #1007
I need Dinis to give me a hand with this as it's caused by the generated styles he applies.

[2015-09-17 07:54] luchia commented on #1006
This is actually to do with the bug you found where the article text is underneath the gray bar. It's caused by long strings not wrapping. I have fixed this in my PR today.

[2015-09-17 08:02] luchia commented on #1005
This is to do with Dinis/Michael. Template works fine (it's the same as the article view), I think the routing isn't showing the icons.

Re changing font sizes, this is why I didn't want to change the layout from the article view and guides view. We're making exceptions for one layout and adding in a heap of singular use styles that don't match any other part of our application. As well this, read

[2015-09-17 08:03] luchia commented on #877
It has been merged.

[2015-09-17 08:04] luchia commented on #1001
They're all related. It's a tooltip that needs to be added via JS.

[2015-09-17 08:05] luchia commented on #979
Should do, I think Dinis wired it so it reads the name of the icon and matches it to the filter name.

[2015-09-17 13:14] michaelhidalgo commented on #922
Good catch @roman87, the problem seems to be that when you pickup a filter, it does not reset the pages dropdownlist, so if the filter has 10 articles and you are in page 20 of a previous search, it will do the wrong computation.

The solution here is to reset the pages to 1 when selecting a filter, so it starts from the first  page. I'm trying to fix it.

[2015-09-17 14:48] romichg opened #1008 "Word are broken into two lines in FF in Guides and full article view"
![selection_076](https://cloud.githubusercontent.com/assets/1326120/9936355/8e0534ac-5d29-11e5-8143-433a29ff5891.png)
![selection_075](https://cloud.githubusercontent.com/assets/1326120/9936358/9091b8da-5d29-11e5-8da5-2ac6598d7b74.png)

[2015-09-17 15:54] romichg opened #1009 "Guides articles are not ordered the way they are in the XML file"

[2015-09-17 16:53] romichg commented on #863
This is done.

[2015-09-17 16:53] #863 closed

[2015-09-17 16:59] romichg opened #1010 "Metadata Icons not showing up in the guides view"
![selection_077](https://cloud.githubusercontent.com/assets/1326120/9940139/f13a2606-5d3b-11e5-9869-c7946bd92c80.png)

[2015-09-17 17:39] DinisCruz commented on #918
### ssl

![image](https://cloud.githubusercontent.com/assets/656739/9940979/a0ef2730-5d6a-11e5-9154-6b769b186370.png)

### headers ssl

![image](https://cloud.githubusercontent.com/assets/656739/9940999/b0a6cff2-5d6a-11e5-8c2d-36178ffc7032.png)

### security headers

![image](https://cloud.githubusercontent.com/assets/656739/9941046/c7315d0a-5d6a-11e5-9c2f-1b331b261838.png)

### desktop security

[2015-09-17 19:32] romichg opened #1011 "Top Articles heading is shown twice, once where it shoudlbe the other all the way at the bottom"
![selection_078](https://cloud.githubusercontent.com/assets/1326120/9943741/465d5e36-5d51-11e5-8aa7-bf4552395e30.png)

[2015-09-17 21:09] luchia commented on #998
It's hidden now, assigning to Dinis.

[2015-09-17 21:18] BendixSpring opened #1012 "404 error for Jade Terms and Conditions"
https://beta.teammentor.net/jade/misc/terms-and-conditions

[2015-09-17 21:21] BendixSpring opened #1013 "Copyright (C) symbol missing at the bottom of each page"
I'm assuming that we want a copyright symbol (C) associated with:
Security Innovation 2015. All rights reserved.

[2015-09-17 21:28] BendixSpring opened #1014 "Filter by Technology list is unsorted"
Current sorting for Technology:
- Web Application
- Technology Independent
- C++
- iOS
- Java
- Android
- .NET
- Scala Play
- PHP
- WCF
- HTML

Recommendation:  Sort alphabetically.  Also sort the TYPE filters.

[2015-09-17 21:34] BendixSpring opened #1015 "Unable to view more than 250 articles"
Search for the word "and"
![image](https://cloud.githubusercontent.com/assets/3578332/9946580/1dd638e6-5d62-11e5-8aa2-45f8ceab03d5.png)

I am unable to look at the next 250 results. Add a button that allows user to select the next bunch of articles.

Also for slow systems, it might take a while to load 250 articles.  If everyone could configure their search results (example:  25, 50, 100) (and man

[2015-09-17 21:38] BendixSpring opened #1016 "Insufficient article text displayed on very large monitor"
On a big monitor, the article text is not sufficiently long enough to fill the space.  If people have a big monitor, it's nice to be able to fully utilize it:
![image](https://cloud.githubusercontent.com/assets/3578332/9946690/e0193912-5d62-11e5-8c17-13f5aff68ad6.png)

[2015-09-17 21:42] BendixSpring opened #1017 "Unable to resize Index and Filter by regions"
It would be nice to allow more real estate for looking at articles if we could resize or at least minimize the Index and Filter by regions by dragging the boundary to one side or clicking a shrink button.

[2015-09-17 21:45] BendixSpring opened #1018 "Unlinked content makes the tool less helpful"
This page has references to other articles that are important for understanding:
https://beta.teammentor.net/jade/article/2142c74362bc/Perform-a-Security-Design-Review

See "Web Application Security Design Inspections Questions". -- this should have links that point to the specific page.

[2015-09-17 21:50] BendixSpring commented on #1012
This is on the default page:  https://beta.teammentor.net/jade/guest/default.html

[2015-09-17 22:17] luchia commented on #1010
Duplicate

[2015-09-17 22:17] #1010 closed, assigned to luchia

[2015-09-17 22:22] romichg commented on #1005
Let change the wording for "this article is part of security guides" to just "security guides"

[2015-09-17 22:23] romichg commented on #1012
@BendixSpring are you using IE? Try it with FF or Chrome/Safari

[2015-09-17 22:50] romichg opened #1019 "free articles do not work in flare."

[2015-09-18 00:29] romichg opened #1020 "Cool idea from Joe on breadcrumbs"
@luchia how hard would this be to build? So basically breadcrumbs will be the boxes underneath the main box instead of how they look like now. @DinisCruz what do you think?
- When drilling down into the index I felt a little lost when I clicked things. It took me a bit to realize the breadcrumb above the articles was where I was in the index. I think that could be moved above the index or you coul

[2015-09-18 00:31] romichg opened #1021 "Bottom padding alignment issue (from Joe)"
I noticed the bottom padding doesn’t line up, I added the lines here to make it more obvious.
![screenshot 2015-09-17 13 29 34](https://cloud.githubusercontent.com/assets/1326120/9949466/013b7778-5d7b-11e5-80eb-14b6c9f1540f.PNG)

[2015-09-18 00:32] romichg opened #1022 "Dropdown isnt styled properly (Safari) from Joe"
The dropdown isn’t styled properly in Safari. It looks more natural in chrome, so it might just be a safari issue.

![screenshot 2015-09-17 13 30 21](https://cloud.githubusercontent.com/assets/1326120/9949473/23de4c1a-5d7b-11e5-8283-b466e5905b7b.PNG)

[2015-09-18 00:35] luchia commented on #1005
PR submitted .My part is fixed here  -

![screen shot 2015-09-18 at 9 31 19 am](https://cloud.githubusercontent.com/assets/4547737/9948617/1e623fb8-5de8-11e5-8d7b-fc6de824d921.png)

Assigning to Dinis to wire the icons.

[2015-09-18 00:35] luchia commented on #1007
PR submitted. As per our meeting this morning, I made a custom dropdown for Mobile which eliminates this issue. I need Dinis to wire this now.

![screen shot 2015-09-18 at 10 24 58 am](https://cloud.githubusercontent.com/assets/4547737/9949443/1283beda-5df0-11e5-9353-1197f5d79105.png)
![screen shot 2015-09-18 at 10 27 18 am](https://cloud.githubusercontent.com/assets/4547737/9949444/12874974-5df0-

[2015-09-18 00:35] luchia commented on #1006
PR submitted. This has been fixed. It caused another bug (#1008) which has also been fixed.

[2015-09-18 00:36] luchia commented on #969
Something to do with Dinis's code. I had a play with the Angular files but couldn't get it to work. Dinis, can you take a look? I removed the flex and width attributes from the stylesheets.

[2015-09-18 00:36] luchia commented on #1011
PR submitted. Fixed -

![screen shot 2015-09-18 at 7 30 33 am](https://cloud.githubusercontent.com/assets/4547737/9946548/521d4002-5dd7-11e5-818f-4e0c08cb33d4.png)

[2015-09-18 00:37] luchia commented on #1008
PR submitted. Fixed -

![screen shot 2015-09-18 at 7 21 41 am](https://cloud.githubusercontent.com/assets/4547737/9946346/fc3cd0a4-5dd5-11e5-9941-8c6f556f4402.png)

[2015-09-18 00:42] luchia commented on #1021
Yup, for some reason @michaelhidalgo height code isn't working on the middle column anymore.

[2015-09-18 00:44] romichg opened #1023 "Links with querries/serches shoudl redirect to login for non logged in users"
https://tmdev01-beta.teammentor.net/angular/user/index/query-00e5f2a398d2/query-5090bb51ad10

this should redirect to a login page, and then display the page upon successful login.

[2015-09-18 01:41] luchia commented on #1017
For the time being, you can toggle the filters by clicking the filter icon -

![screen shot 2015-09-18 at 11 39 39 am](https://cloud.githubusercontent.com/assets/4547737/9950096/fbe524a2-5df9-11e5-80ea-af50e6c2e7e0.png)
![screen shot 2015-09-18 at 11 39 43 am](https://cloud.githubusercontent.com/assets/4547737/9950097/fbe92f20-5df9-11e5-99f2-fc401bb92ca5.png)

[2015-09-18 01:50] luchia commented on #1020
Shouldn't be too hard :+1:

[2015-09-18 02:15] romichg commented on #1017
Filters already slide in and out. @luchia how hard would it be to add similar functionality for lefthand side? I will put this a P2 for now. We can discuss if we have time.

[2015-09-18 02:18] romichg commented on #1021
so is this your or @michaelhidalgo fix?

[2015-09-18 02:26] romichg commented on #1003
This is fixed. HTML5 is back :)

[2015-09-18 02:26] #1003 closed, assigned to romichg

[2015-09-18 03:07] romichg opened #1024 "Looks like we have a nasty issue in IE"
![selection_001](https://cloud.githubusercontent.com/assets/1326120/9950807/b1497492-5d8c-11e5-8dd5-a871794fd4c0.png)

[2015-09-18 03:55] romichg opened #1025 "Some versions of FF do not got to Flare"
Danny had an issue with this user agent
Mozilla/5.0 (compatible)

[2015-09-18 05:11] romichg commented on #877
Still an issue with IE8 You can test it with IE8 emulation mode on a Windows VM.

![selection_002](https://cloud.githubusercontent.com/assets/1326120/9952320/38e1fa72-5da2-11e5-8572-bef591100269.png)

[2015-09-18 05:14] romichg commented on #979
Ok cool.. Then closing this one.

[2015-09-18 05:19] romichg opened #1026 "Clicking on TM logo no longer works in Jade"
![selection_079](https://cloud.githubusercontent.com/assets/1326120/9952413/3e5ea800-5da3-11e5-8009-f97eed8690f8.png)

looks like route to https://beta.teammentor.net/user/main.html is missing

[2015-09-18 05:23] romichg commented on #1014
Good point.

[2015-09-18 05:26] romichg commented on #1016
That is interesting, I would actually argue that on a large monitor I should see more articles than more text. It is also difficult to do since we are loosing formatting, and more text might look quite weird if there is a code sample that gets in there.  Anyways, good point for more research.

[2015-09-18 05:29] romichg commented on #1007
I don't like the filter icon though. It is confusing with the filter icon in the desktop view. Just sayn'.

[2015-09-18 05:30] michaelhidalgo commented on #877
Yes it is breaking on IE 8 (from SauceLabs)

![screen shot 2015-09-17 at 23 33 11](https://cloud.githubusercontent.com/assets/1732035/9952523/0114a4a4-5d94-11e5-9b4b-63cc49821b13.png)

[2015-09-18 12:00] luchia commented on #1022
Fixed -

![screen shot 2015-09-18 at 11 49 41 am](https://cloud.githubusercontent.com/assets/4547737/9950203/674b54a4-5dfb-11e5-9119-af8ecbeb2a69.png)

[2015-09-18 12:00] luchia commented on #1020
This has been built -

![screen shot 2015-09-18 at 12 10 30 pm](https://cloud.githubusercontent.com/assets/4547737/9950639/f1bccf56-5dff-11e5-96d6-0250f2ce324f.png)
![screen shot 2015-09-18 at 12 10 33 pm](https://cloud.githubusercontent.com/assets/4547737/9950640/f1beefa2-5dff-11e5-85ec-2e6040a0da2a.png)

Needs to be wired up properly by Dinis. @DinisCruz, I commented it out in the queries file.

[2015-09-21 03:37] michaelhidalgo commented on #922
With Pull Request

[2015-09-21 04:03] michaelhidalgo commented on #1005
Assigning it to me, I have wired it, just need Lucy's changes merged so icons can be displayed.

[2015-09-21 04:06] michaelhidalgo commented on #1021
Hi @luchia , I don't think it is related with height code. I just hide or show the scroll dynamically. Note that three columns are not aligned (left hand side navigation, middle navigation and right hand side navigation).

[2015-09-21 18:40] DinisCruz commented on #1020
ok, looking at it

[2015-09-21 18:47] DinisCruz commented on #1026
fixed

[2015-09-21 18:52] romichg commented on #922
This looks good. Closing.

[2015-09-21 18:52] #922 closed, assigned to michaelhidalgo

[2015-09-21 18:52] DinisCruz commented on #1025
I will need more than that :)

Can Danny provide the full user agent

[2015-09-21 18:53] romichg commented on #1005
Doesn't seem like Icons are showing stil..

[2015-09-21 18:59] DinisCruz commented on #1001
Yeah i doesn't seem to be a way to speed up the html tooltip

@luchia what do you think of adding a simpler version of http://github.hubspot.com/tooltip/docs/welcome/  ? to TM (i.e. use CSS and Javascript)

[2015-09-21 19:07] DinisCruz commented on #997
ok, here is what is now shown when the article cannot be resolved from the provided ID

![image](https://cloud.githubusercontent.com/assets/656739/10001952/4c9d0672-609c-11e5-9f0b-cb3156fee7e4.png)

Is that text ok, if not, put here the desired text

[2015-09-21 21:14] luchia commented on #877
Woops, I stuffed up. Sorry guys, [this is why](http://stackoverflow.com/questions/5769493/ie8-support-for-css-media-query).

Which makes it if later than IE 8, not realising that I can only target if later than IE 9.

I have merged this onto Dev. We need to test this again. Sorry for the muck around.

[2015-09-21 21:45] romichg commented on #1025
That is what he provided. Let me check again..
So Danny is using this http://chrispederick.com/work/user-agent-switcher/  and that is why we are not getting the right user agent :).

[2015-09-21 21:45] #1025 closed, assigned to DinisCruz

[2015-09-21 21:54] romichg commented on #997
Well, we shouldn't really have a share button there nor a comment button :). In fact we should have a generic "Page not found" instead of article not found. As I think this is shown for any page that is not found. like https://tmdev01-beta.teammentor.net/angular/user/searchblah

[2015-09-21 23:36] romichg opened #1027 "Password reset not working"
@luchia I think this one might be yours, if not send it to @DinisCruz to fix first thing in the morning.

![04](https://cloud.githubusercontent.com/assets/1326120/10007980/f33355fe-6097-11e5-94e0-e237003cea4f.png)

[2015-09-22 00:23] luchia commented on #1027
Template is there, it just needs to be routed. Assigning to Dinis.

[2015-09-22 01:12] luchia commented on #1007
What about a menu icon?

![screen shot 2015-09-22 at 11 12 14 am](https://cloud.githubusercontent.com/assets/4547737/10009075/d0f24792-611a-11e5-934a-e18a05916955.png)

[2015-09-22 01:54] romichg commented on #1007
looks good... did you try it the same color as the original dropbox?

[2015-09-22 05:43] michaelhidalgo commented on #1027
With Pull Request https://github.com/TeamMentor/TM_Angular/pull/20

[2015-09-22 14:58] romichg commented on #1027
Still not working actually @DinisCruz please help out.

[2015-09-22 16:18] romichg opened #1028 "Password reset link (emailed to the user) should use the flare/jade switch"

[2015-09-22 19:16] romichg opened #1029 "Tables can be shown better"
https://beta.teammentor.net/angular/user/article/1f8046b8ad9d/Validate-Input-for-Length,-Range,-Format,-And-Type

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10028858/d2c45912-613c-11e5-9fe3-83832ab88499.png)

[2015-09-23 08:20] luchia commented on #1021
Okay, but that needs to be fixed because it's now in the beta. The bottoms will line up when the .scrolling-results works properly.

![screen shot 2015-09-23 at 6 21 49 pm](https://cloud.githubusercontent.com/assets/4547737/10040542/faeda40a-621f-11e5-9b3b-d35268a1e1b4.png)

If you go the index page, the left and right hand columns do line up properly., the middle doesn't. The only reason the left

[2015-09-23 10:31] luchia commented on #1001
Hey Dinis, I built this.

![screen shot 2015-09-23 at 8 29 47 pm](https://cloud.githubusercontent.com/assets/4547737/10042904/0499fb18-6232-11e5-889a-83cd956f1cd5.png)

To do this:

But, how would you like to do the positioning?

[2015-09-23 11:11] luchia commented on #1029
![screen shot 2015-09-23 at 9 10 11 pm](https://cloud.githubusercontent.com/assets/4547737/10043575/8d5e9490-6237-11e5-8304-dd67349e33c5.png)

Do you like this? And more importantly, is there enough contrast on your screen?

[2015-09-23 11:12] luchia commented on #962
Yo @roman87, are you still having an issue with this?

[2015-09-23 11:14] luchia commented on #1017
It wouldn't be hard, we'd just need Dinis to make the column toggle-able.

[2015-09-23 11:16] luchia commented on #877
Can you please merge the latest to beta? Then I can test it with IE8.

[2015-09-23 16:14] romichg commented on #1029
Yes looks pretty good. The background can be a notch lighter. But overall pretty good!

[2015-09-23 16:21] romichg commented on #962
![selection_001](https://cloud.githubusercontent.com/assets/1326120/10051172/4292a5c6-61ee-11e5-89b8-9bd793883991.png)
It still looks slightly misaligned in linux. Though in windowze its fine. I am thinking it probably has something to do with the fonts.

Anyways, I am going to make it a P1 for now

[2015-09-23 16:42] romichg opened #1030 "Back button does not work in Guides"

[2015-09-23 16:43] romichg opened #1031 "Recent search terms don't update"

[2015-09-23 19:58] yankola opened #1032 "Client logos are not evenly spaced on homepage"
<img width="745" alt="screen shot 2015-09-23 at 3 58 27 pm" src="https://cloud.githubusercontent.com/assets/12300809/10056996/f849c49a-620b-11e5-92e4-d9322f7ee2a7.png">

[2015-09-23 20:02] yankola opened #1033 "SI logo should be complete in footer"
I feel that we need to be using the entire SI logo in the footer rather than the solo lock. Not only will this keep our brand consistent, but it will create a stronger balance between both sides of the footer.

<img width="1113" alt="screen shot 2015-09-23 at 4 02 31 pm" src="https://cloud.githubusercontent.com/assets/12300809/10057100/87d8f52c-620c-11e5-92ed-2bacf5f3b62c.png">

[2015-09-23 20:15] yankola opened #1034 "Sign-up page is very overwhelming - reorder fields"
The sign-up page fields are very overwhelming to me because there are so many. I suggest grouping the information a little differently:

_Left Column_
first name, last name, email address, password, confirm password

_Right Column_
username, company, job title, country, state (perhaps country and state as drop downs)

I think Nike does a nice job of spacing out the fields and creating a bit of var

[2015-09-23 20:43] DinisCruz commented on #1031
This is not a trivial fix since it requires the move of the top search into the graphdb where it should live (at the moment the prob is that top searches in only populated in Jade using this code

[code]

in Search-Controller.coffee  (TM_Website)

[2015-09-23 20:45] DinisCruz commented on #1028
this is happening now

[2015-09-23 20:46] DinisCruz commented on #1027
this should be working now with the small issue that we are doing the redirect to the login page after 2 seconds (where the Jade solution is better since it shows the login page with the 'your pwd was changed ok' message)

[2015-09-23 20:49] DinisCruz opened #1035 "Add 'My Searches' to Flare user page"
missing from ![image](https://cloud.githubusercontent.com/assets/656739/10058320/bc6791c4-623c-11e5-97aa-68c18e2d0dce.png)

@roman87 can you map the priority

related to https://github.com/TeamMentor/TM_4_0_Design/issues/1000 and https://github.com/TeamMentor/TM_4_0_Design/issues/1031

[2015-09-23 20:50] DinisCruz commented on #1000
this is now wired (using html anchor tags)

[2015-09-23 20:52] DinisCruz commented on #997
I don't think we should change the link, since that will be confusing for the user, and in fact the comment button is very relevant (the share is not  :)  )

[2015-09-23 20:53] DinisCruz commented on #992
this will be solved by https://github.com/TeamMentor/TM_4_0_Design/issues/1001, I think we should close this issue and track it on #1001

[2015-09-23 20:54] DinisCruz commented on #985
what should happen when the user click on it?

[2015-09-23 21:00] DinisCruz commented on #978
can you try now, it looks like those results are there (just not showing up enough in the searches)

![image](https://cloud.githubusercontent.com/assets/656739/10058631/6c2ff24e-623e-11e5-869b-a8907e68537e.png)

![image](https://cloud.githubusercontent.com/assets/656739/10058647/87ce11de-623e-11e5-8a98-3353c6ee18bc.png)

[2015-09-23 21:04] DinisCruz commented on #965
is this still happening?

[2015-09-23 21:04] DinisCruz commented on #954
@michaelhidalgo can do this one since it is related to the pagination stuff he has done before

[2015-09-23 21:05] DinisCruz commented on #953
@michaelhidalgo should do this once since it is on 3.5 and he is the one that has touched that code recently

[2015-09-23 21:06] DinisCruz commented on #952
renaming /angular to /flare is not a simple change and we will need to have better code coverage before we do it

[2015-09-23 21:07] DinisCruz commented on #914
just merged

[2015-09-23 21:08] DinisCruz commented on #826
I think we should leave it as it is

[2015-09-23 21:15] DinisCruz commented on #912
humm, where the loading_bar used? , I can't see it on index

![image](https://cloud.githubusercontent.com/assets/656739/10059045/8de6e2e2-6240-11e5-8a90-7373264fa61b.png)

and this is the contents of the loading_bar component

![image](https://cloud.githubusercontent.com/assets/656739/10059015/6321bae6-6240-11e5-975e-974dbb5fefb0.png)

[2015-09-23 21:17] DinisCruz commented on #600
this is related to the pagination issues that @michaelhidalgo is working on (and scrolling) so pushing this to him

[2015-09-23 21:25] luchia commented on #877
Alright, I found our issue -

![screen shot 2015-09-24 at 7 21 07 am](https://cloud.githubusercontent.com/assets/4547737/10059247/42d21360-628d-11e5-93ec-af02c39875ec.png)
![screen shot 2015-09-24 at 7 20 48 am](https://cloud.githubusercontent.com/assets/4547737/10059246/42ca2c22-628d-11e5-8520-05f1f9157f87.png)

The conditional comment wasn't being rendered properly because of Jade. This has been

[2015-09-23 21:34] DinisCruz commented on #985
@luchia can you put a reference to here on the location of the flare component

[2015-09-23 21:59] romichg commented on #1035
Since its a days worth of work, we have bigger fish to fry at the moment.

[2015-09-23 22:02] romichg commented on #1031
As discussed we will leave this for last as we can remove the feature entirely for now.

[2015-09-23 22:03] romichg commented on #1028
Yep this is working, closing.

[2015-09-23 22:03] #1028 closed, assigned to DinisCruz

[2015-09-23 22:04] romichg commented on #1027
This is fixed. @michaelhidalgo will open a follow up issue to address the 2 seconds later.

[2015-09-23 22:04] #1027 closed, assigned to DinisCruz

[2015-09-23 22:11] romichg commented on #997
Nothing to do with changing the link. This page is shows not only when the article cannot be found, but when any error condition is met. For example a search page  with querries cannot be found. Thats why the "Article Not Found" is not always appropriate. As well as "Have a comment about this article" is not appropriate ether.

[2015-09-23 22:12] romichg commented on #997
Related to #995

[2015-09-23 22:16] romichg commented on #952
Quite poor planing here. We knew we were going to name it like this a long time ago. I don't understand why we cant simply do a search and replace of /angular to /flare

[2015-09-23 22:27] romichg commented on #970
Related to #974

[2015-09-23 22:44] arvinddoraiswamy opened #1036 "Rework the way the prediction is done based on order of user input"
If I login and search for something starting with 'a' (All technologies) I should get a list of all articles with 'a'. Right now I get Information Leakage as the first result.

[2015-09-24 10:03] luchia commented on #962
I don't think there's really that much we can do about it, without stuffing up the other browsers -

##### Chrome

![screen shot 2015-09-24 at 10 21 50 am](https://cloud.githubusercontent.com/assets/4547737/10062469/3ce2645a-62a6-11e5-8b23-e3da6ed88cb4.png)

##### Firefox

![screen shot 2015-09-24 at 10 22 04 am](https://cloud.githubusercontent.com/assets/4547737/10062470/3ce5670e-62a6-11e5-9fba-1

[2015-09-24 10:03] luchia commented on #912
Hey Dinis, loading_bar component should only contain that class (that's all it needs). I've added in the component to the index page so you can see where it's supposed to go. It's commented out at the moment.

[2015-09-24 10:03] luchia commented on #1029
![screen shot 2015-09-24 at 10 19 37 am](https://cloud.githubusercontent.com/assets/4547737/10062419/c82d1c18-62a5-11e5-9e0a-ae84b35d43ea.png)

Fixed

[2015-09-24 10:04] luchia commented on #1033
I agree. I think we should revert back to Jade for this for consistency but also searchable text (SEO reasons). Instead of the logo, I propose text -

![screen shot 2015-09-24 at 9 21 05 am](https://cloud.githubusercontent.com/assets/4547737/10061604/9a3a9f22-629d-11e5-909c-8a192d69e978.png)

[2015-09-24 10:04] luchia commented on #985
What it should look like -
![screen shot 2015-09-24 at 8 49 42 am](https://cloud.githubusercontent.com/assets/4547737/10061130/85862bb8-6299-11e5-8918-5d8e9de6081c.png)

And you can find it in Flare/components/user/modal.jade
![screen shot 2015-09-24 at 8 50 09 am](https://cloud.githubusercontent.com/assets/4547737/10061131/8588e10a-6299-11e5-91a6-b22de19600ff.png)

[2015-09-24 15:15] romichg commented on #1000
I thought we said we are going to have more than 3 articles?, Also this doesn't work currently. Recent articles don't show anything.

[2015-09-24 15:16] romichg commented on #992
Agreed closing as dupe.

[2015-09-24 15:16] #992 closed, assigned to DinisCruz

[2015-09-24 15:30] romichg commented on #978
Still a problem.
Search for cross-site, select Vulnerability as a filter. Only CSRF articles are shown.

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10077720/85d30120-62af-11e5-9c24-363f17fa5b65.png)

However I can easily Navigate to XSS articles. Select Vulnerabilities on the right, select vulnerabilities on the left, scroll down to cross site scripting

![selection_002](h

[2015-09-24 15:45] romichg commented on #965
This is no longer happening.

[2015-09-24 15:45] #965 closed, assigned to romichg

[2015-09-24 15:49] romichg commented on #953
@luchia can you point to where the editor stuff you did for Flare is?

[2015-09-24 15:54] romichg commented on #914
Thanks.

[2015-09-24 15:54] #914 closed, assigned to romichg

[2015-09-24 16:15] romichg opened #1037 "Links in Docs are broken"
None of the links in the Docs are working.

[2015-09-24 16:20] romichg opened #1038 "Back button does not work in Docs"
Same as in Guides (#1030)

[2015-09-24 16:29] romichg commented on #826
Substentiate :)? We still need to make sure that https://teammentor.net/teamMentor/open/c57eaf7a-f02e-4172-8221-38fb47dbf402#load:47a10a30-15ad-4cfd-bf82-00e9bb2037f6&showFilters:false&showTree:false&centerGuidanceItems:true

Works as described in issue: #784

[2015-09-24 16:31] romichg commented on #962
Thats why its a P1 :)

[2015-09-24 16:32] romichg commented on #1029
Perfect, lets put it in.

[2015-09-24 16:33] romichg commented on #1033
@yankola  what do you think?

[2015-09-24 16:44] romichg commented on #1006
This still doesn't work with the latest stuff.

![selection_003](https://cloud.githubusercontent.com/assets/1326120/10079764/ec39d592-62b9-11e5-9df8-16ee06162b18.png)

[2015-09-24 16:49] romichg commented on #1008
Right now we get words carried over in FF. Which is probably not the best solution. It works fine in Chrome.

![selection_005](https://cloud.githubusercontent.com/assets/1326120/10079970/ffbf512c-62ba-11e5-9554-12ef05b90372.png)

[2015-09-24 16:53] romichg commented on #949
fixed.

[2015-09-24 16:53] #949 closed, assigned to romichg

[2015-09-24 17:01] romichg commented on #1011
This is fixed. We could use some bottom padding on the page though

![selection_008](https://cloud.githubusercontent.com/assets/1326120/10080213/65b3a04a-62bc-11e5-917a-bb82d6eb9a31.png)

[2015-09-24 17:06] yankola commented on #1033
I think it would be better to have the actual logo, but if we can't add a tag to it to help with searchable text, this works. I didn't see any mention of Security Innovation on the rest of the site so it might be our only option?

[2015-09-24 21:02] luchia commented on #1029
It is in :)

[2015-09-24 22:18] luchia commented on #1006
Very strange, working in all of my browsers. What is the browser you're using?

![screen shot 2015-09-25 at 8 15 58 am](https://cloud.githubusercontent.com/assets/4547737/10088395/e8a6fe6a-635d-11e5-8d31-6012d4932152.png)
![screen shot 2015-09-25 at 8 16 25 am](https://cloud.githubusercontent.com/assets/4547737/10088396/e8ac01c6-635d-11e5-9304-64cf4c6cdcd9.png)
![screen shot 2015-09-25 at 8 16 41

[2015-09-24 22:33] luchia commented on #953
It's not finished, but the stuff is in Flare/views and Flare/components.
- article-editor.jade
- article-view-editor-option.jade

[2015-09-24 23:36] romichg commented on #1006
Its not working on your FF, look closer in your screenshot :)

[2015-09-25 00:48] luchia commented on #1032
The new logos -

![screen shot 2015-09-25 at 10 47 05 am](https://cloud.githubusercontent.com/assets/4547737/10090455/fab6fc8a-6372-11e5-8f75-91bc8c67e4f5.png)

And in the browser -

![screen shot 2015-09-25 at 10 48 01 am](https://cloud.githubusercontent.com/assets/4547737/10090456/faba3f58-6372-11e5-8799-9316a804a97c.png)

[2015-09-25 01:02] yankola commented on #1032
The logos look great! Although they don't seem to be centered below the text "Our clients...". This might be due to the width of the browser and the responsive design? I'm not sure, but I wanted to point it out because I know you're always on point with aligning everything to the grid! :)

[2015-09-25 01:28] luchia commented on #1032
Good pick up :)

![screen shot 2015-09-25 at 11 27 14 am](https://cloud.githubusercontent.com/assets/4547737/10090910/732be2a2-6378-11e5-9cdc-fd83890b1ff6.png)

This will be in my PR today @roman87.

[2015-09-25 01:28] luchia commented on #1034
How does this look to everyone?

![screen shot 2015-09-25 at 11 18 53 am](https://cloud.githubusercontent.com/assets/4547737/10090827/3b6363e6-6377-11e5-828f-31c6e534a373.png)

[2015-09-25 01:31] luchia commented on #1034
Actually, with a little more spacing -

![screen shot 2015-09-25 at 11 31 30 am](https://cloud.githubusercontent.com/assets/4547737/10090965/fe476b4a-6378-11e5-9e14-ec4ae7197e74.png)

[2015-09-25 01:32] yankola commented on #1032
Perfect!

[2015-09-25 01:32] luchia commented on #1011
![screen shot 2015-09-25 at 8 32 04 am](https://cloud.githubusercontent.com/assets/4547737/10088690/ebd6d0a4-635f-11e5-986a-0afe8f0fb7b6.png)

Fixed, in my PR today.

[2015-09-25 04:29] luchia commented on #1008
This has been fixed as well, please take a look.

[2015-09-25 04:29] luchia commented on #1006
I did change one small thing so let me know if that fixes the issue for you.

[2015-09-25 04:29] luchia commented on #1033
Good point :+1:

![screen shot 2015-09-25 at 2 13 33 pm](https://cloud.githubusercontent.com/assets/4547737/10092951/aa89e926-638f-11e5-8bce-c0099b508e0a.png)

[2015-09-25 12:43] yankola commented on #1033
Looks great!

[2015-09-25 20:36] yankola commented on #1034
I think it's looking better. My biggest complaint is that the button is too large. Does anyone else have a suggestion as to how to give this page more variety?

[2015-09-25 23:04] romichg commented on #1032
Looks good. @yankola can you just make sure it looks good to your eyes. It is on https://tmdev01-beta.teammentor.net (not on the beta site yet)

[2015-09-26 02:59] luchia commented on #877
I'm really, really close with this. I just went through it and picked up a few small details that I missed. One thing that I've found is that the results showing and active filters aren't working in IE8

![screen shot 2015-09-26 at 12 58 07 pm](https://cloud.githubusercontent.com/assets/4547737/10115535/5cb3c464-644e-11e5-8cfa-640a6059e3b3.png)

I don't think this is a CSS issue.

I will submit my

[2015-09-26 03:42] yankola commented on #1032
Yup! I approved already. See above ^. :)

[2015-09-26 04:45] romichg commented on #1011
Yep done.

[2015-09-26 04:45] #1011 closed, assigned to romichg

[2015-09-26 04:46] romichg commented on #1033
Done, closing.

[2015-09-26 04:46] #1033 closed, assigned to luchia

[2015-09-26 04:49] romichg commented on #1034
I am not sure about username on the right. Username is kinda the first mandatory thing that you want people to put in. Just doesn't feel right on the right :) and yea, I agree, button is definitely oversized.

[2015-09-26 04:55] romichg commented on #1008
Is there a new version? Seem like it is still doing it...
![selection_001](https://cloud.githubusercontent.com/assets/1326120/10115913/53bafed2-63e9-11e5-9727-e4bd73024f0b.png)

[2015-09-26 04:56] romichg commented on #1006
um no :)

[2015-09-26 04:57] romichg commented on #877
I just reloaded tmdev01 5 min ago..

[2015-09-26 04:58] romichg commented on #1032
alright cool.. closing.

[2015-09-26 04:58] #1032 closed, assigned to romichg

[2015-09-26 08:30] luchia commented on #1034
![screen shot 2015-09-26 at 6 29 00 pm](https://cloud.githubusercontent.com/assets/4547737/10116610/7e7d6b58-647c-11e5-928c-dd3e37f62c11.png)

So nice having another designer look at my work. After staring at this thing for 15 months, I don't see what's wrong with it anymore. Open to more suggestions.

[2015-09-26 08:52] luchia commented on #1017
As per our discussions on our meeting, we think the index should be toggle-able on mobile, but not on desktop. This is ready for Dinis to wire up.

![screen shot 2015-09-26 at 6 46 56 pm](https://cloud.githubusercontent.com/assets/4547737/10116661/04cef09e-647f-11e5-8cef-8fa1499c57c7.png)
![screen shot 2015-09-26 at 6 47 00 pm](https://cloud.githubusercontent.com/assets/4547737/10116662/04cfc4ce-6

[2015-09-26 09:11] luchia commented on #1008
![screen shot 2015-09-26 at 7 05 42 pm](https://cloud.githubusercontent.com/assets/4547737/10116751/e98f20da-6481-11e5-8a29-42c37ba00829.png)

Argh, sorry! I had to force this option (I didn't realise).

[2015-09-26 09:11] luchia commented on #1006
![screen shot 2015-09-26 at 7 05 42 pm](https://cloud.githubusercontent.com/assets/4547737/10116749/e3002930-6481-11e5-8acd-2796e9a59ab8.png)

Same as #1008, I had to force it and didn't realise.

[2015-09-27 02:12] BendixSpring commented on #1017
Not on the desktop?  The whole point is that if you have a gigantic monitor, being able to size things allows you to maximize your monitor.  Don’t most programmers have 2 or more big monitors?

--Danny

From: Lucy Bloomfield [mailto:notifications@github.com]
Sent: Saturday, September 26, 2015 4:53 AM
To: TeamMentor/TM_4_0_Design TM_4_0_Design@noreply.github.com
Cc: Danny Harris dharris@securityinn

[2015-09-28 14:42] romichg commented on #1008
Yey.. fixed.

[2015-09-28 14:42] #1008 closed, assigned to luchia

[2015-09-28 14:42] romichg commented on #1006
fixed as well.. great!

[2015-09-28 14:42] #1006 closed, assigned to luchia

[2015-09-28 14:45] romichg commented on #1017
True, this is what is being done for now. The ability to toggle it on the desktop will come later :)

[2015-09-28 15:07] romichg commented on #1036
This is a good point. Its a bit more complex. For example if I start searching for 'com' do we show "Test for command injection" or "Communication Security" :).

[2015-09-28 15:23] romichg commented on #1029
Looks good. closing

[2015-09-28 15:23] #1029 closed, assigned to romichg

[2015-09-28 15:41] romichg commented on #1026
Clicking on It should go to the index page, now it goes to the search page..

[2015-09-28 15:57] romichg commented on #985
@DinisCruz can you make the share button work as specified

[2015-09-28 16:04] romichg commented on #877
So couple of issues that I noticed with this
1. The number of results and the active filters are not showing (as you pointed above)
2. Some articles show metadata weirdly
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10141174/096059e4-65d9-11e5-89d8-fb2d8f325617.png)
3. article titles scroll pass the search view
![selection_001](https://cloud.githubusercontent.com/assets/1326

[2015-09-28 22:52] luchia commented on #1034
What does everyone think of this? There's a little bit more breathing room in between the columns.

![screen shot 2015-09-29 at 8 49 24 am](https://cloud.githubusercontent.com/assets/4547737/10151088/4f6b1236-6687-11e5-973b-8314884fa248.png)

[2015-09-28 23:48] yankola commented on #1034
I think it looks much better!

[2015-09-29 02:35] luchia commented on #1024
I tested this in both IE11 and IE Edge with no issues. I think this may have been fixed? Can you double check or let me know what browser you were using so I can try to recreate. TY.

[2015-09-29 02:37] luchia commented on #581
I did some adjusting today because I think it looks better with larger gifs showing the actions.

![screen shot 2015-09-29 at 12 11 34 pm](https://cloud.githubusercontent.com/assets/4547737/10153865/f662b88e-66a3-11e5-9890-1fbca8fc73b9.png)
![screen shot 2015-09-29 at 12 11 35 pm](https://cloud.githubusercontent.com/assets/4547737/10153866/f6643b8c-66a3-11e5-9f9a-b61f62b51f25.png)

I've also assig

[2015-09-29 02:37] luchia commented on #877
1. Going to need help with this because I think it's to do with data/logic, not css/html. We have breadcrumbs, but no 'results showing' and active filters -

![screen shot 2015-09-29 at 10 01 23 am](https://cloud.githubusercontent.com/assets/4547737/10152033/153adbfa-6691-11e5-8b05-7373b8e30f52.png)
1. I wasn't able to recreate the issue you had on Saucelabs, but had another set of issues (which w

[2015-09-29 03:59] romichg commented on #581
Ok great @luchia can you give @michaelhidalgo a bit more instructions as to where to find this stuff and how it should work.

Thanks

[2015-09-29 04:01] romichg commented on #1034
Looks good, do you think we can we group the mandatory fields together somehow? Like username, email and pw are kinda really important.

[2015-09-29 13:51] michaelhidalgo commented on #1026
With PR [https://github.com/TeamMentor/TM_Jade/pull/27]

[2015-09-29 17:00] romichg opened #1039 "Maintain querry-ids accross data reloads"
This is something had had come up in the past. Currently this is the only thing that prevents anyone from sharing any link and the link working all the time going forward.  I think there is a fairly simple solution for today. Views and folders already have GUIDs asociated with them in the XML file. All we need to maintain is the list of filters in a lookup file. We would look these up when we gene

[2015-09-29 18:26] romichg opened #1040 "After doing a search, the letters on the left hand filters are no longer clickable"
reload fixes the situation.

[2015-09-29 20:13] michaelhidalgo commented on #1034
HI @luchia , I've fixed the Signup form because this new one did not have the event that should fire when submitting the form. It did not have the alerts so I added them : However, it seems like the alert dialog/div is too large , what do you think?

![screen shot 2015-09-29 at 14 11 03](https://cloud.githubusercontent.com/assets/1732035/10176808/1cd50480-66b4-11e5-9656-f3c14473f99e.png)

[2015-09-29 20:22] michaelhidalgo commented on #1034
I've sent a PR https://github.com/TeamMentor/TM_Flare/pull/62 to submit the form and show the alerts. @luchia what do you think about the alert?

[2015-09-29 20:36] romichg commented on #877
What about #1 above is that fixed?

[2015-09-29 21:20] michaelhidalgo commented on #1024
Assigning to me. to do some testing on SauceLabs

[2015-09-29 21:35] luchia commented on #877
Woops, no. Assigned to Michael.

[2015-09-29 22:12] michaelhidalgo commented on #877
Ok, it seems like the problem is with the mobile class
![screen shot 2015-09-29 at 16 09 34](https://cloud.githubusercontent.com/assets/1732035/10179675/cc1dceb2-66c4-11e5-84a2-0fea44d4f2e3.png)
![screen shot 2015-09-29 at 16 07 22](https://cloud.githubusercontent.com/assets/1732035/10179676/cc1fee7c-66c4-11e5-9eb3-ca562513ad1b.png)
![screen shot 2015-09-29 at 16 05 41](https://cloud.githubusercon

[2015-09-30 01:44] michaelhidalgo commented on #1024
It looks fine on Windows 10 IE 11

![screen shot 2015-09-29 at 19 35 07](https://cloud.githubusercontent.com/assets/1732035/10182429/408cbf26-66e1-11e5-9552-043a3d1882dd.png)

And this is on Edge:

![screen shot 2015-09-29 at 19 39 52](https://cloud.githubusercontent.com/assets/1732035/10182476/ec622a98-66e1-11e5-959f-c033abbe2b23.png)

[2015-09-30 04:12] michaelhidalgo commented on #1009
With Pull Request [https://github.com/TeamMentor/TM_Website/pull/26/files]

[2015-09-30 07:52] luchia commented on #972
Done, this is on the Issue_972 branch.

![screen shot 2015-09-30 at 5 50 57 pm](https://cloud.githubusercontent.com/assets/4547737/10187432/f2a155c2-679b-11e5-9978-aadb0cbae30e.png)
![screen shot 2015-09-30 at 5 51 00 pm](https://cloud.githubusercontent.com/assets/4547737/10187433/f2a5afaa-679b-11e5-95bc-4eb078f4c731.png)

[2015-09-30 07:52] luchia commented on #972
Assigning to Michael to wire up whenever.

[2015-09-30 07:53] luchia commented on #962
I'm still not able to recreate this. I spent an hour today trying out different Linux browsers and couldn't get it to show what you're seeing. What would you like me to do with this one?

![screen shot 2015-09-30 at 8 32 18 am](https://cloud.githubusercontent.com/assets/4547737/10180186/6b3f6c7e-674e-11e5-87e7-c102335920f7.png)
![screen shot 2015-09-30 at 8 34 55 am](https://cloud.githubuserconten

[2015-09-30 07:54] luchia commented on #877
Got it :) In my PR today

![screen shot 2015-09-30 at 8 23 35 am](https://cloud.githubusercontent.com/assets/4547737/10179940/bad108c6-674c-11e5-8b50-6dcfbf3b27ea.png)

[2015-09-30 07:54] luchia commented on #1034
Hi Michael, I added them in my PR today - thank you for your help on this!

@roman87 ordering? I think this is the best way to do it.

![screen shot 2015-09-30 at 8 05 58 am](https://cloud.githubusercontent.com/assets/4547737/10179617/750186ec-674a-11e5-81ce-c47756a8ad55.png)

[2015-09-30 13:52] romichg commented on #1024
perfect, thanks closing.

[2015-09-30 13:52] #1024 closed, assigned to michaelhidalgo

[2015-09-30 19:20] michaelhidalgo commented on #1005
This is now fixed :

![screen shot 2015-09-30 at 13 19 17](https://cloud.githubusercontent.com/assets/1732035/10203900/f0a32528-6775-11e5-96c7-de489b7a656f.png)

[2015-09-30 20:14] michaelhidalgo commented on #1009
hey @DinisCruz could you please merge this [https://github.com/TeamMentor/TM_Website/pull/26/files]

[2015-09-30 21:20] DinisCruz commented on #1040
Hi @luchia the issue was caused by this style tag that was causing the side effect https://github.com/TeamMentor/TM_Flare/commit/6a11b162dfd6a7d720fbe780807a67cf856e0cc8#diff-cafe7f22ed4c9bbad5bc848adf4d9726L10

[2015-09-30 22:36] romichg commented on #1040
@luchia can you please take a look, right now the fix was to remove the technology dropdown from the mobile view..

[2015-09-30 22:40] romichg commented on #962
Well you see how in the bottom screenshot "Web Application" is much closer to the icon than the rest of the words.. This is what i am talking about. Actually your Safari screenshot has the same issue :) Do you see how it is different from firefox and chrome :).. yes I do have an eagle eye :)))

[2015-10-01 15:44] michaelhidalgo commented on #1009
This is working now :

<img width="1439" alt="screen shot 2015-10-01 at 9 37 32" src="https://cloud.githubusercontent.com/assets/1732035/10225601/cf8424cc-6820-11e5-8e74-98ae47bb306c.png">

[2015-10-02 12:12] michaelhidalgo commented on #1037
With Pull Request.

[2015-10-02 15:51] romichg opened #1041 "The text "Showing N articles" does not take into account the selected article per page."
For example, if 71 articles are total,and I have selected 10 articles per page, the text is shown correctly - Showing article 1-10 out of 71 -
However if I select 20 articles per page, the text still shows
- showing article 1-10 out of 71
  ![selection_001](https://cloud.githubusercontent.com/assets/1326120/10250958/cd8aadea-68fb-11e5-80af-d86c61c4b90f.png)

[2015-10-02 15:55] romichg opened #1042 "Article per page changes back to default (10) after making another selection"
For example.
Select 20 articles per page, on the main screen, and then choose "Authentication" now only 10 articles are shown (even though the selector shows 20 articles)

[2015-10-02 15:56] michaelhidalgo commented on #1041
Hmmm, something might have break that feature, it was working before.

Let me take a look

[2015-10-02 15:59] michaelhidalgo commented on #1042
I see. But if you select another filter, should not you start with the default? otherwise it is more complex because if there are just 9 and the filter was 20?

[2015-10-02 16:27] romichg commented on #1042
Not sure why is it more complex? isn't it just a matter of showing the number of articles selected? and persisting that?  If there are less articles in the filter than what is selected then we can do what we do now and show all the articles.
If you think its more complicated than that, then lets discuss.

[2015-10-02 16:28] michaelhidalgo commented on #1042
Ok let me play with it, I think I got the point :)

2015-10-02 10:27 GMT-06:00 RomichG notifications@github.com:

##

Michael Hidalgo
http://michaelhidalgocr.blogspot.com

_The future has many names: For the weak, it means the unattainable. For
the fearful, it means the unknown. For the courageous, it means
opportunity. (1802-1885) French Poet, Dramatist, Writer_

[2015-10-02 16:42] michaelhidalgo commented on #934
Hi @roman87 , are we going to use the cloud-based version of Piwik or a custom server?

It seems like our trial at piwik ended.

[2015-10-02 16:43] romichg commented on #540
at this point this is is going int backlog.

[2015-10-02 16:46] romichg opened #1043 "Validate Hubspot integration in Flare"

[2015-10-02 17:01] romichg commented on #953
An interesting idea here to explore would be to see if we can find a good editor on node. We can still use the 3.6 backend to store the XML and everything, but simply use the node front end for editing. I am wondering how much effort will it be, given that we have a lot of our editor layout already done
#817

[2015-10-02 17:08] romichg commented on #934
We will use our own server, I just need to get one first. Hopefully in couple of days I will have that ready.

[2015-10-02 17:09] romichg commented on #1042
Worst case if we default back to 10 we should change that back in the UI. But that would be the least favorable resolution :)

[2015-10-02 17:56] romichg commented on #1038
This is fixed.

[2015-10-02 17:56] #1038 closed, assigned to DinisCruz

[2015-10-02 17:57] romichg commented on #1030
This broke again with latest round of updates. Can you please take a look.

[2015-10-02 18:10] romichg commented on #1030
Actually hang on.... something is weird on my end.

[2015-10-02 18:21] romichg commented on #1030
Ok, nevermind, had to clear my .tmCache. This is fixed.

[2015-10-02 18:21] #1030 closed, assigned to DinisCruz

[2015-10-02 18:45] romichg commented on #1005
This is fixed.

[2015-10-02 18:47] romichg commented on #1005
Would be nice if we could have a test for this at some point.

[2015-10-02 18:49] romichg commented on #1037
This is still not working.. Did clear my .tmCache

![selection_002](https://cloud.githubusercontent.com/assets/1326120/10254916/b153dc5a-6914-11e5-99d3-e261841e44bc.png)

Seems like the code here is not called:
https://github.com/TeamMentor/TM_Website/commit/68adbd00f42037687241c56f837d2fd302c7940b#diff-cf4178f140ff2be1143ea62bee47ef49R74

[2015-10-02 19:32] romichg opened #1044 "Weird behavior in IE 11 when Filters are collapsed"
This happens intermittently, but always seems to happen after you hit the "home" button, and then press the "filters" button to collapse them.

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10255825/face8352-691a-11e5-8d24-05c1c44e7bfe.png)

[2015-10-02 20:07] michaelhidalgo commented on #1037
I think is because PR are still open :)

Fixing broken links on Doc pages. TeamMentor/TM_Angular#23
 Open
Fixing broken links on Docs pages. TeamMentor/TM_Flare#64
 Open
Fixing broken links on Docs pages TeamMentor/TM_Website#27
 Open
updating submodules. TeamMentor/TM#41

[2015-10-03 21:27] michaelhidalgo opened #1045 "Add automation test for TM Docs and TM Guides and make sure automation test works fine"
At the moment, the browser automation test does not seem to be running (probably because of refactoring issues). We need to fix it and make sure we add more test scenarios for TM Docs and TM Guides to make sure there are not broken links.

[2015-10-04 06:07] romichg opened #1046 "Fix broken link in docs, the link has an extra ')'"
The docs article  http://localhost:12345/angular/guest/docs/00000000-0000-0000-0000-000000410a3a
contains a link `<a href="https://github.com/msysgit/git)" target="_blank">https://github.com/msysgit/git)</a>` There is an ')' at the end of the link which breaks things. It needs to be removed in the content.

[2015-10-04 06:11] romichg commented on #1037
after a couple of small issues this is now all merged and fixed. good work!
Related remaining issues #1046 and #1045

[2015-10-04 06:11] #1037 closed, assigned to michaelhidalgo

[2015-10-04 22:50] romichg opened #1047 "Rename /angular/* to /flare/*"

[2015-10-04 22:51] romichg commented on #1047
As described in this comment and in the following here https://github.com/TeamMentor/TM_4_0_Design/issues/952#issuecomment-139031938

[2015-10-04 22:51] romichg commented on #952
This is done except for #1047

[2015-10-04 22:51] #952 closed, assigned to DinisCruz

[2015-10-04 22:53] romichg commented on #902
It is importaint we figure this one out. @DinisCruz I am counting on your help for this one. Although it is not extremely urgent.  Putting this in Spring 2. (we are back to sprint 1 now)

[2015-10-04 23:20] romichg commented on #877
This is now fixed.

[2015-10-04 23:20] #877 closed, assigned to romichg

[2015-10-04 23:58] romichg opened #1048 "Make scroll bars show up only on mouse over"
This is done in the CSS and needs to be wired in the UI. I think this was originally planned. Information on the details can be found here: https://github.com/TeamMentor/TM_4_0_Design/issues/943#issue-102498987

Somewhat related to #972

[2015-10-05 00:02] romichg opened #1049 "The breadcrumbs should emphasize the "active" breadcrumb"
This is already in the CSS and needs to be wired. It is described here:
https://github.com/TeamMentor/TM_4_0_Design/issues/943#issue-102498987

[2015-10-05 01:19] romichg opened #1050 "Clarify what this bullet point is:"
From issue #943
"- [ ]  We need to add 'Page ' to the page number dropdown (pagination) " Can you clarify what this means? Was this done?

[2015-10-05 01:20] romichg commented on #943
Closing. This was ether done, tracked elsewhere or decided not to be done.

[2015-10-05 01:20] #943 closed, assigned to romichg

[2015-10-05 02:30] romichg commented on #1021
It seems like the issue happens when y0u make the original size of the browser smaller.  Also seems like the bottom controls are scrolled below the screen. Here is how it looks like:
![issue_1021](https://cloud.githubusercontent.com/assets/1326120/10272012/557d0742-6ae7-11e5-9a5d-942ebd40a484.gif)

[2015-10-05 02:44] romichg opened #1051 "After clicking on "next page" or "previous page" sometimes the list of articles scrolls up a bit you need to scroll down for the prev/next controls"
![issue_1051](https://cloud.githubusercontent.com/assets/1326120/10272273/7b080562-6aeb-11e5-9a98-fa3489865641.gif)

[2015-10-05 03:06] romichg commented on #971
I am going to move this to @michaelhidalgo, this is pretty much the same as #350 Making this for sprint 3 as it is not that critical at this point.

[2015-10-05 03:15] romichg commented on #998
This is fixed.

[2015-10-05 03:15] #998 closed, assigned to DinisCruz

[2015-10-05 03:19] romichg commented on #1004
These are issues that are inhering to the fact that we do not save user related data. which is dependent on having the editor backend functionality (i.e. save data into db). This would need to be fixed by saving the breadcrumb state in the DB.

[2015-10-05 03:21] romichg commented on #1007
This is related to #1040 and should be fixed after #1040 is fixed.

[2015-10-05 03:36] romichg opened #1052 "Searching for CWE 22 or CWE-22 does not have any search results, while CWE-22 does show result in dropdown but not in results"
Both the dropdown and the search results should have results for querries
CWE 22
CWE-22
22 CWE

[2015-10-05 03:39] romichg opened #1053 "Searching for CWE-22 shows an article in the dropdown, however once selected no search results are shown"
Related to #1052

[2015-10-05 03:59] romichg commented on #147
This becomes important after we move away from 3.5 dependency

[2015-10-05 04:06] romichg commented on #915
Closing due to TTL.  We support usernames up to 150 chars.

[2015-10-05 04:06] #915 closed, assigned to nobody

[2015-10-05 04:25] romichg commented on #1015
This is solved in Flare. Closing

[2015-10-05 04:25] #1015 closed, assigned to nobody

[2015-10-05 04:29] romichg commented on #1018
This is now tracked https://github.com/TMContent/Lib_UNO/issues/469

Closing

[2015-10-05 04:29] #1018 closed, assigned to nobody

[2015-10-05 13:24] michaelhidalgo commented on #826
With Pull Request :

1.[TM_Angular] -Issue 826 redirect TeamMentor/TM_Angular#24
2.[TM_Website]-Issue 826 redirect TeamMentor/TM_Website#28
3.[TM]-Issue 826 redirect TeamMentor/TM#42

[2015-10-06 02:30] michaelhidalgo commented on #945
Wit Pull Request
Fixing Issue [https://github.com/TeamMentor/TM_4_0_Design/issues/945]

[https://github.com/TeamMentor/TM/pull/43]

[2015-10-06 02:56] romichg opened #1054 "IE 11 Signup page is not looking good. Only single column is shown"
![selection_001](https://cloud.githubusercontent.com/assets/1326120/10299108/4767ed48-6bb4-11e5-83f9-55bd14d8a746.png)

[2015-10-06 02:58] romichg opened #1055 "In IE 11 Text wraps so that words break in the middle in articles, guides and help"
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10299131/81d5b410-6bb4-11e5-9923-13a96eb72af4.png)
![selection_003](https://cloud.githubusercontent.com/assets/1326120/10299132/837a9718-6bb4-11e5-9101-7fb8ad3bf148.png)
![selection_004](https://cloud.githubusercontent.com/assets/1326120/10299133/84bcb37c-6bb4-11e5-876e-a08825b91950.png)

[2015-10-06 03:02] romichg commented on #987
This is done.

[2015-10-06 03:02] #987 closed, assigned to romichg

[2015-10-06 03:05] romichg commented on #1009
This is fixed.

[2015-10-06 03:05] #1009 closed, assigned to romichg

[2015-10-06 04:53] romichg commented on #1026
This is fixed.

[2015-10-06 04:53] #1026 closed, assigned to romichg

[2015-10-06 04:56] romichg commented on #1034
I am still not fond of the ordering but this is probably the best way of doing it for now. My only question, and that is more for @yankola  is - should we change "State" to "State/Province"  you know for all the countries that don't have states.

[2015-10-06 16:32] michaelhidalgo commented on #1012
With Pull Request

[2015-10-06 17:25] DinisCruz commented on #1020
@roman87 pushing to you since to really make this work there would be quite a number of changes

[2015-10-06 17:33] DinisCruz commented on #975
this should actually be done by @michaelhidalgo since he needs to understand and support these changes

[2015-10-06 17:35] DinisCruz commented on #970
this is not that simple

[2015-10-06 17:49] DinisCruz commented on #940
the challenge is setting this value in window's service

[2015-10-06 17:53] DinisCruz commented on #902
error is happening here

[code]

![image](https://cloud.githubusercontent.com/assets/656739/10317260/74754ae0-6c5b-11e5-88c9-1bd3ed270d66.png)

which happens when there is a query with no title

[2015-10-06 19:10] yankola commented on #1034
That works for me!

[2015-10-07 02:12] romichg commented on #826
This is fixed.

[2015-10-07 02:12] #826 closed

[2015-10-07 03:33] romichg commented on #1012
I am not sure what happened, haven't tested Jade yet, but looks like you broke them on Flare :)

[2015-10-07 03:48] romichg commented on #945
Looks like we are good. I think we should have a set of unit tests for this. Especially for the /angular/user/home route
Marking this as P2 to create unit tests.

[2015-10-07 03:59] romichg commented on #1020
ok fair. will let @michaelhidalgo play with it as a P3 at some point.

[2015-10-07 04:01] romichg commented on #974
ok @michaelhidalgo this is yours. @DinisCruz could you help Michael when time comes to work on this.

[2015-10-07 04:06] romichg commented on #970
Um..this one I kinda think should fall under the 3 year unconditional warranty :). SSO has been part of TM for  a long time. Let me know what needs to be done to make this work and the level of effort on your part.

[2015-10-07 04:08] romichg commented on #940
How would that be done under windows? I am ok to set env variable or whatever.  I think this needs to be addressed. It is not the best idea to run anything in debug.

[2015-10-07 04:09] romichg commented on #902
I don't think we have a view/folder with no title in the data..

[2015-10-07 04:11] romichg commented on #1034
@michaelhidalgo should be easy enough. I will make it sprint3 since it is not that important.

[2015-10-07 04:15] michaelhidalgo commented on #1012
Hmm. Can you please delete the cache, I just cloned a clean version and it works fine :

![screen shot 2015-10-06 at 22 13 04](https://cloud.githubusercontent.com/assets/1732035/10328922/8ecb66ce-6c77-11e5-8ad4-7047e6d35867.png)

and here are the submodules , where only TM_Angular, TM_Jade and TM_Static should have been modified.

[code]

[2015-10-07 04:26] romichg commented on #1012
Cache cleared, but doesn't seem to work. Works fine in Dev

[code]

What happens is that I can't click on the terms and conditions link on the footer, and the link on signup page shows a blank page

[2015-10-07 04:32] michaelhidalgo commented on #1012
That's weird :), ok on Flare Signup, the link should be like this  `<a href="terms-and-conditions">Terms and Conditions</a>`

![screen shot 2015-10-06 at 22 30 01](https://cloud.githubusercontent.com/assets/1732035/10329129/03264dd4-6c7a-11e5-84a4-0a7fb570b0d1.png)

[2015-10-07 04:37] michaelhidalgo commented on #1012
Could you please do a manual checkout from code/TM_Angular , code/TM_Jade and code/TM_Static ?

[2015-10-08 04:50] romichg commented on #1041
Found a little bug with this one. Other than that looks good.

![1041](https://cloud.githubusercontent.com/assets/1326120/10357979/863a9b1c-6d56-11e5-8c33-115f3d457a9f.gif)

[2015-10-08 11:29] michaelhidalgo commented on #1041
That's interesting :
When you select the "Check Authorization for All Operations" from left hand side navigation, the number of pages from the dropdown should be set to 2 (since you are seeing 20 records per page and there are 29).

I wonder if there is a js error being thrown in your browser, I gave it a test in a brand new branch and I'm not able to reproduce it.

<img width="1280" alt="screen s

[2015-10-08 13:59] romichg commented on #1041
there is no error. I think you need to start with 20 articles per page. Go to index then go to authorization, scroll down and choose page 4. (61-71 articles) then go and click on check authorization

[2015-10-08 14:47] romichg opened #1056 "Number of articles per page, page your are on and scroll position get reset once back button is pressed from full article view"
Essentially when I am scrolling through the list of articles, and I picked the number of articles per page (on that list) and lets say I am on page 4 of that list, and then I click on an article, read the article, and then click on the Back button, I should be able to get back to the same position (same articles per page, same page number and same scroll position) that I was on before. Right now t

[2015-10-09 19:30] romichg commented on #1012
So, at this point the Jade Terms and conditions, once logged in, still show the logged out nav menu
1. login to jade
2. open an article
3. click on terms and conditions

And an interesting condition happens (404 error) when:
1. login to jade
2. logout of jade
3. click on terms and conditions
this is a lot less importaint, so I am ok if we keep it as a bug for later.

[2015-10-09 21:03] romichg opened #1057 "In Jade, after login, terms and conditions page does not take into account GH issue integration"
Always displays "found an issue, send us an email" regardless of the email that the user is logged in with. It should display "open it here" with a link to GH if the logged in user email domain is on a list of approved domains".

[2015-10-09 21:05] romichg commented on #1057
![selection_001](https://cloud.githubusercontent.com/assets/1326120/10405593/e650a878-6ea7-11e5-92cd-8106420f8ab7.png)
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10405595/e7cbcb88-6ea7-11e5-8d26-fcf35fccebab.png)

[2015-10-09 21:08] romichg opened #1058 "In Flare, terms and conditions does not go back to the main terms and conditions page after back button is pressed"
Select terms and conditions
Select a subsection
Select another subsection
Press the back button, the previous subsection is shown
Press the back button again, the same subsection is still shown, even though the URL had updated
![selection_004](https://cloud.githubusercontent.com/assets/1326120/10405644/3cf6f9de-6ea8-11e5-8069-706a8eafc5bc.png)

[2015-10-09 21:17] romichg commented on #1042
This is fixed

[2015-10-09 21:17] #1042 closed, assigned to michaelhidalgo

[2015-10-09 21:17] romichg commented on #1041
this is fixed

[2015-10-09 21:17] #1041 closed, assigned to michaelhidalgo

[2015-10-09 21:19] romichg commented on #1012
this is fixed. Other issues are tracked in #1057 and #1058

[2015-10-09 21:19] #1012 closed, assigned to michaelhidalgo

[2015-10-10 16:03] michaelhidalgo commented on #829
With Pull Request.

 Submodules :

`4cc3a0c002fad180f86d32ccab22fc74998c675e build/TM_4_0_JSON_Data (4cc3a0c)
 4321dcc3823fd3abc0e5b910a1d8118ac61a215c build/TM_Gulp (heads/master)
+e537dea90b12de1217947008fed3e6b36e53f335 code/TM_Angular (heads/Issue_829_Feeback)
+f6aa69bcfde0ba0214bee22e6acb8865492940e1 code/TM_Flare (4.0.3-335-gf6aa69b)
 120056e6043656b86698ad46983041dd5aa89782 code/TM_GraphDB

[2015-10-12 21:59] romichg commented on #829
This is fixed

[2015-10-12 21:59] #829 closed

[2015-10-13 15:17] romichg opened #1059 "Test AD integration with 3.6 and 4.0"

[2015-10-13 16:18] romichg commented on #1052
I assume the issue here is that the title in the content says CWE-22:
I think the way to fix this is to treat '-' as space when we generate search words as well as to remove ':' from words. I think this solution will fix not just his but a number of other issues with the search.

[2015-10-14 14:28] DinisCruz opened #1060 "Error when currentUser object is null"
![image](https://cloud.githubusercontent.com/assets/656739/10486692/00e71f8a-7288-11e5-95ed-e28f4b872838.png)

here

![image](https://cloud.githubusercontent.com/assets/656739/10486712/1a9a686a-7288-11e5-81c3-2704b8dfdd33.png)

[2015-10-14 15:10] DinisCruz commented on #1060
here is the test that confirms the error

[code]

![image](https://cloud.githubusercontent.com/assets/656739/10487884/0d545ef8-728e-11e5-9edc-c0c270fa90a1.png)

[2015-10-14 15:21] michaelhidalgo commented on #1060
That's a good catch!. I'll add the safe check for this.

[2015-10-14 15:24] DinisCruz commented on #1060
This can be fixed with

[code]

Here is the test that checks it:

[code]

[2015-10-14 15:25] michaelhidalgo commented on #1060
I wonder why the current user returned null or undefined. Since if you are able to access the Index, it's because you are logged In.

I hope this not to be a race condition when reading/accessing the session.

[2015-10-14 15:27] DinisCruz commented on #1060
yeah it could be a race condition

Here is the test passing

![image](https://cloud.githubusercontent.com/assets/656739/10488387/5e91b336-7290-11e5-9e44-ccca32c05f03.png)

I will send in the fix with the PR for the angular error page (#995)

[2015-10-14 16:38] romichg commented on #1060
Hmm.. interesting. Looks like this was introduced when we added the cache. Good catch

[2015-10-14 22:06] DinisCruz commented on #995
I just pushed a number of fixes for this.

Now there is browser detection for '/error' and normal angular errors will be shown this page

![image](https://cloud.githubusercontent.com/assets/656739/10499429/38d7154a-72c8-11e5-9b5e-ac0aa0ece2ca.png)

[2015-10-14 22:07] DinisCruz commented on #997
I believe this is now addressed with the fix for https://github.com/TeamMentor/TM_4_0_Design/issues/995

[2015-10-14 22:09] DinisCruz commented on #997
http://localhost:12345/angular/user/article/c4914e51-2609-4edc-8133-31491f1b03c1 will now redirect to http://localhost:12345/angular/user/error

[2015-10-14 22:19] DinisCruz commented on #902
@roman87 can you try with the fix pushed?

[2015-10-14 22:25] DinisCruz commented on #970
ok, we need more detail on this one:

What exactly needs to be working?

Are the SSO and customisations working as expected for Jade?

What are the SSO urls that we need to support?

Do we have the design for the user's customisation needed?

[2015-10-15 04:40] romichg opened #1061 "Validate all requests to /angular/user/* for a valid format and show a proper error if they don't match."
For example, requests like
http://localhost:12345/angular/user/index/blah
Should show an error and not
![team mentor 4 0 - chromium_006](https://cloud.githubusercontent.com/assets/1326120/10504923/1408eace-72d5-11e5-8be0-8743d035ef10.png)

[2015-10-15 04:50] romichg commented on #934
The current solution will work for now. I am moving this to sprint 3 and updating the issue with more requirements.

[2015-10-15 04:54] romichg opened #1062 "Deny access to everything under /angular/guest/* except for specific white lists"
This should not happen for non logged in users:
![team mentor 4 0 - chromium_005](https://cloud.githubusercontent.com/assets/1326120/10505075/fd08b2a8-72d6-11e5-8b60-21690a5afab4.png)

Nor should any of this:
![team mentor 4 0 - chromium_004](https://cloud.githubusercontent.com/assets/1326120/10505080/0a0ad922-72d7-11e5-8c64-2816ec64d80e.png)

![team mentor 4 0 - chromium_003](https://cloud.github

[2015-10-15 04:56] romichg commented on #1023
At the moment this redirects to the main page, so is anything that is under /angular/user/
I think the short way of fixing this would be to redirect everything under /angular/user to the login page for non-logged in users. Then redirect to the requested page, upon successful login.
In an event that the requested page is bad, or doesn't exist we would then follow the current behavior and show an er

[2015-10-15 13:00] michaelhidalgo commented on #1062
Good catch!, interestingly those pages are accessed using /guest*

[2015-10-15 14:01] romichg commented on #902
Nope, still an issue:

[code]

[code]

[2015-10-15 14:38] romichg commented on #1043
done. works well.

[2015-10-15 14:38] #1043 closed, assigned to romichg

[2015-10-16 14:39] michaelhidalgo commented on #1062
With pull request https://github.com/TeamMentor/TM_Website/pull/35

[2015-10-16 16:14] michaelhidalgo commented on #1060
This is fixed here https://github.com/TeamMentor/TM_Angular/commit/58819709ce9090826736e8d2b1cc316c02a698f5#diff-8ba36e4f57e14c486e12370faf6b0243R1230

[2015-10-16 22:41] romichg commented on #1039
This if fixed. Awesome job on this one!

[2015-10-16 22:41] #1039 closed, assigned to romichg

[2015-10-16 22:42] romichg commented on #1062
This is fixed

[2015-10-16 22:42] #1062 closed, assigned to romichg

[2015-10-16 22:45] romichg commented on #1060
This is fixed.

[2015-10-16 22:45] #1060 closed, assigned to romichg

[2015-10-16 22:45] romichg commented on #995
This is done. Thank you!

[2015-10-16 22:45] #995 closed, assigned to romichg

[2015-10-16 22:46] romichg commented on #997
This is done!

[2015-10-16 22:46] #997 closed, assigned to romichg

[2015-10-16 22:47] romichg commented on #1022
This is fixed. Joe has confirmed.

[2015-10-16 22:47] #1022 closed, assigned to romichg

[2015-10-19 16:04] DinisCruz commented on #969
pushed fix for this one

[2015-10-19 16:53] michaelhidalgo commented on #1023
With Pull request https://github.com/TeamMentor/TM_Website/pull/36

[2015-10-19 19:10] romichg commented on #985
assigning to @michaelhidalgo

[2015-10-19 19:13] romichg opened #1063 "Remove the "logging in.." and "loggin ok" from the login page"
According to Jason's comments, this looks like debug messages. Do you think we can remove the messages and only show the error messages?

[2015-10-19 20:43] michaelhidalgo commented on #1063
I think that for better user experience, we should show a message indicating that something is happening.
What about something like this , otherwise if the login takes few seconds, the user won't know what is happening.

![screen shot 2015-10-19 at 14 41 24](https://cloud.githubusercontent.com/assets/1732035/10590748/a9110dac-766f-11e5-9f0a-ad7b8128b7fe.png)

[2015-10-19 21:17] romichg opened #1064 "Multiple search issues"
Probably all related to: #1052
- [x] searching 04 XSS does not bring up the CWE article in the search results that the dropdown shows. (this is actually the same symptom as #1053)
- [x] searching for "System Hardening" does not show the System Hardening article (http://localhost:12345/angular/user/guides/article-76824246fdb2) as part of the search result. (same symptom as above and in #1053)
  _Ed

[2015-10-20 01:52] romichg opened #1065 "Searching for a tag and a string does not return any results"
Searching for ASP.NET 3.5 data has no results, while there are articles tagged as ASP.NET 3.5 with "data" in the title.

[2015-10-20 02:27] romichg opened #1066 "FF issue displayin metadata in a narrower browser size"
this happens when the browser size is less then 1704x897

<img width="806" alt="capture1" src="https://cloud.githubusercontent.com/assets/1326120/10596268/78a28ccc-76b0-11e5-8213-8349f4e7392e.PNG">

[2015-10-20 02:29] romichg commented on #1066
Actually this is not only in guides.

[2015-10-20 02:42] luchia commented on #1050
From this -

![screen shot 2015-10-20 at 12 39 42 pm](https://cloud.githubusercontent.com/assets/4547737/10596464/ed5d5b9c-7727-11e5-9f5d-7fdb1f4582a0.png)

To this -

![screen shot 2015-10-20 at 12 40 56 pm](https://cloud.githubusercontent.com/assets/4547737/10596470/f296fca8-7727-11e5-9e3d-d3fa6c1dcbbc.png)

[2015-10-20 02:48] luchia commented on #1040
I can't recreate this, can you show me some screenshots please.

[2015-10-20 02:54] luchia commented on #1044
Hmm, not sure about this one.

[2015-10-20 02:58] luchia commented on #1066
Going to need a bit more information such as machine OS and browser version, this isn't replicated on mine -

![screen shot 2015-10-20 at 12 57 26 pm](https://cloud.githubusercontent.com/assets/4547737/10596683/35e0ec42-772a-11e5-8417-0a39d0d0e561.png)
![screen shot 2015-10-20 at 12 57 36 pm](https://cloud.githubusercontent.com/assets/4547737/10596684/35edc1ec-772a-11e5-87a7-2f82e4e8a9b3.png)

[2015-10-20 02:59] luchia commented on #1055
This has been fixed in my PR today -

![screen shot 2015-10-20 at 12 18 21 pm](https://cloud.githubusercontent.com/assets/4547737/10596181/b1fa31ea-7724-11e5-8b53-10baa86755d5.png)
![screen shot 2015-10-20 at 12 18 25 pm](https://cloud.githubusercontent.com/assets/4547737/10596182/b226160c-7724-11e5-93ec-69f4b58488cd.png)

[2015-10-20 02:59] luchia commented on #1054
This has been fixed in my PR today -

![screen shot 2015-10-20 at 12 39 12 pm](https://cloud.githubusercontent.com/assets/4547737/10596440/9e2973d0-7727-11e5-8cef-64b982e8453d.png)

[2015-10-20 02:59] luchia commented on #1007
Yeah, here it is -

![screen shot 2015-10-20 at 12 52 30 pm](https://cloud.githubusercontent.com/assets/4547737/10596635/98410616-7729-11e5-99eb-80604855db3e.png)

[2015-10-20 13:37] romichg commented on #969
Still some issues. Needs to be fixed before the release
- [x] 1. Smaller words still do not fit in FF  and IE _Edit 2015-11-10 - This is now fixed with somewhat of a hack. Words less then 5 characters get fixed 105px length. Words greater than 5 chars get (length \* 18pix) length. This should take care of most situations, but needs a better permanent fix at some point._

![selection_005](https://c

[2015-10-20 17:06] romichg commented on #1040
@luchia basically what happened was that after a search, the mobile dropdown, while it was invisible, was still covering on top of the left hand side filters, blocking the clicks. What @DinisCruz did (if you take a look at the fix) was to remove the dropdown completely. So no if you go into the mobile view the dropdown does not exist. Lets chat on skpype if you need more clarification.

[2015-10-20 17:09] romichg commented on #1044
@luchia  What exactly are you missing? Can you replicate this?

[2015-10-20 17:13] romichg commented on #1050
Ah ok thanks. I will put this in the backlog for now.

[2015-10-20 20:07] romichg commented on #1054
This is fixed.

[2015-10-20 20:07] #1054 closed, assigned to luchia

[2015-10-20 20:09] romichg commented on #1055
This is fixed.

[2015-10-20 20:09] #1055 closed, assigned to luchia

[2015-10-20 20:17] romichg opened #1067 "Scroll bar issues in IE11 and FF on Windows, in article view"
The vertical scroll bar is not correctly visible. The horizontal scroll bar is present on some articles. Note that this does not happen in Linux on FF, and does not happen in Chrome on Linux or Windows.

![selection_005](https://cloud.githubusercontent.com/assets/1326120/10619885/0a85f2b0-7746-11e5-9fea-1197b7f7d848.png)

this is this article: http://192.168.250.101:12345/angular/user/article/faf4

[2015-10-20 20:22] romichg opened #1068 "Buttons in IE look weird (more like modern art)"
Take a look at the left hand side of this button and the following message box.
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10619974/a80b07b4-7746-11e5-9cd5-e49676001963.png)
![selection_003](https://cloud.githubusercontent.com/assets/1326120/10619980/b360cd9c-7746-11e5-8602-af9238f22de1.png)

[2015-10-20 20:28] romichg commented on #1066
Here are more details.  This is Windows 8.1.
This is the article I am looking at: http://192.168.250.101:12345/angular/user/article/eb2d53a86fb3/Create-a-Threat-Model-for-a-Web-Application-at-Design-Time

![selection_006](https://cloud.githubusercontent.com/assets/1326120/10620128/60af4136-7747-11e5-9aad-7d261d60f116.png)

![selection_007](https://cloud.githubusercontent.com/assets/1326120/1062017

[2015-10-20 20:40] romichg commented on #1023
So two issues.
- [x] localhost:12345/ should not redirect to the login
- [x] after being redirected to the login and then after a successful login, the user should be redirected to the original link.  For example, if I am not logged in and go to http://localhost:12345/angular/user/index/search-xss___query-d43fe5882bcd/query-3e54c333d53a,query-670dbd0c22c7,query-89a417d8ce59
  I should be redirecte

[2015-10-20 22:29] romichg opened #1069 "Throttle login/signup requests to one per session to prevent DOS"
Currently the user can make unlimited amounts of login requests to the server, eventually causing DOS. I was able to do this simply by leaning on the login button while 3.5 was unavailable.

[2015-10-20 22:30] romichg commented on #1063
So couple of more things that I realized.
- [ ] once the user hits sign up on the sign up page, or login on the login page, we should disable the button until we ether get a response from the server, or we display an error message. Without this, the user can keep on hitting login / signup button causing weird conditions (we also should throttle one login/signup request at a time per session on the

[2015-10-21 00:03] romichg opened #1070 "Fix the error message on the password reset page when the server is unavailable"
![selection_006](https://cloud.githubusercontent.com/assets/1326120/10624360/9bc9eae6-7765-11e5-8de9-8005cf208b58.png)

[2015-10-22 01:31] michaelhidalgo commented on #1023
Two Pull Request :
1. TM_Angular https://github.com/TeamMentor/TM_Angular/pull/34
2. TM_WebSite https://github.com/TeamMentor/TM_Website/pull/36

[2015-10-22 13:20] michaelhidalgo opened #1071 "Password reset form looks weird on Firefox (osx)"
As depicted below, the password reset form looks weird on FF, it seems like the scroll is displayed even when it does not seem to be necessary to show the scroll.

For the record, it looks fine on Chrome.

<img width="1279" alt="screen shot 2015-10-22 at 07 14 21" src="https://cloud.githubusercontent.com/assets/1732035/10666089/bc11f17c-788c-11e5-8fd8-392fc25df302.png">

<img width="1280" alt="scr

[2015-10-22 14:19] romichg opened #1072 "SSO Token does not honor user expiration"
Even though the user is expired, if you access TM using the SSO token for the user, the login is still successfull.

[2015-10-22 14:33] michaelhidalgo commented on #1063
Fixing Issues above, branch name is Issue_1063_LoginMessage

New Pull Request to address this issue :

1.https://github.com/TeamMentor/TM_Website/pull/37
2.https://github.com/TeamMentor/TM_Angular/pull/33
3.https://github.com/TeamMentor/TM_Flare/pull/71
4.https://github.com/TeamMentor/TM_Static/pull/94

[2015-10-22 15:07] romichg commented on #970
This issue was to make sure that if a user logs in with SSO, they are properly redirected to jade or flare based on their browser. This is working. The rest of this issue is covered in #974. @DinisCruz please give @michaelhidalgo a hand when he is working on that issue.

[2015-10-22 15:07] #970 closed, assigned to DinisCruz

[2015-10-22 16:38] romichg commented on #1023
This id done. Good job!

[2015-10-22 16:38] #1023 closed, assigned to romichg

[2015-10-22 16:48] romichg commented on #1071
I can't duplicate the FF issue in linux or windows.

[2015-10-22 19:14] romichg commented on #1051
#scrollissue

[2015-10-22 19:16] romichg commented on #946
#scrollissue

[2015-10-22 19:17] romichg commented on #1056
#scrollissue

[2015-10-22 19:23] romichg opened #1073 "In guides, when viewing an article, new article should always scroll to the top"
At the moment, if you scroll a bit down through the article and then click to open another article (ether through a link or through left nav, the new article shows up in the middle.
To duplicate
1. Open an article in guides
2. scroll half way to through the article
3. open another article. Notice that the article is not  at the beginning but scrolled down

[2015-10-22 19:23] romichg commented on #1073
#scrollissue

[2015-10-22 20:28] michaelhidalgo commented on #985
With Pull Request, branch Issue_1063_LoginMessage

[2015-10-22 20:37] romichg opened #1074 "Update documentation for 4.1 Flare"
- [x] Update images and instructions in quick start guide
- [x] Create Jade area and move all jade specific instructions there
- [x] Update all instructions to flare UE
- [x] update 3.6 release notes
- [x] update documentation on reloading data

[2015-10-22 20:39] romichg opened #1075 "TM_4_0_JSON_Data, reload_data.sh/bat need to take into account the location of Lib_UNO from config"
this is needed for customized libraries.  For example, for OWASP TM Site, We want to create a subset of Lib_UNO by just taking OWASP content. At the same time I don't want to call the directory (and potentially GH repo) with the name Lib_UNO.

[2015-10-22 20:46] romichg opened #1076 "Set up Lib_OWASP and owasp.teammentor.net 4.1 Flare site"

[2015-10-22 20:52] romichg opened #1077 "Upstream TM server for virtual articles"
This should mimic the exact functionality we have today in 3.5
CONFIG:
1. There should be an enable/disable switch
2. There should be a configuration of the upstream server (www.teammentor.net usually)

UE:
If the user uses a website that has a subset of our library (like owasp.teammentor.net) and hits on a link inside an article. If the article does not exist on the server AND upstreamserver is e

[2015-10-22 20:53] romichg opened #1078 "Upgrade uno.teammentor.net to 4.1 Flare"

[2015-10-22 21:45] romichg commented on #985
You mean this branch :) Issue_985_ShareButton

[2015-10-22 21:56] romichg commented on #985
Ok looks and works good. One major point:
- [ ] It needs to work in the guides as well :)

And couple of smaller points. If they are easy lets fix them if not lets leave them for later:
- [ ] Can we make the gray box a big thinner. It feels like it occupies too much space.
- [ ] Can we get rid of the little share icon to the right of "SHARE THIS ARTICLE" it just seems redundant
  ![selection_001](

[2015-10-22 22:45] romichg commented on #985
There is also an interesting issue in IE:
- [ ] -

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10680369/10800748-78ed-11e5-9ae0-2f71205236c7.png)
I wonder if there are special perms we need to pass. Like we only want to write to the clipboard and not read. Anyways. this can also be fixed later.

[2015-10-23 02:24] DinisCruz commented on #1053
this is now fixed

![image](https://cloud.githubusercontent.com/assets/656739/10683073/84cf61d2-7935-11e5-853b-43ca5916647e.png)

[2015-10-23 02:28] DinisCruz commented on #1052
searching for 'cwe 22'

![image](https://cloud.githubusercontent.com/assets/656739/10683087/ae42b744-7935-11e5-9ed3-3bc267556171.png)

now returns

![image](https://cloud.githubusercontent.com/assets/656739/10683092/bac659c6-7935-11e5-9898-1a337ca0b851.png)

searching for 'cwe-22' (with a dash) will also give the same result.

for example 'cwe-131'

![image](https://cloud.githubusercontent.com/ass

[2015-10-23 02:34] DinisCruz commented on #978
this is what you get now with the 'cross-site' search

![image](https://cloud.githubusercontent.com/assets/656739/10683170/e892b984-7936-11e5-9ef1-440088591a03.png)

[2015-10-23 02:37] DinisCruz commented on #1052
the '22 CWE' is actually harder because the 'CWE' keyword was not parsed individually , so for that case let's open a separate issue

I think that the scenario that is working now (i.e. searching for 'cwe 22') is the one most users will hit

[2015-10-23 02:43] DinisCruz commented on #1064
the reason why searching for xss returns more matches is because there is query (i.e. view) with that name

![image](https://cloud.githubusercontent.com/assets/656739/10683289/43d1bb64-7938-11e5-9b87-dc28805e0018.png)

[2015-10-23 04:11] romichg commented on #1053
This just does not work. I did nuke code/TM_GraphDB/.tmCache

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10684395/9938027a-791a-11e5-938d-b461587348c9.png)

[code]

[2015-10-23 04:17] romichg commented on #1053
Nether does searching for PCI 10: Network Monitoring
(this is FF)
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10684460/7ed6c4ec-791b-11e5-8ee5-f9191c24c39c.png)

[2015-10-23 04:29] romichg opened #1079 "Searching for 22 CWE should produce the same result as CWE 22"

[2015-10-23 04:48] romichg opened #1080 "Predictive Search issues"
- [ ] "cwe 22" should bring up predictive search for CWE-22.
- [ ] pci 10 should bring up both "PCI 10:" Network Monitoring and "PCI DSS Requirement 10.07"

[2015-10-23 04:49] romichg commented on #1052
This is working. The follow up issues are covered in #1079 and #1080.

I am keeping this issue open since issue addressed in the same PR as this one is not resolved. Since they are related, I will close them together when both are fixed.

[2015-10-23 04:52] romichg commented on #1064
This is not what the issue is about. Regarding the second bullet point above, let me rephrase.
When doing a search for "xss"  a number of articles which contain "cross site scripting" show up. As you can see in the example above, there is an article "how to test for cross site scripting vulnerabilities"  However, when searching for the string "cross site scripting" the same article does NOT come u

[2015-10-23 04:59] romichg commented on #978
Still missing the "Cross-Site Scripting" article
![selection_005](https://cloud.githubusercontent.com/assets/1326120/10684945/3ffe2c28-7921-11e5-8286-641b5bf97262.png)

This article is feeling left out of the whole "cross-site" thing.

![selection_006](https://cloud.githubusercontent.com/assets/1326120/10684951/558d3f20-7921-11e5-9f4f-d0cf45cc72ea.png)

[2015-10-23 22:59] romichg commented on #969
Hey @michaelhidalgo  can you take a look a this. I think the issue for (1) above the issue is here:
https://github.com/TeamMentor/TM_Angular/blob/2eb361c98c911046535bdd27f930eaa9d074d7cc/src/controllers/user/Search-Bar-Controller.coffee#L81
I am not sure why we are using a fixed pixel size and not using the size of the string plus multiplier. Also maybe we need a better formula then just size of t

[2015-10-23 23:17] michaelhidalgo commented on #985
Pull Request https://github.com/TeamMentor/TM_Static/pull/95

[2015-10-23 23:18] romichg opened #1081 "On FF and IE The predictive search dropdown has a horizontal scroll bar which is not used"
![selection_007](https://cloud.githubusercontent.com/assets/1326120/10707018/f561943a-79ba-11e5-80b3-00c18e32431f.png)

This doesn't happen in Chrome, and happens in both in windows and linux on FF.

[2015-10-23 23:46] romichg commented on #985
![selection_002](https://cloud.githubusercontent.com/assets/1326120/10707321/c77be472-79be-11e5-93f9-9500cfac93b0.png)

[2015-10-23 23:53] romichg opened #1082 "Share modal in IE has an extra "X""
This is because we are using an input box. I think the extra "X" is confusing. We should fix it

![selection_002](https://cloud.githubusercontent.com/assets/1326120/10707321/c77be472-79be-11e5-93f9-9500cfac93b0.png)

[2015-10-24 03:05] romichg opened #1083 "The share modal status text does not break nicely on a smaller browser size and on mobile when the copy button is pressed"
Here the "SHARE THIS ARTICLE" text is no longer justified. And the word "clipboard" falls outside the green box.

![selection_009](https://cloud.githubusercontent.com/assets/1326120/10708535/58ebbb06-79da-11e5-856e-874c2b26bba0.png)

![selection_010](https://cloud.githubusercontent.com/assets/1326120/10708541/7b235fc6-79da-11e5-9f89-2e6c940ed206.png)

[2015-10-24 03:07] romichg commented on #985
This is done. There is a small follow up UI issue which is tracked here #1083

[2015-10-24 03:07] #985 closed, assigned to michaelhidalgo

[2015-10-26 17:02] romichg commented on #1063
This is done.

[2015-10-26 17:02] #1063 closed, assigned to romichg

[2015-10-27 12:53] michaelhidalgo opened #1084 "Create a link to the Signup page from the login."
It would be nice to have a link to the signup page from the login, it might say : Don't have an account?, Create it here.

![screen shot 2015-10-27 at 06 50 43](https://cloud.githubusercontent.com/assets/1732035/10758489/43ca1390-7c77-11e5-93ea-6e646f3c57b9.png)

[2015-10-27 13:26] michaelhidalgo commented on #1077
With Pull Request (branch Issue_1077_VirtualArticles)

[2015-10-27 16:42] romichg opened #1085 "Display a message that guides are not available for the OWASP site"
When the library does not have guides and the user clicks on guide icon we should display
" Guides are not available in this limited edition of TEAM Mentor. Please go to www.teammentor.net for the full version"

[2015-10-27 17:32] romichg opened #1086 "The redirecting to full version of TM message should not have the righ-hand side metadata, share etc."
The page should more be like the error page, with nothing on it except the message.

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10766718/28455dea-7caf-11e5-918f-7601d18ed763.png)

[2015-10-27 17:39] romichg opened #1087 "Maintain the article referer through signup"
If the user access TM through a direct article link as is redirected to the signup page. If the user signs up, he should be redirected to the original article link he hit TM with.

Related to #1084

[2015-10-27 17:41] romichg commented on #1085
Also as part of this lets fix the error messages we get

[code]

[2015-10-27 19:26] romichg opened #1088 "Make minor changes in keyword names"
we should rename the folder to CWE Top 25 from just CWE
and PCI 2.0 to PCI DSS 2.0
PCI 3.1 to PCI DSS 3.1
Remove the numbering from the CWE Top 25 list

[2015-10-28 22:50] luchia commented on #1066
As per your original dimensions, this is what it looks like in Sauce Labs -

![screen shot 2015-10-29 at 9 45 14 am](https://cloud.githubusercontent.com/assets/4547737/10805511/5880f2a2-7e22-11e5-8472-3a055d8d3141.png)
![screen shot 2015-10-29 at 9 45 30 am](https://cloud.githubusercontent.com/assets/4547737/10805510/5880ab26-7e22-11e5-886e-b3ab4ff83c3d.png)
![screen shot 2015-10-29 at 9 46 54 am]

[2015-10-28 22:58] luchia commented on #1044
I think this has something to do with the JS not applying the styles quickly? Because if you sit and wait, it fixes itself eventually. I don't know how to fix this one.

[2015-10-28 23:02] luchia commented on #1040
On my version this works as it should, see my Slack comments.

[2015-10-28 23:12] luchia commented on #1068
Have asked a question on SO to try and find out.

[2015-10-28 23:13] luchia commented on #1081
This has been fixed in my PR today -

![screen shot 2015-10-29 at 8 45 23 am](https://cloud.githubusercontent.com/assets/4547737/10804046/70a2ccec-7e19-11e5-9f70-05453d1e9319.png)

[2015-10-28 23:13] luchia commented on #1067
This has been fixed in my PR today -

![screen shot 2015-10-29 at 9 36 48 am](https://cloud.githubusercontent.com/assets/4547737/10805288/afb86dea-7e20-11e5-8bca-47e61e75f906.png)

But, this creates a minor issue in Chrome that I can't get rid of -

![screen shot 2015-10-29 at 9 36 45 am](https://cloud.githubusercontent.com/assets/4547737/10805289/afb89496-7e20-11e5-989c-07ab5e5dd056.png)

[2015-10-29 04:14] romichg opened #1089 ""Open an issue" box shows up on the bottom of the left hand side menu when filters are collapsed"
I think this leads to double scroll bar as well. Credit to @luchia for noticing.

![selection_001](https://cloud.githubusercontent.com/assets/1326120/10809918/df36e2e4-7dd1-11e5-9c98-30a35bbb1c11.png)

![selection_002](https://cloud.githubusercontent.com/assets/1326120/10809924/e62eb194-7dd1-11e5-9861-a3c9ec179a90.png)